Package: xwiki-pgsql-common
Version: [[version]]
Section: java
Priority: optional
Architecture: all
Depends: xwiki-common (= [[version]]), postgresql, libpg-java, dbconfig-common
Provides: xwiki-database
Replaces: xwiki-database, xwiki-enterprise-database
Conflicts: xwiki-database, xwiki-enterprise-database
Suggests: xwiki-tomcat7-pgsql | xwiki-tomcat8-pgsql
Maintainer: [[debian.maintainer]]
License: [[debian.license]]
Description: [[debian.description]]
Bugs: [[debian.bugs]]
Homepage: [[debian.homepage]]
