#template('colorThemeInit.vm')

/* Overriding skins */

div.legend {
	margin-bottom:10px;
	font-size:1.33em;
	border-bottom:1px dotted #D6E1E7;
	color:#005A83;
	display:block;
	font-weight:400;
	line-height:1.2em;
	margin:20px 0;
	overflow:hidden;
}

.clearfloats {
  font-size: 0; /* toucan IE6 */
  margin: -1px 50px 0;
}

ul {
  list-style-position: outside !important;
}

ul.xlist li.xunderline {
  border: 0 !important;
}

#attachform .buttonwrapper {
  margin: 0;
}

div.loading {
  min-height:200px;
}

/* Package List  styles */
#packagelist {
  float: left;
  width: 51%;
}

#packagelist  fieldset {
  background-color: $theme.backgroundSecondaryColor;
  padding: 5px;
}

.package-upload {
  background: transparent url($xwiki.getSkinFile('icons/silk/package_add.png')) no-repeat scroll 0 5px;
  padding-left: 20px;
}

#packagelist ul.xlist {
  margin: 0 !important;
}

#packagelist .xitemcontainer {
  background: transparent url($xwiki.getSkinFile('icons/silk/package.png')) no-repeat scroll 5px 0.5em;
  font-size: .85em;
  margin-bottom: .2em;
  padding: .3em 0 .3em 1em;
}

#packagelist .active {
  border: 1px dotted $theme.borderColor;
  background-color: #FCFCFC;
}

#packagelistcontainer .name a {
  font-size: 1.4em;
}

#packagelistcontainer .size {
  color: $theme.textSecondaryColor;
}

#packagelistcontainer .xwikibuttonlinks{
  float: right;
  padding-right: .2em;
  *margin-top: -2em; /* IE7 */
}

#packagelistcontainer .deletelink {
  background: url($xwiki.getSkinFile('icons/silk/cross.png')) no-repeat left 0.2em;
  display: block;
  height: 1.4em;
  width: 16px;
}

/* Package Content styles */
#packagecontainer {
  float: left;
  margin-left: 2%;
  width: 46%;
}

#packageDescription {
  background-color: #FCFCFC;
  border: 1px dotted $theme.borderColor;        
  overflow: hidden;
  padding: 10px;
  margin-bottom: 1px;
  width: 95%;
}

#packagecontainer .packageinfos {
  font-size: .9em;
  margin-bottom: .5em;
}

.packageinfos div {
  display: table-row;
}

#packagecontainer .packageinfos .filename { 
  font-weight: 700;
}

#packagecontainer .packageinfos span{
  color: $theme.textSecondaryColor;
  margin: 0 5px 0;
}

#packagecontainer .packageinfos span.label {
  color: $theme.textColor;
  font-size: .85em;
  font-weight: 700;
  text-transform: uppercase;
}

.selectLinks {
  font-size: .8em;
  margin-right: .5em;
  text-align: right;
}

.selectLinks span {
  color: $theme.linkColor;
  cursor: pointer;
  margin-left: .2em;
}

div#package div.importOption {
  margin-bottom:5px;
}

div#package ul.package {
  background-color: $theme.pageContentBackgroundColor;
  border: 1px dotted $theme.borderColor;
  margin: 0 0 1em 0 !important;
  padding: 3px !important;
  width: 98%;
}

ul.package li.xitem div.xitemcontainer span.checkbox,
ul.package li.xitem div.xitemcontainer input.space {
  float: right;
}

ul.package li.xitem div.xitemcontainer div.spacename,
ul.package li.xitem div.xitemcontainer img {
  float: left;	
}

ul.package li.xitem div.xitemcontainer div.spacename {
  background: transparent url($xwiki.getSkinFile('icons/silk/folder.png')) no-repeat scroll 0 .1em ;
  cursor: pointer;
  font-weight: bold;
}

ul.package li.xitem div.xitemcontainer div.selection {
  color: $theme.textSecondaryColor;
  float: right;
  font-size: .8em;
  line-height: 1.7em;
  margin-right: .2em;
}

ul.pages {
  margin: 0 !important;
}

ul.pages li.xitem {
  width: 100%;
}

.documentName{
  background: transparent url($xwiki.getSkinFile('icons/silk/page_white_text.png')) no-repeat scroll 0 0;
  padding-left: 20px;
}

ul.package ul.pages li.xitem div.xpagecontainer input {
  *margin-right: 20px;
}

.historyStrategyOption {
  font-size: .9em;
  line-height: 1.2em;
  margin-bottom: 0;
}

#packagecontainer .buttonwrapper {
  display: block;
  margin-top: .5em;
}
