#template('notification/macros.vm')
#set ($app  = "$!event.events.get(0).application")
#if ($app == 'xwiki')
    #set ($app = $services.localization.render('core.events.appName'))
#end
#set ($document = $xwiki.getDocument($event.document))
$app:
[$event.type] [$document.getRenderedTitle('plain/1.0')] $services.localization.render('notifications.events.by', ["#displayNotificationEventUsers($event.users, false)"])