#template('colorThemeInit.vm')

/**
 * Extension History Sources
 */

.extension-history-sources-header {
  cursor: pointer;
  margin: .5em 0;
}

.extension-history-sources-header .icon-opened {
  display: none;
}
.extension-history-sources-selector.opened .extension-history-sources-header .icon-opened {
  display: inline-block;
}
.extension-history-sources-header .icon-closed {
  display: inline-block;
}
.extension-history-sources-selector.opened .extension-history-sources-header .icon-closed {
  display: none;
}

.extension-history-sources-header .icon-opened,
.extension-history-sources-header .icon-closed {
  width: 10px;
}

.extension-history-sources-body {
  background-clip: padding-box;
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 7px;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.176);
  display: none;
  font-size: 95%;
  margin: 2px 0 1.5em;
  padding: .5em 0;
}
.extension-history-sources-selector.opened .extension-history-sources-body {
  display: block;
}

ul.extension-history-sources {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.extension-history-source {
  padding: .5em 1.3em;
  position: relative;
}

.extension-history-source.selected {
  background-color: $theme.backgroundSecondaryColor;
}
.extension-history-source.selected .extension-history-source-name {
  color: $theme.textColor;
  cursor: text;
  outline: 0;
  text-decoration: none;
}

.extension-history-source .deleteLink {
  color: $theme.textSecondaryColor;
  min-height: 16px;
  min-width: 16px;
  outline: 0;
  position: absolute;
  right: 1em;
  text-align: center;
}
.extension-history-source .deleteLink:hover,
.extension-history-source .deleteLink:active,
.extension-history-source .deleteLink:focus {
  color: $theme.notificationErrorColor;
}

/**
 * Extension History Records
 */

ul.extension-history-records {
  border-bottom: 1px dotted $theme.borderColor;
  border-top: 1px dotted $theme.borderColor;
  list-style-type: none;
  padding: 0;
}

li.extension-history-record {
  padding: .5em 0 .5em 20px;
}

li.extension-history-record.loading {
  background-position: left .7em;
}

.extension-history-source:hover,
li.extension-history-record:hover {
  background-color: $theme.highlightColor;
}

li.extension-history-record input[type="checkbox"] {
  margin: 0;
  margin-left: -20px;
  vertical-align: middle;
}

.extension-history-source-version,
.extension-history-source-author,
.extension-history-source-upload,
.extension-history-record-version,
.extension-history-record-namespaces,
.extension-history-record-user {
  color: $theme.textSecondaryColor;
  font-size: 80%;
}

.extension-history-actions {
  margin: 10px 0;
}

/**
 * Extension History Replay
 */

.extension-history-replay-plan li.extension-history-record {
  padding-left: 0;
}

.extension-history-record-status {
  margin-left: -20px;
}

/**
 * Misc
 */

.extension-history .box.infomessage {
  margin: .5em 0;
}
