#template('colorThemeInit.vm')
/*
 * Search results list
 */
#searchResults {
  margin: 1em 0;
}
.resultItem {
  margin-top: 1em;
  padding: .2em 0;
}
.resultItem:after {
  clear: both;
  content: ".";
  display: block;
  height: 0;
  visibility: hidden;
}

.itemTitle {
  border: 0;
  font-weight: bold;
  font-size: 1em;
  margin: 0;
}
.itemTitle span {
  border: none;
  margin: 0;
}
.itemTitle a {
  font-size: 130%;
  font-weight: bold;
}

.itemLocation, .itemModified {
  color: $theme.textSecondaryColor;
  font-size: 90%;
}
.itemLocation .breadcrumb {
  background-color: transparent;
  display: inline;
  margin: 0;
  padding: 0;
}
/* Fix the breadcrumb in Colibri skin. */
.skin-colibri .itemLocation .breadcrumb > li {
  display: inline;
}
.skin-colibri .itemLocation .breadcrumb > li + li:before {
  color: $theme.textSecondaryColor;
  content: ' \00BB  ';
}

.itemOthers {
  font-size: 80%;
}
.itemOthers .itemRating {
  clear: none;
  display: inline;
  float: left;
  font-size: 80%;
  padding-right: 5px;
}
.itemRating {
  background-image: url("$xwiki.getSkinFile('icons/xwiki/rating.png')");
  background-position: left top;
  height: 11px;
  margin: 1px 0 0 0 !important;
  overflow: hidden;
  padding: 0 !important;
  position: relative;
  width: 55px;
}
.itemRating .currentRating {
  background-image: url("$xwiki.getSkinFile('icons/xwiki/rating.png')");
  background-position: left center;
  border: none;
  height: 11px;
  left: 0;
  line-height: 11px;
  outline: none;
  overflow: hidden;
  position: absolute;
  text-indent: -1000em;
  top: 0;
  z-index: 1;
}

.iconRSS {
  background: url("$xwiki.getSkinFile('icons/silk/feed.png')") no-repeat scroll 0 0 transparent;
  padding-left: 20px;
}

/*
 * Search box
 */
#searchBar {
  margin-bottom: 1em;
}
#searchBar .searchQuery {
  background: transparent url("$xwiki.getSkinFile('icons/xwiki/search.png')") left center no-repeat;
  border: 2px solid $theme.borderColor;
  color: $theme.textColor;
  display: inline-block;
  font-size: 1.1em;
  padding-left: 18px;
  width: 400px;
}
#searchBar .searchButton {
  height: 2.4em;
  position: relative;
  top: -2px;
}