## ---------------------------------------------------------------------------
## See the NOTICE file distributed with this work for additional
## information regarding copyright ownership.
##
## This is free software; you can redistribute it and/or modify it
## under the terms of the GNU Lesser General Public License as
## published by the Free Software Foundation; either version 2.1 of
## the License, or (at your option) any later version.
##
## This software is distributed in the hope that it will be useful,
## but WITHOUT ANY WARRANTY; without even the implied warranty of
## MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the GNU
## Lesser General Public License for more details.
##
## You should have received a copy of the GNU Lesser General Public
## License along with this software; if not, write to the Free
## Software Foundation, Inc., 51 Franklin St, Fifth Floor, Boston, MA
## 02110-1301 USA, or see the FSF site: http://www.fsf.org.
## ---------------------------------------------------------------------------
### Default plain text template for emails
### Indention is missing because we don't want it to be displayed in the email)
#template('notification/macros.vm')
###
### Get the app
###
#set ($app  = "$!event.events.get(0).application")
#if ($app == 'xwiki')
  #set ($app = $services.localization.render('core.events.appName'))
#end
###
### Get the doc
###
#set ($document = $xwiki.getDocument($event.document))
###
### Display
###
$app:
  [$event.type]#if ($document) [$document.getRenderedTitle('plain/1.0')]($document.getURL())#end.
  $services.localization.render('notifications.events.by', ["#displayNotificationEventUsers($event.users, false)"])
###
### Display dates
###
#set ($dates = $event.dates)
#if ($dates.size() > 1)
  $services.localization.render('notifications.events.lastChange', [$xwiki.formatDate($event.dates.get(0))])
#else
  $xwiki.formatDate($event.dates.get(0))
#end
###
### Display a link to the diff
### We need to keep this code not indented since it's a plain.vm: each indent would generate a space in the mail.
#if ($document)
#set ($newdoc = $xwiki.getDocument($event.document, $event.events[0].documentVersion))
#if ($event.events.size() == 1)
#set ($origdoc = $newdoc.previousDocument)
#else
#set ($lastIndex = $event.events.size() - 1)
#set ($origdoc = $xwiki.getDocument($event.document, $event.events[$lastIndex].documentVersion).previousDocument)
#end
#set ($queryString = '')
#if ($event.type != 'delete')
#set ($queryString = "viewer=changes&rev1=${origdoc.version}&rev2=${newdoc.version}")
#end
  $services.localization.render('notifications.email.seeChanges', [$document.getURL('view', $!queryString)])
#end
