# ---------------------------------------------------------------------------
# See the NOTICE file distributed with this work for additional
# information regarding copyright ownership.
#
# This is free software; you can redistribute it and/or modify it
# under the terms of the GNU Lesser General Public License as
# published by the Free Software Foundation; either version 2.1 of
# the License, or (at your option) any later version.
#
# This software is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the GNU
# Lesser General Public License for more details.
#
# You should have received a copy of the GNU Lesser General Public
# License along with this software; if not, write to the Free
# Software Foundation, Inc., 51 Franklin St, Fifth Floor, Boston, MA
# 02110-1301 USA, or see the FSF site: http://www.fsf.org.
# ---------------------------------------------------------------------------

#---------------------------------------
# Preamble
#
# This is the main old XWiki configuration file. Commented parameters show the default value, although some features
# might be disabled. To customize, uncomment and put your own value instead.


#---------------------------------------
# General wiki settings
#

#-# When the wiki is readonly, any updates are forbidden. To mark readonly, use one of: yes, 1, true
# xwiki.readonly=no

#-# [Since 1.6RC1] Defines the list of supported syntaxes
#-# Available syntaxes are: 
#-#    xwiki/2.0, xwiki/2.1, confluence/1.0, jspwiki/1.0, creole/1.0,  mediawiki/1.0, twiki/1.0, xhtml/1.0,
#-#    html/4.01, plain/1.0, docbook/4.4, markdown/1.0, markdown/1.1, apt/1.0
#-#
#-# Note that starting with XWiki 5.0 the xwiki/1.0 syntax is not shown in anymore in the Edit Panel since we want to
#-# prevent users from creating content in that deprecated syntax. Existing documents in that Syntax will be still be
#-# rendered properly though.
xwiki.rendering.syntaxes = xwiki/2.0, xwiki/2.1

#-# List of groups that a new user should be added to by default after registering. Comma-separated list of group
#-# document names.
# xwiki.users.initialGroups=XWiki.XWikiAllGroup

#-# Should all users be considered members of XWiki.XWikiAllGroup, even if they don't have an associated object in the
#-# group's document?
# xwiki.authentication.group.allgroupimplicit=0

#-# Uncomment if you want to ignore requests for unmapped actions, and simply display the document
# xwiki.unknownActionResponse=view

#-# The encoding to use when transformin strings to and from byte arrays. This causes the jvm encoding to be ignored,
#-# since we want to be independend of the underlying system.
xwiki.encoding=$xwikiCfgEncoding

#-# This parameter will activate the sectional editing.
xwiki.section.edit=1

#-# This parameter controls the depth of sections that have section editing.
#-# By default level 1 and level 2 sections have section editing.
xwiki.section.depth=2

#-# Enable backlinks storage, which increases the update time, but allows to keep track of inter document links.
xwiki.backlinks=1

#-# Enable document tags.
xwiki.tags=1

#-# [Since 6.1M1] HTTP cache settings: by default, HTTP responses generated by XWiki actions are not supposed to be cached,
#-# since they often contain dynamic content. This can be controlled globally using the following setting, with accepted values:
#-# - 0: no Cache-Control header sent, use the browser's defaults. RFC 2616 only specifies optional behavior in this case
#-# - 1: no-cache; caches must not serve this response in a subsequent response, but the page is stored for the bf-cache
#-# - 2: no-store, no-cache and max-age=0; the response will never be reused, not even for bf-cache; note that unsaved changes may be lost
#-# - 3: private; the response will be cached by personal caches, such as a browser cache
#-# - 4: public; the response may be cached by both personal and shared caches
#-# This can be overridden in each wiki using a headers_nocache XWikiPreferences property of type Long.
# xwiki.httpheaders.cache=1

#---------------------------------------
# Storage
#

#-# Role hints that differentiate implementations of the various storage components. To add a new implementation for
#-# one of the storages, implement the appropriate interface and declare it in a components.xml file (using a role-hint
#-# other than 'default') and put its hint here.
#
#-# The main (documents) storage. [Since 3.4M1] default is hibernate.
# xwiki.store.main.hint=hibernate
#-# The attachment storage. [Since 3.4M1] default is hibernate.
# xwiki.store.attachment.hint=hibernate
#-# The document versioning storage. [Since 3.4M1] default is hibernate.
# xwiki.store.versioning.hint=hibernate
#-# The attachment versioning storage. Use 'void' to disable attachment versioning. [Since 3.4M1] default is hibernate.
# xwiki.store.attachment.versioning.hint=hibernate
#-# The document recycle bin storage. [Since 3.4M1] default is hibernate.
# xwiki.store.recyclebin.hint=hibernate
#-# The attachment recycle bin storage. [Since 3.4M1] default is hibernate.
# xwiki.store.attachment.recyclebin.hint=hibernate
#-# [Since 3.4M1] The Migration manager.
# xwiki.store.migration.manager.hint=hibernate

#-# Whether the document recycle bin feature is activated or not
# xwiki.recyclebin=1
#-# Whether the attachment recycle bin feature is activated or not
# storage.attachment.recyclebin=1
#-# Whether the document versioning feature is activated or not
# xwiki.store.versioning=1
#-# Whether the attachment versioning feature is activated or not
# xwiki.store.attachment.versioning=1
#-# Whether the attachments should also be rolled back when a document is reverted.
# xwiki.store.rollbackattachmentwithdocuments=1

#-# The path to the hibernate configuration file.
# xwiki.store.hibernate.path=/WEB-INF/hibernate.cfg.xml

#-# [Since 3.3M1] Deprecated, use xwiki.store.migration
# xwiki.store.hibernate.updateschema=1

#-# Allow or disable custom mapping for particular XClasses. Custom mapping may increase the performance of certain
#-# queries when large number of objects from particular classes are used in the wiki.
# xwiki.store.hibernate.custommapping=1
#-# Dynamic custom mapping.
# xwiki.store.hibernate.custommapping.dynamic=0

#-# Put a cache in front of the document store. This greatly improves performance at the cost of memory consumption.
#-# Disable only when memory is critical.
# xwiki.store.cache=1

#-# Maximum number of documents to keep in the cache.
# xwiki.store.cache.capacity=100

#-# [Since 1.6M1]
#-# Force the database name for the main wiki.
# xwiki.db=xwiki

#-# [Since 1.6M1]
#-# Add a prefix to all databases names of each wiki.
# xwiki.db.prefix=


#---------------------------------------
# Data migrations and schema updates
#
# [Since 3.3M1] Migration and schema updates are now done together. Data migration manipulates the actual data,
# and schema updates change the layout of the database. Schema updates are require for proper database access
# and migration are useful for migrating data to new formats, correct errors introduced in older versions, or
# even for schema updates which are not backward compatible.

#-# Whether schema updates and migrations are enabled or not. Should be enabled when upgrading, but for a better
#-# startup time it is better to disable them in production.
xwiki.store.migration=1

#-# Whether to exit after migration. Useful when a server should handle migrations for a large database, without going
#-# live afterwards.
# xwiki.store.migration.exitAfterEnd=0

#-# Indicate the list of databases to migrate.
#-# to upgrade all wikis database set xwiki.store.migration.databases=all
#-# to upgrade just some wikis databases set xwiki.store.migration.databases=xwiki,wiki1,wiki2
#-# Note: the main wiki is always migrated whatever the configuration.
#-# [Since 3.3M1] default to migrate all databases
# xwiki.store.migration.databases=all

#---------------------------------------
# Internationalization
#

#-# By default, XWiki chooses the language specified by the client (browser) in the Accept-Language HTTP header. This
#-# allows to use the default language of the wiki when the user didn't manually choose a language.
# xwiki.language.preferDefault=0

#-# Force only one of the supported languages to be accepted.
# xwiki.language.forceSupported=0


#---------------------------------------
# Virtual wikis (farm)
#

#-# Starting with XWiki 5.0M2, virtual mode is enabled by default.

#-# [Since 5.0M2]
#-# What to do when the requested wiki does not exist:
#-# - 0: (default) serve the main wiki
#-# - 1: display an error (customizable through wikidoesnotexist.vm or xwiki:XWiki.WikiDoesNotExist)
# xwiki.virtual.failOnWikiDoesNotExist=0

#-# Forbidden names that should not be allowed when creating a new wiki.
# xwiki.virtual.reserved_wikis=

#-# How virtual wikis are mapped to different URLs.
#-# If set to 0, then virtual wikis have different domain names, in the format http://wikiname.myfarm.net/.
#-# If set to 1 (the default), then the domain is common for the entire farm, but the path contains the wiki name,
#-# in the format http://myfarm.net/xwiki/wiki/wikiname/.
#-# Note that you can configure the "/wiki/" part with xwiki.virtual.usepath.servletpath property.
#if ($xwikiCfgVirtualUsepath)
xwiki.virtual.usepath=$xwikiCfgVirtualUsepath
#else
# xwiki.virtual.usepath=1
#end

#-# Configure the servlet action identifier for url path based multiwiki. It has also to be modified in web.xml.
# xwiki.virtual.usepath.servletpath=wiki

#---------------------------------------
# URLs
#

#-# The domain name to use when creating URLs to the default wiki. If set, the generated URLs will point to this server
#-# instead of the requested one. It should contain schema, domain and (optional) port, and the trailing /. For example:
#-# xwiki.home=http://www.xwiki.org/
#-# xwiki.home=http://wiki.mycompany.net:8080/
# xwiki.home=

#-# The name of the default URL factory that should be used.
# xwiki.urlfactory.serviceclass=com.xpn.xwiki.web.XWikiURLFactoryServiceImpl

#-# Force the protocol to use in the generated URLs. The right value is taken from the request URL, so setting this
#-# is not recommended in most cases.
#-# For example:
#-# xwiki.url.protocol=https
# xwiki.url.protocol=
#-# The name of the webapp to use in the generated URLs. The right value is taken from the request URL, so setting this
#-# is not recommended in most cases. If set, the value should contain a trailing /, but not a leading one. For example:
#-# xwiki.webapppath=xwiki/
# xwiki.webapppath=
#-# The default servlet mapping name to use in the generated URLs. The right value is taken from the request URL,
#-# preserving the requested servlet mapping, so setting this is not recommended in most cases. If set, the value should
#-# contain a trailing /, but not a leading one. For example:
#-# xwiki.servletpath=bin/
# xwiki.servletpath=
#-# The fallback servlet mapping name to use in the generated URLs. Unlike xwiki.servletpath, this is the value used
#-# when the correct setting could not be determined from the request URL. A good way to use this setting is to achieve
#-# short URLs, see http://platform.xwiki.org/xwiki/bin/Main/ShortURLs
# xwiki.defaultservletpath=bin/

#-# Whether the /view/ part of the URL should be included if the target action is 'view'.
# xwiki.showviewaction=1
#-# The name of the default space. This is displayed when the URL specifies a document, but not a space, or neither.
# xwiki.defaultweb=Main
#-# Hide the /Space/ part of the URL when the space is the default one. Warning: use 1 to hide, 0 to show.
# xwiki.usedefaultweb=0
#-# The name of the default page of a space. This is displayed when the URL specifies a space, but not a document, or
#-# neither.
# xwiki.defaultpage=WebHome
#-# Hide the /WebHome part of the URL when the document is the default one. Use 0 to hide, 1 to show.
# xwiki.usedefaultaction=0

#-# [Since 4.0RC1]
#-# Indicate if the URL used in HTTPSevlet#sendRedirect should be made absolute by XWiki or left to application server.
#-# Sending absolute URLs is a bad practice and generally not needed. This option is mostly here as retro-compatibility
#-# switch and you should always make sure to properly configure your application server or any proxy behind it before
#-# using this.
#-# 0: send relative URLs (the default)
#-# 1: send absolute URLs
# xwiki.redirect.absoluteurl=0

#---------------------------------------
# Users
#

xwiki.inactiveuser.allowedpages=


#---------------------------------------
# Authentication and authorization
#

#-# Enable to allow superadmin. It is disabled by default as this could be a
#-# security breach if it were set and you forgot about it. Should only be enabled
#-# for recovering the Wiki when the rights are completely messed.
#if ($xwikiCfgSuperadminPassword)
xwiki.superadminpassword=$xwikiCfgSuperadminPassword
#else
# xwiki.superadminpassword=system
#end

#-# Authentication type. You can use 'basic' to always use basic authentication.
# xwiki.authentication=form

#-# Indicate if the authentication has do be done for each request
#-# 0: the default value, authentication is done only once by session.
#-# 1: the authentication is done for each request. 
# xwiki.authentication.always=0

#-# Cookie encryption keys. You SHOULD replace these values with any random string,
#-# as long as the length is the same.
xwiki.authentication.validationKey=totototototototototototototototo
xwiki.authentication.encryptionKey=titititititititititititititititi

#-# Comma separated list of domains for which authentication cookies are set. This
#-# concerns mostly wiki farms. The exact meaning is that when a user logs in, if
#-# the current domain name corresponding to the wiki ends with one of the entries
#-# in this parameter, then the cookie is set for the larger domain. Otherwise, it
#-# is set for the exact domain name of the wiki.
#-#
#-# For example, suppose the cookiedomains is set to "mydomain.net". If I log in
#-# on wiki1.xwiki.com, then the cookie will be set for the entire mydomain.net
#-# domain, and if I visit wiki2.xwiki.com I will still be authenticated. If I log
#-# in on wiki1.otherdomain.net, then I will only be authenticated on
#-# wiki1.otherdomain.net, and not on wiki2.otherdomain.net.
#-#
#-# So you need this parameter set only for global authentication in a
#-# farm, there's no need to specify your domain name otherwise.
#-#
#-# Example: xwiki.authentication.cookiedomains=xwiki.org,myxwiki.org
xwiki.authentication.cookiedomains=

#-# This allows logout to happen for any page going through the /logout/ action, regardless of the document or the
#-# servlet.
#-# Comment-out if you want to enable logout only for /bin/logout/XWiki/XWikiLogout
#-# Currently accepted patterns:
#-# - /StrutsServletName/logout/ (this is usually /bin/logout/ and is the default setup)
#-# - /logout/ (this works with the short URLs configuration)
#-# - /wiki/SomeWikiName/logout/ (this works with path-based virtual wikis)
xwiki.authentication.logoutpage=(/|/[^/]+/|/wiki/[^/]+/)logout/*

#-# The group management class.
# xwiki.authentication.groupclass=com.xpn.xwiki.user.impl.xwiki.XWikiGroupServiceImpl

#-# The authentication management class.
# xwiki.authentication.authclass=com.xpn.xwiki.user.impl.xwiki.XWikiAuthServiceImpl

#-# (Deprecated) The authorization management class.
#-# [Since 5.0M2] The default right service is now org.xwiki.security.authorization.internal.XWikiCachingRightService
#-# which is a bridge to the new security authorization component. It provides increased security and performance, but
#-# its right policies differ sightly from the old Right Service implementation. In rare situation, you may want to
#-# switch back to the old unmaintained implementation by uncommenting the following line. However, only old
#-# implementation, still using a bridged RightService will be impacted by this parameter. Customization of the new
#-# security authorization component should be done in the new xwiki.properties configuration (security.*).
# xwiki.authentication.rightsclass=com.xpn.xwiki.user.impl.xwiki.XWikiRightServiceImpl

#-# If an unauthenticated user (guest) tries to perform a restricted action, by default the wiki redirects to the login
#-# page. Enable this to simply display an "unauthorized" message instead, to hide the login form.
# xwiki.hidelogin=false

#-# HTTP status code to sent when the authentication failed.
xwiki.authentication.unauthorized_code=200


#---------------------------------------
# XWiki Syntax 1.0 Rendering Engine
#

#-# Disable particular renderers.
#-# Macro mapping
# xwiki.render.macromapping=1
#-# Velocity interpreter
# xwiki.render.velocity=1
#-# Groovy interpreter
# xwiki.render.groovy=1
#-# Plugin rendering
# xwiki.render.plugin=1
#-# Radeox wiki renderer
# xwiki.render.wiki=1
#-# Simple wiki syntax rendering 
# xwiki.render.wikiwiki=0

#-# [Since 2.4M1]
#-# Rendering order: content will be rendered by the first renderer on the list, output rendered by the second, etc.
#xwiki.render.renderingorder=macromapping, groovy, velocity, plugin, wiki, wikiwiki

#-# Maximum number of documents to keep in the rendered cache
# xwiki.render.cache.capacity=100

#-# Default target for external links. Use _blank to open external links in a new tab/window.
# xwiki.render.externallinks.defaulttarget=


#---------------------------------------
# Editing
#

#-# Minor edits don't participate in notifications.
# xwiki.minoredit=1

#-# Use edit comments
xwiki.editcomment=1

#-# Hide editcomment field and only use Javascript
# xwiki.editcomment.hidden=0

#-# Make edit comment mandatory
xwiki.editcomment.mandatory=$xwikiCfgEditCommentMandatory

#-# Make edit comment suggested (asks 1 time if the comment is empty.
#-# 1 shows one popup if comment is empty.
#-# 0 means there is no popup.
#-# This setting is ignored if mandatory is set
# xwiki.editcomment.suggested=0


#---------------------------------------
# LDAP
#

#-# LDAP authentication service
# xwiki.authentication.authclass=com.xpn.xwiki.user.impl.LDAP.XWikiLDAPAuthServiceImpl

#-# Turn LDAP authentication on - otherwise only XWiki authentication
#-# - 0: disable
#-# - 1: enable
#-# The default is 0
# xwiki.authentication.ldap=1

#-# LDAP Server (Active Directory, eDirectory, OpenLDAP, etc.)
xwiki.authentication.ldap.server=127.0.0.1
xwiki.authentication.ldap.port=389

#-# LDAP login, empty = anonymous access, otherwise specify full dn
#-# {0} is replaced with the user name, {1} with the password
xwiki.authentication.ldap.bind_DN=cn={0},department=USER,department=INFORMATIK,department=1230,o=MP
xwiki.authentication.ldap.bind_pass={1}

#-# The Base DN used in LDAP searches
xwiki.authentication.ldap.base_DN=

#-# LDAP query to search the user in the LDAP database (in case a static admin user is provided in
#-# xwiki.authentication.ldap.bind_DN)
#-# {0} is replaced with the user uid field name and {1} with the user name
#-# The default is ({0}={1})
# xwiki.authentication.ldap.user_search_fmt=({0}={1})

#-# Only members of the following group can authenticate.
#-# The following kind of groups are supported:
#-# * LDAP static groups (users/subgroups are listed statically in the group object)
#-# * [Since 3.3M1] LDAP organization units (users/subgroups are sub object of the provided organization unit)
#-# * [Since 3.3M1] LDAP filter (users/groups are object found in a search with the provided filter)
# xwiki.authentication.ldap.user_group=cn=developers,ou=groups,o=MegaNova,c=US

#-# [Since 1.5RC1, XWikiLDAPAuthServiceImpl]
#-# Only users not member of the following group can authenticate.
#-# The following kind of groups are supported:
#-# * LDAP static groups (users/subgroups are listed statically in the group object)
#-# * [Since 3.3M1] LDAP organization units (users/subgroups are sub object of the provided organization unit)
#-# * [Since 3.3M1] LDAP filter (users/groups are object found in a search with the provided filter)
# xwiki.authentication.ldap.exclude_group=cn=admin,ou=groups,o=MegaNova,c=US

#-# Specifies the LDAP attribute containing the identifier to be used as the XWiki name
#-# The default is cn
# xwiki.authentication.ldap.UID_attr=cn

#-# [Since 1.5M1, XWikiLDAPAuthServiceImpl]
#-# The potential LDAP groups classes. Separated by commas.
# xwiki.authentication.ldap.group_classes=group,groupOfNames,groupOfUniqueNames,dynamicGroup,dynamicGroupAux,groupWiseDistributionList,posixGroup,apple-group

#-# [Since 1.5M1, XWikiLDAPAuthServiceImpl]
#-# The potential names of the LDAP groups fields containings the members. Separated by commas. 
# xwiki.authentication.ldap.group_memberfields=member,uniqueMember,memberUid

#-# retrieve the following fields from LDAP and store them in the XWiki user object (xwiki-attribute=ldap-attribute)
xwiki.authentication.ldap.fields_mapping=last_name=sn,first_name=givenName,email=mail

#-# [Since 1.3M2, XWikiLDAPAuthServiceImpl]
#-# On every login update the mapped attributes from LDAP to XWiki otherwise this happens only once when the XWiki
#-# account is created.
#-# - 0: only when creating user
#-# - 1: at each authentication
#-# The default is 0
xwiki.authentication.ldap.update_user=1

#-# [Since 1.3M2, XWikiLDAPAuthServiceImpl]
#-# Maps XWiki groups to LDAP groups, separator is "|".
#-# The following kind of groups are supported:
#-# * LDAP static groups (users/subgroups are listed statically in the group object)
#-# * [Since 3.3M1] LDAP organization units (users/subgroups are sub object of the provided organization unit)
#-# * [Since 3.3M1] LDAP filter (users/groups are object found in a search with the provided filter),
#-#   | character in the filter need to be escaped with backslash (\).
#-#
#-# Here is an example:
# xwiki.authentication.ldap.group_mapping=XWiki.XWikiAdminGroup=cn=AdminRole,ou=groups,o=domain,c=com|\
#                                         XWiki.LDAPUsers=ou=groups,o=domain,c=com|\
#                                         XWiki.Organisation=(cn=testers)

#-# [Since 1.3M2, XWikiLDAPAuthServiceImpl]
#-# Time in s after which the list of members in a group is refreshed from LDAP
#-# The default is 21600 (6 hours)
# xwiki.authentication.ldap.groupcache_expiration=21600

#-# [Since 1.3M2, XWikiLDAPAuthServiceImpl]
#-# - create : synchronize group membership only when the user is first created
#-# - always: synchronize on every login
#-# The default is always
# xwiki.authentication.ldap.mode_group_sync=always

#-# [Since 1.3M2, XWikiLDAPAuthServiceImpl]
#-# If ldap authentication fails for any reason, try XWiki DB authentication with the same credentials
#-# - 0: disable
#-# - 1: enable
#-# The default is 0
xwiki.authentication.ldap.trylocal=1

#-# [Since 1.3M2, XWikiLDAPAuthServiceImpl]
#-# SSL connection to LDAP server
#-# - 0: normal
#-# - 1: SSL
#-# The default is 0
# xwiki.authentication.ldap.ssl=0

#-# [Since 1.3M2, XWikiLDAPAuthServiceImpl]
#-# The keystore file to use in SSL connection
# xwiki.authentication.ldap.ssl.keystore=

#-# [Since 1.5M1, XWikiLDAPAuthServiceImpl]
#-# The java secure provider used in SSL connection
#-# The default is com.sun.net.ssl.internal.ssl.Provider
# xwiki.authentication.ldap.ssl.secure_provider=com.sun.net.ssl.internal.ssl.Provider

#-# Bypass standard LDAP bind validation by doing a direct password comparison.
#-# If you don't know what you do, don't use that. It's covering very rare and bad use cases.
#-# - 0: disable
#-# - 1: enable
#-# The default is 0
# xwiki.authentication.ldap.validate_password=0

#-# [Since 1.5M1, XWikiLDAPAuthServiceImpl]
#-# Specifies the LDAP attribute containing the password to be used "when xwiki.authentication.ldap.validate_password"
#-# is set to 1
# xwiki.authentication.ldap.password_field=userPassword

#-# [Since 4.3M1, XWikiLDAPAuthServiceImpl]
#-# The maximum number of milliseconds the client waits for any operation under these constraints to complete.
#-# The default is 1000
# xwiki.authentication.ldap.timeout=1000

#-# [Since 6.3M1, XWikiLDAPAuthServiceImpl]
#-# The maximum number of search results to be returned from a search operation.
#-# The default is 1000
# xwiki.authentication.ldap.maxresults=1000

#---------------------------------------
# WYSIWYG Editor configuration
#

#-# You can configure the toolbars you wish to see in the WYSIWYG editor by defining the
#-# xwiki.wysiwyg.toolbars property.
#-# When not defined it defaults to:
#   xwiki.wysiwyg.toolbars=texttoolbar, listtoolbar, indenttoolbar, undotoolbar, titletoolbar, \
#                          styletoolbar, horizontaltoolbar, attachmenttoolbar, macrostoolbar, \
#                          tabletoolbar, tablerowtoolbar, tablecoltoolbar, linktoolbar
#-# The full list of toolbars includes the one defined above and the following ones:
#-#   subtoolbar, findtoolbar, symboltoolbar


#---------------------------------------
# Skins & Templates configuration
#

#-# The default skin to use when there's no value specified in the wiki preferences document. Note that the default
#-# wiki already specifies a skin, so this setting is only valid for empty wikis.
xwiki.defaultskin=$xwikiCfgDefaultSkin

#-# The default base for skins that don't specify a base skin. This is also the last place where a skin file is searched
#-# if not found in the more specific skins.
xwiki.defaultbaseskin=$!xwikiCfgDefaultBaseSkin

#-# Defines whether title handling should be using the compatibility mode or not. When the compatibility
#-# mode is active, XWiki will try to extract a title from the document content.
#-# If the document's content first header (level 1 or level 2) matches the document's title
#-# the first header is stripped.
#-# The default value is 0.
# xwiki.title.compatibility=1

#-# Defines the maximum header depth to look for when computing a document's title from its content. If no header
#-# equal or lower to the specified depth is found then the computed title falls back to the document name.
#-# The default value is 2.
# xwiki.title.headerdepth=2

#-# Defines if setting the title field must be mandatory in the WYSIWYG and Wiki editors. It is mandatory when this
#-# property is set to 1. The default value is 0 (not mandatory).
# xwiki.title.mandatory=0

#---------------------------------------
# Extensions
#

#-# List of active plugins.
xwiki.plugins=$!xwikiCfgPlugins

#-# Enable light monitoring of the wiki performance. Records various statistics, like number of requests processed,
#-# time spent in rendering or in the database, medium time for a request, etc. Disable for a minor increase of
#-# performance and a bit of memory.
# xwiki.monitor=1

#-# Maximum number of last requests to remember.
# xwiki.monitor.lastlistsize=20

#-# Stats configuration allows to globally activate/deactivate stats module (launch storage thread, register events...).
#-# Enabled by default.
# xwiki.stats=1
#-# When statistics are globally enabled, storage can be enabled/disabled by wiki using the XWikiPreference property
#-# "statistics".
#-# Note: Statistics are disabled by default for improved performances/space.
xwiki.stats.default=0

#-# Deprecated since 2.5M1. Use "xwiki.stats.request.excludedUsersAndGroups" instead.
# xwiki.stats.excludedUsersAndGroups=XWiki.Admin,XWiki.XWikiGuest

#-# [Since 2.5M1]
#-# List of users and groups to filter from the visit search request result. Entities are comma separated and can be
#-# relative.
#-# "XWiki.Admin" means "XWiki.Admin" user on the wiki where the search is done and "xwiki:XWiki.Admin" only filter
#-# admin user from main wiki.
#-# For example, the following filter default admin user and unregistered user from the most active contributor graph
#-# on Stats.WebHome page:
# xwiki.stats.request.excludedUsersAndGroups

#-# [Since 2.5M1]
#-# List of users and groups to skip when storing statistics to the database. Entities are comma separated and can be
#-# relative.
#-# "XWiki.Admin" means "XWiki.Admin" user on the wiki where the search is done and "xwiki:XWiki.Admin" only filter
#-# admin user from main wiki.
#-# For example, the following filter avoid storing statistics for the user "HiddenUser":
# xwiki.stats.excludedUsersAndGroups=XWiki.HiddenUser

#-# It is also possible to choose a different stats service to record statistics separately from XWiki.
# xwiki.stats.class=com.xpn.xwiki.stats.impl.XWikiStatsServiceImpl

#-# GraphViz plugin configuration. The GraphViz plugin is not configured by default.
#-# To enable it, add "com.xpn.xwiki.plugin.graphviz.GraphVizPlugin" to the list of plugins
#-# in the xwiki.plugins property.
#-# Uncomment and set the locations of the Dot and Neato executables
# xwiki.plugin.graphviz.dotpath=c:/Program Files/ATT/GraphViz/bin/dot.exe
# xwiki.plugin.graphviz.neatopath=c:/Program Files/ATT/GraphViz/bin/neato.exe

xwiki.plugin.image.cache.capacity=30

#-# Calendar Prev/Next Month bounds.
#-# The calendar generates links to the previous/next months for a limited range, by default 6 months back and 12 months
#-# after. A value of 0 means that there is no limit in that direction.
# xwiki.calendar.bound.prev=6
# xwiki.calendar.bound.next=12

#-# Lucene search engine
#-# Location where to place the lucene index files. The default is the "lucene" subdirectory in XWiki's permanent data
#-# directory. Change it if you want to store indexes in another place.
# xwiki.plugins.lucene.indexdir=/usr/local/xwiki/lucene
#-# The text analyzer to use for indexing.
# xwiki.plugins.lucene.analyzer=org.apache.lucene.analysis.standard.StandardAnalyzer
#-# The number of seconds to wait between reindexes. A smaller value ensures that new documents will be indexed faster,
#-# but with a minor performance reduction. Adjust according to your wiki load.
# xwiki.plugins.lucene.indexinterval=20
#-# The maximum size of the indexing queue. After this limit is reached, the reindex thread will have to wait until the
#-# queue is consumed. Note that this does not affect documents submitted through the notification mechanism, only the
#-# full reindex option.
# xwiki.plugins.lucene.maxQueueSize=1000

#-# [Since 2.0RC1]
#-# Activity Stream plugin. 
#-# The Activity Stream plugin stores data in a dedicated table in the database. Each wiki has its own database.
#-# The plugin can be configured to store its data into the database corresponding to the wiki, into the main database
#-# (default: xwiki) or both. These options should not be both set to 0 (in this case the local store will be forced).
#-# Important note: disabling storage in the main store will prevent the watchlist from retrieving events from subwikis.
#-#
#-# Default: 1 
# xwiki.plugin.activitystream.uselocalstore=1
#-#
#-# Default: 1
# xwiki.plugin.activitystream.usemainstore=1
#-#
#-# Number of days the events should be kept (0 or any negative value: infinite duration)
#-# Note: if this value is greater than 0 a scheduler job will be created, this job will then be fired every week to
#-# delete events older than the configured value.
#-# Default: 0
# xwiki.plugin.activitystream.daystokeepevents=0

#-# [Since 3.1M1]
#-# Indicate which mode to use for automatic document watching.
#-# The possibles modes are the following:
#-# * none: never automatically add document in watchlist
#-# * all: add to watchlist any modified document
#-# * major: add to watchlist only document which are not edited as minor edit. That's the default mode.
#-# * new: add to watchlist only newly created documents
# xwiki.plugin.watchlist.automaticwatch=major

#-# [Since 5.2RC1]
#-# Indicate if WikiStream should be used when exporting a XAR in the export action.
#-# This property will be removed as soon as WikiStream is old/stable enough.
#-# By default WikiStream is used, uncomment to use the old system.
# xwiki.action.export.xar.usewikistream=0
#-# [Since 5.3RC1]
#-# Indicate if WikiStream should be used when importing a XAR in the import action.
#-# This property will be removed as soon as WikiStream is old/stable enough.
#-# By default WikiStream is used, uncomment to use the old system.
# xwiki.action.import.xar.usewikistream=0

$!xwikiCfgAdditionalProperties
