Package: xwiki-solr-all
Version: [[version]]
Section: java
Priority: optional
Architecture: all
Depends: xwiki-solr-core (= [[version]]), xwiki-solr-events (= [[version]]), xwiki-solr-ratings (= [[version]]), xwiki-solr-extension_index (= [[version]])
Maintainer: [[debian.maintainer]]
License: [[debian.license]]
Description: [[debian.description]]