#template('colorThemeInit.vm')

/* Overriding skins */

#import .legend {
  border-bottom: 1px dotted $theme.borderColor;
  color: $theme.titleColor;
  display: block;
  font-size: 1.5em;
  font-weight: 400;
  line-height: 1.2em;
  margin: 20px 0 10px;
  overflow: hidden;
}

#attachform .buttonwrapper {
  margin: 0;
}

#import div.loading {
  min-height:200px;
}

/* Package List  styles */
#packagelist fieldset {
  background-color: $theme.backgroundSecondaryColor;
  padding: 5px;
}

.package-upload {
  background: transparent url("$xwiki.getSkinFile('icons/silk/package_add.png')") no-repeat scroll 0 center;
  padding-left: 20px;
  overflow: hidden;
}

#packagelist .xitemcontainer {
  background: transparent url("$xwiki.getSkinFile('icons/silk/package.png')") no-repeat scroll 5px 0.5em;
  font-size: .85em;
  margin-bottom: .2em;
  padding: .3em 0 .3em 2.5em;
}

#packagelist .active {
  background-color: $theme.backgroundSecondaryColor;
  border: 1px dotted $theme.borderColor;
}

#packagelistcontainer .name a {
  font-size: 1.4em;
}

#packagelistcontainer .size {
  color: $theme.textSecondaryColor;
}

#packagelistcontainer .xwikibuttonlinks {
  float: right;
  padding-right: .2em;
}

#packagelistcontainer .deletelink {
  background: url("$xwiki.getSkinFile('icons/silk/cross.png')") no-repeat left 0.2em;
  display: block;
  height: 1.4em;
  width: 16px;
}

/* Package Content styles */
#packageDescription {
  background-color: $theme.backgroundSecondaryColor;
  border: 1px dotted $theme.borderColor;
  overflow: hidden;
  padding: 10px;
  margin-bottom: 1px;
}

#packagecontainer {
  overflow: hidden;
}

#packagecontainer .packageinfos {
  margin-bottom: .5em;
}

.packageinfos div {
  display: table-row;
}

#packagecontainer .packageinfos span {
  color: $theme.textSecondaryColor;
  margin: 0 5px 0 0;
}

#packagecontainer .packageinfos span.label {
  color: $theme.textColor;
  font-size: .85em;
  font-weight: 700;
  text-transform: uppercase;
}

#import .selectLinks {
  font-size: .8em;
  margin-right: .5em;
  text-align: right;
}

#import .selectLinks span {
  color: $theme.linkColor;
  cursor: pointer;
  margin-left: .2em;
}

#package .importOption {
  margin-bottom:5px;
}

#package {
  background-color: $theme.pageContentBackgroundColor;
  border: 1px dotted $theme.borderColor;
  margin-bottom: 1em;
}

#import .documentName{
  background: transparent url("$xwiki.getSkinFile('icons/silk/page_white_text.png')") no-repeat scroll 0 0;
  padding-left: 20px;
}

#import .historyStrategyOption {
  line-height: 1.2em;
  margin-bottom: 0;
}

#packagecontainer .buttonwrapper {
  display: block;
  margin-top: .5em;
}

/*
  Used when javascript is disabled
*/

#import ul {
  list-style-position: outside !important;
}

#import ul.xlist li.xunderline {
  border: 0 !important;
}

#packagelist ul.xlist {
  margin: 0 !important;
}

#import div#package ul.package {
  margin: 0 0 1em 0 !important;
  padding: 3px !important;
}

#import ul.package li.xitem a.xitemcontainer span.checkbox,
#import ul.package li.xitem a.xitemcontainer input.space {
  float: right;
}

#import ul.package li.xitem a.xitemcontainer {
  text-indent: 0;
}
#import ul.package li.xitem a.xitemcontainer .spacename:before {
  content: '\229F';
  display: inline-block;
  font-size: 16px;
  font-weight: 400;
  height: 16px;
  margin-right: 20px;
  text-align: center;
  width: 16px;
}
#import ul.package li.xitem.collapsed a.xitemcontainer .spacename:before {
  content: '\229E'
}

#import ul.package li.collapsed a.xitemcontainer .pages {
  display: none;
}

#import ul.package li.xitem a.xitemcontainer div.spacename {
  background: transparent url("$xwiki.getSkinFile('icons/silk/folder.png')") no-repeat scroll 18px .1em;
  cursor: pointer;
  float: left;
  font-weight: bold;
}

#import ul.package li.xitem a.xitemcontainer div.selection {
  color: $theme.textSecondaryColor;
  float: right;
  font-size: .8em;
  line-height: 1.7em;
  margin-right: .2em;
}

#import ul.pages {
  margin: 0 0 0 18px !important;
}

#import ul.pages li.xitem {
  width: 100%;
}
