.xtree-finder-container {
  display: flex;
  flex-direction: row;
  gap: .5em;
  align-items: center;
}

input[type="text"].xtree-finder {
  width: 100%;
}

div.suggestItems.xtree-finder-suggestions {
  background-clip: padding-box;
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: var(--border-radius-base);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.176);
  margin: 2px 0 0;
  padding: 5px 0;

  .suggestItem, .noSuggestion {
    margin: 0;
    padding: 3px 20px;
    white-space: nowrap;
  }

  .suggestItem {
    .icon {
      margin-right: .3em;
    }

    .info {
      padding-left: 0;
    }
  }
}

