## Renderer for the scopeNotificationFilters
## Parameters :
## $filter : the filter to render
## $filterPreference : the preference to use
#template('hierarchy_macros.vm')

#set ($page = $filterPreference.pageOnly)
#set ($space = $filterPreference.page)
#set ($wiki = $filterPreference.wiki)

#if ($stringtool.isNotBlank($page))
  #set ($entityReference = $services.model.resolveDocument($page))
  #set ($scopeIcon = 'page')
  #set ($scopeText = $escapetool.xml($services.localization.render('notifications.filters.preferences.scopeNotificationFilter.page')))
#elseif ($stringtool.isNotBlank($space))
  #set ($entityReference = $services.model.resolveSpace($space))
  #set ($scopeIcon = 'chart-organisation')
  #set ($scopeText = $escapetool.xml($services.localization.render('notifications.filters.preferences.scopeNotificationFilter.space')))
#elseif ($stringtool.isNotBlank($wiki))
  #set ($entityReference = $services.model.createWikiReference($wiki))
  #set ($scopeIcon = 'wiki')
  #set ($scopeText = $escapetool.xml($services.localization.render('notifications.filters.preferences.scopeNotificationFilter.wiki')))
#end

$services.icon.renderHTML($scopeIcon)&nbsp;$scopeText
#hierarchy($entityReference, {'limit': 5, 'plain': false, 'local': false, 'displayTitle': false})
