.rt-toolbar-leftside div {
  float: left;
}
.rt-toolbar-leftside {
  float: left;
}
.rt-toolbar-rightside {
  float: right;
}
.rt-lag {
  float: right;
}
.rt-spinner {
  float: left;
}
.rt-user-link {
  cursor: pointer;
  color: #0088CC;
}
.rt-user-link:hover {
  text-decoration: underline;
  color: #005580;
}
.rt-user-avatar, .rt-user-fake-avatar {
  border: 1px solid #AAA;
  border-radius: 4px;
  cursor: pointer;
  margin: 2px 3px 2px 6px;
  vertical-align: top;
}
.rt-user-avatar {
  max-width: 20px;
  max-height: 20px;
}
.rt-user-fake-avatar {
  width: 20px;
  height: 20px;
  line-height: 20px;
  display: inline-block;
  text-align: center;
  background: #CCCCFF;
  color: #3333FF;
  font-size: 20px;
  font-weight: bold;
}
#secret-merge {
  opacity: 0;
}
#secret-merge:hover {
  opacity: 1;
}
