#macro(dynamicsize $sz)
#if($sz < 1024)
$sz bytes
#else
#set($ksz = $sz / 1024)
#if($ksz < 1024)
${ksz}kb
#else
#set($Msz = $sz / 1048576)
${Msz}Mb
#end
#end
#end
###
### List document attachments
###
### TODO: web service?
###
## #if(!$showattachments)
## #set($showattachments = $xwiki.getWebPreference("showattachments"))
## #end
## #if($showattachments!="no")
#if($request.xredirect)
#set( $redirect = $request.xredirect)
#else
#set( $redirect = $xwiki.getRequestURL().replaceAll("&", "&amp;"))
#end
#set($showactions = 0)
#set($attachments = $doc.attachmentList)
    <div id="attachmentscontent" class="xwikiintracontent">
    <div id="attw">
#if($inline && ($inline == true))
    <div class="xwikititlewrapper" onclick="toggleClass($('attachments'), 'hidden'); toggleClass($('attachmentscontent'), 'exp')"><h3 class="xwikiintratitle">$msg.get("attachments")<span class="hidden">:</span> <span class="attachmentsno">$attachments.size()</span></h3></div>
#end
      <div id="attachments">
#if($attachments.size()>0)
#foreach ($attach in $attachments)
        <div class="attachment #if($velocityCount % 2 == 0) even #else odd #end">
          <span class="mime">#mimetypeimg($attach.getMimeType().toLowerCase() $attach.getFilename().toLowerCase())</span>
          <div class="information">
          <span class="name"><a href="$doc.getAttachmentURL("${attach.filename}", "download")" title="$msg.get("downloadthisattachment")">#packName($attach.filename)</a></span>
#if($hasedit || $hasadmin)
          <span class="xwikibuttonlinks"><a class="deletelink" href="$doc.getAttachmentURL("${attach.filename}", "delattachment", "xredirect=${redirect}")" onclick="return confirm('$msg.get("confirmdelattachment")');" title="$msg.get("deletethisattachment")">$msg.get("delete")</a></span>
#end
          <span class="version"><a href="$doc.getAttachmentURL("${attach.filename}", "viewattachrev")" title="$msg.get("viewattachmenthistory")">$attach.version</a></span>
          <div class="meta">
          <span class="publisher">$msg.get("PostedBy"): <span>$xwiki.getLocalUserName($attach.author)</span></span>
          <span class="date">$msg.get("on") $!xwiki.formatDate($attach.date, "dd/MM/yyyy")</span>
          <span class="size">(#dynamicsize($attach.filesize))</span>
          </div>
        </div>
  </div> ## row
#end
#else
<div>$msg.get("noattachments")</div>
#end
#if($hasedit || $hasadmin)
      <form action="$doc.getURL("upload")" enctype="multipart/form-data" method="post">
<div>
<input type="hidden" name="xredirect" value="$xwiki.getFormEncoded($redirect)" />
<fieldset class="expanded" id="attachform">
        <legend onclick="toggleForm(this.form)">$msg.get("addattachment")<span class="expands">...</span></legend>
     <!--  <div><label id="xwikiuploadnamelabel" for="xwikiuploadname">$msg.get("choosetargetfilename"):</label></div> -->
        <div><input id="xwikiuploadname" type="hidden" name="filename" value="" size="40"/></div>
        <div><label id="xwikiuploadfilelabel" for="xwikiuploadfile">$msg.get("choosefiletoupload"):</label></div>
        <div><input id="xwikiuploadfile" type="file" name="filepath" value="" size="40"/></div>
        <div>
        <span class="buttonwrapper"><input type="submit" value="$msg.get("attachthisfile")" onclick="return updateAttachName(this.form, '$msg.get("doyouwanttoreplace")')" class="button"/></span>
        <span class="buttonwrapper"><input type="reset" value="$msg.get("cancel")" onclick="hideForm(this.form);" class="button"/></span>
        </div>
        </fieldset>
</div>
      </form>
#end
      </div> ## attachments
      </div> ## attw
    </div> ## attachmentscontent
#if($inline && ($inline == true))
<script type="text/javascript">
//<!--
#if($hasedit || $hasadmin)
document.getElementById("attachform").className = "collapsed";
#end
document.getElementById("attachments").className = "hidden";
//-->
</script>
#end
## #end