#if($context.getMode()==0)## Visible only in a page
<div id="footerglobal" class="layoutsection">
<div class="minwidth"></div>
<hr/>
  <div id="xwikidocinfo"><div class="minwidth"></div>#if ($tdoc)$msg.get("creator"): $xwiki.getLocalUserName($tdoc.creator) $msg.get("createdon") $!xwiki.formatDate($tdoc.creationDate, "dd/MM/yyyy") $msg.get("at") $!xwiki.formatDate($tdoc.creationDate, "HH:mm")#end</div>
  <div id="xwikilicence">$!copyright</div>
  <div id="xwikiplatformversion">$!xwiki.version</div>
<hr/>
</div>
#end
### TODO: Format the footer for pdf output