#if($context.getMode()==0)
</div>## xwikimaincontainerinner
</div>## xwikimaincontainer
</body>
</html>
#end

#if($context.mode == 1)
</div>## xwikimaincontainerinner
</div>## xwikimaincontainer
</div>##UIApplication

#if($request.ajaxRequest == 'true')

  </div> ## BlockToUpdateData
  </div> ## BlockToUpdate
  </div> ## PortletResponseData
  <div class="PortletResponseScript"></div>
  </div> ## PortletResponse

#end

#end

