/**

General layout of the page
for @media screen displays

**/

body#body{
  width: 100%; 
  padding: 0;
  margin: 0 ;  /* padding et margin nul pour emulation min width*/
  min-width: 760px;
}

#xwikimaincontainer{
  margin: 0px 40px;
  text-align: center;
  margin-bottom: 40px;
}

html > body .minwidth, html > body .minwidthb, html > body .minwidthc{
  display: none;
}
.minwidth, .minwidthb, .minwidthc{
  width: 720px;
  height: 0px;
}
* html .minwidth, * html .minwidthb, * html .minwidthc{
  height: 1px !important;
  overflow: hidden;
}
.minwidthb{
  width: 520px;
}
.minwidthc{
  width: 438px;
}
.layoutsection{
  clear: both;
}
#xwikimaincontainerinner{
  text-align: left;
}
#contentcontainer{
  z-index: 1;
}
#xwikieditor{
  border-right: 310px solid;
  z-index: 1;
}

/*
---------------------------------------
Global header
---------------------------------------
*/

#headerglobal{
  display: block;
  height: 8em;
  border-right:200px solid ;
  z-index: 1;
}
#globallinks {
  position: relative;
  float: left;
  width: 200px;
  height: 8em;
  margin-right: -200px;
}

.editbody #headerglobal{
  border-right:310px solid ;
}  
.editbody #globallinks{
  width: 310px;
  margin-right: -310px;
}

#globalmenu {
  padding: 1.8em 0.5em 0.5em 0.5em;
  text-align: right;
  font-size: 115%;
  line-height: 1em;
}
#globalmenu .glink {
  display: block;
  text-decoration: none;
  font-size: 0.8em;
  font-weight: bold;
}
#globalmenu #headerlanguages a{
  text-transform: capitalize;
}
#globalmenu span {
  display: none;
}


#company{
  height: 8em;
  float: left;
  width: 100%;
}

#companylogo{
padding: 3em 0 0 40px;
}

#globaldoctitle {
  display: none; /*pour éviter pb dans IE -- a regler*/
}

#globaldoctitle h1{
}






















/*
---------------------------------------
Space header, footer
---------------------------------------
*/
#headerspace, #footerglobal {
  height: 1.5em;
}
#footerglobal {
  padding: 1em 0px;
  text-align: center;
}

#headerspace hr, #footerglobal hr{
  display: none;
}
#breadcrumbs {
  padding-left: 40px;
}
* html #breadcrumbs {
  width: 100%;
}

#footerglobal, #headerspace {
  clear:both;
}
#xwikilicence {
  float: right;
  clear: right;
  margin-right: 5px;
}
#xwikidocinfo {
  width: 100%;
}
#xwikiplatformversion {
  float: left;
  margin-left: 5px;
}
/*
---------------------------------------
Content
---------------------------------------
*/
#contentcontainerinner, #xwikieditorinner {
  width: 100%;
  background-color: #FFF;
}

#contentcolumn {
  float: right;
  padding: 0px;
}
* html #contentcolumn {
  width: auto;
}
.main {
  padding: 20px 40px 20px 40px;
}
.leftsidecolumns{
  float: left;
  width: 100%;
}
.content{
  border-right: 200px solid;
  border-left: 200px solid;
}
.contenthideleft{
  border-right: 200px solid ;
  border-left: 0px solid ;
}
.contenthideright{
  border-right: 0px solid ;
  border-left: 200px solid;
}
#contentcontainer.contenthidelefthideright{
  border-right: 0px solid ;
  border-left: 0px solid ;
}

#editcolumn{
  width: 100%;
  float: left;
  overflow: hidden;
  padding-bottom: 20px;
}

#actionmenu{}
#xwikieditcontent textarea#content {
  width: 100%;
}
.layoutsubsection{}

.layoutsubsection.about{
  border: none;
  text-align: right;
  font-style: italic;
  margin-bottom: 10px;
  padding-bottom: 10px;
}


/*
---------------------------------------
Zone for Comments, attachments, History... 
---------------------------------------
*/
#xwikidata{
  padding: 0px;
  border: none;
}
#xwikidatacontents{
  margin: 24px;
}
.xwikiintratitle{
}
.xwikiintracontent{
  margin: 0px;
}

/*
---------------------------------------------
"Message Boxes"
---------------------------------------------
*/
fieldset.xwikimessage{
  display: block;
  float: none;
  width: 480px;
  margin: auto;
  border: 2px solid #BBB;
  border-top: 8px solid #BBB;
  padding: 0px 8px 16px;
}
html > body fieldset.xwikimessage{
  padding-top: 8px;
}

fieldset.xwikimessage legend {
  font-weight: bold;
  font-size: 110%;
  padding: 2px 8px;
  margin: 0px;
}
fieldset.xwikimessage .xwikimessage{
  text-align: center;
  font-weight: bold;
  font-size: 110%;
}
fieldset.xwikimessage .buttons {
  text-align: center;
}
fieldset.xwikimessage .buttons a {
  text-decoration: none;
  margin: 8px;
}

.button{
  font-family: Helvetica, sans-serif;
  font-weight: bold;
  text-align: center;
}
.topbuttons{
  margin-bottom: 5px;
}
.bottombuttons{
  margin-top: 5px;
}
/*
----------------------------------------------
Comments
----------------------------------------------
*/
.xwikicomment {
}

#xwikidata #commentscontent{
  background: #E5F0FE url("icons/black-bg-comments-left.png") left top no-repeat;
  border-bottom: 1px solid #000;
}
#comments, #attachments {
  padding: 0px 20px;
}
#xwikidata .xwikititlewrapper{
  cursor: pointer;
}
#xwikidata #commentscontent .xwikititlewrapper{
  background: transparent url("icons/black-bg-comments-right.png") right top no-repeat;
}
#xwikidata #attw{
  background: transparent url("icons/black-bg-attach-right.png") right bottom no-repeat;
}
.xwikiintratitle{
  background: transparent url("icons/black-content-more.png") right center no-repeat;
  font-size: 160%;
  font-weight: 400;
  font-style: normal;
  margin: 0px 24px;
  padding: 16px 0px 16px;
}
.exp .xwikiintratitle{
  background: transparent url("icons/black-content-less.png") right center no-repeat;
}
#xwikidata #attachmentscontent {
  background: url("icons/black-bg-attach-left.png") left bottom no-repeat;
}
#attachmentscontent table{
  border: none;
}
.mime{
  text-align: center;
}
.xwikicomment{
  padding: 10px 24px;
  position: relative;
  overflow: hidden;
}
.commentspacer{
  display: none;
}
#comments .odd{
  background-color: #FFF;
}
#comments .even{
  background-color: #E5F0FE;
}

.commentavatar{
  position: absolute;
  left: 0px;
  top: 0px;
  width: 54px;
}
.commentavatar img{
  width: 3.5em;
  display: block;
  margin: auto;
}
.commentheader{
  padding: 6px 0px;
}
.commentauthor{
  font-size: 130%;
  font-weight: 900;
}
.commentauthor a{
  text-decoration: none;
  color: #000 !important;
}
.commentcontent{

}

.xwikibuttonlink a{
  background-color: #BBB;
  padding: 2px 4px;
  text-decoration: none;
  font-weight: bold;
}
table.xwikidatatable{
  margin: 8px auto;
  /* width: 100%; */
}
table.xwikidatatable, table.xwikidatatable th{
  border: 1px solid #DDD;
}
table.xwikidatatable td{
  padding: 2px 8px;
}

.xwikiintracontent legend{
  border: 1px solid #ddd;
  padding: 2px 4px;
}
.xwikiintracontent fieldset{
  border-color: #ddd;
  border-style: solid;
  padding: 8px 8px;
}
.xwikiintracontent legend{
  font-size: 110%;
  font-weight: bold;
  cursor: pointer;
  margin-bottom: 8px;
}
html > body .xwikiintracontent legend{
  margin-bottom: 0px;
}
.xwikiintracontent fieldset.collapsed{
  border: none;
}
.xwikiintracontent fieldset.collapsed legend{
  margin-left: 2px;
}
.xwikiintracontent fieldset.collapsed div{
  display: none;
}
.xwikiintracontent fieldset.expanded .expands{
  display: none;
}

.commentsno, .attachmentsno{
  font-size: 50%;
  background: transparent url("icons/black-comment2.png") center no-repeat;
  padding: 11px 24px 13px;
  font-weight: 900;
}
.attachmentsno{
  background: transparent url("icons/black-doc2.png") center no-repeat;
}
/*
---------------------------------------
Menu
---------------------------------------
*/
#actionmenu {
  position: absolute; 
  /*width: expression(document.body.offsetWidth  + "px");*/
  height: 2em;
  top: 0px;
  left: 0px;
  right: 0px;
  width: 100%;
  border: 1px solid;
  border-width: 1px 0;
  z-index: 1000;
  overflow: visible;
}

html > body #actionmenu{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
}

#actionmenu a{
  text-decoration: none;
}
.rightmenu{
	position: absolute;
	right: 0px;
	margin-right: 40px;
}
.rightmenu a{
  float: left;
  width: 200px;
  text-align: center;
  border:1px solid; 
  border-width:0px 1px;  
  margin-right: -1px;
  font-size:1em;
  text-decoration:none; 
  height:2em;
  line-height:1.9em;
}

.leftmenu{
  position: absolute;
  left: 42px;
}
.topmenuentry{
  float: left;
  width: 7em;
  height: 2em;
  text-align: center;
  border:1px solid ; 
  border-width:0px 1px;  
  margin-right: -1px;
}
.submenu{
  display: block;
  width: 12em;
  text-align: left;
  position: absolute;
  margin-top: -1px;
  margin-left: 0px;
  
}

.topmenuentry a, .topmenuentry a:link, .topmenuentry a:visited, .topmenuentry a:active{
display:block;
font-size:1em;
text-decoration:none; 
width:7em; 
height:2em; 
line-height:1.9em;
}

.rightmenu a{
height:2em; 
line-height:1.9em;
font-size:1em;
text-decoration:none; 
}

.submenu .submenuitem{
  display: block;
  padding: 5px;
  border-bottom: 1px dashed ;
  margin-bottom: -1px;
}
.submenu.hidden{
  display: none;
}
.submenuitem a, .submenuitem a:link, .submenuitem a:visited, .submenuitem a:active  {
display:block;
width: auto;
font-size:0.8em;
font-weight: bold;
text-decoration:none; 
height:auto; 
padding:1px 3px;
line-height:1.5em;

}
/*
---------------------------------------
Editors
---------------------------------------
*/
#xwikieditorstitles, #xwikiviewerstitles{
  display: none;
}

/*
---------------------------------------
Tabs
---------------------------------------
*/
ul.xwikitabbar{
  padding: 4px 0px;
  margin: 0px;
}
.xwikitabbar li{
  display: inline;
  padding: 5px 0px;
  list-style-type: none;
  border: 1px solid;
  border-bottom: none;
  margin-right: 2px;
  margin-top: 2px;
}
html > body .xwikitabbar li{
  padding: 5px 0px;
}
.xwikitabbar li a{
  padding: 5px 15px;
  font-weight: bold;
  text-decoration: none;
}
.xwikitabbar li a:hover{
  text-decoration: none;
}

.xwikitabbar li.active{
  border: 1px solid;
  border-bottom: 3px solid;
}

.xwikitabbar li.active a:hover{
  cursor: default;
}
/*
--
*/
#xwikicontentedit{
  border: 1px solid;
}

/*
---------------------------------------
Panels
---------------------------------------
*/

#globalsearch {
  text-align: center;
  margin: 0px;
  padding: 0px 0px 30px;
}
#globalsearch input{
  font-size: 0.7em;
  border: 1px solid;
  display: inline !important;
}
#globalsearch input.button{
  vertical-align: middle;
  font-size: 1em;
  border: 0px;
  padding: 0px;
}

#rightPanels, #leftPanels {
  position: relative;
  float: left;
  width: 200px;
  padding-top: 0px;
}
#rightPanels{
  margin-right: -200px;
}
#leftPanels {
  margin-left: -200px;
}

.panels{
}
html > body .panels{
  margin-top: 0px;
}
.panels.left {
  float: left;
  clear: none;
  margin-left: 0px;
}
.panels.right {
  float: right;
  clear: right;
  margin-right: 0px;
}
.panel, .fakepanel{
  color: #DDD;
  width: 200px;
  display: block;
  margin: 0px 0px 20px 0px;
  padding: 0px;
  border: 0px solid;
}
.placeholder{
  width: 200px;
}
html > body #dragbox {
  width: 198px !important;
}
#xwikinavcontainer{
  margin-bottom: 20px;
}
.fakepanel{
  display: none;
  height: 320px;
}

#editPanels.panels{
  width: 310px;
  float: left;
  position: relative;
  margin-right: -310px;
}
#editPanels .panel{
  width: 310px;
}
.collapsed .xwikipanelcontents{
  display: none;
}
span.panelitem{
  display: block;
}
span.pitemseparator{
  display: none;
}
.panelcontainer{
  height: 200px;
  overflow: hidden;
  border: 1px inset #444;
  padding: 3px;
}
.panelitemc{
  height: 256px;
  margin: 0px 4px;
  width: 210px;
  float: left;
}
.panelitemc .label, .panelitemc .xwikibuttonlink{
  text-align: center;
}
/*
----------------------------------
Rico Acordeon
----------------------------------
*/
#xwikisyntaxhelp {
  margin-top:6px; 
  border-top-width:1px; 
  border-top-style:solid;
  border: none;
}

.accordionTabTitleBar h6{
  margin: 0px;
  padding: 0px 4px;
}

#editPanels .accordionTabContentBox{
  border: none;
  overflow: auto;
}

#editPanels .accordionTabContentBox table{
  border: none;
}
.accordionTabContentBox table th{
  border-bottom: 1px solid #DDD;
  text-align: center;
}
#xwikihelptitlesContent h1, #xwikihelptitlesContent h2, #xwikihelptitlesContent h3, #xwikihelptitlesContent h4, #xwikihelptitlesContent h5, #xwikihelptitlesContent h6{
  margin: 0px;
  text-align: right;
}

.accordionTabTitleBar{
  border: 1px solid #FFF;
  cursor: default;
}


/*
-----------------------------
Misc
-----------------------------
*/
#xwikihelplistsContent ul, #xwikihelplistsContent ol{
  margin: 0px;
}
#contentcolumn .panel.large{
  width: 290px;
}
.accordionTabTitleBar tt{
  font-style: normal;
  font-size: 150%;
  font-weight: 100;
  padding: 0px 4px;
}
/*.accordionTabContentBox div{
  padding: 0px;
}*/
td.label{
  text-align: right;
  padding-right: 4px;
}
#xwikiclassproperties, #xwikiobjects{
  border: 1px solid #DDD !important;
}
.center{
  text-align: center;
}

.padded{
  padding: 8px;
}

#xwikihelpsyntax{
  border-top: 1px solid #DDD;
  padding: 2px 6px;
  margin: -2px 1px 0px;
}

.editactions{
  border: none !important;
  margin-top: 10px;
  padding: 0px;
}
#historycontent td{
  padding: 2px;
}
#xwikiuserprofile th{
  background-color: transparent;
  text-align: right;
}
#xwikiuserprofile td, #xwikiuserprofile th{
  padding: 4px;
}

#xwikiobjects td{
  vertical-align: top;
}


html > body .xwikidatatable{
  width: 100%;
}

.xwikiuserblog .rssfeed {
  width: 200px;
  float: right;
  border: 2px solid;
}

.edit_section{
  visibility: hidden;
  display: block;
  overflow: hidden;
  height: 24px;
  width: 24px;
/*  position: relative;
  top: -4em;
*/
}
.edit_section a{
  visibility: visible;
  position: relative;
  top: -1.2em;
  background: transparent url("icons/black-edit.png") left bottom no-repeat;
  padding: 0px 10px 20px;
}
/*
------------------------
Page Layout Selection
------------------------
*/

td div.pagelayoutoption{
  margin: 0px auto;
  width: 106px;
}

div.layoutmaquette{
  width: 100px;
  height: 100px;
  border: 1px solid #ddd;
  background-color: #fff;
  padding: 2px;
}

div.lmleftcolumn, div.lmrightcolumn{
  width: 20px;
  height: 60px;
  border: 1px solid #aaa;
  background-color: #ddd;
  float: left;
}

div.lmrightcolumn{
  float: right;
}

div.lmcontentcolumn{
  border: 1px solid #aaa;
  background-color: #eee;
  height: 90px;
}

#leftcolumn div.lmcontentcolumn{
  margin-left: 24px;
}


#rightcolumn div.lmcontentcolumn{
  margin-right: 24px;
}


#bothcolumns div.lmcontentcolumn{
  margin-left: 24px;
  margin-right: 24px;
}

div.pagelayoutoption:hover .layoutmaquette{
  background-color: #ffd;
}

div.pagelayoutoption:hover .lmcontentcolumn{
  background-color: #ddd;
}

div.pagelayoutoption:hover .lmleftcolumn,
div.pagelayoutoption:hover .lmrightcolumn{
  background-color: #acf;
}

div.pagelayoutoptions > table{
  width: 100%;
  text-align: center;
}

div.pagelayoutoptions td{
  padding: 2px;
  vertical-align: bottom;
}

#selectedoption{
}

#selectedoption .lmcontentcolumn{
  background-color: #acf;
}

#selectedoption .lmleftcolumn,
#selectedoption .lmrightcolumn{
  background-color: #369;
}

.pagelayoutoption label{
  color: #aaa;
}

#selectedoption label, .pagelayoutoption:hover label{
  color: #000;
}

.hastooltip{
  border-bottom: 1px dotted #000;
  cursor: help;
}

#dhtmltooltip{
  border: 1px solid #aaa;
  padding: 2px 4px;
  background-color: #ffd;
  text-align: justify;
  position: absolute;
}

#panelwizardbuttons{
  padding: 8px 5px 0px;
  margin: 8px -5px 0px;
  border-top: 1px solid #ddd;
  text-align: left;
}

.alleditcontent{
  position: relative;
  width: auto;
  margin: 20px 20px 0px 20px;
}

.floatcontainer{
  overflow: hidden;
}

#xwikieditcontent{
  border: 2px solid #3381CC;
  padding: 3px 8px 3px 3px;
  overflow: auto;
}
*html #xwikieditcontent{
  padding: 0px 3px 3px 3px;
}

.editinfo{
  height: 2em;
  font-weight: bold;
  font-size: 1em;
  line-height: 2em;
}
#edit{
  padding: 0px;
  margin: 0px;
  border: none;
}
#xwikitext{
  clear: both;
}
#panelsBackground{
  height: 20px;
  background-color: #384554;
}

#xwikidoctitleinput{
  width: 100%;
  font-size: 150%;
}
* html form{
  margin-top: 0px;
}

.xwiki-form-listclass input[type="checkbox"] {
  float: none;
  display: inline;
  margin-right: 2px;
}
.xwiki-form-listclass {
  margin-right: 10px;
}


/**
Attachments
*/
div.attachment {
  overflow: hidden;
  clear: both;
  margin: 8px 0px;
  border-bottom: 1px solid #ddd;
  border-right: 1px solid #ccc;
  border-top: 1px solid #eee;
  border-left: 1px solid #eee;
  font-size: 85%;
}
.attachment .mime {
  display: block;
  float: left;
  padding-right: 8px;
  padding-bottom: 4px;
}
.attachment .information {
  position: relative;
  overflow: hidden;
}
.attachment .name {
  display: block;
  float: left;
  font-size: 170%;
  padding: 0px 6px 4px 0px;
}
.attachment .version {
  display: block;
}
.attachment .meta {
  clear: left;
}
.attachment .xwikibuttonlinks {
  float: right;
  font-size: 130%;
  padding: 4px 10px;
}