#macro(includeWikiPage $pagename $wikipageid)
 <div id="$wikipageid">
 #if($xwiki.exists("${doc.web}.${pagename}"))
      $xwiki.includeForm("${doc.web}.${pagename}",false)
 #else
  #if($xwiki.exists("XWiki.${pagename}"))
      $xwiki.includeForm("XWiki.${pagename}",false)
  #else
   #if($xwiki.exists("xwiki:XWiki.${pagename}"))
    $xwiki.includeForm("xwiki:XWiki.${pagename}",false)
   #end
  #end
 #end
 </div>
#end
#template("xwiki.vm")
#template("httpheader.vm")
#template("header.vm")
#template("viewheader.vm")
<div id="xwikiview">
#includeWikiPage("Menu" "xwikimenu")
<div id="xwikicontent">
$cdoc.getRenderedContent()
</div>         
<div id="xwikidata" class="clear">
#template("comments2.vm")
#template("attachments.vm")
</div>
</div>
#template("footer.vm")
</body>
</html>
