#template('colorThemeInit.vm')
.xdialog-modal-container {
  position: fixed;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  width: 100%;
  height: 100%;
  text-align: center;
  z-index: 1100; /* Higher index than the other modal otherwise the dialog is displayed behind. */
}
/* Semi-transparent overlay screen that covers the entire page. */
.xdialog-screen {
  position: absolute;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  width: 100%;
  height: 100%;
  background-color: #000;
}
.xdialog-box {
  text-align: left;
  padding: 0;
  margin: auto;
  position: relative;
  color: $theme.panelTextColor;
  border: 1px solid $theme.borderColor;
  background-color: $theme.panelBackgroundColor;
  border-radius: 10px;
}
.xdialog-box {
  max-height: 100%; /* Needed because of position: fixed */
  overflow: auto; 
  width: auto;
}
@media (min-width: 768px) { /* Should be: @screen-sm-min */
  .xdialog-box {
    width: 400px; /* Should be: @modal-md */
  }
}
.xdialog-box .xdialog-content,
.xdialog-box > .xdialog-close {
  margin: .8em;
}
.xdialog-box > .xdialog-close {
  float: right;
}
.xdialog-title .xdialog-close {
  font-size: 1.25em;
  color: $theme.panelHeaderTextColor;
}
.xdialog-title {
  font-size: 142%;
  padding: 15px;
  border-bottom: 1px solid $theme.borderColor;
}
.xdialog-box .xform {
  width: 100%;
}
