.xdialog-box {
  width: auto;
  padding: 0;
  /* By default the dialog box will be centered on the page using margins*/
  margin: auto;
  color: var(--panel-default-text);
  border: 1px solid var(--xwiki-border-color);
  background-color: var(--panel-bg);
  border-radius: var(--border-radius-large);

  /* Semi-transparent overlay screen that covers the entire page. */
  &::backdrop {
    --xdialog-backdrop-color: #000;
    background-color: var(--xdialog-backdrop-color);
    --xdialog-backdrop-opacity: .5;
    opacity: var(--xdialog-backdrop-opacity);
  }
}

.xdialog-box .xdialog-content,
.xdialog-box > .xdialog-close {
  margin: .8em;
}
.xdialog-box > .xdialog-close {
  float: right;
}
.xdialog-title .xdialog-close {
  font-size: 1.25em;
  color: var(--panel-header-text);
}
.xdialog-title {
  font-size: 142%;
  padding: 15px;
  border-bottom: 1px solid var(--xwiki-border-color);
}
.xdialog-box .xform {
  width: 100%;
}
