.xImageConfig .gwt-Label {
  font-weight: bold;
  width: 300px;
  padding: 5px;
}

.xImageConfig .gwt-TextBox { 
  font-size: x-small;
  margin: 0 5px;
  width: 300px;
}

.xImagesSelector .xListItem {
  display: inline-block;
  width: 145px;
  height: 105px;
  /* we need to float, although inline-block should do it right, because IE cannot set inline-block 
  on elements which are not native inline*/
  float: left;
}

.xImagesSelector .clearfloats {
  width: 1px;
  height: 1px;
}

.xImagesSelector .xListItem .xImagePreview, .xImagesSelector .xListItem .xNewImagePreview {
  display: inline-block;
  margin: 5px;
  width: 135px;
  height: 95px;
  padding: 0;
  background-color: #FFFFFF;
  overflow-y: hidden;
  cursor: pointer;
}

.xImagesSelector .xListItem .xNewImagePreview {
  text-align: left;
  vertical-align: bottom;
}

.xImagesSelector .xNewImagePreview .gwt-Label {
  background-image: url(../images/bullet_add.gif);
  padding-left: 20px;
  padding-top: 1ex;
  padding-bottom: 1ex;
  margin-top: 5px;
  background-position: left center;
  background-repeat: no-repeat;  
}

.xImagesSelector .xListItem-selected {
  background-color: #D4E8FF;
}

.xPageChooser {
  margin-top: 5px;
}

.xSelectorStep .xImagesSelector {
  margin-top: 5px;  
}

.xSelectorStep .xImagesSelector .xListBox {
  height: 315px;
  overflow: auto;
}

.xSelectorStep .xImagesExplorer .xListBox {
  height: 285px;
}