.xImagePreview {
  width: 116px;
  padding: 3px;
  margin: 0px;
  display: inline;
  float: left;
}

.xImagePreview img {
  height: 90px;
  width: 110px;
  display: block;
  cursor: pointer;
  border: solid 2px white;
}

.xImagePreviewSelected img {
  border: solid 2px #FFA500;
}

.xInsertImageButton {
  font-size: xx-small;
  margin-top: 3px;
  width: 110px
}

.xImageDialogMain {
  padding: 6px;
}

.xImageDialogMain .gwt-TabPanel {
  padding: 0;
}

.xImageDialogMain .gwt-TabPanelBottom {
  width: 385px;
}

.xImagesContainerPanel {
  height: 200px;
}

.xImageChooser .gwt-Label,
.xUploadForm .gwt-Label,
.xSettingsPanel .xSettingsLabel {
  font-weight: bold;
  padding: 5px;  
}

.xSizePanel .gwt-Label,
.xHAlignPanel .gwt-Label,
.xVAlignPanel .gwt-Label,
.xAltPanel .gwt-Label {
  display: inline;
  margin-left: 1em;
  margin-right: 1em;
}

.xSizePanel input {
  width: 3em;
}

.xAlignLabel,
.xInsertButton,
.xSizePanel,
.xAltPanel {
  margin-top: 5px;
}
