/* The width does not seem to be set on IE for the xwiki explorer input. The following should fit correctly*/
.xExplorer input {
  width: 98%;
}

.xExplorer .listGrid {
  border: none;
}

/* IE needs this to correctly return the clientHeight of the tree wrapper, offsetHeight - border width, etc. 
   Otherwise, for the default overflow: visible, it returns 0 even if offsetHeight is correct */
.xExplorer {
  /* it could also be auto, since it always matches its content, but just to make sure we never get a scrollbar */
  overflow: hidden; 
}

.xAttachmentsSelector .xListBox, .xPagesSelector .xListBox {
  overflow: auto;
}

.xAttachmentsSelector .xAttachPreview, .xAttachmentsSelector .xNewFilePreview, 
.xPagesSelector .xPagePreview, .xPagesSelector .xNewPagePreview {
  padding: 5px 5px 5px 20px;
  cursor: pointer;
  background-position: left center;
  background-repeat: no-repeat;
}

.xAttachmentsSelector .xAttachPreview {
  background-image: url(../images/attach.gif);
}

.xPagesSelector .xPagePreview {
  background-image: url(../images/page_white_text.gif);
}

.xAttachmentsSelector .xNewFilePreview, .xPagesSelector .xNewPagePreview {
  background-image: url(../images/bullet_add.gif);
}

.xAttachmentsSelector .xListItem-selected, .xPagesSelector .xListItem-selected {
  background-color: #D4E8FF;
}

.xPagePreview .xPagePreviewTitle {
  margin-bottom: 3px;
  font-style: italic;
}

.xPagePreview .xPagePreviewFullname {
  margin-top: 3px;
}

/* Search tab style */
.xPagesSearch .xSearchForm {
  height: 25px;
  line-height: 19px;
}