.xLinkToUrl .gwt-Label,
.xLinkToNewPage .gwt-Label,
.xLinkToExistingPage .gwt-Label {
  font-weight: bold;
  width: 300px;
  padding: 5px;
}

.xLinkToUrl .gwt-TextBox,
.xLinkToNewPage .gwt-TextBox,
.xLinkToExistingPage .gwt-TextBox { 
  font-size: x-small;
  margin: 0 5px;
  width: 300px;
}

.xLinkToExistingPage .gwt-ListBox,
.xLinkToNewPage .gwt-ListBox {
  margin: 0 5px;
}

.xLinkToUrl .gwt-Button,
.xLinkToNewPage .gwt-Button {
  font-size: x-small;
  margin: 8px;
}
