html, body {
  height: auto !important;
}

* html {
  overflow-y: scroll;
}

body.main {
  background-image: none !important;
  margin: 0px !important;
  min-width: 0 !important;
  padding: 3px !important;
  position: static !important;
  width: auto !important;
}

/*
  Overwrite no matter what list-style-position to outside position to avoid the Firefox issues with editing lists
  with inside list style. 
*/
.main ul, .main ol {
  list-style-position: outside !important;
}

/*
  XWiki 2.0 renderer places the contents of a header inside a span, which is styled in the skin. Since this is not
  common to all the syntaxes and the CSS rules can be applied directly to the header, the editor doesn't generate this
  span when applying header style to the selection. In order to view headers as in view mode we have to block some of
  the CSS rules applied to the span and add then to the header. 
*/
.main h1 span, .main h2 span, .main h3 span, .main h4 span {
  border-bottom: 0 none;
  margin: 0;
  /* IE behaves very strange when the span is displayed as block. */
  display: inline;
}

.main h1, .main h2, .main h3, .main h4 {
  border-bottom: 1px solid #CCCCCC;
  margin: 20px 0;
}

.main h1 {
  margin: 25px 0 20px 0;
}

.main .macro {
  border: 1px dashed #CCCCCC;
  background-color: transparent;
  font-size: 100%;
  text-align: left;
  padding: 1px;
  /* Prevent resizing in IE */
  width: auto !important;
  height: auto !important;
  /* Remove button padding in IE */
  overflow: visible;
  /* Prevent word wrapping inside a macro container in IE */
  white-space: nowrap;
}

.main .macro-selected {
  background-color: #E8F2FE;
}

.main .macro .macro-placeholder {
  background-image: url(../images/macro.gif);
  background-position: left center;
  background-repeat: no-repeat;
  color: gray;
  font-size: 87.5%;
  font-style: italic;
  padding-left: 20px;
}
