@import url('dialog.css');
@import url('tab.css');
@import url('menu.css');
@import url('toolbar.css');

@import url('color.css');
@import url('image.css');
@import url('importer.css');
@import url('link.css');
@import url('macro.css');
@import url('symbol.css');
@import url('table.css');

table.xRichTextEditorTabPanel {
  font-style: normal;
  width: 100%;
  padding: 0;
  margin: 0;
}

#xwikieditcontent table.xRichTextEditorTabPanel {
  background-color: #F0F0EE;
}

table.xRichTextEditorTabPanel td {
  border: 0 none;
  padding: 0;
}

.xRichTextEditorTabPanel .gwt-TabBar .gwt-TabBarItem {
  background-color :#DDDDDD
}

.xRichTextEditorTabPanel .gwt-TabBar .gwt-TabBarItem-selected {
  background-color: #CCCCCC;
}

.xRichTextEditorTabPanel .gwt-TabPanelBottom {
  border-color: #CCCCCC;
}

.xRichTextEditorTabPanel .gwt-TabPanelBottom {
  background-color: #FFFFFF;
  padding: 0;
}

#xwikieditcontent .xRichTextEditor, .xRichTextEditorTabPanel .xRichTextEditor {
  border: 0 none;
}

#xwikieditcontent .xRichTextEditor .gwt-MenuBar-horizontal, .xRichTextEditorTabPanel .xRichTextEditor .gwt-MenuBar-horizontal {
  border-top: 0 none;
}

.xRichTextEditor {
  border: 1px solid #DDD;
  border-top: 0 none;
  font-style: normal;
}

.xRichTextEditor .gwt-RichTextArea {
  width:100%;
  background:#FFFFFF none repeat scroll 0%;
  border:0 none;
  margin:0;
  padding:0;
}

.xRichTextEditor .gwt-MenuBar-horizontal {
  border-top: 1px solid #DDD;
}

.xPlainTextEditor {
  border: 0 none;
  width: 100%;
  height: 100%;
}

.xListBox {
}

.xListItem {
}

.xListItem-selected {
  background-color: #FFA;
}

.xFontFamilyPicker option {
  font-size: small !important;
  text-transform: capitalize;
}