@import url('dialog.css');
@import url('menu.css');
@import url('tab.css');
@import url('toolbar.css');

@import url('color.css');
@import url('image.css');
@import url('importer.css');
@import url('link.css');
@import url('macro.css');
@import url('symbol.css');
@import url('table.css');

.xRichTextEditorTabPanel {
  width: 100%;
  background-color: #F0F0EE;
  padding: 0;
}

.xRichTextEditorTabPanel .gwt-TabBar .gwt-TabBarItem {
  background-color :#DDDDDD
}

.xRichTextEditorTabPanel .gwt-TabBar .gwt-TabBarItem-selected {
  background-color: #CCCCCC;
}

.xRichTextEditorTabPanel .gwt-TabPanelBottom {
  border-color: #CCCCCC;
}

.xRichTextEditorTabPanel .gwt-TabPanelBottom {
  background-color: #FFFFFF;
  padding: 0;
}

.xRichTextEditor .gwt-RichTextArea {
  width:100%;
  background:#FFFFFF none repeat scroll 0%;
  border:0 none;
  margin:0;
  padding:0;
}

.xPlainTextEditor {
  width: 100%;
  height: 100%;
}

.xListBox {
}

.xListItem {
}

.xListItem-selected {
  background-color: #FFA;
}

.xFontFamilyPicker option {
  font-size: small !important;
  text-transform: capitalize;
}