@import url('dialog.css');
@import url('menu.css');
@import url('tab.css');
@import url('toolbar.css');

@import url('color.css');
@import url('image.css');
@import url('importer.css');
@import url('link.css');
@import url('macro.css');
@import url('symbol.css');
@import url('table.css');

.xRichTextEditor .gwt-RichTextArea {
  width:100%;
  background:#FFFFFF none repeat scroll 0%;
  border:0 none;
  margin:0;
  padding:0;
}

.xListBox {
}

.xListItem {
}

.xListItem-selected {
  background-color: #FFA;
}
