.xImagesSelector .xListItem {
  display: inline-block;
  width: 145px;
  height: 105px;
  /* we need to float, although inline-block should do it right, because IE cannot set inline-block 
  on elements which are not native inline*/
  float: left;
}

.xImagesSelector .clearfloats {
  width: 1px;
  height: 1px;
}

.xImagesSelector .xListItem .xImagePreview, .xImagesSelector .xListItem .xNewImagePreview {
  display: inline-block;
  margin: 5px;
  width: 135px;
  height: 95px;
  padding: 0;
  background-color: #FFFFFF;
  overflow-y: hidden;
  cursor: pointer;
}

/*
  Limit the image size in case the server-side resize fails (which can happen for images that don't use the RGB color
  scheme, but CMYK for instance). See XWIKI-3644.
*/
.xImagesSelector .xListItem .xImagePreview img {
  max-height: 95px;
  max-width: 135px;
}

.xImagesSelector .xListItem .xNewImagePreview {
  text-align: left;
  vertical-align: bottom;
}

.xImagesSelector .xNewImagePreview .gwt-Label {
  background-image: url(../images/bullet_add.gif);
  padding-left: 20px;
  padding-top: 1ex;
  padding-bottom: 1ex;
  margin-top: 5px;
  background-position: left center;
  background-repeat: no-repeat;
}

.xPageChooser {
  margin-top: 5px;
}

.xImagesSelector .xListBox {
  overflow: auto;
}