#template('colorThemeInit.vm')
#memberstable {
  width: 500px;
  margin-bottom: 5px;
}

#specialusersandgroups {
  border-collapse: collapse;
  border: 1px solid $theme.borderColor;
  width: 99.5%;
}

#specialusersandgroups td {
  border: 1px solid $theme.borderColor;
}

.manage {
  text-align: center;
  width: 15%;
}

.hmanage {
  width: 15%;
  padding-left: 10px;
}

.rights {
  padding-left: 0px !important;
  padding-top: 4px;
  text-align: center;
  white-space: nowrap;
  width: 9%;
}
.rights th, .rights td {
  border: 1px solid $theme.borderColor;
  padding: 3px 4px;
}
.rights label {
  display: inline;
  text-transform: none;
  font-weight: 400;
  font-size: 1em;
  color: $theme.textColor;
}

#usersandgroupstable.spacerights .rights {
  width: 12% !important;
}

#usersandgroupstable.rights .rights {
  width: 15% !important;
}

.spaceName {
  margin-left: 13px;
  margin-top: 5px;
  margin-bottom: 5px;
}

#tdAddNewUserOrGroup {
  padding-top: 11px;
}

#errMsg {
  color: $theme.notificationErrorColor;
  font-size: 12px;
  font-weight: bold;
}

#XWikiGuestSpecial {
  background-color: $theme.pageContentBackgroundColor;
  color: $theme.textColor;
}

.suorg {
  padding-left: 10px;
  padding-top: 4px;
}

.username {
  padding-left: 10px;
}

#addNewMember {
  margin-top: 5px;
}

#addNewMember td {
  border:none;
}

.addlabel {
  font-weight: bold;
}

tr.userorgroups-header {
  background-color: $theme.backgroundSecondaryColor;
}

tr.userorgroups-header label {
  font-weight: 700;
}