#template('colorThemeInit.vm')
.meta-versionSummary label {
  font-weight: 400;
}
.skin-colibri .meta-versionSummary label {
  display: block;
}
.meta-versionSummary span {
  text-transform: none;
  font-weight: 400;
}

#commentinput {
  width: inherit;
}
