## ---------------------------------------------------------------------------
## See the NOTICE file distributed with this work for additional
## information regarding copyright ownership.
##
## This is free software; you can redistribute it and/or modify it
## under the terms of the GNU Lesser General Public License as
## published by the Free Software Foundation; either version 2.1 of
## the License, or (at your option) any later version.
##
## This software is distributed in the hope that it will be useful,
## but WITHOUT ANY WARRANTY; without even the implied warranty of
## MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the GNU
## Lesser General Public License for more details.
##
## You should have received a copy of the GNU Lesser General Public
## License along with this software; if not, write to the Free
## Software Foundation, Inc., 51 Franklin St, Fifth Floor, Boston, MA
## 02110-1301 USA, or see the FSF site: http://www.fsf.org.
## ---------------------------------------------------------------------------
#######################################################
###                BACKLINKS PAGE
###              ------------------
#######################################################
##
#######################################################
##                   HEADER
#######################################################
#if($request.xpage == 'backlinks')
  #template("startpage.vm")
    <div class="main layoutsubsection">
      ## Set as an HTML main for better DOM tree semantics to facilitate navigation with assistive technologies.
      <main id="mainContentArea">
        <div class="xcontent">
#end
#######################################################
##                   TITLE
#######################################################
#set($titleToDisplay = $services.localization.render('core.backlinks.title', ["<a href='$doc.getURL()'>$escapetool.xml($doc.plainTitle)</a>"]))
#template('contentheader.vm')
#######################################################
##                  CONTENT
#######################################################
#set($backLinks = $doc.getBacklinks())
#if ($backLinks.isEmpty())
  <p>$services.localization.render('core.backlinks.noBackLink')</p>
#else
  <p>$services.localization.render('core.backlinks.description')</p>
  <ul>
    #foreach($docName in $backLinks)
      #set($rdoc = $xwiki.getDocument($docName).getTranslatedDocument())
      <li><a href="$rdoc.getURL('view')">$escapetool.xml($rdoc.getPlainTitle())</a></li>
    #end
  </ul>
#end
#######################################################
##                   FOOTER
#######################################################
#if($request.xpage == 'backlinks')
        </div> ## xcontent
      </main> ## mainContentArea
    </div> ## main
  #template("endpage.vm")
#end
