## ---------------------------------------------------------------------------
## See the NOTICE file distributed with this work for additional
## information regarding copyright ownership.
##
## This is free software; you can redistribute it and/or modify it
## under the terms of the GNU Lesser General Public License as
## published by the Free Software Foundation; either version 2.1 of
## the License, or (at your option) any later version.
##
## This software is distributed in the hope that it will be useful,
## but WITHOUT ANY WARRANTY; without even the implied warranty of
## MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the GNU
## Lesser General Public License for more details.
##
## You should have received a copy of the GNU Lesser General Public
## License along with this software; if not, write to the Free
## Software Foundation, Inc., 51 Franklin St, Fifth Floor, Boston, MA
## 02110-1301 USA, or see the FSF site: http://www.fsf.org.
## ---------------------------------------------------------------------------
###
### Shows differences between each consecutive document versions
###
###
#template("startpage.vm")
<div class="main layoutsubsection">
## Set as an HTML main for better DOM tree semantics to facilitate navigation with assistive technologies.
<main id="mainContentArea">
#set ($type= "$!{escapetool.xml($request.get('type'))}")
#if ($type == '')
  #set($type = 'html')
#end
#if ("$tdoc.realLocale" != '')
  #set ($lang = "&amp;language=${tdoc.realLocale}")
#else
  #set($lang = '')
#end
$services.localization.render('currentdifftype'): $type (
<a href="$doc.getURL("view", "xpage=changesall&amp;type=wiki$lang")">$services.localization.render('wikidiff')</a>
<a href="$doc.getURL("view", "xpage=changesall&amp;type=source$lang")">$services.localization.render('sourcediff')</a>
<a href="$doc.getURL("view", "xpage=changesall&amp;type=html$lang")">$services.localization.render('htmldiff')</a>
)
#set ($rev2 = $tdoc.getVersion())
## Iterate all revisions in descending order.
#foreach ($rev1 in $tdoc.getRecentRevisions(0))
  #if ($rev1 != $rev2)
    #set ($origdoc = $xwiki.getDocument($tdoc, $rev1))
    #set ($newdoc = $xwiki.getDocument($tdoc, $rev2))
    #template("changesdoc.vm")
    #set ($rev2 = $rev1)
  #end
#end
#set ($newdoc = $origdoc)
#set ($origdoc = $xwiki.getDocument($tdoc, '1.0'))
#template("changesdoc.vm")
<div class="clearfloats"></div>
</main> ## mainContentArea
</div> ## main
#template("endpage.vm")
