## ---------------------------------------------------------------------------
## See the NOTICE file distributed with this work for additional
## information regarding copyright ownership.
##
## This is free software; you can redistribute it and/or modify it
## under the terms of the GNU Lesser General Public License as
## published by the Free Software Foundation; either version 2.1 of
## the License, or (at your option) any later version.
##
## This software is distributed in the hope that it will be useful,
## but WITHOUT ANY WARRANTY; without even the implied warranty of
## MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the GNU
## Lesser General Public License for more details.
##
## You should have received a copy of the GNU Lesser General Public
## License along with this software; if not, write to the Free
## Software Foundation, Inc., 51 Franklin St, Fifth Floor, Boston, MA
## 02110-1301 USA, or see the FSF site: http://www.fsf.org.
## ---------------------------------------------------------------------------
## -------------------------------
## Compute the content to display
## -------------------------------
## Honor the syntax if it's passed in the request.
#try ("contentvmexception")
  #set ($restrictedContent = ($request.restricted == "true"))
  #set ($outputSyntax = $xwiki.getAvailableRendererSyntax($request.outputSyntax, $request.outputSyntaxVersion))
  #if ($outputSyntax)
    #if ($request.contentTransformed == 'false')
      #set ($renderedContent = $services.rendering.render($tdoc.getXDOM(), $outputSyntax.toIdString()))
    #else
      #set ($renderedContent = $tdoc.displayDocument($outputSyntax, $restrictedContent))
    #end
    ## If the passed syntax is not an HTML-compatible syntax we need to HTML-escape it so that it can be
    ## displayed fine in HTML (since at the point this vm file is called we're already inside an HTML page with
    ## panels on the side, header, etc).
    ## That's unless the caller has explicitly asked to not escape the content (this is done for example when calling
    ## get.vm in order to get proper XML).
    #set ($syntaxType = $outputSyntax.type.toIdString())
    #set ($htmlSyntaxTypes = ['html', 'xhtml', 'annotatedhtml'])
    #if (!$htmlSyntaxTypes.contains($syntaxType) && !$noEscapeContent)
      ## Make sure to print correctly the result when it's not HTML.
      #set ($renderedContent = "<pre>$escapetool.html($renderedContent)</pre>")
    #end
  #else
    #set ($renderedContent = $tdoc.displayDocument($restrictedContent))
  #end
#end
