## ---------------------------------------------------------------------------
## See the NOTICE file distributed with this work for additional
## information regarding copyright ownership.
##
## This is free software; you can redistribute it and/or modify it
## under the terms of the GNU Lesser General Public License as
## published by the Free Software Foundation; either version 2.1 of
## the License, or (at your option) any later version.
##
## This software is distributed in the hope that it will be useful,
## but WITHOUT ANY WARRANTY; without even the implied warranty of
## MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the GNU
## Lesser General Public License for more details.
##
## You should have received a copy of the GNU Lesser General Public
## License along with this software; if not, write to the Free
## Software Foundation, Inc., 51 Franklin St, Fifth Floor, Boston, MA
## 02110-1301 USA, or see the FSF site: http://www.fsf.org.
## ---------------------------------------------------------------------------
## ---------------------------------------------------------------------------------------------------------
## This template is called by the create action which binds some context variables as it executes, based on
## the request and the current document. These variables can be used in this template:
## * $spaceReference - the space reference of the new document, read from the "spaceReference" parameter
## * $name - the name to use for the new document, read from the "name" parameter
## * $isSpace - true if we are creating a non-terminal document ($name is the space name), false if we are
##              creating a terminal document ($name is the document name). Determined by the create action
## * $availableTemplateProviders - list of template provider documents available from the current space
##
## Note: Make sure to use these bindings instead of directly using the request parameters, as the bindings
## also consider backwards compatibility and convert older "space" and "page" parameters if they are passed.
## ---------------------------------------------------------------------------------------------------------

## ---------------------------------------------------------------------------------------------------------
## This template can be passed a parent document reference in parameter (using the "parent" parameter).
## If a parent parameter is passed, use it to set the parent when creating the new page.
## If no parent parameter was passed, the create action will determine it to be the current document if it
## exists or the Main space's webhome if the current document does not exist.
## ---------------------------------------------------------------------------------------------------------
#set ($parent = "$!request.getParameter('parent')")

## ---------------------------------------------------------------------------------------------------------
## This parent can be passed a title for the document to create (using the "title" parameter).
## The title is used to automatically compute a page name, which can then be customized by the user.
## If no title is given, the page name (if set) will be used as title.
## ---------------------------------------------------------------------------------------------------------
#if ("$!request.title" != '')
  #set ($title = "$!request.title")
#else
  #set ($title = "$!{escapetool.velocity($name)}")
#end

## ---------------------------------------------------------------------------------------------------------
## Get the passed template provider, if any
## ---------------------------------------------------------------------------------------------------------
#set($templateProvider = "$!request.templateprovider")
## Get the template as well, since in case template provider is missing, template should be used, 
## to allow creation from template directly, without necessarily going through template provider.
#set($template = "$!request.template")

#set ($isAjaxRequest = $request.getHeader('X-Requested-With') == 'XMLHttpRequest')
## If an ajax request we want to display a bootstrap modal.
#if ($isAjaxRequest)
  ## Needed for skin extensions macros.
  #template('display_macros.vm')
  #initRequiredSkinExtensions()
  <div class="modal fade" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
  <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal"
              aria-label="$escapetool.xml($services.localization.render('close'))">
        <span aria-hidden="true">$services.icon.renderHTML('cross')</span>
      </button>
      <div class="modal-title">$services.localization.render('core.create.pageTitle')</div>
    </div>
#end

## ---------------------------------------------------------------------------------------------------------
## If there was an exception creating the page because of invalid space, notify. 
## Should set the other variables only if there is no exception. Otherwise, if there's an exception other than the 
## 11016 one, nothing will be displayed, depending on the other passed parameters.
## ---------------------------------------------------------------------------------------------------------
#set($exception = $createException)
#set ($disableModalConfirmation = false)
## check if the exception is about the non-allowed spaces for template
#if("$!exception" != '' && $exception.code == 11016)
  #set($allowedSpaces = $createAllowedSpaces)
  #define ($errorMessageContent)
    #if ($allowedSpaces.size() == 1)
      $escapetool.xml($services.localization.render('core.create.template.allowedspace.inline', [$templateProvider,
        $allowedSpaces.get(0)]))
    #else
      $escapetool.xml($services.localization.render('core.create.template.allowedspaces.inline', [$templateProvider,
        $allowedSpaces.toString()]))
    #end
  #end
  #error($errorMessageContent)
  #set ($disableModalConfirmation = true)
#end
## check if the exception is about the document which already exists
#if("$!exception" != '' && $exception.code == 11002)
  <div class='box errormessage'>
      ## Use the 'existingDocumentReference' context binding set by the create action for this case.
      $services.localization.render('core.create.page.error.docalreadyexists',
        [$escapetool.xml("${existingDocumentReference}"),
         $xwiki.getURL($existingDocumentReference, 'view', ''),
         $xwiki.getURL($existingDocumentReference, 'edit', '')
        ]
      )
  </div>
  #set ($disableModalConfirmation = true)
#end
## check if the exception is about the document name being invalid
#if("$!exception" != '' && $exception.code == 11018)
<div class='box errormessage'>
  ## Use the 'invalidNameReference' context binding set by the create action for this case.
  $escapetool.xml($services.localization.render('entitynamevalidation.create.invalidNameError', [$invalidNameReference]))
  #if ($isAjaxRequest)
    $escapetool.xml($services.localization.render('entitynamevalidation.create.invalidName.possibleSolutionForLink'))
  #else
    $escapetool.xml($services.localization.render('entitynamevalidation.create.invalidName.possibleSolution'))
  #end
  <br /><br />
  #set ($currentStrategy = $services.modelvalidation.configuration.entityNameValidation)
  #set ($strategyName = $services.localization.render("entitynamevalidation.${currentStrategy}.name"))
  #set ($strategyUsage = $services.localization.render("entitynamevalidation.${currentStrategy}.usage"))
  $escapetool.xml($services.localization.render('entitynamevalidation.create.invalidName.strategyInfo',[$strategyName, $strategyUsage]))
</div>
  #set ($disableModalConfirmation = true)
#end

## check if the exception is about the document having a path too long
#template('hierarchy_macros.vm')
#if("$!exception" != '' && $exception.code == 11017)
  #set ($options = {})
  #set ($documentReference = $services.model.resolveDocument($tooLongPath))
  <div class='box errormessage'>
      $services.localization.render('core.create.page.error.docpathtoolong',
        ["<p>#hierarchy($documentReference, $options)</p>",
          $doc.getLocalReferenceMaxLength(),
          $tooLongPath.length()
        ]
      )
  </div>
  #set ($disableModalConfirmation = true)
#end

## ---------------------------------------------------------------------------------------------------------
## Determine if we need to do extra checks for a deprecated, pre-NestedSpaces request to create a space.
## ---------------------------------------------------------------------------------------------------------
#set ($deprecatedSpaceCreate = "$!request.tocreate" == 'space')

## ---------------------------------------------------------------------------------------------------------
## Note: The list of available template providers is computed in the action and set on the context under
## the "availableTemplateProviders" binding.
## ---------------------------------------------------------------------------------------------------------

## ---------------------------------------------------------------------------------------------------------
## Macro for displaying the available types and templates and changing target space rules accordingly
## ---------------------------------------------------------------------------------------------------------
#macro (displayTypes)
  #if ($template == '')
    #set ($blankTerminalState = !$isSpace)
    #set ($options = [
      { 
        'name': $services.localization.render('core.create.type.default'),
        'options': [
          {
            'name': $services.localization.render('core.create.type.blank'),
            'value': 'blank',
            'description': $services.localization.render('core.create.type.blank.description'),
            'icon': 'file-white',
            'data': {
              'type': 'blank',
              'terminal' : "$blankTerminalState"
            }
          }
        ]
      }])
    #if ($xwiki.exists($services.model.createDocumentReference('', 'XWiki', 'OfficeImporter')) && $services.officemanager.isConnected())
      ## TODO: handle this use case with an extension point
      #set ($discard = $options[0].options.add({
        'name': $services.localization.render('office.createForm.type.name'),
        'value': 'office',
        'description': $services.localization.render('office.createForm.type.description'),
        'icon': 'file-word',
        'data': {
          'type':'office'
        }
      }))
    #end
    #if (!$availableTemplateProviders.isEmpty())
      #set ($templateOptions = [])
      #set ($discard = $options.add({'name': $services.localization.render('core.create.type.templates'), 'options': $templateOptions}))
      #foreach($tpdoc in $availableTemplateProviders)
        #set ($tpobj = $tpdoc.getObject('XWiki.TemplateProviderClass'))
        #set ($tpdocRef = $services.model.serialize($tpdoc.documentReference, 'local'))
        ##
        ## Extract and save in data-* attributes list of allowed spaces to be used in the JavaScript validation of the spaceReference input.
        ##
        #set($jsAllowedSpacesArray = '[]')## Reset any previous value
        #set($allowedSpaces = $tpobj.getValue('creationRestrictions'))
        #if($allowedSpaces.size() == 0)
          ## Backwards compatibility for Template Providers created before 8.3M2.
          #set($allowedSpaces = $tpobj.getValue('spaces'))
        #end
        ## Reset to an empty list when no restrictions are set.
        #if ("$!allowedSpaces" == '')
          #set ($allowedSpaces = [])
        #end
        #if($allowedSpaces.size() > 0)
          #set($jsAllowedSpacesArray = $jsontool.serialize($allowedSpaces))
        #end
        ## Compute the error message.
        #set ($templateProviderName = $services.localization.render($tpobj.getValue('name')))
        #if($allowedSpaces.isEmpty())
          #set($message = '')
        #elseif($allowedSpaces.size() == 1)
          #set($message = $services.localization.render('core.create.template.allowedspace.inline', [$templateProviderName, $jsAllowedSpacesArray]))
        #else
          #set($message = $services.localization.render('core.create.template.allowedspaces.inline', [$templateProviderName, $jsAllowedSpacesArray]))
        #end
        ##
        ## Determine if the creation restrictions are just suggestions
        ##
        #set ($restrictionsAreSuggestions = ($tpobj.getValue('creationRestrictionsAreSuggestions') == 1))
        ##
        ## Determine if it's a terminal page template
        ##
        #set ($isTerminalProvider = $tpobj.getValue('terminal'))
        ## Check if this is an old template provider that has not been migrated (the 'type' property has not been
        ## replaced by the 'terminal' property).
        #set ($type = $tpobj.getValue('type'))
        #if ("$!isTerminalProvider" == '' && ("$!type" != '' || $type == ''))
          ## This must be an old template provider because the 'terminal' property is not set (or it was set to '---'
          ## from the UI) and the 'type' property is still present.
          #if ($type == 'space')
            #set ($isTerminalProvider = false)
          #else
            ## 'page' or '' both resolve to true, for backwards compatibility reasons.
            #set ($isTerminalProvider = true)
          #end
        #else
          #set ($isTerminalProvider = ($isTerminalProvider == 1))
        #end
        ##
        ## Display the template provider field option in the form.
        ##
        #set ($inputId = "xwiki-create-form-${foreach.count}")
        #set ($icon = $tpobj.getValue('icon'))
        #if ("$!icon" == '')
          #set($icon = 'file-white')
        #end
        #set ($discard = $templateOptions.add({
          'name': $services.localization.render($tpobj.getValue('name')),
          'value': "$tpdocRef",
          'description': $services.localization.render($tpobj.getValue('description')),
          'icon': $icon,
          'data': {
            'allowed-spaces': $jsAllowedSpacesArray,
            'allowed-spaces-message': $message,
            'restrictions-are-suggestions': $restrictionsAreSuggestions,
            'type': 'template',
            'terminal' : $isTerminalProvider
          }
        }))
      #end
    #end
    <dt>
      <span class='label'>$services.localization.render('core.create.type')</span>
      <span class="xHint">$escapetool.xml($services.localization.render('core.create.type.hint'))</span>
    </dt>
    #set ($defaultValue = $request.type)
    #if ("$!defaultValue" == '')
      #if ($recommendedTemplateProviders.size() > 0)
        #set ($defaultValue = $services.model.serialize($recommendedTemplateProviders[0].documentReference, 'local'))
      #else
        #set ($defaultValue = 'blank')
      #end
    #end
    <dd>#xwikiSelect('type', $options, $defaultValue, false, 'xwiki-select-adaptable-medium page-type', '', true)</dd>
  #else
    <input type="hidden" name="template" value="$escapetool.xml($template)" />
  #end
#end
#set ($discard = $xwiki.jsfx.use('js/xwiki/create.js', {'forceSkinAction': true}))

## ---------------------------------------------------------------------------------------------------------
## Macro used to extract a wiki's homepage reference.
## ---------------------------------------------------------------------------------------------------------
#macro (getWikiHomePageReference $wiki $return)
  #set ($_wikiHomePageReference = $services.wiki.getById($wiki).mainPageReference)
  #if (!$_wikiHomePageReference)
    #set ($wikiReference = $services.model.createWikiReference($wiki))
    #set ($_wikiHomePageReference = $services.model.resolveDocument('', 'default', $wikiReference))
  #end
  #set ($return = $NULL)
  #setVariable("$return" $_wikiHomePageReference)
#end

## ---------------------------------------------------------------------------------------------------------
## Display the form.
## ---------------------------------------------------------------------------------------------------------
<form action="$doc.getURL('create')" method="post" id="create" class="xform">
#if ($isAjaxRequest)
  <div class="modal-body">
#end
  <fieldset>

  ## Deprecated: Pass along any received page parent.
  <input type='hidden' name='parent' value="$!{escapetool.xml($parent)}"/>

  ## The "templateprovider" field is needed by the CreateAction, even empty.
  ## By the past, it was "xwiki/create.js" which created this field, but it was causing problems when the user sent the
  ## form before the JavaScript code was executed.
  <input type="hidden" name="templateprovider" id="templateprovider" value="" />
  <input type="hidden" name="form_token" value="$!{escapetool.xml($services.csrf.getToken())}"/>

  <div class='row'>
    ## Hide the first column when displayed in an AJAX call by clicking on a Wanted Link, because we know the target
    ## location from the link reference.
    #if (!$isAjaxRequest)
      ## Determine the parent reference for the new document.
      #set ($parentReference = $spaceReference)
      #if (!$parentReference)
        ## No parent reference specified.
        #if ($doc.isNew())
          ## Encourage the user to create the current document.
          #set ($parentReference = $doc.documentReference.parent)
          #if ($doc.documentReference.name == 'WebHome')
            #set ($parentReference = $parentReference.parent)
          #end
        #else
          #getWikiHomePageReference($doc.wiki $homeReference)
          #if ($doc.documentReference.equals($homeReference) || $deprecatedSpaceCreate)
            ## Encourage the user to create top level documents from the home page.
            #set ($parentReference = $doc.documentReference.wikiReference)
          #else
            ## Encourage the user to create a child or sibling of the current document.
            #set ($parentReference = $doc.documentReference.lastSpaceReference)
          #end
        #end
      #end

      ## Display the location picker.
      <div class='col-xs-12 col-lg-6'>
        #template('locationPicker_macros.vm')
        ## The create action doesn't support changing the location when the current document doesn't exist (i.e. it
        ## forces you to create the current document that is missing). For this reason we make the name and parent fields
        ## read-only when the current document is new.
        #locationPicker({
          'id': 'target',
          'title': {
            'label': 'core.create.title',
            'hint': 'core.create.title.hint',
            'name': 'title',
            'value': $title,
            'placeholder': 'core.create.name.placeholder'
          },
          'preview': {
            'label': 'core.create.locationPreview.label',
            'hint': 'core.create.locationPreview.hint'
          },
          'parent': {
            'label': 'core.create.spaceReference.label',
            'hint': 'core.create.spaceReference.hint',
            'name': 'spaceReference',
            'reference': $parentReference,
            'placeholder': 'core.create.spaceReference.placeholder',
            'readOnly': $doc.isNew()
          },
          'name': {
            'label': 'core.create.name.label',
            'hint': 'core.create.name.hint',
            'name': 'name',
            'value': $name,
            'placeholder': 'core.create.name.placeholder',
            'readOnly': $doc.isNew()
          }
        })
      </div>
    #else
      ## First column is hidden.
      ## Pass along the known values as hidden inputs.
      ##
      <input type='hidden' name='title' value="$!{escapetool.xml($title)}"/>
      <input type='hidden' id='name' name='name' value="$!{escapetool.xml($name)}" />
      #set ($spaceReferenceLocalString = $services.model.serialize($spaceReference, 'local'))
      <input type='hidden' id='spaceReference' name='spaceReference' value="$!{escapetool.xml($spaceReferenceLocalString)}" />
    #end
    <div class='col-xs-12#if (!$isAjaxRequest) col-lg-6#end'>
      <dl>
        #if ($isAjaxRequest)
          ## The first column that shows the location preview is hidden when creating a new page from a Wanted Link so we
          ## need to show this information elsewhere. Even if the target page reference can't be modified by the user,
          ## they should still see where the page is going to be created.
          <dt>
            <span class='label'>$escapetool.xml($services.localization.render('core.create.pageTitle'))</span>
          </dt>
          <dl>
            #set ($targetDocumentReference = $services.model.createDocumentReference($name, $spaceReference))
            #hierarchy($targetDocumentReference)
          </dl>
        #end
        ## ---------------------------------------------------------------------------------------------------------
        ## Page type
        ## ---------------------------------------------------------------------------------------------------------
        #displayTypes()
        ## ---------------------------------------------------------------------------------------------------------
        ## Terminal page - Advanced users
        ## ---------------------------------------------------------------------------------------------------------
        #set ($hidden = '')
        ## Top level documents cannot be terminal.
        #set ($isTopLevelDoc = $doc.documentReference.name == 'WebHome' &&
          $doc.documentReference.lastSpaceReference.parent.type == 'WIKI')
        #if (!($isAdvancedUser || $isSuperAdmin) || $deprecatedSpaceCreate || ($doc.isNew() && $isTopLevelDoc))
          #set ($hidden = 'hidden')
        #end
        <dt class="$hidden">
          <input type="checkbox" id="terminal" name="tocreate" value="terminal" #if(!$isSpace)checked="checked"#end/>
          <label for="terminal">$services.localization.render('core.create.terminal.label')</label>
          ## Hidden input used to ensure that an unchecked terminal checkbox means non-terminal and that the default is not used by mistake.
          <input type="hidden" name="tocreate" value="nonterminal" />
        </dt>
        <dd class="$hidden">
          <span class="xHint">$services.localization.render('core.create.terminal.hint')</span>
        </dd>
      </dl>
    </div>
  </div>

#if (!$isAjaxRequest)
  <div class='buttons'>
    <span class='buttonwrapper'>
      <input type='submit' class='button' value="$services.localization.render('create')"/>
    </span>
    <span class="buttonwrapper">
      <a class="secondary button" href="$doc.getURL()">$services.localization.render('cancel')</a>
    </span>
  </div>
#end
  </fieldset>
#if ($isAjaxRequest)
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-default" data-dismiss="modal">$services.localization.render('cancel')</button>
    <button type="submit" class="btn btn-primary" #if($disableModalConfirmation)disabled="disabled")#end>
      $services.localization.render('create')
    </button>
  </div>
  </form>
</div><!-- /.modal-content -->
</div><!-- /.modal-dialog -->
</div><!-- /.modal -->
  #getRequiredSkinExtensions($requiredSkinExtensions)
  #set ($discard = $response.setHeader('X-XWIKI-HTML-HEAD', $requiredSkinExtensions))
#else
  </form>
#end
