## ---------------------------------------------------------------------------
## See the NOTICE file distributed with this work for additional
## information regarding copyright ownership.
##
## This is free software; you can redistribute it and/or modify it
## under the terms of the GNU Lesser General Public License as
## published by the Free Software Foundation; either version 2.1 of
## the License, or (at your option) any later version.
##
## This software is distributed in the hope that it will be useful,
## but WITHOUT ANY WARRANTY; without even the implied warranty of
## MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the GNU
## Lesser General Public License for more details.
##
## You should have received a copy of the GNU Lesser General Public
## License along with this software; if not, write to the Free
## Software Foundation, Inc., 51 Franklin St, Fifth Floor, Boston, MA
## 02110-1301 USA, or see the FSF site: http://www.fsf.org.
## ---------------------------------------------------------------------------
#macro (unifiedDiff $previous $next $conflicts)
  #set ($discard = $xwiki.ssfx.use('uicomponents/viewers/diff.css', true))
  #set ($discard = $xwiki.jsfx.use('uicomponents/viewers/diff.js'))
  <div class="diff-container">
    <table>
    #foreach ($block in $services.diff.display.unified($previous, $next, $conflicts))
      <tr #if ($block.isConflicting())class="diff-conflict"#end>
        <td class="diff-line-number">...</td>
        <td class="diff-line-number">...</td>
        #set ($previousMeta = "-$mathtool.add($block.previousStart, 1),$block.previousSize")
        #set ($nextMeta = "+$mathtool.add($block.nextStart, 1),$block.nextSize")
        <td class="diff-line diff-line-meta">@@ $previousMeta $nextMeta @@</td>
      </tr>
      #foreach ($line in $block)
        <tr #if ($block.isConflicting())class="diff-conflict"#end>
          #set ($lineNumber = $line.index + 1)
          <td class="diff-line-number">#if (!$line.added)$lineNumber#end</td>
          <td class="diff-line-number">#if (!$line.deleted)$lineNumber#end</td>
          <td class="diff-line diff-line-$line.type.toString().toLowerCase()">#unifiedDiffLine($line)</td>
        </tr>
      #end
      #if ($block.isConflicting())
        #displayConflict($block)
      #end
    #end
    </table>
  </div>
#end

#macro (displayConflict $block)
<tr class="diff-conflict-resolution">
  <td class="diff-line-number"><span class="fa fa-pencil"></span></td>
  <td class="diff-line-number"></td>
  <td class="diff-line diff-line-decision" id="conflict_decision_container_$block.conflict.reference">
    #displayConflictValue($block.conflict "current")
    #displayConflictValue($block.conflict "previous")
    #displayConflictValue($block.conflict "next")
    <textarea class="form-control diff-decision" name="conflict_decision_value_custom" id="conflict_decision_value_custom_$block.conflict.reference"></textarea>
    <input type="hidden" id="conflict_id_$block.conflict.reference" name="conflict_id" value="$block.conflict.reference" />
    <select class="diff-choices" id="conflict_decision_select_$block.conflict.reference" name="conflict_decision_select">
      <option value="current" selected="selected">$services.localization.render("core.editors.save.previewDiff.versionToCompare.current")</option>
      <option value="previous">$services.localization.render("core.editors.save.previewDiff.versionToCompare.previous")</option>
      <option value="next">$services.localization.render("core.editors.save.previewDiff.versionToCompare.next")</option>
      <option value="custom">$services.localization.render("core.editors.save.previewDiff.versionToCompare.custom")</option>
    </select>
  </td>
</tr>
#end

#macro (displayConflictValue $conflict $version)
  #set ($spanId = "conflict_decision_value_${version}_${conflict.reference}")
  #set ($value = [])
  #if ($version == "current")
    #set ($value = $conflict.currentElement)
  #elseif ($version == "previous")
    #set ($value = $conflict.previousElement)
  #elseif ($version == "next")
    #set ($value = $conflict.nextElement)
  #end
  #if ($value.isEmpty())
    #set ($spanClass = "diff-decision empty-decision-value")
    #set ($value = [$services.localization.render("core.editors.save.previewDiff.emptyDecisionValue")])
  #else
    #set ($spanClass = "diff-decision")
  #end

## We do not want the renderer to add any extra spaces or linebreaks in this output.
#* *#<span class="$spanClass" id="$spanId">##
#*   *##foreach ($v in $value)
#*     *#$escapetool.xml($v)##
#*     *##if ($foreach.hasNext)
#*       *#<br/>##
#*     *##end
#*   *##end
#* *#</span>
#end

#macro (displayPropertyDiff $propertyName $previousValue $newValue $_obfuscate $conflicts $realPropertyName)
  #set ($previousValue = "$!previousValue")
  #set ($newValue = "$!newValue")
  #if (!$_obfuscate && $previousValue != $newValue
      && $previousValue.replaceAll('\r\n', $util.getNewline()) == $newValue.replaceAll('\r\n', $util.getNewline()))
    #set ($_obfuscate = 'web.history.changes.lineEndings')
  #end
  <dt class="diff-header" #if("$!realPropertyName" != "")data-property-name="$escapetool.xml($realPropertyName)"#end>
    $propertyName
    #if ($_obfuscate)
      <span class="diff-info-icon" title="$services.localization.render($_obfuscate)">
        $services.icon.renderHTML('info')
      </span>
    #end
  </dt>
  ## TODO: For now we only want to display conflicts if the property is content
  #set ($contentLabel = $services.localization.render('web.history.changes.document.content'))
  #if ($propertyName.equals($contentLabel))
    #set ($conflictsDiff = $conflicts)
  #else
    #set ($conflictsDiff = $NULL)
  #end
  #if (!$_obfuscate)
    <dd>#unifiedDiff($previousValue $newValue $conflictsDiff)</dd>
  #end
  #set ($_obfuscate = $NULL)
#end

#macro (maybeDisplayPropertyDiff $propertyName $previousValue $newValue $_obfuscate $conflicts $realPropertyName)
  ## Test if the raw values are different.
  #if ($previousValue != $newValue)
    #displayPropertyDiff($propertyName $previousValue $newValue $_obfuscate $conflicts $realPropertyName)
  #end
#end

#macro (displayXPropertyDiff $diff $propertyPrettyName $fieldName)
  #if (!$propertyPrettyName)
    #set ($xclass = $xwiki.getDocument($diff.className).getxWikiClass())
    #set ($propertyPrettyName = "$!xclass.get($diff.propName).translatedPrettyName")
    #if ($propertyPrettyName == '')
      #set ($propertyPrettyName = $diff.propName)
    #end
  #end
  #set ($obfuscate = $NULL)
  #if ($diff.propType == 'Password' || ($diff.propType == 'Email' && $diff.className == 'XWiki.XWikiUsers'))
    #set ($obfuscate = 'web.history.changes.privateInformation')
  #end
  #if (!$fieldName)
    #set ($realName = $diff.propName)
  #else
    #set ($realName = $fieldName)
  #end
  #displayPropertyDiff($propertyPrettyName $diff.prevValue $diff.newValue $obfuscate $NULL $realName)
  #set ($propertyPrettyName = $NULL)
#end

#macro (displayDocumentFieldsDiff $oldDoc $newDoc $metaDataDiff $tagsDiff $conflicts)
  <dl class="diff-group">
    #set ($documentReference = $oldDoc.documentReference)
    #if (!$documentReference)
      #set ($documentReference = $newDoc.documentReference)
    #end
    <dt id="#diffAnchor($documentReference)" #diffDataReference($documentReference)>
      #diffIcon('file-text' 'change')
      $services.localization.render('web.history.changes.summary.documentProperties')
    </dt>
    <dd>
      <dl>
        #foreach ($fieldDiff in $metaDataDiff)
          #set ($fieldPrettyName = $services.localization.render("core.viewers.diff.metadata.$fieldDiff.field"))
          #displayXPropertyDiff($fieldDiff $fieldPrettyName $fieldDiff.field)
        #end
        #if ($tagsDiff)
          #foreach ($propertyDiff in $tagsDiff)
            #if ($propertyDiff.action != 'object-added' && $propertyDiff.action != 'object-removed')
              #displayXPropertyDiff($propertyDiff)
            #end
          #end
        #end
        #set ($contentLabel = $services.localization.render('web.history.changes.document.content'))
        #maybeDisplayPropertyDiff($contentLabel $oldDoc.content $newDoc.content $NULL $conflicts 'content')
      </dl>
    </dd>
  </dl>
#end

#macro (getAttachmentTextContent $attachment $return)
  #set ($content = $NULL)
  #if ($attachment && $attachment.longSize < 50000)
    #set ($mimeType = $attachment.mimeType)
    #set ($textMimeTypes = ['text/', 'application/xml', 'application/javascript', 'application/ecmascript',
      'application/json', 'application/x-sh', '+xml'])
    #foreach ($textMimeType in $textMimeTypes)
      #if ($mimeType == $textMimeType || $mimeType.startsWith($textMimeType) || $mimeType.endsWith($textMimeType))
        #set ($content = $attachment.contentAsString)
        #break
      #end
    #end
  #end
  #set ($return = $NULL)
  #setVariable("$return" $content)
#end

#macro (displayAttachmentDiff $attachmentDiff)
  <dl>
    #set ($oldAttachment = $attachmentDiff.origAttachment)
    #set ($newAttachment = $attachmentDiff.newAttachment)
    ##
    ## Author
    ##
    #set ($oldAuthor = $oldAttachment.author)
    #set ($newAuthor = $newAttachment.author)
    #set ($authorLabel = $services.localization.render('web.history.changes.attachment.author'))
    #maybeDisplayPropertyDiff($authorLabel $oldAuthor $newAuthor $NULL $NULL 'attachment.author')
    ##
    ## Size
    ##
    #set ($oldSize = '')
    #if ($oldAttachment.longSize)
      #set ($oldSize = "#dynamicsize($oldAttachment.longSize)")
      #set ($oldSize = $oldSize.trim())
    #end
    #set ($newSize = '')
    #if ($newAttachment.longSize)
      #set ($newSize = "#dynamicsize($newAttachment.longSize)")
      #set ($newSize = $newSize.trim())
    #end
    #if ($oldSize == $newSize)
      ## Sometimes the change is too small to have an effect on the displaed value (e.g. you add one byte to a one MB
      ## file). In this case fallback on the raw size values (in bytes).
      #set ($oldSize = $oldAttachment.longSize)
      #set ($newSize = $newAttachment.longSize)
    #end
    #set ($sizeLabel = $services.localization.render('web.history.changes.attachment.size'))
    #maybeDisplayPropertyDiff($sizeLabel $oldSize $newSize $NULL $NULL 'attachment.size')
    ##
    ## Content
    ##
    #getAttachmentTextContent($oldAttachment $oldContent)
    #getAttachmentTextContent($newAttachment $newContent)
    #set ($obfuscate = $NULL)
    #if (($oldAttachment && !$oldContent) || ($newAttachment && !$newContent))
      #set ($obfuscate = 'web.history.changes.attachment.noContentChanges')
    #end
    #if (!$oldContent && !$newContent)
      ## Force the display of the diff header.
      #set ($newContent = '')
    #end
    #if ($oldContent.length() == 0 || $newContent.length() == 0)
      #set ($obfuscate = 'web.history.changes.attachment.notAvailable')
    #end
    #set ($contentLabel = $services.localization.render('web.history.changes.attachment.content'))
    #maybeDisplayPropertyDiff($contentLabel $oldContent $newContent $obfuscate $NULL 'attachment.content')
  </dl>
#end

#macro (displayAttachmentDiffs $attachmentDiffs)
  <dl class="diff-group">
    #foreach ($attachmentDiff in $attachmentDiffs)
      #set ($ownerDocument = $attachmentDiff.origAttachment.document)
      #if (!$ownerDocument)
        #set ($ownerDocument = $attachmentDiff.newAttachment.document)
      #end
      #set ($attachmentReference = $services.model.createAttachmentReference($ownerDocument.documentReference,
        $attachmentDiff.fileName))
      <dt id="#diffAnchor($attachmentReference)" #diffDataReference($attachmentReference)>
        #diffIcon('attach' $attachmentDiff.type)
        $escapetool.xml($attachmentDiff.fileName)
      </dt>
      <dd>#displayAttachmentDiff($attachmentDiff)</dd>
    #end
  </dl>
#end

#macro (displayObjectDiff $objectDiff)
  <dl>
    #foreach ($propertyDiff in $objectDiff)
      #if ($propertyDiff.action != 'object-added' && $propertyDiff.action != 'object-removed')
        #displayXPropertyDiff($propertyDiff)
      #end
    #end
  </dl>
#end

#macro (displayObjectDiffs $ownerDocumentReference $objectDiffs)
  <dl class="diff-group">
    #foreach ($objectDiff in $objectDiffs)
      #set ($_objectDiff = $objectDiff.get(0))
      #set ($objectName = "${_objectDiff.className}[$_objectDiff.number]")
      #set ($objectReference = $services.model.createEntityReference($objectName, 'OBJECT', $ownerDocumentReference))
      <dt id="#diffAnchor($objectReference)" #diffDataReference($objectReference)>
        #set ($action = $stringtool.removeStart($_objectDiff.action, 'object-'))
        #diffIcon('cubes', $action) $escapetool.xml($objectName)
      </dt>
      <dd>#displayObjectDiff($objectDiff)</dd>
    #end
  </dl>
#end

#macro (displayClassDiff $oldClass $newClass $classDiff)
  <dl class="diff-group">
    #set ($className = $oldClass.name)
    #if ("$!className" == '')
      #set ($className = $newClass.name)
    #end
    #foreach ($propertyDiff in $classDiff)
      #set ($classReference = $services.model.resolveDocument($className))
      #set ($classPropertyReference = $services.model.createEntityReference($propertyDiff.propName, 'CLASS_PROPERTY',
        $classReference))
      <dt id="#diffAnchor($classPropertyReference)" #diffDataReference($classPropertyReference) title="$escapetool.xml($className)">
        #diffIcon('cube' $propertyDiff.action)
        $propertyDiff.propName
      </dt>
      ## Unfortunately the class property diff doesn't tell us much except for the action.
      #set ($oldProperty = $oldClass.get($propertyDiff.propName))
      #set ($newProperty = $newClass.get($propertyDiff.propName))
      <dd>#displayClassPropertyDiff($oldProperty $newProperty)</dd>
    #end
  </dl>
#end

#macro (displayClassPropertyDiff $oldProperty $newProperty)
  ## These meta-properties are not fully implemented, or almost never used.
  #set ($hiddenMetaProperties = ['tooltip', 'unmodifiable', 'contenttype', 'disabled'])
  <dl>
    ## Show the meta properties that have been modified or removed.
    #foreach ($oldMetaProperty in $oldProperty.getProperties())
      #if (!$hiddenMetaProperties.contains($oldMetaProperty.name))
        #set ($newMetaProperty = $newProperty.getProperty($oldMetaProperty.name))
        #set ($prettyName = $oldProperty.xWikiClass.get($oldMetaProperty.name).translatedPrettyName)
        ## Show the diff between the string values (considering the empty string is the same as NULL).
        #maybeDisplayPropertyDiff($prettyName "$!oldMetaProperty.value" "$!newMetaProperty.value" $NULL $NULL $oldMetaProperty.name)
      #end
    #end
    ## Show the meta properties that have been added.
    #foreach ($newMetaProperty in $newProperty.getProperties())
      #set ($oldMetaProperty = $oldProperty.getProperty($newMetaProperty.name))
      #if (!$oldMetaProperty && !$hiddenMetaProperties.contains($newMetaProperty.name))
        #set ($prettyName = $newProperty.xWikiClass.get($newMetaProperty.name).translatedPrettyName)
        #maybeDisplayPropertyDiff($prettyName '' "$!newMetaProperty.value" $NULL $NULL $newMetaProperty.name)
      #end
    #end
  </dl>
#end

#macro (createDocumentDiff $oldDoc $newDoc $return)
  #set ($docInstance = $oldDoc)
  #if ("$!docInstance" == "")
    #set ($docInstance = $newDoc)
  #end
  #set ($return = $NULL)
  #if ("$!docInstance" != "")
    #set ($objectDiffs = [])
    #set ($tagsDiff = $NULL)
    #foreach ($objectDiff in $docInstance.getObjectDiff($oldDoc, $newDoc))
      #if ($objectDiff.get(0).className == 'XWiki.TagClass')
        #set ($tagsDiff = $objectDiff)
      #else
        #set ($discard = $objectDiffs.add($objectDiff))
      #end
    #end
    #set ($classDiff = $docInstance.getClassDiff($oldDoc, $newDoc))
    #if ($classDiff && $classDiff.size() > 0)
      #set ($classDiff = $classDiff.get(0))
    #end
    #set ($documentReference = $docInstance.documentReference)

    #setVariable("$return" {
      'documentReference': $documentReference,
      'oldDoc': $oldDoc,
      'newDoc': $newDoc,
      'metaData': $docInstance.getMetaDataDiff($oldDoc, $newDoc),
      'tags': $tagsDiff,
      'attachments': $docInstance.getAttachmentDiff($oldDoc, $newDoc),
      'objects': $objectDiffs,
      'classProperties': $classDiff
    })
  #end
#end

#macro (displayDocumentDiff $docDiff $conflicts)
  ##
  ## Document properties: title, content, tags, author, language...
  ##
  #set ($hasContentChanges = $docDiff.oldDoc && $docDiff.newDoc && $docDiff.oldDoc.content != $docDiff.newDoc.content)
  #if ($docDiff.metaData.size() > 0 || $docDiff.tags || $hasContentChanges)
    #displayDocumentFieldsDiff($docDiff.oldDoc $docDiff.newDoc $docDiff.metaData $docDiff.tags $conflicts)
  #end
  ##
  ## Attachment changes
  ##
  #if ($docDiff.attachments.size() > 0)
    #displayAttachmentDiffs($docDiff.attachments)
  #end
  ##
  ## Object changes
  ##
  #if ($docDiff.objects.size() > 0)
    #displayObjectDiffs($docDiff.newDoc.documentReference $docDiff.objects)
  #end
  ##
  ## Class changes
  ##
  #if ($docDiff.classProperties.size() > 0)
    #set ($oldClass = $docDiff.oldDoc.getxWikiClass())
    #set ($newClass = $docDiff.newDoc.getxWikiClass())
    #displayClassDiff($oldClass $newClass $docDiff.classProperties)
  #end
#end

#macro (createDocumentDiffSummary $docDiff $return)
  #set ($entries = [])
  #addDocumentPropertiesDiffSummary($docDiff $entries)
  #addAttachmentsDiffSummary($docDiff $entries)
  #addObjectsDiffSummary($docDiff $entries)
  #addClassPropertiesDiffSummary($docDiff $entries)
  #set ($return = $NULL)
  #setVariable("$return" {
    'documentReference': $docDiff.documentReference,
    'entries': $entries
  })
#end

#macro (addDocumentPropertiesDiffSummary $docDiff $entries)
  #set ($documentPropertiesSummary = {
    'icon': 'file-text',
    'name': 'web.history.changes.summary.documentProperties',
    'modified': $docDiff.metaData.size(),
    'added': 0,
    'removed': 0
  })
  #if ($docDiff.tags)
    #set ($documentPropertiesSummary.modified = $documentPropertiesSummary.modified + 1)
  #end
  #if ($docDiff.oldDoc && $docDiff.newDoc && $docDiff.oldDoc.content != $docDiff.newDoc.content)
    #set ($documentPropertiesSummary.modified = $documentPropertiesSummary.modified + 1)
  #end
  #if ($documentPropertiesSummary.modified > 0)
    #set ($discard = $entries.add($documentPropertiesSummary))
  #end
#end

#macro (addAttachmentsDiffSummary $docDiff $entries)
  #set ($attachmentsSummary = {
    'icon': 'attach',
    'name': 'web.history.changes.summary.attachments',
    'modified': 0,
    'added': 0,
    'removed': 0,
    'details': []
  })
  #foreach ($attachmentDiff in $docDiff.attachments)
    #set ($action = $attachmentDiff.type)
    #if ($action == 'change')
      #set ($attachmentsSummary.modified = $attachmentsSummary.modified + 1)
    #elseif ($action == 'insert')
      #set ($attachmentsSummary.added = $attachmentsSummary.added + 1)
    #else
      #set ($attachmentsSummary.removed = $attachmentsSummary.removed + 1)
    #end
    #set ($discard = $attachmentsSummary.details.add({
      'action': $action,
      'reference': $services.model.createAttachmentReference($docDiff.documentReference, $attachmentDiff.fileName)
    }))
  #end
  #if ($attachmentsSummary.details.size() > 0)
    #set ($discard = $entries.add($attachmentsSummary))
  #end
#end

#macro (addObjectsDiffSummary $docDiff $entries)
  #set ($objectsSummary = {
    'icon': 'cubes',
    'name': 'web.history.changes.summary.objects',
    'modified': 0,
    'added': 0,
    'removed': 0,
    'details': []
  })
  #foreach ($objectDiff in $docDiff.objects)
    #set ($_objectDiff = $objectDiff.get(0))
    #set ($action = $stringtool.removeStart($_objectDiff.action, 'object-'))
    #if ($action == 'added')
      #set ($objectsSummary.added = $objectsSummary.added + 1)
    #elseif ($action == 'removed')
      #set ($objectsSummary.removed = $objectsSummary.removed + 1)
    #else
      #set ($objectsSummary.modified = $objectsSummary.modified + 1)
    #end
    #set ($objectName = "${_objectDiff.className}[$_objectDiff.number]")
    #set ($discard = $objectsSummary.details.add({
      'action': $action,
      'reference': $services.model.createEntityReference($objectName, 'OBJECT', $docDiff.documentReference)
    }))
  #end
  #if ($objectsSummary.details.size() > 0)
    #set ($discard = $entries.add($objectsSummary))
  #end
#end

#macro (addClassPropertiesDiffSummary $docDiff $entries)
  #set ($classPropertiesSummary = {
    'icon': 'cube',
    'name': 'web.history.changes.summary.classProperties',
    'modified': 0,
    'added': 0,
    'removed': 0,
    'details': []
  })
  #foreach ($propertyDiff in $docDiff.classProperties)
    #if ($propertyDiff.action == 'added')
      #set ($classPropertiesSummary.added = $classPropertiesSummary.added + 1)
    #elseif ($propertyDiff.action == 'removed')
      #set ($classPropertiesSummary.removed = $classPropertiesSummary.removed + 1)
    #else
      #set ($classPropertiesSummary.modified = $classPropertiesSummary.modified + 1)
    #end
    #set ($discard = $classPropertiesSummary.details.add({
      'action': $propertyDiff.action,
      'reference': $services.model.createEntityReference($propertyDiff.propName, 'CLASS_PROPERTY',
        $docDiff.documentReference)
    }))
  #end
  #if ($classPropertiesSummary.details.size() > 0)
    #set ($discard = $entries.add($classPropertiesSummary))
  #end
#end

#macro (displayDocumentDiffSummary $summary)
  #if ($summary.entries.isEmpty())
    #info($services.localization.render('web.history.changes.noChanges'))
  #else
    <ul class="diff-summary">
      #foreach ($entry in $summary.entries)
        #set ($hasDetails = $entry.details && $entry.details.size() > 0)
        #if ($hasDetails)
          #set ($detailsAnchor = "document:$summary.documentReference:$entry.name")
          #set ($detailsAnchor = "summary$detailsAnchor.hashCode()")
        #else
          #set ($detailsAnchor = "#diffAnchor($summary.documentReference)")
        #end
        <li data-documentreference="$escapetool.xml($services.model.serialize($documentReference, 'default'))"
            data-documentlocale="$documentReference.locale"
            #diffVersionAttribute($documentDiff.previousReference.version)>
          <div class="diff-summary-item">
            $services.icon.renderHTML($entry.icon)
            <a href="#$detailsAnchor">$services.localization.render($entry.name)</a>
            <span class="diff-summary-item-hint">
              ($services.localization.render('web.history.changes.summary.modifiedAddedRemoved',
                [$entry.modified, $entry.added, $entry.removed]))
            </span>
          </div>
          #if ($hasDetails)
            <ul id="$detailsAnchor">
              #foreach ($detail in $entry.details)
                <li class="diff-summary-item">
                  #diffIcon($entry.icon $detail.action)
                  <a href="$escapetool.h#diffAnchor($detail.reference)">
                    $escapetool.xml($detail.reference.name)
                  </a>
                </li>
              #end
            </ul>
          #end
        </li>
      #end
    </ul>
  #end
#end

#macro (displayDocumentVersionInfo $targetDoc $version $previousVersionLink $nextVersionLink $title)
  #if ("$!version" == '')
    <div class="changes-info-title">$escapetool.xml($services.localization.render('core.viewers.diff.fromNew'))</div>
  #else
    #try('invalidVersionException')
      #set ($discard = $targetDoc.getRevisionInfo($version))
    #end
    #if ($invalidVersionException)
      #set ($versionURL = "#$escapetool.url($version)")
    #else
      #set ($versionURL = $targetDoc.getURL('view', $escapetool.url({'rev': $version})))
    #end
    #set ($versionLink = "<a href='$versionURL'>$escapetool.xml($version)</a>")
    #set ($versionSpan = "<span class='changes-version'>$!previousVersionLink $versionLink $!nextVersionLink</span>")
    <div class="changes-info-title">
      $services.localization.render($title, [$versionSpan])
    </div>
    <div class="changes-info-content">
      #if ($targetDoc)
        $services.localization.render('core.viewers.diff.editedBy', [$xwiki.getUserName($targetDoc.authors.originalMetadataAuthor)])
        <br/>
        $services.localization.render('core.viewers.diff.editedOn', [$xwiki.formatDate($targetDoc.date)])
      #end
    </div> ## changes-info-content
    <div class="changes-info-comment">
      $escapetool.xml($services.localization.render('core.viewers.diff.editComment'))
      #if ("$targetDoc.comment" == '')
        $escapetool.xml($services.localization.render('core.viewers.diff.noEditComment'))
      #else
        $escapetool.xml($targetDoc.comment)
      #end
    </div> ## changes-info-comment
  #end
#end

#macro (displayDocumentChangesHeader $from $to)
  <div id="changes-info">
    <div id="changes-info-boxes">
      #if ("$!from.previousLink" != '' || "$!to.nextLink" != '')
        <div id='changes-arrows-box'>
          #if ("$!from.previousLink" != '')
            <a href="$from.previousLink" class="btn btn-default changes-arrow-left">
              $services.icon.renderHTML('left') $from.previousLabel
            </a>
          #end
          #if ("$!to.nextLink" != '')
            <a href="$to.nextLink" class="btn btn-default changes-arrow-right">
              $to.nextLabel $services.icon.renderHTML('right')
            </a>
          #end
        </div>
      #end
      <div id="changes-info-box-from" class="changes-info-box">
        #displayDocumentVersionInfo($from.doc $from.version $from.previousVersionLink $from.nextVersionLink 'core.viewers.diff.from')
      </div> ## changes-info-box-from
      <div id="changes-info-box-to" class="changes-info-box">
        #displayDocumentVersionInfo($to.doc $to.version $to.previousVersionLink $to.nextVersionLink 'core.viewers.diff.to')
      </div> ## changes-info-box-to
    </div> ## changes-info-boxes
  </div> ## changes-info
#end

#macro (displayDocumentRawChanges $origdoc $newdoc $conflictsList)
  ## Make the heading level adjustable when this macro is called.
  #if (!$headingLevel)
    #set ($headingLevel = 2)
  #end
  ## If both docs are null we don't display anything
  #if ("$!origdoc" != "" || "$!newdoc" != "")
    #createDocumentDiff($origdoc $newdoc $docDiff)
    #createDocumentDiffSummary($docDiff $summary)
    <h$headingLevel>
      $escapetool.xml($services.localization.render('web.history.changes.summary'))
    </h$headingLevel>
    #displayDocumentDiffSummary($summary)
    #if ($summary.entries.size() > 0)
      <h$headingLevel>
        $escapetool.xml($services.localization.render('web.history.changes.details'))
      </h$headingLevel>
      #displayDocumentDiff($docDiff $conflictsList)
    #end
  #end
#end

#macro (displayDocumentChanges $from $to $conflictsList)
  #displayDocumentChangesHeader($from $to)
  <div class="changes-body">
    #displayDocumentRawChanges($from.doc $to.doc $conflictsList)
  </div>
#end

##
## New macros used to display differences, in unified format, between two versions of an XWiki entity.
##

##
## Helpers
##

#macro (unifiedDiffLine $line)
#if($line.type.symbol == ' ')&nbsp;#else$line.type.symbol#end##
#if ($line.chunks)##
#inlineDiffLine($line.chunks)##
#else##
$escapetool.xml($line.value)##
#end
#end

#macro (inlineDiffLine $chunks)
#foreach ($chunk in $chunks)
#set ($escapedChunk = $escapetool.xml($chunk))
#if ($chunk.added)##
<ins>$escapedChunk</ins>##
#elseif ($chunk.deleted)##
<del>$escapedChunk</del>##
#else##
$escapedChunk##
#end
#end
#end

#macro (diffIcon $icon $action)
  #set ($_action = "$!action")
  #set ($_action = $_action.toLowerCase())
  #set ($aliases = {
    'added': 'insert',
    'removed': 'delete',
    'changed': 'change',
    '': 'change'
  })
  #if ($aliases.containsKey($_action))
    #set ($_action = $aliases.get($_action))
  #end
  <span class="diff-icon diff-icon-$_action" title="$_action">
    $services.icon.renderHTML($icon)
  </span>
#end

#macro (diffAnchor $entityReference)
#set ($id = "$!entityReference.type:$!services.model.serialize($entityReference, 'default')")
#if ($entityReference.type == 'DOCUMENT')
## We need different anchors for different document translations.
#set ($id = "${id}_$!entityReference.locale")
#end
diff$id.hashCode()##
#end

#macro (diffDataReference $entityReference)
  #set ($id = "$!entityReference.type:$!services.model.serialize($entityReference, 'default')")
  #if ($entityReference.type == 'DOCUMENT' && "$!entityReference.locale" != '')
    ## We need different anchors for different document translations.
    #set ($id = "${id}_$!entityReference.locale")
  #end
data-reference="$escapetool.xml($id)"
#end

#macro (diffVersion $version)
#if ($version.id && $version.version)
## Seems to be an extension id.
#set ($macro.extension = $services.extension.local.repository.resolve($version))
#if ($macro.extension)$macro.extension.name#else$version.id#end ${version.version}##
#else
$!version##
#end
#end

#macro (diffVersionAttribute $version)
#if ($version.id && $version.version)
## Seems to be an extension id.
data-documentextensionid="${version.id}" data-documentextensionversion="${version.version}"##
#else
data-documentversion="$!version"##
#end
#end

#macro (displayDocumentUnifiedDiffsWithSummary $documentDiffs $headingLevel)
  <h$headingLevel>$services.localization.render('web.history.changes.summary')</h$headingLevel>
  #displayDocumentUnifiedDiffsSummary($documentDiffs)
  #if ($documentDiffs.size() > 0)
    <h$headingLevel>$services.localization.render('web.history.changes.details')</h$headingLevel>
    #displayDocumentUnifiedDiffs($documentDiffs)
  #end
#end

##
## Summary
##

#macro (displayDocumentUnifiedDiffsSummary $documentDiffs)
  #if ($documentDiffs.isEmpty())
    #info($services.localization.render('web.history.changes.noChanges'))
  #else
    #set ($discard = $xwiki.ssfx.use('uicomponents/viewers/diff.css', true))
    #set ($discard = $xwiki.jsfx.use('uicomponents/viewers/diff.js'))
    <div class="diff-summary-item">
      $services.icon.renderHTML('branch')
      $services.localization.render('web.history.changes.summary.documents',
        ['<a href="#details">', $documentDiffs.size(), '</a>'])
      <span class="diff-summary-item-hint">
        #set ($count = {'change': 0, 'insert': 0, 'delete': 0})
        #countEntityUnifiedDiffsChanges($documentDiffs $count)
        ($services.localization.render('web.history.changes.summary.modifiedAddedRemoved',
          [$count.change, $count.insert, $count.delete]))
      </span>
    </div>
    <ul class="diff-summary">
      #foreach ($documentDiff in $documentDiffs)
        <li id="summary-#diffAnchor($documentDiff.reference)">#displayDocumentUnifiedDiffSummary($documentDiff)</li>
      #end
    </ul>
  #end
#end

#macro (countEntityUnifiedDiffsChanges $entityDiffs $count)
  #foreach ($entityDiff in $entityDiffs)
    #set ($type = $entityDiff.type.toString().toLowerCase())
    #set ($discard = $count.put($type, $mathtool.add($count.get($type), 1)))
  #end
#end

#macro (displayDocumentUnifiedDiffSummary $documentDiff)
  <div class="diff-summary-item">
    #diffIcon('file-white' $documentDiff.type)
    #set ($documentReference = $documentDiff.reference)
    <a href="#details">$escapetool.xml($services.model.serialize($documentReference, 'local'))</a>
    <span class="diff-summary-item-hint">
      #if ("$!documentReference.locale" != '')
        ($documentReference.locale)
      #end
      (#diffVersion($documentDiff.previousReference.version)
      $services.icon.renderHTML('right')
      #diffVersion($documentDiff.nextReference.version))
    </span>
  </div>
  <ul>
    #if ($documentDiff.size() > 0)
      #displayDocumentPropertiesDiffSummary($documentDiff)
    #end
    #maybeDisplayEntityUnifiedDiffsSummary($documentDiff.attachmentDiffs 'attach'
      'web.history.changes.summary.attachments')
    #maybeDisplayEntityUnifiedDiffsSummary($documentDiff.objectDiffs 'cubes' 'web.history.changes.summary.objects')
    #maybeDisplayEntityUnifiedDiffsSummary($documentDiff.classPropertyDiffs 'cube'
      'web.history.changes.summary.classProperties')
  </ul>
#end

#macro (displayDocumentPropertiesDiffSummary $documentDiff)
  <li class="diff-summary-item">
    $services.icon.renderHTML('file-text')
    <a href="$escapetool.h#diffAnchor($documentDiff.reference)">
      $escapetool.xml($services.localization.render('web.history.changes.summary.documentProperties'))
    </a>
    <span class="diff-summary-item-hint">
      ($services.localization.render('web.history.changes.summary.modifiedAddedRemoved', [$documentDiff.size(), 0, 0]))
    </span>
  </li>
#end

#macro (maybeDisplayEntityUnifiedDiffsSummary $entityDiffs $icon $label)
  #if ($entityDiffs.size() > 0)
    <li>#displayEntityUnifiedDiffsSummary($entityDiffs)</li>
  #end
#end

#macro (displayEntityUnifiedDiffsSummary $entityDiffs $icon $label)
  <div class="diff-summary-item">
    $services.icon.renderHTML($icon)
    <a href="#details">$escapetool.xml($services.localization.render($label))</a>
    <span class="diff-summary-item-hint">
      #set ($count = {'change': 0, 'insert': 0, 'delete': 0})
      #countEntityUnifiedDiffsChanges($entityDiffs $count)
      ($services.localization.render('web.history.changes.summary.modifiedAddedRemoved',
        [$count.change, $count.insert, $count.delete]))
    </span>
  </div>
  <ul>
    #foreach($entityDiff in $entityDiffs)
      <li class="diff-summary-item">
        #diffIcon($icon $entityDiff.type)
        #set ($entityReference = $entityDiff.reference)
        <a href="$escapetool.h#diffAnchor($entityReference)">
          #if ($entityReference.type == 'OBJECT')
            $escapetool.xml($services.model.serialize($entityReference.xClassReference, 'local'))
            [$entityReference.objectNumber]
          #else
            $escapetool.xml($entityReference.name)
          #end
        </a>
      </li>
    #end
  </ul>
#end

##
## Details
##

#macro (displayDocumentUnifiedDiffs $documentDiffs)
  #foreach ($documentDiff in $documentDiffs)
    #set ($documentReference = $documentDiff.reference)
    <div id="#diffAnchor($documentReference)" #diffDataReference($documentReference)>
    <h$mathtool.add($headingLevel, 1) class="diff-item-header"
      data-documentreference="$escapetool.xml($services.model.serialize($documentReference, 'default'))"
      data-documentlocale="$documentReference.locale"
      #diffVersionAttribute($documentDiff.previousReference.version)>
      #diffIcon('file-white' $documentDiff.type)
      <a href="$xwiki.getURL($documentReference)">$escapetool.xml($services.model.serialize($documentReference, 'local'))</a>
      #if ("$!documentReference.locale" != '')
        <span class="diff-item-locale">($documentReference.locale)</span>
      #end
      <span class="diff-item-hint">
        #diffVersion($documentDiff.previousReference.version)
        $services.icon.renderHTML('right')
        #diffVersion($documentDiff.nextReference.version)
      </span>
    </h$mathtool.add($headingLevel, 1)>
    #displayDocumentUnifiedDiff($documentDiff)
    </div>
  #end
#end

#macro (displayDocumentUnifiedDiff $documentDiff)
  #if ($documentDiff.size() > 0)
    #displayEntityUnifiedDiffs([$documentDiff], 'file-text')
  #end
  #maybeDisplayEntityUnifiedDiffs($documentDiff.attachmentDiffs 'attach')
  #maybeDisplayEntityUnifiedDiffs($documentDiff.objectDiffs 'cubes')
  #maybeDisplayEntityUnifiedDiffs($documentDiff.classPropertyDiffs 'cube')
#end

#macro (maybeDisplayEntityUnifiedDiffs $entityDiffs $icon)
  #if ($entityDiffs && $entityDiffs.size() > 0)
    #displayEntityUnifiedDiffs($entityDiffs $icon)
  #end
#end

#macro (displayEntityUnifiedDiffs $entityDiffs $icon)
  <dl class="diff-group">
    #foreach ($entityDiff in $entityDiffs)
      #set ($entityReference = $entityDiff.reference)
      <dt id="#diffAnchor($entityReference)" #diffDataReference($entityReference)>
        #diffIcon($icon $entityDiff.type)
        #if ($entityReference.type == 'DOCUMENT')
          $services.localization.render('web.history.changes.summary.documentProperties')
        #elseif ($entityReference.type == 'OBJECT')
          $escapetool.xml($services.model.serialize($entityReference.xClassReference, 'local'))
          [$entityReference.objectNumber]
        #else
          $escapetool.xml($entityReference.name)
        #end
      </dt>
      <dd>#displayEntityUnifiedDiff($entityDiff)</dd>
    #end
  </dl>
#end

#macro (displayEntityUnifiedDiff $entityDiff)
  <dl>
    #foreach ($entry in $entityDiff.entrySet())
      <dt class="diff-header">
        #set ($entityType = $entityDiff.reference.type.toString().toLowerCase())
        #if ($entityType == 'document' || $entityType == 'attachment')
          $services.localization.render("web.history.changes.${entityType}.$entry.key")
        #else
          $escapetool.xml($entry.key)
        #end
        #if ($entry.value.isEmpty())
          #if ($entityType == 'attachment' && $entry.key == 'content')
            ## This is not a text file or the file is too large.
            #set ($hintKey = 'web.history.changes.attachment.noContentChanges')
          #else
            #set ($hintKey = 'web.history.changes.privateInformation')
          #end
          <span class="diff-info-icon" title="$services.localization.render($hintKey)">
            $services.icon.renderHTML('info')
          </span>
        #end
      </dt>
      #if ($entry.value.size() > 0)
        <dd>#displayUnifiedDiff($entry.value)</dd>
      #end
    #end
  </dl>
#end

#macro (displayUnifiedDiff $blocks)
  <div class="diff-container">
    <table>
    #foreach ($block in $blocks)
      <tr>
        <td class="diff-line-number">...</td>
        <td class="diff-line-number">...</td>
        #set ($previousMeta = "-$mathtool.add($block.previousStart, 1),$block.previousSize")
        #set ($nextMeta = "+$mathtool.add($block.nextStart, 1),$block.nextSize")
        <td class="diff-line diff-line-meta">@@ $previousMeta $nextMeta @@</td>
      </tr>
      #foreach ($line in $block)
      <tr>
        #set ($lineNumber = $line.index + 1)
        <td class="diff-line-number">#if (!$line.added)$lineNumber#end</td>
        <td class="diff-line-number">#if (!$line.deleted)$lineNumber#end</td>
        <td class="diff-line diff-line-$line.type.toString().toLowerCase()">#unifiedDiffLine($line)</td>
      </tr>
      #end
    #end
    </table>
  </div>
#end
