## ---------------------------------------------------------------------------
## See the NOTICE file distributed with this work for additional
## information regarding copyright ownership.
##
## This is free software; you can redistribute it and/or modify it
## under the terms of the GNU Lesser General Public License as
## published by the Free Software Foundation; either version 2.1 of
## the License, or (at your option) any later version.
##
## This software is distributed in the hope that it will be useful,
## but WITHOUT ANY WARRANTY; without even the implied warranty of
## MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the GNU
## Lesser General Public License for more details.
##
## You should have received a copy of the GNU Lesser General Public
## License along with this software; if not, write to the Free
## Software Foundation, Inc., 51 Franklin St, Fifth Floor, Boston, MA
## 02110-1301 USA, or see the FSF site: http://www.fsf.org.
## ---------------------------------------------------------------------------
#if ($type == 'edit' || $type == 'search')
  #if ($field.getProperty('displayType').value == 'input' && $field.getProperty('picker').value == 1)
    #xpropertySuggestInputDisplayer($field $prefix $name $value)
  #else
    $doc.displayEdit($field, $prefix, $object)
  #end
#elseif ($type == 'view')
  #if ("$!value.size()" != "")
    #set ($values = $value)
  #else
    #set ($values = [$value])
  #end
  #set ($pages = [])
  #foreach ($pageReference in $values)
    ## Skip empty values.
    #if ("$!pageReference" != '')
      #set ($page = "#displayPageReference($pageReference)")
      #set ($discard = $pages.add($page.trim()))
    #end
  #end
  $stringtool.join($pages, ', ')
#elseif ($type == 'rendered')
  $doc.displayRendered($field, $prefix, $object)
#elseif ($type == 'hidden')
  $doc.displayHidden($field, $prefix, $object)
#else
  ## In order for the custom displayer to be taken into account, the result of its evaluation with an unknown display
  ## mode must not be empty. Let's output something.
  Unknown display mode.
#end

#macro(displayPageReference $pageReference)
  #set ($pageDoc = $xwiki.getDocument($pageReference))
  #if ("$!pageDoc" == '')
    ## Page with restricted access.
    ## The view displayer generates HTML so we need to escape the XML special characters from the page reference.
    $escapetool.xml($pageReference)
  #else
    #set ($title = $escapetool.xml($pageDoc.plainTitle))
    #if ($pageDoc.isNew())
      <span class="wikicreatelink"><a href="$pageDoc.getURL('create')">$title</a></span>
    #else
      <a href="$pageDoc.URL">$title</a>
    #end
  #end
#end
