## ---------------------------------------------------------------------------
## See the NOTICE file distributed with this work for additional
## information regarding copyright ownership.
##
## This is free software; you can redistribute it and/or modify it
## under the terms of the GNU Lesser General Public License as
## published by the Free Software Foundation; either version 2.1 of
## the License, or (at your option) any later version.
##
## This software is distributed in the hope that it will be useful,
## but WITHOUT ANY WARRANTY; without even the implied warranty of
## MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the GNU
## Lesser General Public License for more details.
##
## You should have received a copy of the GNU Lesser General Public
## License along with this software; if not, write to the Free
## Software Foundation, Inc., 51 Franklin St, Fifth Floor, Boston, MA
## 02110-1301 USA, or see the FSF site: http://www.fsf.org.
## ---------------------------------------------------------------------------
#template('display_macros.vm')
#set ($displayMode = $request.getParameter('mode'))
#if ("$!displayMode" == '')
  #set ($displayMode = 'view')
#end
#if ($displayMode == 'edit' && !$services.security.authorization.hasAccess('edit'))
  ## Access forbidden.
  #set ($discard = $response.sendError(403, 'You are not allowed to edit this page.'))
#else
  #set ($propertyReference = $request.getParameter('property'))
  #if ("$!propertyReference" == '')
    ## Bad request.
    #set ($discard = $response.sendError(400, 'Property not specified.'))
  #else
    #set ($knownPropertyTypes = ['document', 'object'])
    #set ($propertyType = $request.getParameter('type'))
    #if ("$!propertyType" == '')
      #set ($propertyType = $knownPropertyTypes.get(0))
    #end
    #if ($knownPropertyTypes.contains($propertyType))
      #initRequiredSkinExtensions()
      #if ($propertyType == 'object')
        #if ($request.getParameter('objectPolicy') == 'updateOrCreate')
          #createObjectAndPropertyIfMissing($propertyReference)
        #end
        #displayObjectProperty($propertyReference $displayMode)
      #else
        #displayDocumentProperty($propertyReference $displayMode)
      #end
      #getRequiredSkinExtensions($requiredSkinExtensions)
      #set ($discard = $response.setHeader('X-XWIKI-HTML-HEAD', $requiredSkinExtensions))
    #else
      ## Bad request.
      #set ($discard = $response.sendError(400, 'Unknown property type.'))
    #end
  #end
#end
