## ---------------------------------------------------------------------------
## See the NOTICE file distributed with this work for additional
## information regarding copyright ownership.
##
## This is free software; you can redistribute it and/or modify it
## under the terms of the GNU Lesser General Public License as
## published by the Free Software Foundation; either version 2.1 of
## the License, or (at your option) any later version.
##
## This software is distributed in the hope that it will be useful,
## but WITHOUT ANY WARRANTY; without even the implied warranty of
## MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the GNU
## Lesser General Public License for more details.
##
## You should have received a copy of the GNU Lesser General Public
## License along with this software; if not, write to the Free
## Software Foundation, Inc., 51 Franklin St, Fifth Floor, Boston, MA
## 02110-1301 USA, or see the FSF site: http://www.fsf.org.
## ---------------------------------------------------------------------------
## Following was taken back from headerhtml.vm; not sure if we shouldn't have a common template for this..
<!DOCTYPE html>
<!-- FIXME: we should refactor htmlheader to reuse all that properly -->
#macro(addMetaAttribute $metaAttributes $name $value)
    #set ($discard = $metaAttributes.add("data-xwiki-${name}=""$escapetool.xml($value)"""))
#end
## ---------------------------------------------------------------------------------------------------------------
## Compute all the meta attributes to add to the HTML tag.
## ---------------------------------------------------------------------------------------------------------------
#set ($metaAttributes = [])
## Target the paper paged media by default when using the print feature provided by the web browser.
#addMetaAttribute($metaAttributes, 'paged-media', 'paper')
#if("$!doc" != "" && "$!tdoc" != "")
    ## NOTE: you should not use these attributes in javascript directly, but via the 'xwiki-meta' module instead:
    ## http://www.xwiki.org/xwiki/bin/view/Documentation/DevGuide/FrontendResources/JavaScriptAPI/#HGetsomeinformationaboutthecurrentdocument
    #addMetaAttribute($metaAttributes, 'reference', $services.model.serialize($doc.documentReference, 'default'))
    #addMetaAttribute($metaAttributes, 'document', $doc.fullName)##deprecated, use 'reference' instead
    #addMetaAttribute($metaAttributes, 'wiki', $doc.wiki)##deprecated, use 'reference' instead
    #addMetaAttribute($metaAttributes, 'space', $doc.space)##deprecated, use 'reference' instead
    #addMetaAttribute($metaAttributes, 'page', $doc.documentReference.name)##deprecated, use 'reference' instead
    #addMetaAttribute($metaAttributes, 'isnew', $tdoc.isNew())
    ## If tdoc is a new document, its version when checking for conflict will be the original doc version.
    ## This fix XWIKI-16299.
    #if ($tdoc.isNew())
        #set ($version = $doc.version)
    #else
        #set ($version = $tdoc.version)
    #end
    #addMetaAttribute($metaAttributes, 'version', $version)
    #addMetaAttribute($metaAttributes, 'rest-url', $services.rest.url($tdoc.documentReferenceWithLocale))
    #addMetaAttribute($metaAttributes, 'locale', $tdoc.locale)
#end
#addMetaAttribute($metaAttributes, 'form-token', "$!{services.csrf.token}")
## Don't put any user-reference tag when the user is not logged in
#if ("$!xcontext.userReference" != '')
    #addMetaAttribute($metaAttributes, 'user-reference', $!services.model.serialize($xcontext.userReference, 'default'))
#end
#addMetaAttribute($metaAttributes, 'action', "$xcontext.action")
<html xmlns="http://www.w3.org/1999/xhtml" lang="$xcontext.locale.toLanguageTag()" xml:lang="$xcontext.locale.toLanguageTag()" $stringtool.join($metaAttributes, ' ')>
<head>
    ## ---------------------------------------------------------------------------------------------------------------
    ## Ensure that the Content-Type meta directive is the first one in the header.
    ## See http://www.w3.org/International/tutorials/tutorial-char-enc/
    ## ---------------------------------------------------------------------------------------------------------------
    <meta http-equiv="Content-Type" content="text/html; charset=$xwiki.encoding" />
    ## ---------------------------------------------------------------------------------------------------------------
    ## Enable Responsiveness for phones
    <meta name="viewport" content="width=device-width, initial-scale=1" />
#template('meta.vm')
<!-- com.xpn.xwiki.plugin.skinx.LinkExtensionPlugin -->
#template("stylesheets.vm")
#template("javascript.vm")
</head>
<body>
    <script type="module">
        import "xwiki-platform-distributionwizard-webjar"
    </script>
    <div id="distributionWizard">
    </div>
</body>
</html>