## ---------------------------------------------------------------------------
## See the NOTICE file distributed with this work for additional
## information regarding copyright ownership.
##
## This is free software; you can redistribute it and/or modify it
## under the terms of the GNU Lesser General Public License as
## published by the Free Software Foundation; either version 2.1 of
## the License, or (at your option) any later version.
##
## This software is distributed in the hope that it will be useful,
## but WITHOUT ANY WARRANTY; without even the implied warranty of
## MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the GNU
## Lesser General Public License for more details.
##
## You should have received a copy of the GNU Lesser General Public
## License along with this software; if not, write to the Free
## Software Foundation, Inc., 51 Franklin St, Fifth Floor, Boston, MA
## 02110-1301 USA, or see the FSF site: http://www.fsf.org.
## ---------------------------------------------------------------------------
#macro (getEditConfirmation)
  #set ($editConfirmation = $NULL)
  
  ## Persist the results of the last analysis, and they will be ignored during the next check.
  #set ($forced = "$!request.get('force')" != '')
  #if ($forced)
    $services.modelvalidation.edit.force()
  #end
  ##
  ## Calls the pre-edit checkers.
  ##
  #set ($checkResult = $services.modelvalidation.edit.check())

  #if (!$checkResult.errorMessages.isEmpty() || (!$forced && !$checkResult.warningMessages.isEmpty()))
    #set ($editConfirmation = {})

    #if ($checkResult.isError())
      #set ($titleKey = 'error')
    #else
      #set ($titleKey = 'warning')
    #end
    #set ($discard = $editConfirmation.put('title', $services.localization.render($titleKey)))
    #define ($message)
      #if ($checkResult.isError())
        <div class="box errormessage">
          #set ($messageKey = 'platform.core.editConfirmation.errors')
          $escapetool.xml($services.localization.render($messageKey))
        </div>
      #else
        <div class="box warningmessage">
          #set ($messageKey = 'platform.core.editConfirmation.warnings')
          $escapetool.xml($services.localization.render($messageKey))
        </div>
      #end
      #if (!$checkResult.errorMessages.isEmpty())
        #foreach ($block in $checkResult.errorMessages)
          $services.rendering.render($block, 'html/5.0')
          #if ($foreach.hasNext)
            <hr/>
          #end
        #end
      #end
      #if (!$checkResult.warningMessages.isEmpty())
        ## If we display warnings, in addition to the errors, a warning block is presented before the warnings list.
        #if ($checkResult.isError())
          <hr/>
          <div class="box warningmessage">
            #set ($messageKey = 'platform.core.editConfirmation.additionalWarnings')
            $escapetool.xml($services.localization.render($messageKey))
          </div>
        #end
        #foreach ($block in $checkResult.warningMessages)
          $services.rendering.render($block, 'html/5.0')
          #if ($foreach.hasNext)
            <hr/>
          #end
        #end
      #end
    #end
    #set ($discard = $editConfirmation.put('message', "$message"))
    #set ($discard = $editConfirmation.put('reject', $services.localization.render('cancel')))
    #if (!$checkResult.isError())
      #set ($discard = $editConfirmation.put('confirm', $services.localization.render('forcelock')))
    #end
  #end
#end
