## ---------------------------------------------------------------------------
## See the NOTICE file distributed with this work for additional
## information regarding copyright ownership.
##
## This is free software; you can redistribute it and/or modify it
## under the terms of the GNU Lesser General Public License as
## published by the Free Software Foundation; either version 2.1 of
## the License, or (at your option) any later version.
##
## This software is distributed in the hope that it will be useful,
## but WITHOUT ANY WARRANTY; without even the implied warranty of
## MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the GNU
## Lesser General Public License for more details.
##
## You should have received a copy of the GNU Lesser General Public
## License along with this software; if not, write to the Free
## Software Foundation, Inc., 51 Franklin St, Fifth Floor, Boston, MA
## 02110-1301 USA, or see the FSF site: http://www.fsf.org.
## ---------------------------------------------------------------------------
#if ($response.status <= 200)
  $response.setStatus(500)
#end
#set($message = $xcontext.message)
#if($message)
  #if ("$!xcontext.messageParameters" != '')
    #set ($renderedText = $services.localization.render($message, $!xcontext.messageParameters))
  #else
    #set ($renderedText = $services.localization.render($message))
  #end
  #xwikimessageboxstart($services.localization.render('notice') $renderedText)
  #xwikimessageboxend()
#else
  #xwikimessageboxstart($services.localization.render('notice') $services.localization.render('problemoccured'))
  #xwikimessageboxend()
#end
<br/><br/>
#if($exp)
  $services.localization.render('detailedinformation'):<br/>
  <pre class="xwikierror">
    $escapetool.xml($exp.getFullMessage())
  </pre>
#end