## ---------------------------------------------------------------------------
## See the NOTICE file distributed with this work for additional
## information regarding copyright ownership.
##
## This is free software; you can redistribute it and/or modify it
## under the terms of the GNU Lesser General Public License as
## published by the Free Software Foundation; either version 2.1 of
## the License, or (at your option) any later version.
##
## This software is distributed in the hope that it will be useful,
## but WITHOUT ANY WARRANTY; without even the implied warranty of
## MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the GNU
## Lesser General Public License for more details.
##
## You should have received a copy of the GNU Lesser General Public
## License along with this software; if not, write to the Free
## Software Foundation, Inc., 51 Franklin St, Fifth Floor, Boston, MA
## 02110-1301 USA, or see the FSF site: http://www.fsf.org.
## ---------------------------------------------------------------------------
#set ($title = "XWiki - $services.localization.render('xe.admin.forgotUsername.title')")
#set ($showLeftPanels = "no")
#set ($showRightPanels = "no")
#template("startpage.vm")
#macro(forgotUsernameBoxStart $panelClass)
    #if ("$!panelClass" == "")
        #set ($panelClass = "default")
    #end
    <div class="centered panel panel-$panelClass xwikimessage forgotusernamepanel">
      <div class="panel-heading">
        <div class="panel-title">$services.localization.render('xe.admin.forgotUsername.title')</div>
      </div>
        <div class="panel-body">
#end
#macro(forgotUsernameBoxEnd)
        </div> ##panel-body
    </div> ## xwikimessage
#end
<div class="main layoutsubsection">
  ## Set as an HTML main for better DOM tree semantics to facilitate navigation with assistive technologies.
  <main id="mainContentArea">
      #set($email = "$!request.get('e')")
      #if($email == '' || !$services.csrf.isTokenValid($request.form_token))
        #forgotUsernameBoxStart("default")
        $services.localization.render('xe.admin.forgotUsername.instructions')
        <form method="post" action="$services.security.authentication.getAuthenticationURL('retrieveusername', $NULL)" id="forgotUsernameForm" class="xform">
            <dl>
                <dt>
                    <label for="e">$services.localization.render('xe.admin.forgotUsername.email.label')</label>
                </dt>
                <dd class="input-group">
                  <span class="input-group-addon">$services.icon.renderHTML('envelope')</span>
                  <input type="text" id="e" name="e" class="form-control" size="60" />
                </dd>
            </dl>
            <div class="forgotusernamelinks">
              <input type="submit" value="$services.localization.render('xe.admin.forgotUsername.submit')" class="btn btn-primary col-xs-12"/>
            </div>
            <input type="hidden" name="form_token" value="$services.csrf.getToken()" />
        </form>
        #forgotUsernameBoxEnd()
      #else
          #try()
            #set ($discard = $services.security.authentication.retrieveUsernameAndSendEmail($email))
          #end
          #if ("$!exception" != '')
            #forgotUsernameBoxStart("error")
            <div class="xwikirenderingerror" title="Click to get more details about the error" style="cursor: pointer;">
                $services.localization.render('xe.admin.forgotUsername.error.emailFailed')
            </div>
            <div class="xwikirenderingerrordescription hidden">
              <pre>$escapetool.xml($exceptiontool.getStackTrace($exception))</pre>
            </div>
            #forgotUsernameBoxEnd()
          #else
          ## We always display a success message even if there's no user found to avoid disclosing information
          ## about the users registered on the wiki.
            #forgotUsernameBoxStart("success")
            $services.localization.render('xe.admin.forgotUsername.emailSent', ["$escapetool.xml($email)"])
            <div class="forgotusernamelinks">
                <a href="$xwiki.getURL('XWiki.XWikiLogin', 'login', 'loginLink=1')">$services.localization.render('xe.admin.forgotUsername.login')</a>
            </div>
            #forgotUsernameBoxEnd()
          #end
      #end
  </main>## mainContentArea
</div>## main
#template("endpage.vm")
