## ---------------------------------------------------------------------------
## See the NOTICE file distributed with this work for additional
## information regarding copyright ownership.
##
## This is free software; you can redistribute it and/or modify it
## under the terms of the GNU Lesser General Public License as
## published by the Free Software Foundation; either version 2.1 of
## the License, or (at your option) any later version.
##
## This software is distributed in the hope that it will be useful,
## but WITHOUT ANY WARRANTY; without even the implied warranty of
## MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the GNU
## Lesser General Public License for more details.
##
## You should have received a copy of the GNU Lesser General Public
## License along with this software; if not, write to the Free
## Software Foundation, Inc., 51 Franklin St, Fifth Floor, Boston, MA
## 02110-1301 USA, or see the FSF site: http://www.fsf.org.
## ---------------------------------------------------------------------------
#if ("$!{request.forceTestRights}" == "1")#template("xwikivars.vm")#end
#set($attachments = $collectiontool.sort($doc.attachmentList, ['date:desc']))
#if($attachments.size() > 0)
  <ul class="xlist">
  #foreach ($attach in $attachments)
    #set($url = $doc.getURL('import', "${baseQueryString}&amp;file=${escapetool.url($attach.filename).replace('+', '%20')}"))
    #if("$!request.file" == "$!attach.filename") #set($extra = 'active') #else #set($extra = '') #end
    <li class="xitem xhighlight">
      <div class="xitemcontainer package $!extra">
        <div class="name">
          <a href="$!url" class="package" title="$services.localization.render('core.importer.selectThisPackage')">
            #set($maxnamelength = 40)
            #set ($packName = "#packName($attach.filename)")
            $escapetool.xml($packName)
          </a>
          <span class="version">$escapetool.xml($attach.version)</span>
          <span class="xwikibuttonlinks">
            #set($redirect = $doc.getURL('import', 'section=Import'))
            #set($attachurl = $doc.getAttachmentURL(${attach.filename}, 'delattachment', "xredirect=$!{redirect}&amp;form_token=$!{services.csrf.getToken()}"))
            <a class="deletelink" href="${attachurl}"
               title="$services.localization.render('core.viewers.attachments.delete.title')"></a>
          </span>
        </div>
        <div class="infos">
          #set ($userName = $xwiki.getUserName($attach.author, true))
          #set ($formatDate = $!xwiki.formatDate($attach.date))
          #set ($link = $escapetool.xml($services.localization.render('core.importer.packageInformationExtract', [
            '__USERNAME__',
            '__FORMAT_DATE__'
          ])).replace('__USERNAME__', $userName).replace('__FORMAT_DATE__', $formatDate))
          $link - <span class="size">(#dynamicsize($attach.longSize))</span>
        </div>
      </div>
    </li>
  #end
  </ul>
#else
  <span class="noitems">$escapetool.xml($services.localization.render('core.importer.noPackageAvailable'))</span>
#end