## ---------------------------------------------------------------------------
## See the NOTICE file distributed with this work for additional
## information regarding copyright ownership.
##
## This is free software; you can redistribute it and/or modify it
## under the terms of the GNU Lesser General Public License as
## published by the Free Software Foundation; either version 2.1 of
## the License, or (at your option) any later version.
##
## This software is distributed in the hope that it will be useful,
## but WITHOUT ANY WARRANTY; without even the implied warranty of
## MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the GNU
## Lesser General Public License for more details.
##
## You should have received a copy of the GNU Lesser General Public
## License along with this software; if not, write to the Free
## Software Foundation, Inc., 51 Franklin St, Fifth Floor, Boston, MA
## 02110-1301 USA, or see the FSF site: http://www.fsf.org.
## ---------------------------------------------------------------------------
#template("xwikivars.vm")
#if ($request.pdftemplate)
  #set ($pdfdoc = $xwiki.getDocument($request.pdftemplate))
#else
  #set($pdfdoc = $tdoc)
#end
#set($pdfobj = $pdfdoc.getObject('XWiki.PDFClass'))
## put the current doc being exported in a variable, to allow accessing it from the pdftemplate properties (header, footer, etc).
#set($pdfExportedDoc = $tdoc)
#template("pdfhtmlheader.vm")
#set ($withPageBreaks = false)
#if ("$!{request.pagebreaks}" == '1')
  #set ($withPageBreaks = true)
#end
#if ($request.pages)
  #set ($pages = $request.getParameterValues('pages'))
#else
  #set ($pages = ["$doc.documentReference"])
#end
<div id="xwikicontent">
  #foreach ($page in $pages)
    #set ($documentReference = $services.model.resolveDocument($page))
    ## Make sure the current document is rendered using the sheet specified on the request. The sheet is not applied if
    ## the XWikiDocument instance being rendered is different than the instance found on the XWiki context. Note that
    ## starting with XWIKI-20716 (The URL sheet is applied to a document gathered from the store) the instance returned
    ## by getDocument() never matches the instance wrapped by $doc (even when the document is retrieved from cache),
    ## because when $doc is initialized the cached XWikiDocument instance is cloned.
    #if ($documentReference == $doc.documentReference)
      #set ($pageDoc = $doc)
    #else
      #set ($pageDoc = $xwiki.getDocument($documentReference))
    #end
    $pageDoc.getRenderedContent()
    #if ($request.includechilds)
      #set ($clevel = $numbertool.toNumber($request.includechilds).intValue())
      #if (!$clevel)
        #set ($clevel = 0)
      #end
      #includeChildren($pageDoc $withPageBreaks)
    #elseif ($request.includelinks)
      #set ($clevel = $numbertool.toNumber($request.includelinks).intValue())
      #if (!$clevel)
        #set ($clevel = 0)
      #end
      #includeLinks($page $withPageBreaks)
    #end
    #if ($foreach.hasNext)
      #pagebreak()
    #end
  #end
</div>
## TODO: move that in a place common to old and new rendering footnotes
#if ($doc.syntax.toIdString() == 'xwiki/1.0')
#set($footnotes = "#putFootnotes()")
$doc.getRenderedContent($footnotes, 'xwiki/1.0')
#end
#if ("$!{request.comments}" == '1')
  #template("comments2.vm")
#end
#if ("$!{request.attachments}" == '1')
  <div id="xwikiattachments">
  #foreach ($attach in $doc.attachmentList)
    #if ($attach.isImage())
      <img src="${doc.getAttachmentURL($attach.filename)}" alt="${attach.filename}" />
      <br />
    #end
  #end
  </div>
#end
</div>
</div>
</body>
</html>
