## ---------------------------------------------------------------------------
## See the NOTICE file distributed with this work for additional
## information regarding copyright ownership.
##
## This is free software; you can redistribute it and/or modify it
## under the terms of the GNU Lesser General Public License as
## published by the Free Software Foundation; either version 2.1 of
## the License, or (at your option) any later version.
##
## This software is distributed in the hope that it will be useful,
## but WITHOUT ANY WARRANTY; without even the implied warranty of
## MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the GNU
## Lesser General Public License for more details.
##
## You should have received a copy of the GNU Lesser General Public
## License along with this software; if not, write to the Free
## Software Foundation, Inc., 51 Franklin St, Fifth Floor, Boston, MA
## 02110-1301 USA, or see the FSF site: http://www.fsf.org.
## ---------------------------------------------------------------------------
#set ($discard = $xwiki.ssfx.use('uicomponents/rating/rating.css', true))

#**
 * Display ratings stars UI.
 * This macro is currently hardcoded to only display ratings of a maximum of 5 stars.
 *
 * @param $id the ID of the dom element created
 * @param $cssclass the supplementary CSS class to use to display ratings
 * @param $ratinglabel the label to display before the ratings
 * @param $rating the actual vote on a scale of 5
 * @param $nbVotes the total number of votes
 * @param $locked if true display the CSS class locked to prevent voting
 *#
#macro(ratingstars $id $cssclass $ratinglabel $rating $nbVotes $locked)
#set($width = $rating * 20)
<div class="rating-container $cssclass" id="$id">
    <div class="rating-header $cssclass">$ratinglabel</div>
    <div class="rating-stars">
        <ul class="star-rating ${cssclass}-star #if($locked) locked #end">
            <li class="current-rating">
                <meter class="average-rating" min="0" max="5" value="$rating">$rating</meter>
            </li>
            #set($cls = ["one-star", "two-stars", "three-stars", "four-stars", "five-stars"])
            #foreach($r in [1..5])
                #set($i = $r - 1)
                <li><a href="#" title="$services.localization.render("rating.${cls.get($i)}")" class="$cls.get($i)">$r</a></li>
            #end
        </ul>
    </div>
    <div class="rating-message">#if($nbVotes != "")<span>$nbVotes</span>&nbsp;$services.localization.render('rating.votes')#end</div>
</div>
#end
