## ---------------------------------------------------------------------------
## See the NOTICE file distributed with this work for additional
## information regarding copyright ownership.
##
## This is free software; you can redistribute it and/or modify it
## under the terms of the GNU Lesser General Public License as
## published by the Free Software Foundation; either version 2.1 of
## the License, or (at your option) any later version.
##
## This software is distributed in the hope that it will be useful,
## but WITHOUT ANY WARRANTY; without even the implied warranty of
## MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the GNU
## Lesser General Public License for more details.
##
## You should have received a copy of the GNU Lesser General Public
## License along with this software; if not, write to the Free
## Software Foundation, Inc., 51 Franklin St, Fifth Floor, Boston, MA
## 02110-1301 USA, or see the FSF site: http://www.fsf.org.
## ---------------------------------------------------------------------------
#template('hierarchy_macros.vm')
#template('job_macros.vm')

#macro (displayLocations $label $hint $entityReferences)
  <dt>
    <label>$services.localization.render($label)</label>
    <span class="xHint">$services.localization.render($hint)</span>
  </dt>
  <dd>
    #foreach ($entityReference in $entityReferences)
      #hierarchy($entityReference {
        'treeNavigation': false,
        'selfIsActive': false,
        'limit': 5
      })
    #end
  </dd>
#end

#macro (displayBooleanConfigParam $label $hint $value)
  <dt>
    <label>
      ## 'application' icon is not semantically correct but it is mapped to the right Font Awesome icon (square).
      ## We also tried 'cross' but it is confusing when none of the configuration options are checked (because in real
      ## life we often check items by putting a cross in front of them).
      $services.icon.renderHTML("#if ($value)check#{else}application#end")
      $services.localization.render($label)
    </label>
    <span class="xHint">$services.localization.render($hint)</span>
  </dt>
#end

#macro (displayRefactoringJobFinishedMessage $refactoringJobStatus $successKey $errorKey $canceledKey)
  #displayJobFinishedMessage($refactoringJobStatus $successKey $errorKey $canceledKey)
#end
