## ---------------------------------------------------------------------------
## See the NOTICE file distributed with this work for additional
## information regarding copyright ownership.
##
## This is free software; you can redistribute it and/or modify it
## under the terms of the GNU Lesser General Public License as
## published by the Free Software Foundation; either version 2.1 of
## the License, or (at your option) any later version.
##
## This software is distributed in the hope that it will be useful,
## but WITHOUT ANY WARRANTY; without even the implied warranty of
## MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the GNU
## Lesser General Public License for more details.
##
## You should have received a copy of the GNU Lesser General Public
## License along with this software; if not, write to the Free
## Software Foundation, Inc., 51 Franklin St, Fifth Floor, Boston, MA
## 02110-1301 USA, or see the FSF site: http://www.fsf.org.
## ---------------------------------------------------------------------------

#**
 This page starts the password reset procedure. It works according to the next algorithm:
 1. Display a form requesting the username
 2. When receiving the username via form submission, generate a random verification string which is stored (as a hash) inside a ResetPasswordRequestClass object attached to the user's profile page. If no such object exists, it is created, but an existing object will be reused, meaning that at most one password reset request can be active at a moment.
 3. Send an email to the address configured in the user's profile, containing a link to the second step of the password reset procedure.

 URL parameters:

 u = user account sent in the form
 *###
##
##

#template("register_macros.vm")
#macro(resetPasswordBoxStart $panelClass)
#if ("$!panelClass" == "")
  #set ($panelClass = "default")
#end
<div class="centered panel panel-$panelClass xwikimessage resetpasswordpanel">
  <div class="panel-heading">
    <div class="panel-title">$services.localization.render('xe.admin.passwordReset.title')</div>
  </div>
  <div class="panel-body">
#end
#macro(displayResetPasswordException)
    #set ($causeException = $exception.cause)
    #if ($causeException.class == 'class org.xwiki.security.authentication.api.ResetPasswordException'
        && $causeException.cause == $causeException)
      <div class="xwikirenderingerror">
          $escapetool.xml($causeException.message)
      </div>
    #else
        #displayException($escapetool.xml($causeException.message))
    #end
#end

#set ($userName = "$!request.get('u')")
#set ($validationString = "$!request.get('v')")
## First step, display the form requesting the username
#if (($userName == '' && $validationString == ''))
#resetPasswordBoxStart("default")
$services.localization.render('xe.admin.passwordReset.instructions')

  <form method="post" action="$services.security.authentication.getAuthenticationURL('resetpassword', $NULL)" class="xform" id="resetPasswordForm">
    <input type="hidden" name="form_token" value="$!{services.csrf.getToken()}" />
    <dl>
      <dt>
        <label for="u">$services.localization.render('xe.admin.passwordReset.username.label')</label>
      </dt>
      <dd class="input-group">
        <span class="input-group-addon">$services.icon.renderHTML('user')</span>
        <input type="text" id="u" name="u" class="form-control" size="60" />
      </dd>
    </dl>
    <div class="resetpasswordlinks">
        <input type="submit" value="$services.localization.render('xe.admin.passwordReset.submit')" class="btn btn-primary col-xs-12"/>
    </div>
  </form>
#elseif ($userName != '' && $validationString == '')
    #if (!$services.csrf.isTokenValid($request.form_token))
        #resetPasswordBoxStart("danger")
        $services.localization.render('xe.admin.passwordReset.error.csrf')
    #else
        #try()
            #set ($discard = $services.security.authentication.requestResetPassword($userName))
        #end
        #if ("$!exception" != '')
            #resetPasswordBoxStart("warning")
            #displayResetPasswordException()
        #else
            #resetPasswordBoxStart("default")
            $services.localization.render('xe.admin.passwordReset.emailSentToUsername', ["$escapetool.xml($userName)"])
        #end
    #end
  <div class="resetpasswordlinks">
    <a href="$services.security.authentication.getAuthenticationURL('resetpassword', $NULL)">$services.localization.render('xe.admin.passwordReset.error.retry')</a> |
    <a href="$services.security.authentication.getAuthenticationURL('retrieveusername', $NULL)">$services.localization.render('xe.admin.passwordReset.error.recoverUsername')</a> |
    <a href="$xwiki.getURL('XWiki.XWikiLogin', 'login')">$services.localization.render('xe.admin.passwordReset.login')</a>
  </div>
#else
    ##
    ##
    #**
     * Displays the password reset form.
     * @param message An optional message to display, for example if the sent password is empty.
     * @param u The user account (full document name), which needs to be preserved.
     * @param v The validation string, which will be checked again upon receiving the form.
     *###
    #macro(displayForm $message $validationString)
        #if ($message != '')
            #resetPasswordBoxStart('warning')
            $message
        #else
            #resetPasswordBoxStart('default')
        #end
        #set ($passwordOptions = $NULL)
        #_loadPasswordOptions($passwordOptions)
        #set ($passwordFields = [])
        #definePasswordFields($passwordFields, 'p', 'p2', $passwordOptions)

        <form action="$services.security.authentication.getAuthenticationURL('resetpassword', $NULL)" method="post" id="resetPasswordStep2Form" class="xform">
            <div class="hidden">
                <input type="hidden" name="form_token" value="$!{services.csrf.getToken()}" />
                <input type="hidden" name="u" value="$!escapetool.xml($userName)"/>
                <input type="hidden" name="v" value="$!escapetool.xml($validationString)"/>
            </div>
            ## A null $request is passed as parameter, since we won't display inserted passwords after a request with error.
            #generateHtml($passwordFields, $NULL)
            <div class="resetpasswordlinks">
                <input type="submit" value="$services.localization.render('xe.admin.passwordReset.step2.submit')" class="btn btn-primary col-xs-12"/>
            </div>
        </form>
    #end
    #set ($password = "$!request.p")
    #set ($password2 = "$!request.p2")
    #if (!$request.getParameterMap().containsKey('p'))
        #try()
            #set ($newValidationString = $services.security.authentication.checkVerificationCode($userName, $validationString))
        #end
        #if ("$!exception" != '')
            #resetPasswordBoxStart("danger")
            #displayResetPasswordException()
            <a href="$services.security.authentication.getAuthenticationURL('resetpassword', $NULL)">$services.localization.render('xe.admin.passwordReset.step2.backToStep1')</a>
        #else
            #displayForm('' $newValidationString)
        #end
    #elseif (!$services.csrf.isTokenValid($request.form_token))
        #resetPasswordBoxStart("danger")
        $services.localization.render('xe.admin.passwordReset.error.csrf')
    #else
        #validateFields($passwordFields, $request)
        #if (!$allFieldsValid)
            #displayForm($stringtool.join($allFieldsErrors, "<br/>") $validationString)
        #else
            #try()
                #set($discard = $services.security.authentication.resetPassword($userName, $validationString, $password))
            #end
            #if ("$!exception" != '')
                #resetPasswordBoxStart("danger")
                #displayResetPasswordException()
                <div class="resetpasswordlinks">
                    <a href="$services.security.authentication.getAuthenticationURL('resetpassword', $NULL)">$services.localization.render('xe.admin.passwordReset.step2.backToStep1')</a>
                </div>
            #else
                #resetPasswordBoxStart("success")
                $services.localization.render('xe.admin.passwordReset.step2.success')
                <div class="resetpasswordlinks">
                    <a href="$xwiki.getURL('XWiki.XWikiLogin', 'login')">$services.localization.render('xe.admin.passwordReset.step2.login')</a>
                </div>
            #end
        #end
    #end
    #set ($newValidationString = '')
    #set ($validationString = '')
    #set ($password = '')
    #set ($password2 = '')
#end
#xwikimessageboxend()