## ---------------------------------------------------------------------------
## See the NOTICE file distributed with this work for additional
## information regarding copyright ownership.
##
## This is free software; you can redistribute it and/or modify it
## under the terms of the GNU Lesser General Public License as
## published by the Free Software Foundation; either version 2.1 of
## the License, or (at your option) any later version.
##
## This software is distributed in the hope that it will be useful,
## but WITHOUT ANY WARRANTY; without even the implied warranty of
## MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the GNU
## Lesser General Public License for more details.
##
## You should have received a copy of the GNU Lesser General Public
## License along with this software; if not, write to the Free
## Software Foundation, Inc., 51 Franklin St, Fifth Floor, Boston, MA
## 02110-1301 USA, or see the FSF site: http://www.fsf.org.
## ---------------------------------------------------------------------------
###
### Resubmission page
###
$response.setStatus(401)##
##
## This page shouldn't be displayed in an IFRAME, in order to prevent clickjacking.
##
$response.addHeader( "X-FRAME-OPTIONS", "DENY" )
#template("startpage.vm")
#set ($discard = $xwiki.ssfx.use('css/resubmit.css', {'forceSkinAction': true}))
<div id="mainContentArea">
<div class="resubmit-box">
  <div class="resubmit-title">$services.localization.render('csrf.error.title')</div>
  <div class="resubmit-content">
    <p class="main-explanation">$services.localization.render('csrf.error.message')</p>
    <p class="resubmit-causes-introduction">$services.localization.render('csrf.error.causes.introduction')</p>
    <ul class="resubmit-causes">
      <li>$services.localization.render('csrf.error.causes.stalesession')</li>
      <li>$services.localization.render('csrf.error.causes.forgedrequest')</li>
    </ul>
  </div>
  #if ($services.csrf.isResubmitAllowedForRequestId($request.getParameter('sridKey')))
    #getSanitizedURLAttributeValue('form','action', $request.getParameter('resubmit'), '', $resubmit)
    #getSanitizedURLAttributeValue('a','href', $request.getParameter('xback'), $doc.getURL(), $xback)
    <form action="$resubmit" method="post" class="resubmit-form">
      ## Valid CSRF token
      <input type="hidden" name="form_token" value="$!{services.csrf.getToken()}" />
      <div class="resubmit-question">$services.localization.render('csrf.error.resubmit.question')</div>
      <div>
        <a class="resubmit-primary btn btn-primary resubmit-no" href="$xback">
          $services.localization.render('csrf.error.resubmit.question.no')
        </a>
      </div>
      <div>
        <button class="btn btn-default resubmit-secondary resubmit-yes">
          $services.localization.render('csrf.error.resubmit.question.yes')
        </button>
      </div>
    </form>
  #end
</div>
<div class="clearfloats"></div>
</main>## mainContentArea
</div>## main
#template("endpage.vm")

