## ---------------------------------------------------------------------------
## See the NOTICE file distributed with this work for additional
## information regarding copyright ownership.
##
## This is free software; you can redistribute it and/or modify it
## under the terms of the GNU Lesser General Public License as
## published by the Free Software Foundation; either version 2.1 of
## the License, or (at your option) any later version.
##
## This software is distributed in the hope that it will be useful,
## but WITHOUT ANY WARRANTY; without even the implied warranty of
## MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the GNU
## Lesser General Public License for more details.
##
## You should have received a copy of the GNU Lesser General Public
## License along with this software; if not, write to the Free
## Software Foundation, Inc., 51 Franklin St, Fifth Floor, Boston, MA
## 02110-1301 USA, or see the FSF site: http://www.fsf.org.
## ---------------------------------------------------------------------------
<script src="$xwiki.getSkinFile("js/xwiki/wikieditor/wikibits.js")"></script>

## Syntax elements is a list of: [identifier, start markup, end markup, image name].
## The identifier is used to display the button title, and the sample text.
## The image is retrieved from /resources/icons/silk/imageName.png
#set($syntax10Elements = [])
#set($discard = $syntax10Elements.add(['bold', '*', '*', 'text_bold']))
#set($discard = $syntax10Elements.add(['italics', '~~', '~~', 'text_italic']))
#set($discard = $syntax10Elements.add(['underline', '__', '__', 'text_underline']))
#set($discard = $syntax10Elements.add(['strikethrough', '--', '--', 'text_strikethrough']))
#set($discard = $syntax10Elements.add(['ulist', '\n* ', '\n', 'text_list_bullets']))
#set($discard = $syntax10Elements.add(['olist', '\n# ', '\n', 'text_list_numbers']))
#set($discard = $syntax10Elements.add(['ilink', '[', ']', 'link']))
#set($discard = $syntax10Elements.add(['elink', '[', ']', 'link_go']))
#set($discard = $syntax10Elements.add(['h1', '\n1 ', '\n', 'text_heading_1']))
#set($discard = $syntax10Elements.add(['h2', '\n1.1 ', '\n', 'text_heading_2']))
#set($discard = $syntax10Elements.add(['h3', '\n1.1.1 ', '\n', 'text_heading_3']))
#set($discard = $syntax10Elements.add(['h4', '\n1.1.1.1 ', '\n', 'text_heading_4']))
#set($discard = $syntax10Elements.add(['hr', '\n----\n', '', 'text_horizontalrule']))
#set($discard = $syntax10Elements.add(['img', '{image:', '}', 'image']))
#set($tmp = '#sign("' + $xcontext.user + '")')
#set($discard = $syntax10Elements.add(['sign', $tmp, '', 'text_signature']))
#set($syntax20Elements = [])
#set($discard = $syntax20Elements.add(['bold', '**', '**', 'text_bold']))
#set($discard = $syntax20Elements.add(['italics', '//', '//', 'text_italic']))
#set($discard = $syntax20Elements.add(['underline', '__', '__', 'text_underline']))
#set($discard = $syntax20Elements.add(['strikethrough', '--', '--', 'text_strikethrough']))
#set($discard = $syntax20Elements.add(['subscript', ',,', ',,', 'text_subscript']))
#set($discard = $syntax20Elements.add(['superscript', '^^', '^^', 'text_superscript']))
#set($discard = $syntax20Elements.add(['ulist', '\n* ', "\n* $services.localization.render('core.edit.wikiToolbar.ulisttext')\n* $services.localization.render('core.edit.wikiToolbar.ulisttext')\n", 'text_list_bullets']))
#set($discard = $syntax20Elements.add(['olist', '\n1. ', "\n1. $services.localization.render('core.edit.wikiToolbar.olisttext')\n1. $services.localization.render('core.edit.wikiToolbar.olisttext')\n", 'text_list_numbers']))
#set($discard = $syntax20Elements.add(['ilink', '[[', ']]', 'link']))
#set($discard = $syntax20Elements.add(['elink20', '[[', ']]', 'link_go']))
#set($discard = $syntax20Elements.add(['h1', '\n= ', '=\n', 'text_heading_1']))
#set($discard = $syntax20Elements.add(['h2', '\n== ', '==\n', 'text_heading_2']))
#set($discard = $syntax20Elements.add(['h3', '\n=== ', '===\n', 'text_heading_3']))
#set($discard = $syntax20Elements.add(['h4', '\n==== ', '====\n', 'text_heading_4']))
#set($discard = $syntax20Elements.add(['hr', '\n----\n', '', 'text_horizontalrule']))
#set($discard = $syntax20Elements.add(['img', '[[image:', ']]', 'image']))
#set($discard = $syntax20Elements.add(['html', '\n{{html}}\n', '\n{{/html}}\n', 'html']))
#set($discard = $syntax20Elements.add(['velocity', '\n{{velocity}}\n', '\n{{/velocity}}\n', 'cog']))
#set($confluence10Elements = [])
#set($discard = $confluence10Elements.add(['bold', '*', '*', 'text_bold']))
#set($discard = $confluence10Elements.add(['italics', '_', '_', 'text_italic']))
#set($discard = $confluence10Elements.add(['underline', '+', '+', 'text_underline']))
#set($discard = $confluence10Elements.add(['strikethrough', '-', '-', 'text_strikethrough']))
#set($discard = $confluence10Elements.add(['subscript', '~', '~', 'text_subscript']))
#set($discard = $confluence10Elements.add(['superscript', '^', '^', 'text_superscript']))
#set($discard = $confluence10Elements.add(['ulist', '\n* ', "\n* $services.localization.render('core.edit.wikiToolbar.ulisttext')\n* $services.localization.render('core.edit.wikiToolbar.ulisttext')\n", 'text_list_bullets']))
#set($discard = $confluence10Elements.add(['olist', '\n# ', "\n# $services.localization.render('core.edit.wikiToolbar.olisttext')\n# $services.localization.render('core.edit.wikiToolbar.olisttext')\n", 'text_list_numbers']))
#set($discard = $confluence10Elements.add(['ilink', '[', ']', 'link']))
#set($discard = $confluence10Elements.add(['h1', '\nh1. ', '\n', 'text_heading_1']))
#set($discard = $confluence10Elements.add(['h2', '\nh2. ', '\n', 'text_heading_2']))
#set($discard = $confluence10Elements.add(['h3', '\nh3. ', '\n', 'text_heading_3']))
#set($discard = $confluence10Elements.add(['h4', '\nh4. ', '\n', 'text_heading_4']))
#set($discard = $confluence10Elements.add(['hr', '\n----\n', '', 'text_horizontalrule']))
#set($discard = $confluence10Elements.add(['img', '!', '!', 'image']))
## Ensure $edit is defined in the current context. It's normally the case if this template is called from
## an AbstractEditor call, but that might not be the case if the template is included, like it is in AWM.Content.
## Here we ensure to preserve backward compatibility.
#if (!$edit.data)
  #set ($edit = {
    'data': {
    'syntax': $doc.syntax
  }
  })
#end
#if($edit.data.syntax.toIdString() == 'xwiki/1.0')
  #set($syntaxElements = $syntax10Elements)
#elseif($edit.data.syntax.toIdString() == "xwiki/2.0" || $edit.data.syntax.toIdString() == "xwiki/2.1")
  #set($syntaxElements = $syntax20Elements)
#elseif($edit.data.syntax.toIdString() == "confluence/1.0")
  #set ($syntaxElements = $confluence10Elements)
#end
#if ($syntaxElements)
<script>
// <![CDATA[
document.writeln("<div class='leftmenu2'>");
#foreach($item in $syntaxElements)
  #set($imageFile = $xwiki.getSkinFile("icons/silk/${item.get(3)}.png"))
  #set($speedTip = $escapetool.javascript($services.localization.render("core.edit.wikiToolbar.${item.get(0)}")))
  #set($tagOpen = $escapetool.javascript($item.get(1)))
  #set($tagClose = $escapetool.javascript($item.get(2)))
  #set($sampleText = $escapetool.javascript($services.localization.render("core.edit.wikiToolbar.${item.get(0)}text")))
  addButton('$imageFile', '$speedTip', '$tagOpen', '$tagClose', '$sampleText');
#end
document.writeln("<" + "/div>");
// ]]>
</script>
#end