## ---------------------------------------------------------------------------
## See the NOTICE file distributed with this work for additional
## information regarding copyright ownership.
##
## This is free software; you can redistribute it and/or modify it
## under the terms of the GNU Lesser General Public License as
## published by the Free Software Foundation; either version 2.1 of
## the License, or (at your option) any later version.
##
## This software is distributed in the hope that it will be useful,
## but WITHOUT ANY WARRANTY; without even the implied warranty of
## MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the GNU
## Lesser General Public License for more details.
##
## You should have received a copy of the GNU Lesser General Public
## License along with this software; if not, write to the Free
## Software Foundation, Inc., 51 Franklin St, Fifth Floor, Boston, MA
## 02110-1301 USA, or see the FSF site: http://www.fsf.org.
## ---------------------------------------------------------------------------
#template('colorThemeInit.vm')

#macro(concatenateQueryParameter $originalUrl $queryString)
## No indent here as it causes whitespace in the output.
#if ($originalUrl.contains("?"))
$originalUrl&#38;$queryString## prevent line break in output
#else
$originalUrl?$queryString## prevent line break in output
#end
#end

## The default stylesheet configuration option allows to override the default style.css CSS
#set ($defaultstyle = $xwiki.getSpacePreference('stylesheet'))
#if ($defaultstyle == '')
  #set ($defaultstyle = "style.css")
#end
#set ($urlParametersMap = {})
## Specifying the skin to avoid some problems if the base skin is not the same as the current skin
## (see: https://jira.xwiki.org/browse/XWIKI-11190)
#set ($discard = $urlParametersMap.put("skin", "$!xwiki.skin"))
#if ($themeDoc)
  #set ($discard = $urlParametersMap.put("colorTheme", $services.model.serialize($themeDoc.getDocumentReference(), "default")))
  #set ($discard = $urlParametersMap.put("colorThemeVersion", $themeDoc.version))
#end
#set ($urlParameters = $escapetool.xml($escapetool.url($urlParametersMap)))
#set ($defaultStyleURL = $escapetool.xml($xwiki.getSkinFile($defaultstyle, true)))

<link href="#concatenateQueryParameter($defaultStyleURL, $urlParameters)" rel="stylesheet" type="text/css" media="all" />
<link href="#concatenateQueryParameter($escapetool.xml($xwiki.getSkinFile('print.css', true)), $urlParameters)" rel="stylesheet" type="text/css" media="#if ($printss)all#{else}print#{end}" />
## The stylesheets configuration option allows to override the alternate stylesheets
## style1.css, style2.css and style3.css
#set ($stylesheets = $xwiki.getSpacePreference('stylesheets'))
#if ($stylesheets != '')
  #foreach ($stylesheet in $stylesheets.split(','))
    #if (!$stylesheet.equalsIgnoreCase($defaultstyle))
      <link href="#concatenateQueryParameter($escapetool.xml($xwiki.getSkinFile($stylesheet, true)), $urlParameters)" rel="alternate stylesheet" type="text/css" title="Alternate StyleSheet ${foreach.count}" />
    #end
  #end
#end
## Hook for inserting CSS skin extensions
#styleSheetExtensionHooks