## ---------------------------------------------------------------------------
## See the NOTICE file distributed with this work for additional
## information regarding copyright ownership.
##
## This is free software; you can redistribute it and/or modify it
## under the terms of the GNU Lesser General Public License as
## published by the Free Software Foundation; either version 2.1 of
## the License, or (at your option) any later version.
##
## This software is distributed in the hope that it will be useful,
## but WITHOUT ANY WARRANTY; without even the implied warranty of
## MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the GNU
## Lesser General Public License for more details.
##
## You should have received a copy of the GNU Lesser General Public
## License along with this software; if not, write to the Free
## Software Foundation, Inc., 51 Franklin St, Fifth Floor, Boston, MA
## 02110-1301 USA, or see the FSF site: http://www.fsf.org.
## ---------------------------------------------------------------------------
###
### User inactive message
###
###
#template("startpage.vm")
<div class="main layoutsubsection">
## Set as an HTML main for better DOM tree semantics to facilitate navigation with assistive technologies.
<main id="mainContentArea">
#if($xwiki.exists("XWiki.UserInactive"))
    $xwiki.includeForm("XWiki.UserInactive", false)
#else
#if ($cause == 'disabled' || $xcontext.cause == 'disabled')
  #xwikimessageboxstart($services.localization.render('notice') $services.localization.render('accountdisabled'))
#else
#xwikimessageboxstart($services.localization.render('notice') $services.localization.render('accountnotactive'))
#set($confirmdoc = $xwiki.getDocument("XWiki.AccountValidation"))
#if(!$confirmdoc.isNew())
$services.localization.render('accountnotactive_email')
<form action="${confirmdoc.getURL()}" method="post" class="xformInline">
<div>
## CSRF prevention
<input type="hidden" name="form_token" value="$!{services.csrf.getToken()}" />
<input type="hidden" name="xwikiname" value="${escapetool.xml($xcontext.inactiveUserReference)}" />
<label for="validKey">$services.localization.render('core.users.activation.validationKey.label') <input type="text" name="validkey" size="16" id="validKey"/></label>
<span class="buttonwrapper"><input type="submit" value="$services.localization.render('confirmaccount')" class="button"/></span>
</div>
</form>
#end
#end
#xwikimessageboxend()
#end
<div class="clearfloats"></div>
</main>## mainContentArea
</div>## main
#template("endpage.vm")
