## ---------------------------------------------------------------------------
## See the NOTICE file distributed with this work for additional
## information regarding copyright ownership.
##
## This is free software; you can redistribute it and/or modify it
## under the terms of the GNU Lesser General Public License as
## published by the Free Software Foundation; either version 2.1 of
## the License, or (at your option) any later version.
##
## This software is distributed in the hope that it will be useful,
## but WITHOUT ANY WARRANTY; without even the implied warranty of
## MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the GNU
## Lesser General Public License for more details.
##
## You should have received a copy of the GNU Lesser General Public
## License along with this software; if not, write to the Free
## Software Foundation, Inc., 51 Franklin St, Fifth Floor, Boston, MA
## 02110-1301 USA, or see the FSF site: http://www.fsf.org.
## ---------------------------------------------------------------------------
#template("startpage.vm")
<div class="main layoutsubsection">
## Set as an HTML main for better DOM tree semantics to facilitate navigation with assistive technologies.
<main id="mainContentArea">
<h3>$services.localization.render("core.viewers.attachments.revisions", [$escapetool.html($attachment.filename)])</h3>
#if ("$tdoc.realLocale" != '')
#set($lang = "&language=${tdoc.realLocale}")
#else
#set($lang = "")
#end
<table class="wiki-table" cellpadding="0" cellspacing="0" border="0">
    <tr>
        <th></th><th>$services.localization.render('version')</th><th>$services.localization.render('size')</th>
        <th>$services.localization.render('author')</th><th>$services.localization.render('date')</th>
        #if ($services.attachment.configuration.areSummariesEnabled())
          <th>$services.localization.render('core.viewers.attachments.livetable.comment')</th>
        #end
    </tr>
#foreach ($version in $attachment.getVersions())
    <tr#if($foreach.count % 2 == 1) class="table-odd"#else class="table-even"#end>
#set($attachrev = $attachment.getAttachmentRevision($version.toString()))
#if("$!{request.rid}" != "")
  #set($url = $doc.getAttachmentRevisionURL("${attachment.filename}", ${version.toString()}, "rid=${request.rid}"))
#else
  #set($url = $doc.getAttachmentRevisionURL("${attachment.filename}", ${version.toString()}))
#end
#if ($attachment.isImage())
        <td><img src="${url}" alt="${escapetool.xml($attachment.filename)}" width="80" />
#else
        <td class="mime">#mimetypeimg($attachment.getMimeType().toLowerCase() $attachment.getFilename().toLowerCase())
#end
        </td>
        <td><a href="$url">$version</a></td>
        <td>$attachrev.longSize</td>
        <td>$xwiki.getUserName($attachrev.getAuthor())</td>
        <td>$xwiki.formatDate($attachrev.getDate())</td>
        #if ($services.attachment.configuration.areSummariesEnabled())
          <td>$escapetool.xml($attachrev.comment)</td>
        #end
    </tr>
#end
</table>
</main>## mainContentArea
</div>## main
#template("endpage.vm")
