#set($docTitle = $request.getParameter('title'))
#if("$!docTitle" == '')
  #set($docTitle = $!tdoc.title)
#end
#set($docParent = $request.getParameter('parent'))
#if("$!docParent" == '')
  #set($docParent = $!tdoc.parent)
#end
##--------------------------------------------------------------------------
## Title and parent
##
<div id="parentinput" class="col-xs-12 breadcrumb form-group">
  <label for="xwikidocparentinput">$services.localization.render('core.editors.content.parentField.label') <a id='hideEditParentTrigger' href='#'>$services.localization.render('core.editors.content.parentField.edit.hide')</a></label>
  <input type="text" id="xwikidocparentinput" name="parent" value="$!{escapetool.xml("$!docParent")}" size="30" class="suggestDocuments "/>
</div>
#if ($editor != 'inline')
<div id="titleinput" class="form-group">
  <label for="xwikidoctitleinput">$services.localization.render('core.editors.content.titleField.label')</label>
  <input type="text" id="xwikidoctitleinput" name="title" value="$escapetool.xml("$!docTitle")" class="#if($xwiki.getXWikiPreference('xwiki.title.mandatory') == 1)required#end"/>
</div>
#end

#if($editor == 'wiki')
<div id="contentMeta">
  <label for="content">$services.localization.render('core.editors.content.contentField.label')</label>
</div>
#end
