#template('xwikivars.vm')
#set($parents = [])
#set($discard = $parents.add($doc.fullName))
#macro(computeHierarchy $doc $result $level)
  #set($parent = $doc.parent)
  #if(($parent != '') && ($level < 6) && (!$parents.contains($parent)))
    #set($discard = $parents.add($parent))
    #set($pdoc = $xwiki.getDocument($parent).getTranslatedDocument())
    #if ($pdoc)
      #set ($pdocurl = $pdoc.getURL('view'))
      #set ($nstring = "<li><a href='$pdocurl'>$escapetool.xml(${pdoc.getPlainTitle()})</a></li>$result")
      #set ($level = $level + 1)
      #computeHierarchy($pdoc $nstring $level)
    #else
      ## No access to the parent document
      <li><a href='$xwiki.getURL($parent)'>$escapetool.xml(${parent})</a></li>
      $result
    #end
  #else
    $result
  #end
#end
#if($isInServletMode) ## Visible only in a page
  #if("$!doc.parent" != '')
    <ol id="hierarchy" class="breadcrumb">
    #if ($doc.fullName != 'Main.WebHome')
      #if ($xcontext.action == 'edit' || $xcontext.action == 'inline')
        #computeHierarchy($doc "<li><a href='${doc.getURL('view')}'>$escapetool.xml($tdoc.getPlainTitle())</a></li>" 0)
      #else
        #computeHierarchy($doc "<li class='active'>$escapetool.xml($tdoc.getPlainTitle())</li>" 0)
      #end
    #end
    #if($xcontext.action == 'edit')
      <div class='edit-meta-tools'><a id='editParentTrigger' class='tool edit-parent' href='#mainEditArea' title="$services.localization.render('core.editors.content.parentField.edit.title')">[$services.localization.render('core.editors.content.parentField.edit')]</a></div>
    #end
    </ol>
  #end
#end
