#if ($xcontext.action=='preview')
  #set($displayContentMenu = false)
#end

#if ($request.xpage == "print")
  #set($showLeftPanels = '0')
  #set($showRightPanels = '0')
  #set($displayContentMenu = false)
#end

#if($xcontext.action == 'edit' && $editor != 'inline')
  #set($showLeftPanels = '0')
  #set($showRightPanels = '1')
#end

#if($xcontext.action == 'edit' && ($editor == 'object' || $editor == 'rights' || $editor == 'class'))
  #set($showLeftPanels = '0')
  #set($showRightPanels = '0')
#end
