/* Overwrite the styles associated with the 'full' CSS class from the XWiki skin. */
.selectize-input.full {
  min-height: 34px;
  padding: 6px 12px;
}

/* The selectize widget adds padding around the text input so we need to reduce the height of the text input. */
.selectize-input > input[type="text"] {
  height: 20px;
}

/* Styles for the loading state. */
.selectize-control.loading .selectize-input {
  background-image: url("$xwiki.getSkinFile('icons/xwiki/spinner.gif')");
  background-repeat: no-repeat;
}
.selectize-control.multi.loading .selectize-input {
  background-position: center right 12px;
  padding-right: 31px;
}
.selectize-control.single.loading .selectize-input {
  background-position: center right 36px;
  padding-right: 55px;
}

/* Option styles */
.xwiki-selectize-option {
  white-space: nowrap;
}
.xwiki-selectize-option-icon {
  margin-right: .3em;
}
img.xwiki-selectize-option-icon {
  border-radius: 3px;
  max-height: 18px;
  max-width: 18px;
  vertical-align: text-top;
}
a.xwiki-selectize-option-label {
  color: inherit;
  text-decoration: none;
}
em.xwiki-selectize-option-hint {
  display: block;
}

/* Live Table Filter */
.xwiki-livetable-display-header-filter .selectize-input {
  display: block;
}
