#template('colorThemeInit.vm')

/* colortheme gadget settings */
.colortheme .gadget .gadget-title {
  background-color: $theme.panelHeaderBackgroundColor;
  border-bottom: 1px dotted $theme.borderColor;
  color: $theme.panelHeaderTextColor;
  font-size: .8em;
  font-weight: 700;
  letter-spacing: 0;
  margin: 0;
  padding: 6px 20px 6px 15px;
  text-align: left;
  text-transform: uppercase;
}

.colortheme .gadget {
  border: 1px dotted $theme.borderColor;
  background-color: $theme.panelBackgroundColor;
  margin: 1em 0;
}

.colortheme .gadget .gadget-content {
  background-color: $theme.panelBackgroundColor;
  color: $theme.panelTextColor;
  padding: 10px 15px;
}

/* Hide the dashboard metadata */
.dashboard .metadata {
  display: none;
}

/* gadget handles on the dashboard */
.gadget .gadget-title .settings-menu .remove {
  background-image: url("/xwiki/resources/icons/silk/cross.gif");
  background-repeat: no-repeat;
  height: 16px;
  width: 16px;
  cursor: pointer;
  margin: 2px;
}

.gadget .gadget-title .settings {
  background-image: url("/xwiki/resources/icons/silk/cog.gif");
  background-position: center;
  background-repeat: no-repeat;
  height: 16px;
  width: 20px;
  position: absolute;
  top: 2px;
  right: 2px;
  cursor: pointer;
}

.gadget .gadget-title .settings-open {
  background-color: $theme.backgroundSecondaryColor;
}

.gadget .gadget-title .settings-menu {
  width: 20px;
  height: 20px;
  position: absolute;
  top: 18px;
  right: 2px;
  background-color: $theme.backgroundSecondaryColor;
}

/* Drag & drop effects */
.gadget-container-hover-highlight {
  background-color: $theme.highlightColor;
}

.column .gadget-placeholder {
  margin-top: 10px;
  padding: 20px;
  background-color: $theme.highlightColor;
}

.dashboard-edit .gadget .gadget-title {
  cursor: move;
}