<div class="xwikidatacontent">
    #set($rsvc= $xwiki.xWiki.getRightService())
    #if ($request.getParameter("text"))
        #set ($text = $request.getParameter("text"))
    #else
        #set($text = "")
    #end
    <p style="font-weight:bold"> $msg.get("listofallexistspages") : </p>

    #set ($sql = "where doc.web like '%$text%'  order by doc.date desc")
    #set ($start = 0)
    #set ($nb = 50)

    <table width="95%">
        #foreach ($item in $xwiki.searchDocuments($sql , $nb , $start))
            #if ($xwiki.hasAccessLevel("view", "${context.database}:${item}"))
                <tr>
                    #set($bentrydoc = $xwiki.getDocument($item))
                    <td>* <a href="#" onclick="document.forms[0].wiki_page.value='$bentrydoc.name';if ('$doc.web' != '$bentrydoc.web') document.forms[0].wiki_space.value='$bentrydoc.web'; else document.forms[0].wiki_space.value=''; return false;">
                        $bentrydoc.name </a>created by  $xwiki.getLocalUserName($bentrydoc.author) on $xwiki.formatDate($bentrydoc.date,"MMMM dd, yyyy HH:mm")
                     </td>
                 </tr>
            #end
        #end
    </table>
</div>