###
### Code page in the "view" mode
###
###
$xwiki.jsfx.use('uicomponents/viewers/code.js', true)##
$xwiki.jsfx.use('js/xwiki/editors/fullScreenEdit.js', true)##
$xwiki.ssfx.use('js/xwiki/editors/fullScreenEdit.css', true)##
<div id="document-title"><h1>$msg.get('core.viewers.code.title', [$xwiki.getXMLEncoded($doc.displayTitle), $doc.getURL()])</h1></div>
#set($escapedcontent = $escapetool.html($tdoc.translatedContent))
#set($ln = "$!request.getParameter('showlinenumbers')")
<div>
#if($ln != '0')
  <a href="$doc.getURL('view', "viewer=code&showlinenumbers=0&$!docvariant")" id="toggleLineNumbers">$msg.get('core.viewers.code.hideLineNumbers')</a>
  #set($contentLines = $escapedcontent.split($util.newline))
  #set($lineCount = $contentLines.size())
  #set($p = 1)
  #foreach($i in [0..5])
    #if($p > $lineCount)
      #set($positions = $i)
      #break
    #end
    #set($p = $p * 10)
  #end
  <textarea readonly="readonly" class="wiki-code">
#foreach($line in $contentLines)
$doc.name.format("%${positions}d:", $velocityCount) $line
#end</textarea>
#else
  <a href="$doc.getURL('view', "viewer=code&showlinenumbers=1&$!docvariant")" id="toggleLineNumbers">$msg.get('core.viewers.code.showLineNumbers')</a>
  <textarea readonly="readonly" class="wiki-code">$escapedcontent</textarea>
#end
</div>
