###
### Comments page in the "view" mode
###
###
#if("$!request.xpage" == "comments")
$response.sendRedirect($doc.getURL("view", "viewer=comments"))
#else
<h1><span>$xwiki.parseMessage("viewcommentstitle")</span></h1>
#template("commentsinline.vm")
#end