###
### List document comments
###
### TODO: web service?
###
#if($xwiki.getWebPreferenceAsInt('commentsorder', 1) == 1)
  #set($comments = $doc.getComments())
#else
  #set($comments = $doc.getComments(false))
#end
  <div id="commentscontent" class="xwikiintracontent">
    <div id="_comments">
#if($comments.size()>0)
#foreach($comment in $comments)
#if($velocityCount > 1)    <hr class="commentspacer"/>
#end
    <div id="xwikicomment_${velocityCount}" class="xwikicomment #if($velocityCount % 2 == 1) odd #else even #end">
##      <div class="commentavatar">#useravatar($comment.author)</div>
      <div class="commentheader"><span class="commentauthor">$!xwiki.getUserName($doc.display('author', 'view', $comment))</span>
#set($date = $comment.getProperty("date").value)
#if($date)
 | <span class="commentdate">$!xwiki.formatDate($date)</span>
#end
#if($hasEdit) <span class="commentdelete"><a class="commentremove" href="$doc.getURL('objectremove', "classname=XWiki.XWikiComments&amp;classid=${comment.number}&amp;xredirect=${request.getRequestURL()}")"
    onclick="return confirm('$msg.get('core.viewers.comments.confirmDelete')')">$msg.get('core.viewers.comments.delete')</a></span>#end
      </div>
      <div class="commentcontent">$doc.getRenderedContent($doc.display('comment', 'view', $comment))</div>
    </div>
#end
#else
$msg.get('core.viewers.comments.noComments')
#end
#if($xwiki.hasAccessLevel('comment'))
#set($cclass = $xwiki.getDocument('XWiki.XWikiComments').getxWikiClass())
#set($comment = $cclass.newObject())
      <form action="$doc.getURL('commentadd')" method="post">
        <fieldset class="expanded" id="commentform">
        <legend onclick="toggleForm(this.form)">$msg.get('core.viewers.comments.add.title')<span class="expands">...</span></legend>
        <input type="hidden" name="xredirect" value="${doc.getURL('view')}#Comments" />
        <input type="hidden" name="XWiki.XWikiComments_author" value="$context.user"/>
        <input type="hidden" name="XWiki.XWikiComments_date" value=""/>
        <div><textarea id='XWiki.XWikiComments_comment' rows='5' cols="80" name='XWiki.XWikiComments_comment' style="width: 100%;"></textarea></div>
        <div>
        <span class="buttonwrapper"><input type="submit" value="$msg.get('core.viewers.comments.add.submit')" class="button"/></span>
        <span class="buttonwrapper"><input type="reset" value="$msg.get('core.viewers.comments.add.cancel')" onclick="hideForm(this.form);" class="button"/></span>
        </div>
        </fieldset>
      </form>
#end
    </div> ## comments
  </div> ## commentscontent