###
### Display document contents in normal "view" mode
###
### TODO: Web service?
###
<div id="xwikicontent">
$cdoc.getRenderedContent()
#set($footnotes = "#putFootnotes()")
$xwiki.renderText($footnotes, $doc)
</div>