#set($formname = "edit")
#set($saveaction = "save")
#set($previewenabled = true)
#set($xredirect=$!request.getParameter("xredirect"))
## <form id="edit" method="post" action="$doc.getURL("preview")">
## #set($editactions = "top")
## <div class="topbuttons">#template("editactions.vm")</div>
<div>
<div class="hidden">
<input type="hidden" name="template" value="$!request.template" />
<input type="hidden" name="xcontinue" value="$doc.getURL("edit", "editor=wysiwyg")"/>
<input type="hidden" name="xredirect" value="$!xredirect" />
<input type="hidden" name="language" value="$!tdoc.realLanguage" />
## <input type="hidden" id="xwikidoctitleinput" name="title" value="$!tdoc.title"/>
## <input type="hidden" id="xwikidocparentinput" name="parent" value="$!tdoc.parent"/>
</div>
<div id="xwikitext">
<div id="xwikieditcontent">
#if($xwiki.wysiwyg.isSyntaxSupported($doc.syntaxId))
## We should definitely find a better way of including the style sheet and the JavaScript code!
<link rel="stylesheet" href="${request.contextPath}/com.xpn.xwiki.wysiwyg.Wysiwyg/Wysiwyg.css" />
<script type="text/javascript" src="${request.contextPath}/com.xpn.xwiki.wysiwyg.Wysiwyg/com.xpn.xwiki.wysiwyg.Wysiwyg.nocache.js"></script>
<iframe src="javascript:''" id="__gwt_historyFrame" style="width:0;height:0;border:0"></iframe>
$xwiki.getTextArea($tdoc.content)
<script type="text/javascript">
//<![CDATA[
    var Wysiwyg0 = {
      hookId: 'content',
      syntax: "$doc.syntaxId",
      plugins: 'separator text valign list indent undo format symbol',
      toolbar: 'bold italic underline strikethrough | subscript superscript | unorderedlist orderedlist | outdent indent | undo redo | format | hr symbol',
      debug: #if($request.debug)'true'#else'false'#end
    };
//]]>
</script>
#else
#warning("The new GWT-based WYSIWYG editor doesn't support the syntax of the current document: <em>$doc.syntaxId</em>.")
#end
</div>
</div>
</div>
#set($editactions = "bottom")
<div class="bottombuttons">#template("editactions.vm")</div>
## </form>