### Buttons displayed in the edit interface: cancel, preview (when enabled), save and continue, save and view.
###
#if("$!showactions" != '0')
  #set($keyboardShortcutsEnabled = ($editor!="wysiwyg"))
  ## This allows the preview form to redirect back to the correct editor when pressing "Back to edit":
  <div class="metamodifs">
  <input type="hidden" name="xeditaction" value="$!editaction"/>
  #if((!$tdoc.isNew()) && (!$minorFieldAdded) && ($xwiki.hasMinorEdit()))
    #set($minorFieldAdded = 1)
    $msg.get("core.minoredit"): <input type="checkbox" name="minorEdit" #if($request.minorEdit)checked="checked" #end/>
  #end
  #if((!$commentFieldAdded)&&($xwiki.hasEditComment()))
    #set($commentFieldAdded = 1)
    #if($xwiki.isEditCommentFieldHidden())
      <input type="hidden" name="comment" value="$!{request.comment}" />
    #else
      $msg.get("core.comment"): <input type="text" name="comment" value="$!{request.comment}" size="40" title="Enter a brief description of the modification" />
    #end
  #end
  </div> ## metamodifs
  <div class="buttons">
    #editActionButton('cancel', 'cancel')
    #if($previewenabled) #editActionButton('preview', 'preview') #end
    #editActionButton('saveandcontinue', 'saveandcontinue')
    #editActionButton('save', 'saveandview')
  </div> ## buttons
#end
