###
### Object editor
###
###
## Macros
##
#macro(cleanClassname $classname)$classname.substring($classname.indexOf('.')).substring(1)#end
##
##
##
#macro(displayObject $obj $class $props $firstfield)
  <div id="xobject_${class.name}_${obj.number}" class="xobject">
  <div id="xobject_${class.name}_${obj.number}_title" class="xobject-title"><h3>#cleanClassname(${class.name}) ${obj.number}:</strong> $doc.display($firstfield, $obj)
    <a href="$doc.getURL("objectremove", "classname=${class.name}&amp;classid=${obj.number}&amp;xredirect=${doc.getURL('edit', 'editor=object')}")" class="xobject-action delete" title="Remove this object">$msg.get("removethisobject")</a>
    #if(!$hasCustomObject) <a href="$doc.getURL("edit", "editor=object&amp;classname=${class.name}&amp;object=${obj.number}")" class="xobject-action edit" title="Edit only this object">$msg.get("editthisobject")</a> #end
  </h3></div>
  <div id="xobject_${class.name}_${obj.number}_content" class="xobject-content"><div>
    <dl>
    #if($hasCustomField)
      #set($properties = $util.arrayList)
      #foreach($propName in $customField.split(','))
        #set($discard = $properties.add($class.get($propName)))
      #end
    #else
      #set($properties = $class.properties)
    #end
    #foreach($prop in $properties)
      <dt class="label"><label for="${class.name}_${obj.number}_$prop.name">$prop.prettyName</label></dt>
      <dd>$doc.displayEdit($prop, "${class.name}_${obj.number}_" , $obj)</dd>
    #end
    </dl>
  </div></div>## xobject-content
  </div>## xobject
#end
##
##
##
#macro(displayClass $class)
  #set($props = $class.getProperties())
  #foreach($prop in $props)
    #if ($velocityCount==1)
      #set($firstfield = $prop.name)
    #end
  #end
  <div id="xclass_${class.name}" class="xclass">
    <div id="xclass_${class.name}_title" class="xclass-title"><h2>Objects of type $class.name</h2></div>
    <div id="xclass_${class.name}_content" class="xclass-content"><div>
    #if($hasCustomObject)
      #set($object = $doc.getObject($class.name, $customObject))
      #if($object)
        #set($objects = [$object])
      #else
        #set($objects = [])
        #warning($msg.get("nosuchobject"))
      #end
    #else
      #set($objects = $doc.getObjects($class.name))
    #end
    #foreach($object in $objects)
      #displayObject($object $class $props $firstfield)
    #end
    </div></div>
  </div>
#end
##
##
##
##
#if("$!request.xpage" == 'editobject')
  $response.sendRedirect($doc.getURL('edit', 'editor=object'))
#else
  $xwiki.ssfx.use('js/xwiki/editors/dataeditors.css', true)##
  $xwiki.jsfx.use('js/xwiki/editors/dataeditors.js', true)##
  ## Insert JS and CSS needed for the fullscreen edit feature
  $xwiki.jsfx.use('js/xwiki/editors/fullScreenEdit.js', {'forceSkinAction': true, 'language': ${context.language}})##
  $xwiki.ssfx.use('js/xwiki/editors/fullScreenEdit.css')##
  #set($formname = 'update')
  #set($saveaction = 'save')
  #set($hasCustomClass = ("$!{request.classname.trim()}" != ''))
  #set($hasCustomObject = ($hasCustomClass && ("$!{request.nb.trim()}$!{request.classid.trim()}$!{request.object.trim()}" != '')))
  #set($hasCustomField = ($hasCustomClass && ("$!{request.property.trim()}" != '')))
  #if($hasCustomClass)
    #set($classes = [$xwiki.getDocument($request.classname).getxWikiClass()])
  #else
    #set($classes = $doc.getxWikiClasses())
  #end
  #if($hasCustomClass || $hasCustomObject || $hasCustomField)
    #set($fullEditorURL = "$doc.getURL('edit', 'editor=object')")
    <div class="more-actions">
      <a href='$fullEditorURL' class='edit-all' title='Edit only this object'>&laquo;Edit all the objects defined in this document</a>
    </div>
  #end
  #set($redirect = $xwiki.getRequestURL())
  <form id="update" method="post" action="$doc.getURL("save")" onsubmit="cancelCancelEdit()">
  <div id="xwikieditcontent">
  #set($q = 'editor=object')
  #if($hasCustomClass)
    #set($customClass = ${request.classname})
    #set($q = "${q}&amp;classname=${customClass}")
    #if($hasCustomObject)
      #set($customObject = "$!{request.object}")
      #if($customObject == '')
        #set($customObject = "$!{request.classid}")
        #if($customObject == '')
          #set($customObject = "$!{request.nb}")
        #end
      #end
      #set($customObject = $util.parseInt($customObject))
      #set($q = "${q}&amp;object=${customObject}")
    #end
    #if($hasCustomField)
      #set($customField = $request.property)
      #set($q = "${q}&amp;property=${customField}")
    #end
  #end
    <div class="hidden"><input type="hidden" name="xcontinue" value="$doc.getURL($context.action, $q)"/></div>
    <div id="xwikiobjects">
  #foreach($class in $classes)
    #displayClass($class)
  #end
    </div>## xwikiobjects
  </div>## xwikieditcontent
  <div class="bottombuttons">#template("editactions.vm")</div>
  </form>
#end ## request.page