#if($doc.syntaxId == "xwiki/1.0")
#set($formname = "edit")
#set($saveaction = "save")
#set($previewenabled = true)
<script type="text/javascript" src="$xwiki.getSkinFile("js/xwiki/wysiwyg/tinymce/tiny_mce/tiny_mce.js")"></script>
<script type="text/javascript" src="$xwiki.getSkinFile("js/xwiki/wysiwyg/tinymce/wiki_editor/wiki_editor.js")"></script>
#set($xredirect=$!request.getParameter("xredirect"))
## <form id="edit" method="post" action="$doc.getURL("preview")" onsubmit="tinyMCE.triggerSave();">
## #set($editactions = "top")
## <div class="topbuttons">#template("editactions.vm")</div>
<div>
<div class="hidden">
<input type="hidden" name="template" value="$!request.template" />
#if($request.section && $request.section!="")
 #set($xcontinue=$doc.getURL("edit", "editor=wysiwyg&section=$request.section"))
#else
 #set($xcontinue=$doc.getURL("edit", "editor=wysiwyg"))
#end
<input type="hidden" name="xcontinue" value="$xcontinue"/>
<input type="hidden" name="xredirect" value="$!xredirect" />
<input type="hidden" name="language" value="$!tdoc.realLanguage" />
## <input type="hidden" id="xwikidoctitleinput" name="title" value="$!tdoc.title"/>
## <input type="hidden" id="xwikidocparentinput" name="parent" value="$!tdoc.parent"/>
</div>
<div id="xwikitext">
<div id="xwikieditcontent">
$xwiki.getTextArea($tdoc.content)
</div>
</div>
</div>
#set($editactions = "bottom")
<div class="bottombuttons">#template("editactions.vm")</div>
## </form>
<script type="text/javascript">
//<![CDATA[
    if ( browser.isIE || browser.isMozilla || browser.isGecko  || browser.isSafari) {
        wikiEditor.init({
            language: "en",
            elements : "content",
            mode: "exact",
            ## $defaultstyle is set in stylesheets.vm            
            content_css: "$xwiki.getSkinFile($defaultstyle, true)",            
            debug : false,
            remove_linebreaks : false,
            wiki_editor_toolbar: '$xwiki.getWysiwygToolbars()',
            plugins: 'table, contextmenu, paste, searchreplace',
            wiki_images_path : '${doc.getURL('download')}/',
            wiki_attach_path : '${doc.URL}',
            wiki_macro_path : '${doc.URL}',
            wiki_plugins: 'core,attachments,macros'
});
     
   } else {
            alert("$msg.get('browsernoncompatible')");
	  }
//]]>
</script>
## Insert JS and CSS needed for the fullscreen edit feature
$xwiki.jsfx.use('js/xwiki/editors/fullScreenEdit.js', {'forceSkinAction': true, 'language': ${context.language}})
$xwiki.ssfx.use('js/xwiki/editors/fullScreenEdit.css')
#else ## doc.syntaxId != "xwiki/1.0"
#template("editwysiwygnew.vm")
#end
