#if($isInServletMode)
## This template is necessary so that different skins can use different edit Panels.
## Thus each skin is allowed to override the editpanelsvars.vm file.
#template('editpanelsvars.vm')
#if ($editor == 'wiki')
  #set ($editorPanels = $editorPanelsWiki)
#elseif ($editor == 'wysiwyg')
  #set ($editorPanels = $editorPanelsWysiwyg)
#elseif ($editor == 'object')
  #set ($editorPanels = $editorPanelsObjects)
#elseif ($editor == 'class')
  #set ($editorPanels = $editorPanelsClass)
#elseif ($editor == 'rights')
  #set ($editorPanels = $editorPanelsRights)
#elseif ($editor == 'history')
  #set ($editorPanels = $editorPanelsHistory)
#end
#set ($editorPanels = $editorPanels.split(','))
<div id="editPanels" class="panels editor">
#foreach ($panel in $editorPanels)
  #displaypanel($panel)
#end
</div>
#if ($editor == 'wysiwyg')
<script type="text/javascript">
//<![CDATA[
  if (browser.isIE || browser.isMozilla || browser.isGecko  || browser.isSafari) {
    var panels = document.getElementById("editPanels");
    if(document.getElementById("xwikisyntaxhelppanel"))
        panels.removeChild(document.getElementById("xwikisyntaxhelppanel"));
    if (document.getElementById("simpleedittoolbar"))
        document.getElementById("simpleedittoolbar").style.display = "none";
  }
//]]>
</script>
#end
#end