#set($parents = $util.arrayList)
#set($discard = $parents.add($doc.fullName))
#macro(computeHierarchy $doc $result $level)
  #set($parent = $doc.parent)
  #if(($parent != '') && ($level < 6) && (!$parents.contains($parent)))
    #set($discard = $parents.add($parent))
    #set($pdoc = $xwiki.getDocument($parent).getTranslatedDocument())
    #set($pdocurl = $pdoc.getURL("view"))
    #set($nstring = "<a href='$pdocurl'>$xwiki.getXMLEncoded(${pdoc.getRenderedTitle('plain/1.0')})</a> <span class='separator'>&raquo;</span> $result")
    #set($level = $level + 1)
    #computeHierarchy($pdoc $nstring $level)
  #else
    $result
  #end
#end
#if($isInServletMode) ## Visible only in a page
  <div id="hierarchy">
    #computeHierarchy($doc "<a href='${doc.getURL('view')}'>$xwiki.getXMLEncoded($tdoc.getRenderedTitle('plain/1.0'))</a>" 0)
  </div>
#end
