### In non-Servlet mode (in Portlet mode for example) we don't display the <HTML>, <HEAD> and <BODY>
### elements.
#if($context.getMode()==0)
<?xml version="1.0" encoding="$xwiki.encoding" ?>
## TODO this should be more specific
#if("$!request.noDoctype" != "true")
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
#end
<html xmlns="http://www.w3.org/1999/xhtml" lang="$context.language" xml:lang="$context.language">
  <head>
    <title>
    #if(!$title)
      #set( $title = $!xwiki.getWebPreference('title'))
      #if ( $title != "")
        $xwiki.getXMLEncoded($xwiki.parseContent($title))
      #else
        XWiki - $xwiki.getXMLEncoded($!doc.space) - $xwiki.getXMLEncoded($!tdoc.displayTitle)
      #end
    #else
      $xwiki.getXMLEncoded($title)
    #end
    </title>
    <meta http-equiv="Content-Type" content="text/html; charset=$xwiki.encoding" />
    <meta http-equiv="imagetoolbar" content="no"/>
    #if($context.action=="view")
      ## Universal edit button http://universaleditbutton.org
      <link rel="alternate" type="application/x-wiki" title="Edit" href="$doc.getURL("edit")" />
    #end
    ## Store the space name, page name, wiki name and full document name (for convenience since it can be reconstructed
    ## from the individual wiki/space/page names), so that it can be accessed from Javascript code.
    ## For example, to pass it to the server side using an Ajax query.
    ## Usage example: var name = $$("meta[name='page']")[0].content;
    <meta name="document" content="$xwiki.getXMLEncoded($doc.fullName)"/>
    <meta name="space" content="$xwiki.getXMLEncoded($doc.space)"/>
    <meta name="page" content="$xwiki.getXMLEncoded($doc.name)"/>
    #if($xwiki.isVirtualMode())
      <meta name="wiki" content="$xwiki.getXMLEncoded($doc.wiki)"/>
    #end
    $xwiki.parseContent($!xwiki.getWebPreference("meta"))
    ## Hook for inserting Link extensions. This will be replaced with the pulled link references.
    <!-- com.xpn.xwiki.plugin.skinx.LinkExtensionPlugin -->
    #template("stylesheets.vm")
    #template("analytics.vm")
    #template("javascript.vm")
  </head>
  ## TODO: fix this from css
  #if(($context.action=="inline") || ($context.action=="edit"))
	<body onload="prepareCancelEdit();" id="body" class="$context.database ${context.action}body #if($showLeftPanels == "0")hideleft#end#if($showRightPanels == "0")hideright#end#if($hidecolumns && ($!hidecolumns == 1))hidelefthideright#end">
  #elseif($context.action == "admin")
    <body onload="prepareCancelEdit();" id="body" class="$context.database viewbody #if($showLeftPanels == "0")hideleft#end#if($showRightPanels == "0")hideright#end#if($hidecolumns && ($!hidecolumns == 1))hidelefthideright#end">
  #elseif( $context.action == "import" || $context.action == "export" )
	<body id="body" class="$context.database viewbody #if($showLeftPanels == "0")hideleft#end#if($showRightPanels == "0")hideright#end#if($hidecolumns && ($!hidecolumns == 1))hidelefthideright#end">
  #else
	<body id="body" class="$context.database ${context.action}body #if($showLeftPanels == "0")hideleft#end#if($showRightPanels == "0")hideright#end#if($hidecolumns && ($!hidecolumns == 1))hidelefthideright#end">
  #end
#else
  #template("stylesheets2.vm")
  #template("javascript.vm")
  <!-- This is a hack for Exo which needs this for the XWiki portlet to fit in the Portlet window
       properly. In the future Exo should modifies its behavior so that this is not necessary and
       this will need to be removed -->
  <div class="UIApplication" style="overflow: auto">
#end
## These elements will be closed in the footer vm file
<div id="xwikimaincontainer">
<div id="xwikimaincontainerinner">
