#if($request.xredirect)
  #set($redirect = $request.xredirect)
#else
  #set($redirect = $xwiki.getRequestURL())
#end

#if(!$redirect)
  #set($redirect = $doc.getURL("import", "editor=import"))
#end

##---------------------------------------------------------------------------
## Import the documents from the selected XAR.
##---------------------------------------------------------------------------
#if($request.action && $request.action=="import")

  <h3 class="heading-1-1">$msg.get("import") #if($request.withversions=="1")$msg.get("export_addhistory")#end</h3>

  #macro(showfilelist $list $text)
    #if($list.size()>0)
      <h4 class="heading-1-1-1">$msg.get("import_listof${text}files")</h4>
      <ul>
        #foreach($item in $list)
          <li>$item</li>
        #end
      </ul>
    #end
  #end

  $msg.get("importing") $!request.name: $msg.get("import_install_${xwiki.package.status}")

  <br/>
  <ul>
    <li>$xwiki.package.installed.size() $msg.get("import_documentinstalled")
    <li>$xwiki.package.skipped.size() $msg.get("import_documentskipped")
    <li>$xwiki.package.errors.size() $msg.get("import_documenterrors")
  </ul>

  #showfilelist($xwiki.package.installed "installed")
  #showfilelist($xwiki.package.skipped "skipped")
  #showfilelist($xwiki.package.errors "errors")

##---------------------------------------------------------------------------
## Browse the XARs and let the user select a XAR and the list of documents
## to import from that XAR.
##---------------------------------------------------------------------------
#else

  <script type="text/javascript" src="$xwiki.getSkinFile("import.js", true)"></script>

  <h3 class="heading-1-1">$msg.get("availablefilestoimport")</h3>
  $msg.get("selectfiletoimport"):

  #set($attachments = $doc.attachmentList)
  <div id="attachments">
    #if($attachments.size()>0)
      <table class="xwikidatatable" summary="$msg.get("document") ${doc.displayTitle} &mdash; $msg.get("attachments")">
        <col class="attachmentname"/>
        <col class="attachmentauthor"/>
        <col class="attachmentversion"/>
        <col class="attachmentdate"/>
        <col class="attachmentsize"/>
        <col class="attachmentdelete"/>
        #foreach ($attach in $attachments)
          <tr class="row#if($velocityCount % 2 == 0) even #else odd #end">
            <td><a href="javascript:void()" title="$msg.get("choosethispackage")" onclick="selectPackage('$attach.filename'); return false;">#packName($attach.filename)</a></td>
            <td>$xwiki.getLocalUserName($attach.author)</td>
            <td><a href="$doc.getAttachmentURL("${attach.filename}", "viewattachrev")" title="$msg.get("viewattachmenthistory")">$attach.version</a></td>
            <td>$!xwiki.formatDate($attach.date, "dd/MM/yyyy")</td>
            <td>$attach.filesize</td>
            #if($hasedit || $hasadmin)
              <td class="xwikibuttonlinks"><a class="deletelink" href="$doc.getAttachmentURL("${attach.filename}", "delattachment", "xredirect=$!{redirect}")" onclick="return confirm('$msg.get("confirmdelattachment")');" title="$msg.get("deletethisattachment")">$msg.get("delete")</a></td>
            #end
          </tr>
        #end
      </table>
    #else
      $msg.get("noattachments")
    #end
  </div>

  ## List the documents that can be imported from the currently selected XAR.
  ## If no XAR has been selected explain that the user needs to select one.
  <h3 class="heading-1-1">$msg.get("availabledocumentstoimport")</h3>

  ## The following div will be hidden by the import.js script when a XAR document is selected.
  <span id="noSelectedDocs">$msg.get("selectdocumentstoimport")</span>

  ## This div will be made visible if there are no documents inside the selected XAR
  <span id="noDocsInArchive" style="display: none;">$msg.get("nodocstoimport")</span>

  <span id="selectDocsActions" style="display: none;">
    $msg.get("select")
    <a href="javascript:void()" onclick="selectItems('selCheckedDoc', false); return false;" class="Exportlink">$msg.get("none")</a>,
    <a href="javascript:void()" onclick="selectItems('selCheckedDoc', true); return false;" class="Exportlink">$msg.get("all")</a>
  </span>

  <form action="" method="post">
    <div>
      <input type="hidden" name="action" value="import" />

      ## Placeholder for adding the documents as checkbox input types.
      ## WARNING: Do NOT try to change <div id="..."></div> below to
      ##          <div id="..."/> as it'll break it! (the JS we have won't work
      ##          when it changes the inner HTML value. See http://www.w3.org/TR/xhtml1/#guidelines
      ##          section C.3).
      <div id="selectedDocs"></div>

      ## Placeholder for adding the name of the XAR as <input type="hidden">.
      <span id="importDocName"></span>

      <span id="importDocs" style="display: none;">
        <div><br /><label><input type="checkbox" name="withversions" id="withversions" value="1"/><i>$msg.get("export_addhistory")</i></label></div>
        <input type="submit" value="$msg.get("import")" />
      </span>
    </div>
  </form>

  ## Let the user upload XAR files.
  <h3 class="heading-1-1">$msg.get("uploadnewarchivetoimport")</h3>
  <form action="$doc.getURL("upload")" enctype="multipart/form-data" method="post">
    <fieldset class="expanded" id="attachform">
      <legend onclick="toggleForm(this.form)">$msg.get("addattachment")<span class="expands">...</span></legend>
      <div class="hidden"><input type="hidden" name="xredirect" value="$xwiki.getFormEncoded($redirect)" /></div>
      <div><input id="xwikiuploadname" type="hidden" name="filename" value="" size="40"/></div>
      <div><label id="xwikiuploadfilelabel" for="xwikiuploadfile">$msg.get("choosefiletoupload"):</label></div>
      <div><input id="xwikiuploadfile" type="file" name="filepath" value="" size="40"/></div>
      <div>
        <input type="submit" value="$msg.get("attachthisfile")" onclick="return updateAttachName(this.form, '$msg.get("doyouwanttoreplace")')" class="button"/>
        <input type="reset" value="$msg.get("cancel")" onclick="hideForm(this.form);" class="button"/>
      </div>
    </fieldset>
  </form>
#end
