#set($pageWidth = $xwiki.getUserPreferenceFromCookie("pageWidth"))
#if(!$pageWidth || $pageWidth == "" || $pageWidth == "default")
#set($pageWidth = $xwiki.getUserPreference("pageWidth"))
#end
#if(!$pageWidth || $pageWidth == "" || $pageWidth == "default")
#set($pageWidth = $xwiki.getWebPreference("pageWidth"))
#end
#if(!$pageWidth || $pageWidth == "" || $pageWidth == "default")
#set($pageWidth = "1024")
#end
#set($contentwidth = $util.parseInt($pageWidth) - 80)
#set($panelwidth = 168)
#set($editpanelwidth = 290)
#set($padding = 4)
#set($dpadding = $padding + $padding)
#set($spacing = 5)
#set($dspacing = $spacing + $spacing)
#set($contentmargin = $panelwidth + $dspacing)
#set($editcontentmargin = $editpanelwidth + $dspacing)
#set($editwidth = $contentwidth - $editcontentmargin - $dspacing)
#set($editwidthcontent = $editwidth - $dspacing)
#set($editpanelwidthcontent = $editpanelwidth - $dspacing)
#set($edittextareaie = $editwidth)
#set($edittextarea = $edittextareaie - 4)
#set($messageboxwidth = 480)
#set($blogwidth = 200)
##
##
#set($showLeftPanels = $xwiki.getWebPreference("showLeftPanels"))
#if(!$showLeftPanels || $showLeftPanels == "" || $showLeftPanels == "default")
#set($showLeftPanels = "1")
#end
#if($showLeftPanels == "yes")
#set($showLeftPanels = "1")
#end
#if($showLeftPanels == "no")
#set($showLeftPanels = "0")
#end
#set($showRightPanels = $xwiki.getWebPreference("showRightPanels"))
#if(!$showRightPanels || $showRightPanels == "" || $showRightPanels == "default")
#set($showRightPanels = "1")
#end
#if($showRightPanels == "yes")
#set($showRightPanels = "1")
#end
#if($showRightPanels == "no")
#set($showRightPanels = "0")
#end
##
##
#if($showLeftPanels)
#set($leftPanels = $xwiki.getUserPreference("leftPanels"))
#if($leftPanels == "")
#set($leftPanels = $xwiki.getWebPreference("leftPanels"))
#end
#if($leftPanels == "")
#set($showLeftPanels = "0")
#else
#set($leftPanels = $leftPanels.split(","))
#end
#end
#if($showRightPanels)
#set($rightPanels = $xwiki.getUserPreference("rightPanels"))
#if($rightPanels == "")
#set($rightPanels = $xwiki.getWebPreference("rightPanels"))
#end
#if($rightPanels == "")
#set($showRightPanels = "0")
#else
#set($rightPanels = $rightPanels.split(","))
#end
#end
##
##
#if($showLeftPanels == "yes")
 #if($showRightPanels == "yes")
  #set($colsclass = "show-all")
 #else
  #set($colsclass = "hide-right")
 #end
#else
 #if($showRightPanels == "yes")
  #set($colsclass = "hide-left")
 #else
  #set($colsclass = "hide-all")
 #end
#end
##
##
##
