###
### Change a user's password
###
###
#template("startpage.vm")
<div class="minwidthb"></div>
<div class="main layoutsubsection">
#if($doc.getObject("XWikiUsers", 0))
#set($i = $context.user.indexOf(":")+1)
#if($context.user.substring($i) == $doc.fullName || $hasAdmin)
  <form action="$doc.getURL("save")" method="post" onsubmit="if($('xwikipassword').value != $('xwikipassword2').value) {alert('$msg.get("platform.core.profile.passwd.passwordMissmatch")'); return false; } else if($('xwikipassword').value == '') {alert('$msg.get("platform.core.profile.passwd.passwordCannotBeEmpty")'); return false;}">
<h2 class="heading-1">$msg.get("platform.core.profile.passwd.title", [$xwiki.getUserName($doc.fullName, false)])</h2>
<dl>
    <dt><label id="xwikipasswordlabel" for="xwikipassword">$msg.get("platform.core.profile.passwd.newPassword"):</label></dt>
    <dd><input id="xwikipassword" type="password" name="XWiki.XWikiUsers_0_password" value="" size="20"/></dd>
    <dt><label id="xwikipassword2label" for="xwikipassword2">$msg.get("platform.core.profile.passwd.reenterPassword"):</label></dt>
    <dd><input id="xwikipassword2" type="password" name="password2" value="" size="20"/></dd>
</dl>
    <div class="padded">
    <input type="submit" value="$msg.get("platform.core.profile.passwd.submit")" class="button"/>
    </div>
    <div class="padded">
    <a href="$doc.getURL("view")">$msg.get("platform.core.profile.passwd.cancel")</a>
    </div>
  </form>
#else
#xwikimessageboxstart($msg.get("platform.core.errorMessageType") $msg.get("platform.core.profile.passwd.notAllowed"))
#xwikimessageboxend()
#end
#else
#xwikimessageboxstart($msg.get("platform.core.noticeMessageType") $msg.get("platform.core.profile.passwd.notaUser"))
#xwikimessageboxend()
#end
</div></div>
#template("endpage.vm")