#template("xwikivars.vm")
#if ($request.getParameter("raw").equals("1"))
<pre>
$cdoc.getEscapedContent()
</pre>
#else
#set($outputSyntax = $xwiki.getAvailableRendererSyntax($request.outputSyntax, $request.outputSyntaxVersion))
#if ($outputSyntax)
$cdoc.getRenderedContent($outputSyntax)##
#else
$cdoc.getRenderedContent()##
#end
#end