## Preview deleted document in recycle bin
#set ($deletedDocument = $xwiki.getDeletedDocument($tdoc.getFullName(), $tdoc.getLanguage(), $request.get('id')))
#if ($deletedDocument)
  #set ($doc = $deletedDocument.getDocument())
  #set ($tdoc = $doc)
  #set ($cdoc = $doc)
  #template('contentview.vm')
  #template('docextra.vm')
#else
  #xwikimessageboxstart($msg.get('error') $msg.get('core.recyclebin.invalidEntry'))
  #template('recyclebinlist.vm')
  #xwikimessageboxend()
#end