#*
 * register.vm
 * This template allows guests to register a username in a wiki. If any document exists by the name XWiki.Registration
 * then this template will defer to that document.
 *
 * Macros in this template do not depend on any variables to be set which are not passed to them.
 * Macros may depend on other macros but only other macros in this template.
 *
 * This template depends on the following variables being set at it's start:
 * $xwiki - the com.xpn.xwiki.api.XWiki object for this wiki.
 * $msg - the XWiki message tool object set up for the user's language.
 * $request - the HttpServletRequest for which started this script.
 * $doc - any com.xpn.xwiki.api.Document object. It doesn't matter which or even if it represents a real persisted 
 *        document. It is only used for it's functions.
 *
 * This template depends on the startpage.vm and endpage.vm templates existance
 * and on the "#template" macro for loading them.
 *###
#template("startpage.vm")
<div class="main layoutsubsection">
 <div id="mainContentArea">
  #if(!$xwiki.hasAccessLevel('view', 'XWiki.Registration') || $xwiki.getDocument('XWiki.Registration').isNew())
    ## Display the static content included in this template, as there's no override in the wiki
    <h1>$msg.get('core.register.title')</h1>
    ## If data is posted then register.
    #if($request.getMethod().toLowerCase() == 'post' && $request.getParameter('xwikiname'))
      #processPost($request, $doc, $xwiki, $msg)
    #else
      #displayForm($request, $doc, $xwiki, $msg)
    #end
  #else
    ## An override exists in the wiki, display it
    #set($doc = $xwiki.getDocument('XWiki.Registration'))
    $xwiki.includeTopic('XWiki.Registration', false)
  #end
 </div>## mainContentArea
</div>## main
#template("endpage.vm")
##
##---------------------------------------------------------------------
## Macros. Nothing below this point is run directly.
##---------------------------------------------------------------------
#*
 * Process a post to the register template, validate the user input and create a user.
 *
 * @param $request - the HttpServletRequest for which started this script.
 * @param $doc - any com.xpn.xwiki.api.Document object.
 * @param $xwiki - the com.xpn.xwiki.api.XWiki object for this wiki.
 * @param $msg - the XWiki message tool object set up for the user's language.
 *###
#macro(processPost, $request, $doc, $xwiki, $msg)
  ## See if email verification is required and register the user.
  #if($xwiki.getXWikiPreferenceAsInt('use_email_verification', 0) == 1)
    #set($reg = $xwiki.createUser(true))
  #else
    #set($reg = $xwiki.createUser(false))
  #end
  ##
  ## Handle output from the registration.
  #if(!$reg || $reg < 0)
    <p>$msg.get('core.register.welcome')</p>
  #end
  ##
  #if($reg && $reg <= 0)
    #if($reg == -2)
      #error($msg.get('core.register.passwordMismatch'))
    #elseif($reg == -3)
      #error($msg.get('core.register.userAlreadyExists'))
    #elseif($reg == -4)
      #error($msg.get('core.register.invalidUsername'))
    #elseif($reg == -8)
      #error($msg.get('core.register.userAlreadyExists'))
    #else
      #error($msg.get('core.register.registerFailed', [$reg]))
    #end
    #displayForm($request, $doc, $xwiki, $msg)
  #elseif($reg)
    #set($xwname = "XWiki.${request.xwikiname}")
    #info($msg.get('core.register.successful', [$xwiki.getUserName($xwname), $request.xwikiname]))
  #end
#end
##
#*
 * Display the registration form so a guest can sign up.
 *
 * @param $request - the HttpServletRequest for which started this script.
 * @param $doc - any com.xpn.xwiki.api.Document object.
 * @param $xwiki - the com.xpn.xwiki.api.XWiki object for this wiki.
 * @param $msg - the XWiki message tool object set up for the user's language.
 *###
#macro(displayForm, $request, $doc, $xwiki, $msg)
  <form id="register" action="" method="post">
   <div>
    <input type="hidden" name="template" value="XWiki.XWikiUserTemplate" />
    #set($class = $xwiki.getClass('XWiki.XWikiUsers'))
    #set($obj = $class.newObject())
    #set($serverobj = $class.newObject())
    #set($discard = $doc.use('XWiki.XWikiUsers'))
    #if($request.register_first_name)
      $doc.set('first_name', $request.register_first_name)
    #end
    #if($request.register_last_name)
      $doc.set('last_name', $request.register_last_name)
    #end
    <dl>
     #set($prop = $class.first_name)
     <dt><label for="register_first_name">$msg.get('core.register.firstName')</label></dt>
     <dd>$doc.displayEdit($prop, 'register_',  $obj)</dd>

     #set($prop = $class.last_name)
     <dt><label for="register_last_name">$msg.get('core.register.lastName')</label></dt>
     <dd>$doc.displayEdit($prop, 'register_',  $obj)</dd>

     <dt><label for="xwikiname">$msg.get('core.register.username')</label></dt>
     <dd><input name="xwikiname" type="text" size="20" onfocus="prepareName(document.forms.register);" /></dd>

     #set($prop = $class.password)
     <dt><label for="register_password">$msg.get('core.register.password')</label></dt>
     <dd>$doc.displayEdit($prop, 'register_',  $obj)</dd>

     <dt><label for="register2_password">$msg.get('core.register.passwordRepeat')</label></dt>
     <dd>$doc.displayEdit($prop, 'register2_',  $obj)</dd>

     #set($prop = $class.email)
     <dt><label for="register_email">$msg.get('core.register.email')</label></dt>
     <dd>$doc.displayEdit($prop, 'register_',  $obj)</dd>
    </dl>
    <span class="buttonwrapper"><input type="submit" value="$msg.get('core.register.submit')" class="button"/></span>
   </div>
  </form>
#end
