###
### History reset confirmation message
###
###
#template("startpage.vm")
<div class="main layoutsubsection">
#xwikimessageboxstart($msg.get("resetversions") $msg.get("resetversionsdone"))
$!message
#xwikimessageboxend()
<div class="clearfloats"></div>
</div>
#template("endpage.vm")
