###
### Reset versions page
###
###
#template("startpage.vm")
<div class="main layoutsubsection">
#xwikimessagebox($msg.get("resetversions") $msg.get("confirmresetversions") $doc.getURL("reset", "confirm=1") $doc.getURL("view") $msg.get("yes") $msg.get("no"))
<div class="clearfloats"></div>
</div>
#template("endpage.vm")
