#template("startpage.vm")
<div class="main layoutsubsection">
<h4 class="heading-1-1-1">$xwiki.parseMessage("availableversionsattachment")</h4>
#if ($tdoc.realLanguage!="")
#set($lang = "&language=${tdoc.realLanguage}")
#else
#set($lang = "")
#end
<table class="wiki-table" cellpadding="0" cellspacing="0" border="0">
    <tr>
        <th></th><th>$msg.get("version")</th><th>$msg.get("size")</th>
        <th>$msg.get("author")</th><th>$msg.get("date")</th>
    </tr>
#foreach ($version in $attachment.getVersions())
    <tr#if($velocityCount % 2 == 1) class="table-odd"#else class="table-even"#end>
#set($attachrev = $attachment.getAttachmentRevision($version.toString()))
#set($url = $doc.getAttachmentRevisionURL("${attachment.filename}", ${version.toString()}))
#if ($attachment.isImage())
        <td><img src="${url}" alt="${attachment.filename}" width="80" />#else
        <td class="mime">#mimetypeimg($attachment.getMimeType().toLowerCase() $attachment.getFilename().toLowerCase())
#end
        </td>
        <td><a href="$url">$version</a></td>
        <td>$attachrev.getFilesize()</td>
        <td>$xwiki.getLocalUserName($attachrev.getAuthor())</td>
        <td>$xwiki.formatDate($attachrev.getDate())</td>
    </tr>
#end
</table>
</div> ## main
#template("endpage.vm")
