#template("frequentlyUsedDocs.vm")
#set($isGuest = $context.getUser().equals("XWiki.XWikiGuest"))
#set($hasEdit = $xwiki.hasAccessLevel("edit"))
#set($hasAdmin = $xwiki.hasAccessLevel("admin"))
#set($hasGlobalAdmin = $xwiki.hasAccessLevel("admin", $context.user, "XWiki.XWikiPreferences"))
#set($hasSpaceAdmin = $xwiki.hasAccessLevel("admin", $context.user, "${doc.space}.WebPreferences"))
#set($isReadOnly = $xwiki.isReadOnly())
#set($spaceViewUrl = $spaceDoc.getURL("view"))
#set($viewUrl = $doc.getURL("view"))
#set($userObj = $!crtUserDoc.getObject("XWiki.XWikiUsers",0))
## TODO : replace this list by a hidden space feature.
#set($blacklistedSpaces = ["Import", "Panels", "Scheduler", "Stats", "XAppClasses", "XAppSheets", "XAppTemplates", "XWiki", "WatchCode", "WatchSheets", "XApp", "WatchAdmin", "Watch"])
## =====================================================================================
## Advanced users are:
## - super admin
## - user documents who have their usertype property set to "Advanced"
## - guest users who have admin rights (i.e. when the wiki is empty with no rights set)
## =====================================================================================
#if($context.user == "XWiki.superadmin")
  #set($isAdvancedUser = true)
#elseif($isGuest && $hasAdmin)
  #set($isAdvancedUser = true)
#elseif(!$userObj.getProperty("usertype").value)
  #set($isAdvancedUser = false)
#else
  #set($isAdvancedUser = ($userObj.getProperty("usertype").value == "Advanced"))
#end
#set($parent ="<a href='$parentDoc.getURL()'>$xwiki.getXMLEncoded(${parentDoc.displayTitle})</a>")
#if($tdoc)
#set($headertitle = "<a href='$viewUrl'>$xwiki.getXMLEncoded(${tdoc.displayTitle})</a>")
#else
#set($headertitle = "<a href='$viewUrl'>$xwiki.getXMLEncoded(${doc.displayTitle})</a>")
#end
#set($skin=$xwiki.getSkin())
#set($copyright=$xwiki.getWebCopyright())
#set($xwikimode=$context.getMode())
#set($logredir = $xwiki.getFormEncoded($xwiki.getRequestURL()))
##
#if($xwiki.exists("XWiki.MaintenanceInfo"))
#set($maintenanceinfo = "XWiki.MaintenanceInfo")
#else
#if($xwiki.exists("xwiki:XWiki.MaintenanceInfo"))
#set($maintenanceinfo = "xwiki:XWiki.MaintenanceInfo")
#end
#end
## Check language option
#set($languageparams = "")
#if(($xwiki.isMultiLingual()==true)&&($tdoc.realLanguage!=""))
#set($languageparams="language=${tdoc.realLanguage}")
#end
## Check revision option
#if ($request.rev)
#set($revparams="rev=${request.rev}")
#else
#set($revparams = "")
#end
#set($docvariant = "")
#if($revparams != "")
#if($languageparams != "")
#set($docvariant = "$languageparams&amp;$revparams")
#else
#set($docvariant = "$revparams")
#end
#elseif($languageparams != "")
#set($docvariant = "$languageparams")
#end
#set ($keyboardShortcutsEnabled = $isAdvancedUser)
#template("deprecatedVars.vm")
