Package: [[debian.package]]
Version: [[version]]
Section: java
Priority: optional
Architecture: all
Depends: 
Maintainer: [[debian.maintainer]]
License: [[debian.license]]
Description: [[debian.description]]