## Define variables containing the list of edit panels for the Toucan skin
#set($editorPanelsWysiwyg = "Panels.DocumentInformation,Panels.EditTranslations,Panels.SyntaxHelp")
#set($editorPanelsWiki = "Panels.DocumentInformation,Panels.EditTranslations,Panels.SyntaxHelp")
#set($editorPanelsObjects = "Panels.ObjectEditorWelcome,Panels.AddObject")
#set($editorPanelsClass = "Panels.AddClassProperty,Panels.ClassSwitcher")
#set($editorPanelsRights = "Panels.RightsEditorWelcome,Panels.RightsTips")
#set($editorPanelsHistory = "")