##
##
## Build the list of documents extras to display, if it does not exist (default).
## List format : ["ExtraAnchor",  "ExtraTabText", numberOfItems]
##
#if (!$docextralinks && !$docextras)
  #if("$!{showcomments}" == "")
    #set($showcomments = $xwiki.getSpacePreference('showcomments'))
  #end
  #if("$!{showattachments}" == "")
    #set($showattachments = $xwiki.getSpacePreference('showattachments'))
  #end
  #if("$!{showhistory}" == "")
    #set($showhistory = $xwiki.getSpacePreference('showhistory'))
  #end
  #if("$!{showinformation}" == "")
    #set($showinformation = $xwiki.getSpacePreference('showinformation'))
  #end
  #set($docextralinks = $util.arrayList)
  #if($context.action == 'view' && $viewer != 'content')
    #set ($discard = $docextralinks.add(['content', $msg.get('core.links.content'), -1]))
  #end
  #if($viewer != 'comments' && $showcomments != false && $showcomments != "no" && $showcomments != "0" && $showcomments != "false")
    #set ($discard = $docextralinks.add(["comments", $msg.get("docextra.comments"), $doc.getObjects("XWiki.XWikiComments").size()]))
  #end
  #if($viewer != 'attachments' && $showattachments != false && $showattachments != "no" && $showattachments != "0" && $showattachments != "false")
    #set ($discard = $docextralinks.add(["attachments", $msg.get("docextra.attachments"), $doc.getAttachmentList().size()]))
  #end
  #if($viewer != 'history' && $showhistory != false && $showhistory != "no" && $showhistory != "0" && $showhistory != "false")
    #set ($discard = $docextralinks.add(["history", $msg.get("docextra.history"), -1]))
  #end
  #if($viewer != 'information' && $showinformation != false && $showinformation != "no" && $showinformation != "0" && $showinformation != "false")
    #set ($discard = $docextralinks.add(["information", $msg.get("docextra.information"), -1]))
  #end
#end
##
##
##  Display the document title, modification date, and shortcuts to comments/attachments...
##
  <div id="document-info">
    <div class="xdocLastModification"> ## Last modification
      $msg.get('core.footer.modification', [$xwiki.getUserName($tdoc.author), $xwiki.formatDate($tdoc.date)])
    </div>
    <div>
      #foreach($docextralink in $docextralinks)
        #set ($extraAnchor = $docextralink.get(0))
        #set ($extraText = $docextralink.get(1))
        #set ($extraCount = $docextralink.get(2))
        #if($velocityCount > 1) <span class="separator">|</span> #end
        <span id="${extraAnchor}shortcut"><a href="$doc.getURL('view', "viewer=${extraAnchor}")">${extraText}</a>#if($extraCount != -1) <span class="itemCount">(${extraCount})</span>#end</span>
      #end
    </div>
    <div class="clearfloats"></div>
  </div>
