###
### Main "view" template
###
### General wrapper for view actions
###
#if ($request.getParameter("raw").equals("1"))
  #template("code.vm")
#else
  #template("startpage.vm")
  #if("$!viewer" == '')
    #set($viewer = $request.getParameter('viewer'))
  #end
  #if("$!viewer" == '')
    #set($viewer = 'content')
  #end
  #if($viewer == 'content')
    <div class="main layoutsubsection">
    <div id="xwikicontent">
    #template("hierarchy.vm")
    #template("contentview.vm")
    <div class="clearfloats"></div>
    </div>## xwikicontent
    #template("docextra.vm")
    </div>## main
  #else
    <div class="main layoutsubsection">
    <div id="xwikicontent">
    #template("hierarchy.vm")
    #template("${viewer}.vm")
    <div class="clearfloats"></div>
    </div>## xwikicontent
    </div>## main
  #end
  #template("endpage.vm")
#end
