##################################
##         CREATE MENU
##################################
## $displayCreateWiki is determined by:
## - the wiki app is installed
## - and the user has the right to create a wiki
## - and the wiki application has been installed.
## (in the future the last condition will be removed since we will use the Distribution Wizard for wiki creation)
#set ($isWikiAPIAvailable = ("!$services.wiki" != '') && ("!$services.wiki.user" != ''))
#set ($WikiManagerMainDocReference = $services.model.createDocumentReference($xcontext.mainWikiName, 'WikiManager', 'WebHome'))
#set ($isWikiUIAvailable = $xwiki.exists($WikiManagerMainDocReference))
#set ($displayCreateWiki = $isWikiAPIAvailable && $isWikiUIAvailable && $hasCreateWiki)
#set ($displayCreateSubmenu = $hasCreateSpace || $hasCreatePage || $hasComment || $displayCreateWiki)
#if ($displayCreateSubmenu)
  #xwikicreatemenuentrystart('' $services.localization.render('core.menu.create') 'tmCreate' 'hasIcon' 'plus')
  #if ($displayCreateWiki)
    #set ($createWikiDocReference = $services.model.createDocumentReference('xwiki', 'WikiManager', 'CreateWiki'))
    #submenuitem("$xwiki.getURL($createWikiDocReference)" $services.localization.render('core.menu.create.wiki') 'tmCreateWiki', '', 'globe')
  #end
  #if ($hasCreateSpace)
    #submenuitem("$doc.getURL('create', 'tocreate=space')" $services.localization.render('core.menu.create.space') 'tmCreateSpace', '', 'folder-open')
  #end
  #if ($hasCreatePage)
    #submenuitem("$doc.getURL('create')" $services.localization.render('core.menu.create.page') 'tmCreatePage', '', 'file')
    ## Only display the Office Importer menu action if the Office Importer application is installed
    #set ($officeImporterMainDocument = $xwiki.getDocument('XWiki.OfficeImporter'))
    #if ("$!{officeImporterMainDocument.isNew()}" == 'false')
      #submenuseparator()
      #submenuitem($officeImporterMainDocument.getURL('view', "&amp;parent=$!{escapetool.url($doc.fullName)}") $services.localization.render('core.menu.create.pageFromOffice') 'tmCreatePageFromOffice', '', 'import')
    #end
  #end
  #xwikicreatemenuentryend()
#end
