/* -------------------------------------------------------- */
.rounded .top *, .rounded .bottom *, .roundedlight .top *,
.roundedlight .bottom * {
  display: block;
  overflow: hidden;
  border-color: #A9B6C3;
  border-style: solid;
  background: #EEF3F6 none repeat scroll 0% 50%;
  height: 1px;
  border-width: 0 1px;
  margin: 0;
  padding: 0;
  zoom: 1;
  line-height: 1px;
  }
.rounded, .rounded .top, .rounded .bottom {
  height: 16px ;
}

	
.roundedlight, .roundedlight .top, .roundedlight .bottom {
  height: 5px ;
}
.roundedlight .b1, .roundedlight .b1b { background: #A9B6C3 none repeat scroll 0% 50%; margin: 0 5px; border-width: 0; }
.roundedlight .b2, .roundedlight .b2b { border-width: 0 2px; margin: 0 3px; }
.roundedlight .b3, .roundedlight .b3b { margin: 0pt 2px; }
.roundedlight .b4, .roundedlight .b4b { height: 2px; margin: 0 1px; }
.rounded .b1, .rounded .b1b { border-width: 0; margin: 0 16px; background: #A9B6C3 none repeat scroll 0% 50%; }
.rounded .b2, .rounded .b2b { border-width: 0 3px; margin: 0 13px; }
.rounded .b3, .rounded .b3b { border-width: 0 2px; margin: 0 11px; }
.rounded .b4, .rounded .b4b { border-width: 0 2px; margin: 0 9px; }
.rounded .b5, .rounded .b5b { margin: 0 8px; }
.rounded .b6, .rounded .b6b { margin: 0 7px; }
.rounded .b7, .rounded .b7b { margin: 0 6px; }
.rounded .b8, .rounded .b8b { margin: 0 5px; }
.rounded .b9, .rounded .b9b { margin: 0 4px; }
.rounded .b10, .rounded .b10b { height: 2px; margin: 0 3px; }
.rounded .b11, .rounded .b11b { height: 2px; margin: 0 2px; }
.rounded .b12, .rounded .b12b { height: 3px; margin: 0 1px; }

#lb-bg {
  background-color: #000;
  height: 100%;
  left: 0;
  position:absolute;
  top: 0;
  width: 100%;
  z-index: 100000;
  /* filter: alpha(opacity=70);
  opacity: 0.7; */
  overflow: auto;
}

#lb input[type=text], #lb textarea {
    cursor: text;
}

#lb button{
    cursor: hand;
}

#lb-align {
  min-height: 100%;
  position: absolute;
  width: 100%;
  left: 0;
  text-align: center;
  vertical-align: middle;
  z-index: 100002;
}

#lb {
	position: absolute;
	left: 50%;
	top:  50px;
	margin-left: -450px;
	z-index: 100005;
	width: 900px;
}

.lb-content {
  background: #eef3f6;
  border: 1px solid #A9B6C3;
  border-width: 0 1px;
  padding: 0px;
  text-align: center;
}

#lb ul li {
    _zoom:1;
}
#lb-top {}
#lb-bottom {}
.lb-squarred {
  background: #eef3f6;
  border: 1px solid #A9B6C3;
}

#lb-bottom .lb-squarred {
  border-top-width: 0;
}

#lb-top .lb-squarred {
  border-bottom-width: 0;
}

#lb-content h1, #lb-content h2, #lb-content h3 {
  margin-top: 0;
  padding-top: 0;
}
<!-- IE sucks -->

#lb-top .roundedlight {
  _margin-bottom: -0.15em;
  _margin-top: -0.9em;
}


#lb-bottom .roundedlight {
  margin-top: -0.75em;
}

#lb-top .rounded {
  margin-bottom: 0em;/* avant 0.1  pour IE7 ?*/
  margin-top: 0em; /* avant 0.3  pour IE7 ?*/
}


#lb-bottom .rounded {
  margin-top: -0.2em;
}

*+html #lb-top .rounded .b1, * html #lb-top .rounded .b1, *+html
#lb-top .roundedlight .b1, * html #lb-top .roundedlight .b1 {
  margin-bottom: -0.15em;
}

*+html #lb-bottom .rounded .b12b, * html #lb-bottom .rounded .b12b,
*+html #lb-bottom .roundedlight .b4b, * html #lb-bottom .roundedlight
.b4b {
  margin-bottom: -0.1em;
}


#lb .lb-content {
	padding: 0 18px;
}

.lb-content{
  overflow: hidden;
  text-align: left;
}

#close-wrap {
	position: relative;
	top: 30px;
	text-align: right;
	cursor: default;
}

#lb-close {
	margin-left: auto;
	margin-right: 10px;
	width: 30px;
	cursor: pointer;
	background-image: url("$xwiki.getSkinFile("icons/rights-manager/btnClose.png")");
	background-repeat: no-repeat;
}