#xwikieditcontent {
  position:relative;
}

#memberstable {
  width: 500px;
  margin-bottom: 5px;
}

#specialusersandgroups {
  border-collapse: collapse;
  border: 1px solid #d4dee8;
  width: 99.5%;
}

#specialusersandgroups td {
  border: 1px solid #d4dee8;
}

.manage {
  text-align: center;
  width: 15%;
}

.hmanage {
  width: 15%;
  padding-left: 10px;
}

.rights {
  text-align: center;
  padding-left: 0px !important;
  padding-top: 4px;
  width: 9%;
}

#usersandgroupstable.spacerights .rights {
  width: 12% !important;
}

#usersandgroupstable.rights .rights {
  width: 15% !important;
}

.spaceName {
  margin-left: 13px;
  margin-top: 5px;
  margin-bottom: 5px;
}

#tdAddNewUserOrGroup {
  padding-top: 11px;
}

#tdAddNewUserOrGroup a {
  color: #fff;
  font-weight: bold;
  font-size: 12px;
  text-decoration: none;
  background-image: url($xwiki.getSkinFile('js/xwiki/usersandgroups/img/but1.png'));
  background-repeat: no-repeat !important;
  display: block;
  text-align: center;
  padding-top: 3px;
  width: 130px;
  height: 24px;
}

#errMsg {
  color: #DD7700;
  font-size: 12px;
  font-weight: bold;
}

#XWikiGuestSpecial {
  background-color: #fff;
  color: #000;
}

.suorg {
  padding-left: 10px;
  padding-top: 4px;
}

.username {
  padding-left: 10px;
}

#addNewMember {
  margin-top: 5px;
}

.addlabel {
  font-weight: bold;
}
