<?xml version="1.0" encoding="ISO-8859-1"?>
<!--
 *
 * See the NOTICE file distributed with this work for additional
 * information regarding copyright ownership.
 *
 * This is free software; you can redistribute it and/or modify it
 * under the terms of the GNU Lesser General Public License as
 * published by the Free Software Foundation; either version 2.1 of
 * the License, or (at your option) any later version.
 *
 * This software is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the GNU
 * Lesser General Public License for more details.
 *
 * You should have received a copy of the GNU Lesser General Public
 * License along with this software; if not, write to the Free
 * Software Foundation, Inc., 51 Franklin St, Fifth Floor, Boston, MA
 * 02110-1301 USA, or see the FSF site: http://www.fsf.org.
 *
-->

<!-- Example of what you need to add to your web.xml if you wish to use the WYSIWYG editor.
     Not used by XWiki at the moment since we provide the full web.xml elsewhere. -->
<web-app xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xmlns:web="http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd"
  version="2.4">

  <display-name>xwe</display-name>
  <description>XWiki's WYSIWYG Editor</description>

  <!-- This filter is used to convert the HTML generated by the WYSIWYG editor to source syntax -->
  <filter>
    <filter-name>ConversionFilter</filter-name>
    <filter-class>com.xpn.xwiki.wysiwyg.server.filter.ConversionFilter</filter-class>
  </filter>

  <!-- This filter is used to initialize the XWiki context before processing a request. -->
  <filter>
    <filter-name>XWikiContextInitializationFilter</filter-name>
    <filter-class>com.xpn.xwiki.wysiwyg.server.filter.XWikiContextInitializationFilter</filter-class>
  </filter>

  <filter-mapping>
    <filter-name>ConversionFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>

  <filter-mapping>
    <filter-name>XWikiContextInitializationFilter</filter-name>
    <servlet-name>gwtrpc</servlet-name>
  </filter-mapping>

  <!-- This is the entry point for all component-based XWiki GWT services. -->
  <servlet>
    <servlet-name>gwtrpc</servlet-name>
    <servlet-class>com.xpn.xwiki.wysiwyg.server.XWikiRemoteServiceServlet</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>gwtrpc</servlet-name>
    <url-pattern>*.gwtrpc</url-pattern>
  </servlet-mapping>
</web-app>
