#template('colorThemeInit.vm')
.diff-container {
  border: 1px solid $theme.borderColor;
  font-family: Courier, monospace;
  font-size: 12px;
  overflow: auto;
}

.diff-container table {
  /* Prevent scroll bars when the table fills the entire width. */
  margin: 0;
}

.diff-container td {
  border: 0 none;
  padding: 0;
}

td.diff-line-number {
  background-color: $theme.backgroundSecondaryColor;
  border-right: 1px solid $theme.borderColor;
  color: $theme.textSecondaryColor;
  padding-right: .5em;
  text-align: right;
  vertical-align: top;
}

td.diff-line, td.diff-line-number {
  padding-left: .5em;
}

td.diff-line {
  /* Take all the available space. */
  width: 100%;
}

.diff-line {
  white-space: pre-wrap;
}

td.diff-line:hover {
  background-color: $theme.highlightColor;
}

.diff-line-added {
  background-color: #DDFFDD;
  color: #000;
}

.diff-line-deleted {
  background-color: #FFDDDD;
  color: #000;
}

.diff-line-meta {
  background-color: $theme.backgroundSecondaryColor;
  color: $theme.textSecondaryColor;
}

.diff-line del {
  background-color: #FFAAAA;
  text-decoration: none;
}

.diff-line ins {
  background-color: #AAFFAA;
  text-decoration: none;
}
