#template('colorThemeInit.vm')

.attachmentGroup {
  display: inline-block;
  max-width: 150px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  margin: 5px;
}

.attachmentGroup a {
  color: inherit;
}

.attachmentGroup img {
  object-fit: contain;
  max-width: 150px;
  max-height: 150px;
  margin-bottom: 5px;
}

.attachmentGroup > div {
  position: relative;
}

.attachmentGroup .selected {
  background-color: $theme.highlightColor;
  border: 1px dotted #CCC;
}

.attachmentGroup input[type='radio'] {
  position: absolute;
  top: 0;
  left: 0;
}

.attachmentPickerSearch {
  margin-bottom: 1em;
}

.attachmentGroup span.attachmentIcon {
  text-align: center;
  display: block;
  font-size: 8em;
  vertical-align: middle;
  width: 150px;
}