#template('colorThemeInit.vm')

.attachmentPicker {
  margin-top: 7px;
  margin-bottom: 7px;
}

.attachmentGroup {
  display: inline-block;
  vertical-align: top;
  height: 200px;
  padding: 10px;
}

.attachmentGroup .attachmentTitle {
  width: 150px;
  display: inline-block;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.attachmentGroup a {
  color: inherit;
  display: block;
  text-align: center;
}

.attachmentGroup .previewWrapper {
  display: flex;
  align-items: flex-end;
  height: 150px;
  justify-content: center;
}

.attachmentGroup img {
  object-fit: contain;
  max-width: 150px;
  max-height: 150px;
  margin-bottom: 5px;
}

.attachmentGroup img, .attachmentGroup span.attachmentIcon {
  max-height: 150px;
}

.attachmentGroup.selected {
  background-color: $theme.highlightColor;
  outline: 1px dotted #CCC;
  border-radius: 5px;
}

.attachmentGroup input[type='radio'] {
  position: absolute;
  top: 0;
  left: 0;
}

.attachmentPickerSearch {
  margin-bottom: 1em;
}

.attachmentGroup span.attachmentIcon {
  font-size: 8em;
}