#template('colorThemeInit.vm')
input[type="text"].suggest {
  border-width: 1px;
}
input[type="text"].loading {
  background-image: url("$xwiki.getSkinFile('icons/xwiki/spinner.gif')");
  background-position: .3em center;
  background-repeat: no-repeat;
  padding-left: 2em;
}

body {
  position: relative;
}

div.suggestItems {
  position:absolute;
  border: 1px solid $theme.borderColor;
  border-top: none;
  background: $theme.pageContentBackgroundColor;
  z-index: 100013;
  text-align:left;
}
div.suggestItems .hide-button-wrapper {
  line-height: 1em;
  text-align: right;
}
div.suggestItems .hide-button {
  cursor: pointer;
  font-size: 0.8em;
  font-style: italic;
  margin: 0 4px;
  opacity: .4;
  padding: 0 0.5em;
}

div.suggestItems ul {
  margin: 0px;
}

div.suggestItems li {
  overflow:hidden;
  white-space:nowrap;
}

div.suggestItems ul.xlist.suggestList > li.xitem {
  /* Reset the float because we want the suggest items to take only the necessary width. This way, if the width of the
  suggest list is not specified, the list adapts its width to fit the suggest items. */
  float: none;
  /* IE9 fix for XWIKI-9155. Added !important in order to override Colibri's "ul.xlist li" */
  width: auto !important;
}

div.suggestItems * {
  line-height:1.6em;
}

div.suggestItems em {
  font-weight:700;
  margin-right:2px;
}

div.suggestItems span.info span.hint {
  color: $theme.textSecondaryColor;
  margin-left:5px;
}

div.suggestItems div.info {
  color: $theme.textSecondaryColor;
  font-size: 0.8em;
  padding-left:5px;
}

div.suggestItems div.info span.legend {
  font-weight: normal;
  padding-right: 5px;
}

ul.suggestList {
  margin:0px !important;
  text-transform:none;
  color:$theme.textColor;
  font-weight:normal;
}

ul.suggestList .xhighlight {
  background-color: $theme.highlightColor;
  cursor:pointer;
}

div.suggestItemName {
  text-indent: 0;
}

div.suggestItem, li.noSuggestion div {
  color: $theme.textColor;
  font-size: 0.875em;
}

div.suggestItemName,
div.suggestItemInfo {
  text-decoration: inherit;
}

.highlight {
  background-color: $theme.highlightColor;
  font-weight:bold;
  text-decoration: inherit;
}

div.resultContainer div.sourceName {
  background-color:$theme.menuContentBackgroundColor;
  font-variant: small-caps;
  font-weight: 700;
  color:$theme.menuContentLinkColor;
  padding-top:3px;
  font-size:0.875em;
  background-position:3px 3px;
  background-repeat:no-repeat;
}

.horizontalLayout div.resultContainer div.sourceName {
  float:left;
  width:150px;
  padding-right:23px;
  text-align:right;
  background-position:right 3px center;
}

.horizontalLayout div.resultContainer div.xitemcontainer {
  margin-left:10px;
}

.horizontalLayout div.resultContainer div.results {
  clear:both;
  background-color:$theme.menuContentBackgroundColor;
}

.horizontalLayout div.resultContainer ul.suggestList {
  background-color:$theme.pageContentBackgroundColor;
}

div.resultContainer div.sourceContent.loading {
  background-position:center center;
  min-height:30px;
}
