/* Overwrite the styles associated with the 'full' CSS class from the XWiki skin. */
.ts-wrapper.full {
  width: unset;
}

.ts-control {
  border: 1px solid var(--input-border);
  border-radius: var(--border-radius-base);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}

.focus .ts-control {
  border-color: var(--input-border-focus);
  box-shadow: inset 0 1px 1px rgb(0, 0, 0, .075), 0 0 8px rgb(from var(--input-border-focus) r g b / 0.6);
}

.ts-control,
.full .ts-control,
.ts-wrapper.single.input-active .ts-control {
  background: var(--input-bg);
}

.ts-dropdown,
.ts-control,
.ts-control input {
  color: var(--input-color);
}

/* The Tom Select widget adds padding around the text input so we need to reduce the height of the text input. */
.ts-control > input[type="text"] {
  /* Remove the border radius because it makes the caret look strange at the start, and the border is not visible
    anyway. */
  border-radius: 0;
  height: 20px;
  width: unset;
}

/* Dropdown styles */
.ts-dropdown.active {
  /* Override width 100% set by Tom Select, see XWIKI-19453. */
  width: auto;
  /* Override z-index so that the suggestions can be displayed in modal, see XWIKI-19870 */
  z-index: 10051;
}

.ts-dropdown-left,
.ts-dropdown-right {
  margin-top: -3px;
}
.ts-dropdown-right {
  left: auto;
  right: 0;
}

.ts-dropdown .option,
.ts-dropdown .optgroup-header {
  padding: 3px 20px;
}

/* Option styles */
.xwiki-selectize-option {
  white-space: nowrap;
}
.xwiki-selectize-option-icon-wrapper {
  display: inline-block;
  height: 18px;
  line-height: 18px;
  margin-right: .3em;
  text-align: center;
  width: 18px;
}
.ts-control .xwiki-selectize-option-icon {
  margin-right: .3em;
}
img.xwiki-selectize-option-icon {
  border-radius: 5px;
  max-height: 18px;
  max-width: 18px;
  vertical-align: sub;
}
a.xwiki-selectize-option-label {
  color: inherit;
  text-decoration: none;
}
.xwiki-selectize-option-hint {
  color: var(--text-muted);
  font-size: smaller;
}

/* Asynchronous Create */
.ts-wrapper.async-create > .ts-control > div.xwiki-selectize-option {
  background-image: none;
  border-left: 2px solid transparent;
  border-radius: 5px;
  padding-left: 3px;
  padding-right: 3px;
}
.ts-wrapper.async-create > .ts-control > div.xwiki-selectize-option.create-pending,
.ts-wrapper.async-create > .ts-control > div.xwiki-selectize-option.create-running {
  border-left: 2px solid var(--brand-success);
}
.ts-wrapper.async-create > .ts-control > div.xwiki-selectize-option.create-failed {
  background-color: #f2dede;
  border-left: 2px solid var(--brand-danger);
}
.ts-wrapper.is-dragover > .ts-control {
  border: 1px dashed var(--brand-success);
}

/* Styles for bigger option icons */
.xwiki-selectize-option-icon-wrapper.pull-left {
  height: 36px;
  line-height: 36px;
  margin-right: .6em;
  margin-top: 2px;
  width: 36px;
}
.xwiki-selectize-option-icon-wrapper.pull-left .xwiki-selectize-option-icon {
  color: var(--text-muted);
  font-size: 32px;
  vertical-align: middle;
}
.xwiki-selectize-option-icon-wrapper.pull-left img.xwiki-selectize-option-icon {
  max-height: 36px;
  max-width: 36px;
}

/* Live Table Filter */
.xwiki-livetable-display-header-filter .ts-wrapper {
  display: block;
}
