###
### Main "admin" template
###
### General wrapper for administration actions
###
#template("xwikivars.vm")
#set($global = $request.getParameter("global"))
##
## Determine what editor to show
##
#if((!$editor) || ($editor == ""))
#set($editor = $request.getParameter("editor"))
#if((!$editor) || ($editor == ""))
#if($context.action=="export")
#set($editor = "export")
#elseif($context.action=="import")
#set($editor = "import")
#elseif($doc.fullName == "XWiki.XWikiPreferences")
#set($editor = "prefs")
#elseif($doc.name == "WebPreferences")
#set($editor = "spaceprefs")
#elseif($doc.fullName == "XWiki.XWikiGroups")
#set($editor = "groups")
#elseif($doc.fullName == "XWiki.XWikiUsers")
#set($editor = "users")
#elseif($doc.name == $xwiki.getXWikiPreference("skin"))
#set($editor = "skin")
#else
#set($editor = "prefs")
#end
#end
#end
#set($space = $request.space)
#if(!$space)
#set($space = $doc.web)
#end
#set($redirecturl = "")
#if($editor == "prefs" && ($doc.fullName != "XWiki.XWikiPreferences" || $global != 1))
#set($redirecturl = $xwiki.getDocument("XWiki.XWikiPreferences").getURL("admin", "editor=prefs&global=1&space=$space"))
#elseif($editor == "spaceprefs" && (($doc.name != "WebPreferences")||($doc.web!=$space)))
#set($redirecturl = $xwiki.getDocument("${space}.WebPreferences").getURL("admin", "editor=spaceprefs&global=1&space=$space"))
#elseif($editor == "globalrights" && (($doc.fullName != "XWiki.XWikiPreferences") || $global != 1))
#set($redirecturl = $xwiki.getDocument("XWiki.XWikiPreferences").getURL("admin", "editor=globalrights&global=1&space=$space"))
#elseif($editor == "spacerights" && (($doc.name != "WebPreferences")||($doc.web!=$space)))
#set($redirecturl = $xwiki.getDocument("${space}.WebPreferences").getURL("admin", "editor=spacerights&global=1&space=$space"))
#elseif($editor == "groups" && $doc.fullName != "XWiki.XWikiGroups")
#set($redirecturl = $xwiki.getDocument("XWiki.XWikiGroups").getURL("admin", "editor=groups&space=$space"))
#elseif($editor == "users" && $doc.fullName != "XWiki.XWikiUsers")
#set($redirecturl = $xwiki.getDocument("XWiki.XWikiUsers").getURL("admin", "editor=users&space=$space"))
#elseif($editor == "skin" && ($doc.fullName != $xwiki.getXWikiPreference("skin")) && ($doc.name != $xwiki.getXWikiPreference("skin")))
#set($redirecturl = $xwiki.getDocument($xwiki.getXWikiPreference("skin")).getURL("admin", "editor=skin&space=$space"))
#end
#if($redirecturl != "")
$response.sendRedirect($redirecturl)
#end
##
## Header
##
#template("xwikivars.vm")
#template("layoutvars.vm")
#template("htmlheader.vm")
#template("header.vm")
#template("menuadmin.vm")
##
## Content
##
#set($force = $!request.get("force"))
#if(!$hasadmin)
#xwikimessageboxstart($msg.get("error") $msg.get('notallowed'))
#xwikimessageboxend()
#elseif (($tdoc.getLocked()==true)&&(!$force))
<div class="layoutsection">
#xwikimessageboxstart($msg.get("notice") "$msg.get('doclockedby') $xwiki.getLocalUserName($doc.getLockingUser())")
<a href="$doc.getURL($context.action, "$!{request.getQueryString().replace('&', '&amp;').replace('&amp;amp;', '&amp;')}&amp;force=1")">$msg.get("forcelock")</a>
#xwikimessageboxend()
</div>
#else
<div id="xwikieditor" class="layoutsection">
<div id="xwikieditorinner">
<div class="leftsidecolumns">
<div id="editcolumn" class="editor">
<div class="alleditcontent">
#template("adminmodes.vm")
#set($formname = "update")
#set($saveaction = "save")
<div class="alladmincontent" style="float: none">
#template("admin${editor}.vm")
</div>
</div> ## alleditcontent
</div> ## editcolumn
<div class="clearfloats"></div>
</div> ## leftsidecolumns
#template("adminpanels.vm")
<div class="clearfloats"></div>
#end
##
## Footer
##
</div> ## xwikieditorinner
</div> ## xwikieditor
#template("footer.vm")
#template("htmlfooter.vm")
