###
### Display document contents in normal "view" mode
###
### TODO: Web service?
###
<div id="xwikicontent">
$cdoc.getRenderedContent()
</div>
<div class="about">
$msg.get("version") $tdoc.version $msg.get("lastmodifiedby") $xwiki.getLocalUserName($tdoc.author) $msg.get("lastmodifiedon") $!xwiki.formatDate($tdoc.date, "dd/MM/yyyy") $msg.get("at") $!xwiki.formatDate($tdoc.date, "HH:mm")
</div>