###
### Document already exists messge
###
###
#template("startpage.vm")
<div class="main layoutsubsection">
#if($xwiki.exists("XWiki.DocumentAlreadyExist"))
    $xwiki.includeForm("XWiki.DocumentAlreadyExist",false)
#else
#xwikimessageboxstart($msg.get("notice") $msg.get("thispagealreadyexists"))
$!exception
#xwikimessageboxend()
#end
<div class="clearfloats"></div>
</div>
#template("endpage.vm")
