#set($formname = "edit")
#set($saveaction = "save")
#set($previewenabled = true)
#set($xredirect=$!request.getParameter("xredirect"))
## <div class="topbuttons">#template("editactions.vm")</div>
## <form id="edit" method="post" action="$doc.getURL("preview")" >
<div>
<div class="hidden">
<input type="hidden" name="template" value="$!request.template" />
<input type="hidden" name="xredirect" value="$!xredirect" />
<input type="hidden" name="language" value="$!tdoc.language" />
## <input type="hidden" id="xwikidoctitleinput" name="title" value="$!tdoc.title"/>
## <input type="hidden" id="xwikidocparentinput" name="parent" value="$!tdoc.parent"/>
</div>
<div id="xwikitext">
<div id="xwikieditcontent">
#template("simpleedittoolbar.vm")
$xwiki.getTextArea($tdoc.content)
</div>
</div>
## #template("tagedit.vm")
</div>
<div class="bottombuttons">#template("editactions.vm")</div>
## </form>
