#if($context.user!="XWiki.XWikiGuest")
#if($request.xredirect)
$response.sendRedirect($request.xredirect)
#else
$response.sendRedirect($xwiki.getURL("Main.WebHome"))
#end
#elseif($doc.fullName != "XWiki.XWikiLogin")
#set($qs = "")
#set($qs = $request.queryString)
#if(!$request.getParameter("xredirect"))
#set($qs = "xredirect=$doc.getURL('view')&${qs}")
#end
$response.sendRedirect($xwiki.getURL("XWiki.XWikiLogin", "login", $qs))
#else
###
### Login page
###
###
#template("startpage.vm")
<div class="main layoutsubsection">
<form id="loginForm" action="$doc.getURL("loginsubmit")" method="post">
<div class="hidden"><input type="hidden" name="xredirect" value="$!request.xredirect" /></div>
#xwikimessageboxstart($msg.get("login") "")
#set($message = $msg.get($xwiki.parseMessage()))
#if($message)
<!-- previous login errors -->
#errormessage($message)
#end
<table class="xwikilogintable" summary="$msg.get("loginform")">
<tr><th><label for="j_username">$msg.get("username"):</label></th>
<td><input type="text" id="j_username" name="j_username" value=""/></td></tr>
<tr><th><label for="j_password">$msg.get("password"):</label></th>
<td><input type="password" id="j_password" name="j_password" value=""/></td></tr>
#if(0)
<tr><td colspan="2" style="text-align: left;"><input id="remembermeno" type="radio" name="j_rememberme" value="false" checked="checked"/><label for="remembermeno">$msg.get("dontrememberme")</label></td></tr>
<tr><td colspan="2" style="text-align: left;"><input id="remembermeyes" type="radio" name="j_rememberme" value="true"/><label for="remembermeyes">$msg.get("rememberme")</label></td></tr>
#else
<tr><td colspan="2" style="text-align: left;"><input id="rememberme" type="checkbox" name="j_rememberme" value="true"/><label for="rememberme">$msg.get("remembermeonthiscomp")</label></td></tr>
#end
</table>
<div class="buttons"><input type="submit" class="button" value="$msg.get("login")"/></div>
#xwikimessageboxend()
</form>
</div>
#template("endpage.vm")
#end