
body {
 color:black;
 font-family:"Arial","Lucida","Trebuchet MS","Luxi Sans","Helvetica",sans-serif;
}

h2.heading-1, h3.heading-1-1, h4.heading-1-1-1, h5.heading-1-1-1-1 {
 clear: left;
 color:#000000;
}
h2.heading-1 {
 font-size:2.6em;
 line-height:1.1em;
}

h3.heading-1-1 {
font-size:2.2em;
font-style:normal;
font-weight:bold;
line-height:1.1em;
}

h4.heading-1-1-1 {
font-size:2em;
font-style:normal;
line-height:1em;
}

h5.heading-1-1-1-1 {
font-size:1.8em;
font-style:normal;
line-height:1em;
}

h6.heading-1-1-1-1-1 {
font-size:1.6em;
font-style:normal;
line-height:1em;
}


h6.heading-1-1-1-1-1-1 {
font-size:1.45em;
font-style:normal;
line-height:1em;
}

h7.heading-1-1-1-1-1-1-1 {
font-size:1.3em;
font-style:normal;
line-height:1em;
}

table.wiki-table {
background-color:#E5F0FE;
border:20px solid #E5F0FE !important;
border-collapse:collapse;
empty-cells:show;
font-size:100%;
margin:20px auto;
text-align:left;
width:80%;
}

div.imgcenter {
margin: auto;
text-align: center;
}