<script type="text/javascript" src="$xwiki.getSkinFile("wikibits.js")"></script>
<script type="text/javascript">
// <![CDATA[
// document.writeln("<div id='simpleedittoolbar' class='layoutsubsection'>")
// document.writeln("<div class='rightmenu'><a href='$xwiki.getURL("Doc.SimpleEditorToolbar")' onclick=\"openURL('$xwiki.getURL("Doc.SimpleEditorToolbar", "view", "xpage=plain")'); return false;\">aaaaaaaaa?<" + "/a><" + "/div>");
document.writeln("<div class='leftmenu2'>");
addButton('$xwiki.getSkinFile("ed_format_bold.gif")','$msg.get("bold")','*','*','$msg.get("boldtext")');
addButton('$xwiki.getSkinFile("ed_format_italic.gif")','$msg.get("italics")','~~','~~','$msg.get("italicstext")');
// addButton('$xwiki.getSkinFile("ed_title.gif")','$msg.get("secondleveltitle")','\n1.1 ','\n','$msg.get("titletext")');
addButton('$xwiki.getSkinFile("ed_link.gif")','$msg.get("ilink")','[',']','$msg.get("ilinktext")');
// addButton('$xwiki.getSkinFile("ed_extlink.gif")','$msg.get("elink")','[',']','$msg.get("elinktext")');
addButton('$xwiki.getSkinFile("ed_hr.gif")','$msg.get("hr")','\n----\n','','$msg.get("hrtext")');
addButton('$xwiki.getSkinFile("ed_image.gif")','$msg.get("img")','{image:','}','$msg.get("imgtext")');
addButton('$xwiki.getSkinFile("ed_about.gif")','$msg.get("sig")','\#sign("$context.user")','','$msg.get("sigtext")');
//addInfobox('$msg.get("simpleedittoolbardesc")','$msg.get("simpleedittoolbardesc2")');
// document.writeln("<" + "/div>");
document.writeln("<" + "/div>");
// ]]>
</script>
