@import "elements.css";
@import "classes.css";
/* @import "chwSkin.css";*/
@import "xwiki.css"; 
@import "wiki.css";  
@import "page.css"; 
@import "rss.css";
@import "screenlayout.css";
@import "presentation.css"; 
@import "colorsblack.css";
/*@import "ie.css";   masque temporairement : modif spécifique IE à réintéger*/

.rightmenu a {
  margin-right : 2px;
  font-size: 100%;
}

.expanded .xwikipaneltitle {
  background-color: #fff;
  color: #384554;
}

.xwikipaneltitle:hover {
  cursor: pointer;
}
.collapsed .wikipaneltitle {
  border-top: 1px solid #fff;
}
.xwikipaneltitle {
  padding: 0px 10px;
  margin: 0px;
  font-size: 1em;
  background: url("icons/black-less.png") no-repeat right center;
  border: 4px solid #384554;
  border-width: 0px;
  cursor: pointer;
}
.panel .accordionTabTitleBar h6 {
  border-top: 1px solid #999;
}
#xwikinav {
  border-bottom: 1px solid #999;
}
#contentcolumn {
  width: 100% !important;
  overflow: hidden;
}
li.inline {
  display: inline;
  padding-left: 3px;
  padding-right: 7px;
}
li.tags {
  color: rgb(102, 102, 255);
  cursor: pointer;
}
li.selected {
  background-color: #008;
  color: #fff;
  text-decoration: none;
  cursor: pointer;
}
#xwikieditcontent .accordionTabTitleBar h6 {
  width: 100%;
}
