#if(!$hideTags || $hideTags == 0)
  <dl id="selectedTagsForm">
   <dt><label for="tags">$msg.get("tags"): </label></dt>
   <dd><input type="text" id="tags" name="tags" value="$!tdoc.tags"/></dd>
  </dl>
  #set($possibleTags = $tdoc.tagsPossibleValues)
  #if($possibleTags && $possibleTags.size() > 0)
   <style type="text/css" media="all">
  li.inline {
  display: inline;
  padding-left: 3px;
  padding-right: 7px;
  }
  li.tags {
    color: rgb(102, 102, 255);
    cursor: pointer;
  }
  li.selected {
    background-color: #008;
    color: #fff;
    text-decoration: none;
    cursor: pointer;
  }
  </style>
    <div id="tag_possibilities" style="display:none">
    Available tags for this document
    <ul>
    #foreach($tag in $possibleTags)
      <li class="inline tag"><a onclick="addTag('$tag')">$tag</a></li>
    #end
    </ul>
    </div>
    <script type="text/javascript">{pre}
    function addTag(tagName){
      selectTag(tagName);
      setTagsToForm();
    }
    function selectTag(tagName){
      var els = $('tag_possibilities').getElementsByTagName('ul')[0].getElementsByTagName('li');
      var tagName = tagName.toLowerCase();
      for(var i = 0; i < els.length; i++) {
        var node = els[i].getElementsByTagName("a");
	    if (node[0].innerHTML.toLowerCase() == tagName){
	      if (!isClassExist(els[i], 'selected'))
	        addClass(els[i], 'selected');
	      else
	        rmClass(els[i], 'selected');
	    }
	  }
    }
    function getTags(){
      var els = $('tag_possibilities').getElementsByTagName('ul')[0].getElementsByTagName('li');
      var tags =  new Array();
      for(var i = 0; i < els.length; i++) {
	      if (isClassExist(els[i], 'selected')) {
	        var node = els[i].getElementsByTagName("a");
            tags += node[0].innerHTML;
            tags += "|";
           }
	  }
      return tags;
    }
    function setTagsToForm(){
      var tags = getTags();
      $('tags').value = tags;
    }
    function readTags(){
      var tags = $('tags').value;
      if (tags && tags.length > 0){
        var tagTab = tags.split("|");
        for(var i = 0; i < tagTab.length; i++) {
          if(tagTab[i] && tagTab[i].length > 0){
            selectTag(tagTab[i]);
          }
        }
       }
    }
    function initTagScript(){
      $('tag_possibilities').style.display="";
      $('selectedTagsForm').style.display="none";
      readTags();
    }
    initTagScript();{/pre}
    </script>
  #end
#end