#template('colorThemeInit.vm')

div.suggestItems.searchSuggest {
  border-top: 1px solid $theme.borderColor;
  box-shadow:3px 3px 5px;
}

.xlist .xitem .xitemcontainer {
  padding: 0;
}

.xlist .xitem .xitemcontainer:hover {
  background-color: transparent;
}

ul.xlist li.showAllResults {
  padding:0;
}

ul.xlist li.showAllResults.loading {
  background-position:6px center;
}

ul.xlist li.showAllResults button.xitemcontainer {
  margin-left: 0;
  padding-left: 10px;
  font-size: 1em;
  height: 100%;
  padding-right: 10px;
  padding-top: 3px;
  text-align: right;
}
