/**
 * See the NOTICE file distributed with this work for additional
 * information regarding copyright ownership.
 *
 * This is free software; you can redistribute it and/or modify it
 * under the terms of the GNU Lesser General Public License as
 * published by the Free Software Foundation; either version 2.1 of
 * the License, or (at your option) any later version.
 *
 * This software is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the GNU
 * Lesser General Public License for more details.
 *
 * You should have received a copy of the GNU Lesser General Public
 * License along with this software; if not, write to the Free
 * Software Foundation, Inc., 51 Franklin St, Fifth Floor, Boston, MA
 * 02110-1301 USA, or see the FSF site: http://www.fsf.org.
 */

.slash-menu {
  display: flex;
  flex-direction: column;
}

.slash-menu-upload {
  background: red;
}

.slash-menu-item {
  background-color: var(--cr-color-neutral-50);
  border-radius: var(--cr-border-radius-small);
  box-shadow: 0 0 4px var(--cr-color-neutral-300);

  cursor: pointer;

  align-items: center;
  display: flex;
  flex-direction: row;

  padding: var(--cr-spacing-medium);
}

.slash-menu-item:hover,
.slash-menu-item.selected {
  background-color: var(--cr-color-neutral-300);
}

.slash-menu-item img {
  width: 10rem;
  max-height: 10rem;
}

.slash-menu-item span {
  padding-left: var(--cr-spacing-large);
}