.slash-menu {
  display: flex;
  flex-direction: column;
}

.slash-menu-upload {
  background: red;
}

.slash-menu-item {
  background-color: var(--cr-color-neutral-50);
  border-radius: var(--cr-border-radius-small);
  box-shadow: 0 0 4px var(--cr-color-neutral-300);

  cursor: pointer;

  align-items: center;
  display: flex;
  flex-direction: row;

  padding: var(--cr-spacing-medium);
}

.slash-menu-item:hover,
.slash-menu-item.selected {
  background-color: var(--cr-color-neutral-300);
}

.slash-menu-item img {
  width: 10rem;
  max-height: 10rem;
}

.slash-menu-item span {
  padding-left: var(--cr-spacing-large);
}