.actionmenu #tmMainWiki{
  background-image: url("$xwiki.getSkinFile('icons/silk/house.png')");
}

.actionmenu #tmAdminMainWiki {
  background-image: url("$xwiki.getSkinFile('icons/silk/wrench.png')");
}

.actionmenu #tmWikiIndex {
  background-image: url("$xwiki.getSkinFile('icons/silk/text_list_bullets.png')");
}

.actionmenu #tmMainWikiDocumentIndex {
  background-image: url("$xwiki.getSkinFile('icons/silk/book_open.png')");
}

.actionmenu #tmMainUserIndex {
  background-image: url("$xwiki.getSkinFile('icons/silk/group.png')");
}

.actionmenu #tmWiki {
  background-image: url("$xwiki.getSkinFile('icons/silk/world.png')");
}

.actionmenu #tmDeleteWiki {
  background-image: url("$xwiki.getSkinFile('icons/silk/cross.png')");
}

.actionmenu #tmUserWikis {
  background-image: url("$xwiki.getSkinFile('icons/silk/chart_organisation.png')");
}