#template('colorThemeInit.vm')
.fullScreenEditButton {
  cursor: ne-resize !important;
}
.fullScreenEditLinkContainer {
  text-transform: lowercase;
  font-size: 80%;
  color: $theme.linkColor;
  cursor: pointer;
  display: block;
  margin-top: -1.4em;
  position: relative;
  text-align: right;
}
/* The 'fullScreenEditLinkContainer' is displayed in the same row that the '#toggleLineNumbers' link because of
   'margin-top: -1.4em' and that makes it impossible to click (see: http://jira.xwiki.org/browse/XWIKI-11228).
   So we set the z-index of this element to be on top. */
#toggleLineNumbers {
  position: relative; /* needed by the z-index attribute */
  z-index: 1;
}

/* Matches the style of the new object editor */
#xwikiobjects .fullScreenEditLinkContainer, #xwikiclassproperties .fullScreenEditLinkContainer {
  margin-right: 10%;
}

.fullScreenWrapper .fullScreenEditLinkContainer {
  display: none;
}
.fullScreenCloseButton {
  cursor: sw-resize !important;
}
.leftmenu2 .fullScreenEditButton, .leftmenu2 .fullScreenCloseButton {
  margin: 2px;
  float: right;
}

#body .fullScreenWrapper {
  z-index: 5;
  position: fixed !important;
  left: 0;
  top: 0px;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  padding: 0 !important;
  margin: 0 !important;
  background-color: $theme.pageContentBackgroundColor;
}

/* Comment this to make the version comment and minor edit checkbox visible in full screen */
.fullScreenWrapper .metamodifs {
  display: none !important;
}

* html .fullScreenWrapper {
  position: absolute !important;
}
/* This overrides the pre behavior when the buttons end up as children of such a field */
#body .fullScreenWrapper {
  white-space: normal;
}
/* This overrides a rule for the Object Editor that is supposed to resize text inputs. */
#body .fullScreenWrapper .buttons .buttonwrapper input, 
#body .fullScreenWrapper .btn {
  width: auto;
}
#xwikiobjects .fullScreenWrapper textarea:focus, #xwikiclassproperties .fullScreenWrapper textarea:focus {
  background-color: $theme.pageContentBackgroundColor;
}
.fullScreenWrapper textarea {
  margin: 0 !important;
  padding: 0 2px !important;
  border: 0 none !important;
}
.fullScreenWrapper .bottombuttons {
  background-color: $theme.backgroundSecondaryColor;
  border-top: 1px solid $theme.borderColor;
  padding: .5em;
}
