Package: xwiki-xjetty-common
Version: [[version]]
Section: java
Priority: optional
Architecture: all
Depends: xwiki-common (= [[version]])
Maintainer: [[debian.maintainer]]
License: [[debian.license]]
Description: [[debian.description]]
Bugs: [[debian.bugs]]
Homepage: [[debian.homepage]]
