################################
##        MENU VIEW
################################
#if ($isInServletMode)## Visible only in a page
  #template("menus/macros.vm") ## must be provided by the skin
  
  ## Top Menu
  #xwikitopmenustart()
    
    ## Right menu
    #xwikitopmenurightstart()
      #template("menus/user.vm")
    #xwikitopmenurightend()
    
    ## Left menu
    #xwikitopmenuleftstart()
      #template("menus/home.vm")
      #template("menus/wiki.vm")
      #template("menus/space.vm")
      #template("menus/page.vm")
    #xwikitopmenuleftend()
    #template("quicksearch.vm")
    
  ## End of Top Menu
  #xwikitopmenuend()
#end
