#autosaveControl {
  display: inline;
  white-space: nowrap;
}
#autosaveControl input.autosave-interval {
  text-align: center;
  width: 2em;
}
#autosaveControl .interval {
  display: none;
}
#autosaveControl .autosave:has(input:checked) + .interval {
  display: inline-block;
}
