###
### Access denied message
###
###
#if(!$response.containsHeader('WWW-Authenticate'))
  $response.setStatus(403)
  ## Otherwise, unauthenticated user with Basic authentication, a 401 status has been set in Java.
#end
#if("$!request.ajax" != '')
$services.localization.render('notallowed')
#else
#template("startpage.vm")
<div class="main layoutsubsection">
<div id="mainContentArea">
#if($xwiki.exists("XWiki.AccessDenied"))
  $xwiki.includeForm("XWiki.AccessDenied",false)
#else
  #if ($xwiki.isReadOnly())
  #xwikimessageboxstart($services.localization.render('error') $services.localization.render('readonly'))
  #else
  #xwikimessageboxstart($services.localization.render('error') $services.localization.render('notallowed'))
  #end
  $!exception
  #xwikimessageboxend()
#end
<div class="clearfloats"></div>
</div>## mainContentArea
</div>## main
#template("endpage.vm")
#end
