<div id="addnewgroup">
  <form method="post" class="xform">
    <dl>
      <dt>
        <label for="newgroupi">$services.localization.render('rightsmanager.createnewgroup')</label>
      </dt>
      <dd>
        <input type="text" name="newgroup" value="" id="newgroupi">
      </dd>
    </dl>
    <div class="buttons">
      <span class="buttonwrapper">
        <input class="button create" type="submit" value="${services.localization.render('xe.admin.groups.creategroup')}">
        <input class="button cancel secondary" type="submit" name="formactioncancel" value="${services.localization.render('cancel')}">
      </span>
    </div>
  </form>
</div>
<script type="text/javascript">
  require(['jquery'], function($) {
    /**
     * Create a group in at the specified document's location.
     */
    var createGroup = function(xwikiDocument) {
      var saveURL = xwikiDocument.getURL('save', 'form_token=$!services.csrf.token&template=XWiki.XWikiGroupTemplate&ajax=1');
      $.ajax(saveURL, {
        success: function() {
          // Group successfully created. Refresh the page.
          window.lb.lbSaveForm();
        },
        error: function() {
          // Failed to create the group.
          alert('Error: Failed to create the new group.');
        }
      });
    };

    /**
     * Handler for the Create group button.
     */
    var createGroupHandler = function() {
      var newGroupName = this.form.newgroup.value;
      if (!newGroupName) {
        return;
      }

      // Disable the button until the operation completes to avoid spam and race conditions.
      var button = this;
      button.disabled = true;

      var xwikiDocument = new XWiki.Document(newGroupName, 'XWiki');

      // Check if the document already exists.
      var checkURL = xwikiDocument.getRestURL();
      $.ajax(checkURL, {
        success: function() {
          // In this case, success actually is not what we wanted, since the document must not already exist.
          alert('$services.localization.render("rightsmanager.groupexist")'.replace('__name__', newGroupName));
        },
        error: function (jqXHR){
          if (jqXHR.status == 404) {
            // The document does not exist, so we can use it.
            createGroup(xwikiDocument);
          } else {
            // Something else happened. This was not intended.
            alert("$services.localization.render('platform.core.rightsManagement.ajaxFailure')");
          }
        },
        complete: function() {
          // Re-enable the button, regardless of what happened.
          button.disabled = false;
        }
      });
    };

    /**
     * Handler for the Cancel create group button.
     */
    var cancelCreateGroupHandler = function() {
      window.lb.lbHide();
      window.lb.lbClearData();

      return false;
    };

    // Register the click handlers for the form's buttons.
    $('.button.create').on('click', createGroupHandler);
    $('.button.cancel').on('click', cancelCreateGroupHandler);

    // Make sure we don`t submit the form by mistake.
    $('#addnewgroup form').on('submit', function() {
      return false;
    });
  });
</script>