###
### Attachments page in the "view" mode
###
<div id="document-title"><h1>$services.localization.render('core.viewers.attachments.title', [$escapetool.xml($doc.getPlainTitle()), $doc.getURL()])</h1></div>
## ----------------------------
## Display the shortcuts
## ----------------------------
#if($displayShortcuts)
  #template("shortcuts.vm")
#end
#template("attachmentsinline.vm")
