###
### Change a user's avatar
###
### Upload file form
### TODO: Check extension
###
#template("startpage.vm")
<div class="main layoutsubsection">
<div id="mainContentArea">
#if($doc.getObject("XWiki.XWikiUsers", 0))
  #if($xcontext.userReference == $doc.documentReference || $hasAdmin)
    <form action="$doc.getURL("upload")" enctype="multipart/form-data" method="post" onsubmit="if(this.filepath.value == ''){ return false; }" class="xform"><div>
      <div id="document-title"><h1>$services.localization.render('changephoto', [$xwiki.getUserName($doc.fullName, false)])</h1></div>
      ## CSRF prevention
      <input type="hidden" name="form_token" value="$!{services.csrf.getToken()}" />
      <input type="hidden" name="xredirect" value="$doc.getURL("view", "xpage=changeavatar&amp;form_token=$!{services.csrf.getToken()}")"/>
      <dl>
        <dt><label id="xwikiuploadfilelabel" for="xwikiuploadfile">$services.localization.render('uploadavatarfile')</label></dt>
        <dd><input id="xwikiuploadfile" type="file" name="filepath" value="" size="60"/></dd>
      </dl>
      <div class="padded buttons">
        <span class="buttonwrapper"><input type="submit" value="$services.localization.render('setthisavatar')" class="button"/></span>
        <span class="buttonwrapper"><a href="$doc.getURL("view")" class="secondary button">$services.localization.render('platform.core.profile.changePhoto.cancel')</a></span>
      </div>
    </div></form>
  #else
    $response.setStatus(403)
    #xwikimessageboxstart($services.localization.render('error') $services.localization.render('notallowed'))
    #xwikimessageboxend()
  #end
#else
  $response.setStatus(400)
  #xwikimessageboxstart($services.localization.render('avatar') $services.localization.render('notauser'))
  #xwikimessageboxend()
#end
</div>## mainContentArea
</div>## main
#template("endpage.vm")