#template('diff_macros.vm')
##
## Preamble: which versions are being compared
##

#if ("$!previousOrigdocVersion" != '')
  #set ($changesLink = ${xwiki.getURL($tdoc, 'view', "viewer=changes&rev1=${previousOrigdocVersion}&rev2=${rev2}")})
  #set ($changesTitle = $services.localization.render('core.viewers.diff.previousVersion'))
  #set ($previousOrigdocLink = "<a class='changes-arrow' href='$changesLink' title='$changesTitle'>&lt;</a>")
#end
#if ("$!nextOrigdocVersion" != '')
  #set ($changesLink = ${xwiki.getURL($tdoc, 'view', "viewer=changes&rev1=${nextOrigdocVersion}&rev2=${rev2}")})
  #set ($changesTitle = $services.localization.render('core.viewers.diff.nextVersion'))
  #set ($nextOrigdocLink = "<a class='changes-arrow' href='$changesLink' title='$changesTitle'>&gt;</a>")
#end
#if ("$!previousNewdocVersion" != '')
  #set ($changesLink = ${xwiki.getURL($tdoc, 'view', "viewer=changes&rev1=${rev1}&rev2=${previousNewdocVersion}")})
  #set ($changesTitle = $services.localization.render('core.viewers.diff.previousVersion'))
  #set ($previousNewdocLink = "<a class='changes-arrow' href='$changesLink' title='$changesTitle'>&lt;</a>")
#end
#if ("$!nextNewdocVersion" != '')
  #set ($changesLink = ${xwiki.getURL($tdoc, 'view', "viewer=changes&rev1=${rev1}&rev2=${nextNewdocVersion}")})
  #set ($changesTitle = $services.localization.render('core.viewers.diff.nextVersion'))
  #set ($nextNewdocLink = "<a class='changes-arrow' href='$changesLink' title='$changesTitle'>&gt;</a>")
#end
#if ("$!previousOrigdocVersion" != '' && "$!previousNewdocVersion" != '')
  #set ($previousLink = ${xwiki.getURL($tdoc, 'view', "viewer=changes&rev1=${previousOrigdocVersion}&rev2=${rev1}")})
#end
#if ("$!nextOrigdocVersion" != '' && "$!nextNewdocVersion" != '')
  #set ($nextLink = ${xwiki.getURL($tdoc, 'view', "viewer=changes&rev1=${rev2}&rev2=${nextNewdocVersion}")})
#end

<div id="changes-info">
  <div id="changes-info-boxes">
    <div id="changes-info-box-from" class="changes-info-box">
      #if ("$!rev1" == '')
        <div class="changes-info-title">$services.localization.render('core.viewers.diff.fromNew')</div>
      #else
        #set ($fromVersionURL = $origdoc.getURL('view', "rev=$rev1"))
        #set ($fromVersionLink = "<a href='$fromVersionURL'>$rev1</a>")
        #set ($fromVersionSpan = "<span class='changes-version'>$!previousOrigdocLink $fromVersionLink $!nextOrigdocLink</span>")
        <div class="changes-info-title">$services.localization.render('core.viewers.diff.from', [$fromVersionSpan])</div>
        <div class="changes-info-content">
        #if($origdoc)
          $services.localization.render('core.viewers.diff.editedBy', [$xwiki.getUserName($origdoc.author)])
          <br />
          $services.localization.render('core.viewers.diff.editedOn', [$xwiki.formatDate($origdoc.date)])
        #end
        </div> ## changes-info-content
      #end
    </div> ## changes-info-box-from
    <div id="changes-info-box-to" class="changes-info-box">
      #set ($toVersionURL = $newdoc.getURL('view', "rev=$rev2"))
      #set ($toVersionLink = "<a href='$toVersionURL'>$rev2</a>")
      #set ($toVersionSpan = "<span class='changes-version'>$!previousNewdocLink $toVersionLink $!nextNewdocLink</span>")
      <div class="changes-info-title">$services.localization.render('core.viewers.diff.to', [$toVersionSpan])</div>
      <div class="changes-info-content">
      #if($newdoc)
        $services.localization.render('core.viewers.diff.editedBy', [$xwiki.getUserName($newdoc.author)])
        <br />
        $services.localization.render('core.viewers.diff.editedOn', [$xwiki.formatDate($newdoc.date)])
      #end
      </div> ## changes-info-content
    </div> ## changes-info-box-to
    #if ("$!previousLink" != '')
      <a href="$previousLink" class="changes-arrow-left" title="$services.localization.render('core.viewers.diff.previousChange')">&lt;</a>
    #end
    #if ("$!nextLink" != '')
      <a href="$nextLink" class="changes-arrow-right" title="$services.localization.render('core.viewers.diff.nextChange')">&gt;</a>
    #end
    <div class="clearfloats"></div>
  </div> ## changes-info-boxes
  <div class="clearfloats"></div>
  <div id="changes-info-comment">
    $services.localization.render('core.viewers.diff.editComment') #if("$!newdoc.comment" == '') $services.localization.render('core.viewers.diff.noEditComment') #else $newdoc.comment #end
  </div> ## changes-info-comment
</div> ## changes-info
<div class="clearfloats"></div>
##
## Changes
##
## Make the heading level adjustable when including this template.
#if (!$headingLevel)
  #set ($headingLevel = 2)
#end
#createDocumentDiff($origdoc $newdoc $docDiff)
#createDocumentDiffSummary($docDiff $summary)
<h$headingLevel>$services.localization.render('web.history.changes.summary')</h$headingLevel>
#displayDocumentDiffSummary($summary)
#if ($summary.entries.size() > 0)
  <h$headingLevel>$services.localization.render('web.history.changes.details')</h$headingLevel>
  #displayDocumentDiff($docDiff)
#end
