#template("startpage.vm")
<div class="main layoutsubsection">
  <div id="mainContentArea">
    ## ---------------------------------------------------------------------------------------------------------
    ## Since this template can be used for creating a Page or a Space, compute its title based on the passed
    ## "tocreate" parameter which can be either "page" or "space". If no "tocreate" parameter is passed then we
    ## default to creating a Page. 
    ## ---------------------------------------------------------------------------------------------------------
    #set($tocreate = $request.getParameter('tocreate'))
    #if("$!tocreate" != 'space')
      #set ($title = $services.localization.render('core.create.pageTitle'))
    #else
      #set ($title = $services.localization.render('core.create.spaceTitle'))
    #end
    <div class="xcontent">
      <div class="row document-header">
        <div class="document-info col-xs-12">
          <div id="document-title"><h1>$title</h1></div>
        </div>
      </div>
      <hr/>
      #template("createinline.vm")
    </div>## xcontent
  </div>## mainContentArea
</div>## main
#template("endpage.vm")
