###
### Delete space confirm message
###
###
#template("startpage.vm")
<div class="main layoutsubsection">
<div id="mainContentArea">
#if ($message)
  <div id="xwikimessage">$message</div>
#end
#if ($request.xredirect)
  #set ($redirectparam = "&amp;xredirect=$escapetool.url($request.xredirect)")
#end
#if ($xwiki.hasRecycleBin())
  #set ($confirmationMessage = $msg.get('core.space.recyclebin.confirm', ["<em>${escapetool.xml($doc.space)}</em>"]))
#else
  #set ($confirmationMessage = $msg.get('core.space.delete.confirm', ["<em>${escapetool.xml($doc.space)}</em>"]))
#end
#xwikimessagebox($msg.get('core.delete') $confirmationMessage $doc.getURL('deletespace', "confirm=1$!{redirectparam}&amp;form_token=$!{services.csrf.getToken()}") $doc.getURL('view') $msg.get('yes') $msg.get('no'))
<div class="clearfloats"></div>
</div>## mainContentArea
</div>## main
#template("endpage.vm")