## CSRF check
#if ($services.csrf.isTokenValid($request.form_token))
$!xwiki.getDocument($request.docname).delete()
## delete() doesn't return anything, so we need to print some text in order to avoid a "This template does not exist" response.
OK
#else
FAIL
#end
