#if ($type == 'edit' || $type == 'search')
  #set ($disabled = $field.getProperty('disabled').value == 1)
  #set ($id = $escapetool.xml("${prefix}${name}"))
  <input type="text" id="$!id" name="$!id" value="$!escapetool.xml($value)" class="email"
    #if ($disabled)disabled="disabled"#end />
#elseif ($type == 'view' || $type == 'rendered')
  #if ($services.mailsender.generalConfiguration.obfuscateEmails)
$!escapetool.xml($services.mailsender.obfuscateForDisplay($value))##
  #elseif ($value != '')
<a href="mailto:$!{escapetool.xml($value)}">$!{escapetool.xml($value)}</a>##
  #end
#elseif ($type == 'hidden')
  #set ($id = $escapetool.xml("${prefix}${name}"))
  <input type="hidden" id="$!id" name="$!id" value="$!escapetool.xml($value)" />
#else
  ## In order for the custom displayer to be taken into account, the result of its evaluation with an unknown display
  ## mode must not be empty. Let's output something.
  Unknown display mode.
#end
