#if ($type == 'edit' || $type == 'search')
  #set ($isMultiSelect = $field.getProperty('multiSelect').value == 1)
  #userPicker_import($isMultiSelect)
  #set ($id = $escapetool.xml("${prefix}${name}"))
  #set ($class = 'suggestGroups')
  #if (!$xcontext.isMainWiki() && "$!services.wiki.user.userScope" != 'LOCAL_ONLY')
    ## We can have both local and global groups in a subwiki that accepts global users. In case the wiki accepts only
    ## global users, local groups can be used to setup various rights for the global users.
    #set ($class = "$class withScope")
  #end
  #if ($isMultiSelect)
    #set ($class = "$class multipleSelection")
  #end
  #set ($disabled = $field.getProperty('disabled').value == 1)
  <input type="text" id="$!id" name="$!id" value="$!escapetool.xml($value)" class="$class"
    #if ($disabled)disabled="disabled"#end />
#elseif ($type == 'view' || $type == 'rendered')
  #set ($values = $value.split('\s*,\s*'))
  #set ($selectedGroups = [])
  #foreach ($value in $values)
    #if ($value.length() > 0)
      #set ($discard = $selectedGroups.add($value))
    #end
  #end
  #if ($selectedGroups.size() > 0)
    #displayGroup($selectedGroups)
  #end
#elseif ($type == 'hidden')
  #set($id = $escapetool.xml("${prefix}${name}"))
  <input type="hidden" id="$!id" name="$!id" value="$!escapetool.xml($value)" />
#else
  ## In order for the custom displayer to be taken into account, the result of its evaluation with an unknown display
  ## mode must not be empty. Let's output something.
  Unknown display mode.
#end
