#if ($type == 'edit')
  #set ($isMultiSelect = $field.getProperty('multiSelect').value == 1)
  #userPicker_import($isMultiSelect)
  #set($id = $escapetool.xml("${prefix}${name}"))
  <input type="text" id="$!id" name="$!id" value="$!escapetool.xml($value)"
    class="suggestUsers#if ($isMultiSelect) multipleSelection#end" />
#elseif ($type == 'view')
  #set ($values = $value.split('\s*,\s*'))
  #set ($selectedUsers = [])
  #foreach ($value in $values)
    #if ($value.length() > 0)
      #set ($discard = $selectedUsers.add($value))
    #end
  #end
  #if ($selectedUsers.size() > 0)
    #set ($discard = $xwiki.ssfx.use('uicomponents/widgets/userpicker/userPicker.css', true))
    <ul class="users">
    #foreach ($user in $selectedUsers)
      #set ($userReference = $services.model.resolveDocument($user))
      <li class="user">
        <div class="user-avatar-wrapper">
          #getUserAvatarURL($userReference $avatarURL 30)
          <img src="$escapetool.xml($avatarURL.url)" class="icon"
            alt="$escapetool.xml($xwiki.getUserName($user, false))" />
        </div>
        <div class="user-name">$xwiki.getUserName($user)</div>
        <div>
          <span class="user-alias">$escapetool.xml($userReference.name)</span>
          ## Display the wiki only for local users.
          #if ($xwiki.isVirtualMode() && $userReference.wikiReference.name != $xcontext.getMainWikiName())
            <span class="user-wiki">$escapetool.xml($userReference.wikiReference.name)</span>
          #end
        </div>
      </li>
    #end
    </ul>
  #end
#elseif ($type == 'hidden')
  #set($id = $escapetool.xml("${prefix}${name}"))
  <input type="hidden" id="$!id" name="$!id" value="$!escapetool.xml($value)" />
#else
  ## In order for the custom displayer to be taken into account, the result of its evaluation with an unknown display
  ## mode must not be empty. Let's output something.
  Unknown display mode.
#end
