#template("xwikivars.vm")
#extensionHooks
<div>
<form name="edituser" method="post">
#set($force = $!request.get("force"))
#if (($doc.getLocked()==true)&&(!$force))
<div>
$services.localization.render('doclockedby') $xwiki.getUserName($doc.getLockingUser()).
<br />
<a href="javascript:window.lb.lbLoadForm('$doc.getURL("edit", "$!request.getQueryString()&force=1")')">$services.localization.render('forcelock')</a>
</div>
#else
<div class="clear">
#foreach($class in $doc.xWikiClasses)
#set( $nb = $doc.getObjectNumbers("${class.name}"))
<input type="hidden" name="${class.name}_nb" value="$nb" />
#end
$cdoc.getRenderedContent()
</div>
#end
## CSRF prevention
<div class="hidden"><input type="hidden" name="form_token" value="$!{services.csrf.getToken()}" /></div>
</form>
## add link to the complete profile of the user
$services.localization.render('rightsmanager.edituserprofile')&nbsp;&nbsp;<a href="$doc.getURL()">$services.localization.render('rightsmanager.userprofile')</a>
<br /><br />
<span class="buttonwrapper"><input class="button" type="submit" name="formactionsave" value="$services.localization.render('save')" onclick=" window.lb.lbSaveForm();"/></span>
<span class="buttonwrapper"><input class="button secondary" type="submit" name="formactioncancel" value="$services.localization.render('cancel')" onclick=" window.lb.lbHide(); window.lb.lbClearData(); return false;"/></span>
</div>
