<div class="gradientfilterIE"></div>
<div class="componentcontainer">
<strong id="xwikicontentmenutitle" class="hidden">$msg.get('core.menu.content.title')</strong>
<div id="contenteditmenu" class="leftmenu">
#if($hasEdit && !$isReadOnly)
  ##
  ## Edit menu
  ##
  #set($editorName = $msg.get("core.menu.edit.${editor}"))
  #set($currentEditorTitle = $msg.get("core.menu.edit.currentEditor", ["__SEPARATOR__ $editorName"]))
  #set($currentEditorId = "tmEdit${editor.substring(0, 1).toUpperCase()}${editor.substring(1)}")
  #if($isAdvancedUser)
    ## Compute the default edit mode
    #set($editaction = $doc.getDefaultEditMode())
    #xwikitopmenuentrystart('' $currentEditorTitle 'tmCurrentEditor' "$currentEditorId hasIcon")
    #submenuitem($doc.getURL('edit', "$!{languageparams}&amp;editor=wiki") $msg.get('core.menu.edit.wiki') 'tmEditWiki', '')
    #submenuitem($doc.getURL('edit', "$!{languageparams}&amp;editor=wysiwyg") $msg.get('core.menu.edit.wysiwyg') 'tmEditWysiwyg', '')
    #submenuitem($doc.getURL($editaction, "$!{languageparams}&amp;editor=inline") $msg.get('core.menu.edit.inline') 'tmEditInline', '')
    #submenuseparator()
    #submenuitem($doc.getURL('edit', 'editor=rights') $msg.get('core.menu.edit.rights') 'tmEditRights', '')
    #submenuitem($doc.getURL('edit', 'editor=object') $msg.get('core.menu.edit.object') 'tmEditObject', '')
    #if($hasAdmin)
      #submenuitem($doc.getURL('edit', 'editor=class') $msg.get('core.menu.edit.class') 'tmEditClass', '')
    #end
    #xwikitopmenuentryend()
  #else ## !isAdvanced
    #xwikitopmenuentry('' $currentEditorTitle 'tmCurrentEditor' "$currentEditorId hasIcon")
  #end
  #if($keyboardShortcutsEnabled && $isAdvancedUser)
    <script type="text/javascript">
    //<![CDATA[
      shortcut.add("$msg.get('core.shortcuts.view.wiki')",function() { location.href=$('tmEditWiki').href; }, { 'type':'keypress', 'propagate':false, 'disable_in_input':true });
      shortcut.add("$msg.get('core.shortcuts.view.wysiwyg')",function() { location.href=$('tmEditWysiwyg').href; }, { 'type':'keypress', 'propagate':false, 'disable_in_input':true });
      shortcut.add("$msg.get('core.shortcuts.view.inline')",function() { location.href=$('tmEditInline').href; }, { 'type':'keypress', 'propagate':false, 'disable_in_input':true });
      shortcut.add("$msg.get('core.shortcuts.view.rights')",function() { location.href=$('tmEditRights').href; }, { 'type':'keypress', 'propagate':false, 'disable_in_input':true });
      shortcut.add("$msg.get('core.shortcuts.view.objects')",function() { location.href=$('tmEditObject').href; }, { 'type':'keypress', 'propagate':false, 'disable_in_input':true });
      #if($hasAdmin)
        shortcut.add("$msg.get('core.shortcuts.view.class')",function() { location.href=$('tmEditClass').href; }, { 'type':'keypress', 'propagate':false, 'disable_in_input':true });
      #end
    //]]>
    </script>
  #end
#end
</div>
</div>