<form action="$doc.getURL('export', $escapetool.url($request.parameterMap))" method="post" class="xform">
<dl>
  <dt>
    <label for="name">$services.localization.render('export_packagename')</label>
    <span class="xHint">$services.localization.render('administration.section.export.packageName.hint')</span>
  </dt>
  <dd><input type="text" name="name" id="name" value="" placeholder="backup"/></dd>
  <dt>
    <label for="description">$services.localization.render('export_description')</label>
    <span class="xHint">$services.localization.render('administration.section.export.description.hint')</span>
  </dt>
  <dd><textarea name="description" id="description" rows="6" cols="40"></textarea></dd>
  <dt>
    <label for="licence">$services.localization.render('export_licence')</label>
    <span class="xHint">$services.localization.render('administration.section.export.licence.hint')</span>
  </dt>
  <dd><input type="text" name="licence" id="licence" value=""/></dd>
  <dt>
    <label for="author">$services.localization.render('export_author')</label>
    <span class="xHint">$services.localization.render('administration.section.export.author.hint')</span>
  </dt>
  <dd>
  #set ($userPickerParams = {
      'id': 'author',
      'name': 'author',
      'value': $xcontext.user
      })
  #userPicker(false $userPickerParams)
  </dd>
  <dt>
    <label for="version">$services.localization.render('export_version')</label>
    <span class="xHint">$services.localization.render('administration.section.export.version.hint')</span>
  </dt>
  <dd><input type="text" name="version" id="version" value=""/></dd>
  <dt>
    <label for="history">
      <input type="checkbox" name="history" id="history" value="true"/>
      $services.localization.render('export_addhistory')
    </label>
    <span class="xHint">$services.localization.render('administration.section.export.withHistory.hint')</span>
  </dt>
  <dd>#* A <dd> must be present after a <dt> to be HTML5 valid *#</dd>
  <dt>
    <label for="backup">
      <input type="checkbox" name="backup" id="backup" value="true"/>
      $services.localization.render('export_backuppack')
    </label>
    <span class="xHint">$services.localization.render('administration.section.export.backupPack.hint')</span>
  </dt>
  <dd>#* A <dd> must be present after a <dt> to be HTML5 valid *#</dd>
</dl>
<div class="buttons">
  <span class="buttonwrapper">
    <input type="submit" value="$services.localization.render('export')" class="button"/>
  </span>
</div>
</form>
