###
### Frequently used documents
###
### Define variables useful for most templates
###
#set($spaceHome = $!xwiki.getDocument($services.model.resolveDocument('', 'default', $doc.documentReference.extractReference('SPACE'))).getTranslatedDocument())
#set($spaceDoc = $!spaceHome)
#set($parentDoc = $!{xwiki.getDocument($tdoc.parent).getTranslatedDocument()})
#set($preferencesDoc = $!xwiki.getDocument('XWiki.XWikiPreferences'))
#set($crtUserDoc = $!xwiki.getDocument($xcontext.user))
#set($searchDoc = $!xwiki.getDocument('Main.Search'))