#template('xwikivars.vm')
$response.setContentType('application/json')
#set ($offset = $mathtool.toInteger($request.offset))
#set ($limit = $mathtool.toInteger($request.limit))
#set ($order = "$!request.dir" != 'desc')
##
#set ($rm = $xwiki.rightsmanager)
#if ($request.member && !$request.member.trim().equals(''))
  #set ($count = $rm.getAllMatchedMembersNamesForGroup($doc.fullName, $request.member, 0, 0, $order).size())
  #set ($members = $rm.getAllMatchedMembersNamesForGroup($doc.fullName, $request.member, $limit,
    $mathtool.sub($offset, 1), $order))
#else
  #set ($count  = $rm.countAllMembersNamesForGroup($doc.fullName))
  #set ($members = $rm.getAllMatchedMembersNamesForGroup($doc.fullName, $NULL, $limit,
    $mathtool.sub($offset, 1), $order))
#end
##
#set ($json = {
  'totalrows': $count,
  'returnedrows': $mathtool.min($members.size(), $limit),
  'offset': $offset,
  'rows': []
})
#foreach ($member in $members)
  #set ($memberReference = $services.model.resolveDocument($member))
  #set ($grayed = $memberReference.equals($xcontext.userReference) && $doc.fullName == 'XWiki.XWikiAdminGroup')
  ## The following properties are kept for backward compatibility with XWiki versions older than 2.7.2.
  #set ($oldProperties = {
    'fullname': $member,
    'prettyname': "$xwiki.getPlainUserName($member)#if($hasAdmin || $isAdvancedUser) ($member)#end",
    'wikiname': $memberReference.wikiReference.name,
    'memberurl': $xwiki.getURL($memberReference),
    'docurl': $doc.getURL(),
    'grayed': $grayed
  })
  ## Live table data.
  #set ($liveTableData = {
    'doc_fullName': $member,
    'doc_viewable': $xwiki.hasAccessLevel('view', $xcontext.user, $member),
    'doc_hasadmin': $xwiki.hasAccessLevel('admin', $xcontext.user, $doc.fullName),
    'doc_hasedit': $xwiki.hasAccessLevel('edit', $xcontext.user, $doc.fullName),
    'doc_hasdelete': $xwiki.hasAccessLevel('edit', $xcontext.user, $doc.fullName),
    'member': "$xwiki.getPlainUserName($member)#if($hasAdmin || $isAdvancedUser) ($member)#end",
    'member_url': $xwiki.getURL($memberReference),
    'doc_delete_url': $doc.getURL('view', $escapetool.url({
      'xpage': 'deletegroupmember',
      'fullname': $member,
      'ajax': true,
      'form_token': $services.csrf.token
    })),
    '_avatar': "#largeUserAvatar($member)",
    '_avatar_url': $xwiki.getURL($memberReference)
  })
  #set ($data = {})
  #set ($discard = $data.putAll($oldProperties))
  #set ($discard = $data.putAll($liveTableData))
  #set ($discard = $json.rows.add($data))
#end
$jsontool.serialize($json)