#template('xwikivars.vm')
#set($parents = [])
#set($discard = $parents.add($doc.fullName))
#macro(computeHierarchy $doc $result $level)
  #set($parent = $doc.parent)
  #if(($parent != '') && ($level < 6) && (!$parents.contains($parent)))
    #set($discard = $parents.add($parent))
    #set($pdoc = $xwiki.getDocument($parent).getTranslatedDocument())
    #if ($pdoc)
      #set ($pdocurl = $pdoc.getURL('view'))
      #set ($nstring = "<a href='$pdocurl'>$escapetool.xml(${pdoc.getPlainTitle()})</a> <span class='separator'>&#187;</span> $result")
      #set ($level = $level + 1)
      #computeHierarchy($pdoc $nstring $level)
    #else
      ## No access to the parent document
      <a href='$xwiki.getURL($parent)'>$escapetool.xml(${parent})</a> <span class='separator'>&#187;</span> $result
    #end
  #else
    $result
  #end
#end
#if($isInServletMode) ## Visible only in a page
  <div id="hierarchy">
  #if ($doc.fullName != 'Main.WebHome')
    #if ($xcontext.action == 'edit' || $xcontext.action == 'inline')
      #computeHierarchy($doc "<a href='${doc.getURL('view')}'>$escapetool.xml($tdoc.getPlainTitle())</a>" 0)
    #else
      #computeHierarchy($doc "<span class='current'>$escapetool.xml($tdoc.getPlainTitle())</span>" 0)
    #end
  #end
  </div>
#end
