###
### History page in the "view" mode
###
###
<div id="document-title"><h1>$msg.get('core.viewers.history.title', [$escapetool.xml($doc.plainTitle), $doc.getURL()])</h1></div>
#template("shortcuts.vm")
#template("historyinline.vm")