#if($showLeftPanels == "1" || $request.getParameter("forceLeftPanels"))
<div id="leftPanels" class="panels left panel-width-$!{leftPanelsWidth}"#if($showLeftPanels != "1" && $request.getParameter("forceLeftPanels")) style="display: none;"#end>
## Global Variable
#set($xwikiPanelWidth = $leftPanelsWidth)
#set($panelUixs = $services.uix.getExtensions('platform.panels.leftPanels'))
#foreach($panelUix in $panelUixs)
  #if($xwiki.hasAccessLevel('view', $panelUix.getId()))
    $services.rendering.render($panelUix.execute(), "html/5.0")
  #end
#end
</div>
#end
#set($xwikiPanelWidth = "Medium")