<option value="">-- $services.localization.render('choosespace') --</option>
#foreach ($space in $xwiki.spaces)
  <option value="$escapetool.xml($escapetool.url($space))">$escapetool.xml($space)</option>
#end
