###
### Change a user's password
###
###
#template("startpage.vm")
#template("register_macros.vm")
## Defines what server generated error messages should look like
## The error message when a field is entered incorrectly
#set($failureMessageParams = {'class': 'LV_validation_message LV_invalid'})
##
## The * next to the fields to denote they are mandatory.
#set($fieldMandatoryStar = {'class': 'xRequired'})

## TODO: display the message for wrong original pass in the right place
<div class="minwidthb"></div>
<div class="main layoutsubsection">
  <div id="mainContentArea">
  #set($userObject = $doc.getObject('XWiki.XWikiUsers'))
  #if($userObject)
    #set($isCurrentUsersProfile = $doc.documentReference.equals($xcontext.userReference))
    #if($isCurrentUsersProfile || $hasAdmin)
      <div id="document-title"><h1>$services.localization.render('platform.core.profile.passwd.title', [$escapetool.xml($xwiki.getUserName($doc.fullName, false))])</h1></div>
      #if($request.password && $request.password2)
        #set($isValidPassword = true)
        #set($errorMessage = "")
        #set($password = $request.password)
        #set($password2 = $request.password2)
         ## Server-side checking
        #if($isCurrentUsersProfile || !$hasAdmin)
          #set($user = $xwiki.getUser())
          #set($isOriginalPasswordValid = $user.checkPassword($request.originalpassword))
          #if(!$isOriginalPasswordValid)
            #set($errorMessage = $services.localization.render('platform.core.profile.passwd.invalidOriginalPassword'))
            #set($isValidPassword = false)
          #end
        #end
        #if($password != $password2)
          #set($errorMessage = $services.localization.render('platform.core.profile.passwd.passwordMissmatch'))
          #set($isValidPassword = false)
        #elseif($password == '')
          #set($errorMessage = $services.localization.render('platform.core.profile.passwd.passwordCannotBeEmpty'))
          #set($isValidPassword = false)
        #elseif($password.length() < 6)
          #set($errorMessage = $services.localization.render('platform.core.profile.passwd.passwordTooShort'))
          #set($isValidPassword = false)
        #end
        #if($isValidPassword)
          $doc.set('password', $password, $userObject)
          $doc.save("$services.localization.render('platform.core.profile.passwd.passwordChanged')", true)
        #end
      #end
      #if($request.password)
        #if($isValidPassword)
          <span class='box infomessage'>$services.localization.render('platform.core.profile.passwd.success')</span>
          <a href = "$doc.getURL("view")">$services.localization.render('platform.core.profile.passwd.return')</a>
        #else
          <span class='box errormessage'>$errorMessage</span>
        #end
      #end
      #if(!$isValidPassword)
        $services.localization.render('platform.core.profile.passwd.instructions')
        #set ($fields = [])
        #set($field =
          {'name': 'originalpassword',
            'label': $services.localization.render('platform.core.profile.passwd.originalPassword'),
            'params': {
              'type': 'password',
              'size': '60',
              'autocomplete': 'off'
            },
            'validate': {
              'mandatory': {
                'failureMessage': $services.localization.render('core.validation.required.message')
              },
              'programmaticValidation': {
                'code': '$user.checkPassword($request.originalpassword)',
                'failureMessage': $services.localization.render('platform.core.profile.passwd.invalidOriginalPassword')
              },
              'hideOkayMessage': 'true'
            }
          })
        #set ($discard  = $fields.add($field))
        #definePasswordFields($fields, 'password', 'password2')
        <form class="xform third" action="" method="post" autocomplete="off">
        ## CSRF prevention
        <div class="hidden"><input type="hidden" name="form_token" value="$!{services.csrf.getToken()}" /></div>
        #generateHtml($fields, $fieldMandatoryStar, $failureMessageParams)
        #set ($useLiveValidation = true)
        #if ($useLiveValidation)
          #generateJavascript($fields)
        #end
        <div class="padded buttons">
          <span class="buttonwrapper"><input type="submit" value="$services.localization.render('platform.core.profile.passwd.submit')" class="button"/></span>
          <span class="buttonwrapper"><a href="$doc.getURL("view")" class="secondary button">$services.localization.render('platform.core.profile.passwd.cancel')</a></span>
        </div>
      </form>
      #end
    #else
      $response.setStatus(403)
      #xwikimessageboxstart($services.localization.render('platform.core.errorMessageType') $services.localization.render('platform.core.profile.passwd.notAllowed'))
      #xwikimessageboxend()
    #end
  #else
    $response.setStatus(400)
    #xwikimessageboxstart($services.localization.render('platform.core.noticeMessageType') $services.localization.render('platform.core.profile.passwd.notaUser'))
    #xwikimessageboxend()
  #end
  </div>## mainContentArea
</div>## main
#template("endpage.vm")
