###
### Change a user's password
###
###
#template("startpage.vm")
###
### Validation script
###
<script>
document.observe('xwiki:dom:loaded', function() {
  var passwordValidator = new LiveValidation($$("input[name=password]")[0], { validMessage: "$services.localization.render('core.validation.valid.message')", wait: 500} );
  passwordValidator.add( Validate.Format, { pattern: /.{6,}/, failureMessage: "$services.localization.render('platform.core.profile.passwd.passwordTooShort')"} );
  var password2Validator = new LiveValidation($$("input[name=password2]")[0], { validMessage: "$services.localization.render('core.validation.valid.message')", wait: 500} );
  password2Validator.add( Validate.Confirmation, { match: $$("input[name=password]")[0], failureMessage: "$services.localization.render('platform.core.profile.passwd.passwordMissmatch')"} );
  password2Validator.add( Validate.Format, { pattern: /.{6,}/, failureMessage: "$services.localization.render('platform.core.profile.passwd.passwordTooShort')"} );
});
</script>
<div class="minwidthb"></div>
<div class="main layoutsubsection">
<div id="mainContentArea">
#if($doc.getObject("XWiki.XWikiUsers", 0))
#set($i = $xcontext.user.indexOf(":")+1)
#if($xcontext.user.substring($i) == $doc.fullName || $hasAdmin)
  <div id="document-title"><h1>$services.localization.render('platform.core.profile.passwd.title', [$escapetool.xml($xwiki.getUserName($doc.fullName, false))])</h1></div>
  #if($request.password && $request.password2)
      #set($isValidPassword = true)
      #set($errorMessage = "")
      #set($password = $request.password)
      #set($password2 = $request.password2)
      #if(!$hasAdmin)
        #set($user = $xwiki.getUser())
        #set($isOriginalPasswordValid = $user.checkPassword($request.originalpassword))
        #if(!$isOriginalPasswordValid)
          #set($errorMessage = $services.localization.render('platform.core.profile.passwd.invalidOriginalPassword'))
          #set($isValidPassword = false)
        #end
      #end
      #if($password != $password2)
        #set($errorMessage = $services.localization.render('platform.core.profile.passwd.passwordMissmatch'))
        #set($isValidPassword = false)
      #elseif($password == '')
        #set($errorMessage = $services.localization.render('platform.core.profile.passwd.passwordCannotBeEmpty'))
        #set($isValidPassword = false)
      #elseif($password.length() < 6)
        #set($errorMessage = $services.localization.render('platform.core.profile.passwd.passwordTooShort'))
        #set($isValidPassword = false)
      #end
      #if($isValidPassword)
        #set($object = $doc.getObject('XWiki.XWikiUsers'))
        $doc.set('password', $password, $object)
        $doc.save("$services.localization.render('platform.core.profile.passwd.passwordChanged')", true)
      #end
    #end
    #if($request.password)
      #if($isValidPassword)
        <span class='box infomessage'>$services.localization.render('platform.core.profile.passwd.success')</span>
        <a href = "$doc.getURL("view")">$services.localization.render('platform.core.profile.passwd.return')</a>
      #else
         <span class='box errormessage'>$errorMessage</span>
      #end
    #end
    #if(!$isValidPassword)
      #set($discard = $xwiki.jsfx.use('uicomponents/widgets/validation/livevalidation_prototype.js'))
      #set($discard = $xwiki.ssfx.use('uicomponents/widgets/validation/livevalidation.css', true))
      $services.localization.render('platform.core.profile.passwd.instructions')

  <form class="xform third" action="" method="post" autocomplete="off">
    ## CSRF prevention
    <div class="hidden"><input type="hidden" name="form_token" value="$!{services.csrf.getToken()}" /></div>
    <dl>
      #if(!$hasAdmin)
        <dt><label for="xwikioriginalpassword">$services.localization.render('platform.core.profile.passwd.originalPassword')</label></dt>
        <dd><input id="xwikioriginalpassword" type="password" name="originalpassword" value="$!escapetool.xml($request.originalpassword)" size="60"/></dd>
      #end
      <dt><label id="xwikipasswordlabel" for="xwikipassword">$services.localization.render('platform.core.profile.passwd.newPassword')</label></dt>
      <dd><input id="xwikipassword" type="password" name="password" value="$!escapetool.xml($request.password)" size="60"/></dd>
      <dt><label id="xwikipassword2label" for="xwikipassword2">$services.localization.render('platform.core.profile.passwd.reenterPassword')</label></dt>
      <dd><input id="xwikipassword2" type="password" name="password2" value="$!escapetool.xml($request.password2)" size="60"/></dd>
    </dl>
    <div class="padded buttons">
      <span class="buttonwrapper"><input type="submit" value="$services.localization.render('platform.core.profile.passwd.submit')" class="button"/></span>
      <span class="buttonwrapper"><a href="$doc.getURL("view")" class="secondary button">$services.localization.render('platform.core.profile.passwd.cancel')</a></span>
    </div>
  </form>
  #end
#else
$response.setStatus(403)
#xwikimessageboxstart($services.localization.render('platform.core.errorMessageType') $services.localization.render('platform.core.profile.passwd.notAllowed'))
#xwikimessageboxend()
#end
#else
$response.setStatus(400)
#xwikimessageboxstart($services.localization.render('platform.core.noticeMessageType') $services.localization.render('platform.core.profile.passwd.notaUser'))
#xwikimessageboxend()
#end
</div>## mainContentArea
</div>## main
#template("endpage.vm")
