#template("xwikivars.vm")
#if ($request.pdftemplate)
  #set ($pdfdoc = $xwiki.getDocument($request.pdftemplate))
#else
  #set($pdfdoc = $tdoc)
#end
#set($pdfobj = $pdfdoc.getObject('XWiki.PDFClass'))
#template("pdfhtmlheader.vm")
#set ($withPageBreaks = false)
#if ("$!{request.pagebreaks}" == '1')
  #set ($withPageBreaks = true)
#end
#if ($request.pages)
  #foreach ($page in $request.getParameterValues('pages'))
    #set ($pageDoc = $xwiki.getDocument($page))
    $pageDoc.getRenderedContent()
    #if ($request.includechilds)
      #set ($clevel = $mathtool.toInteger($request.includechilds))
      #if (!$clevel)
        #set ($clevel = 0)
      #end
      #includeChildren($page $withPageBreaks)
    #elseif ($request.includelinks)
      #set ($clevel = $mathtool.toInteger($request.includelinks))
      #if (!$clevel)
        #set ($clevel = 0)
      #end
      #includeLinks($page $withPageBreaks)
    #end
    #if ($foreach.hasNext)
      #pagebreak()
    #end
  #end
#else
  <div id="xwikicontent">
    $cdoc.getRenderedContent()
  </div>
  #if ($request.includechilds)
    #set ($clevel = $mathtool.toInteger($request.includechilds))
    #if (!$clevel)
      #set ($clevel = 0)
    #end
    #includeChildren($cdoc $withPageBreaks)
  #elseif ($request.includelinks)
    #set ($clevel = $mathtool.toInteger($request.includelinks))
    #if (!$clevel)
      #set ($clevel = 0)
    #end
    #includeLinks($cdoc.fullName $withPageBreaks)
  #end
#end
#set($footnotes = "#putFootnotes()")
$xwiki.renderText($footnotes, $doc)
#if ("$!{request.comments}" == '1')
  #template("comments2.vm")
#end
#if ("$!{request.attachments}" == '1')
  <div id="xwikiattachments">
  #foreach ($attach in $doc.attachmentList)
    #if ($attach.isImage())
      <img src="${doc.getAttachmentURL($attach.filename)}" alt="${attach.filename}" />
      <br />
    #end
  #end
  </div>
#end
</div>
</div>
</body>
</html>
