<div style="text-align: center; width: 100%;">
<h1>
#set ($title = "$!pdfdoc.display('title', 'rendered', '', $pdfobj)")
#if ($title == '')
  $escapetool.xml($!tdoc.plainTitle)
#else
  $escapetool.xml($title)
#end
</h1>
<br />
<br />
<p class="author">$!xwiki.getUserName($tdoc.author, false)</p>
<br />
<p class="date">$!xwiki.formatDate($tdoc.date)</p>
</div>
