<hr style="border-width: 0.25pt"/>
$msg.Page <span class="page-number"></span> / <span class="page-total"></span> - $services.localization.render('lastmodifiedby') $xwiki.getUserName($tdoc.author, false) $services.localization.render('lastmodifiedon') $!xwiki.formatDate($tdoc.date)
