#if ("$!request.pdfcover" != '0')
  #set ($displayPdfCover = 1)
#else
  #set ($displayPdfCover = 0)
#end
#if ("$!request.pdftoc" != '0')
  #set ($displayPdfToc = 1)
#else
  #set ($displayPdfToc = 0)
#end
<?xml version="1.0" encoding="${xwiki.encoding}" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
   "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<title>
## NOTE: We intentionally use the signature with 4 arguments (3 strings and an object) because the signature without the
## prefix (empty string here) is mistaken with the 3-strings signature if the passed object is null (i.e. Velocity
## considers the null object a string).
#set ($title = $pdfdoc.display('title', 'rendered', '', $pdfobj))
#if ((!$title) || ($title == ''))
  $!{escapetool.xml($doc.space)} - $!{escapetool.xml($tdoc.plainTitle)}
#else
  $escapetool.xml($title)
#end
</title>
<meta http-equiv="Content-Type" content="text/html; charset=${xwiki.encoding}" />
<meta name="language" content="$!{xcontext.language}" />
</head>
<body id="body" class="${xcontext.action}body" pdfcover="${displayPdfCover}" pdftoc="${displayPdfToc}">
<div class="pdfheader">
#set ($pdfheader = $pdfdoc.display('header', 'rendered', '', $pdfobj))
#if ($pdfheader == '')
  #template("pdfheader.vm")
#else
  $pdfheader
#end
</div>
<div class="pdffooter">
#set ($pdffooter = $pdfdoc.display('footer', 'rendered', '', $pdfobj))
#if ($pdffooter == '')
  #template("pdffooter.vm")
#else
  $pdffooter
#end
</div>
#if ($displayPdfCover == 1)
  <div class="pdfcover">
  #set ($pdfcover = $pdfdoc.display('cover', 'rendered', '', $pdfobj))
  #if ($pdfcover == '')
    #template("pdfcover.vm")
  #else
    $pdfcover
  #end
  </div>
#end
#if ($displayPdfToc == 1)
  <div class="pdftoc">
  #set ($pdftoc = $pdfdoc.display('toc', 'rendered', '', $pdfobj))
  #if ($pdftoc == '')
    #template("pdftoc.vm")
  #else
    $pdftoc
  #end
  </div>
#end
<div id="xwikimaincontainer">
<div id="xwikimaincontainerinner">
