#set ($title = "$!{pdfdoc.display('title', 'rendered', '', $pdfobj)}")
#if ($title == '')
  #if ($doc.space != $tdoc.plainTitle)
    $!{escapetool.xml($doc.space)} - $!{escapetool.xml($tdoc.plainTitle)}
  #else
    $!{escapetool.xml($doc.space)}
  #end
#else
  $escapetool.xml($title)
#end
