#template('hierarchy_macros.vm')
#template('job_macros.vm')

#macro (displayLocations $label $hint $entityReferences)
  <dt>
    <label>$services.localization.render($label)</label>
    <span class="xHint">$services.localization.render($hint)</span>
  </dt>
  <dd>
    #foreach ($entityReference in $entityReferences)
      #hierarchy($entityReference {
        'treeNavigation': false,
        'selfIsActive': false,
        'limit': 5
      })
    #end
  </dd>
#end

#macro (displayBooleanConfigParam $label $hint $value)
  <dt>
    <label>
      ## 'application' icon is not semantically correct but it is mapped to the right Font Awesome icon (square).
      ## We also tried 'cross' but it is confusing when none of the configuration options are checked (because in real
      ## life we often check items by putting a cross in front of them).
      $services.icon.renderHTML("#if ($value)check#{else}application#end")
      $services.localization.render($label)
    </label>
    <span class="xHint">$services.localization.render($hint)</span>
  </dt>
#end

#macro (displayRefactoringJobFinishedMessage $refactoringJobStatus $successKey $errorKey)
  #displayJobFinishedMessage($refactoringJobStatus $successKey $errorKey)
#end
