## Defines what server generated error messages should look like
## The error message when a field is entered incorrectly
#set ($failureMessageParams = {'class': 'LV_validation_message LV_invalid'})
## 'LV_validation_message LV_invalid' depends on this:
$xwiki.get('ssfx').use('uicomponents/widgets/validation/livevalidation.css', true)
##
## The * next to the fields to denote they are mandatory.
#set($fieldMandatoryStar = {'class': 'xRequired'})
##
#macro (definePasswordFields, $fields, $passwordFieldName, $confirmPasswordFieldName, $passwordOptions)
  #set ($passwordRegexes = [])
  #set ($patternLength = "/.{" + $passwordOptions.passwordLength + ",}/")
  #set ($passwordRegex =
  {
    'pattern' : $patternLength,
    'failureMessage' : $services.localization.render('xe.admin.registration.passwordTooShort')
  })
  #set ($discard = $passwordRegexes.add($passwordRegex))
  #if ($passwordOptions.passwordRuleOneUpperCaseEnabled)
    #set ($passwordRegex =
    {
      'pattern' : '/[A-Z]+/',
      'failureMessage' : $services.localization.render('xe.admin.registration.passwordMustContainUppercase')
    })
    #set ($discard = $passwordRegexes.add($passwordRegex))
  #end
  #if ($passwordOptions.passwordRuleOneLowerCaseEnabled)
    #set ($passwordRegex =
    {
      'pattern' : '/[a-z]+/',
      'failureMessage' : $services.localization.render('xe.admin.registration.passwordMustContainLowercase')
    })
    #set ($discard = $passwordRegexes.add($passwordRegex))
  #end
  #if ($passwordOptions.passwordRuleOneNumberEnabled)
    #set ($passwordRegex =
    {
      'pattern' : '/[0-9]+/',
      'failureMessage' : $services.localization.render('xe.admin.registration.passwordMustContainNumber')
    })
    #set ($discard = $passwordRegexes.add($passwordRegex))
  #end
  #if ($passwordOptions.passwordRuleOneSymbolEnabled)
    #set ($passwordRegex =
    {
      'pattern' : '/\W+/',
      'failureMessage' : $services.localization.render('xe.admin.registration.passwordMustContainSymbol')
    })
    #set ($discard = $passwordRegexes.add($passwordRegex))
  #end
  #set ($field =
    {'name': $passwordFieldName,
      'label': $services.localization.render('core.register.password'),
      'params': {
        'type': 'password',
        'autocomplete': 'off',
        'size': '60'
      },
      'validate': {
        'mandatory': {
          'failureMessage': $services.localization.render('core.validation.required.message')
        },
        'regexes': $passwordRegexes
      }
    })
  #set ($discard = $fields.add($field))
  ##
  ## The confirm password field, mandatory, must match password field, and must also be 6+ characters long.
  #set ($field =
    {'name': $confirmPasswordFieldName,
      'label': $services.localization.render('core.register.passwordRepeat'),
      'params': {
        'type': 'password',
        'autocomplete': 'off',
        'size': '60'
      },
      'validate': {               
        'mandatory': {
          'failureMessage': $services.localization.render('core.validation.required.message')
        },
        'mustMatch': {                
          'name': $passwordFieldName,
          'failureMessage': $services.localization.render('xe.admin.registration.passwordMismatch')
        }
      }
    })
  #set ($discard = $fields.add($field))
#end
##
#*
 * Generate HTML form.
 *
 * @param $fields The array of fields to use for generating HTML code.
 * @param $fieldMandatoryStar The tag parameters for a * indicating a mandatory field.
 * @param $failureMessageParams The tag parameters for a failure message.
 * @param $request The request that is made by submitting the form.
 *#
#macro (generateHtml, $fields, $request)
  ## Put the same values back into the fields (if is there any problem with a field from the request that is made).
  #getParams($fields, $request)
  <dl>
  #foreach ($field in $fields)
    #if ($field.get('name'))
      #set ($fieldName = $field.get('name'))
      #if ($field.get('label'))
        #set ($label = $field.get('label'))
        <dt><label for="$fieldName">$label
        #if ($field.get('validate').get('mandatory'))
          <span ##
          #foreach ($entry in $fieldMandatoryStar.entrySet())
            $entry.getKey()="$entry.getValue()" ##
          #end
          >$services.localization.render('core.validation.required')</span>
        #end
          </label>
        </dt>
      #end
      ## If no tag then default tag is <input>
      #if ($field.get('tag'))
        #set ($tag = $field.get('tag'))
      #else
        #set ($tag = 'input')
      #end
      <dd><$tag id="$fieldName" ##
      #set ($params = $field.get('params'))
      ## If no name parameter is specified, then we use the field name
      #if (!$params.get('name'))
        #set ($discard = $params.put('name', $fieldName))
      #end
      #foreach ($entry in $params.entrySet())
        ## If a parameter is specified as '' then we don't include it.
        #if ($entry.getValue() != '')
          $entry.getKey()="$escapetool.xml($entry.getValue())" ##
        #end
      #end
      ></$tag>
      #if ($field.get('error'))
        <span ##
        #foreach ($entry in $failureMessageParams.entrySet())
          $entry.getKey()="$entry.getValue()" ##
        #end
        >$field.get('error')</span>
      #end
      </dd>
    #else
      ERROR: Field with no name.
    #end##if fieldName exists
  #end
  </dl>
  #generateJavascript($fields)
#end
##
#*
 * Generate the Javascript for interacting with LiveValidation.
 *
 * @param $fields The array of fields which to validate.
 *###
#macro (generateJavascript, $fields)
  ## Load only the js since the CSS is loaded when LV_validation_message LV_invalid is defined
  #set ($discard = $xwiki.jsfx.use('uicomponents/widgets/validation/livevalidation_prototype.js'))
  <script type='text/javascript'>
  /* <![CDATA[ */
  var initRegistrationFormValidation = function() {
  ##
  #foreach ($field in $fields)
    #if ($field.get('validate') && $field.get('name'))
      #set ($validate = $field.get('validate'))
      #if (($validate.get('mandatory') && !$validate.get('mandatory').get('noscript'))
          || ($validate.get('regex') && !$validate.get('regex').get('noscript'))
          || ($validate.get('mustMatch') && !$validate.get('mustMatch').get('noscript')))
        #set ($fieldName = $field.get('name'))
        ## TODO: add condition for not displaying this message for checking of the original password used in 
        ## change password form
        #if ($validate.get('fieldOkayMessage'))
          #set ($okayMessage = $validate.get('fieldOkayMessage'))
        #elseif (!$validate.get('hideOkayMessage'))
          #set ($okayMessage = $services.localization.render('core.validation.valid.message'))
          #else
            #set ($okayMessage = '')
        #end
        var ${fieldName}Validator = new LiveValidation("$fieldName", {validMessage: "$okayMessage", wait: 500});
        ##
        #if ($validate.get('mandatory'))
          #set ($mandatory = $validate.get('mandatory'))
          #if ($mandatory.get('failureMessage') && !$mandatory.get('noscript'))
            ${fieldName}Validator.add(Validate.Presence, {failureMessage: "$!mandatory.get('failureMessage')"});
          #end
        #end
        ##
        #if ($validate.get('mustMatch'))
          #set ($mustMatch = $validate.get('mustMatch'))
          #if ($mustMatch.get('name') && $mustMatch.get('failureMessage') && !$mustMatch.get('noscript'))
            ${fieldName}Validator.add(Validate.Confirmation, {match: $$("input[name=$!mustMatch.get('name')]")[0], 
              failureMessage: "$!mustMatch.get('failureMessage')"});
          #end
        #end
        ##
        #if ($validate.get('regex'))
          #set ($regex = $validate.get('regex'))
          #set ($pattern = "")
          #if ($regex.get('jsPattern'))
            #set ($pattern = $regex.get('jsPattern'))
          #elseif ($regex.get('pattern'))
            #set ($pattern = $regex.get('pattern'))
          #end
          #set ($failMessage = "")
          #if ($regex.get('jsFailureMessage'))
            #set ($failMessage = $regex.get('jsFailureMessage'))
          #elseif ($regex.get('failureMessage'))
            #set ($failMessage = $regex.get('failureMessage'))
          #end
          #if ($pattern != '' && $failMessage != '' && !$regex.get('noscript'))
            ${fieldName}Validator.add(Validate.Format, {pattern: $pattern, failureMessage: "$failMessage"});
          #end
        #end##if regex
      #end##if contains js validateable fields.
    #end##if validate
  #end##loop
    };
    document.observe('xwiki:dom:loaded', initRegistrationFormValidation);
    document.observe('xwiki:dom:updated', function(event) {
      var container = (event && event.memo && event.memo.elements && event.memo.elements[0]) || $('body');
      if (container.down('form#register')) {
        initRegistrationFormValidation();
      }
    });// ]]>
    </script>
#end##macro
##
#macro (outputPasswordFields, $fields, $passwordFieldName, $confirmPasswordFieldName,$request)
  #definePasswordFields($fields, $passwordFieldName, $confirmPasswordFieldName, {})
  #generateHtml($fields, $request)
#end
#*
 * Get parameters from request so that values will be filled in if there is a mistake
 * in one of the entries. Entries will be returned to fields[n].params.value
 * Fields will not be returned if they have either noReturn or error specified.
 *
 * @param $fields The array of fields to get parameters for.
 *###
#macro(getParams $fields, $request)
  #foreach($field in $fields)
    #if($field.get('name') && $request.get($field.get('name')))
      #if(!$field.get('noReturn') && !$field.get('error'))
        #if(!$field.get('params'))
          #set($params = {})
          #set($discard = $field.put('params', $params))
        #else
          #set($params = $field.get('params'))
        #end
        #set($discard = $params.put('value', $request.get($field.get('name'))))
      #end
    #end
  #end
#end