###
### Rename document template
###
#if(!$xwiki.checkAccess($doc.fullName, 'delete'))
  #template("accessdenied.vm")
#elseif($doc.isNew())
  $response.setStatus(404)
  #template("startpage.vm")
  <div class="main layoutsubsection"><div id="mainContentArea">
    #error($services.localization.render('core.rename.nonexistingDocument'))
  </div></div>
  #template("endpage.vm")
#else
  #template("startpage.vm")
  ## TODO: Improve the interface, splitting the operation into more steps.
  #if("$!{step}" == '')
    #set($step = "$!{request.getParameter('step')}")
  #end
  #if("$!{step}" == '')
    #set($step = '1')
  #end
  #set($step = $mathtool.toInteger("$step"))
  <div class="main layoutsubsection">
  <div id="mainContentArea">
    #if($step == 1)
      ## Display the rename form
      #template("renameStep1.vm")
    #elseif(!${services.csrf.isTokenValid("$!{request.getParameter('form_token')}")})
      ## CSRF protection
      $response.sendRedirect("$!{services.csrf.getResubmissionURL()}")
    #else
      ## Do the rename. It's the form in renameStep1.vm page that calls this page with step=2.
      #if("$!{request.newPageName.trim()}" == '')
        $response.setStatus(400)
        #error($services.localization.render('core.rename.emptyName'))
        #template("renameStep1.vm")
      #else
        #set ($newSpaceReference = $services.model.resolveSpace($request.newSpaceName))
        #set ($newDocReference = $services.model.createEntityReference($request.newPageName, 'DOCUMENT',
          $newSpaceReference))
        #set ($newDocReference = $services.model.createDocumentReference($newDocReference, $NULL))
        #set ($newDocReferenceAsString = $services.model.serialize($newDocReference))
        #if($xwiki.exists($newDocReference))
          $response.setStatus(409)
          #error($services.localization.render('core.rename.alreadyExists', [${escapetool.xml($newDocReferenceAsString)},
            $xwiki.getURL($newDocReference)]))
          #template("renameStep1.vm")
        #elseif(!$xwiki.hasAccessLevel('edit', $xcontext.user, $newDocReferenceAsString))
          $response.setStatus(403)
          #error($services.localization.render('core.rename.targetNotWritable',
            [${escapetool.xml($newDocReferenceAsString)}]))
          #template('renameStep1.vm')
        #else
          ## FIXME: Decide whether we continue to support selective backlink / children update or not. At the moment we
          ## collect the selected backlinks and children but we don't use them: we update everything.
          #set($backlinks = [])
          #set($children = [])
          #foreach($param in $request.parameterNames)
            #if($param.startsWith("backlink_"))
              #set($discard = $backlinks.add($services.model.resolveDocument($param.substring(9))))
            #elseif($param.startsWith("child_"))
              #set($discard = $children.add($services.model.resolveDocument($param.substring(6))))
            #end
          #end
          #set ($success = false)
          #set ($renameJob = $services.refactoring.rename($doc.documentReference, $newDocReference))
          #try()
            #set ($discard = $renameJob.join())
            #set ($renameJobStatus = $services.job.getJobStatus($renameJob.request.id))
            #set ($success = $renameJobStatus.log.getLogs('ERROR').isEmpty())
          #end
          #if ($success)
            #set ($message = $services.localization.render('core.rename.success', [
              $escapetool.xml($doc.name),
              $escapetool.xml($newDocReference.name),
              $xwiki.getURL($newDocReference),
              $escapetool.xml($doc.space),
              $escapetool.xml($services.model.serialize($newSpaceReference))
            ]))
          #else
            #set ($message = $services.localization.render('core.rename.targetNotWritable'))
          #end
          #xwikimessageboxstart($services.localization.render('notice') $message)
          #xwikimessageboxend()
        #end
      #end
    #end
<div class="clearfloats"></div>
</div>## mainContentArea
</div>## main
#template("endpage.vm")
#end
