###
### Reset versions page
###
###
#template("startpage.vm")
<div class="main layoutsubsection">
<div id="mainContentArea">
#xwikimessagebox($msg.get("resetversions") $msg.get("confirmresetversions") $doc.getURL("reset", "confirm=1&amp;form_token=$!{services.csrf.getToken()}") $doc.getURL("view") $msg.get("yes") $msg.get("no"))
<div class="clearfloats"></div>
</div>## mainContentArea
</div>## main
#template("endpage.vm")
