###
### Resubmission page
###
$response.setStatus(401)##
##
## This page shouldn't be displayed in an IFRAME, in order to prevent clickjacking.
##
$response.addHeader( "X-FRAME-OPTIONS", "DENY" )
#template("startpage.vm")
<div class="main layoutsubsection">
<div id="mainContentArea">
#xwikimessageboxstart($services.localization.render('warning') $services.localization.render('csrf.confirmation'))
#set($resubmit = "$!{escapetool.xml($request.getParameter('resubmit'))}")
#set($xback = "$!{escapetool.xml($request.getParameter('xback'))}")
<form action="$resubmit" method="post">
  <div class="hidden">
    ## Valid CSRF token
    <input type="hidden" name="form_token" value="$!{services.csrf.getToken()}" />
  </div>
  <div class="buttonwrapper"><input type="submit" class="button" value="$services.localization.render('yes')"/></div>
  <div class="buttonwrapper"><a class="secondary button" href="$xback">$services.localization.render('no')</a></div>
</form>
#xwikimessageboxend()
<div class="clearfloats"></div>
</div>## mainContentArea
</div>## main
#template("endpage.vm")

