#if($showRightPanels == "1" || $request.getParameter("forceRightPanels"))
<div id="rightPanels" class="panels right panel-width-$!{rightPanelsWidth}"#if($showRightPanels != "1" && $request.getParameter("forceRightPanels")) style="display: none;"#end>
#set($panelUixs = $services.uix.getExtensions('platform.panels.rightPanels'))
## Global Variable
#set($xwikiPanelWidth = $rightPanelsWidth)
#foreach($panelUix in $panelUixs)
  #set($panelDocName = $panelUix.getDocumentReference())
  #if($panelDocName && $services.security.authorization.hasAccess('view', $panelDocName))
    $services.rendering.render($panelUix.execute(), "html/5.0")
  #end
#end
</div>
#end