#if($showRightPanels == "1" || $request.getParameter("forceRightPanels"))
<div id="rightPanels" class="panels right"#if($showRightPanels != "1" && $request.getParameter("forceRightPanels")) style="display: none;"#end>
#set($panelUixs = $services.uix.getExtensions('platform.panels', {'select' : $rightPanels}))
#foreach($panelUix in $panelUixs)
  $services.rendering.render($panelUix.execute(), "xhtml/1.0")
#end
</div>
#end