#if ($request.getParameter("raw").equals("1"))
#template("code.vm")
#else
#template("xwikivars.vm")
#template("layoutvars.vm")
#template("htmlheader.vm")
#template("header.vm")
<div class="layoutsection">
  <div id="contentcolumn" class="content hideleft hideright">
    #xwikimessageboxstart($services.localization.render('rollback') "$services.localization.render('readytorollback') $!{escapetool.xml($request.get('rev'))}?")
    <form action="" method="post">
      <div>
        ## CSRF prevention
        <input type="hidden" name="form_token" value="$!{services.csrf.getToken()}" />
        <input type="hidden" name="confirm" value="1" />
        <span class="buttonwrapper"><input type="submit" class="button" value="$services.localization.render('yes')"/></span>
        <span class="buttonwrapper"><a class="secondary button" href="$doc.getURL('view')">$services.localization.render('no')</a></span>
      </div>
    </form>
    #xwikimessageboxend()
  </div>
</div>
##
##
##
#template("footer.vm")
#template("htmlfooter.vm")
#end