#set ($parents = [])
#set($discard = $parents.add($doc.fullName))
#macro(breadcrumb $doc $string $level)
#set($parent = $doc.parent)
#if(($parent != "") && ($level < 6) && (!$parents.contains($parent)))
#set($discard = $parents.add($parent))
#set($pdoc = $xwiki.getDocument($parent).getTranslatedDocument())
#set($pdocurl = $pdoc.getURL("view"))
#set($nstring = "<a href='$pdocurl'>$escapetool.xml(${pdoc.getPlainTitle()})</a> &#187; $string")
#set($level = $level + 1)
#breadcrumb($pdoc $nstring $level)
#else
$string
#end
#end
#if($isInServletMode) ## Visible only in a page
<div id="headerspace" class="layoutsection">
<div class="minwidth"></div>
<hr/>
  <div id="breadcrumbs">
    <span class="breadcrumbspace"><a href="$spaceViewUrl">$escapetool.xml(${doc.space})</a>: </span>
#breadcrumb($doc "<a href='${doc.getURL('view')}'>$escapetool.xml($tdoc.getPlainTitle())</a>" 0)
  </div>
  #if($xcontext.action == 'edit' && ($editor == 'wiki' || $editor == 'wysiwyg'))
    <div class='edit-meta-tools'><a id='editParentTrigger' class='tool edit-parent' href='#headerspace' title="$msg.get('core.editors.content.parentField.edit.title')">[$msg.get('core.editors.content.parentField.edit')]</a></div>
    <div id="parentinput">
      <label for="xwikidocparentinput">$msg.get('core.editors.content.parentField.label') <a id='hideEditParentTrigger' href='#'>$msg.get('core.editors.content.parentField.edit.hide')</a>
      <input type="text" id="xwikidocparentinput" name="parent" value="$!{tdoc.parent}" size="30" class="suggestDocuments"/></label>
    </div>
  #end
<hr/>
</div>
#end