###
### User inactive message
###
###
#template("startpage.vm")
<div class="main layoutsubsection">
<div id="mainContentArea">
#if($xwiki.exists("XWiki.UserInactive"))
    $xwiki.includeForm("XWiki.UserInactive", false)
#else
#if ($cause == 'disabled' || $xcontext.cause == 'disabled')
  #xwikimessageboxstart($services.localization.render('notice') $services.localization.render('accountdisabled'))
#else
#xwikimessageboxstart($services.localization.render('notice') $services.localization.render('accountnotactive'))
#set($confirmdoc = $xwiki.getDocument("XWiki.AccountValidation"))
#if(!$confirmdoc.isNew())
$services.localization.render('accountnotactive_email')
<form action="${confirmdoc.getURL()}" method="post" class="xformInline">
<div>
## CSRF prevention
<input type="hidden" name="form_token" value="$!{services.csrf.getToken()}" />
<input type="hidden" name="xwikiname" value="${escapetool.xml($xcontext.user)}" />
<label for="validKey">$services.localization.render('core.users.activation.validationKey.label') <input type="text" name="validkey" size="16" id="validKey"/></label>
<span class="buttonwrapper"><input type="submit" value="$services.localization.render('confirmaccount')" class="button"/></span>
</div>
</form>
#end
#end
#xwikimessageboxend()
#end
<div class="clearfloats"></div>
</div>## mainContentArea
</div>## main
#template("endpage.vm")
