#set ($do = "$!request.do")
#if ($do == 'adddocument')
  $xwiki.watchlist.addDocument($doc.getPrefixedFullName())
#elseif ($do == 'removedocument')
  $xwiki.watchlist.removeDocument($doc.getPrefixedFullName())
#elseif ($do == 'addspace')
  $xwiki.watchlist.addSpace($doc.space)
#elseif ($do == 'removespace')
  $xwiki.watchlist.removeSpace($doc.space)
#elseif ($do == 'addwiki')
  $xwiki.watchlist.addWiki($doc.wiki)
#elseif ($do == 'removewiki')
  $xwiki.watchlist.removeWiki($doc.wiki)
#elseif ($do == 'adduser')
  $xwiki.watchlist.addUser($doc.getPrefixedFullName())
#elseif ($do == 'removeuser')
  $xwiki.watchlist.removeUser($doc.getPrefixedFullName())
#end
#if ("$!request.xredirect" != "")
  $response.sendRedirect($request.xredirect)
#end