#set ($do = "$!request.do")
##
#if ($request.reference) {
  #set ($watchRef = $request.reference)
#end
##
#if ($do.contains('wiki'))
  #set ($elementType = 'WIKI')
#elseif ($do.contains('space'))
  #set ($elementType = 'SPACE')
#elseif ($do.contains('document'))
  #set ($elementType = 'DOCUMENT')
#elseif ($do.contains('user'))
  #set ($elementType = 'USER')
#end
##
#if ($do.startsWith('add'))
  #set ($discard = $services.watchlist.addWatchedElement($watchRef, $elementType))
#elseif ($do.startsWith('remove'))
  #set ($discard = $services.watchlist.removeWatchedElement($watchRef, $elementType))
#end
##
#if ("$!request.xredirect" != "")
  $response.sendRedirect($request.xredirect)
#end