Format: https://www.debian.org/doc/packaging-manuals/copyright-format/1.0/
License: ${debianLicense}

Files: *
Copyright: ${project.inceptionYear}-${currentYear} ${project.organization.name}
License: ${debianLicenseFilename}
