###
### Access denied messge
###
###

#template("startpage.vm")
<div class="main layoutsubsection">
#if ($xwiki.isReadOnly())
#xwikimessageboxstart($msg.get("error") $msg.get("readonly"))
#else
#xwikimessageboxstart($msg.get("error") $msg.get("notallowed"))
#end
$!exception
#xwikimessageboxend()
<div class="clearfloats"></div>
</div>
#template("endpage.vm")
