body#body{
  background-color: #FFF;
  color: #000;
}

.heading-1, .heading-1-1, .heading-1-1-1, .heading-1-1-1-1 {
  color: #000;
}

#companylogo img {
 background-image: url("xwlogoblack.png");
 height: 91px;
 width: 136px;
}

/*
---------------------------------------
Space header, footer
---------------------------------------
*/

#headerspace hr, #footerglobal hr{
  background-color: #000;
}
/*
---------------------------------------
Content
---------------------------------------
*/

#xwikieditor.layoutsection, .layoutsubsection, #xwikidatacontents{
  border-color: #DDD;
}
/*
---------------------------------------
Zone for Comments, attachments, History... 
---------------------------------------
*/
table.xwikidatatable, table.xwikidatatable th{
  border-color: #DDD;
}
table.xwikidatatable th{
  color: #000;
  background-color: #CCC;
  border-color: #DDD;
}

.xwikiintracontent legend, .xwikiintracontent fieldset{
  border-color: #DDD;
}

.xwikiintracontent fieldset.collapsed legend{
  background-color: #CCC;
}

/*
---------------------------------------
Menu
---------------------------------------
*/
.submenu{
  background-color: #FFF;
  border-color: #DDD;
  border-top-color: #FFF;
}

/*
---------------------------------------------
"Message Boxes"
---------------------------------------------
*/
fieldset.xwikimessage{
  border-color: #000;
  background-color: #EEE;
}

fieldset.xwikimessage legend{
  background-color: #000;
  color: #FFF;
}

/*
---------------------------------------
Editors
---------------------------------------
*/
#xwikicontentedit{
  border-color: #DDD;
}

/*
---------------------------------------
Tabs
---------------------------------------
*/
.xwikitabbar li{
  background-color: #CCC;
  border-right-color: #BBB;
  border-left-color: #DDD;
  border-top-color: #DDD;
}

.xwikitabbar li a{
  color: #000 !important;
}
.xwikitabbar li.active{
  background-color: #FFF !important;
  border-color: #DDD;
  border-bottom-color: #FFF;
}

/*
---------------------------------------
Panels
---------------------------------------
*/
.fakepanel{
  background-color: #EEE;
  border-color: #DDD;
}

.panel{
  border-color: #DDD;
}
.xwikipaneltitle{
  background-color: #CCC;
}

/*
----------------------------------
Rico Acordeon -- Sintax Help Panel
----------------------------------
*/
.accordion{
  border-color: #DDD !important;
}
.accordionTabContentBox table th{
  background-color: #FFF;
  border-bottom-color: #DDD;
}

.accordionTabTitleBar{
  border-color: #FFF;
  border-bottom-color: #DDD;
  border-right-color: #DDD;
  background-color: #EEE;
}

/*
----------------------------------
Misc
----------------------------------
*/

#xwikihelpsyntax{
  border-top-color: #DDD;
}

tr.row.odd{
  background-color: #EEE;
}
tr.row.even{
  background-color: #FFF;
}
tr th{
  background-color: #EEE;
}
a:link{
  color: #000;
}
a:visited{
  color: #000;
}

.button, .xwikibuttonlink a{
  background-color: #CCC;
  color: #000;
}
.button:hover, .xwikibuttonlink a:hover{
  background-color: #FFD;
}

#xwikirightstable, #xwikirightstable th, #xwikirightstable td, #xwikirightstable tr{
  border-color: #DDD;
}

.article_footer {
  color: #000;
  border-color: #000;
}

.xwikiuserblog .rssfeed {
  border-top-color: #DDD;
  border-left-color: #DDD;
  border-bottom-color: #EEE;
  border-right-color: #EEE;
}
.rsschanneltitle{
  background-color: transparent;
}
.currentspace a{
  color: #000 !important;
  background-color: #CCC;
}
