<template>
    <table class="xwiki-livetable">

        <thead>

            <tr>

                <th
                    v-for="(col, cIdx) in cols"
                    :key="cIdx"
                >
                    <div class="column-header">
                        <div>{{ col.name }}</div>
                    </div>
                </th>

            </tr>

        </thead>



        <tbody>

            <tr
                v-for="(row, rIdx) in rows"
                :key="rIdx"
            >

                <td
                    v-for="col in cols"
                    :key="col.key"
                >
                    <div
                        class="cell"
                        v-text="row[col.key]"
                    ></div>
                </td>

            </tr>

        </tbody>

    </table>
</template>

<script>
/*
 * See the NOTICE file distributed with this work for additional
 * information regarding copyright ownership.
 *
 * This is free software; you can redistribute it and/or modify it
 * under the terms of the GNU Lesser General Public License as
 * published by the Free Software Foundation; either version 2.1 of
 * the License, or (at your option) any later version.
 *
 * This software is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the GNU
 * Lesser General Public License for more details.
 *
 * You should have received a copy of the GNU Lesser General Public
 * License along with this software; if not, write to the Free
 * Software Foundation, Inc., 51 Franklin St, Fifth Floor, Boston, MA
 * 02110-1301 USA, or see the FSF site: http://www.fsf.org.
 */
define(["Vue"], function (Vue) {
    Vue.component("livedata-table", {
            
        name: "xwiki-livetable",

        template: template,

        props: {
            data: Object,
        },

        computed: {
            rows: function () { return this.data.entries; },
            cols: function () { return this.data.properties; },
        },
        
    });
});
</script>


<style>

</style>
