<template>
  <div class="livedata-layout-cards">

    <livedata-topbar :logic="logic"></livedata-topbar>

    <!-- Cards component -->
    <div class="livedata-cards">

    <!-- A card -->
      <div
        class="card"
        v-for="(entry, entryId) in entries"
        :key="entryId"
      >
        <div
          class="card-property"
          v-for="property in properties"
          :key="property.id"
        >
          <strong class="property-name">{{ property.name }}:</strong>
          <span
            class="value"
          >
            <livedata-displayer
              :property-id="property.id"
              :entry="entry"
              :logic="logic"
            ></livedata-displayer>
          </span>
        </div>
      </div>


    </div>

  </div>
</template>


<script>
/*
 * See the NOTICE file distributed with this work for additional
 * information regarding copyright ownership.
 *
 * This is free software; you can redistribute it and/or modify it
 * under the terms of the GNU Lesser General Public License as
 * published by the Free Software Foundation; either version 2.1 of
 * the License, or (at your option) any later version.
 *
 * This software is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the GNU
 * Lesser General Public License for more details.
 *
 * You should have received a copy of the GNU Lesser General Public
 * License along with this software; if not, write to the Free
 * Software Foundation, Inc., 51 Franklin St, Fifth Floor, Boston, MA
 * 02110-1301 USA, or see the FSF site: http://www.fsf.org.
 */
define([
  "Vue",
  "vue!" + BASE_PATH + "livedata-topbar.html",
  "vue!" + BASE_PATH + "/displayers/livedata-displayer.html",
], function (
  Vue
) {

  Vue.component("livedata-layout-cards", {

    name: "livedata-layout-cards",

    template: template,

    directives: {
      // vue directive to automatically create and insert the displayer inside the element
      displayer: {
        bind: function (el, binding, vnode) {
          vnode.context.$parent.logic.createDisplayer(binding.value.property.id, binding.value.entry)
          .then(function (displayer) {
            el.appendChild(displayer.element);
            displayer.view();
          });
        },
      },
    },

    props: {
      logic: Object,
    },

    computed: {
      data: function () { return this.logic.data; },
      entries: function () { return this.logic.data.data.entries; },
      properties: function () { return this.logic.data.meta.propertyDescriptors; },
    },

  });
});
</script>


<style>

.livedata-layout-cards .card {
  display: inline-block;
  padding: 1rem 2rem;
  margin: 1rem;
  border: 1px solid lightgray;
  border-radius: 1rem;
}

.livedata-layout-cards .card-property {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  transition: height 0.5s;
}

.livedata-layout-cards .property-name {
  margin-right: 0.5em;
}

.livedata-layout-cards .value {
  flex-grow: 1;
  align-self: stretch;
}

@supports (display: grid) {

  .livedata-layout-cards .livedata-cards {
    display: grid;
    grid-template-columns: repeat(auto-fill, 30rem);
    gap: 1.5rem;
  }

  .livedata-layout-cards .card {
    margin: 0;
  }

}


</style>
