###
### Return the list of pages and extensions that are going to be deleted by a delete job
###
$response.setContentType("application/json")

###
### Globals
###
#set ($offset = "$!request.offset")
#if ($offset == '')
  #set ($offset = '0')
#end
#set ($offset = $mathtool.toNumber($offset))
#set ($limit = 15)

#**
 * Display a pagination node.
 * @param $data the collection where the node will be added
 * @param $howMany the number of nodes that remains
 * @param $newOffset the offset to use to display the next batch of nodes
 *#
#macro(paginationNode $data $howMany $newOffset)
  #set ($id = "$!{request.id}")
  #if ($id == '')
    #set ($id = '#')
  #end
  #set ($discard = $data.add({
    'id': "pagination:$id",
    'text': "$escapetool.javascript($services.localization.render('job.question.ExtensionBreakingQuestion.tree.paginationNode', [$howMany]))",
    'icon': 'fa fa-eye',
    'children': false,
    'data': {
     'type': 'pagination',
     'validChildren': [],
     'canDelete': true,
     'offset': $newOffset
    },
    'li_attr': {
      'class': 'paginationNode'
    }
  }))
#end

#**
 * Add page node in the collection.
 * @param $question the question beeing asked
 * @param $data the collection where the nodes will be added
 *#
#macro(displayPages $question $data)
  #set ($pages = [])
  #if ("$!request.id" == 'freePages')
    #set ($pages = $question.freePages)
  #else
    #set ($pages = $question.getExtension($request.id).pages)
  #end
  #foreach ($page in $pages)
    #set ($pageReference = $page.entityReference)
    #if ($velocityCount > $offset + $limit)
      #set ($howMany = $pages.size() - $velocityCount + 1)
      #paginationNode($data, $howMany, $velocityCount)
      #break
    #end
    #if ($velocityCount > $offset)
      #set ($pageDoc = $xwiki.getDocument($pageReference))
      #set ($title = $pageDoc.getRenderedTitle('html/5.0'))
      #if ("$!title" == '')
        #set ($title = $pageDoc.name)
      #end
      #set ($discard = $data.add({
        'id': $services.model.serialize($pageReference, 'default'),
        'text': "$title ($services.model.serialize($pageReference, 'local'))",
        'icon': 'fa fa-file-o',
        'children': false,
        'data': {
          'type': 'page'
        }
      }))
    #end
  #end
#end

#**
 * Add extension nodes in the collection.
 * @param $question the question beeing asked
 * @param $data the collection where the nodes will be added
 *#
#macro(displayExtensions $question $data)
  #set ($extensions = [])
  #foreach ($entry in $question.extensions.entrySet())
    #set ($discard = $extensions.add({'extension': $entry.value.extension, 'pages': $entry.value.pages, 'name': $entry.value.extension.name}))
  #end
  #set ($extensions = $sorttool.sort($extensions, 'name'))
  #foreach ($ext in $extensions)
    #if ($velocityCount > $offset + $limit)
      #set ($howMany = $extensions.size() - $velocityCount + 1)
      #paginationNode($data, $howMany, $velocityCount)
      #break
    #end
    #if ($velocityCount > $offset)
      #set ($extension = $ext.extension)
      #set ($discard = $data.add({
        'id': "$extension.id.id",
        'text': "$extension.name",
        'icon': 'fa fa-cube',
        'children': true,
        'data': {
          'type': 'extension'
        }
      }))
    #end
  #end
#end

#**
 * Controller
 *#
#set ($jobStatus = $job.status)
#set ($question = $jobStatus.question)
#set ($data = [])
#if ("$!request.data" == 'children' && "$!request.id" != '#')
  #displayPages($question, $data)
#else
#if ($offset == 0 && !$question.freePages.isEmpty())
  #set ($discard = $data.add({
    'id': 'freePages',
    'text': "$escapetool.javascript($services.localization.render('job.question.ExtensionBreakingQuestion.tree.freePages'))",
    'icon': 'fa fa-folder',
    'children': true,
    'data': {
      'type': 'pages'
    }
  }))
  #end
  #displayExtensions($question, $data)
#end
$jsontool.serialize($data)
