body#body{background-image: url( images/color/blue/H4x4-BLUE.png ); }
body#body #xwikimaincontainer{  background-image :url( images/color/blue/bg-BLUE.png ) ;  }
#xwikimaincontainerinner {  background-image: url( images/color/blue/bg-BLUE.png );}
body#body.hideright  #xwikimaincontainerinner {  background-image: url( images/color/blue/bg-BLUE3.png );}
body#body.adminbody#body  #xwikimaincontainerinner {  background-image: url( images/color/blue/bg-BLUE3.png );}
body#body.hidelefthideright  #xwikimaincontainerinner {  background-image: url( images/color/blue/bg-BLUE3.png );}
#globallinks{  background-image: url( images/color/blue/bgx-BLUE.png );}
#rightPanels{  background-image: url( images/color/blue/bgx-BLUE.png );}
#editPanels.panels{  background-image: url( images/color/blue/bgx-BLUE.png );}

