body#body{background-image: url( images/color/red/H4x4-RED.png ); }
body#body #xwikimaincontainer{  background-image :url( images/color/red/bg-RED.png ) ;  }
#xwikimaincontainerinner {  background-image: url( images/color/red/bg-RED.png );}
body#body.hideright  #xwikimaincontainerinner {  background-image: url( images/color/red/bg-RED3.png );}
body#body.adminbody#body  #xwikimaincontainerinner {  background-image: url( images/color/red/bg-RED3.png );}
body#body.hidelefthideright  #xwikimaincontainerinner {  background-image: url( images/color/red/bg-RED3.png );}
#globallinks{  background-image: url( images/color/red/bgx-RED.png );}
#rightPanels{  background-image: url( images/color/red/bgx-RED.png );}
#editPanels.panels{  background-image: url( images/color/red/bgx-RED.png );}

