#set( $defaultstyle = $xwiki.getWebPreference("stylesheet"))
#set( $stylesheets = $xwiki.getWebPreference("stylesheets"))
#if ($defaultstyle!="")
<link href="$xwiki.getSkinFile($defaultstyle, true)" rel="stylesheet" type="text/css" />
<link href="$xwiki.getSkinFile($defaultstyle, true)" rel="stylesheet" type="text/css" title="default" />
#else
<link href="$xwiki.getSkinFile("style.css", true)" rel="stylesheet" type="text/css" />
<link href="$xwiki.getSkinFile("style.css", true)" rel="stylesheet" type="text/css" title="default" />
#end
#if($printss)
<link href="$xwiki.getSkinFile("print.css")" rel="stylesheet" type="text/css"/>
#end
#if ($stylesheets != "")
#set( $stylenb = 1)
#foreach ( $stylesheet in $xwiki.split($stylesheets, ","))
#if( !$stylesheet.equalsIgnoreCase($defaultstyle) )
<link href="$xwiki.getSkinFile($stylesheet)" rel="alternate stylesheet" type="text/css"  title="Alternate StyleSheet $stylenb" />
#end
#set( $stylenb = $stylenb + 1)
#end
#else
<link href="$xwiki.getSkinFile("style1.css")" rel="alternate stylesheet" type="text/css"  title="Alternate StyleSheet 1" />
<link href="$xwiki.getSkinFile("style2.css")" rel="alternate stylesheet" type="text/css"  title="Alternate StyleSheet 2" />
<link href="$xwiki.getSkinFile("style3.css")" rel="alternate stylesheet" type="text/css"  title="Alternate StyleSheet 3" />
#end
<link href="${request.contextPath}/yui/treeview/assets/tree.css" rel="stylesheet" type="text/css"/>

<link href="$xwiki.getSkinFile("css/lightbox/lightbox.css", true)" rel="stylesheet" type="text/css" />

<!--[if IE]>
<link href="$xwiki.getSkinFile("css/lightbox/lightboxIE.css", true)" rel="stylesheet" type="text/css" title="Lightbox Stylesheet For Ie" />
<![endif]-->