#template("xwiki.vm")
#if($request.pdftemplate)
#set($pdfdoc = $xwiki.getDocument($request.pdftemplate))
#else
#set($pdfdoc = $doc)
#end
$pdfdoc.use("XWiki.PDFClass")
#template("pdfhtmlheader.vm")
#set($pdfheader = $pdfdoc.display("header","rendered"))
#if($pdfheader=="")
#template("pdfheader.vm")
#else
$pdfheader
#end
<div id="xwikicontent">
$cdoc.getRenderedContent()
</div>
#if ($request.get("comments")=="1")
#template("comments2.vm")
#end
#if ($request.get("attachments")=="1")
<div id="xwikiattachments">
#foreach ($attach in $doc.attachmentList)
#if ($attach.isImage())
<img src="$doc.getAttachmentURL("${attach.filename}", "download")" alt="${attach.filename}" />
<br />
#end
#end
</div>
#end
$pdfdoc.use("XWiki.PDFClass")
#set($pdffooter = $pdfdoc.display("footer", "rendered"))
#if($pdffooter=="")
#template("pdffooter.vm")
#else
$pdffooter
#end