## ---------------------------------------------------------------------------
## See the NOTICE file distributed with this work for additional
## information regarding copyright ownership.
##
## This is free software; you can redistribute it and/or modify it
## under the terms of the GNU Lesser General Public License as
## published by the Free Software Foundation; either version 2.1 of
## the License, or (at your option) any later version.
##
## This software is distributed in the hope that it will be useful,
## but WITHOUT ANY WARRANTY; without even the implied warranty of
## MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the GNU
## Lesser General Public License for more details.
##
## You should have received a copy of the GNU Lesser General Public
## License along with this software; if not, write to the Free
## Software Foundation, Inc., 51 Franklin St, Fifth Floor, Boston, MA
## 02110-1301 USA, or see the FSF site: http://www.fsf.org.
## ---------------------------------------------------------------------------
###
#macro(displayCommentForm)
    #set ($xCommentClass = 'XWiki.XWikiComments')
    #if($xwiki.hasAccessLevel('comment'))
    <form action="$doc.getURL('commentadd', "xpage=view&amp;viewer=comments#commentform")" method="post" id="AddComment">
        <fieldset id="commentform">
            <legend class="sr-only">$services.localization.render('core.viewers.comments.add.title')</legend>
            <div class="commentavatar">#largeUserAvatar($xcontext.user)</div>
            #if($xcontext.user != 'XWiki.XWikiGuest')
                <label>$xwiki.getUserName($xcontext.user) $services.localization.render('core.viewers.comments.add.says')</label>
                <input type="hidden" name="${xCommentClass}_author" value="$xcontext.user"/>
            #else
                <label for="${xCommentClass}_author"><input type="text" id="${xCommentClass}_author" name="${xCommentClass}_author" value="$author" maxlength="255" /> says:</label>
                <strong><a href='$xwiki.getURL('XWiki.XWikiLogin', 'login', "xredirect=$escapetool.url($xwiki.relativeRequestURL)")'>$services.localization.render('login')</a></strong>
            #end
            ## CSRF prevention
            <input type="hidden" name="form_token" value="$!{services.csrf.getToken()}" />
            <input type="hidden" name="${xCommentClass}_date" value=""/>
            <input type="hidden" name="${xCommentClass}_replyto" value="$!replyTo"/>
            ## We need to know the type of editor used for comments in order to hide/display the preview button.
            #set ($defaultEditorId = $services.edit.syntaxContent.defaultEditorId)
            <input type='hidden' name='defaultEditorId' value="$escapetool.xml($defaultEditorId)" />
            <div class="commentcontainer">
                <div class="commenteditor">
                    <!-- loaded by javascript (see comments.js) -->
                </div>
            </div>
            #if($xcontext.user == 'XWiki.XWikiGuest' && $offerGuestsCaptcha)
                #displayCaptcha()
            #end
            <div>
                <input type="submit" value="$services.localization.render('core.viewers.comments.add.submit')" class="btn btn-primary"/>
                <a class="cancel btn btn-default" href="$doc.getURL()">$services.localization.render('core.viewers.comments.add.cancel')</a>
            </div>
        </fieldset>
    </form>
    #end
#end
