## ---------------------------------------------------------------------------
## See the NOTICE file distributed with this work for additional
## information regarding copyright ownership.
##
## This is free software; you can redistribute it and/or modify it
## under the terms of the GNU Lesser General Public License as
## published by the Free Software Foundation; either version 2.1 of
## the License, or (at your option) any later version.
##
## This software is distributed in the hope that it will be useful,
## but WITHOUT ANY WARRANTY; without even the implied warranty of
## MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the GNU
## Lesser General Public License for more details.
##
## You should have received a copy of the GNU Lesser General Public
## License along with this software; if not, write to the Free
## Software Foundation, Inc., 51 Franklin St, Fifth Floor, Boston, MA
## 02110-1301 USA, or see the FSF site: http://www.fsf.org.
## ---------------------------------------------------------------------------
###
#template('display_macros.vm')
### Return a single comment field
###
###
## The number of the comment, if no number is provided we generate a field for a new comment.
#set ($number = $numbertool.toNumber($request.number).intValue())

#set ($xCommentClass = 'XWiki.XWikiComments')

## If a content is provided, we use it. If a comment number is provided, we use the content of the corresponding 
## comment. Otherwise, the content is an empty string.
#if ($request.content)
  ## Forces the value of the comment to the content from the request if it exists (for instance in case of error 
  ## during the captcha validation).
  #set ($value = $request.content)
#elseif ($number && $number > -1)
  #set ($value = $doc.getObject($xCommentClass, $number).getValue('comment'))
#else
  #set ($value = '')
#end

## We need to know the type of editor used for comments in order to hide/display the preview button.
#set ($defaultEditorId = $services.edit.syntaxContent.defaultEditorId)
<input type='hidden' name='defaultEditorId' value="$escapetool.xml($defaultEditorId)" />

#if ($number && $number > -1)
  #set ($commentPrefix = "XWiki.XWikiComments_${number}_")
#else
  #set ($commentPrefix = 'XWiki.XWikiComments_')
#end
<label for="${commentPrefix}comment">$services.localization.render('core.viewers.comments.add.comment.label')</label>
#initRequiredSkinExtensions()
## Display of the comment field.
#set ($xWikiCommentsClass = $xwiki.getClass($xCommentClass))
### Creates a new in-memory object, then use it to render the comment field in edit mode.
#set ($newObj = $xWikiCommentsClass.newObject())
## Having an owner document is required to set a property value.
#set ($discard = $newObj.getXWikiObject().setOwnerDocument($doc))
#set ($discard = $newObj.set('comment', $value))
$doc.displayEdit($xwiki.getClass($xCommentClass).get('comment'), $commentPrefix, $newObj)
#getRequiredSkinExtensions($requiredSkinExtensions)
#set ($discard = $response.setHeader('X-XWIKI-HTML-HEAD', $requiredSkinExtensions))
