## ---------------------------------------------------------------------------
## See the NOTICE file distributed with this work for additional
## information regarding copyright ownership.
##
## This is free software; you can redistribute it and/or modify it
## under the terms of the GNU Lesser General Public License as
## published by the Free Software Foundation; either version 2.1 of
## the License, or (at your option) any later version.
##
## This software is distributed in the hope that it will be useful,
## but WITHOUT ANY WARRANTY; without even the implied warranty of
## MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the GNU
## Lesser General Public License for more details.
##
## You should have received a copy of the GNU Lesser General Public
## License along with this software; if not, write to the Free
## Software Foundation, Inc., 51 Franklin St, Fifth Floor, Boston, MA
## 02110-1301 USA, or see the FSF site: http://www.fsf.org.
## ---------------------------------------------------------------------------
#template("startpage.vm")
<div class="main layoutsubsection">
  #template('hierarchy.vm')
  ## Set as an HTML main for better DOM tree semantics to facilitate navigation with assistive technologies.
  <main id="mainContentArea">
    ## ---------------------------------------------------------------------------------------------------------
    ## Since this template can be used for creating a Page or a Space, compute its title based on the passed
    ## "tocreate" parameter which can be either "page" or "space". If no "tocreate" parameter is passed then we
    ## default to creating a Page. 
    ## ---------------------------------------------------------------------------------------------------------
    #set($tocreate = $request.getParameter('tocreate'))
    #if("$!tocreate" != 'space')
      #set ($stepTitle = $services.localization.render('core.create.pageTitle'))
    #else
      #set ($stepTitle = $services.localization.render('core.create.spaceTitle'))
    #end
    <div class="xcontent">
      #displayDocumentTitle($stepTitle)
      #template("createinline.vm")
    </div>## xcontent
  </main>## mainContentArea
</div>## main
#template("endpage.vm")
