## ---------------------------------------------------------------------------
## See the NOTICE file distributed with this work for additional
## information regarding copyright ownership.
##
## This is free software; you can redistribute it and/or modify it
## under the terms of the GNU Lesser General Public License as
## published by the Free Software Foundation; either version 2.1 of
## the License, or (at your option) any later version.
##
## This software is distributed in the hope that it will be useful,
## but WITHOUT ANY WARRANTY; without even the implied warranty of
## MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the GNU
## Lesser General Public License for more details.
##
## You should have received a copy of the GNU Lesser General Public
## License along with this software; if not, write to the Free
## Software Foundation, Inc., 51 Franklin St, Fifth Floor, Boston, MA
## 02110-1301 USA, or see the FSF site: http://www.fsf.org.
## ---------------------------------------------------------------------------
#######################################################
###              DELETE PAGE ACTION
###              ------------------
###
#######################################################
##
#######################################################
##                     GLOBALS
#######################################################
#set($fullmsg = '')
#set($quote = '"')
#set($hasInlinks = false)
#######################################################
##                     DISPLAY
#######################################################
#set ($discard = $xwiki.jsfx.use('js/xwiki/delete.js'))
#template('refactoringStatus_macros.vm')
#template('refactoring_macros.vm')
#template('xwikivars.vm')

#controller()
#macro(displayContent $deletecontent)
#template("startpage.vm")
<div class="main">
  #template("hierarchy.vm")
  ## Set as an HTML main for better DOM tree semantics to facilitate navigation with assistive technologies.
  <main id="mainContentArea">
  #define($title)<a href="$doc.getURL('view')">$!escapetool.xml($doc.plainTitle)</a>#end
  #set($titleToDisplay = $services.localization.render('core.delete.title', [$title]))
  <div class="xcontent">
    #template('contentheader.vm')
    $deletecontent
    <div class="clearfloats"></div>
  </div> ## xcontent
  </main> ##mainContentArea
</div>## main
#template("endpage.vm")
#end
#######################################################
##                    CONTROLLER
#######################################################
#macro(controller)
  #if("$!{request.jobId}" != '')
    #set ($deleteJobStatus = $services.job.getJobStatus($request.jobId.split('/')))
    ## A delete job is running
    #if ($xcontext.action == 'get')
      #outputDeleteJobStatusJSON($deleteJobStatus)
    #else
      #set ($content = "#displayDeleteJobStatus($deleteJobStatus)")
      #displayContent($content)
    #end
  #else
    #if("$!{request.id}" != '')
      ## request.id means that we are deleting a document from the recycle bin
      #set ($content = "#displayCompletelyDeleteConfirmMessage()")
      #displayContent($content)
    #else
      #set ($content = "#displayConfirmationPage()")
      #displayContent($content)
    #end
  #end
#end

#macro (outputDeleteJobStatusJSON $deleteJobStatus)
  #getJobStatusJSON($deleteJobStatus $json)
  $response.setContentType('application/json')
  $jsontool.serialize($json)
#end

#######################################################
##            DISPLAY RUNNING JOB
#######################################################
#macro (displayDeleteJobStatus $deleteJobStatus)
  #set ($discard = $xwiki.jsfx.use('uicomponents/job/job.js'))
  ## TODO: allows question templates to inject the web resources they need
  #set ($discard = $xwiki.linkx.use($services.webjars.url('org.xwiki.platform:xwiki-platform-tree-webjar', 'tree.min.css',
    {'evaluate': true}), {'type': 'text/css', 'rel': 'stylesheet'}))
  #set ($discard = $xwiki.jsfx.use("uicomponents/job/question/ExtensionBreakingQuestion.js", true))
  #set ($discard = $xwiki.jsfx.use("uicomponents/job/question/XClassBreakingQuestion.js", true))
  #set ($deleteJobState = $deleteJobStatus.state)
  #set ($finished = $deleteJobState == 'FINISHED')
  #set ($deleteJobRequest = $deleteJobStatus.request)
  #set ($jobStatusURL = $doc.getURL('get', $escapetool.url({
    'xpage': 'delete',
    'jobId': $request.jobId,
    'outputSyntax': 'plain'
  })))
  <div class="xcontent job-status" data-url="$jobStatusURL">
  <h2>$services.localization.render('core.delete.waitmessage')</h2>
  #if (!$finished)
    #displayJobProgressBar($deleteJobStatus)
    #displayJobQuestion($deleteJobStatus)
  #else
    #displayJobFinishedMessage($deleteJobStatus)
  #end
  #if ($isAdvancedUser || $isSuperAdmin)
    #displayJobStatusLog($deleteJobStatus true)
  #end
  </div>
#end

#######################################################
##            DISPLAY CONFIRMATION PAGE
#######################################################
#macro(displayConfirmationPage)
  <form id="delete" action="$doc.getURL('delete', "$!{languageparams}")" method="post">
    #getChildren()
    ## If xform is a parent of getChildren, the ".xform field" css is also applied on the page size limit select, making it 
    ## badly displayed.
    <div class="xform">
      #displayNewTargetOption()
      #getChildren_legacy()
      #displayConfirmMessage()
    </div>
  </form>
#end
#######################################################
##                  DISPLAY PANEL
#######################################################
#macro(displayPanel $panelId $panelClass $heading $body)
  <div class="panel $!panelClass">
    <div class="panel-heading">
      $heading
      <div class="pull-right"><a class="panel-collapse-carret" role="button" data-toggle="collapse" href="#$panelId" aria-expanded="false" aria-controls="$panelId">
        <span class="caret"></span>
        <span class='sr-only'>$escapetool.xml($services.localization.render('core.delete.affectChildren.dropDown.label'))</span>
      </a></div>
    </div>
    <div class="panel-body collapse" id="$panelId">
      $body
    </div>
  </div>
#end
#######################################################
##                    CHILDREN
#######################################################
#macro(getChildren)
  #if ($doc.documentReference.name == 'WebHome') ## terminal documents have no child
    #set($childCountXWQL = "WHERE doc.fullName LIKE :space AND doc.fullName <> :fullName")
    #set ($query = $services.query.xwql($childCountXWQL))
    #set ($query = $query.bindValue('space').literal("${doc.space}.").anyChars().query())
    #set ($query = $query.bindValue('fullName', $doc.fullName))
    ## Note: we don't use any filter since we display all documents including translations and hidden documents in the
    ## table below.
    #set($childCount = $query.count())
    #if ($childCount > 0)
      ## Check if we should propose by default to affect children when the only remaining children (after the delete) would be the WebPreferences document.
      #set ($webPreferencesDocumentReference = $services.model.createDocumentReference('WebPreferences', $doc.documentReference.lastSpaceReference))
      #if ($childCount == 1 && $xwiki.exists($webPreferencesDocumentReference))
        #set ($forceAffectChildren = " checked='checked'")
      #end
      #define($heading)
        <input name="affectChildren" id="affectChildren" type="checkbox" $!{forceAffectChildren}/><label for="affectChildren">$escapetool.xml($services.localization.render('core.delete.affectChildren')) ($childCount)</label>
      #end
      #define($body)
        ##
        ## List the documents to be deleted using a livetable
        ##
        #set ($sourceParameters = {
          'translationPrefix' : 'platform.index.',
          'template' : 'getdocuments.vm',
          'childrenOf': $doc.space,
          'queryFilters': 'unique',
          '$doc': $doc.documentReference
        })
        $services.liveData.render({
          'id': 'deleteSpaceIndex',
          'source': 'liveTable',
          'sourceParameters': $escapetool.url($sourceParameters),
          'properties': 'doc.title,doc.location,doc.date,doc.author'
        })
      #end
      #displayPanel('panel-children', 'panel-default', $heading, $body)
    #end
  #end
#end
#######################################################
##                 LEGACY CHILDREN
##
## Get the children document based on the legacy
## parent/child relationship.
#######################################################
#macro(getChildren_legacy)
  #if($services.parentchild.isParentChildMechanismEnabled())
    #set($childrenStatement = 'where doc.fullName <> :parentFullName and (doc.parent = :parentFullName or (doc.parent = :parentName and doc.space = :parentSpace))')
    #set($childrenQuery = $services.query.xwql($childrenStatement))
    #set($discard = $childrenQuery.bindValue('parentFullName', $doc.fullName).bindValue('parentName', $doc.documentReference.name).bindValue('parentSpace', $doc.space))
    #set($children = $childrenQuery.addFilter('unique').execute())
    #if($children && $children.size() > 0)
      #define($heading)
        <strong>Orphans</strong> ($children.size())
      #end
      #define($message)
        <ul>
          #foreach($docname in $children)
            #set($rdoc = $xwiki.getDocument($docname).getTranslatedDocument())
            <li><a href="$doc.getURL('view')">$escapetool.xml($rdoc.getPlainTitle())</a></li>
          #end
        </ul>
      #end
      #set($body = $services.localization.render('core.delete.orphansWarning', [$message]))
      #displayPanel('panel-legacy-children', 'panel-default', $heading, $body)
    #end
  #end
#end
#######################################################
##                 DISPLAY NEW TARGET OPTION
##
## Display the possibility to select a new target for existing backlinks and / or to create an automatic redirect to a
## different page.
#######################################################
#macro(displayNewTargetOption)
  #set($links = $doc.getBacklinks())
  #set ($hasInlinks = $links && $links.size() > 0)
  #define($heading)
    <strong>$escapetool.xml($services.localization.render('core.delete.backlinks'))</strong> ($links.size())
  #end
  #define($body)
    <dl>
      <dt>
        <label for="newBacklinkTarget">
          $escapetool.xml($services.localization.render('core.delete.backlinkTarget.label'))
        </label>
        <span class="xHint">$escapetool.xml($services.localization.render('core.delete.backlinkTarget.hint'))</span>
      </dt>
      <dd>
        #set ($pagePickerParams = {
          'id': 'newBacklinkTarget',
          'name': 'newBacklinkTarget'
        })
        #pagePicker($pagePickerParams)
      </dd>
      ##------------
      ## Links field
      ##------------
      #displayLinksCheckbox({
        'label': 'core.delete.updateLinks.label',
        'hint': 'core.delete.updateLinks.hint',
        'disabled': true
      })
      #displayAutoRedirectCheckbox({
        'label': 'core.delete.autoRedirect.label',
        'hint': 'core.delete.autoRedirect.hint',
        'disabled': true
      })
    </dl>
  #end
  $body
#end
#######################################################
##              DISPLAY CONFIRM MESSAGE
#######################################################
#macro(displayConfirmMessage)
  #if($xwiki.hasRecycleBin())
    #if($services.refactoring.isRecycleBinSkippingAllowed())
      <div class="xform">
        <dl>
          <dt>
            $escapetool.xml($services.localization.render('core.recycleBin.shouldSkip.label'))
          </dt>
          <dd>
            <label class="xwiki-form-listclass">
              <input name="shouldSkipRecycleBin" type="radio" value="false" checked/>
              $escapetool.xml($services.localization.render('core.recycleBin.shouldSkip.no'))
            </label>
            <label class="xwiki-form-listclass">
              <input name="shouldSkipRecycleBin" type="radio" value="true"/>
              $escapetool.xml($services.localization.render('core.recycleBin.shouldSkip.yes'))
            </label>
          </dd>
        </dl>
      </div>
    #else
      #if($hasInlinks)
        <p><strong>$escapetool.xml($services.localization.render('core.recyclebin.confirmWithInlinks'))</strong></p>
      #else
        <p>$escapetool.xml($services.localization.render('core.recyclebin.confirm'))</p>
      #end
    #end
  #else
    #if($hasInlinks)
      <p><strong>$escapetool.xml($services.localization.render('core.delete.confirmWithInlinks'))</strong></p>
    #else
      <p>$escapetool.xml($services.localization.render('core.delete.confirm'))</p>
    #end
  #end
  <div class="hidden">
    <input type="hidden" name="form_token" value="$!{services.csrf.getToken()}" />
    <input type="hidden" name="confirm" value="1"/>
    <input type="hidden" name="async" value="true"/>
    #if("$!{request.xredirect}" != '')
      <input type="hidden" name="xredirect" value="$!{escapetool.xml($request.xredirect)}"/>
    #end
  </div>
  <button class="btn btn-danger confirm">$escapetool.xml($services.localization.render('delete'))</button>
  #if("$!{request.xredirect}" != '')
    #getSanitizedURLAttributeValue('a','href',$request.xredirect,$doc.getURL(),$cancelUrl)
  #else
    #set($cancelUrl = $escapetool.xml($doc.getURL()))
  #end
  <a class="btn btn-default cancel" href="${cancelUrl}">$escapetool.xml($services.localization.render('cancel'))</a>
#end
#######################################################
##      DISPLAY DELETE COMPLETELY CONFIRM MESSAGE
##
## Display a confirmation message when the user wants 
## to delete a page from the recycle bin.
#######################################################
#macro(displayCompletelyDeleteConfirmMessage)
  #xwikimessageboxstart($services.localization.render('core.delete') $services.localization.render('core.recyclebin.completelyDeleteConfirm'))
    <form action="$xwiki.relativeRequestURL" method="post">
      <div class="hidden">
        ## CSRF prevention
        <input type="hidden" name="form_token" value="$!{services.csrf.getToken()}" />
        <input type="hidden" name="confirm" value="1"/>
        <input type="hidden" name="id" value="$!{escapetool.xml($request.id)}"/>
        #if("$!{request.xredirect}" != '')
          <input type="hidden" name="xredirect" value="$!{escapetool.xml($request.xredirect)}"/>
        #end
      </div>
      <input type="submit" class="btn btn-primary" value="$services.localization.render('yes')"/>
      #if("$!{request.xredirect}" != '')
        #getSanitizedURLAttributeValue('a','href',$request.xredirect,$doc.getURL(),$cancelUrl)
      #else
        #set($cancelUrl = $escapetool.xml($doc.getURL()))
      #end
      <a class="btn btn-default" href="$cancelUrl">$services.localization.render('no')</a>
    </form>
  #xwikimessageboxend()
#end
