## ---------------------------------------------------------------------------
## See the NOTICE file distributed with this work for additional
## information regarding copyright ownership.
##
## This is free software; you can redistribute it and/or modify it
## under the terms of the GNU Lesser General Public License as
## published by the Free Software Foundation; either version 2.1 of
## the License, or (at your option) any later version.
##
## This software is distributed in the hope that it will be useful,
## but WITHOUT ANY WARRANTY; without even the implied warranty of
## MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the GNU
## Lesser General Public License for more details.
##
## You should have received a copy of the GNU Lesser General Public
## License along with this software; if not, write to the Free
## Software Foundation, Inc., 51 Franklin St, Fifth Floor, Boston, MA
## 02110-1301 USA, or see the FSF site: http://www.fsf.org.
## ---------------------------------------------------------------------------
### Buttons displayed in the edit interface: cancel, preview (when enabled), save and continue, save and view.
###
#if ("$!showactions" != '0')
  $xwiki.jsfx.use('js/xwiki/actionbuttons/actionButtons.js', true)
  $xwiki.ssfx.use('js/xwiki/actionbuttons/actionButtons.css', true)
  ## In case of conflict issue we want to display the diff properly
  #set ($discard = $xwiki.ssfx.use('uicomponents/viewers/diff.css', true))
  #set ($discard = $xwiki.jsfx.use('uicomponents/viewers/diff.js'))
  #set ($keyboardShortcutsEnabled = ($editor != 'wysiwyg'))
  <div class="buttons">
    <div class="btn-group">
      #editActionButton($saveaction, 'saveandview', 'btn-primary')
      #set ($saveAndContinueClasses = 'btn-default')
      #set ($previewClasses = 'btn-default')
      ## Add a btn-group-last class to the last visible elements of the button group as the hidden fields 
      ## added by editActionButton are ignored by the css selectors, preventing them from having roundered
      ## corners on their right side.
      #if ($previewenabled)
        #set ($previewClasses = "$previewClasses btn-group-last")
      #else
        #set ($saveAndContinueClasses = "$saveAndContinueClasses btn-group-last")
      #end
      #editActionButton('saveandcontinue', 'save', $saveAndContinueClasses)
      #if ($previewenabled) #editActionButton('preview', 'preview', $previewClasses) #end
    </div>
    #editActionButton('cancel', 'cancel', 'btn-default')

    ## This allows the preview form to redirect back to the correct editor when pressing "Back to edit":
    <span class="meta-versionSummary metamodifs">
      <input type="hidden" name="xeditaction" value="$!xcontext.action" />
      ## The three following fields are not declared as type="hidden" since we want them to be cached in the browser.
      ## Current version of the document for the conflict check
      ## Note that the labels should never be displayed: we provide them to ensure our webstandards tests are passing.
      <label class="hidden" for="previousVersion">Previous version</label>
      <input type="text" class="hidden" id="previousVersion" name="previousVersion" value="$tdoc.version" />
      ## If the document is new or not when the user started the edition, for the conflict check too.
      <label class="hidden" for="isNew">Is new document?</label>
      <input type="text" class="hidden" id="isNew" name="isNew" value="$tdoc.isNew()" />
      ## We store the date of the beginning of the edition for the conflict check mechanism.
      <label class="hidden" for="editingVersionDate">Date of latest edition</label>
      <input type="text" class="hidden" id="editingVersionDate" name="editingVersionDate" value="$datetool.date.getTime()" />
      #if ((!$commentFieldAdded) && $xwiki.hasEditComment())
        #set ($commentFieldAdded = 1)
        #if ($xwiki.isEditCommentFieldHidden())
          <input type="hidden" name="comment" id="comment" value="$!{escapetool.xml($request.comment)}" />
        #else
          <label class="sr-only" for="commentinput">$services.localization.render('core.comment')</label>
          <input type="text" name="comment" id="commentinput" value="$!{escapetool.xml($request.comment)}" size="40"
            title="$!escapetool.xml($services.localization.render('core.comment.tooltip'))"
            placeholder="$!escapetool.xml($services.localization.render('core.comment.hint'))"
            data-xwiki-edit-comment-suggested="$!escapetool.xml($xwiki.isEditCommentSuggested())"
            data-xwiki-edit-comment-mandatory="$!escapetool.xml($xwiki.isEditCommentMandatory())"
            data-xwiki-edit-comment-prompt="$!escapetool.xml($services.localization.render('core.comment.prompt'))" />
        #end
      #end
      #if ((!$tdoc.isNew()) && (!$minorFieldAdded) && ($xwiki.hasMinorEdit()))
        #set ($minorFieldAdded = 1)
        <span class="meta-minorEdit text-nowrap">
          <input type="checkbox" name="minorEdit" id="minorEdit" #if($request.minorEdit)checked="checked" #end/>
          <label for="minorEdit">$services.localization.render('core.minoredit')</label>
        </span>
      #end
    </span> ## meta-versionSummary
  </div> ## buttons
#end
