## ---------------------------------------------------------------------------
## See the NOTICE file distributed with this work for additional
## information regarding copyright ownership.
##
## This is free software; you can redistribute it and/or modify it
## under the terms of the GNU Lesser General Public License as
## published by the Free Software Foundation; either version 2.1 of
## the License, or (at your option) any later version.
##
## This software is distributed in the hope that it will be useful,
## but WITHOUT ANY WARRANTY; without even the implied warranty of
## MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the GNU
## Lesser General Public License for more details.
##
## You should have received a copy of the GNU Lesser General Public
## License along with this software; if not, write to the Free
## Software Foundation, Inc., 51 Franklin St, Fifth Floor, Boston, MA
## 02110-1301 USA, or see the FSF site: http://www.fsf.org.
## ---------------------------------------------------------------------------
#set($docTitle = $request.getParameter('title'))
#if("$!docTitle" == '')
  #set($docTitle = $!tdoc.title)
#end
#set($docParent = $request.getParameter('parent'))
#if("$!docParent" == '')
  #set($docParent = $!tdoc.parent)
#end
##--------------------------------------------------------------------------
## Title and parent
##
<div id="parentinput" class="form-group">
  <label for="xwikidocparentinput">$services.localization.render('core.editors.content.parentField.label') <a id='hideEditParentTrigger' href='#'>$services.localization.render('core.editors.content.parentField.edit.hide')</a></label>
  <input type="text" id="xwikidocparentinput" name="parent" value="$!{escapetool.xml("$!docParent")}" size="30" class="suggestDocuments "/>
</div>
#if ($editor != 'inline')
<dl id="titleinput" class="form-group">
  <dt>
    #set ($titleIsMandatory = $xwiki.getSpacePreference('xwiki.title.mandatory') == 1)
    #set ($wysiwygWithOptionalTitle = $editor == 'wysiwyg' && !$titleIsMandatory)
    <label for="xwikidoctitleinput"#if ($wysiwygWithOptionalTitle)class="sr-only"#end>
      $escapetool.xml($services.localization.render('core.editors.content.titleField.label'))
      #if ($titleIsMandatory)
        <span class="xRequired">$escapetool.xml($services.localization.render('core.validation.required'))</span>
      #end
    </label>
  </dt>
  <dd#if ($wysiwygWithOptionalTitle) id="document-title"#end>
    #set ($placeholder = $doc.documentReference.name)
    #if ($placeholder == $services.model.getEntityReference('DOCUMENT').name)
      #set ($placeholder = $doc.documentReference.lastSpaceReference.name)
    #end
    #if ($wysiwygWithOptionalTitle)<h1 class="editable">#end
    <input type="text" id="xwikidoctitleinput" name="title" value="$!escapetool.xml($docTitle)"
      #if ($titleIsMandatory)required #{else}placeholder="$!escapetool.xml($placeholder)" #end
      data-validation-value-missing="$escapetool.xml($services.localization.render('core.validation.required.message'))"
    />
    #if ($wysiwygWithOptionalTitle)</h1>#end
  </dd>
</dl>
#end

#if($editor == 'wiki')
<dl id="contentMeta">
  <dt>
    <label for="content">
      $escapetool.xml($services.localization.render('core.editors.content.contentField.label'))
    </label>
  </dt>
  ## Content area has an empty <dd> because the content text area is far below and couldn't be moved here,
  ## and the HTML needs to remain valid.
  <dd></dd>
</dl>
#end
