## ---------------------------------------------------------------------------
## See the NOTICE file distributed with this work for additional
## information regarding copyright ownership.
##
## This is free software; you can redistribute it and/or modify it
## under the terms of the GNU Lesser General Public License as
## published by the Free Software Foundation; either version 2.1 of
## the License, or (at your option) any later version.
##
## This software is distributed in the hope that it will be useful,
## but WITHOUT ANY WARRANTY; without even the implied warranty of
## MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the GNU
## Lesser General Public License for more details.
##
## You should have received a copy of the GNU Lesser General Public
## License along with this software; if not, write to the Free
## Software Foundation, Inc., 51 Franklin St, Fifth Floor, Boston, MA
## 02110-1301 USA, or see the FSF site: http://www.fsf.org.
## ---------------------------------------------------------------------------
#template('export_macros.vm')
#set ($hasExportTree = $xwiki.exists('XWiki.ExportDocumentTree'))
<form id="export" class="xform" method="post" action="$doc.getURL('export', $escapetool.url($request.parameterMap))">
  <dl>
    <dt>
      <label>
        $escapetool.xml($services.localization.render('administration.section.export.pages'))
      </label>
      #if ($hasExportTree)
        <span class="xHint">$escapetool.xml($services.localization.render('core.exporter.selectPages'))</span>
      #end
    </dt>
    <dd>
      #if ($hasExportTree)
        #exportTreeSelector({
          'filter': 'pristineInstalledExtensionDocument',
          'root': "wiki:$xcontext.database"
        })
      #else
        $escapetool.xml($services.localization.render('administration.section.export.pages.all'))
      #end
    </dd>
    <dt>
      <label for="history">
        <input type="checkbox" name="history" id="history" value="true"/>
        $services.localization.render('export_addhistory')
      </label>
      <span class="xHint">$services.localization.render('administration.section.export.withHistory.hint')</span>
    </dt>
    <dd>#* A <dd> must be present after a <dt> to be HTML5 valid *#</dd>
  </dl>
  <div class="row">
    <dl class="col-md-6">
      <dt>
        <label for="targetXWikiVersion">
          $escapetool.xml($services.localization.render('administration.section.export.targetXWikiVersion'))
        </label>
        #set ($currentXWikiVersion = $services.extension.core.getCoreExtension(
          'org.xwiki.platform:xwiki-platform-filter-stream-xar').version)
        <span class="xHint">
          $services.localization.render('administration.section.export.targetXWikiVersion.hint',
            ["<strong>$currentXWikiVersion</strong>"])
        </span>
      </dt>
      <dd>
        <div id="targetXWikiVersionSettings" class="hidden">
          <fieldset data-version-range="[12.0,)">
            <input type="hidden" name="attachment_jrcs" value="false" />
            <input type="hidden" name="optimized" value="true" />
          </fieldset>
        </div>
        <select id="targetXWikiVersion">
          <option value="[12.0,)">
            $escapetool.xml($services.localization.render('administration.section.export.targetXWikiVersion.12plus'))
          </option>
          <option value="(,12.0)">
            $escapetool.xml($services.localization.render('administration.section.export.targetXWikiVersion.below12'))
          </option>
        </select>
      </dd>
    </dl>
    <dl class="col-md-6">
      <dt>
        <label for="name">$services.localization.render('export_packagename')</label>
        <span class="xHint">$services.localization.render('administration.section.export.packageName.hint')</span>
      </dt>
      <dd>
        <div class="input-group">
          <input type="text" class="form-control" name="name" id="name" placeholder="export" />
          <span class="input-group-addon">.xar</span>
        </div>
      </dd>
    </dl>
  </div>
  <p>
    <a href="#moreExportOptions" id="moreExportOptionsToggle" class="collapsed" data-toggle="collapse"
        aria-expanded="false" aria-controls="moreExportOptions">
      <span class="more">$escapetool.xml($services.localization.render(
        'administration.section.export.moreOptions'))$services.icon.renderHTML('caret-right')</span>
      <span class="less">$escapetool.xml($services.localization.render(
        'administration.section.export.lessOptions'))$services.icon.renderHTML('caret-down')</span>
    </a>
  </p>
  <div class="row collapse" id="moreExportOptions">
    <dl class="col-md-6">
      <dt>
        <label for="description">$services.localization.render('export_description')</label>
        <span class="xHint">$services.localization.render('administration.section.export.description.hint')</span>
      </dt>
      <dd><textarea name="description" id="description" rows="4" cols="40"></textarea></dd>
      <dt>
        <label for="author">$services.localization.render('export_author')</label>
        <span class="xHint">$services.localization.render('administration.section.export.author.hint')</span>
      </dt>
      <dd>
        #set ($userPickerParams = {
          'id': 'author',
          'name': 'author',
          'value': $xcontext.user
        })
        #userPicker(false $userPickerParams)
      </dd>
    </dl>
    <dl class="col-md-6">
      <dt>
        <label for="licence">$services.localization.render('export_licence')</label>
        <span class="xHint">$services.localization.render('administration.section.export.licence.hint')</span>
      </dt>
      <dd><input type="text" name="licence" id="licence" value=""/></dd>
      <dt>
        <label for="version">$services.localization.render('export_version')</label>
        <span class="xHint">$services.localization.render('administration.section.export.version.hint')</span>
      </dt>
      <dd><input type="text" name="version" id="version" value=""/></dd>
      <dt>
        <label for="backup">
          <input type="checkbox" name="backup" id="backup" value="true"/>
          $services.localization.render('export_backuppack')
        </label>
        <span class="xHint">$services.localization.render('administration.section.export.backupPack.hint')</span>
      </dt>
      <dd>#* A <dd> must be present after a <dt> to be HTML5 valid *#</dd>
    </dl>
  </div>
  <div class="buttons">
    <span class="buttonwrapper">
      <input type="submit" value="$services.localization.render('export')" class="button"
        ## Disable the submit button until the export tree is ready, if the export tree is available.
        #if ($hasExportTree)disabled="disabled"#end/>
    </span>
  </div>
</form>
