## ---------------------------------------------------------------------------
## See the NOTICE file distributed with this work for additional
## information regarding copyright ownership.
##
## This is free software; you can redistribute it and/or modify it
## under the terms of the GNU Lesser General Public License as
## published by the Free Software Foundation; either version 2.1 of
## the License, or (at your option) any later version.
##
## This software is distributed in the hope that it will be useful,
## but WITHOUT ANY WARRANTY; without even the implied warranty of
## MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the GNU
## Lesser General Public License for more details.
##
## You should have received a copy of the GNU Lesser General Public
## License along with this software; if not, write to the Free
## Software Foundation, Inc., 51 Franklin St, Fifth Floor, Boston, MA
## 02110-1301 USA, or see the FSF site: http://www.fsf.org.
## ---------------------------------------------------------------------------
#if($isInServletMode)## Visible only in a page
## Set as an HTML footer for better DOM tree semantics to facilitate navigation with inclusive techs.
<footer id="footerglobal">
  <div id="xwikilicence">$!copyright</div>
  #set ($version = $xwiki.getSpacePreference('version'))
  #if ("$!version" == "")
    #set ($version = $xwiki.getXWikiPreference("version"))
  #end
  #if ("$!version" != "")
    ## The version information coming from preferences is usually Velocity code, so make sure to evaluate it.
    <div id="xwikiplatformversion">#evaluate($version)</div>
  #else
    <div id="xwikiplatformversion">
      #set($productURL = $services.extension.core.repository.environmentExtension.website)
      #if ($productURL)
        <a href="$services.extension.core.repository.environmentExtension.website">
      #end
          $!services.extension.core.repository.environmentExtension.name $xwiki.getVersion()
      #if ($productURL)
        </a>
      #end
    </div>
  #end
</footer>
#end
### TODO: Format the footer for pdf output