###
### Global header
###
### The uppermost area of each page
### Contains the company logo, links to global actions and the search facility
###
#if($isInServletMode) ## Visible only in a page
<div id="headerglobal">
#if ($displayPageHeader)
  #template("companylogo.vm")
#end
  <div id="globallinks">
  </div> ## globallinks
  <div class="clearfloats"></div>
  #foreach ($uix in $services.uix.getExtensions('org.xwiki.platform.template.header.after', {'sortByParameter': 'order'}))
    $services.rendering.render($uix.execute(), 'xhtml/1.0')
  #end
</div> ## headerglobal
#end
### TODO: Format the header for pdf output
