#######################################################
##                     GLOBALS
#######################################################
#macro (getWikiHomePageReference $wiki $return)
  #set ($_wikiHomePageReference = $services.wiki.getById($wiki).mainPageReference)
  #if (!$_wikiHomePageReference)
    #set ($wikiReference = $services.model.createWikiReference($wiki))
    #set ($_wikiHomePageReference = $services.model.resolveDocument('', 'default', $wikiReference))
  #end
  #set ($return = $NULL)
  #setVariable("$return" $_wikiHomePageReference)
#end
#*
 * Display the parents of a document based on the nested spaces mechanism.
 *
 * @param document the document for which to display the hierarchy, defaults on the current document
 * @param options a map of configuration options; available options are:
 *          id: the id of the container element, unset by default
 *          showOnlySpaces: true if only space home pages should be displayed in the hierarchy, excluding the document in the case when it is a terminal page;
 *                          false if the document should always be displayed in the hierarchy. Defaults to false
 *#
#macro (hierarchy $document $options)
  #if (!$options)
    #set ($options = {})
  #end
  #if ("$!document" == '')
    ## Default on the current (translated) document.
    #set ($macro.document = $tdoc)
  #else
    #set ($macro.document = $document)
  #end
  <ol id="$!options.id" class="breadcrumb clearfix">
    ##
    ## Global Home
    ##
    #set ($displayGlobalHome = $macro.document.wiki != $xcontext.mainWikiName
      && $services.wiki.user.getUserScope($macro.document.wiki) != 'LOCAL_ONLY')
    #if ($displayGlobalHome)
      #getWikiHomePageReference($xcontext.mainWikiName $globalHomeReference)
      <li class="wiki">
        <a href="$xwiki.getURL($globalHomeReference)">
          <span class="glyphicon glyphicon-home"></span>
        </a>
      </li>
    #end
    ##
    ## Local Home
    ##
    #getWikiHomePageReference($macro.document.wiki $localHomeReference)
    <li class="wiki">
      <a href="$xwiki.getURL($localHomeReference)">
        #if (!$displayGlobalHome)
          <span class="glyphicon glyphicon-home"></span>
        #else
          #set ($wikiPrettyName = $services.wiki.getById($macro.document.wiki).prettyName)
          #if ("$!wikiPrettyName" == '')
            #set ($wikiPrettyName = $macro.document.wiki)
          #end
          $wikiPrettyName
        #end
      </a>
    </li>
    ##
    ## Local Path
    ##
    #foreach ($parentReference in $services.parentchild.getParentsBasedOnReference($macro.document.documentReference))
      #hierarchy_document($parentReference)
    #end
    ##
    ## Terminal Page Name
    ##
    #set ($defaultPageName = $services.model.getEntityReference('DOCUMENT', 'default').name)
    #if ($macro.document.name != $defaultPageName && !$options.showOnlySpaces)
      #hierarchy_currentDoc($macro.document)
    #end
  </ol>
#end
#*
 * Display the parents of a document based on the old parent/child mechanism.
 *#
#macro (hierarchy_parentChild)
  #if ("$!doc.parent" !=  '' || $xcontext.action == 'edit' || $xcontext.action == 'inline')
    #set ($parentReferences = $services.parentchild.getParentsBasedOnParentChildRelationship($doc.documentReference))
    <ol id="hierarchy" class="breadcrumb clearfix">
      ## Display the parents.
      #getWikiHomePageReference($doc.wiki $homeReference)
      #foreach ($parentReference in $parentReferences)
        #if ($homeReference.equals($parentReference))
          <li><a href='$xwiki.getURL($homeReference)'><span class="glyphicon glyphicon-home"></span></a></li>
        #else
          #hierarchy_document($parentReference)
        #end
      #end
      ## Display the current document.
      #hierarchy_currentDoc($tdoc)
    </ol>
  #end
#end
#*
 * Display in the breadcrumb a document that is part of a hierarchy.
 *
 * @param documentReference the reference of the document to display as part of a hierarchy
 *#
#macro (hierarchy_document $documentReference)
  #set ($macro.document = $xwiki.getDocument($documentReference))
  #if ($macro.document)
    <li><a href="$macro.document.getURL()">$escapetool.xml($macro.document.translatedDocument.plainTitle)</a></li>
  #else
    <li>$escapetool.xml($services.model.serialize($documentReference, 'local'))</li>
  #end
#end
#*
 * Display in the breadcrumb the current document (i.e. last element in the hierarchy).
 *
 * @param document the document to display as current document
 *#
#macro (hierarchy_currentDoc $document)
  #if ($xcontext.action == 'edit' || $xcontext.action == 'inline')
    <li class="active"><a href="$document.getURL('view')">$escapetool.xml($document.getPlainTitle())</a></li>
  #else
    <li class="active">$escapetool.xml($document.getPlainTitle())</li>
  #end
#end
