#template('xwikivars.vm')
#if($isInServletMode) ## Visible only in a page
  #template('hierarchy_macros.vm')
  #######################################################
  ##                   CONTROLLER
  ##
  ## Call the appropiate breadcrumb depending on the 
  ## configuration.
  #######################################################
  #if($services.parentchild.isParentChildMechanismEnabled())
    #hierarchy_parentChild()
  #else
    ##
    ## 'Xpage' mode: used to display the hierarchy of the current document.
    ## It is used by 'uicomponents/hierarchy/hierarchy.js' to expand the breadcrumb when the user clicks on the ellipsis
    ## of a limited breamcrumb.
    ##
    #if ($request.xpage == 'hierarchy')
      #set ($options = {})
      #if ("$!request.displayTitle" != '')
        #set ($displayTitle = ($request.displayTitle == 'true'))
        #set ($discard = $options.put('displayTitle', $displayTitle))
      #end
      #if ("$!request.excludeSelf" != '')
        #set ($excludeSelf = ($request.excludeSelf == 'true'))
        #set ($discard = $options.put('excludeSelf', $excludeSelf))
      #end
      #if ("$!request.id" != '')
        #set($discard = $options.put('id', $escapetool.xml($request.id)))
      #end
      #if ("$!request.limit" != '')
        #set ($limit = $mathtool.toInteger($request.limit))
        #set ($discard = $options.put('limit', $limit))
      #end
      #if ("$!request.local" != '')
        #set ($local = ($request.local == 'true'))
        #set ($discard = $options.put('local', $local))
      #end
      #hierarchy($NULL $options)
    #else
      ##
      ## Default mode: display the hierarchy for the current page
      ##
      #hierarchy($NULL {'id': 'hierarchy', 'limit': 5, 'treeNavigation': true})
    #end
  #end
#end
