## ---------------------------------------------------------------------------
## See the NOTICE file distributed with this work for additional
## information regarding copyright ownership.
##
## This is free software; you can redistribute it and/or modify it
## under the terms of the GNU Lesser General Public License as
## published by the Free Software Foundation; either version 2.1 of
## the License, or (at your option) any later version.
##
## This software is distributed in the hope that it will be useful,
## but WITHOUT ANY WARRANTY; without even the implied warranty of
## MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the GNU
## Lesser General Public License for more details.
##
## You should have received a copy of the GNU Lesser General Public
## License along with this software; if not, write to the Free
## Software Foundation, Inc., 51 Franklin St, Fifth Floor, Boston, MA
## 02110-1301 USA, or see the FSF site: http://www.fsf.org.
## ---------------------------------------------------------------------------
## Make sure this template is not executed more than necessary
##!unique=request
##
## In admin mode, Panels.PanelWizard must display the layout for the requested space
##
#set($spacePrefsRef = "")
#set($globalprefs = false)

#if($doc.documentReference.name == "WebPreferences" && "$!{request.space}" != "") ## space administration
  #set($spacePrefsRef = $services.model.resolveSpace($request.space))
  #set($showLeftPanels =  $xwiki.getSpacePreferenceFor("showLeftPanels", $spacePrefsRef))
  #set($showRightPanels = $xwiki.getSpacePreferenceFor("showRightPanels", $spacePrefsRef))
  #set($leftPanelsWidth =  $xwiki.getSpacePreferenceFor("leftPanelsWidth", $spacePrefsRef))
  #set($rightPanelsWidth =  $xwiki.getSpacePreferenceFor("rightPanelsWidth", $spacePrefsRef))
#elseif($doc.fullName == "XWiki.XWikiPreferences" || "$!request.editor" == "globaladmin")
  #set($globalprefs = true)
  #set($showLeftPanels = $xwiki.getXWikiPreference("showLeftPanels"))
  #set($showRightPanels = $xwiki.getXWikiPreference("showRightPanels"))
  #set($leftPanelsWidth = $xwiki.getXWikiPreference("leftPanelsWidth"))
  #set($rightPanelsWidth = $xwiki.getXWikiPreference("rightPanelsWidth"))
## We only rely on the space reference if we are displaying a doc
## we want to be able to control this value in case of special resources such as authenticate.
#elseif ("$!doc" != "")
  #set($showLeftPanels = $xwiki.getSpacePreference("showLeftPanels"))
  #set($showRightPanels = $xwiki.getSpacePreference("showRightPanels"))
  #set($leftPanelsWidth = $xwiki.getSpacePreference("leftPanelsWidth"))
  #set($rightPanelsWidth = $xwiki.getSpacePreference("rightPanelsWidth"))
#end

#if(!$showLeftPanels || $showLeftPanels == "" || $showLeftPanels == "default")
  #set($showLeftPanels = "1")
#end
#if($showLeftPanels == "yes")
  #set($showLeftPanels = "1")
#end
#if($showLeftPanels == "no" || !$isInServletMode)
  #set($showLeftPanels = "0")
#end

#if(!$showRightPanels || $showRightPanels == "" || $showRightPanels == "default")
  #set($showRightPanels = "1")
#end
#if($showRightPanels == "yes")
  #set($showRightPanels = "1")
#end
#if($showRightPanels == "no" || !$isInServletMode)
  #set($showRightPanels = "0")
#end

#if(!$leftPanelsWidth || $leftPanelsWidth == "" || $leftPanelsWidth == "---")
  #set($leftPanelsWidth = "Medium")
#end
#if(!$rightPanelsWidth || $rightPanelsWidth == "" || $rightPanelsWidth == "---")
  #set($rightPanelsWidth = "Medium")
#end

#if($showLeftPanels)
  #if($globalprefs == true)
     #set($leftPanels = $xwiki.getXWikiPreference("leftPanels"))
  #elseif($spacePrefsRef != "")
     #set($leftPanels = $xwiki.getSpacePreferenceFor("leftPanels", $spacePrefsRef))
  #else
    #set($leftPanels = $xwiki.getUserPreference("leftPanels"))
    #if($leftPanels == "")
       #set($leftPanels = $xwiki.getSpacePreference("leftPanels"))
    #end
  #end
  #if($leftPanels == "")
      #set($showLeftPanels = "0")
  #end
#end

#if($showRightPanels)
  #if($globalprefs == true)
    #set($rightPanels = $xwiki.getXWikiPreference("rightPanels"))
  #elseif($spacePrefsRef != "")
    #set($rightPanels = $xwiki.getSpacePreferenceFor("rightPanels", $spacePrefsRef))
  #else
    #set($rightPanels = $xwiki.getUserPreference("rightPanels"))
    #if($rightPanels == "")
      #set($rightPanels = $xwiki.getSpacePreference("rightPanels"))
    #end
  #end
  #if($rightPanels == "")
      #set($showRightPanels = "0")
  #end
#end

#if($showLeftPanels == "yes")
 #if($showRightPanels == "yes")
  #set($colsclass = "show-all")
 #else
  #set($colsclass = "hide-right")
 #end
#else
 #if($showRightPanels == "yes")
  #set($colsclass = "hide-left")
 #else
  #set($colsclass = "hide-all")
 #end
#end

## Check that the doc velocity variable is defined: it might not be the case when using some resource handlers.
#set ($docIsDefined = ($doc != $NULL))

#set($displayContentMenu = true) ## menu on the top of the page with create/edit/more actions
#set($displayCreateMenu = true) ## create menu
#set($displayEditMenu = true) ## edit menu
#set($displayTranslateMenu = $displayEditMenu) ## translate menu
#set($displayAdminMenu = true) ## the admin menu, related to the page
#set($displayMoreActionsMenu = true) ## more actions menu
#set($displayMainMenu = true)
#set($displayDocExtra = true)
#set($displayContentFooter = true) ## tags and document creation information, after the document content area
#set($displayShortcuts = true)
#set($displayPageHeader = false) ## page header containing the logo and the banner taken from ColorTheme
#set ($displayQuickSearch = true)

## The language choice only makes sense when a doc is declared.
#set ($displayLanguageChoice = $docIsDefined)

#if ($xcontext.action=='preview')
  #set($displayContentMenu = false)
#end

#if ($request.xpage == "print")
  #set($showLeftPanels = '0')
  #set($showRightPanels = '0')
  #set($displayContentMenu = false)
#end

#if($xcontext.action == 'edit' && $editor != 'inline')
  #set($showLeftPanels = '0')
  #set($showRightPanels = '1')
#end

#if($xcontext.action == 'edit' && ($editor == 'object' || $editor == 'rights' || $editor == 'class'))
  #set($showLeftPanels = '0')
  #set($showRightPanels = '0')
#end

#if (($xcontext.action == 'login') || ($xcontext.action == 'loginsubmit'))
  #set($showLeftPanels = '0')
  #set($showRightPanels = '0')
#end

## To let custom skins easily override layout variables, we evaluate a template that is empty by default.
#template("layoutExtraVars.vm")
