## ---------------------------------------------------------------------------
## See the NOTICE file distributed with this work for additional
## information regarding copyright ownership.
##
## This is free software; you can redistribute it and/or modify it
## under the terms of the GNU Lesser General Public License as
## published by the Free Software Foundation; either version 2.1 of
## the License, or (at your option) any later version.
##
## This software is distributed in the hope that it will be useful,
## but WITHOUT ANY WARRANTY; without even the implied warranty of
## MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the GNU
## Lesser General Public License for more details.
##
## You should have received a copy of the GNU Lesser General Public
## License along with this software; if not, write to the Free
## Software Foundation, Inc., 51 Franklin St, Fifth Floor, Boston, MA
## 02110-1301 USA, or see the FSF site: http://www.fsf.org.
## ---------------------------------------------------------------------------
#if ($xcontext.user != 'XWiki.XWikiGuest')
  #if ($request.xredirect)
    $response.sendRedirect($request.xredirect)
  #else
    $response.sendRedirect($xwiki.getURL($services.model.resolveDocument('', 'default', $doc.documentReference.extractReference('WIKI'))))
  #end
#elseif($doc.fullName != 'XWiki.XWikiLogin')
  #set($qs = "$!{request.queryString}")
  #if(!$request.getParameter('xredirect'))
    #set($qs = "xredirect=$escapetool.url($doc.getURL('view'))&${qs}")
  #end
  $response.sendRedirect($xwiki.getURL('XWiki.XWikiLogin', 'login', $qs))
#else
###
### Login page
###
###
#template("startpage.vm")
<div class="main layoutsubsection">
## Set as an HTML main for better DOM tree semantics to facilitate navigation with assistive technologies.
<main id="mainContentArea">
<form id="loginForm" action="$doc.getURL('loginsubmit')" method="post" class="xform xwiki-submit-once">
<div class="hidden"><input type="hidden" name="xredirect" value="$!{escapetool.xml($request.xredirect)}"/>
#if("$!request.srid" != '')
  <input type="hidden" name="srid" value="$!escapetool.xml($request.srid)"/>
#end
  <input type="hidden" name="form_token" value="$!{services.csrf.getToken()}"/>
</div>
## TODO: Make the title of this panel semantically relevant by using h1.
#xwikimessageboxstart($services.localization.render('login') '')
#set($message = $xcontext.message)
#if($message)
  <!-- previous login errors -->
  #error($services.localization.render($message))
#end
#set($authFailureStrategyMessage = $services.security.authentication.getErrorMessage($request.j_username))
#if ("$!authFailureStrategyMessage" != '')
  #error($authFailureStrategyMessage)
#end
#set ($supplementaryForm = $services.security.authentication.getForm($request.j_username))
<dl>
  <dt>
    <label for="j_username">$escapetool.xml($services.localization.render('username'))</label>
  </dt>
  <dd class="input-group">
    <span class="input-group-addon">$services.icon.renderHTML('user')</span>
    ## Ensure that the username field of the login form has the focus to make it easy for users to log in quickly
    <input class="form-control" type="text" id="j_username" size="60" name="j_username" value=""
      autocomplete='username' autofocus />
  </dd>
  <dt>
    <label for="j_password">$escapetool.xml($services.localization.render('password'))</label>
  </dt>
  <dd class="input-group">
    <span class="input-group-addon">$services.icon.renderHTML('lock')</span>
    <input type="password" id="j_password" size="60" name="j_password" value="" autocomplete='current-password'/>
  </dd>
  <dt></dt>
  <dd>
    <label class="xHint" for="rememberme">
      <input id="rememberme" type="checkbox" name="j_rememberme" value="true" /> $escapetool.xml($services.localization.render('remembermeonthiscomp'))
    </label>
  </dd>
  #if ("$!supplementaryForm" != "")
    <div id="dedicated-auth-failures-field">
      $supplementaryForm
    </div>
  #end
  <dt class="submitSection">
    <input type="submit" class="btn btn-primary col-xs-12" value="$escapetool.xml($services.localization.render('login'))"/>

    #set ($forgotUsernameURL = $services.security.authentication.getAuthenticationURL('retrieveusername', $NULL))
    #if("$!forgotUsernameURL" != "")
      <span class="xAdditional"><a href="$forgotUsernameURL">$escapetool.xml($services.localization.render('xe.admin.forgotUsername.loginMessage'))</a></span>
    #end
    #set ($resetPasswordUrl = $services.security.authentication.getAuthenticationURL('resetpassword', $NULL))
    #if("$!resetPasswordUrl" != '')
      <span class="xAdditional recoverPassword"><a href="$resetPasswordUrl" >$escapetool.xml($services.localization.render('xe.admin.passwordReset.loginMessage'))</a></span>
    #end
  </dt>
</dl>
#xwikimessageboxend()
</form>
</main>## mainContentArea
</div>## main
#template("endpage.vm")
#end
