## ---------------------------------------------------------------------------
## See the NOTICE file distributed with this work for additional
## information regarding copyright ownership.
##
## This is free software; you can redistribute it and/or modify it
## under the terms of the GNU Lesser General Public License as
## published by the Free Software Foundation; either version 2.1 of
## the License, or (at your option) any later version.
##
## This software is distributed in the hope that it will be useful,
## but WITHOUT ANY WARRANTY; without even the implied warranty of
## MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the GNU
## Lesser General Public License for more details.
##
## You should have received a copy of the GNU Lesser General Public
## License along with this software; if not, write to the Free
## Software Foundation, Inc., 51 Franklin St, Fifth Floor, Boston, MA
## 02110-1301 USA, or see the FSF site: http://www.fsf.org.
## ---------------------------------------------------------------------------
### Ensure this template is only called once (for performance reasons), since it's called from several places
#if ($hasMenuMacrosBeenCalled)
  #break
#else
  #set ($hasMenuMacrosBeenCalled = true)
#end
###
###    GLOBALS
###
#set ($isAdminAppInstalled = $xwiki.exists($services.model.createDocumentReference('', 'XWiki', 'AdminSheet')))
###
###    Toplevel Menu
###
#macro(xwikitopmenustart)
  ## Set as an HTML header for accessibility best practices.
  <header class="navbar navbar-default actionmenu"
  aria-label="$escapetool.xml($services.localization.render('core.menu.navbar.label'))">
    <div class="container-fluid">
      ## Brand and toggle get grouped for better mobile display
      <div class="navbar-header">
        #if (!$displayPageHeader)
          #template("companylogo.vm")
        #end
      </div>
      ## Collect the nav links, forms, and other content for toggling
      <div id="xwikimainmenu">
#end

###
###    Toplevel Menu
###
#macro(xwikitopmenuend)
      </div>## /.navbar-collapse
    </div> ## / container-fluid
  </header>
#end

###
###    Toplevel Left Menu
###
#macro(xwikitopmenuleftstart)
  <ul class='nav navbar-nav navbar-left'>
#end

###
###    Toplevel Left Menu
###
#macro(xwikitopmenuleftend)
  </ul>
#end

###
###    Toplevel Right Menu
###
#macro(xwikitopmenurightstart)
  <ul class="nav navbar-nav navbar-right">
#end

###
###    Toplevel Right Menu
###
#macro(xwikitopmenurightend)
  </ul>
#end

###
###    Toplevel Menu entry with subitems
###
### Generate a menu entry and start the subitem section
###
### @param actionurl The URL this entry points to
### @param linktext The menu item text
###
#macro(xwikitopmenuentrystart $actionurl $linktext $id $class $icon $iconImg)
  #set($sep = '__SEPARATOR__')
  #set($linkName = $linktext)
  #set($linkTitle = $linktext) 
  #if ($linktext.contains($sep))
    #set($linkWords = $linktext.split($sep, 2))
    #set($linkName = $linkWords.get(1))
    #set($linkTitle = "${linkWords.get(0)}: ${linkWords.get(1)}")
  #end
  <dd class="dropdown dropdown-split text-left" #if(!$stringtool.isBlank($id))id="$id"#end>
    ## The menu label. On large screens (tablet and desktop) the label is a link that triggers the default menu action
    ## (e.g. navigation) and the menu is opened using a separated caret. On extra small screens (phones) the label opens
    ## the menu and the default menu action is the first item in the menu.
    <a href="$actionurl" class="dropdown-split-left dropdown-toggle $!class" data-toggle="dropdown" title="$linkTitle">
      ## This caret is displayed only on extra small screens to indicate that the label toggles the menu.
      #glyphicon($icon)$!{iconImg} $linkName <b class="caret"></b>
    ## Don't leave any space between the anchors because they have display:inline-block on large screens.
    </a><a href="#" class="dropdown-split-right dropdown-toggle hidden-xs $!class" data-toggle="dropdown">
      ## This caret is used to toggle the menu on large screens (tablet and desktop).
      <b class="caret"></b>
    </a>
    <ul class="dropdown-menu">
#end

###
###    Toplevel Menu entry without subitems
###
### Generate a menu entry withut subitems
###
### @param actionurl The URL this entry points to
### @param linktext The menu item text
###
#macro(xwikitopmenuentry $actionurl $linktext $id $class $icon $extraAttributes)
  #submenuitem($actionurl $linktext $id $class $icon $extraAttributes)
#end

###
###    Menu subitem entry
###
### Generate a submenu entry
###
### @param actionurl The URL this entry points to
### @param linktext The menu item text
###
#macro(submenuitem $actionurl $linktext $linkid $class $icon $extraAttributes)
  #set($sep = '__SEPARATOR__')
  #set($linkName = $linktext)
  #set($linkTitle = $linktext) 
  #if ($linktext.contains($sep))
    #set($linkWords = $linktext.split($sep))
    #set($linkName = $linkWords.get(1))
    #set($linkTitle = "${linkWords.get(0)}: ${linkWords.get(1)}")
  #end
  <li #if("$!class" != '')class="$!class"#end>
    <a href="$actionurl" #if(!$stringtool.isBlank($linkid))id="$linkid"#end title="$escapetool.xml($linkTitle)"
      $!extraAttributes>$services.icon.renderHTML($icon) $escapetool.xml($linkName)</a>
  </li>
#end

###
###    Menu disabled subitem entry
###
### Generate a disabled submenu entry
###
### @param text The menu item text
###
#macro(submenuitemdisabled $text)
<span class="submenuitem disable">$text</span>
#end

###
###    Toplevel Menu entry separator
###
#macro(xwikitopmenuseparator)
  <li class="divider" role="separator"></li>
#end

###
###    Menu submenu separator
###
#macro(submenuseparator)
  <li class="divider" role="separator"></li>
#end

###
### Action menu separator
###
#macro(xwikiactionmenuseparator)
    </ul>
  </dd>
  <dd>
    <ul>
#end

###
###    Toplevel Menu entry end
###
### End the subitem section
###
#macro(xwikitopmenuentryend)
    </ul>
  </li>
#end

#macro(xwikibutton $actionurl $linktext $id $class $icon)
  <a href="$actionurl" class="btn $!class" role="button" #if(!$stringtool.isBlank($id))id="$id"#end>#glyphicon($icon) $linktext</a>
#end

#macro(xwikibuttonentrystart $actionurl $linktext $id $class $icon)
  <div class="btn-group text-left" #if(!$stringtool.isBlank($id))id="$id"#end>
    <button type="button" class="btn $!class dropdown-toggle" data-toggle="dropdown">#glyphicon($icon) $linktext <span class="caret"></span>
    </button>
    <ul class="dropdown-menu" role="menu">
#end

#macro(xwikisplitbuttonentrystart $actionurl $linktext $id $class $icon)
  <div class="btn-group text-left" #if(!$stringtool.isBlank($id))id="$id"#end>
    <a href="$actionurl" class="btn $!class">#glyphicon($icon) $linktext</a>
    <button type="button" class="btn $!class dropdown-toggle" data-toggle="dropdown">
      <span class="caret"></span>
      <span class="sr-only">Toggle Dropdown</span>
    </button>
    <ul class="dropdown-menu" role="menu">
#end

#macro(xwikibuttonentryend $actionurl $linktext $id $class $icon)
    </ul>
  </div>
#end

#**
 * Display extension points only if the author of the UIX has the admin right on the wiki.
 *
 * @param $name name of the extension points to display
 * @since 7.3RC1
 *#
#macro(displaySimpleSecureUIX $name)
  #foreach($uix in $services.uix.getExtensions($name, {'sortByParameter' : 'order'}))
    #if ($services.security.authorization.hasAccess('admin', $uix.authorReference, $services.wiki.currentWikiDescriptor.reference))
      $services.rendering.render($uix.execute(), 'html/5.0')
    #end
  #end
#end
