## ---------------------------------------------------------------------------
## See the NOTICE file distributed with this work for additional
## information regarding copyright ownership.
##
## This is free software; you can redistribute it and/or modify it
## under the terms of the GNU Lesser General Public License as
## published by the Free Software Foundation; either version 2.1 of
## the License, or (at your option) any later version.
##
## This software is distributed in the hope that it will be useful,
## but WITHOUT ANY WARRANTY; without even the implied warranty of
## MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the GNU
## Lesser General Public License for more details.
##
## You should have received a copy of the GNU Lesser General Public
## License along with this software; if not, write to the Free
## Software Foundation, Inc., 51 Franklin St, Fifth Floor, Boston, MA
## 02110-1301 USA, or see the FSF site: http://www.fsf.org.
## ---------------------------------------------------------------------------
###
### PDF Export Options Template
###
#if(!$xwiki.hasAccessLevel("view"))
  #template("accessdenied.vm")
#elseif($doc.isNew())
  $response.setStatus(404)
  #template("startpage.vm")
  <div class="main layoutsubsection">
    #template('hierarchy.vm')
    ## Set as an HTML main for better DOM tree semantics to facilitate navigation with assistive technologies.
    <main id="mainContentArea">
    #set($titleToDisplay = $escapetool.xml($doc.getPlainTitle()))
    #template('contentheader.vm')
    #error($services.localization.render('core.rename.nonexistingDocument'))
    </main>## mainContentArea
  </div>## main
  #template("endpage.vm")
#else
  #template("startpage.vm")
  <div class="main layoutsubsection">
    #template('hierarchy.vm')
    ## Set as an HTML main for better DOM tree semantics to facilitate navigation with assistive technologies.
    <main id="mainContentArea">
    #set($titleToDisplay = $services.localization.render('core.export.pdf.options.title'))
    #template('contentheader.vm')
    <form id="pdfExportOptions" class="xform half" action="$escapetool.xml($doc.getURL('export'))">
      <div class="hidden">
        <input type="hidden" name="format" value="pdf" />
      </div>
      <dl>
        #if($xwiki.isMultiLingual() && $doc.translationLocales.size() > 0)
          <dt>
            <label for="language">$escapetool.xml($services.localization.render('language'))</label>
            <span class="xHint">
              $escapetool.xml($services.localization.render('core.export.pdf.options.language.hint'))
            </span>
          </dt>
          <dd>
            <select size="1" id="language" name="language">
            #foreach ($locale in $xwiki.availableLocales)
              #set ($localeName = $locale.getDisplayName($xcontext.locale))
              #if ("$!localeName" == '')
                #set ($localeName = $services.localization.render('core.viewers.information.noLocale'))
              #end
              #if ($locale == $xcontext.locale)
                #set ($localeName = "$localeName $services.localization.render('core.export.pdf.options.currentLanguage')")
              #end
              ## By default, we suggest that the export is done for the current locale.
              <option value="$escapetool.xml($locale)"
                #if ($locale == $xcontext.locale) selected#end>$escapetool.xml($localeName)</option>
            #end
            </select>
          </dd>
        #end  ## multi-lingual
        ## Cover
        <dt>
          <label for="pdfcover">
            <input id="pdfcover" name="pdfcover" type="checkbox" checked="checked" value="1" />
            <input name="pdfcover" type="hidden" value="0" />
            $services.localization.render('core.export.pdf.options.cover')
          </label>
          <span class="xHint">$services.localization.render('core.export.pdf.options.cover.hint')</span>
        </dt>
        ## ToC
        <dt>
          <label for="pdftoc">
            <input id="pdftoc" name="pdftoc" type="checkbox" checked="checked" value="1" />
            <input name="pdftoc" type="hidden" value="0" />
            $services.localization.render('core.export.pdf.options.toc')
          </label>
          <span class="xHint">$services.localization.render('core.export.pdf.options.toc.hint')</span>
        </dt>
        ## Header
        <dt>
          <label for="pdfheader">
            <input id="pdfheader" name="pdfheader" type="checkbox" checked="checked" value="1" />
            <input name="pdfheader" type="hidden" value="0" />
            $services.localization.render('core.export.pdf.options.header')
          </label>
          <span class="xHint">$services.localization.render('core.export.pdf.options.header.hint')</span>
        </dt>
        ## Footer
        <dt>
          <label for="pdffooter">
            <input id="pdffooter" name="pdffooter" type="checkbox" checked="checked" value="1" />
            <input name="pdffooter" type="hidden" value="0" />
            $services.localization.render('core.export.pdf.options.footer')
          </label>
          <span class="xHint">$services.localization.render('core.export.pdf.options.footer.hint')</span>
        </dt>
        ## Comments
        <dt>
          <label for="comments">
            <input id="comments" type="checkbox" name="comments" value="1" />
            <input name="comments" type="hidden" value="0" />
            $services.localization.render('core.export.pdf.options.comments')
          </label>
          <span class="xHint">$services.localization.render('core.export.pdf.options.comments.hint')</span>
        </dt>
        ## Attachments
        <dt>
          <label for="attachments">
            <input id="attachments" type="checkbox" name="attachments" value="1" />
            <input name="attachments" type="hidden" value="0" />
            $services.localization.render('core.export.pdf.options.images')
          </label>
          <span class="xHint">$services.localization.render('core.export.pdf.options.images.hint')</span>
        </dt>
      </dl>
      #set ($originalParams = $urltool.parseQuery($request.qs))
      <div class="buttons">
        <span class="buttonwrapper"><input type="submit" value="$services.localization.render('export')" class="button" /></span>
        <span class="buttonwrapper">
          <a class="secondary button" href="$escapetool.xml($doc.getURL('view', $escapetool.url($originalParams)))">
            $services.localization.render('cancel')
          </a>
        </span>
      </div>
      ## We preserve the original request parameters but we put them at the end so that they don't overwrite the
      ## parameters from the PDF export form.
      <div class="hidden">
        #foreach ($entry in $originalParams.entrySet())
          #foreach($value in $entry.value)
            <input type="hidden" name="$escapetool.xml($entry.key)" value="$escapetool.xml($value)" />
          #end
        #end
      </div>
    </form>
    <div class="clearfloats"></div>
    </main>## mainContentArea
  </div>## main
  #template("endpage.vm")
#end
