#set ($origdoc = $xwiki.getDocument($tdoc.getDocumentReference()))
#set ($previousDoc = $origdoc.getDocumentRevision($request.get("previousVersion")))
#set ($mergedDocResult = $services.merge.mergeDocument($previousDoc, $tdoc, $origdoc))

#set ($versions = {
  'PREVIOUS': $mergedDocResult.previousDocument,
  'CURRENT': $mergedDocResult.currentDocument,
  'NEXT': $mergedDocResult.nextDocument,
  'MERGED': $mergedDocResult.mergedDocument
})

#if ("$!request.original" != '')
  #set ($originalVersion = $request.original)
#else
  #set ($originalVersion = 'NEXT')
#end
#set ($originalDocument = $versions.get($originalVersion))

#if ("$!request.revised" != '')
  #set ($revisedVersion = $request.revised)
#else
  #set ($revisedVersion = 'MERGED')
#end
#set ($revisedDocument = $versions.get($revisedVersion))

#if ("$!request.warningConflictAction" != '')
  #set ($warningConflictAction = $request.warningConflictAction)
#else
  #set ($warningConflictAction = "merge")
#end

<div class="modal text-left" id="previewDiffModal" tabindex="-1" role="dialog" aria-hidden="true"
     data-backdrop="static">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <div class="modal-title" id="previewDiffModalTitle">$services.localization.render('core.editors.save.previewDiff.title')</div>
        <hr />
        <div class="xhint">
          $services.localization.render('core.editors.save.previewDiff.description')
        </div>
      </div>
      <div class="modal-body">
        <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="false">
          <div class="panel">
            <div class="panel-heading" role="tab" id="headingMerge">
              <label class="panel-title">
                <input type="radio" id="actionMergeRadio" name="warningConflictAction" value="merge"#if ($warningConflictAction == "merge") checked="checked"#end />
                $services.localization.render('core.editors.save.previewDiff.merge.action')
              </label>
              <span class="openDetails" data-toggle="collapse" data-parent="#accordion" href="#collapseMerge" aria-expanded="true" aria-controls="collapseMerge">
                $services.icon.renderHTML('caret-down')
              </span>
            </div>
            <div id="collapseMerge" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingMerge">
              <div class="panel-body">
                $services.localization.render('core.editors.save.previewDiff.merge.hint')
              </div>
            </div>
          </div>
          <div class="panel">
            <div class="panel-heading" role="tab" id="headingForceSave">
              <label class="panel-title">
                <input type="radio" id="actionForceSaveRadio" name="warningConflictAction" value="override"#if ($warningConflictAction == "override") checked="checked"#end />
                $services.localization.render('core.editors.save.previewDiff.forceSave.action')
              </label>
              <span class="openDetails" data-toggle="collapse" data-parent="#accordion" href="#collapseForceSave" aria-expanded="true" aria-controls="collapseForceSave">$services.icon.renderHTML('caret-down')</span>
            </div>
            <div id="collapseForceSave" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingForceSave">
              <div class="panel-body">
                $services.localization.render('core.editors.save.previewDiff.forceSave.hint')
              </div>
            </div>
          </div>
          <div class="panel">
            <div class="panel-heading" role="tab" id="headingReloadEditor">
              <label class="panel-title">
                <input type="radio" id="actionReloadRadio" name="warningConflictAction" value="reload"#if ($warningConflictAction == "reload") checked="checked"#end />
                $services.localization.render('core.editors.save.previewDiff.reload.action')
              </label>
              <span class="openDetails" data-toggle="collapse" data-parent="#accordion" href="#collapseReloadEditor" aria-expanded="true" aria-controls="collapseReloadEditor">
                $services.icon.renderHTML('caret-down')
              </span>
            </div>
            <div id="collapseReloadEditor" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingReloadEditor">
              <div class="panel-body">
                $services.localization.render('core.editors.save.previewDiff.reload.hint')
              </div>
            </div>
          </div>
        </div>
        <div class="previewdiff-diff-options">
          <span class="label">$services.localization.render('extensions.upgrade.mergeConflict.changes.original')</span>
          <select name="original">
            #foreach($entry in $versions.entrySet())
              #if ($entry.value)
                <option value="$entry.key"#if ($entry.key == $originalVersion) selected="selected"#end>
                  $services.localization.render("core.editors.save.previewDiff.versionToCompare.${entry.key.toLowerCase()}")
                </option>
              #end
            #end
          </select>
          <span class="label">$services.localization.render('extensions.upgrade.mergeConflict.changes.revised')</span>
          <select name="revised">
            #foreach($entry in $versions.entrySet())
              #if ($entry.value)
                <option value="$entry.key"#if ($entry.key == $revisedVersion) selected="selected"#end>
                  $services.localization.render("core.editors.save.previewDiff.versionToCompare.${entry.key.toLowerCase()}")
                </option>
              #end
            #end
          </select>
          <span class="buttonwrapper">
            <button type="button" id="previewDiffChangeDiff" value="diff" class="secondary"
                    title="$escapetool.xml($services.localization.render('extensions.actions.diff'))">
              $escapetool.xml($services.localization.render("extensions.actions.diff"))
            </button>
          </span>
        </div>
        <div id="changescontent">
          #if ($originalVersion == "CURRENT")
            #set ($rev1 = "Current")
          #elseif ($originalVersion == "MERGED")
            #set ($rev1 = "Merged")
          #else
            #set ($rev1 = $originalDocument.getVersion())
          #end
          #if ($revisedVersion == "CURRENT")
            #set ($rev2 = "Current")
          #elseif ($revisedVersion == "MERGED")
            #set ($rev2 = "Merged")
          #else
            #set ($rev2 = $revisedDocument.getVersion())
          #end
          #set ($wrappedDocs = $xwiki.wrapDocs([$originalDocument, $revisedDocument]))
          #set ($origdoc = $wrappedDocs.get(0))
          #set ($newdoc = $wrappedDocs.get(1))
          #set ($headingLevel = 4)
          #template('changesdoc.vm')
        </div>
      </div>
      <div class="modal-footer">
        <input type="button" id="submitDiffButton" class="btn btn-primary" value="$services.localization.render('save')" />
        <input type="button" id="cancelDiffButton" class="btn btn-default" value="$services.localization.render('cancel')" data-dismiss="modal" aria-hidden="true" />
      </div>
    </div>
  </div>
</div>
