#template("startpage.vm")
<div class="main layoutsubsection">
<div id="mainContentArea">
#template("hierarchy.vm")
#template("contentview.vm")
<hr />
<div class="bottombuttons">#template("previewactions.vm")</div>
</div> ## mainContentArea
</div> ## main
#template("endpage.vm")
