## ---------------------------------------------------------------------------
## See the NOTICE file distributed with this work for additional
## information regarding copyright ownership.
##
## This is free software; you can redistribute it and/or modify it
## under the terms of the GNU Lesser General Public License as
## published by the Free Software Foundation; either version 2.1 of
## the License, or (at your option) any later version.
##
## This software is distributed in the hope that it will be useful,
## but WITHOUT ANY WARRANTY; without even the implied warranty of
## MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the GNU
## Lesser General Public License for more details.
##
## You should have received a copy of the GNU Lesser General Public
## License along with this software; if not, write to the Free
## Software Foundation, Inc., 51 Franklin St, Fifth Floor, Boston, MA
## 02110-1301 USA, or see the FSF site: http://www.fsf.org.
## ---------------------------------------------------------------------------
### Buttons displayed in the preview interface: cancel, back to edit, save and continue, save and view.
###
#if("$!showactions" != '0')
  $xwiki.jsfx.use('js/xwiki/actionbuttons/actionButtons.js', true)
  $xwiki.ssfx.use('js/xwiki/actionbuttons/actionButtons.css', true)
  ## In case of conflict issue we want to display the diff properly
  #set ($discard = $xwiki.ssfx.use('uicomponents/viewers/diff.css', true))
  #set ($discard = $xwiki.jsfx.use('uicomponents/viewers/diff.js'))
  #set($backToEditAction = "$!{request.xeditaction}")
  #if($backToEditAction == '')
    #set($backToEditAction = 'edit')
  #end
  #set($keyboardShortcutsEnabled = true)
  #set($editorUrl = "$!request.xcontinue")
  #if($editorUrl == '')
    #set($editorUrl = "$!request.getHeader('Referer')")
    #if($editorUrl == '')
      #if($doc.content.indexOf("includeForm(") != -1)
        #set($editorUrl = $tdoc.getURL('inline', "$!docvariant"))
      #else
        #if($xwiki.getUserPreference('editor') == 'Wysiwyg' && (!$tdoc.isAdvancedContent()))
          #set($editorUrl = $tdoc.getURL("edit", "editor=wysiwyg&amp;$docvariant"))
        #else
          #set($editorUrl = $tdoc.getURL("edit", "editor=wiki&amp;$docvariant"))
        #end
      #end
    #end
  #end
  ## We use the wiki editor as fallback url since it's the one supposed to work in all conditions.
  #set ($fallbackUrl = $tdoc.getURL("edit", "editor=wiki&amp;$docvariant"))
  #getSanitizedURLAttributeValue('form','action',$editorUrl, $fallbackUrl, $finalEditorUrl)
<form id="backtoedit" class="buttons" action="$finalEditorUrl" method="post">
  <div>
    #foreach($param in $request.getParameterNames())
      #if(!$param.startsWith('action_'))
        #foreach($value in $request.getParameterValues($param))
          <input type="hidden" name="$!{escapetool.xml($param)}" value="$!{escapetool.xml($value)}"/>
        #end
      #end
    #end
    #editActionButton("$!{escapetool.xml($backToEditAction)}", 'backtoedit', 'btn-default')
    <div class="btn-group">
      #editActionButton('save', 'saveandview', 'btn-primary')
      #editActionButton('saveandcontinue', 'save', 'btn-default')
    </div>
    #editActionButton('cancel', 'cancel', 'btn-default')
  </div>
</form>
#end ## showactions
