#body, #xwikimaincontainer, #xwikimaincontainerinner, #xwikicontent, #mainContentArea {
  background-color: #FFF !important;
  background-image: none !important;
  border: none !important;
  margin: 0px !important;
  overflow: visible !important;
  width: auto !important;
}
* html #body {
  overflow: auto !important;
}
/* Hide unneeded stuff */
.hidden-print,.edit_section,
#rightPanels, #leftPanels,
#mainmenu, #contentmenu, #menuview, #editmenu,
#globallinks, #footerglobal,
#commentform, .xwikitabbar li, #Historyshortcut, #Informationshortcut, .separator,
.commentheader .commenttools a, a.tag-delete , .tag-add a {
  display: none !important;
}
#printcontainer {
  border: none;
  float: none !important;
  overflow: visible !important;
  padding: 10px;
  text-align: justify;
}

#headerglobal {
  float: none;
}
#headerspace {
  margin: 0 !important;
}
#contentcolumn .main {
  margin: 0 !important;
}
/*-------------------------------------------------------------------*/
.main {
  box-shadow: none;
  background-color: white;
}

.xwikitabbar li.active {
  display: block;
}

#docextrapanes #AddComment {
  border: none;
}

#xwikidatacontents, #docExtraTabs {
  background: white;
}

#xdocFooter, #docextrapanes {
  border: 0;
  padding-left: 10px;
  padding-right: 10px;
}

#xwikicontent a , #xdocFooter a, #docextrapanes .commentauthor a, #breadcrumbs a {
  color: $theme.textPrimaryColor !important;
}

#docExtraTabs ul.xwikitabbar {
  background: white;
  border: 0;
  padding: 0px;
}

.leftsidecolumns, #contentcolumn {
  float: none !important;
}

#docextrapanes { /* display all comments */
  box-shadow: none;
  float: none !important;
  overflow: visible !important;
}

/* Remove shortcuts */
#document-info>div+div,
#historyshortcut, #informationshortcut, #annotationsshortcut {
  display: none;
}
.xdocLastModification {
  width: auto;
}
.recentChangesMoreActions {
  display: none;
}

/* Fix XWIKI-5567 */
.box {
  overflow: visible;
}
