/*
 * See the NOTICE file distributed with this work for additional
 * information regarding copyright ownership.
 *
 * This is free software; you can redistribute it and/or modify it
 * under the terms of the GNU Lesser General Public License as
 * published by the Free Software Foundation; either version 2.1 of
 * the License, or (at your option) any later version.
 *
 * This software is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the GNU
 * Lesser General Public License for more details.
 *
 * You should have received a copy of the GNU Lesser General Public
 * License along with this software; if not, write to the Free
 * Software Foundation, Inc., 51 Franklin St, Fifth Floor, Boston, MA
 * 02110-1301 USA, or see the FSF site: http://www.fsf.org.
 */

/* XWiki: This content was copied from Bootstrap and modified to support other paged media besides paper (such as PDF
   documents displayed on screen). 
   Generic styles for all paged media. */
thead {
  display: table-header-group;
}

tr, img {
  page-break-inside: avoid;
}

img {
  max-width: 100% !important;
}

p, h2, h3 {
  orphans: 3;
  widows: 3;
}

h2, h3 {
  page-break-after: avoid;
}

/* XWiki: Limit some styles, that are otherwise hard to overwrite, to the paper paged media. */
html[data-xwiki-paged-media=paper] {
  *, *:before, *:after {
    color: #000 !important;
    text-shadow: none !important;
    background: transparent !important;
    box-shadow: none !important;
  }

  a, a:visited {
    text-decoration: underline;
  }

  a[href]:after {
    content: " (" attr(href) ")";
  }

  abbr[title]:after {
    content: " (" attr(title) ")";
  }

  /* Don't show links that are fragment identifiers,
   or use the `javascript:` pseudo protocol */
  a[href^="#"]:after, a[href^="javascript:"]:after {
    content: "";
  }

  pre, blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }
  
  /* Bootstrap components */
  .navbar {
    display: none;
  }
  
  .btn, .dropup > .btn {
    > .caret {
      border-top-color: #000 !important;
    }
  }
  
  .label {
    border: 1px solid #000;
  }

  .table {
    border-collapse: collapse !important;

    td, th {
      background-color: #fff !important;
    }
  }
  .table-bordered {
    th, td {
      border: 1px solid #ddd !important;
    }
  }
} /* XWiki: end paper paged media styles. */

#body, #xwikimaincontainer, #xwikimaincontainerinner, #xwikicontent, #mainContentArea {
  background-color: #FFF !important;
  background-image: none !important;
  border: none !important;
  margin: 0px !important;
  overflow: visible !important;
  width: auto !important;
}
/* Hide unneeded stuff */
.hidden-print,.edit_section,
#rightPanels, #leftPanels,
#mainmenu, #contentmenu, #menuview, #editmenu,
#globallinks, #footerglobal,
#commentform, .xwikitabbar li, #Historyshortcut, #Informationshortcut, .separator,
.commentheader .commenttools a, a.tag-delete , .tag-add a {
  display: none !important;
}
#printcontainer {
  border: none;
  float: none !important;
  overflow: visible !important;
  padding: 10px;
  text-align: justify;
}

#headerglobal {
  float: none;
}
#headerspace {
  margin: 0 !important;
}
#contentcolumn .main {
  margin: 0 !important;
}
/*-------------------------------------------------------------------*/
.main {
  box-shadow: none;
  background-color: white;
}

.xwikitabbar li.active {
  display: block;
}

#docextrapanes #AddComment {
  border: none;
}

#xwikidatacontents, #docExtraTabs {
  background: white;
}

#xdocFooter, #docextrapanes {
  border: 0;
}

#xwikicontent a , #xdocFooter a, #docextrapanes .commentauthor a, #breadcrumbs a {
  color: $theme.textPrimaryColor !important;
}

#docExtraTabs ul.xwikitabbar {
  background: white;
  border: 0;
  padding: 0px;
}

#contentcolumn {
  float: none !important;
}

#docextrapanes { /* display all comments */
  box-shadow: none;
  float: none !important;
  overflow: visible !important;
}

#mainContentArea, #xdocFooter, #docextrapanes, #hierarchy_breadcrumb {
  margin: 0;
  padding-left: 0;
  padding-right: 0;
  box-shadow: none;
}

/* Remove shortcuts */
#document-info>div+div,
#historyshortcut, #informationshortcut, #annotationsshortcut {
  display: none;
}
.xdocLastModification {
  width: auto;
}
.recentChangesMoreActions {
  display: none;
}