################################
##       QUICK SEARCH
################################
#if ($displayQuickSearch && ($xwiki.exists('Main.Search') || $xwiki.exists('Main.WebSearch')))
  <li>
    <form class="navbar-form globalsearch globalsearch-close form-inline" id="globalsearch" role="search" action="#if($xwiki.exists('Main.Search'))$xwiki.getURL('Main.Search')#else$xwiki.getURL('Main.WebSearch')#end">
      <input type="text" name="text" placeholder="$services.localization.render('panels.search.inputText')" id="headerglobalsearchinput" />
      <button type="submit" class="btn"><span class="glyphicon glyphicon-search"></span></button>
    </form>
  </li>
#end
