/*!
#set($css = "#template('css/style.css.vm')")
## Get the compiled LESS code
#set($cssFromLess = $services.lesscss.compileSkinFile('style.less.vm'))
## Remove the useless part
#set($index = $cssFromLess.indexOf('.not-sent-to-the-browser-from-this-point'))
#if($index >= 0)
  #set($cssFromLess = $cssFromLess.substring(0, $index))
#end
## Display the CSS
 */
$!css
/* Start of the LESS styles.*/
$!cssFromLess