## ---------------------------------------------------------------------------
## See the NOTICE file distributed with this work for additional
## information regarding copyright ownership.
##
## This is free software; you can redistribute it and/or modify it
## under the terms of the GNU Lesser General Public License as
## published by the Free Software Foundation; either version 2.1 of
## the License, or (at your option) any later version.
##
## This software is distributed in the hope that it will be useful,
## but WITHOUT ANY WARRANTY; without even the implied warranty of
## MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the GNU
## Lesser General Public License for more details.
##
## You should have received a copy of the GNU Lesser General Public
## License along with this software; if not, write to the Free
## Software Foundation, Inc., 51 Franklin St, Fifth Floor, Boston, MA
## 02110-1301 USA, or see the FSF site: http://www.fsf.org.
## ---------------------------------------------------------------------------
###
### Main "view" template
###
### General wrapper for view actions
###
#if ($services.distribution.jobStatus && $services.distribution.jobStatus.state.name() != 'FINISHED' && $services.distribution.canDisplayDistributionWizard())
  $response.sendRedirect($xwiki.getURL('XWiki.Distribution', 'distribution', "xredirect=$escapetool.url($xwiki.relativeRequestURL)"))
#elseif ($request.getParameter("raw").equals("1"))
  #template("code.vm")
#else
  #template("startpage.vm")

  #if("$!viewer" == '')
    #set($viewer = $request.getParameter('viewer'))
  #end
  #if("$!viewer" == '')
    #set($viewer = 'content')
  #end

  <div class="main">
  <div id="mainContentArea">
  #template("hierarchy.vm")
  #if($viewer == 'content')
    #template("contentview.vm")
  #else
    #template("${viewer}.vm")
  #end
  <div class="clearfloats"></div>
  </div>## mainContentArea
  #if($viewer == 'content')
    #if ($displayContentFooter)
      #template('contentfooter.vm')
    #end
    #if ($displayDocExtra)
      #template('docextra.vm')
    #end
  #end
  </div>## main
  #template("endpage.vm")
#end
