###
### Main "view" template
###
### General wrapper for view actions
###
#if ($services.distribution.jobStatus && $services.distribution.jobStatus.state.name() != 'FINISHED' && $services.distribution.canDisplayDistributionWizard())
  $response.sendRedirect($xwiki.getURL('XWiki.Distribution', 'distribution', "xredirect=$escapetool.url($xwiki.relativeRequestURL)"))
#elseif ($request.getParameter("raw").equals("1"))
  #template("code.vm")
#else
  #template("startpage.vm")
  
  #if("$!viewer" == '')
    #set($viewer = $request.getParameter('viewer'))
  #end
  #if("$!viewer" == '')
    #set($viewer = 'content')
  #end
  
  <div class="main">
  <div id="mainContentArea">
  #template("hierarchy.vm")
  #if($viewer == 'content')
    #template("contentview.vm")
  #else
    ##
    ## Display a viewer contained in a UI extension.
    ##
    #set ($viewerFoundAsUIX = false)
    #foreach($uix in $services.uix.getExtensions('org.xwiki.platform.viewers', {'select': $viewer}))
      #if ($services.security.authorization.hasAccess('admin', $uix.authorReference, $services.wiki.currentWikiDescriptor.reference))
        $services.rendering.render($uix.execute(), 'html/5.0')
        #set ($viewerFoundAsUIX = true)
      #end
    #end
    ##
    ## If no UI extension is matching, display the viewer from the templates
    ##
    #if (!$viewerFoundAsUIX)
      #template("${viewer}.vm")
    #end
  #end
  <div class="clearfloats"></div>
  </div>## mainContentArea
  #if($viewer == 'content' && $displayDocExtra)
    #template("docextra.vm")
  #end
  </div>## main
  #template("endpage.vm")
#end
