#template("skinvariables.vm")
/**

General layout of the page
for @media screen displays

**/

body#body{
  width: ${contentwidth}px;
}

#xwikimaincontainer{
  width: ${contentwidth}px;
}
/*
---------------------------------------
Global header
---------------------------------------
*/
#headerglobal{
  height: 91px;
}

#globalmenu {
  margin: ${spacing}px 0px 0px 0px;
}

#globalsearch {
  margin: ${spacing}px ${spacing}px 0px 0px;
}

/*
---------------------------------------
Space header, footer
---------------------------------------
*/
html > body #headerspace, html > body #footerglobal{
  margin: ${dspacing}px 0px;
}

#breadcrumbs{
  margin: 0px ${spacing}px;
}

#xwikilicence {
  margin-right: ${spacing}px;
}

#xwikidocinfo {
  margin-left: ${spacing}px;
}

/*
---------------------------------------
Content
---------------------------------------
*/
.content{
  margin: ${dspacing}px ${contentmargin}px 0px;
}

.contenthideleft{
  margin: ${dspacing}px ${contentmargin}px 0px 0px;
}
.contenthideright{
  margin: ${dspacing}px 0px 0px ${contentmargin}px;
}
.contenthidelefthideright{
  margin: ${dspacing}px 0px 0px;
}
#xwikieditor.layoutsection{
  padding: ${dspacing}px ${padding}px ${padding}px;
}
#editcolumn{
  width: ${editwidth}px;
}

#xwikidoccontent textarea{
  width: ${edittextareaie}px;
}
html > body #xwikidoccontent textarea{
  width: ${edittextarea}px;
}
.layoutsubsection{
  margin: 0px 0px ${spacing}px;
  padding: 0px ${padding}px;
}

.layoutsubsection.main{
  padding-top: ${padding}px;
}

.layoutsubsection.about{
  margin-bottom: ${dspacing}px;
  padding-bottom: ${dspacing}px;
}
#xwikirightstable{
  width: ${editwidthcontent}px;
  margin: ${spacing}px 0px;
}

/*
---------------------------------------
Zone for Comments, attachments, History...
---------------------------------------
*/
#xwikidatacontents{
  padding: 0px ${padding}px;
}

/*
---------------------------------------------
"Message Boxes"
---------------------------------------------
*/
fieldset.xwikimessage{
  width: ${messageboxwidth}px;
}

/*
----------------------------------------------
Comments
----------------------------------------------
*/
.xwikicomment {
  margin: ${dspacing}px auto;
  padding: ${padding};
}

.xwikiintracontent{
  margin: ${dspacing}px;
}

/*
---------------------------------------
Tabs
---------------------------------------
*/
ul.xwikitabbar{
  padding: ${padding}px 0px;
}
/*
---------------------------------------
Panels
---------------------------------------
*/
.panels{
  width: ${panelwidth}px;
  margin: ${dspacing}px ${spacing}px;
}
.panel, .fakepanel{
  width: ${panelwidth}px;
  margin: 0px 0px ${spacing}px;
}
#editPanels.panels{
  width: ${editpanelwidth}px;
}
#editPanels .panel{
  width: ${editpanelwidth}px;
}
.xwikipaneltitle{
  padding: 0px ${padding}px;
}
.xwikipanelcontents{
  padding: ${padding}px;
}

/*
----------------------------------
Rico Acordeon
----------------------------------
*/
.accordionTabContentBox {
 height: 400px;
 max-height: 400px;
}

#editPanels .accordionTabContentBox{
  width: ${editpanelwidthcontent}px;
}

/*
-----------------------------
Misc
-----------------------------
*/
#contentcolumn .large.panel{
  width: ${editpanelwidth}px;
}
td.label{
  padding-right: ${padding}px;
}
.padded{
  padding: ${dpadding}px;
}

.editactions{
  margin-top: ${dspacing}px;
}
#xwikiuserprofile td, #xwikiuserprofile th{
  padding: ${padding}px;
}
.xwikiuserblog .rssfeed {
  width: ${blogwidth}px;
}
