#set($parents = $xwiki.arrayList)
#set($discard = $parents.add($doc.fullName))
#macro(breadcrumb $doc $string $level)
#set($parent = $doc.parent)
#if(($parent != "") && ($level < 6) && (!$parents.contains($parent)))
#set($discard = $parents.add($parent))
#set($pdoc = $xwiki.getDocument($parent).getTranslatedDocument())
#set($pdocurl = $pdoc.getURL("view"))
#set($nstring = "<a href='$pdocurl'>${pdoc.displayTitle}</a> &gt; $string")
#set($level = $level + 1)
#breadcrumb($pdoc $nstring $level)
#else
$string
#end
#end
#if($context.getMode()==0) ## Visible only in a page
<div id="headerspace" class="layoutsection">
<hr/>
  <div id="breadcrumbs">
    <span class="breadcrumbspace"><a href="$spaceviewurl">$doc.web</a>: </span>
#breadcrumb($doc "<a href='$doc.getURL('view')'>$doc.displayTitle</a>")
  </div>
<hr/>
</div>
#end