###
###
###
#if((!$showactions)||($showactions==1))
<script type="text/javascript">
function checkDocumentContent() {
  if (document.forms.${formname}.content) {
    var content = document.forms.${formname}.content.value;
    if (content == null || content == "") {
      alert("$msg.get('wikicontentcannotbeempty')");
      return false ;
    }
  }
  return true;
}
</script>
#set($param = "")
#if ($sectionNumber != 0)
   #set($param = "section=$sectionNumber")
#end
##<div class="layoutsubsection editactions">
  <input class="button" type="submit" name="formactioncancel" value="$msg.get("cancel")" onclick="document.forms.${formname}.action='$doc.getURL("cancel")'; if (document.forms.${formname}.onsubmit) document.forms.${formname}.onsubmit();if (checkDocumentContent()) document.forms.${formname}.submit(); return false;"/>
#if($previewenabled)  <input class="button" type="submit" name="formactionpreview" value="$msg.get("preview")" onclick="document.forms.${formname}.action='$doc.getURL("preview", $param)'; if (document.forms.${formname}.onsubmit) document.forms.${formname}.onsubmit();if (checkDocumentContent()) document.forms.${formname}.submit(); return false;"/>#end
  <input class="button" type="submit" name="formactionsac" value="$msg.get("saveandcontinue")" onclick="document.forms.${formname}.action='$doc.getURL("saveandcontinue", $param)'; if (document.forms.${formname}.onsubmit) document.forms.${formname}.onsubmit();if (checkDocumentContent()) document.forms.${formname}.submit(); return false;"/>
  <input class="button" type="submit" name="formactionsave" value="$msg.get("saveandview")" onclick="document.forms.${formname}.action='$doc.getURL("${saveaction}", $param)'; if (document.forms.${formname}.onsubmit) document.forms.${formname}.onsubmit();if (checkDocumentContent()) document.forms.${formname}.submit(); return false;"/>
##</div>
#end
