##
## Header
##
#template("xwikivars.vm")
#template("layoutvars.vm")
#template("htmlheader.vm")
#template("header.vm")
<div class="layoutsection">
#if($!{request.showpanels})
#template("leftpanels.vm")
#template("rightpanels.vm")
#else
#template("fakeleftpanels.vm")
#template("fakerightpanels.vm")
#end
  <div id="contentcolumn" class="content#if($showLeftPanels == "0")hideleft#end#if($showRightPanels == "0")hideright#end">
<div class="topbuttons">#template("previewactions.vm")</div>
<div class="main layoutsubsection">
$tdoc.getRenderedContent($tdoc.content)
</div>
<div class="bottombuttons">#template("previewactions.vm")</div>
#*
<form id="edit" method="post" action="$doc.getURL("save")">
<div>
<input type="hidden" name="content" value="$xwiki.getFormEncoded($tdoc.content)" />
<input type="hidden" name="parent" value="$!doc.getParent()" />
<input type="hidden" name="creator" value="$!doc.getCreator()" />
<input type="hidden" name="title" value="$!tdoc.getTitle()" />
<input type="hidden" name="defaultLanguage" value="$!doc.getDefaultLanguage()" />
<input type="hidden" name="template" value="$!tdoc.getTemplate()" />
<input type="hidden" name="xredirect" value="$!request.getParameter("xredirect")" />
<input type="hidden" name="xnotification" value="$!request.getParameter("xnotification")" />
<input type="hidden" name="language" value="$!request.getParameter("language")" />
<input type="hidden" name="isResponsePreviewCorrect" value="$isResponseCorrect">
<input type="hidden" name="comment" value="$!doc.getComment()" />
</div>
<div id="xwikiobject">
#template("hiddenobject.vm")
</div>
</form>
</div>
*#
</div>
<div class="clearfloats"></div>
##
## Footer
##
</div>
#template("footer.vm")
#template("htmlfooter.vm")