Package: xwiki-common
Version: [[version]]
Section: java
Priority: optional
Provides: xwiki
Architecture: all
Depends: ucf (>= 0.30), dbconfig-common (>= 1.8.0), openjdk-17-jre-headless | openjdk-11-jre-headless | java11-runtime-headless
Conflicts: xwiki-enterprise-common
Maintainer: [[debian.maintainer]]
License: [[debian.license]]
Description: [[debian.description]]
Bugs: [[debian.bugs]]
Homepage: [[debian.homepage]]
