Package: xwiki-common
Version: [[version]]
Section: java
Priority: optional
Provides: xwiki
Suggests: xwiki-tomcat7-mysql | xwiki-tomcat7-pgsql
Architecture: all
Depends: dbconfig-common (>= 1.8.0), ttf-dejavu, java8-runtime-headless | java8-runtime
Conflicts: xwiki-enterprise-common
Maintainer: [[debian.maintainer]]
License: [[debian.license]]
Description: [[debian.description]]
Bugs: [[debian.bugs]]
Homepage: [[debian.homepage]]
