.xdialog-modal-container {
  position: fixed;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  width: 100%;
  height: 100%;
  text-align: center;
  z-index: 1005;
}
* html .xdialog-modal-container {
  position: absolute;
}
.xdialog-screen {
  position: absolute;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  width: 100%;
  height: 100%;
}
.xdialog-box {
  text-align: left;
  padding: 10px;
  margin: auto;
  position: relative;
  width: 400px;
  border: 2px solid;
  background-color: #EEE; 
}
.xdialog-close {
  float: right;
  cursor: pointer;
  margin: -8px -8px 8px 5px;
  width: 12px;
  height: 12px;
  text-align : center; 
  font-weight: bold;
  font-size: 13px;
  text-transform: lowercase;
  font-family: Arial, Helvetica, sans-serif;
  line-height: 8px;
}
.xdialog-title {
  font-size: 80%;
  font-weight: bold;
  margin-top: -5px;
  margin-bottom: 10px;
}