###
### Display document contents in "view" mode.
###
## -------------------------------
## Compute the content to display 
## -------------------------------
#template("contentvars.vm")
## ----------------------------------------------------------------------------
## Display UI Extensions before the title element
## ----------------------------------------------------------------------------
#foreach ($uix in $services.uix.getExtensions('org.xwiki.platform.template.title.before'))
  $services.rendering.render($uix.execute(), 'xhtml/1.0')
#end
## ----------------------------------------------------------------------------
## Compute title to display and modify rendered content accordingly.
## ----------------------------------------------------------------------------
#template("titlevars.vm")
## ----------------------------
## Display the title
## ----------------------------
<div id="document-title"><h1>$titleToDisplay</h1></div>
## --------------------------------------------------------------------------
## Drop permissions as they are no longer needed. This allows us not to have
## to review the code below for security holes since nothing bad can happen.
## --------------------------------------------------------------------------
$xcontext.dropPermissions()
## ----------------------------
## Display the shortcuts
## ----------------------------
#if($displayShortcuts)
  #template("shortcuts.vm")
#end
## ----------------------------
## Display the rendered content
## ----------------------------
<div id="xwikicontent">
  #if ("$!exception" != '')
    #displayUnhandledException($exception)
  #else
    $renderedContent
  #end
</div>
## -----------------------------------------------------------------------------------
## Display the footnotes if the document is in 1.0 syntax and if there are any defined
## -----------------------------------------------------------------------------------
## TODO: move that in a place common to old and new rendering footnotes
#if ($doc.syntax.toIdString() == 'xwiki/1.0')
#set($footnotes = "#putFootnotes()")
$doc.getRenderedContent($footnotes, 'xwiki/1.0')
#end
