###
### Global header
###
### The uppermost area of each page
### Contains the company logo, links to global actions and the search facility
###
#if($isInServletMode) ## Visible only in a page
<div id="headerglobal" class="layoutsection">
#if($xcontext.action == "view")
<div class="minwidthb"></div>
#else
<div class="minwidthd"></div>
#end
  <div id="company">
  <div id="companylogo">
    <a href="$!xwiki.getURL($services.model.resolveDocument('', 'default', $doc.documentReference.extractReference('WIKI')))" title="Home" rel="home">
#if("$!{themeDocFullName}" == '')
  #set($themeDocFullName = "$!xwiki.getUserPreference('colorTheme')")
#end
#if($themeDocFullName == '')
  #set($themeDocFullName = 'ColorThemes.DefaultColorTheme')
#end
#set($themeDoc = $xwiki.getDocument($themeDocFullName))
#set($themeObj = $themeDoc.getObject('ColorThemes.ColorThemeClass'))
#set($logoname = $themeObj.getProperty('logoImage').value)
#if("$!{logoname}" != '')
  #set($logourl = $themeDoc.getAttachmentURL($logoname))
#else
  #set($logoname = $xwiki.getSkinPreference('logo', 'logo.png'))
  #set($logo = $!prefdoc.getAttachment($logoname))
  #if(!$logo)
    #set($logourl = $xwiki.getSkinFile($logoname))
  #else
    #set($logourl = $prefdoc.getAttachmentURL($logo.filename))
  #end
#end
    <img src="$!logourl" alt="Wiki Logo"/>
    </a>
  </div> ## companylogo
  </div> ## company
  <div id="globallinks">
    #if ($displayQuickSearch && ($xwiki.exists('Main.Search') || $xwiki.exists('Main.WebSearch')))
    <form action="#if($xwiki.exists('Main.Search'))$xwiki.getURL('Main.Search')#else$xwiki.getURL('Main.WebSearch')#end">
      <div class="globalsearch">
        <label class="hidden" for="headerglobalsearchinput">$services.localization.render('panels.search.inputLabel')</label><input class="globalsearchinput withTip" id="headerglobalsearchinput" type="text" name="text" value="$services.localization.render('panels.search.inputText')" size="15"/><input class="button" type="image" value="$services.localization.render('panels.search.submit')" alt="$services.localization.render('panels.search.submit')" src="$xwiki.getSkinFile('icons/xwiki/search.png')"/>
      </div>
    </form>
    #end
#if ($displayLanguageChoice && $xwiki.isMultiLingual())
  <span class="glink" id="headerlanguages">
  #set($defaultLanguage = "$!{doc.getDefaultLanguage()}")
  #if($defaultLanguage == '')
    #set($defaultLanguage = "$!{doc.getLanguage()}")
  #end
  #if($defaultLanguage == '')
    #set($defaultLanguage = "default")
  #end
  ## Get the query string as a map to preserve the values except the language (see: http://jira.xwiki.org/browse/XWIKI-11314)
  #set($queryStringMap = {})
  #set($discard = $queryStringMap.putAll($request.parameterMap))
  <a href="$!doc.getURL("view", "language=$defaultLanguage")" class="language-default#if($tdoc.realLanguage == $defaultLanguage || ($defaultLanguage == 'default' && $tdoc.realLanguage == '')) language-current#end">$defaultLanguage</a>
  #set ($wikiSettingsLanguages = $!xwiki.getXWikiPreference('languages').trim().split('\s*[,| ]\s*'))
  #set ($hasLanguagesSet = $wikiSettingsLanguages.size() > 1 || "$!wikiSettingsLanguages.get(0)" != '')
  #foreach($lang in $doc.translationList)
    #if(!$hasLanguagesSet || $wikiSettingsLanguages.contains($lang))
      #set($discard = $queryStringMap.put('language', $lang))
      <a href="$!doc.getURL("view", $escapetool.url($queryStringMap))" class="language-translation#if($tdoc.realLanguage == $lang) language-current#end">$!lang</a>
    #end
  #end
  </span>
#end
  </div> ## globallinks
  <div class="clearfloats"></div>
  #foreach ($uix in $services.uix.getExtensions('org.xwiki.platform.template.header.after'))
    $services.rendering.render($uix.execute(), 'xhtml/1.0')
  #end
</div> ## headerglobal
#end
### TODO: Format the header for pdf output