#template('colorThemeInit.vm')
body {
  behavior: url("$xwiki.getSkinFile('htc/csshover3.htc')");
}

* html div {
  display: inline-block;
}

*+html #docextrapanes {
  display: inline-block;
}

.minwidth, .minwidthb, .minwidthc, .minwidthd {
  display: none;
  height: 0;
  font: normal 1px / 1px sans-serif;
}

#globallinks {
  margin-left: -230px;
}

fieldset.xwikimessage legend span {
  float: left;
}
fieldset.xwikimessage legend span span {
  float: none;
}

.xwikiintracontent legend {
  margin: -5px 0 5px 0;
}

*+html .xwikiintracontent legend {
  margin: 5px 0 10px -7px;
}

#commentscontent #AddComment .commentcontainer label {
  display: none;
}

*+html input.button {
  padding: 0 0 1px;
}

fieldset.xwikimessage {
  display: inline;
}

table.xwikilogintable input#j_password , table.xwikilogintable input#j_username{
  width: 160px;
}

/* xwiki/2.0 create links.
   Since IE7 doesn't understand :after, use a static image to display the question mark.
   This should be in ie-7.css, but that file doesn't exist yet. */
*+html span.wikicreatelink a {
  background: transparent url("$xwiki.getSkinFile('icons/xwiki/create-link.png')") no-repeat right;
  padding-right: 13px;
}

/* ----------------Changes----------------*/
/* IE6/7 don't understand :before and :after, so just display a plain image instead of the CSS arrow */
* html #changes-info {
  background: $theme.backgroundSecondaryColor url("$xwiki.getSkinFile('icons/xwiki/diff-header.png')") no-repeat 50% 2.5em;
}
*+html #changes-info {
  background: $theme.backgroundSecondaryColor url("$xwiki.getSkinFile('icons/xwiki/diff-header.png')") no-repeat 50% 2.5em;
}
/* IE7 has problems with percentage margins, this will just leave the "to" box floating on the right */
*+html #changes-info-box-to {
  margin-left: 0;
}

/* ----------------CSS3 adjustments----------------*/
input.button, .buttonwrapper a:visited, .buttonwrapper a:link, .buttonwrapper a:active {
  #css_filterGradient($theme.buttonPrimaryGradientColor, $theme.buttonPrimaryBackgroundColor)
}
input.button:hover, .buttonwrapper a:hover{
  #css_filterGradient($theme.buttonPrimaryBackgroundColor, $theme.buttonPrimaryGradientColor)
}
.buttonwrapper input.secondary, .buttonwrapper a.secondary, 
.buttonwrapper a.secondary:link, .buttonwrapper a.secondary:visited,
.buttonwrapper a.secondary:active /* Needed for IE6 */ {
  #css_filterGradient($theme.buttonSecondaryGradientColor, $theme.buttonSecondaryBackgroundColor)
}
.actionmenu .tmCreate:hover .tme-extensible, .tmCreate  .tme-extensible {
  #css_filterGradient('#4dececec','#00ececec')
}
.globalsearch input.button, .buttonwrapper a.attachment-picker-start {
  filter: none;
}
/* Gradients containers for IE browsers */
/* IE6-9 doesn't have support for CSS3 properties. Filters affect also child elements, so we can't apply filters on #mainmenu or #content because it will make the submenus inaccesible. The solution is a container that only holds the gradient colors. */
#mainmenu .gradientfilterIE, #contentmenu .gradientfilterIE, #editmenu .gradientfilterIE {
  min-height: 22px;
  width: 100%;
}
#mainmenu .gradientfilterIE {
  #css_filterGradient($theme.menuGradientColor, $theme.menuBackgroundColor)
}
#contentmenu .gradientfilterIE, #editmenu .gradientfilterIE, ul.xwikitabbar  {
  #css_filterGradient($theme.menuContentGradientColor, $theme.menuContentBackgroundColor)
 }
h1.xwikipaneltitle {
  #css_filterGradient($theme.panelHeaderGradientColor, $theme.panelHeaderBackgroundColor)
 }
.collapsed h1.xwikipaneltitle {
  #css_filterGradient($theme.panelCollapsedGradientColor, $theme.panelCollapsedBackgroundColor)
 }
#mainmenu .componentcontainer, #contentmenu .componentcontainer, #editmenu .componentcontainer {
  margin-top: -22px;
}
/* end IE gradient containers rules*/