div#body {
  font-size: 100%;
}
div#body #xwikimaincontainerinner {
  height: auto;
}
#if ("$!request.maximized" != 'true')
div#body {
  min-width: 0;
}
div#body .main {
  padding: 0;
}
div#body .alleditcontent {
  margin: 0;
}
div#body #hierarchy {
  padding-top: 0;
}
#end