#autosaveControl {
  font-size: 80%;
  font-weight: bold;
  margin: 2px 16px;
}
#autosaveControl input.autosave-frequency {
  border: 1px solid #FFF;
  overflow: visible;
  text-align: center;
}
#autosaveControl input.focused {
  border: 1px solid #DDD;
}
