.fullScreenEditButton {
  cursor: ne-resize !important;
}
.fullScreenEditLinkContainer {
  text-transform: lowercase;
  font-size: 80%;
  color: #009;
  cursor: pointer;
  display: block;
  margin-top: -1.4em;
  text-align: right;
}

/* Matches the style of the new object editor */
#xwikiobjects .fullScreenEditLinkContainer, #xwikiclassproperties .fullScreenEditLinkContainer {
  margin-right: 10%;
}

.fullScreenWrapper .fullScreenEditLinkContainer {
  display: none;
}
.fullScreenCloseButton {
  cursor: sw-resize !important;
}
.leftmenu2 .fullScreenEditButton, .leftmenu2 .fullScreenCloseButton {
  margin: 2px;
  float: right;
}
.mceToolbar .fullScreenEditButton, .mceToolbar .fullScreenCloseButton {
  padding: 2px;
  width: 16px;
  height: 16px;
}
.gwt-MenuBar .fullScreenEditButton, .gwt-MenuBar .fullScreenCloseButton {
  float: right;
  margin: 5px;
}

#body .fullScreenWrapper {
  z-index: 5;
  position: fixed !important;
  left: 0;
  top: 0px;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  padding: 0 !important;
  margin: 0 !important;
  background-color: #FFF;
}

/* Comment this to make the version comment and minor edit checkbox visible in full screen */
.fullScreenWrapper .metamodifs {
  display: none !important;
}

.fullScreenWrapper .mceEditorContainer {
  height: auto !important;
}
.fullScreenWrapper table.mceEditor {
  height: auto !important;
}
* html .fullScreenWrapper {
  position: absolute !important;
}
/* Make sure gwt popup menus are visible in full screen: */
.gwt-MenuBarPopup {
  z-index: 12;
}
/* This overrides a rule for the Object Editor that is supposed to resize text inputs. */
#body .fullScreenWrapper .buttons .buttonwrapper input {
  width: auto;
}
#xwikiobjects .fullScreenWrapper textarea:focus, #xwikiclassproperties .fullScreenWrapper textarea:focus {
  background-color:#FFF;
}
