.star-rating,
.star-rating a:hover,
.star-rating a:active,
.star-rating a:focus,
.star-rating .current-rating {
  background: url("star.gif") left -1000px
    repeat-x;
}

.star-rating {
  position: relative;
  width: 125px;
  height: 25px;
  overflow: hidden;
  list-style: none;
  margin: 0px !important;
  padding: 0px !important;
  background-position: left top;
}

.star-rating li {
  display: inline;
}

.star-rating a {
  position: absolute;
  top: 0;
  left: 0;
  text-indent: -1000em;
  height: 25px;
  line-height: 25px;
  outline: none;
  overflow: hidden;
  border: none;
}

.star-rating a:hover,
.star-rating a:active,
.star-rating a:focus {
  background-position: left bottom;
}

.star-rating a.one-star {
  width: 20%;
  z-index: 6;
}

.star-rating a.two-stars {
  width: 40%;
  z-index: 5;
}

.star-rating a.three-stars {
  width: 60%;
  z-index: 4;
}

.star-rating a.four-stars {
  width: 80%;
  z-index: 3;
}

.star-rating a.five-stars {
  width: 100%;
  z-index: 2;
}

.star-rating .average-rating {
  z-index: 1;
  background-position: left center;
}

ul.locked a,
ul.locked a:hover,
ul.locked a:active,
ul.locked a:focus {
  background: transparent none;
}

.small-star {
  width:100px;
  height:20px;
}

.small-star,
.small-star a:hover,
.small-star a:active,
.small-star a:focus,
.small-star .current-rating {
  background-image: url("smallstar.gif");
  line-height: 20px;
  height: 20px;
}

ul.locked a {
  cursor: default !important;
}

.rating-container {
  line-height: 25px;
}

.rating-header {
  font-size: 11px;
  font-weight: bold;
  margin-right: 2px;
  line-height: 25px;
}

.rating-message {
  font-size: 10px;
  color: #333;
  font-style: italic;
  margin-right: 5px;
  float: right;
  position: relative;
}

.star-rating .current-rating {
  display: block;
  height: 100%;
}

.average-rating {
  position: relative;
  color: transparent;
  display: block;
  height: 100%;
  width: 100%;
  /* Remove default background for Firefox */
  background: none;
}

/* Remove default background for Chrome & Safari */
.average-rating::-webkit-meter-bar {
  background: none;
  border: none;
}

/* Add the stars for Chrome & Safari */
.average-rating::-webkit-meter-optimum-value {
  background: url("star.gif") left repeat-x;
}

/* Add the stars for Firefox */
.average-rating:-moz-meter-optimum::-moz-meter-bar {
  background: url("star.gif") left repeat-x;
}