body#body{background-image: url( ../../images/colors/green/H4x4-GREEN.png ); }
body#body #xwikimaincontainer{  background-image :url( ../../images/colors/green/bg-GREEN.png ) ;  }
#xwikimaincontainerinner {  background-image: url( ../../images/colors/green/bg-GREEN.png );}
body#body.hideright  #xwikimaincontainerinner {  background-image: url( ../../images/colors/green/bg-GREEN3.png );}
body#body.adminbody#body  #xwikimaincontainerinner {  background-image: url( ../../images/colors/green/bg-GREEN3.png );}
body#body.hidelefthideright  #xwikimaincontainerinner {  background-image: url( ../../images/colors/green/bg-GREEN3.png );}
#globallinks{  background-image: url( ../../images/colors/green/bgx-GREEN.png );}
#rightPanels{  background-image: url( ../../images/colors/green/bgx-GREEN.png );}
#editPanels.panels{  background-image: url( ../../images/colors/green/bgx-GREEN.png );}

