body#body{background-image: url( ../../images/colors/kaki/H4x4-KAKI.png ); }
body#body #xwikimaincontainer{  background-image :url( ../../images/colors/kaki/bg-KAKI.png ) ;  }
#xwikimaincontainerinner {  background-image: url( ../../images/colors/kaki/bg-KAKI.png );}
body#body.hideright  #xwikimaincontainerinner {  background-image: url( ../../images/colors/kaki/bg-KAKI3.png );}
body#body.adminbody#body  #xwikimaincontainerinner {  background-image: url( ../../images/colors/kaki/bg-KAKI3.png );}
body#body.hidelefthideright  #xwikimaincontainerinner {  background-image: url( ../../images/colors/kaki/bg-KAKI3.png );}
body#body.editbody #xwikimaincontainerinner { background-image: url( ../../images/colors/kaki/bg-KAKI.png ); }
#globallinks{  background-image: url( ../../images/colors/kaki/bgx-KAKI.png );}
#rightPanels{  background-image: url( ../../images/colors/kaki/bgx-KAKI.png );}
#editPanels.panels{  background-image: url( ../../images/colors/kaki/bgx-KAKI.png );}
#company { background-image: url( ../../images/colors/kaki/bgxleft-KAKI.png ); }

