body#body{background-image: url( ../../images/colors/orange/H4x4-ORANGE.png ); }
body#body #xwikimaincontainer{  background-image :url( ../../images/colors/orange/bg-ORANGE.png ) ;  }
#xwikimaincontainerinner {  background-image: url( ../../images/colors/orange/bg-ORANGE.png );}
body#body.hideright  #xwikimaincontainerinner {  background-image: url( ../../images/colors/orange/bg-ORANGE3.png );}
body#body.adminbody#body  #xwikimaincontainerinner {  background-image: url( ../../images/colors/orange/bg-ORANGE3.png );}
body#body.hidelefthideright  #xwikimaincontainerinner {  background-image: url( ../../images/colors/orange/bg-ORANGE3.png );}
body#body.editbody #xwikimaincontainerinner { background-image: url( ../../images/colors/orange/bg-ORANGE.png ); }
#globallinks{  background-image: url( ../../images/colors/orange/bgx-ORANGE.png );}
#rightPanels{  background-image: url( ../../images/colors/orange/bgx-ORANGE.png );}
#editPanels.panels{  background-image: url( ../../images/colors/orange/bgx-ORANGE.png );}
#company { background-image: url( ../../images/colors/orange/bgxleft-ORANGE.png ); }
