#template("xwiki.vm")
#template("httpheader.vm")
#template("header.vm")
<div id="xwikinav_header">
<div id="xwikiwebusermenu">
<span id="xwikiwebusermenutitle">$msg.get("webusermenu")</span>
$!xwiki.getWebPreference("menu")
</div>
</div>
#template("pagemenu.vm")
#if($message)
<div id="xwikimessage">
$message
</div>
#end
<div id="xwikicontent">
#set( $counter = 0)
<br />
<br />
<table border="1" cellpadding="4" cellspacing="0" width="70%">
<tr><th> <b>$msg.get("filename")</b> </th><th> <b>$msg.get("version")</b> </th>
<th> <b>$msg.get("author")</b> </th><th> <b>$msg.get("size")</b> </th><th> <b>$msg.get("delete")</b></th> </tr>
#foreach ($attach in $doc.attachmentList)
<tr><td><a href="${downloadurl}/${attach.filename}">$attach.filename</a></td>
<td>$attach.version</td><td>$attach.author</td><td>$attach.filesize</td>
<td><a href="${delattachmenturl}/${attach.filename}" onclick="return confirm('$msg.get("confirmdelattachment")');">$msg.get("delete")</a></td>
</tr>
#set( $counter = $counter + 1)
#end
</table>
<br />
<br />
<form action="$uploadurl" enctype="multipart/form-data" method="post">
<p>
<script type="text/javascript">
function updateName(form) {
  var fname = form.filepath.value;
  var i = fname.lastIndexOf('\\');
  if (i==-1)
   i = fname.lastIndexOf('/');

  fname = fname.substring(i+1);
  if (form.filename.value==fname)
   return;

  if (form.filename.value=="")
   form.filename.value = fname;
  else {
   if (confirm("Do you want to replace the filename with '" + fname + "' ?"))
     form.filename.value = fname;
  }
}
</script>
Choose the target file name:
<input type="text" name="filename" value="" size="20" "/>
<br /><br />
Choose a file to upload:
<input type="file" name="filepath" value="" size="40"  />
<br /><br />
<input type="submit" value="Attach this file" onclick="updateName(this.form)" />
</p>
</form>
</div>
<div id="xwikinav_footer">
</div>
#template("footer.vm")