<h2>Class Description</h2>
<form name="propadd" method="post" action="$doc.getActionUrl("propadd", $context)">
Name: <input type="text" value="" size="20">
<select name="proptype" size="1">
<option value="---">Select a class</option>
#foreach($prop in $xwiki.metaclass.properties)
<option value="$prop.name">$prop.prettyName</option>
#end
</select>
<input type="submit" value="Add Property">
</form>
<form name="propupdate" method="post" action="$doc.getActionUrl("propupdate", $context)">
<table border="0">
#foreach($prop in $doc.xWikiClass.properties)
<tr><th>Property</th><th>$prop.prettyName</th></tr>
#foreach ($classprop in $prop.propertyNames)
<tr><td>$prop.xWikiClass.safeget("meta$classprop").getPrettyName()</td>
<td>$prop.xWikiClass.safeget("meta$classprop").displayEdit($classprop, $prop, $context)
</td>
</tr>
#end
#end
</table>
</form>
