#template("xwiki.vm")
#template("httpheader.vm")
#template("header.vm")
<div id="nav_header">
<div id="actions">
<a href="$doc.getPreviewUrl($context)" onClick="document.forms.edit.action=this.href; document.forms.edit.submit(); return false;">$msg.get("preview")</a>
<span> | </span>
<a href="$doc.getSaveUrl($context)" onClick="document.forms.edit.action=this.href; document.forms.edit.submit(); return false;" >$msg.get("save")</a>
</div>
</div>
<div id="content">
<form name="edit" method="post" action="$doc.getPreviewUrl($context)">
<input type="hidden" name="template" value="$!doc.getTemplate()">
<div id="text">
$xwiki.getTextArea($doc.content)
<br/><br />
Parent:&nbsp;<input type="text" name="parent" value="$doc.getParent()" size="40">
</div>
<div id="object">
#template("editobject.vm")
</div>
</form>
<div id="class">
#template("editclass.vm")
</div>
</div>
<div id="nav_footer">
<div id="actions">
<a href="$doc.getPreviewUrl($context)" onClick="document.forms.edit.action=this.href; document.forms.edit.submit(); return false;">$msg.get("preview")</a>
<span> | </span>
<a href="$doc.getSaveUrl($context)" onClick="document.forms.edit.action=this.href; document.forms.edit.submit(); return false;" >$msg.get("save")</a>
</div>
</div>
#template("footer.vm")
