#set($showactions=1)
#template("editheader.vm")
<div id="xwikicontent">
<form id="edit" method="post" action="$doc.getActionUrl("preview")">
<p>
<input type="hidden" name="template" value="$!doc.getTemplate()" />
<input type="hidden" name="xredirect" value="$!request.getParameter("xredirect")" />
<input type="hidden" name="language" value="$xwiki.languagePreference" />
</p>
#set( $pages = $doc.includedPages)
#if ( $pages.size() > 0)
<p>
$msg.get("editincludepagemsg")
#foreach ($page in $pages)
<a href="$xwiki.getActionUrl($page, "edit")">$page</a>&nbsp;
#end
</p>
#end
<div id="xwikitext">
$xwiki.getTextArea($doc.translatedContent)
<br/><br/>
Parent:&nbsp;<input type="text" name="parent" value="$!doc.parent" size="40" />
<br/><br/>
Default Language:&nbsp;<input type="text" name="default_language" value="$!doc.defaultLanguage" size="10" />
</div>
</form>
</div>
#template("editfooter.vm")