#set($showactions=1)
#template("editheader.vm")
<div id="xwikieditcontent">
<form id="edit" method="post" action="$doc.getActionUrl("preview")">
<p>
<input type="hidden" name="template" value="$!doc.getTemplate()" />
<input type="hidden" name="xredirect" value="$!request.getParameter("xredirect")" />
<input type="hidden" name="language" value="$!tdoc.language" />
</p>
#set( $pages = $doc.includedPages)
#if ( $pages.size() > 0)
<p>
$msg.get("editincludepagemsg")
#foreach ($page in $pages)
<a href="$xwiki.getActionUrl($page, "edit")">$page</a>&nbsp;
#end
</p>
#end
<div id="xwikitext">
#if ($xwiki.isMultiLingual()==true)
$msg.get("youareediting"): $tdoc.language
<br /><br />
#end
$xwiki.getTextArea($tdoc.content)
<br/>
<script type="text/javascript">
<!--
function openHelp() {
  win = open( "http://www.xwiki.com/xwiki/bin/view/Doc/XWikiSyntax?xpage=plain",
			   "syntax", "titlebar=0,width=750,height=480,resizable,scrollbars");
  if( win ) {
	 win.focus();
  }
}
// -->
</script>
$msg.get("helponsyntax") <a href="" onClick="openHelp(); return false;">$msg.get("xwikisyntax")</a>
<br /><br />
#if ($tdoc.language=="")
Parent:&nbsp;<input type="text" name="parent" value="$!doc.parent" size="40" />
<br/><br/>
Default Language:&nbsp;<input type="text" name="default_language" value="$!doc.defaultLanguage" size="10" />
#end
</div>
</form>
</div>
#template("editfooter.vm")