#set($showactions=0)
#template("editheader.vm")
<div id="xwikicontent">
#set( $class = $doc.getxWikiClass())
#set( $redirect = $xwiki.getRequestURL())
<script type="text/javascript">
<!--
var currentfield = "";
function show(fieldname) {
  if (currentfield!="")
    document.getElementById("field_" + currentfield).style.display="none";
  document.getElementById("field_" + fieldname).style.display="block";
  currentfield = fieldname;
}
// -->
</script>
<div class="left">
<h3>Class Editor</h3>
<br />
#foreach ($field in $class.properties)
<a href="" onclick="show('$field.name'); return false;">$field.prettyName</a><br />
#end
</div>

<div class="left">
<form id="propadd" method="post" action="$doc.getActionUrl("propadd")">
<p style="text-align: center">
<input type="hidden" name="xredirect" value="$xwiki.getFormEncoded($redirect)" />
Name: <input type="text" name="propname" value="" size="20" />
<br /><br />
<select name="proptype" size="1">
<option value="---">Select a class</option>
#foreach($prop in $xwiki.metaclass.properties)
<option value="$prop.name">$prop.prettyName</option>
#end
</select>
<br /><br />
<input type="submit" value="Add Property" />
</p>
</form>
</div>

<div class="left">
<br />
<form id="propupdate" method="post" action="$doc.getActionUrl("propupdate")">
<p>
<input type="hidden" name="xredirect" value="$xwiki.getFormEncoded($redirect)" />
<input type="submit" value="Save Class" />
</p>
</div>
<div class="center">

<div id="intro">
Welcome to the class editor. Choose a field to edit or add a field to the class.
<br />
</div>

#set ( $first = 1)
#foreach ($field in $class.properties)

<div id="field_$field.name" style="display: #if ($first==1) block #else none #end;">
#if ($first==1)
<script type="text/javascript">
<!--
currentfield = "$field.name";
// -->
</script>
#set ($first = 0)
#end
<h3>Edit field $field.prettyName</h3>

<table border="0">
#foreach ($classprop in $field.xWikiClass.propertyNames)
<tr><td>$field.xWikiClass.get("$classprop").getPrettyName()</td>
<td>$doc.displayEdit($field.xWikiClass.get("$classprop"), "${field.name}_" , $field)
</td>
</tr>
#end
</table>
</div>
#end
</form>
</div>
</div>
#template("editfooter.vm")