#set($showactions=0)
#template("editheader.vm")
<div id="xwikicontent">
#if ( $request.getParameter("global").equals("1"))
#set ($classname = "XWiki.XWikiGlobalRights")
#else
#set ($classname = "XWiki.XWikiRights")
#end
#set( $class = $xwiki.getDocument($classname).xWikiClass)
#set( $redirect = $xwiki.getRequestURL())
<script type="text/javascript">
var currentfield = "";
function show(fieldname) {
  if (currentfield!="")
    document.getElementById(currentfield).style.display="none";
  document.getElementById(fieldname).style.display="block";
  currentfield = fieldname;
}
</script>
<div class="left">
<h3>Rights Editor</h3>
<br />
<a href="" onclick="showobjects('$class.name'); return false;">$class.name</a><br />
<div id="class_${class.name}">
#foreach ($obj in $doc.getObjects($class.name))
&nbsp;&nbsp;<a href="" onclick="show('${class.name}_${obj.number}'); return false;">
$!{obj.number}: $!doc.display("users",$obj) $!doc.display("groups",$obj)</a><br />
#end
</div>
<br /><br />
</div>

<div class="left">
<h2>Add a right entry</h2>
<form id="objectadd" method="post" action="$doc.getActionUrl("objectadd")">
<p>
<input type="hidden" name="xredirect" value="$redirect" />
<input type="hidden" name="classname" value="$classname" />
<input type="submit" value="Add Right Entry" />
</p>
</form>
</div>

<div class="left">
<br />
<form id="update" method="post" action="$doc.getActionUrl("save")">
<input type="hidden" name="xredirect" value="$redirect" />
<input type="submit" value="Save Rights" />
</div>

<div class="center">

<div id="intro">
Welcome to the rights editor. Choose a right entry to edit or add a new right entry:
</div>


#set ( $first = 1)
#set( $nb = $doc.getObjectNumbers("${class.name}"))
<p>
<input type="hidden" name="${class.name}_nb" value="$nb" />
</p>

#foreach($obj in $doc.getObjects($class.name))
<div id="${class.name}_${obj.number}" style="display: #if ($first==1) block #else none #end;">
#if ($first==1)
<script type="text/javascript">
currentfield = "${class.name}_${obj.number}";
</script>
#set ($first = 0)
#end


You can <a href="$doc.getActionUrl("objectremove")?classname=${class.name}&classid=${obj.number}&xredirect=$redirect"
    onclick="return confirm('$msg.get("confirmobjectremove")')">
    remove this object</a><br /><br /><br />

<table>
#foreach($prop in $class.properties)
<tr><td>$prop.prettyName</td>
<td>$!doc.displayEdit($prop, "${class.name}_${obj.number}_",  $obj)
</td></tr>
#end
</table>
</div>
#end
</div>
</div>
#template("editfooter.vm")