<div id="xwikifooter">

<div id="xwikidocinfo">
#if ($tdoc)
$msg.get("language"): $tdoc.getRealLanguage()
&nbsp;Creation Date: $!formatter.formatShortDateTime($tdoc.creationDate)
<br />
Author: $tdoc.author
&nbsp;Last Modification Date: $!formatter.formatShortDateTime($tdoc.date)
#end
</div>

<div id="xwikifooterimage">
<a href="http://validator.w3.org/check/referer">
<img src="$xwiki.getSkinFile("xhtml-valid.png")" alt="Valid XHTML 1.0!" /></a>
<a href="http://jigsaw.w3.org/css-validator/">
<img src="$xwiki.getSkinFile("css-valid.png")" alt="Valid CSS2!" /></a>
</div>

<div id="xwikifootertext">
$!copyright
</div>

<div id="xwikifooterhelp">
$!help
</div>

</div>
</body>
</html>

