<div id="xwikibanner">
<div id="xwikilogo">
    <a href="../../view/Main/WebHome">
      <img src="../../../skins/$skin/logo.gif" alt="XPertNet" />
    </a>
  </div>

<div id="xwikititle">
#if ($doc.parent.length() > 0)
<h1>$parent &gt; $!title</h1>
#else
<h1>$!title</h1>
#end
   <h2>$!subtitle</h2>
</div>

<div id="xwikilinks">
  <div id="xwikimenu">
    $!xwiki.getXWikiPreference("menu")
  </div>
  <div id="xwikiversion">
    <a href="../../view/Main/WebHome">XWiki Version $xwiki.version</a>
  </div>
</div>


</div>