#parse("/templates/xwiki.vm")
#parse("/templates/httpheader.vm")
#parse("/templates/header.vm")
#macro( versions )
#foreach( $rev in $doc.recentRevisions )
<a href="$viewurl?rev=$rev">$rev</a><span> | </span>
#end
#end
<div id="nav_header">
<div id="actions">
</div>
#if($message)
<div id="message">
$message
</div>
#end
<form name="edit" method="post" action="$doc.getPreviewUrl($context)">
<div id="content">
$doc.getRenderedContent($context)
</div>
</form>
<div id="nav_footer">
<div id="actions">
<a href="$doc.getPreviewUrl($context)" onClick="document.forms.edit.action=this.href; document.forms.edit.submit(); return false;">$msg.get("preview")</a>
<span> | </span>
<a href="$doc.getSaveUrl($context)" onClick="document.forms.edit.action=this.href; document.forms.edit.submit(); return false;" >$msg.get("save")</a>
</div>
</div>
#parse("/templates/footer.vm")
