#template("xwiki.vm")
#template("httpheader.vm")
#template("header.vm")
#macro( versions )
#foreach( $rev in $doc.recentRevisions )
<a href="$viewurl?rev=$rev">$rev</a><span> | </span>
#end
#end
<div id="xwikinav_header">
<div class="xwikiactions">
<a href="$doc.getPreviewUrl($context)" onclick="document.forms.edit.action=this.href; document.forms.edit.submit(); return false;">$msg.get("preview")</a>
<span> | </span>
<a href="$doc.getSaveUrl($context)" onclick="document.forms.edit.action=this.href; document.forms.edit.submit(); return false;" >$msg.get("save")</a>
</div>
</div>
#if($message)
<div id="xwikimessage">
$message
</div>
#end
<form id="edit" method="post" action="$doc.getPreviewUrl($context)">
#foreach($objlist in $doc.xWikiObjects)
#set( $class = $objlist.elementAt(0).xWikiClass)
#set( $nb = $doc.getObjectNumbers("${class.name}"))
<p>
<input type="hidden" name="${class.name}_nb" value="$nb" />
</p>
#end
<div id="xwikicontent">
$doc.getRenderedContent($context)
</div>
</form>
<div id="xwikinav_footer">
<div class="xwikiactions">
<a href="$doc.getPreviewUrl($context)" onclick="document.forms.edit.action=this.href; document.forms.edit.submit(); return false;">$msg.get("preview")</a>
<span> | </span>
<a href="$doc.getSaveUrl($context)" onclick="document.forms.edit.action=this.href; document.forms.edit.submit(); return false;" >$msg.get("save")</a>
</div>
</div>
#template("footer.vm")
