<script type="text/javascript">
<!--
var menustatus = "block";
function setmenustyle(style) {
 var parent = document.getElementById("xwikinav_sidebar");
 var list = parent.getElementsByTagName("div");
 for (var i=1;i<list.length;i++) {
   list[i].style.display = style;
 }
}
function showhidemenu() {
 if (menustatus == "none") {
   menustatus = "block";
 }
 else
   menustatus = "none";
 setmenustyle(menustatus);
}
// -->
</script>
#macro( versions )
#foreach( $rev in $tdoc.recentRevisions )
<a href="$viewurl?rev=$rev">$rev</a><span class="xwikisep"> | </span>
#end
#end
#if ($context.getUser().equals("XWiki.XWikiGuest"))
#set( $displaylog = "block")
#set( $displaysidebar = "none")
#else
#set( $displaylog = "block")
#set( $displaysidebar = "block")
#end
<div id="xwikinav_loginbutton" style="display: ${displaylog};">
#set( $logredir = $xwiki.getFormEncoded($xwiki.getRequestURL()))
#if ($context.getUser().equals("XWiki.XWikiGuest"))
<a href="../../login/XWiki/XWikiLogin?xredirect=$logredir">$msg.get("login")</a>
#else
<a href="../../logout/XWiki/XWikiLogout?xredirect=$logredir">$msg.get("logout")</a>
#end
</div>
<div id="xwikinav_sidebar" style="display: ${displaysidebar};">
<div id="xwikinav_sidebarbutton"><a href="" onclick="showhidemenu(); return false;">Menu</a></div>
<div id="xwikiusermenutitle" class="xwikimenu">$msg.get("usermenu")
</div>
#set( $pagemenu = $xwiki.getWebPreference("pagemenu"))
#if ( $pagemenu != "")
$xwiki.parseContent($pagemenu)
#else
<div id="xwikiusermenulinks" class="xwikimenu">
#set ($user = $context.getUser())
<a href="$xwiki.getActionUrl($user, "view")">$msg.get("homepage")</a><span class="xwikisep"> | </span>
#template("stylesheetlinks.vm")
</div>
<div id="xwikipagemenutitle" class="xwikimenu">$msg.get("pagemenu")</div>
<div id="xwikipagemenulinks" class="xwikimenu">
<a href="$attachurl">$msg.get("attachments") ($doc.getAttachmentList().size())</a><span class="xwikisep"> | </span>
<a href="$inlineurl#if($doc.language!="")?language=${doc.language}#end">$msg.get("editinline")</a><span class="xwikisep"> | </span>
<a href="$editurl#if($doc.language!="")?language=${doc.language}#end">$msg.get("editcontent")</a><span class="xwikisep"> | </span>
#if ($xwiki.isMultiLingual())
<span class="language">$msg.get("edit")</span>
<a class="language" href="${editurl}?language=default">default</a>
<a class="language" href="${editurl}?language=en">En</a>
<a class="language"  href="${editurl}?language=fr">Fr</a>
#end
<a href="${editurl}?xpage=editrights">$msg.get("editrights")</a><span class="xwikisep"> | </span>
<a href="${editurl}?xpage=editobject">$msg.get("editobject")</a><span class="xwikisep"> | </span>
<a href="${editurl}?xpage=editclass">$msg.get("editclass")</a><span class="xwikisep"> | </span>
<a href="$deleteurl">$msg.get("delete")</a><span class="xwikisep"> | </span>
<a href="${viewurl}?raw=1">$msg.get("raw")</a><span class="xwikisep"> | </span>
#versions()
</div>
<div id="xwikiwebmenutitle" class="xwikimenu">$msg.get("webmenu")</div>
<div id="xwikiwebmenulinks" class="xwikimenu">
<a href="../../view/${doc.web}/WebHome">$msg.get("space")</a><span class="xwikisep"> | </span>
<a href="../../view/${doc.web}/WebPreferences">$msg.get("webprefs")</a><span class="xwikisep"> | </span>
<a href="../../edit/${doc.web}/WebPreferences?xpage=editrights&amp;global=1">$msg.get("webrights")</a><span class="xwikisep"> | </span>
<a href="../../view/XWiki/XWikiPreferences">$msg.get("xwikiprefs")</a><span class="xwikisep"> | </span>
<a href="../../edit/XWiki/XWikiPreferences?xpage=editrights&amp;global=1">$msg.get("xwikirights")</a><span class="xwikisep"> | </span>
</div>
#end
</div>
<script type="text/javascript">
 setmenustyle(menustatus);
</script>