#template("xwiki.vm")
#template("httpheader.vm")
#template("header.vm")
<div id="xwikinav_header">
<div class="xwikiactions">
<a href="$doc.getActionUrl("save")" onclick="document.forms.edit.action=this.href; document.forms.edit.submit(); return false;" >$msg.get("save")</a>
</div>
</div>
<div id="xwikicontent">
$doc.getRenderedContent()
<form id="edit" method="post" action="$doc.getActionUrl("save")">
<p>
<input type="hidden" name="content" value="$xwiki.getFormEncoded($doc.content)" />
<input type="hidden" name="parent" value="$!doc.getParent()" />
<input type="hidden" name="template" value="$!doc.getTemplate()" />
<input type="hidden" name="xredirect" value="$!request.getParameter("xredirect")">

</p>
<div id="xwikiobject">
#template("hiddenobject.vm")
</div>
</form>
</div>
<div id="xwikinav_footer">
<div class="xwikiactions">
<a href="$doc.getActionUrl("save")" onclick="document.forms.edit.action=this.href; document.forms.edit.submit(); return false;" >$msg.get("save")</a>
</div>
</div>
#template("footer.vm")
