#template("xwiki.vm")
#template("httpheader.vm")
#template("header.vm")
<div id="xwikinav_header">
<div id="xwikiwebusermenu">
<span id="xwikiwebusermenutitle">$msg.get("webusermenu")</span>
$!xwiki.getWebPreference("menu")
</div>
</div>
#template("pagemenu.vm")
#if($message)
<div id="xwikimessage">
$message
</div>
#end
<div id="xwikicontent">
#if ($request.getParameter("raw").equals("1"))
<pre>
$cdoc.getEscapedContent()
</pre>
#else
$cdoc.getRenderedContent()
#end
</div>
<div id="xwikinav_footer">
</div>
#template("footer.vm")
