#set($viewurl=$doc.getActionUrl("view"))
#set($editurl=$doc.getActionUrl("edit"))
#set($parenturl=$doc.getParentUrl())
#set($inlineurl=$doc.getActionUrl("inline"))
#set($uploadurl=$doc.getActionUrl("upload"))
#set($attachurl=$doc.getActionUrl("attach"))
#set($deleteurl=$doc.getActionUrl("delete"))
#set($downloadurl=$doc.getActionUrl("download"))
#set($delattachmenturl=$doc.getActionUrl("delattachment"))
#set($parent="<a href='$parenturl'>${doc.parent}</a>")
#set($title="<a href='$viewurl'>${doc.fullName}</a>")
#set($skin=$xwiki.getSkin())
#set($copyright=$xwiki.getWebCopyright())

