#chartWizard{
}

#chwWizard{
  width: 600px;
	height: 300px;
  border: #888 1px dashed;
	border-collapse: collapse;
	border-spacing: 0;
	margin-top: 5px;
}

.chwTitle{
  color: #5368A6;
  font-size: 17px;
  font-style: italic;
}

#chwNavigation{
  width: 600px;
  height: 20px;
}

#chwNavigationButtons{
  height: 20px;
  background-color: #B6C5F2;
  border: black 1px solid;
  border-color: #FFF #FFF #5368A6 #FFF;
  margin: 13px 7px 10px 7px;
  padding-left: 4px;
}

#chwNavigationButtons > p{
  display: none;
}

img.chwNavigationImage, img.chwNavigationImageDisabled, img.chwNavigationImageHidden{
	margin: 3px 4px 2px 4px;
	height: 16px;
  vertical-align: middle;
}

img.chwNavigationImage{
  cursor: pointer;
}

img.chwNavigationImageHidden{
  display: none;
}

.chwButton, .chwButtonDisabled{
	text-decoration: none;
	color: #FFF;
	padding: 2px 15px 2px 15px;
	margin: 5px 5px 5px 5px;
}
.chwButton{
  background-color: #5368A6;
}
.chwButtonDisabled{
  background-color: #888;
  cursor: default;
}

td{
  vertical-align: top;
/*  border: black 1px solid;*/
}
#chwPreview{
  width: 300px;
  height: 250px;
  border: #888 1px dashed;
  text-align: center;
}
#chwPreviewImg{
  width: 256px;
}

#chwOptions{
 width: 285px;
}

#chwButtons{
  height: 30px;
	margin: 0;
	padding: 0;
}

.chwActivePage, .chwInactivePage{
  overflow: auto;
  width: 300px;
  height: 250px;
  padding: 10px;
}

.chwActivePage, .chwVisible{
  display: block;
}

.chwInactivePage, .chwHidden{
  display: none;
}

input, select{
  margin: 5px;
  margin-bottom: 10px;
  vertical-align: middle;
}

#chwPreview{
}