body{
  overflow: auto;
}
#chwForm{
  clear: both; /* I've noticed strange behavior in DeerPark Alpha 2 if I don't put this */
  margin: auto;
}
#chartWizard{
  margin: auto;
  text-align: center;
}

#chwWizard{
  width: 700px;
	height: 500px;
  border: #DDD 1px solid;
	border-collapse: collapse;
	border-spacing: 0;
	margin: 5px;
  margin: auto;
  text-align: left;
}

.chwTitle{
  color: #5368A6;
  font-size: 17px;
  font-style: italic;
}

#chwNavigation{
  height: 20px;
  margin: 0;
  padding: 0;
  border-style: hidden;
}

#chwNavigationButtons{
  height: 20px;
  background-color: #B6C5F2;
  border: black 1px solid;
  border-color: #FFF #FFF #5368A6 #FFF;
  margin: 0px 0px 0px 0px;
  padding-left: 4px;
}

#chwNavigationButtons > p{
  display: none;
}

img.chwNavigationImage, img.chwNavigationImageDisabled, img.chwNavigationImageHidden{
	margin: 3px 4px 2px 3px;
	height: 16px;
  vertical-align: middle;
}

img.chwNavigationImage{
  cursor: pointer;
}

img.chwNavigationImageHidden{
  display: none;
}

.chwButton, .chwButtonDisabled{
	text-decoration: none;
	color: #FFF;
	padding: 2px 15px 2px 15px;
	margin: 5px 5px 5px 5px;
}
.chwButton{
  background-color: #5368A6;
}
.chwButtonDisabled{
  background-color: #888;
  cursor: default;
}

td{
  vertical-align: top;
/*  border: black 1px solid;*/
}
#chwPreview{
  width: 300px;
  height: 450px;
  border: #DDD 1px solid;
  text-align: center;
}
#chwPreviewImg{
  width: 256px;
}

#chwOptions{
 width: 385px;
 height: 450px;
 overflow: auto;
}

fieldset.chwLargeFieldset, fieldset.chwSmallFieldset{
  border: #5368A6 1px solid;
  margin: 8px;
  padding: 6px;
  padding-bottom: 16px;
}

fieldset.chwSmallFieldset{
  border: #BBB 1px solid;
}

legend.chwLargeLegend, legend.chwSmallLegend{
  color: #5368A6;
  background-color: #B6C5F2;
  background-color: #FFF;
  font-size: 16px;
  font-weight: 900;
  padding: 2px 4px 2px 4px;
  cursor: pointer;
}

legend.chwSmallLegend{
  font-size: 12px;
  font-weight: 600;
}

input{
  margin-bottom: 0px;
}

label{
  margin-left: 8px;
}

#chwButtons{
	padding: 8px 12px 8px 12px;
}

.chwActivePage, .chwInactivePage{
  overflow: auto;
  width: 400px;
  height: 450px;
  padding: 10px;
}

.chwActivePage, .chwVisible{
  display: block;
}

.chwInactivePage, .chwHidden{
  display: none;
}

.chwCentered{
  text-align: center;
  margin: auto;
}

input, select{
  margin: 5px;
  margin-bottom: 10px;
  vertical-align: middle;
}

#chwPreview{
}


/*
  Position selector table
 */
.chwPositionSelector{
  margin: auto;
}
.chwPositionSelector td{
 border: navy 2px outset;
 cursor: pointer;
}

td.chwDisabledCell{
  background-color: #DDD;
  border: none;
  cursor: default;
}

.chwNormalCell{
  background-color: transparent;
}
.chwNormalCellHighlighted{
  background-color: #b6c5f2;
}
.chwSelectedCell{
 background-color: #5368a6;
}
.chwSelectedCellHighlighted{
 background-color: #c82;
}

.chwNormalBlockDiv{
  width: 16px;
  height: 16px;
}
.chwLargeBlockDiv{
  height: 16px;
}

/*
  Color chooser style
 */

.chwTransparent {
  color: black;
}
.chwBlack {
  color: black;
}
.chwWhite {
  color: black;
}
.chwSilver {
  color: silver
}
.chwGray {
  color: gray;
}
.chwMaroon {
  color: maroon;
}
.chwRed {
  color: red;
}
.chwPurple {
  color: purple;
}
.chwFuchsia {
  color: fuchsia;
}
.chwGreen {
  color: green;
}
.chwLime {
  color: lime;
}
.chwOlive {
  color: olive;
}
.chwOrange {
  color: orange;
}
.chwYellow {
  color: yellow;
}
.chwNavy {
  color: navy;
}
.chwBlue {
  color: blue;
}
.chwTeal {
  color: teal;
}
.chwAqua {
  color: aqua;
}

.chwCustomColorGroup{
  display: none;
  margin-bottom: 0px;
  padding-bottom: 0px;
}

.chwCustomColor{
}

/*
  Margin selector
 */
.chwMarginSelector{
  margin: auto;
  border: #BBB 1px dashed;
  border-spacing: 0px;
  border-collapse: collapse;
  vertical-align: middle;
}
.chwMarginSelector td{
  vertical-align: middle;
}
.chwFontFamily{
  max-width: 240px;
}
.chwLargeInput{
  text-align: center;
  width: 100%;
  margin: 0px;
}
.chwNormalInput{
  text-align: center;
  width: 32px;
  margin: 0px;
  vertical-align: text-top;
}
.chwSmallInput{
  width: 32px;
  margin-right: 0px;
}
.chwMarginCenter{
  font-size: 28px;
  padding: 0px;
  color: #BBB;
  border: #BBB 1px dashed;
}

td.chwLowered{
  vertical-align: text-bottom;
}

td.chwFormLabelCell{
  vertical-align: middle;
}
