#set($editors = $context.getEditorWysiwyg())
#if($editors)
<script language="javascript" type="text/javascript" src="/xwiki/tiny_mce/tiny_mce.js"></script>
<script language="javascript" type="text/javascript" src="/xwiki/wiki_editor/wiki_editor.js"></script>
<script language="javascript" type="text/javascript">
	wikiEditor.init({
		elements : "$editors",
	    language: "en",
		mode: "exact",
		content_css: "$xwiki.getSkinFile("style.css")",
		debug : false,
		remove_linebreaks : false,
		plugins: 'table, contextmenu, paste, searchreplace',
		wiki_plugins: 'core'
	});
</script>
#end
