/* Fix a rendering bug with the panels layout and the WYSIWYG editor, on IE 9
 (see: http://jira.xwiki.org/browse/XWIKI-10664). */
.gwt-TabPanelBottom {
  margin-right: -4px;
}

/* Fix a rendering bug with the breadcrumb on IE 8 (see: http://jira.xwiki.org/browse/XWIKI-10940). */
.breadcrumb > li {
  display: inline;
}

.buttonwrapper a.attachment-picker-start {
  filter: none;
}
