################################
##       QUICK SEARCH
################################
#if ($displayQuickSearch && ($xwiki.exists('Main.Search') || $xwiki.exists('Main.WebSearch')))
  <form class="navbar-form navbar-left globalsearch" role="search" action="#if($xwiki.exists('Main.Search'))$xwiki.getURL('Main.Search')#else$xwiki.getURL('Main.WebSearch')#end">
    <div>
      <div class="input-group">
        <input type="text" name="text" class="form-control" placeholder="$services.localization.render('panels.search.inputText')" id="headerglobalsearchinput" />
        <span class="input-group-btn">
          <input class="button btn" type="image" value="$services.localization.render('panels.search.submit')" alt="$services.localization.render('panels.search.submit')" src="$xwiki.getSkinFile('icons/xwiki/search.png')"/>
        </span>
      </div>
    </div>
  </form>
#end
