.wiki-code {
  overflow: auto;
}

.revision {
  font-family: monospace;
  background-color: #fff;
  color: #555;
  border: 1px solid #e1e4e8;
  margin: 1.5em auto;
  padding: 0.5em;
  border-radius: .25em;
  box-shadow: none;
  counter-reset: line;
}

.revision td {
  border: 0;
  padding: 0 0.5em;
}

.revision .group {
  border-width: 1px;
  border-color: #eee;
}

.revision .line:target {
  background-color: #fffbdd;
}

.revision .line-number {
  padding: 0 .5em;
  margin-right: .5em;
  min-width: 3em;
  text-align: right;
}

.revision .version, .revision .line-number {
  text-align: right;
}

.revision .author, .revision .version, 
.revision .line-number {
  background-color: #fafbfc;
}

.revision .line-number {
  border-right: 1px solid #eee;
}

.revision .line-number a {
  color: rgba(27, 31, 35, 0.3);
}

.revision .author img {
  max-width: 16px;
  max-height: 16px;
  border-radius: 5px;
}

.revision .content {
  word-break: break-all;
  /* Preserve the source formatting and wrap long lines that exceed the available width. */
  white-space: pre-wrap;
}

.unselectable {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
