<?xml version="1.0" encoding="UTF-8"?>

<xwikidoc>
<web>AnnotationCode</web>
<name>Settings</name>
<language></language>
<defaultLanguage>en</defaultLanguage>
<translation>0</translation>
<parent></parent>
<creator>XWiki.Admin</creator>
<author>XWiki.Admin</author>
<customClass></customClass>
<contentAuthor>XWiki.Admin</contentAuthor>
<creationDate>1264870880000</creationDate>
<date>1264882934000</date>
<contentUpdateDate>1264882934000</contentUpdateDate>
<version>1.0</version>
<title></title>
<template></template>
<defaultTemplate></defaultTemplate>
<validationScript></validationScript>
<comment></comment>
<minorEdit>false</minorEdit>
<syntaxId>xwiki/2.0</syntaxId>
<hidden>false</hidden>
<content>{{velocity}}
{{html clean="false"}}
&lt;div class="annotationsettings"&gt;
&lt;input type="checkbox" name="annotationsdisplay" id="annotationsdisplay" /&gt;
&lt;label for="annotationsdisplay"&gt;$msg.get('annotations.settings.display')&lt;/label&gt;
{{/html}}
{{info}}To annotate a piece of text, select it and hit **Ctrl + M (Meta + M)** or **Ctrl + I (Meta + I)**.{{/info}}
{{html clean="false"}}
&lt;/div&gt;
{{/html}}
{{/velocity}}</content>
</xwikidoc>
