.theader {
   background-color: #ccc;
   color: #FFF;
   font-weight: bold;
   font-size: 1em;
}

#memberstable {
    width: 500px;
    margin-bottom: 5px;
}

#specialusersandgroups {
   border-collapse: collapse;
   border: 1px solid #7c7c7c;
   width: 100%;
}

#specialusersandgroups td {
    border: 1px solid #7c7c7c;
}

.manage {
	text-align: center;
	width: 15%;
}

.hmanage {
	width: 15%;
	padding-left: 10px;
}


.rights {
	text-align: center;
	padding-left: 0px !important;
	padding-top: 4px;
	width: 9%;
}

#usersandgroupstable.spacerights .rights {
      width: 12% !important;
}

#usersandgroupstable.rights .rights {
      width: 15% !important;
}

.spaceName {
	padding: 10px 5px;
}

#tdAddNewUserOrGroup {
	padding-top: 11px;
}


#tdAddNewUserOrGroup a {
display: inline-block;
display:inline;
font-size: 12px;
padding: 3px 10px;
	line-height: 24px;
	font-weight: bold;
margin:0px !important;
min-height:24px !important;
background:transparent url( images/buttons3.png ) repeat-x scroll right top;
border: 1px solid #8f908e;
color: #FFF;
white-space: nowrap;
        background:transparent url( images/buttons3.png ) repeat-x scroll left 25%;
border-color: #94ad12;        
}

#errMsg {
        color: #DD7700;
        font-size: 12px;
        font-weight: bold;
}

#XWikiGuestSpecial {
        background-color: #fff;
        color: #000;
}

.suorg {
  padding-left: 10px;
  padding-top: 4px;
}

.username {
  padding-left:10px;
}

#addNewMember {
   margin-top: 5px;
}

.addlabel {
   font-weight: bold;
}
