#template("xwiki.vm")
#template("httpheader.vm")
#template("header.vm")
#template("viewheader.vm")
<div id="xwikicontent">
#if($request.get("type"))
#set($type= $request.get("type"))
#else
#set($type = "html")
#end
#if ($tdoc.realLanguage!="")
#set($lang = "&language=${tdoc.realLanguage}")
#else
#set($lang = "")
#end
$msg.get("currentdifftype"): $type (
<a href="$doc.getURL("view", "xpage=changesall&type=wiki$lang")">$msg.get("wikidiff")</a>
<a href="$doc.getURL("view", "xpage=changesall&type=source$lang")">$msg.get("sourcediff")</a>
<a href="$doc.getURL("view", "xpage=changesall&type=html$lang")">$msg.get("htmldiff")</a>
)
#set($firstrev = $tdoc.getVersion())
#set($nextversion = $firstrev)
#foreach ($version in $tdoc.getRecentRevisions(0))
#if($version != $firstrev)
#set($origdoc = "")
#set($newdoc = "")
#set($origdoc = $xwiki.getDocument($tdoc, $version))
#set($newdoc = $xwiki.getDocument($tdoc, $nextversion))
#template("changesdoc.vm")
#set($nextversion = $version)
#end
#end
</div>
#template("basefooter.vm")
#template("footer.vm")
