#template("xwiki.vm")
#template("httpheader.vm")
#template("header.vm")
#template("viewheader.vm")
<div id="xwikicontent">
#set($rev1= $request.get("rev1"))
#set($rev2= $request.get("rev2"))
#if($request.get("type"))
#set($type= $request.get("type"))
#else
#set($type = "html")
#end
#if ($tdoc.realLanguage!="")
#set($lang = "&language=${tdoc.realLanguage}")
#else
#set($lang = "")
#end
#set($params="xpage=changes&rev1=${rev1}&rev2=${rev2}$lang")
$msg.get("currentdifftype"): $type (
<a href="$doc.getURL("view", "$params&type=wiki")">$msg.get("wikidiff")</a>
<a href="$doc.getURL("view", "$params&type=source")">$msg.get("sourcediff")</a>
<a href="$doc.getURL("view", "$params&type=html")">$msg.get("htmldiff")</a>
)
#set($origdoc = $xwiki.getDocument($tdoc, $rev1))
#set($newdoc = $xwiki.getDocument($tdoc, $rev2))
#template("changesdoc.vm")
<br /><br />
</div>
#template("basefooter.vm")
#template("footer.vm")
