#template("xwiki.vm")
#template("httpheader.vm")
#template("header.vm")
#template("viewheader.vm")
<div id="xwikicontent">
<h2>$msg.get("documenthistory")</h2>
<form action="$doc.getURL("view")" method="post">
<input type="hidden" name="xpage" value="changes" />
<p>
<input type="submit" accesskey="v" value="$msg.get("compare")" />
<input type="button" accesskey="a" value="$msg.get("allchanges")" onclick="location='$doc.getURL("view","xpage=changesall")'" />
#if ($tdoc.realLanguage!="")
#set($lang = "&language=${tdoc.realLanguage}")
#else
#set($lang = "")
#end
#set($firstrev = $tdoc.getVersion())
#set($nextversion = $firstrev)
<ul class="star">
#foreach ($version in $tdoc.getRecentRevisions(0))
#if($version != $firstrev)
#set($origdoc = "")
#set($newdoc = "")
#set($newdoc = $xwiki.getDocument($tdoc, $nextversion))
<li>
$msg.get("version") <a href="$tdoc.getURL("view","rev=$nextversion")">$nextversion</a>
<input type="radio" name="rev2" value="$nextversion" />
<input type="radio" name="rev1" value="$nextversion" />
#if($newdoc=="")
($msg.get("cannotreaddocumentversion") $nextversion)</h3>
#else
$msg.get("editedby") $xwiki.getLocalUserName($newdoc.author) $msg.get("on") $xwiki.formatDate($newdoc.date)
#end
</li>
#set($nextversion = $version)
#end
#end
</ul>
</p>
</form>
</div>
#template("basefooter.vm")
#template("footer.vm")
