#template('colorThemeInit.vm')
.collapse-toggle {
  color: $theme.textSecondaryColor;
  cursor: pointer;
  font-size: smaller;
}
.collapse-toggle .icon-closed,
.collapse-toggle .icon-opened {
  width: 10px;
}
.collapse-toggle .icon-closed {
  display: none;
}
.collapse-toggle .icon-opened {
  display: inline-block;
}
.collapse-toggle.collapsed .icon-closed {
  display: inline-block;
}
.collapse-toggle.collapsed .icon-opened {
  display: none;
}
