#template('colorThemeInit.vm')
.xform label.collapsible {
  cursor: pointer;
}
.xform label.collapsible:before {
  color: $theme.textSecondaryColor;
  content: "\25BC";
  margin: 0 .5em 0 -1.5em;
}
.xform label.collapsible:hover:before {
  color: $theme.textColor;
}
.xform label.collapsible.collapsed:before {
  content: "\25B6";
}