#body {
	background-color: #4C5661;
}

.heading-1, .heading-1-1, .heading-1-1-1, .heading-1-1-1-1 {
  color: #000;
}

#companylogo img {}/* supprimé : logo transparent*/

#xwikimaincontainer{
	background-color: #fff;
	border: 2px solid #474f57;
}

  
#xwikimaincontainerinner{
	background-color: transparent;
	border: 1px solid #444B53;
}


#body #contentcontainer, #headerglobal, #xwikieditor{
  border-color: #676D73; /* couleur de fond de la sidebar*/
}



#headerglobal{
	background-color: transparent;
	background-image: url("header-bg.jpg");
	background-position: right bottom;
	background-repeat: no-repeat;
}
#globallinks {
  background-image: url("headerperso-bg.jpg");
  background-position: bottom left;
}
#globallinks a,#globallinks a:link,#globallinks a:visited,#globallinks a:active {
	color: #000;}
#globallinks a:hover {
	color: #0066FF;
}

#headeruser, #headeradmin, #headerlogin, #headerlogout, #headerlanguages, #headerregister{
  padding-right: 20px;
  background: transparent right center no-repeat;
}
#headeruser{
  background-image: url("icons/black-budy.png");
}
#headeradmin{
  background-image: url("icons/black-admin.png");
}
#headerlogin{
  background-image: url("icons/black-budy.png");
}
#headerregister{
  background-image: url("icons/black-register.png");
}
#headerlogout{
  background-image: url("icons/black-logout.png");
}
#headerlanguages{
  background-image: url("icons/black-lang.png");
}

/*
---------------------------------------
Space header, footer
---------------------------------------
*/
#headerspace, #footerglobal {
	background-color: #384554;
	color: #fff;
}
#headerspace a, #headerspace alink, #headerspace a:visited,#headerspace a:active {
	color:  #fff;
	text-decoration: none;
}
/*
---------------------------------------
Content
---------------------------------------
*/
.content #contentcolumn, .contenthideleft #contentcolumn, #editcolumn{
  background-image: url("icons/content-bg-r.png");
  background-position: right top;
  background-repeat: no-repeat;
}
.content #contentcontainerinner, .contenthideright #contentcontainerinner{
  background-image: url("icons/content-bg-l.png");
  background-position: left top;
  background-repeat: no-repeat;
}
.main{
  background-color: transparent;
}

/*
---------------------------------------
Zone for Comments, attachments, History... 
---------------------------------------
*/
ul.xwikiintra{
  border-bottom-color: #DDD;
  background-color: #EEE;
}

.xwikiintra li{
  background-color: #BBB;
  border-color: #CCC;
  border-right-color: #AAA;
}

.xwikiintra li a, .xwikiintra li.active a{
  color: #000;
}

.xwikiintra li.active{
  background-color: #FFF !important;
  border-bottom-color: #FFF;
  border-top-color: #DDD;
}

table.xwikidatatable, table.xwikidatatable th{
  border-color: #DDD;
}
table.xwikidatatable th{
  color: #000;
  background-color: transparent;
  border-color: #CCC;
  border: none;
}

.xwikiintracontent legend, .xwikiintracontent fieldset{
  border-color: #ddd;
}

.xwikiintracontent fieldset.collapsed legend{
  background-color: transparent;
}

/*
---------------------------------------
Menu
---------------------------------------
*/
#actionmenu {
  background-color: #EEE;
  background-image: url("actionbar-bg.png");
  background-repeat: repeat-x;
  border-color:  #333;
}
.rightmenu a, .rightmenu a:link.rightmenu a:visited,.rightmenu a:active{
	  border-color: #333; 
	  background:transparent;  
	  color:#333; 
}
.topmenuentry{
   border-color: #333; 
   background:transparent right center no-repeat;
}
.tme{
  background: transparent url("icons/black-arrow-ab.png") right center no-repeat;
}
.topmenuentry a, .topmenuentry a:link, .topmenuentry a:visited, .topmenuentry a:active, .rightmenu a, .rightmenu a:hover {
	color:#333; 
}
.topmenuentry:hover, .rightmenu:hover {
  background-image: url("actionbar-bg2.png") !important;
  background-repeat: repeat-x;
}
.rightmenu{
  z-index: 100;
}
.topmenuentry a strong, .rightmenu a strong{
  background:transparent left center no-repeat;
  padding: 0px 20px;
  color: #333 !important;
}
#tmEdit a strong{
  background-image: url(icons/black-edit-ab.png);
}
#tmShow a strong{
  background-image: url(icons/black-view-ab.png);
}
#tmPrint a strong{
  background-image: url(icons/black-print-ab.png);
}
#tmWatch a strong{
  background-image: url(icons/black-fav-ab.png);
}
#tmDoc strong{
  background-image: url(icons/black-doc-ab.png);
}
#tmDoc:hover strong{
  background-image: url(icons/black-doc-ab2.png);
}
#tmDelete a strong{
  background-image: url(icons/black-delete.png);
}
#tmEdit a:hover strong{
  background-image: url(icons/black-edit-ab2.png);
}
#tmShow a:hover strong{
  background-image: url(icons/black-view-ab2.png);
}
#tmPrint a:hover strong{
  background-image: url(icons/black-print-ab2.png);
}
#tmWatch a:hover strong{
  background-image: url(icons/black-fav-ab2.png);
}
#tmDelete a:hover strong{
  background-image: url(icons/black-delete2.png);
}

.submenu{
  border: 2px solid #000;
  background-color: #E8F1FF;
}
.submenu .submenuitem{
  border-color: #000;
}
.submenuitem a, .submenuitem a:link, .submenuitem a:visited, .submenuitem a:active  {
color:#333; 
}

.submenuitem a:hover {
background-image: none;
background-color: #BFE4FF;
background-repeat: repeat-x;
}

/*
---------------------------------------------
"Message Boxes"
---------------------------------------------
*/
fieldset.xwikimessage{
  border-color: #BBB;
  background-color: #F5F5F5;
}

fieldset.xwikimessage legend{
  background-color: #BBB;
  color: #FFF;
}

input.button, button.button{
  background-color: #EEE;
}
input.button:hover, button.button:hover{
  color: #369;
}
#body .buttonwrapper *{
  background-color: transparent;
  background: transparent url("icons/black-button24r.png") right center no-repeat;
  color: #FFF;
  padding: 4px 4px;
  border: none;
}
#body .buttonwrapper *:hover{
  background-image: url("icons/black-button24r-hover.png")
}
.topbuttons, .bottombuttons{
  float: right;
}
/*
---------------------------------------
Editors
---------------------------------------
*/

.xwikitabbar li{
  background-color: #CDF;
  border-color: #ACF;
  border-bottom-color: #CCC;
  border-left-color: #DDF;
  border-top-color: #DDF;
}

.xwikitabbar li a{
  color: #FFF !important;
}
.xwikitabbar li.active a{
  color: #FFF !important;
}

.xwikitabbar li.active{
  background-color: #FFF !important;
  border-color: #DDD;
  border-bottom-color: #FFF;
}

/*
--
*/
#xwikicontentedit{
  border-color: #ddd;
}

/*
---------------------------------------
Panels
---------------------------------------
*/
#leftPanels, #rightPanels{
  border-top: 20px solid #384554;
  background-color: #676D73;
  color: #fff;
}
#globalsearch input.button{
background-color: #384554;}


.fakepanel{
  background-color: #EEE;
  border-color: #E5E5E5;
}

.panel{
  border-color: #DDD;
  background-color: #384554;
  background-color: transparent;
}
.xwikipanelcontents{
  background-color: #384554;
}
.expanded .xwikipaneltitle{
  background-color: #fff;
  color: #000;
}
.collapsed .xwikipaneltitle{
  background-color: #384554;
  color: #fff;
  -moz-border-radius: 50px;
}

.expanded .xwikipaneltitle:hover{
  color: #006ACC;
}
.collapsed .xwikipaneltitle:hover{
  color: #C0D4E7;
}

/*
----------------------------------
Rico Acordeon -- Sintax Help Panel
----------------------------------
*/
.accordionTabContentBox table th{
  background-color: #FFF;
  border-bottom-color: #DDD;
}

.accordionTabTitleBar{
  border-color: #FFF;
  border-bottom-color: #DDD;
  border-right-color: #DDD;
  background-color: #EEE;
}

/*
----------------------------------
Misc
----------------------------------
*/

td.label{
  color: #777;
}

#xwikiclassproperties, #xwikiobjects{
  border-color: #DDD !important;
}

#xwikihelpsyntax{
  border-top-color: #DDD;
}

.editactions a{
  background-color: #EEE;
  color: #000;
  border-color: #DCDCDC;
}

.editactions a:hover{
  background-color: #FFD;
}
/*
---------------------------------------------
"Message Boxes"
---------------------------------------------
*/
fieldset.xwikimessage{
  border-color:#658BB2;
}

fieldset.xwikimessage legend{
  background-color: #658BB2;
  color: #FFF;
}



tr.row.odd{
  background-color: #EEE;
}
tr.row.even{
  background-color: #FFF;
}
tr th{
  background-color: #EEE;
}
body#body{
}

a:link{
  color: #369;
}
a:visited{
  color: #777;
}

tr.row.odd{
  background-color: #FFF;
}
tr.row.even{
  background-color: #E4F6FF;
}
th{
  background-color: #CDF;
}

.xwikibuttonlink a{
  background-color: #369;
  color: #fff;
}
.xwikibuttonlink a:hover{
  background-color: #CDF;
  color: #369;
}

.xwikitabbar li{
  text-align: center;
  display: block;
  float: left;
  width: 150px;
  background: transparent url(icons/black-tabedit.png) top center no-repeat;
  border: none;
}
.xwikitabbar li.active{
  background: transparent url(icons/black-tabedit-current.png) top center no-repeat;
  border: none;
}

#xwikirightstable{
  border-color: #DDD;
}
#xwikirightstable th{
  border-top-color: #DDF;
  border-right-color: #ACF;
  border-bottom-color: #CCC;
  border-left-color: #DDF;
}
#xwikirightstable td, #xwikirightstable tr{
  border-color: #DDD;
}

.article_footer {
  color: #777;
  border-color: #777;
}

.xwikiuserblog .rssfeed {
  border-top-color: #DDD;
  border-left-color: #DDD;
  border-bottom-color: #EEE;
  border-right-color: #EEE;
}
.rsschanneltitle{
  background-color: transparent;
}

.panel a{
  color: #FFF;
  text-decoration: none;
  font-weight: bold;
}

.panel .accordionTabTitleBar{
  background-color: #384554 !important;
  border: none !important;
  padding: 0px 0px 0px 0px;
  margin: 0px;
  border-top: 1px solid #384554 !important;
  border-bottom: 1px solid #384554 !important;
}
.panel .accordionTabTitleBar h6{
  margin: 0px;
  color: #FFF !important;
  font-style: normal !important;
  font-weight: 900 !important;
  font-size: 100% !important;
  padding-left: 10px;
  line-height: 1.3em;
  border-bottom: 2px solid #384554 !important;
  border-top: 1px solid #384554;
}
.panel .accordionTabTitleBar h6:hover{
  background: transparent url("icons/black-more-3.png") right center no-repeat !important;
}

.panel .accordionTabContentBox{
  background-color: #C0D4E7 !important;
  border: 1px solid #C0D4E7 !important;
  margin: 0px;
  padding: 0px;
}
.panel .accordionTabContentBox ul{
  margin: 4px;
  padding-left: 2em;
}
.panel .accordionTabContentBox ul{
  list-style-type: disc;
}
.accordionTabContentBox{
  color: #384554 !important;
  border-width: 1px !important;
}
.panel .accordionTabContentBox a{
  color: #2E5A87 !important;
}
.panel .accordionTabContentBox a:hover{
  color: #D70 !important;
}

#body .panel .tbexpanded{
  background-color: #FFF !important;
  border-top: 1px solid #D6D6D6 !important;
  border-bottom: 1px solid #384554 !important;
}

#body .panel .tbexpanded h6{
  color: #384554 !important;
  border-bottom: 2px solid #DFE5E4 !important;
  border-top: 1px solid #DFE5E4;
}
.panel .tbexpanded h6:hover{
  background-image: none !important;
}


.placeholder{
  background-color: #DDD;
  border: 1px dotted #CCC;
}

#dragbox{
  background-color: #c82 !important;
  border: 1px dotted #fff !important;
}

input.button{
  background-color: #3381CC;
  border: solid 0px #3381CC;
  color: #fff;
  font-weight: bold;
  padding: 2px;
}

input.button:hover{
  background-color: #98BFE6;
}

input[type=submit]{
  background-color: #3381CC;
  border: solid 0px #3381CC;
  color: #fff;
  font-weight: bold;
  padding: 2px;
}

textarea {
  background-image: url("black-textareabg.png");
  background-position: 0px 0px;
  background-repeat: no-repeat;
  background-color: #e6eaee;
  border: 1px solid #000;
  padding: 2px;
}

input[type=text], input[type=password], input[type=checkbox], input[type=file], select{
  background: #e6eaee url("black-textareabg.png") 0px 0px no-repeat;
  border: 1px solid #000;
  padding: 2px;
}

/*ie nescessite de passer par une classe ou un selecteur sinon il pose des problemes*/
input.ie{
  background: #e6eaee url("black-textareabg.png") 0px 0px no-repeat;
  border: 1px solid #000;
  padding: 2px;
}

input:focus, textarea:focus {
  background-image: url("black-textareabg1.png");
}

label {
  display: block;
}
form label {
  display: block;
  padding: 0px;
}

form input {
  /* display: block;*/
  margin-top: 3px;
}

input[type=checkbox], input[type=radio]{
  float: left;
  margin-right: 0.75em;
}

.buttonwrapper{
  background: transparent url("icons/black-button24l.png") left center no-repeat;
  min-height: 24px !important;
  float: left;
  display: block;
  margin: 10px 0px 10px 10px;
}
.buttonwrapper:hover{
  background-image: url("icons/black-button24l-hover.png");
}
.buttonwrapper *{
  min-height: 24px;
  margin-top: 0px;
}

.important{
  color: #C82 !important;
}

#xwikidataindex{
  display: none;
}

#commentscontent{
}
/*
.commentsno{
  background: transparent url(icons/black-comment2.png) center center no-repeat;
}
*/

#xwikidata #attachmentscontent{
  background-color: #E4F6FF;
}
#xwikidata form{
  margin-top: 10px !important;
  margin-bottom: 10px !important;
}
#comments, #attachments{
  padding-bottom: 10px;
}

#xwikidata form{
  width: 90%;
  margin: auto;
}
* html #attachments form{
  width: 100%;
  margin-left: 5%;
  margin-right: 5%;

}
.xwikiintratitle{
  display: block !important;
}

a.deletelink{
  padding-left: 20px;
  background: transparent url(icons/black-delete.png) left center no-repeat;
  text-decoration: none;
}


a.deletelink:hover{
  color: #900;
  text-decoration: underline;
}



/*-----------------------------*/

#resizeta{
  height: 4px;
  background-color: #DDD;
  border: 1px #DDD outset;
  cursor: s-resize;
}

.about, #footerglobal{
  font-variant: small-caps;
  font-size: 90%;
}
.about{
  color: #888;
}
.about a{
  color: #333;
  text-decoration: none;
}
#footerglobal a{
  color: #CDE;
  text-decoration: none;
}
#footerglobal a:hover{
  color: #D70;
}

a:hover{
  color: #C82;
  color: #D70;
}