###
###
###
#if((!$showactions)||($showactions==1))
<script type="text/javascript">
function checkDocumentContent() {
// <![CDATA[
  if ((document.forms.${formname}.content)&&(wikiEditor!=null)&&(wikiEditor.getContent()=="")) {
    var content = document.forms.${formname}.content.value;
    if (content == null || content == "") {
      alert("$msg.get('wikicontentcannotbeempty')");
      return false ;
    }
  }
  return true;
}
// ]]>
</script>
#set($param = "")
#if ($sectionNumber != 0)
   #set($param = "section=$sectionNumber")
#end
  <span class="buttonwrapper"><button class="button" type="submit" name="formaction" value="_cancel_" onclick="document.forms.${formname}.action='$doc.getURL("cancel")'; if (document.forms.${formname}.onsubmit) document.forms.${formname}.onsubmit();if (checkDocumentContent()) document.forms.${formname}.submit(); return false;">$msg.get("cancel")</button></span>
#if($previewenabled)  <span class="buttonwrapper"><button class="button" type="submit" name="formaction" value="_preview_" onclick="document.forms.${formname}.action='$doc.getURL("preview", $param)'; if (document.forms.${formname}.onsubmit) document.forms.${formname}.onsubmit();if (checkDocumentContent()) document.forms.${formname}.submit(); return false;">$msg.get("preview")</button></span>#end
#if($editor=="wiki" || $editor == "wysiwyg" || $editor=="object")  <span class="buttonwrapper"><button class="button" type="submit" name="formaction" value="_saveandcontinue_" onclick="document.forms.${formname}.action='$doc.getURL("saveandcontinue", $param)'; if (document.forms.${formname}.onsubmit) document.forms.${formname}.onsubmit();if (checkDocumentContent()) document.forms.${formname}.submit(); return false;">$msg.get("saveandcontinue")</button></span>#end
  <span class="buttonwrapper"><button  class="button" type="submit" name="formaction" value="_save_" onclick="document.forms.${formname}.action='$doc.getURL("${saveaction}", $param)'; if (document.forms.${formname}.onsubmit) document.forms.${formname}.onsubmit();if (checkDocumentContent()) document.forms.${formname}.submit(); return false;" >$msg.get("saveandview")</button></span>
#end
