#if($context.getMode()==0)
<?xml version="1.0" encoding="$xwiki.encoding" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="$context.language" xml:lang="$context.language">
<head>
<title>
#if(!$title)
#set( $title = $!xwiki.getWebPreference("title"))
#if ( $title != "")
$xwiki.parseContent($title)
#else
XWiki - $!doc.web - $!doc.displayTitle
#end
#else
$title
#end
</title>
<meta http-equiv="Content-Type" content="text/html; charset=$xwiki.encoding" />
$xwiki.parseContent($!xwiki.getWebPreference("meta"))
#template("stylesheets.vm")
<meta http-equiv="imagetoolbar" content="no"/>
<script type="text/javascript" src="$xwiki.getSkinFile("skin.js")"></script>
<script type="text/javascript" src="$xwiki.getSkinFile("rico/prototype.js")"></script>
<script type="text/javascript" src="$xwiki.getSkinFile("rico/rico.js")"></script>
<script type="text/javascript" src="$xwiki.getSkinFile("rico/xwrico.js")"></script>
<script type="text/javascript" src="$xwiki.getSkinFile("xwiki.js")"></script>
<script type="text/javascript" src="$xwiki.getSkinFile("browserdetect.js")"></script>
<script type="text/javascript" src="$xwiki.getSkinFile("chwScripts.js")"></script>
#template("analytics.vm")
#if(($context.action=="inline")||($context.action=="edit") || ($context.action=="admin"))
<script type="text/javascript">
// <![CDATA[
 var cancelEditNextOnunload;
 var cancelCancelEditFlag = true;
 var  lockEditFlag = false;

 function cancelEditResponse(){
 }

 function cancelEdit(){
     if (cancelCancelEditFlag) {
       var surl = "$doc.getExternalURL("cancel", "ajax=1")";
       var myAjax = new Ajax.Request(
                 surl,
                 {
                     method: 'get',
                     parameters: "",
                     asynchronous: true
                 });
        cancelCancelEditFlag = false;
     }
     if (cancelEditNextOnunload!=null)
           cancelEditNextOnunload();
 }

 function lockEdit(){
    if (lockEditFlag==false) {
#if($context.action=="inline")
      var surl = "$doc.getExternalURL("lock")?action=inline&ajax=1&${docvariant.replace("&amp;", "&")}";
#else
      var surl = "$doc.getExternalURL("lock")?ajax=1&${docvariant.replace("&amp;", "&")}";
#end
      var myAjax = new Ajax.Request(
                surl,
                {
                    method: 'get',
                    parameters: "",
                    asynchronous: true
                });
       lockEditFlag = false;
    }
 }

 function prepareCancelEdit() {
     cancelEditNextOnunload = document.onunload;
     document.onunload = cancelEdit;
     lockEdit();
 }
 function cancelCancelEdit() {
     cancelCancelEditFlag = false;
 }
// ]]>
</script>
</head>
<body onunload="return false; cancelEdit()" onload="prepareCancelEdit(); createColorPicker();" id="body" class="${context.action}body">
<div id="xwikimaincontainer">
<div id="xwikimaincontainerinner">
#else
</head>
<body id="body" class="${context.action}body">
<div id="xwikimaincontainer">
<div id="xwikimaincontainerinner">
#end
#else
#template("stylesheets2.vm")
<script type="text/javascript" src="$xwiki.getSkinFile("skin.js")"></script>
#end
