<div id="xwikifooter">
 <div id="xwikidocinfo">
 $!headertitle
 ($tdoc.getRealLanguage())
 <br />
 #if ($tdoc)
 $msg.get("creator"): $tdoc.creator
 &nbsp;$msg.get("date"): $!xwiki.formatDate($tdoc.creationDate)
 <br />
 $msg.get("lastauthor"): $tdoc.author
 &nbsp;$msg.get("date"): $!xwiki.formatDate($tdoc.date)
 #end
 </div>
 <div id="xwikifootertext">
 $!copyright
 </div>
 <div id="xwikifooterhelp">
 $!help
 </div>
</div>
#if($context.getMode()==0)
</body>
</html>
#end
