/* Presentation stylesheet */

/* classes */
.box,
.main-content {
  margin: 0.5em;
}

/* dom-tree */
.dom-tree {
  padding: 0 0 0 1.5em;
  color: #999;
}
.dom-tree code {
  font-weight: bold;
}
.dom-tree ul ul ul  {
  list-style: disc;
}
.dom-tree ul ul ul ul  {
  list-style: circle;
}
.dom-tree ul ul ul ul ul {
  list-style: square;
}
.dom-tree dl,
.dom-tree dt,
.dom-tree dd {
  color: black;
  margin: 0;
  padding: 0;
  display: inline; /* IE 5.x doesn't like this */
}
.dom-tree dd {
  font-style: italic;
}











/*
---------------------------------------
Global header
---------------------------------------
*/
#globalmenu a {
  text-decoration: none;
}

#companylogo img {
  text-decoration: none;
  border: none;
}

.breadcrumbspace{
  font-weight: bold;
  font-variant: small-caps;
}

input[type=submit], input[type=reset], input[type=button]{
  font-family: Helvetica;
  font-weight: bold;
  padding: 1px 16px;
  width: auto;
  overflow: visible;
}
.button{
  font-family: Helvetica;
  font-weight: bold;
  padding: 1px 16px;
  width: auto;
  overflow: visible;
}
input[type=submit]:hover, input[type=reset]:hover, input[type=button]:hover, .button:hover{
  cursor: pointer;
}
.button:hover{
  cursor: pointer;
}
.xwikiintra li:hover, .xwikitabbar li:hover, .xwikiintracontent legend:hover, .xwikiintracontent fieldset.collapsed legend:hover{
  background-color: #FFD;
}
.xwikiintracontent h4{
  font-size: 110%;
  text-align: left;
  text-transform: none;
  margin: 0px;
}
#xwikihistorylist li{
  list-style-type: none;
}
table.xwikidatatable th{
  text-align: center;
  border: 1px solid;
}
table.xwikidatatable td{
  padding: 2px 8px;
  vertical-align: middle;
}

/*
---------------------------------------
Menu
---------------------------------------
*/
.rightmenu a{
  font-weight: bold;
  text-decoration: none;
  font-size: 110%;
}
.leftmenu{
  padding-right: 2em;
}


/*
---------------------------------------
Panels
---------------------------------------
*/
.xwikipaneltitle{
  padding: 0px 4px;
  margin: 0px;
  font-size: 0.9em;
  background: url("icons/black-less.png") no-repeat right center;
  cursor: pointer;
}

.collapsed .xwikipaneltitle{
  background-image: url("icons/black-more-3.png") 
}
.xwikipaneltitle:hover{
  cursor: pointer;
}
.collapsed .xwikipaneltitle:hover{
  background-image: url("icons/black-more-3.png") 
}
.xwikipanelcontents{
  padding: 4px;
}

.xwikilogintable{
  margin: auto;
}
.xwikilogintable th{
  text-align: right;
  background-color: transparent;
}
.xwikilogintable td{
  text-align: left;
}


.xwikitabbar li.active{
  border: 1px solid;
  border-bottom: 3px solid;
}

#xwikirightstable{
  width: 624px;
  margin: 5px 0px;
  border: 1px solid;
}
#xwikirightstable th{
  text-align: center;
  border: 1px solid;
}
#xwikirightstable td, #xwikirightstable tr{
  border: 1px solid;
  text-align: center;
}
.panel input.panelinput, .panel select{
  width: 135px;
}
#xwikiincludeddocuments .xwikibuttonlink a{
  padding: 2px 8px;
  margin-left: 8px;
}

/*
---------------------------------------
Articles
---------------------------------------
*/
.article_title {
 font-size: 120%;
 border-bottom: 1px;
}

.article_content {
 padding: 10px;
}

.article_date {
 font-size: 120%;
 border-bottom: 1px solid;
}

.article_footer {
 border-top: 1px solid;
 font-size: 75%; 
 font-weight: bold; 
}

/*
---------------------------------------
Messages
---------------------------------------
*/
.error{
  color: #F00;
}

.fatalerror{
  background-color: #F00;
  color: #FFF;
  font-weight: bold;
  font-size: 120%;
}

.warning{
  color: #c82;
}

div.errormessage, div.warningmessage, .infomessage, div.plainmessage{
  margin: 4px 0px 4px;
  border: 1px solid #DDD;
  padding: 8px 8px 8px 28px;
  background: #F5F5F5 url(icons/msg.png) 8px 8px no-repeat;
  text-align: left;
}

.infomessage{
  background-image: url(icons/msginfo.png);
  color: #369;
}
div.plainmessage{
  background-image: none;
  color: #369;
}
div.warningmessage{
  background-image: url(icons/msgwarning.png);
  color: #c82;
}
div.errormessage{
  background-image: url(icons/msgerror.png);
  color: #F00;
}

span.messagetype{
  display: none;
}

fieldset.floatinginfobox{
  width: 200px;
  float: right;
  border: 1px solid #333;
  background-color: #EEE;
  padding: 4px;
  margin: 4px;
}

/*
---------------------------------------
Images
---------------------------------------
*/

.imgfloatleft{
  float: left;
  margin-right: 8px;
}
.imgfloatright{
  float:right;
  margin-left: 8px;
}
.imgleft{
  text-align: left;
}
.imgcenter{
  text-align: center;
}
.imgright{
  text-align: right;
}
/*
---------------------------------------
Misc
---------------------------------------
*/

.currentspace a{
  text-decoration: none !important;
  padding: 2px;
}

span.floatleft{
  display: block;
  float: left;
}

a#adduser, a#modifygroup{
  background: transparent url(icons/black-register.png) center no-repeat;
  display: block;
  height: 20px;
  width: 20px;
  overflow: hidden;
  border: 1px solid #000;
  margin-left: 8px;
}

a#modifygroup{
  background-image: url(icons/black-edit.png);
  border: none;
}

.small{
  font-size: 75%;
}

.smaller{
  font-size: 60%;
}
.smallest{
  font-size: 50%;
}

.pagingLinks{
  font-variant: small-caps;
  font-size: 90%;
  margin: 5px 30px;
  border: 1px solid #999;
  overflow: hidden;
  padding: 2px 10px;
}
.pagingLinks .prevPage{
  float: left;
}
.pagingLinks .nextPage{
  float: right;
}

/*
---------------------------------
Diffs
---------------------------------
*/

.diffbefore{
  border-left: 8px solid #F00;
  font-size: x-small;
}
.diffafter{
  border-left: 8px solid #0F0;
  font-size: x-small;
}