#set($formname = "update")
#set($saveaction = "save")

## set the interface to use from xwiki.cfg
#set($interface = $xwiki.rightsmanager.defaultUi)

<div id="xwikieditcontent">

############### display the new interface
#if($interface == "new")
## url to get the groups for displaying them in the ajax-based table
#set($url = "?xpage=getgroups")
<div id="ajax-loader">Loading...<br />
  <img src="$xwiki.getSkinFile('icons/ajax-loader.gif')" alt="Loading..." title="Loading..." />
</div>
<table id="groupstable">
<tr><td colspan="2" id="showLimits"></td></tr>
<tr><td style="width: 100%;">
      <table class="display" cellpadding="3">
       <thead class="theader">
          <tr>
              <td>Group Name</td><td>Members</td><td>Manage</td>
          </tr>
          <tr id="table-filters">
              <td><input name="name" type="text" class="filter"/></td>
              <td></td>
              <td>
                #if($context.database != "xwiki") #set($mainwk = false) #else #set($mainwk = true) #end
                #if(!$mainwk) ## display the combobox only in a local wiki
                <select name="wiki" class="filter">
                  <option value="local" selected="selected">Local</option>
                  <option value="global">Global</option>
                  <option value="both">Both</option>
                </select>
                #else <input type="hidden" value="local" name="wiki" /> #end
              </td>
          </tr>
      </thead>
      <tbody id="display1"><tr><td>&nbsp;</td></tr></tbody>
      </table></td>
    <td valign="top">
      <div id="scrollbar1" class="scrollbar"><div class="inscrollbar">&nbsp;</div></div>
    </td>
    <td id="buff"></td>
</tr>
<tr><td colspan="2" id="tdAddNewUserOrGroup">
<a href="#" id="addNewGroup">$msg.get("rightsmanager.addnewgroup")</a>
</td></tr>
</table>

#set($addnewurl = $xwiki.getURL("XWiki.XWikiGroups", "view", "xpage=addnewgroup"))
#set($saveurl = $xwiki.getURL("XWiki.XWikiGroups", "view"))
#set($redirecturl = $doc.getURL("admin", "editor=groups&space=XWiki"))
        
<script type="text/javascript">
//<![CDATA[
        var ta = new ASSTable("$url", 15, "display1", "scrollbar1", "groupstable", displayGroups, true); 
        Event.observe($('addNewGroup'), "click", makeAddHandler("$addnewurl", "$saveurl", "$redirecturl"));
//]]>
</script>

############ display the stable interface
#else 
<div class="layoutsubsection">
<div style="overflow:auto">
$xwiki.parseMessage("editgroupsredirect")
</div>
</div>
#end
</div> ## xwikieditcontent
