.xwikisep, .xwikisep2 {
   display: none;
}
.clear, .clearfloats {
  clear: both;
}
.none, .hidden {
  display: none !important;
}
.invisible {
	visibility: hidden !important;
}
.loading {
    background-image: url(icons/spinner.gif);
    background-position: center center;
    background-repeat: no-repeat;
}
.currentspace{
  font-weight: 900;
  margin-top: 2px;
}
.extern{
  background-image: url("corner.png");
  background-repeat: no-repeat;
  background-position: right top;
}
.centered {
  margin: auto;
  text-align: center;
}
.xwikipanelarrow{
  position: absolute;
  top: 0px;
  right: 0px;
  width: 50px;
  height: 10px;
  visibility: hidden;
}
.column {
  float: left;
}
.half {
  /* Rounding errors with 50%, might end up with one more pixel which pushes the column down. */
  width: 49.9%;
}
.third {
  /* Rounding errors with 33.3%, might end up with one more pixel which pushes the column down. */
  width: 33.2%;
}

.avatar_30 {
  max-widht: 30px;
  max-height: 30px;
}
* html .avatar_30 {
  width: 30px;
}
.avatar_50 {
  max-widht: 50px;
  max-height: 50px;
}
* html .avatar_50 {
  width: 50px;
}
.avatar_120 {
  max-widht: 120px;
  max-height: 120px;
}
* html .avatar_120 {
  width: 120px;
}
th.avatar {
  width: 50px;
}
