#template("skinvariables.vm")
body#body{
#csscolorproperty("background-color" "backgroundcolor")
#csscolorproperty("color" "textcolor")
}

.heading-1, .heading-1-1, .heading-1-1-1, .heading-1-1-1-1 {
#csscolorproperty("color" "titlescolor")
}

#companylogo img {
/* TODO */
}

/*
---------------------------------------
Space header, footer
---------------------------------------
*/

#headerspace hr, #footerglobal hr{
#csscolorproperty("background-color" "textcolor")
}
#breadcrumbs *{
#csscolorpropertyimportant("color" "textcolor")
}
/*
---------------------------------------
Content
---------------------------------------
*/

#xwikieditor.layoutsection, .layoutsubsection, #xwikidatacontents{
#csscolorproperty("border-color" "bordercolor")
}
/*
---------------------------------------
Zone for Comments, attachments, History... 
---------------------------------------
*/
table.xwikidatatable, table.xwikidatatable th{
#csscolorproperty("border-color" "bordercolor")
}
table.xwikidatatable th{
#csscolorproperty("color" "textcolor")
#csscolorproperty("background-color" "titlebarcolor")
#csscolorproperty("border-color" "bordercolor")
}

.xwikiintracontent legend, .xwikiintracontent fieldset{
#csscolorproperty("border-color" "bordercolor")
}

.xwikiintracontent fieldset.collapsed legend{
#csscolorproperty("background-color" "buttonscolor")
}

/*
---------------------------------------
Menu
---------------------------------------
*/
.submenu{
#csscolorproperty("background-color" "backgroundcolor")
#csscolorpropertyimportant("color" "textcolor")
#csscolorproperty("border-color" "bordercolor")
#csscolorproperty("border-top-color" "backgroundcolor")
}

/*
---------------------------------------------
"Message Boxes"
---------------------------------------------
*/
fieldset.xwikimessage{
#csscolorproperty("border-color" "titlescolor")
#csscolorproperty("background-color" "emphcolor")
}

fieldset.xwikimessage legend{
#csscolorproperty("background-color" "titlescolor")
#csscolorproperty("color" "backgroundcolor")
}

/*
---------------------------------------
Editors
---------------------------------------
*/
#xwikicontentedit{
#csscolorproperty("border-color" "bordercolor")
}

/*
---------------------------------------
Tabs
---------------------------------------
*/
.xwikitabbar li{
#csscolorproperty("background-color" "titlebarcolor")
#csscolorproperty("border-right-color" "darkbordercolor")
#csscolorproperty("border-top-color" "bordercolor")
#csscolorproperty("border-left-color" "bordercolor")
}

.xwikitabbar li a{
#csscolorpropertyimportant("color" "textcolor")
}
.xwikitabbar li.active{
#csscolorpropertyimportant("background-color" "backgroundcolor")
#csscolorproperty("border-color" "bordercolor")
#csscolorproperty("border-bottom-color" "backgroundcolor")
}

/*
---------------------------------------
Panels
---------------------------------------
*/
.fakepanel{
#csscolorproperty("background-color" "emphcolor")
#csscolorproperty("border-color" "bordercolor")
}

.panel{
#csscolorproperty("border-color" "bordercolor")
}
.xwikipaneltitle{
#csscolorproperty("background-color" "titlebarcolor")
}

/*
----------------------------------
Rico Acordeon -- Sintax Help Panel
----------------------------------
*/
.accordion{
#csscolorpropertyimportant("border-color" "bordercolor")
}
.accordionTabContentBox table th{
#csscolorproperty("background-color" "backgroundcolor")
#csscolorproperty("border-bottom-color" "bordercolor")
}

.accordionTabTitleBar{
#csscolorproperty("border-color" "backgroundcolor")
#csscolorproperty("border-bottom-color" "bordercolor")
#csscolorproperty("border-right-color" "bordercolor")
#csscolorproperty("background-color" "emphcolor")
}

/*
----------------------------------
Misc
----------------------------------
*/

#xwikihelpsyntax{
#csscolorproperty("border-top-color" "bordercolor")
}

tr.row.odd{
#csscolorproperty("background-color" "emphcolor")
}
tr.row.even{
#csscolorproperty("background-color" "backgroundcolor")
}
tr th{
#csscolorproperty("background-color" "emphcolor")
}
a:link{
#csscolorproperty("color" "linkscolor")
}
a:visited{
#csscolorproperty("color" "visitedlinkscolor")
}
a:active{
#csscolorproperty("color" "activelinkscolor")
}

.button{
#csscolorproperty("background-color" "buttonscolor")
#csscolorproperty("color" "textcolor")
}
.xwikibuttonlink a{
#csscolorproperty("background-color" "actionlinkcolor")
#csscolorproperty("color" "backgroundcolor")
}

.button:hover, .xwikibuttonlink a:hover{
#csscolorproperty("background-color" "highlightedbkcolor")
}
.xwikibuttonlink a:hover{
#csscolorproperty("color" "textcolor")
}
#xwikirightstable, #xwikirightstable th, #xwikirightstable td, #xwikirightstable tr{
#csscolorproperty("border-color" "bordercolor")
}

.article_footer {
#csscolorproperty("color" "textcolor")
#csscolorproperty("border-color" "textcolor")
}

.xwikiuserblog .rssfeed {
#csscolorproperty("border-color" "bordercolor")
}
.currentspace a{
#csscolorpropertyimportant("color" "textcolor")
#csscolorproperty("background-color" "titlebarcolor")
}
