#set($fullname = $request.get("fullname"))
#set($obj = $doc.getObject("XWiki.XWikiGroups", "member", $fullname))
#set($discard = $doc.removeObject($obj))

## add a new empty group object so the group does not dissappears
#if($doc.getObjects("XWiki.XWikiGroups").size() == 0)
  #set($discard = $doc.newObject("XWiki.XWikiGroups"))
  added empty group
#end
#set($discard = $doc.save())