###
### Document deleted message
###
###
#template("startpage.vm")
<div class="main layoutsubsection">
#if($message)
<div id="xwikimessage">$message</div>
#end
#xwikimessageboxstart($msg.get("delete") $msg.get("deleted"))
#template("recyclebinlist.vm")
#xwikimessageboxend()
</div>
<div class="clearfloats"></div>
#template("endpage.vm")
