#show-dialog-btn {
  background: url(images/fullscreen/fullscreen22.gif) top right no-repeat;
  width: 15px;
  height: 15px;
  cursor: pointer;
  float:right;
  top: 3px;
  right: 20px;
  position: absolute;
  z-index: 12312;
}
#xwikieditcontent {
  position: relative;
}
html > body #show-dialog-btn {
  right: 1px;
  top: 1px;
}

.leftmenu2 {
  min-height: 15px;
}

#fullscreen-dlg {
  display:none;
  position: absolute;
  top:0px;
  left:0px;
  bottom: 0px;
  right: 0px;
  z-index:30000;
  background-color: #ffd;
  padding: 0px;
  height: 100%;
}

#fullscreen-dlg-head {
  background: url(images/fullscreen/hd-sprite.gif) repeat-x 0px -82px;
  background-color:navy;
  color:#FFF;
  font: bold 12px tahoma, verdana, helvetica, "sans serif";
  padding: 5px;
  overflow: hidden;
  white-space: nowrap;
  width: 100%;
}

#fullscreen-dlg-body {
  background-color: #9cbbe9;
  color: #fff;
  width: 100%;
  border:1px solid #6593cf;
  border-top:0 none;
  /*padding:10px;*/
  position: absolute;
  top: 0px;
  left: 0px;
  bottom: 0px;
  overflow:hidden;
}

* html #fullscreen-dlg-body {
  height: 100%;
  top: 0px; left: 0px; right: 0px; bottom: 0px;
  position: relative;
}

#fullscreen-dlg-body-tab-wiki, #fullscreen-dlg-body-tab-wysiwyg {
  background-color: #fff;
  border:1px solid #6593cf;
  position: absolute;
  margin: 10px auto 0px;
  left: 4px;
  right: 4px;
  bottom: 30px;
  top: 20px;
  text-align:center;
}

* html #fullscreen-dlg-body-tab-wiki {
  width: 99%;
  height: 90%;
  top: 0px; left: 0.5%; right: 0px; bottom: 0px;
  position: relative;
}

* html #fullscreen-dlg-body-tab-wysiwyg {
  width: 99%;
  height: 88%;
  top: 0px; left: 0.5%; right: 0px; bottom: 0px;
  position: relative;
}

#fullscreen-dlg-body-tab-wiki textarea {
  position: absolute;
  left: 0px;
  right: 0px;
  top: 20px;
  bottom: 0px;
  width: 99.5% !important;
  height: 95% !important;
}

#fullscreen-dlg-body-tab-wysiwyg textarea {
  position: absolute;
  left: 0px;
  right: 0px;
  top: 20px;
  bottom: 0px;
  width: 99.5% !important;
  height: 99% !important;
}

* html #fullscreen-dlg-body-tab-wysiwyg textarea  {
  width: 100% !important;
  height: 100% !important;
  position: static;
}

* html #fullscreen-dlg-body-tab-wiki textarea  {
  width: 100% !important;
  height: 96.5% !important;
  position: static;
}

#fullscreen-dlg-body-tab-wysiwyg td, #fullscreen-dlg-body-tab-wiki td {
  text-align: center;
}

* html #parentswapDiv iframe {
  position: static;
  height: 99.6% !important;
  width: 100% !important;
}

#parentswapDiv {
  width: 100%;
  height: 100%;
  text-align: center;
}

#swapDiv {
  width: 100%;
  height: 100%;
}

.backBtn {	
  z-index: 30001;
  position: absolute;
  left: 5px;
  bottom: 5px;
  background: transparent url(images/fullscreen/button.gif) no-repeat;
  width:75px;
  height: 20px;
  cursor: pointer;
}

#closeBtn {
  position: absolute;
  top: 0px; right: 0px;
  height:20px;
  width:20px;
  margin:0;
  padding:0;
  line-height:1px;
  font-size:1px;
  background-repeat:no-repeat;
  cursor:pointer;
  background: url(images/fullscreen/close.gif) center no-repeat;
}

.btnText {
  text-align: center;
  font: 12px "sans serif", tahoma, verdana, helvetica;
  color: #fff;
  padding-top: 1px;
}

.titleText {
  float:left;
  height:15px;
  width:15px;
  margin:0;
  margin-left:2px;
  padding:0;
  cursor:default;
}