###
###
###
#if((!$showactions)||($showactions==1))
#set($editor = $request.getHeader('Referer'))
#if((!$editor) || ($editor == ""))
#if(($xwiki.getUserPreference("editor")=="Wysiwyg")&&(!$doc.isAdvancedContent()))
#set($editor=$tdoc.getURL("edit", "editor=wysiwyg&amp;$docvariant"))
#else
#set($editor=$tdoc.getURL("edit", "editor=wiki&amp;$docvariant"))
#end
#end
#set($editparams = "")
#if ($sectionNumber && ($sectionNumber != 0))
#set($editparams = "section=$sectionNumber")
#end
<form style="display: inline;" action="$tdoc.getURL("cancel")" method="post"><div style="display: inline;">
<span class="buttonwrapper"><button class="button" type="submit">$msg.get("cancel")</button></span></div></form>
<form style="display: inline;" action="$editor" method="post"><div style="display: inline;">
#foreach($param in $request.getParameterNames())#foreach($value in $request.getParameterValues($param))<input type="hidden" name="$param" value="$xwiki.getFormEncoded($value)"/>#end#end
<span class="buttonwrapper"><button class="button" type="submit">$msg.get("backtoedit")</button></span>
</div></form>
<form style="display: inline;" action="$tdoc.getURL("saveandcontinue", $editparams)" method="post"><div style="display: inline;">
<input type="hidden" name="xredirect" value="$editor"/>#foreach($param in $request.getParameterNames())#foreach($value in $request.getParameterValues($param))<input type="hidden" name="$param" value="$xwiki.getFormEncoded($value)"/>#end#end
<span class="buttonwrapper"><button class="button" type="submit">$msg.get("saveandcontinue")</button></span>
</div></form>
<form style="display: inline;" action="$tdoc.getURL("save", $editparams)" method="post"><div style="display: inline;">
#foreach($param in $request.getParameterNames())#foreach($value in $request.getParameterValues($param))<input type="hidden" name="$param" value="$xwiki.getFormEncoded($value)"/>#end#end
<span class="buttonwrapper"><button class="button" type="submit">$msg.get("saveandview")</button></span></div></form>
#end