## The default stylesheet configuration option allows to override the default style.css CSS
#set ( $defaultstyle = $xwiki.getWebPreference("stylesheet") )
#if ( $defaultstyle != "" )
  #set ( $defaultstyle = "style.css" )
#end
#set( $defaultStyleURL = $xwiki.getSkinFile($defaultstyle, true) )
<link href="$defaultStyleURL" rel="stylesheet" type="text/css" />
<link href="$defaultStyleURL" rel="stylesheet" type="text/css" title="default" />
#if ( $printss )
  <link href="$xwiki.getSkinFile("print.css")" rel="stylesheet" type="text/css"/>
#end
## The stylesheets configuration option allows to override the alternate stylesheets
## style1.css, style2.css and style3.css
#set ( $stylesheets = $xwiki.getWebPreference("stylesheets") )
#if ( $stylesheets != "" )
  #set ( $stylenb = 1 )
  #foreach ( $stylesheet in $xwiki.split($stylesheets, ",") )
    #if( !$stylesheet.equalsIgnoreCase($defaultstyle) )
      <link href="$xwiki.getSkinFile($stylesheet)" rel="alternate stylesheet" type="text/css"  title="Alternate StyleSheet $stylenb" />
    #end
    #set( $stylenb = $stylenb + 1 )
  #end
#else
  <link href="$xwiki.getSkinFile("style1.css")" rel="alternate stylesheet" type="text/css"  title="Alternate StyleSheet 1" />
  <link href="$xwiki.getSkinFile("style2.css")" rel="alternate stylesheet" type="text/css"  title="Alternate StyleSheet 2" />
  <link href="$xwiki.getSkinFile("style3.css")" rel="alternate stylesheet" type="text/css"  title="Alternate StyleSheet 3" />
#end
<link href="${request.contextPath}/yui/treeview/assets/tree.css" rel="stylesheet" type="text/css"/>
<link href="$xwiki.getSkinFile("css/lightbox/lightbox.css", true)" rel="stylesheet" type="text/css" />
<!--[if IE]>
  <link href="$xwiki.getSkinFile("css/lightbox/lightboxIE.css", true)" rel="stylesheet" type="text/css" title="Lightbox Stylesheet For Ie" />
<![endif]-->
