#informationcontent ul.xlist {
  margin: 0 !important;
}

#informationcontent dl {
  margin-bottom: 0;
}

.reference-group {
  margin-top: 4px;
}

.reference-group .btn:hover,
.reference-group .btn:focus {
  background-image: none;
}

#reference-value {
  background-color: #fff;
  text-overflow: ellipsis;
}
