#set($attachments = $doc.attachmentList)
<div id="xwikiattachmentscontent" class="xwikidatacontent">
<br />
<form id="attach" action="$doc.getURL("upload")" enctype="multipart/form-data" method="post"
      onsubmit="return updateAttachName(this)" >
<input type="hidden" name="xredirect" value="" />
<p>
$msg.get("choosetargetfilename"):
<input type="text" name="filename" value="" size="20" />
<br /><br />
$msg.get("choosefiletoupload"):
<input type="file" name="filepath" value="" size="40"  />
<br /><br />
<input type="submit" value="$msg.get("attachthisfile")" />
</p>
</form>
#set($counter=0)
#foreach ($attach in $attachments)
#if((!$request.images)||$attach.isImage())
#if($counter==0)
<table>
<tr><th></th><th> <b>$msg.get("filename")</b> </th><th> <b>$msg.get("version")</b> </th>
<th> <b>$msg.get("author")</b> </th></tr>
#end
<tr>
<td>
#if ($attach.isImage())
<a href="$doc.getAttachmentURL("${attach.filename}", "download")" onclick="document.forms[0].href.value='$attach.filename'; return false;" >
<img src="$doc.getAttachmentURL("${attach.filename}", "download", "width=80")" alt="${attach.filename}" width="80" border="0" />
</a>
#end
</td><td><a href="$doc.getAttachmentURL("${attach.filename}", "download")" onclick="document.forms[0].href.value='$attach.filename'; return false;" >$attach.filename</a></td>
<td>$attach.version</td><td>$xwiki.getLocalUserName($attach.author)</td>
</tr>
#end
#set( $counter = $counter + 1)
#end
</table>
</div>
<div class="xwikidatafooter2">
<div class="xwikidatafooter1">&nbsp;</div>
<div class="xwikidatafooter">&nbsp;</div>
</div>
</div>