#set($showactions=0)
#template("editheader.vm")
#if ( $request.getParameter("global").equals("1"))
#set ($classname = "XWiki.XWikiGlobalRights")
#else
#set ($classname = "XWiki.XWikiRights")
#end
#set( $class = $xwiki.getDocument($classname).xWikiClass)
#set( $redirect = $xwiki.getRequestURL())
<script type="text/javascript">
<!--
var currentfield = "";
function show(fieldname) {
  if (currentfield!="")
    document.getElementById(currentfield).style.display="none";
  document.getElementById(fieldname).style.display="block";
  currentfield = fieldname;
}
// -->
</script>
<div id="xwikicontent" class="large">
       <div id="columns">
        <div class="cols-wrapper">
          <div class="float-wrapper">
            <div id="col-a">
              <div class="main-content">
<div id="intro">
$msg.get("welcometorightseditor")
</div>

<form id="update" method="post" action="$doc.getURL("save")">
<p>
<input type="hidden" name="xredirect" value="$xwiki.getFormEncoded($redirect)" />
#set ( $first = 1)
#set( $nb = $doc.getObjectNumbers("${class.name}"))
<input type="hidden" name="${class.name}_nb" value="$nb" />
</p>

#foreach($obj in $doc.getObjects($class.name))
<div id="${class.name}_${obj.number}" style="display: #if ($first==1) block #else none #end;">
#if ($first==1)
<script type="text/javascript">
<!--
currentfield = "${class.name}_${obj.number}";
// -->
</script>
#set ($first = 0)
#end


$msg.get("youcan") <a href="$doc.getURL("objectremove", "classname=${class.name}&amp;classid=${obj.number}&amp;xredirect=${xwiki.getURLEncoded($redirect)}")"
    onclick="return confirm('$msg.get("confirmobjectremove")')">
    $msg.get("removethisrightentry")</a><br /><br /><br />

<table>
#foreach($prop in $class.properties)
<tr><td>$prop.prettyName</td>
<td>$!doc.displayEdit($prop, "${class.name}_${obj.number}_",  $obj)
</td></tr>
#end
</table>
</div>
#end
</form>
#includeHelp("EditRightsHelp")
         </div>
            </div>
            <div id="col-b" class="sidecol">
              <div class="box">
              </div>
            </div>
          </div>
          <div id="col-c" class="sidecol">
         <div class="box">
<h2>$msg.get("rightseditor")</h2>
<br />
<p>
<input type="button" value="$msg.get("saverights")" onclick="document.forms.update.submit()" />
</p>
<br />
<h3>$msg.get("currentrights")</h3>
<a href="" onclick="showobjects('$class.name'); return false;">$class.name</a><br />
<div id="class_${class.name}">
#foreach ($obj in $doc.getObjects($class.name))
&nbsp;&nbsp;<a href="" onclick="show('${class.name}_${obj.number}'); return false;">
$!{obj.number}: $!doc.display("users",$obj) $!doc.display("groups",$obj)</a><br />
#end
<br /><br />
<h3>$msg.get("addrightentry")</h3>
<form id="objectadd" method="post" action="$doc.getURL("objectadd")">
<p>
<input type="hidden" name="xredirect" value="$xwiki.getFormEncoded($redirect)" />
<input type="hidden" name="classname" value="$classname" />
<input type="submit" value="$msg.get("addrightentry")" />
</p>
</form>
<br />
          </div>
          </div>
          <div class="clear" id="em"></div>
          </div>
          </div>
</div>
</div>
#template("editfooter.vm")