#template("xwiki.vm")
#template("httpheader.vm")
#template("header.vm")
#template("baseheader.vm")
<div id="xwikicontent">
$msg.get("problemoccured")
<br /><br />
$msg.get("detailedinformation"):<br />

$xwiki.parseContent($msg.get("revisiondoesnotexist"))
</div>
#template("basefooter.vm")
#template("footer.vm")


