#template("xwiki.vm")
#template("httpheader.vm")
#template("header.vm")
#template("previewheader.vm")
<div id="xwikicontent">
$tdoc.getRenderedContent($tdoc.content)
<form id="edit" method="post" action="$doc.getURL("save")">
<p>
<input type="hidden" name="content" value="$xwiki.getFormEncoded($tdoc.content)" />
<input type="hidden" name="parent" value="$!doc.getParent()" />
<input type="hidden" name="creator" value="$!doc.getCreator()" />
<input type="hidden" name="title" value="$!tdoc.getTitle()" />
<input type="hidden" name="defaultLanguage" value="$!doc.getDefaultLanguage()" />
<input type="hidden" name="template" value="$!tdoc.getTemplate()" />
<input type="hidden" name="xredirect" value="$!request.getParameter("xredirect")" />
<input type="hidden" name="language" value="$!request.getParameter("language")" />

</p>
<div id="xwikiobject">
#template("hiddenobject.vm")
</div>
</form>
</div>
#template("previewfooter.vm")
#template("footer.vm")
