<div class="xwikidatacontent">
    #set($rsvc= $xwiki.xWiki.getRightService())
    #if ($request.getParameter("space"))
    #set ($space = $request.getParameter("space") )
    #else
    #set($space = "")
    #end

    #if ($request.getParameter("page"))
    #set ($page = $request.getParameter("page") )
    #else
    #set($page = "")
    #end
    <p style="font-weight:bold"> $msg.get("listofresultspages") : </p>
    #if (($page == "") && ($space == ""))
        #set($sql = "")
    #elseif($page == "")
        #set($sql = "where doc.web like '%$space%' order by doc.date desc")
    #elseif($space == "")
        #set($sql = "where doc.name like '%$page%' order by doc.date desc")
    #else
        #set($sql = "where doc.web like '%$space%' and doc.name like '%$page%' order by doc.date desc")
    #end

    #set ($start = 0)
    #set ($nb = 50)

    <!--
    Sql: $sql
    Sql: $start
    Sql: $nb
    -->
    <table width="95%">

    #foreach ($item in $xwiki.searchDocuments($sql , $nb , $start))
    #if ($xwiki.hasAccessLevel("view", "${context.database}:${item}"))
    <tr>
    #set($bentrydoc = $xwiki.getDocument($item))
     <td>* <a href="#" onclick="document.forms[0].wiki_page.value='$bentrydoc.name';if ('$doc.web' != '$bentrydoc.web') document.forms[0].wiki_space.value='$bentrydoc.web'; else document.forms[0].wiki_space.value=''; return false;">
          $bentrydoc.name </a>created by  $xwiki.getLocalUserName($bentrydoc.author) on $xwiki.formatDate($bentrydoc.date,"MMMM dd, yyyy HH:mm") </td>
    </tr>
    #end
    #end
    </table>

</div>