#template("xwiki.vm")
<?xml version="1.0" encoding="$xwiki.encoding" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en">
<head>
<title>Table data source wizard</title>
<meta http-equiv="Content-Type" content="text/xhtml+xml; charset=$xwiki.encoding" />
$!xwiki.getWebPreference("meta") 
<link href="$xwiki.getSkinFile("tdwSkin.css")" rel="stylesheet" type="text/css"/>
#template("stylesheets.vm")
<script type="text/javascript" src="$xwiki.getSkinFile("tdwScripts.js")"></script>
</head>
#set($baseAddress = $xwiki.getURL("Main.WebHome", "gettables"))
#set($baseAddress = $baseAddress.substring(0, $baseAddress.indexOf("Main/WebHome")))
<body onload="window.wizard.init('$baseAddress');">
<input type="text" id="tdwPage"></input>
<span onclick="window.wizard.getTablesFromPage(document.getElementById('tdwPage').value);">Get tables</span>
<div id="tdwTables" class='tdwTables'></div>
</body>
</html>