  <?xml version="1.0" encoding="ISO-8859-1"?>
  <!DOCTYPE wml PUBLIC "-//WAPFORUM//DTD WML 1.3//EN" "http://www.wapforum.org/DTD/wml13.dtd">
  <wml><card id="card2" title="XWiki">
  <p> $cdoc.getRenderedContent() </p></card>
  </wml>
  #set($ua = $request.getHeader("user-agent"))
  #if($ua.indexOf("Mozilla")==-1)
  $response.setContentType("text/vnd.wap.wml")
  #end
