#template('colorThemeInit.vm')
/* <Live Table Pagination Specific Style> Top, Bottom*/
.xwiki-livetable td.xwiki-livetable-pagination {
  color: $theme.textPrimaryColor;
  font-size: 90%;
  line-height: 22px;
  border: 0px;
}
.xwiki-livetable-loader , .xwiki-livetable-loader img {
  float: left;
  line-height: 22px;
}
.skin-colibri .xwiki-livetable-pagination .xwiki-livetable-limits {
  float: left;
}
.xwiki-livetable-pagination .xwiki-livetable-limits {
  line-height: 22px;
}
.xwiki-livetable-pagination .xwiki-livetable-limits strong {
  font-weight: normal;
}
.xwiki-livetable-pagination .xwiki-livetable-pagesize {
  line-height: 22px;
  margin-left: 5px;
}
.xwiki-livetable-pagination .xwiki-livetable-pagesize .pagesizeselect {
  padding: 0;
}
.xwiki-livetable-pagination .xwiki-livetable-pagination-content, .xwiki-livetable-pagination .xwiki-livetable-pagination-text {
  display: inline;
}
.xwiki-livetable-pagination a.pagenumber {
  color: $theme.textPrimaryColor;
  cursor: pointer;
}
.xwiki-livetable-pagination a.pagenumber:hover {
  color: $theme.linkColor;
  text-decoration: underline;
}
.xwiki-livetable-pagination a.selected {
  color: $theme.textColor;
  font-weight: bold;
}
.xwiki-livetable-pagination a.pagenumber:focus {
  outline: 1px dotted $theme.linkColor;
}
/* <Pagination>*/
.pagination {
  float: right;
  margin-right: 10px;
  line-height: 22px;
}
.controlPagination {
  position: relative;
  width: 42px;
  height: 22px;
  overflow: hidden;
  margin: 0 !important;
  padding: 0 !important;
  float: right;
}
.controlPagination a {
  position: absolute;
  top: 0;
  left: 0;
  line-height: 25px;
  outline: none;
  overflow: hidden;
  border: none;
}
.controlPagination .prevPagination , .controlPagination .noPrevPagination, .controlPagination .nextPagination, .controlPagination .noNextPagination {
  background-image: url("$xwiki.getSkinFile('icons/xwiki/pagination-controls.png')");
  width: 21px;
  height: 22px;
}
.controlPagination .prevPagination:hover, .controlPagination .nextPagination:hover {
  cursor: pointer;
}
.controlPagination .noPrevPagination:hover, .controlPagination .noNextPagination:hover {
  cursor: default;
}
.controlPagination .prevPagination {
  background-position: left top;
}
.controlPagination .noPrevPagination {
  background-position: left bottom;
}
.controlPagination .nextPagination {
  background-position: right top;
  left: 21px;
}
.controlPagination .noNextPagination {
  background-position: right bottom;
  left: 21px;
}
/* </ Pagination>*/
/* </ Live Table Pagination> */
/* <Live Table Containers> */
table.xwiki-livetable {
  width: 99%;
  margin: 0;
}
.xwiki-livetable td.xwiki-livetable-display-container {
  margin: 0;
  border-color: $theme.pageContentBackgroundColor;
  padding: 0 0 0 4px;
  width: auto;
}
.xwiki-livetable td.xwiki-livetable-display-container table.xwiki-livetable-display {
  margin: 0px;
  border-collapse: collapse;
  width: 100%;
}
html>body .xwiki-livetable-display td {
  border: 0px;
}
/* </Live Table Containers> */
/* <Live Table Header> */
table.xwiki-livetable table.xwiki-livetable-display thead.xwiki-livetable-display-header {
  border-bottom: 5px solid $theme.backgroundSecondaryColor;
}
thead.xwiki-livetable-display-header tr.xwiki-livetable-display-filters:hover {
  background-color: $theme.pageContentBackgroundColor;
}
thead.xwiki-livetable-display-header th.xwiki-livetable-display-header-text {
  background-color: $theme.backgroundSecondaryColor;
  border: 0;
  border-collapse: separate;
  border-right: 1px solid $theme.pageContentBackgroundColor;
  color: $theme.textColor;
  padding: 3px 16px 3px 5px;
  font-weight: normal;
  text-align: left;
  /*cursor:pointer;*/
  white-space: nowrap;
}
thead.xwiki-livetable-display-header th.sortable a {
  color: $theme.textColor;
  text-decoration: none
}
thead.xwiki-livetable-display-header th.sortable {
  cursor: pointer;
}
thead.xwiki-livetable-display-header th.desc {
  background: $theme.backgroundSecondaryColor url("$xwiki.getSkinFile('icons/silk/bullet_arrow_down.png')") no-repeat scroll right center;
}
thead.xwiki-livetable-display-header th.asc {
  background: $theme.backgroundSecondaryColor url("$xwiki.getSkinFile('icons/silk/bullet_arrow_up.png')") no-repeat scroll right center;
}
thead.xwiki-livetable-display-header th.selected {
  color: $theme.textColor;
  background-color: $theme.highlightColor;
}
html>body thead.xwiki-livetable-display-header  td.xwiki-livetable-display-header-filter {
  padding: 2px 5px 2px 0px;
  border-color: transparent;
}
thead.xwiki-livetable-display-header td.xwiki-livetable-display-header-filter input,
thead.xwiki-livetable-display-header td.xwiki-livetable-display-header-filter select {
  box-shadow: none;
  width: 100%;
  color: $theme.textPrimaryColor;
  margin: 0;
  padding: 0 0 0 2px;
}
.xwiki-livetable-filter-active {
  background-color: $theme.highlightColor !important;
  font-weight: bold;
}
/* </ Live Table Header> */
/* <Live Table Body> */
tbody.xwiki-livetable-display-body tr {
  border-bottom: 1px solid $theme.borderColor;
}
tbody.xwiki-livetable-display-body tr:hover {
  background-color: $theme.highlightColor;
}
tbody.xwiki-livetable-display-body td {
  color: $theme.textColor;
  padding: 3px 2px 3px 4px;
  background-image: none;
}
tbody.xwiki-livetable-display-body a:link, tbody.xwiki-livetable-display-body a:link:hover {
  color: $theme.linkColor;
}
tbody.xwiki-livetable-display-body td.linkeditor, tbody.xwiki-livetable-display-body td.editableCellHover.linkeditor a {
  padding-right: 16px;
  cursor: pointer;
}
tbody.xwiki-livetable-display-body td:hover.linkeditor {
  background: $theme.highlightColor url("$xwiki.getSkinFile('icons/silk/pencil.png')") no-repeat scroll right center;
  cursor: pointer;
}
tbody.xwiki-livetable-display-body td.linkeditor a {
  color: $theme.textColor;
  text-decoration: none;
}
tbody.xwiki-livetable-display-body td:hover.typenumeric, tbody.xwiki-livetable-display-body td.editableCellHover.typenumeric, tbody.xwiki-livetable-display-body td.typenumeric {
  text-align: right;
}
tbody.xwiki-livetable-display-body td:hover.typenone, tbody.xwiki-livetable-display-body td.editableCellHover.typenone, tbody.xwiki-livetable-display-body td.typenone {
  text-align: center;
  padding-left: 0;
}
/* Align the Actions column to the right. */
thead.xwiki-livetable-display-header th.xwiki-livetable-display-header-text.actions,
tbody.xwiki-livetable-display-body td.actions {
  text-align: right;
}
tbody.xwiki-livetable-display-body td a.action {
  color: $theme.textPrimaryColor;
  text-transform: capitalize;
  white-space: nowrap;
}
tbody.xwiki-livetable-display-body td a.action + a.action {
  margin-left: .5em;
}
tbody.xwiki-livetable-display-body td a.action .action-icon {
  margin-right: .25em;
}
tbody.xwiki-livetable-display-body td a.actiondelete .action-icon {
  color: $theme.notificationErrorColor;
}
tbody.xwiki-livetable-display-body td.actions.hide-labels .action-label {
  display: none;
}
tbody.xwiki-livetable-display-body td.actions.hide-labels .action-icon {
  font-size: larger;
}
tbody.xwiki-livetable-display-body td._images img {
  margin-right: 2px;
}
/* </ Live Table Body> */
/* <Tag Cloud & Top Filters>  */
.xwiki-livetable-topfilters-container,
.xwiki-livetable-tagcloud-container {
  border: 1px solid $theme.backgroundSecondaryColor;
  border-bottom: 5px solid $theme.backgroundSecondaryColor;
  background-color: transparent;
  padding: 10px;
  position: relative;
  margin-top: 10px;
}
.xwiki-livetable-tagcloud-container h2 {
  background: url("$xwiki.getSkinFile('icons/silk/tag_yellow.png')") no-repeat;
  font-size: 1em;
  color: $theme.textPrimaryColor;
  padding-left: 25px;
}
.xwiki-livetable-tagcloud-container div.clearfloats {
  background-color: transparent;
  margin: 0;
  overflow: hidden;
}
div.xwiki-livetable-tagcloud ol.tagCloud {
  margin: 0;
}
div.xwiki-livetable-tagcloud ol.tagCloud li span {
  color: $theme.backgroundSecondaryColor;
  padding: 0px 3px 0px 3px;
  border: 1px solid $theme.pageContentBackgroundColor;
}
div.xwiki-livetable-tagcloud ol.tagCloud li.selectable span {
  cursor: pointer;
  color: $theme.textColor;
}
div.xwiki-livetable-tagcloud ol.tagCloud li.selected span {
  background-color: $theme.highlightColor;
  border-bottom: 1px solid $theme.backgroundSecondaryColor;
  border-top: 1px solid $theme.backgroundSecondaryColor;
}
.xwiki-livetable-topfilters-tip .tippointer,
.xwiki-livetable-tagcloud-tip .tippointer {
  position: relative;
  width: 0;
  height: 0;
  top: -3px !important;
  left: 45px;
  border-top: 20px solid $theme.backgroundSecondaryColor;
  border-right: 20px dotted transparent;
  border-left: 20px dotted transparent;
  border-bottom: 0px none;
}
div.tipfilters div.splitted {
  display:inline-block;
  vertical-align:bottom;
  width:49%;
}
.xwiki-livetable-topfilters-tip .tippointer div,
.xwiki-livetable-tagcloud-tip .tippointer div {
  position: absolute;
  width: 0;
  height: 0;
  top: -20px;
  left: -15px;
  border-top: 15px solid $theme.backgroundSecondaryColor;
  border-right: 15px dotted transparent;
  border-left: 15px dotted transparent;
  border-bottom: 0 none;
}
/* </Tag Cloud & Top Filters>*/

/* <Compatibility> */
/* This section contains rules for backward compatibility with the deprecated (since 1.9M2) ASSTable */
div.xwiki-livetable-pagination-content {
  background: url("$xwiki.getSkinFile('icons/silk/page_white_copy.png')") no-repeat;
  padding-left: 20px;
  padding-bottom: 2px;
  display: inline;
}
div.xwiki-livetable-pagination-content span.pagenumber {
  display: inline;
  color: $theme.textPrimaryColor;
  cursor: pointer;
}
div.xwiki-livetable-pagination-content span.pagenumber:hover {
  color: $theme.linkColor;
  text-decoration: underline;
}
div.xwiki-livetable-pagination-content span.selected {
  color: $theme.textColor;
  font-weight: bold;
}
div.xwiki-livetable-pagination-content span.pagenumber:focus {
  outline: 1px dotted $theme.linkColor;
}

.display {
  border-collapse: collapse;
  border: 1px solid $theme.borderColor;
  width: 100%;
}

.display td {
  border: 1px solid $theme.borderColor;
  padding: 3px;
}

.icon-manage {
  cursor: pointer;
  padding-right: 10px;
}

.icon-manageg {
  padding-right: 10px;
}

#ajax-loader {
  margin: 0px;
  padding: 0px;
  position: absolute;
  top: 50%;
  left: 35%;
  z-index: 1000000000;
  display: none;
  width: 220px;
  background-color: $theme.pageContentBackgroundColor;
  border: 1px solid $theme.borderColor;
  font-size: 11px;
  padding: 8px;
  text-indent: 5px;
}

.theader {
  background-color: $theme.backgroundSecondaryColor;
  color:  $theme.textSecondaryColor;
  font-weight: bold;
  font-size: 1em;
}

#table-filters {
  background-color: $theme.backgroundSecondaryColor;
}

.filter {
  width: 70%;
}

.theader td {
  padding: 3px 0 3px 10px;
}

table.livetable {
  width: 100%;
  position: relative;
  border: 5px solid $theme.pageContentBackgroundColor;
  margin: 0px;
  left: 0px;
}
/* </Compatibility> */

/* <Decoration> */
/* anything about special entries in the livetable */
.xwiki-livetable .breadcrumb {
  margin: 0;
  background-color: transparent;
  padding: 0;
}

.xwiki-livetable .breadcrumb .active a{
  color: $theme.linkColor;
}

.xwiki-livetable-container .docTitleComputed:after {
  content: '\b9';
}

/* Round the infomessage border and change the padding to uniformize the messages style with Live Data. */
.xwiki-livetable-container div div.infomessage {
  border-radius: 7px;
  padding: 0.1em 1em;
}
/* </Decoration> */
