<?xml version="1.0" encoding="ISO-8859-1"?>
<jstrim>
	<!-- Trim core script -->
	<trim src="tiny_mce/tiny_mce_src.js" dest="tiny_mce/tiny_mce.js" />

	<!-- Trim themes -->
	<trim src="tiny_mce/themes/simple/editor_template_src.js" dest="tiny_mce/themes/simple/editor_template.js" />
	<trim src="tiny_mce/themes/advanced/editor_template_src.js" dest="tiny_mce/themes/advanced/editor_template.js" />
	<!-- <trim src="tiny_mce/themes/external/editor_template_src.js" dest="tiny_mce/themes/external/editor_template.js" /> -->

	<!-- Trim plugins -->
	<trim src="tiny_mce/plugins/advhr/editor_plugin_src.js" dest="tiny_mce/plugins/advhr/editor_plugin.js" />
	<trim src="tiny_mce/plugins/advimage/editor_plugin_src.js" dest="tiny_mce/plugins/advimage/editor_plugin.js" />
	<trim src="tiny_mce/plugins/advlink/editor_plugin_src.js" dest="tiny_mce/plugins/advlink/editor_plugin.js" />
	<trim src="tiny_mce/plugins/emotions/editor_plugin_src.js" dest="tiny_mce/plugins/emotions/editor_plugin.js" />
	<trim src="tiny_mce/plugins/flash/editor_plugin_src.js" dest="tiny_mce/plugins/flash/editor_plugin.js" />
	<trim src="tiny_mce/plugins/iespell/editor_plugin_src.js" dest="tiny_mce/plugins/iespell/editor_plugin.js" />
	<trim src="tiny_mce/plugins/insertdatetime/editor_plugin_src.js" dest="tiny_mce/plugins/insertdatetime/editor_plugin.js" />
	<trim src="tiny_mce/plugins/preview/editor_plugin_src.js" dest="tiny_mce/plugins/preview/editor_plugin.js" />
	<trim src="tiny_mce/plugins/print/editor_plugin_src.js" dest="tiny_mce/plugins/print/editor_plugin.js" />
	<trim src="tiny_mce/plugins/save/editor_plugin_src.js" dest="tiny_mce/plugins/save/editor_plugin.js" />
	<trim src="tiny_mce/plugins/searchreplace/editor_plugin_src.js" dest="tiny_mce/plugins/searchreplace/editor_plugin.js" />
	<trim src="tiny_mce/plugins/zoom/editor_plugin_src.js" dest="tiny_mce/plugins/zoom/editor_plugin.js" />
	<trim src="tiny_mce/plugins/table/editor_plugin_src.js" dest="tiny_mce/plugins/table/editor_plugin.js" />
	<trim src="tiny_mce/plugins/contextmenu/editor_plugin_src.js" dest="tiny_mce/plugins/contextmenu/editor_plugin.js" />
	<trim src="tiny_mce/plugins/paste/editor_plugin_src.js" dest="tiny_mce/plugins/paste/editor_plugin.js" />
	<trim src="tiny_mce/plugins/fullscreen/editor_plugin_src.js" dest="tiny_mce/plugins/fullscreen/editor_plugin.js" />
	<trim src="tiny_mce/plugins/directionality/editor_plugin_src.js" dest="tiny_mce/plugins/directionality/editor_plugin.js" />
	<trim src="tiny_mce/plugins/inlinepopups/editor_plugin_src.js" dest="tiny_mce/plugins/inlinepopups/editor_plugin.js" />
	<trim src="tiny_mce/plugins/autosave/editor_plugin_src.js" dest="tiny_mce/plugins/autosave/editor_plugin.js" />
	<trim src="tiny_mce/plugins/noneditable/editor_plugin_src.js" dest="tiny_mce/plugins/noneditable/editor_plugin.js" />
	<trim src="tiny_mce/plugins/fullpage/editor_plugin_src.js" dest="tiny_mce/plugins/fullpage/editor_plugin.js" />
	<trim src="tiny_mce/plugins/cleanup/editor_plugin_src.js" dest="tiny_mce/plugins/cleanup/editor_plugin.js" />
	<trim src="tiny_mce/plugins/_template/editor_plugin_src.js" dest="tiny_mce/plugins/_template/editor_plugin.js" />
	<trim src="tiny_mce/plugins/spellchecker/editor_plugin_src.js" dest="tiny_mce/plugins/spellchecker/editor_plugin.js" />
	<trim src="tiny_mce/plugins/wikiplugin/editor_plugin_src.js" dest="tiny_mce/plugins/wikiplugin/editor_plugin.js" />

	<!-- Trim wiki editor -->
	<trim src="wiki_editor/wiki_editor_src.js" dest="wiki_editor/wiki_editor.js" />
	<trim src="wiki_editor/plugins/core_src.js" dest="wiki_editor/plugins/core.js" />
	<trim src="wiki_editor/plugins/attachments_src.js" dest="wiki_editor/plugins/attachments.js" />

</jstrim>
