#template("xwiki.vm")
#template("httpheader.vm")
#template("header.vm")
#template("deleteheader.vm")
#if($message)
<div id="xwikimessage">
$message
</div>
#end
<div id="xwikicontent">
<br />
$msg.get("confirmdelete")
<br />
<br />
<br />
</div>
#template("deletefooter.vm")
#template("footer.vm")
