<script type="text/javascript">
    function checkDocumentContent() {
       if (document.forms.edit.content) {
        var content = document.forms.edit.content.value;
        if (content == null || content == "") {
           alert("$msg.get('wikicontentcannotbeempty')");
           return false ;
        }
       }
       return true;
   }
</script>
#set($param = "")
#if ($sectionNumber != 0)
   #set($param = "section=$sectionNumber")
#end
#if ($showactions == 1)
    <a href="$doc.getURL("cancel")" onclick="document.forms.edit.action=this.href; if (document.forms.edit.onsubmit) document.forms.edit.onsubmit(); document.forms.edit.submit(); return false;" >$msg.get("cancel")</a>
    <span> | </span>
    <a style="cursor:pointer;" onclick="document.forms.edit.action='$doc.getURL("preview",$param)'; if (document.forms.edit.onsubmit) document.forms.edit.onsubmit();if (checkDocumentContent()) document.forms.edit.submit(); return false;" >$msg.get("preview")</a>
    <span> | </span>
    <a href="$doc.getURL("save",$param)" onclick="document.forms.edit.action=this.href; if (document.forms.edit.onsubmit) document.forms.edit.onsubmit();if (checkDocumentContent()) document.forms.edit.submit(); return false;" >$msg.get("save")</a>
#end