#set($showactions=0)
#template("editheader.vm")
#if ( $request.getParameter("global").equals("1"))
#set ($classname = "XWiki.XWikiGlobalRights")
#else
#set ($classname = "XWiki.XWikiRights")
#end
#set( $class = $xwiki.getDocument($classname).xWikiClass)
#set( $redirect = $xwiki.getRequestURL())
<script type="text/javascript">
<!--
var currentfield = "";
function show(fieldname) {
    if (currentfield!="")
        document.getElementById(currentfield).style.display="none";
    document.getElementById(fieldname).style.display="block";
    currentfield = fieldname;
}

function addUser(form, prefix) {
    var username = form[prefix + "newuser"].value;
    var select =  form[prefix + "users"][0];
    if (username != null && username != "") {
        length = select.options.length ;
        dusername = username;
        if (username.indexOf('.')==-1) {
          xusername = "XWiki." + username;
        }
        else {
          if (username.indexOf(":")==-1) {
           dusername = username.substring(username.lastIndexOf(".")+1);
          }
          xusername = username
        }
        select.options[length] = new Option(dusername, xusername, true);
    }
}

function addGroup(form, prefix) {
    var groupname = form[prefix + "newgroup"].value;
    var select =  form[prefix + "groups"][0];
    if (groupname != null && groupname != "") {
        length = select.options.length ;
        dgroupname = groupname;
        if (groupname.indexOf('.')==-1) {
          xgroupname = "XWiki." + groupname;
        }
        else {
          if (groupname.indexOf(":")==-1)
           dgroupname = groupname.substring(groupname.lastIndexOf(".")+1);
          xgroupname = groupname
        }
        select.options[length] = new Option(dgroupname, xgroupname, true);
    }
}
-->
</script>
<div id="xwikicontent" class="large">
       <div id="columns">
        <div class="cols-wrapper">
          <div class="float-wrapper">
            <div id="col-a">
              <div class="main-content">
<div id="intro">
$msg.get("welcometorightseditor")
</div>
<div style="overflow:hidden;width:100%">
<div style="float:left">
<form id="update" method="post" action="$doc.getURL("save")" onsubmit="cancelCancelEdit()">
<p>
<input type="hidden" name="xredirect" value="$xwiki.getFormEncoded($redirect)" />
#set ( $first = 1)
#set( $nb = $doc.getObjectNumbers("${class.name}"))
<input type="hidden" name="${class.name}_nb" value="$nb" />
</p>
 <table border="1" cellpadding="4" cellspacing="0" width="90%">
 <tr>
    <th>$msg.get("Right")</th><th>$msg.get("Users")</th><th>$msg.get("Groups")</th><th>$msg.get("Level")</th><th>$msg.get("Allow-Deny")</th><th>$msg.get("Remove")</th>
 </tr>
#foreach ($obj in $doc.getObjects($class.name))
#set($class = $obj.xWikiClass)
    <tr>
        <td align="center">$!{obj.number}</td>
        <td align="center">$!doc.displayEdit($class.users,"${class.name}_${obj.number}_",$obj) <br>
        <td align="center">$!doc.displayEdit($class.groups,"${class.name}_${obj.number}_",$obj)</td>
        <td align="center">$!doc.displayEdit($class.levels,"${class.name}_${obj.number}_",$obj)</td>
        <td align="center">$!doc.displayEdit($class.allow,"${class.name}_${obj.number}_",$obj)</td>
        <td align="center"><a href="$doc.getURL("objectremove", "classname=${class.name}&amp;classid=${obj.number}&amp;xredirect=${xwiki.getURLEncoded($redirect)}")"
    onclick="return confirm('$msg.get("confirmobjectremove")')">
    $msg.get("remove")</a></td>
    </tr>
#end
 </table>
</form>
</div>
</div>
#includeHelp("EditRightsHelp")
         </div>
            </div>
            <div id="col-b" class="sidecol">
              <div class="box">
              </div>
            </div>
          </div>
          <div id="col-c" class="sidecol">
         <div class="box">
<h2>$msg.get("rightseditor")</h2>
<br />
<p>
<input type="button" value="$msg.get("saverights")" onclick="document.forms.update.submit()" />
</p>
<br />
<div id="class_${class.name}">
<br /><br />

<h3>$msg.get("addrightentry")</h3>
<form id="objectadd" method="post" action="$doc.getURL("objectadd")" onsubmit="cancelCancelEdit()">
<p>
<input type="hidden" name="xredirect" value="$xwiki.getFormEncoded($redirect)" />
<input type="hidden" name="classname" value="$classname" />
<input type="submit" value="$msg.get("addrightentry")" />
</p>
</form>
<br />
          </div>
          </div>
          <div class="clear" id="em"></div>
          </div>
          </div>
</div>
</div>
#template("editfooter.vm")