$response.setContentType("text/xml")
<?xml version="1.0" encoding="$response.getCharacterEncoding()"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns='http://www.w3.org/1999/xhtml'>
	<head>
		<title>Tables from the page $doc.getFullName()</title>
	</head>
	<body>
		<div id='tdwEnvelope'>

		#set ( $tables = $rhelper.getTables() )
		#set ( $tidx = 0 )

		#foreach ($table in $tables)
			#set ( $rowCount = $rhelper.getTableRowCount($table) )
			#set ( $colCount = $rhelper.getTableColumnCount($table) )
			<table>
				#set ( $nexttidx = $tidx + 1 )
				<caption>Table $nexttidx</caption>
				#set ( $ccount = $colCount+1 )
				#foreach ( $cidx in [0..$ccount] )
						<col id='T${tidx}C${cidx}'/>
				#end
				<tbody id='T$tidx'>
				<tr id='T${tidx}R0'>
					<th id='T${tidx}R0C0'>*</th>
					#foreach ( $cidx in [0..$colCount] )
						#set ( $nextcidx = $cidx + 1 )
						<th id='T${tidx}R0C${nextcidx}'>$rhelper.getColumn($cidx)</th>
					#end
				</tr>		
				#foreach ( $ridx in [0..$rowCount] )
					#set ( $nextridx = $ridx + 1 )
					<tr id='T${tidx}R${nextridx}'>
					<th id='T${tidx}R${nextridx}C0'>${nextridx}</th>
					#foreach ( $cidx in [0..$colCount] )
						#set ( $nextcidx = $cidx + 1 )
						<td id='T${tidx}R${nextridx}C${nextcidx}'>$!rhelper.getCell($table, $cidx, $ridx)</td>
					#end
					</tr>
				#end		
				</tbody>
			</table>
			#set( $tidx = $tidx + 1 )
		#end

		</div>
    <div id="tdwObjectCount">$doc.getObjectNumbers("XWiki.TableDataSource")</div>
	</body>
</html>
