#set($editors = $context.getEditorWysiwyg())
#if($editors)
<script type="text/javascript" src="/xwiki/tiny_mce/tiny_mce.js"></script>
<script type="text/javascript" src="/xwiki/wiki_editor/wiki_editor.js"></script>
<script type="text/javascript">
	wikiEditor.init({
		elements : "$editors",
	    language: "en",
		mode: "exact",
		content_css: "$xwiki.getSkinFile("style.css")",
		debug : false,
		remove_linebreaks : false,
		plugins: 'table, contextmenu, paste, searchreplace',
        wiki_use_style: '$xwiki.useWysiwygStyleToolbar()',
        wiki_images_path : '${request.contextPath}/bin/download/$doc.web/$doc.name/',
        wiki_attach_path : '${request.contextPath}/bin/view/$doc.web/$doc.name',
        wiki_macro_path : '${request.contextPath}/bin/view/$doc.web/$doc.name',
        wiki_plugins: 'core, attachments, macros'
	});
</script>
#end
