<div class="xwikimenulinks">
$msg.get("welcome") !
</div>
#set($searchdoc = $xwiki.getDocument("Main.WebSearch"))
#if($searchdoc)
<div class="xwikimenutitle">$msg.get("search")</div>
<div class="xwikimenulinks">
<form action="$searchdoc.getURL("view")" method="POST">
<p>
<input type="submit" value="$msg.get("search")" />&nbsp;<input type="text" name="text" value="" size="5"/>
</p>
</form>
</div>
#end
<div id="xwikirecentmenutitle" class="xwikimenutitle">$msg.get("recentmenu")</div>
<div id="xwikirecentmenulinks" class="xwikimenulinks">
#set($recentlyviewed = $xwiki.getRecentActions("view", 5))
#foreach($docname in $recentlyviewed)
#set($rdoc = $xwiki.getDocument($docname))
<a href="$rdoc.getURL("view")">$rdoc.name</a>
<span class="xwikisep"> | </span>
#end
</div>
<div style="clear: both; width: 100%; margin-left: auto; margin-right: auto; padding-top: 20px; text-align: center;">
<a href="$!xwiki.getURL("Main.WebRss", "view", "xpage=rdf")"><img src="$xwiki.getSkinFile("rss.gif")" border="0" alt="RSS" /></a>
</div>
