#template('colorThemeInit.vm')
.paginationFilter {
  border-top: 1px solid $theme.borderColor;
  color: $theme.textPrimaryColor;
  font-size: .9em;
  overflow: hidden;
  padding: 2px 0px 5px 5px;
}
.resultsNo {
  float: left;
}
.resultsNo .currentResultsNo, .resultsNo .totalResultsNo, .pagination .currentPage {
  color: $theme.textColor;
  font-weight: bold;
} 
.pagination {
  float: right;
  margin-right: 10px;
}
.pagination a {
  color: $theme.textPrimaryColor;
}
.pagination a:hover {
  color: $theme.linkColor;
}
.pagination a:focus {
  outline: dotted 1px $theme.linkColor;
}
.controlPagination {
  position: relative;
  width: 42px;
  height: 22px;
  overflow: hidden;
  margin: 0 !important;
  padding: 0 !important;
  float: right;
}
.controlPagination a, .controlPagination span {
  background-image: url("$xwiki.getSkinFile('icons/xwiki/pagination-controls.png')");
  border: none;
  height: 22px;
  left: 0;
  line-height: 25px;
  outline: none;
  overflow: hidden;
  position: absolute;
  text-indent: -1000px;
  top: 0;
  width: 21px;
}
.controlPagination .prevPagination {
  background-position: left top;
}
.controlPagination .noPrevPagination {
  background-position: left bottom;
}
.controlPagination .nextPagination {
  background-position: right top;
  left: 21px;
}
.controlPagination .noNextPagination {
  background-position: right bottom;
  left: 21px;
}