body {
    width: 100%;
}

.wiki-table {
}

.rssreader {
    font-family: Verdana, sans-serif;    
}

.rssreader,.rssaggr {
   width: 100%;
}

.rssmenu {
    padding: 5px;
    width: 250px;
    background-color: #D7E2E9;
}

.menutree {
    width: 250px;
    height: 380px;
    overflow-y: scroll;
    overflow-x: hidden;
}

.filter,.filterline {
    padding: 2px;
    color: #3F667E;
    width: 100%;
    background-color: #D7E2E9;
}

.filterlimit {
    padding: 2px;
    background-color: #FFFFFF;
}

.flaggedyes {
    color: red;
}

.flaggedno {

}

.flaginactive, .trashinactive {    
}

.flagactive, .flagactive a, .flagactive a:visited,
.trashactive, .trashactive a, .trashactive a:visited {
    color: red;
    font-weight: bold;
}

.filter,.filterline,.filterlimit {
  width: 100%;
}
.filterline {
}

.filtertitle {
}

.filterimage,.nfilterimage {
    float: left;
    clear: none;
    margin-top: 5px;
    margin-bottom: 5px;
}

.filterimage {
   margin-left: 10px;
}

.filterstatus {
}

.pressreviewlink {
}

.filterclear {

}

.filterlimit {

}

.keywordfilteractive {

}

.keywordfilterinactive {

}

.tagsfilteractive {

}

.tagsfilterinactive {

}

.filtersep {
    margin-left: 2px;
    margin-right: 2px;
}

.articles {
    width: 100%;
    overflow: scroll;
}

.article {
   float: left;
   padding: 10px;
   width: 100%;
   background-color: #f8f9f6;
   border-bottom: 1px solid #cccccc;
}

.articletitle {
    float: left;
    padding: 2px;
    width: 100%;
}

.treeelementtext {
    white-space: normal;
}

.articleflag {
  float: left;
  clear: none;
}

.articletitletext {
    padding-left: 1px;
    float: left;
    clear: none;
}

.articleextlink {
    padding-left: 5px;
    float: left;
    clear: none;
    background-image: "agrss_extlink.png";
}

.articleauthor {
    float: left;
    clear: left;
}

.articlesource {
    padding-left: 10px;
    float: left;
    clear: none;
}

.articledate {
    padding-left: 10px;
    float: left;
    clear: none;
}

.articlecommentsnb {
    float: left;
    clear: none;
    padding-left: 10px;
}

.articlecontentzone {
    width: 100%;
    float: left;
    clear: left;
    padding: 5px;
    overflow: scroll;
}

.articlecontent {

}
.dateform,.formfield {
  float: left;
}

.articleextlink2 {

}

.commentsbox, .tagsbox {
    width: 300px;
    margin: 10px;
    padding: 5px;
    border: 1px solid #cccccc;
}

.commentsboxtitle,.commentslink,.commentsboxcontent {
}
.tagsbox,.tagsboxtitle,.tagslink {
}

.tagslink, .commentslink {
    margin-left:  10px;
}

.tagscloudlink {
    float: left;
    margin-right: 5px;
}
.tagscloud10 { font-size: 10px; }
.tagscloud11 { font-size: 12px; }
.tagscloud12 { font-size: 14px; }
.tagscloud13 { font-size: 16px; }
.tagscloud14 { font-size: 18px; }
.tagscloud15 { font-size: 20px; }
.tagscloud16 { font-size: 22px; }
.tagscloud17 { font-size: 24px; }
.tagscloud18 { font-size: 26px; }

.articlesnext {
  float: right;
  margin-top: 5px;
  margin-right: 50px;
}