body {
  background-image: none !important;
}

body.main {
  position: static !important;
  padding: 0px !important;
  margin: 6px !important;
  height: auto !important;
  min-height: 0px !important;
  max-height: none !important;
  width: auto !important;
  min-width: 0px !important;
  max-width: none !important;
}

/*
  Overwrite no matter what list-style-position to outside position to avoid the Firefox issues with editing lists
  with inside list style. 
*/
.main ul, .main ol {
  list-style-position: outside !important;
}
