body {
  background-image: none !important;
}

body.main {
  position: static !important;
  padding: 0px !important;
  margin: 6px !important;
  height: auto !important;
  min-height: 0px !important;
  max-height: none !important;
  width: auto !important;
  min-width: 0px !important;
  max-width: none !important;
}

table {
  width: 100%;
  border-collapse: collapse;
  border: 0;
  margin: 0;  
}

table td, table th { 
  border: 1px dotted gray;
  padding: 3px;
  margin: 0;
}

table th {
  text-align: left;
  background-color: #F0F0EE;
}

/*
  Overwrite no matter what list-style-position to outside position to avoid the Firefox issues with editing lists
  with inside list style. 
*/
.main ul, .main ol {
  list-style-position: outside !important;
}