.xToolbar div.clearfloats {
  background-color:transparent;
  clear:both;
  float:none;
  height:1px;
  line-height:1px;
  font-size:1px;
  margin:0px;
}

.xToolbar {
  background:#F0F0EE none repeat scroll 0%;
  border:1px solid #CCCCCC;
  width:100%;
}

.xToolbar div {
  float:left;
  height:23px;
}

.xToolbar .gwt-PushButton-up,
.xToolbar .gwt-PushButton-down,
.xToolbar .gwt-PushButton-up-hovering,
.xToolbar .gwt-PushButton-down-hovering,
.xToolbar .gwt-PushButton-up-disabled,
.xToolbar .gwt-PushButton-down-disabled,
.xToolbar .gwt-ToggleButton-up,
.xToolbar .gwt-ToggleButton-down,
.xToolbar .gwt-ToggleButton-up-hovering,
.xToolbar .gwt-ToggleButton-down-hovering,
.xToolbar .gwt-ToggleButton-up-disabled,
.xToolbar .gwt-ToggleButton-down-disabled {
  border:1px solid #F0F0EE !important;
  cursor:default;
  height:20px;
  width:20px;
  margin:1px 0px 0px 1px;
}

.xToolbar .gwt-PushButton-up-hovering,
.xToolbar .gwt-PushButton-down-hovering,
.xToolbar .gwt-ToggleButton-up-hovering,
.xToolbar .gwt-ToggleButton-down-hovering {
  background-color:#B6BDD2 !important;
  border:1px solid #0A246A !important;
}

.xToolbar .gwt-ToggleButton-down {
  border:1px solid #C0C0BB !important;
}

.xToolbar .gwt-PushButton-up-disabled,
.xToolbar .gwt-PushButton-down-disabled,
.xToolbar .gwt-ToggleButton-up-disabled,
.xToolbar .gwt-ToggleButton-down-disabled {
  opacity:0.4;
}

/* XWIKI-2915: WYSIWYG editor crashes on key press in IE6 */
html>body .xToolbar .gwt-PushButton-up-disabled,
html>body .xToolbar .gwt-PushButton-down-disabled,
html>body .xToolbar .gwt-ToggleButton-up-disabled,
html>body .xToolbar .gwt-ToggleButton-down-disabled {
  filter:alpha(opacity=40);
  zoom:1;
}
* html .xToolbar .gwt-PushButton-up-disabled,
* html .xToolbar .gwt-PushButton-down-disabled,
* html .xToolbar .gwt-ToggleButton-up-disabled,
* html .xToolbar .gwt-ToggleButton-down-disabled {
  background-color:#E6E6E6;
}

.xToolbar .gwt-ListBox {
  background:#F0F0EE none repeat scroll 0% !important;
  border:2px inset white !important;
  font-family:'MS Sans Serif',sans-serif,Verdana,Arial;
  font-size:7pt !important;
  font-weight:normal;
  margin-top:3px;
  padding:0px !important;
  vertical-align:top;
}

.xToolbar .separator {
  background-color:#F0F0EE;
  border-color:buttonshadow buttonhighlight buttonhighlight buttonshadow;
  border-style:solid;
  border-width:1px;
  height:17px;
  margin:2px 2px 2px 4px;
  width:0px;
}

.xRichTextEditor .gwt-RichTextArea {
  width:100%;
  background:#FFFFFF none repeat scroll 0%;
  border-left:1px solid #CCCCCC;
  border-right:1px solid #CCCCCC;
  border-bottom:1px solid #CCCCCC;
  border-top:0px none #CCCCCC;
  margin:0pt;
  padding:0pt;
}

.xColorPicker {
  border:1px solid #B5B6B5;
}

.xColorPalette {
  border-bottom:1px solid #EFEFEF;
  border-right:1px solid #EFEFEF;
}

.xColorPalette td {
  border-left:1px solid #EFEFEF;
  border-top:1px solid #EFEFEF;
  height:21px;
  width:21px;
  margin:0pt;
  padding:0px;
  text-align:center;
  vertical-align:middle;
}

.xColorPalette .colorCell {
  height:15px;
  width:15px;
  padding:0px;
  margin:0px;
  border:3px solid white; 
}

.xColorPalette .colorCell-hover {
  border:3px solid #CCCCCC;
}

.xColorPalette .colorCell-selected {
  height:15px;
  width:15px;
  padding:2px;
  margin:0px;
  border:1px solid white;
}

.xSymbolPalette {  
  border-right:1px solid #EFEFEF;
  border-bottom:1px solid #EFEFEF;
  margin: 2px 3px 3px 2px;
}

.xSymbolPalette td {
  border-left:1px solid #EFEFEF;
  border-top:1px solid #EFEFEF;
  height:17px;
  width:17px;
  margin:2pt;
  padding:0px;
}

.xSymbolPalette .symbolCell {
  height:15px;
  width:15px;
  padding:2px;
  margin:0px;
  font-size:90%;  
  text-align:center;
  vertical-align:middle;
  background-color: #FFFFFF;
  color: #191970;  
  cursor: default;
}

.xSymbolPalette .symbolCell-hover {  
  background-color:#778899;
}

.xDialogBox {
  padding: 3px;
  background-color: white;
}

.xDialogBox-dragging {
  background-color: transparent !important;
  border: 1px dashed #333;
}

.xDialogCaptionBar {
  background-color: #DDD;
  color: #777;
  font-weight: bold;
  letter-spacing: -1px;
  padding: 0 27px 0 25px;
  position: relative;
  cursor: default;
}

.xDialogIcon {
  position: absolute;
  left: 3px;
  top: 3px;
}

.xDialogCaption {
  white-space: nowrap;
  height: 27px;
  line-height: 27px;
}

.xDialogCloseIcon {
  position: absolute;
  right: 5px;
  top: 5px;
}

.xDialogContent {
  border: 2px solid #DDD;
}

.xDialogHeader, .xDialogFooter {
  height: 25px;
  padding: 10px;
  line-height: 25px;
}

.xDialogHeader {
  text-align: center;
  font-weight: lighter;
  color: #333;
  letter-spacing: 1px;
}

.xDialogFooter {
  text-align: right;
}

.xDialogBody {
  border-top: 2px solid #EEE;
  border-bottom: 2px solid #EEE;
  height: 350px;
  width: 459px;
  overflow: auto;
  margin: 0 6px;
}

.gwt-TabBar {
}

.gwt-TabBar .gwt-TabBarFirst {
  width: 5px;  /* first tab distance from the left */
}

.gwt-TabBar .gwt-TabBarRest {
}

.gwt-TabBar .gwt-TabBarItem {
  margin-left: 6px;
  padding: 3px 6px 3px 6px;
  cursor: pointer;
  color: black;
  font-weight: bold;
  text-align: center;
  background: #d0e4f6; 
}

.gwt-TabBar .gwt-TabBarItem-selected {
  cursor: default;
  background: #92c1f0;
} 

.gwt-TabPanel {
  padding: 6px;
}

.gwt-TabPanelBottom {
  border-color: #92c1f0;
  border-style: solid;
  border-width: 3px 2px 2px;
  overflow: hidden;
  padding: 6px;
}

.xLinkToUrl .gwt-Label,
.xLinkToNewPage .gwt-Label,
.xLinkToExistingPage .gwt-Label {
  font-weight: bold;
  width: 300px;
  padding: 5px;
}

.xLinkToUrl .gwt-TextBox,
.xLinkToNewPage .gwt-TextBox,
.xLinkToExistingPage .gwt-TextBox { 
  font-size: x-small;
  margin: 0 5px;
  width: 300px;
}

.xLinkToExistingPage .gwt-ListBox,
.xLinkToNewPage .gwt-ListBox {
  margin: 0 5px;
}

.xLinkToUrl .gwt-Button,
.xLinkToNewPage .gwt-Button {
  font-size: x-small;
  margin: 8px;
}

.gwt-MenuBar {
  cursor: default;
}

.gwt-MenuBar .gwt-MenuItem {
  cursor: default;
}

.gwt-MenuBar .gwt-MenuItem-selected {
  background: #E0EDFE;
}

.gwt-MenuBar .gwt-MenuItem-disabled {
  color: #C0C0C0;
  background-color: transparent !important;
}

.gwt-MenuBar-horizontal {
  background-color: #e3e8f3;
  border: 1px solid #BBBBBB;
}

.gwt-MenuBar-horizontal .gwt-MenuItem {
  padding: 0px 10px;
  color: #666;
  font-weight: bold;
  background-color:#F0F0EE;
  border-left:1px solid #FFFFFF;
  border-right:1px solid #AAAAAA;
}

.gwt-MenuBar-horizontal .gwt-MenuItemSeparator {
  width: 1px;
  padding: 0px;
  margin: 0px;
  border: 0px;
  border-left: 1px solid #888888;
  background: white;
}

.gwt-MenuBar-horizontal .gwt-MenuItemSeparator .menuSeparatorInner {
  width: 1px;
  height: 1px;
  background: white; 
}

.gwt-MenuBar-vertical table {
  border-collapse: collapse;
  background-color: #F0F0EE;
  border-style: solid;
  border-width: 1px;
  border-color: #fff #aaa #aaa #fff;
  font-size: 12px;
}

.gwt-MenuBar-vertical .gwt-MenuItem {
  padding: 4px 14px;
}

.gwt-MenuBar-vertical .gwt-MenuItemSeparator {
  padding: 2px 0px;
}

.gwt-MenuBar-vertical .gwt-MenuItemSeparator .menuSeparatorInner {
  height: 1px;
  padding: 0px;
  border-top: 1px solid #aaa;
  overflow: hidden;
  margin: 0px 5px;
}

.gwt-MenuBar-vertical .subMenuIcon {
  padding-right: 4px;
}

.gwt-MenuBar-vertical .subMenuIcon-selected {
  background-color: #E0EDFE;
}

.gwt-MenuBarPopup {
  margin: 0px 0px 0px 3px;
}

.gwt-MenuBarPopup .menuPopupTopLeftInner {
  width: 5px;
  height: 5px;
  zoom: 1;
}

.gwt-MenuBarPopup .menuPopupTopRightInner {
  width: 8px;
  height: 5px;
  zoom: 1;
}

.gwt-MenuBarPopup .menuPopupTopCenterInner{
  display: none;
}

.gwt-MenuBarPopup .menuPopupBottomLeftInner {
  width: 5px;
  height: 8px;
  zoom: 1;
}

.gwt-MenuBarPopup .menuPopupBottomRightInner {
  width: 8px;
  height: 8px;
  zoom: 1;
}

* html .gwt-MenuBarPopup .menuPopupTopLeftInner {
  width: 5px;
  height: 41px;
  margin-top: -36px;
  overflow: hidden;
}

* html .gwt-MenuBarPopup .menuPopupTopRightInner {
  width: 13px;
  height: 41px;
  margin-left: -5px;
  margin-top: -36px;
  overflow: hidden;
}

* html .gwt-MenuBarPopup .menuPopupBottomLeftInner {
  width: 5px;
  height: 49px;
  margin-top: -41px;
  overflow: hidden;
}

* html .gwt-MenuBarPopup .menuPopupBottomRightInner {
  width: 13px;
  height: 49px;
  margin-left: -5px;
  margin-top: -41px;
  overflow: hidden;
}

* html .gwt-MenuBar-vertical table {
  border-collapse: collapse;
  background-color: #F0F0EE;
  border-style: solid;
  border-width: 1px;
  border-color: #fff #aaa #aaa #fff;
  font-size: 12px;
}

.gwt-MenuItem .gwt-MenuItemIcon {
  margin-left: -5px;
  vertical-align: middle;
}

.gwt-MenuItem .gwt-MenuItemLabel {
  display: inline;
  padding-left: 6px;
}

.xImagePreview {
  width: 116px;
  padding: 3px;
  margin: 0px;
  display: inline;
  float: left;
}

.xImagePreview img {
  height: 90px;
  width: 110px;
  display: block;
  cursor: pointer;
  border: solid 2px white;
}

.xImagePreviewSelected img {
  border: solid 2px #FFA500;
}

.xInsertImageButton {
  font-size: xx-small;
  margin-top: 3px;
  width: 110px
}

.xImageDialogMain {
  padding: 6px;
}

.xImageDialogMain .gwt-TabPanel {
  padding: 0;
}

.xImageDialogMain .gwt-TabPanelBottom {
  width: 385px;
}

.xImagesContainerPanel {
  height: 200px;
}

.xImageChooser .gwt-Label,
.xUploadForm .gwt-Label,
.xSettingsPanel .xSettingsLabel {
  font-weight: bold;
  padding: 5px;  
}

.xSizePanel .gwt-Label,
.xHAlignPanel .gwt-Label,
.xVAlignPanel .gwt-Label,
.xAltPanel .gwt-Label {
  display: inline;
  margin-left: 1em;
  margin-right: 1em;
}

.xSizePanel input {
  width: 3em;
}

.xAlignLabel,
.xInsertButton,
.xSizePanel,
.xAltPanel {
  margin-top: 5px;
}

.xTableMainPanel {
  padding-top: 1em;
  padding-bottom: 1em;
}

.xTablePanel {
  margin: 1em;  
}

.xTablePanel .gwt-Label {
  font-weight: bold;
  display: inline;
}

.xTablePanel .gwt-TextBox {
  display: inline;
}

.xTablePanel .gwt-CheckBox {
  display: inline;
}

.xImporterTabPanel {
  width: 480px;
  height: 360px;
}

.xImporterInfoLabel {
  text-align: center;
  padding-bottom: 5px;  
}

.xImporterClipboardTabEditor {
  width: 100%;
  height: 260px;
  border: solid 1px #000000;
}

.xImporterImportButton {
  width: 60px;
}

.xImporterCancelButton {
  width: 60px;
  margin-left: 5px;
}

.xMacroParameter {
  padding: 14px 0 6px 0;
}

.xMacroParameterLabel {
  letter-spacing; -1px;
  text-transform: capitalize;
  font-size: 80%;
  color: #333;
  margin-bottom: 3px;
}

.xMacroParameterError {
  font-size: 80%;
  color: red;
  padding: 2px 0;
}

.xMacroParameter textarea {
  width: 433px;
  height: 150px;
  border: 1px solid #AAA;
  padding: 2px;
}

.xMacroParameter .textInput {
  width: 433px;
  border: 1px solid #AAA;
  padding: 2px;
}

.xMacroList {
  height: 338px;
  margin: 6px 0;
  width:459px;
}

.xMacroList option {
  text-transform: capitalize;
}
