$response.setContentType("application/x-json")
#set($uorg = $request.get("uorg"))
#set($fullname = $request.get("name"))

#if($uorg == "user")
  ## verify if the user is already in the group
  #set($exists = "$!doc.getObject('XWiki.XWikiGroups', 'member', $fullname)")
  #if($exists == "")
    1
    #set($obj = $doc.newObject("XWiki.XWikiGroups"))
    $obj.set("member", $fullname)
    #set($discard = $doc.save())
  #else 0
  #end
  
#else ## group add
  #set($users = $xwiki.rightsmanager.getAllMembersNamesForGroup($fullname))
  #set($nr = 0)
  #foreach($user in $users)
    #set($exists = "$!doc.getObject('XWiki.XWikiGroups', 'member', $user)")
    #if($exists == "")
       #set($nr = $nr + 1)
       #set($obj = $doc.newObject("XWiki.XWikiGroups"))
       $obj.set("member", $user)
    #end
  #end
  #set($discard = $doc.save())
## return the number
  $nr
#end