#set($formname = "update")
#set($saveaction = "save")

## set the new interface from xwiki.cfg
#set($interface = $xwiki.rightsmanager.defaultUi)

<div id="xwikieditcontent">
########## display the new interface
#if($interface == "new")
#if($doc.fullName == "XWiki.XWikiPreferences")
#if($request.editor == "globalrights")   
#set($clsname = "XWiki.XWikiGlobalRights")
#else                                    
#set($clsname = "XWiki.XWikiRights")
#end
#elseif($doc.name == "WebPreferences")  
#if($request.editor == "spacerights")
#set($clsname = "XWiki.XWikiGlobalRights")
#else
#set($clsname = "XWiki.XWikiRights")  
#end #end
## url to take the users and groups to display in the ajax-based table
#set($url = "?xpage=getusersandgroups")
#set($saveUrl = $doc.getURL("view", "xpage=saverights&clsname=${clsname}&fullname=XWiki.XWikiGuest&uorg=users"))

## get the rights for XWikiGuest
#set($r1 = 0) #set($r2 = 0) #set($r3 = 0) #set($r4 = 0) #set($r5 = 0) #set($r6 = 0) #set($r7 = 0)
  
#set($guest = "XWiki.XWikiGuest")
#foreach($obj in $doc.getObjects($clsname)) ## XWiki.XWikiGlobalRights or XWiki.XWikiRights
  #set($pers = "$!obj.getProperty('users').getValue()")
  #if($pers.matches("^(.*,)?${guest}(,.*)?$"))
     #if($obj.getProperty('allow').getValue() == 1)
        #set($allows = "$!obj.getProperty('levels').getValue()")
      #else
        #set($denys = "$!obj.getProperty('levels').getValue()")
      #end
      
      #if($allows && $allows.indexOf("view") > -1) #set($r1 = 1) #end
      #if($allows && $allows.indexOf("comment") > -1) #set($r2 = 1) #end
      #if($allows && $allows.indexOf("edit") > -1) #set($r3 = 1) #end
      #if($allows && $allows.indexOf("delete") > -1) #set($r4 = 1) #end
      #if($allows && $allows.indexOf("register") > -1) #set($r5 = 1) #end
      #if($allows && $allows.indexOf("admin") > -1) #set($r6 = 1) #end
      #if($allows && $allows.indexOf("programming") > -1) #set($r7 = 1) #end

      #if($denys && $denys.indexOf("view") > -1) #set($r1 = 2) #end
      #if($denys && $denys.indexOf("comment") > -1) #set($r2 = 2) #end
      #if($denys && $denys.indexOf("edit") > -1) #set($r3 = 2) #end
      #if($denys && $denys.indexOf("delete") > -1) #set($r4 = 2) #end
      #if($denys && $denys.indexOf("register") > -1) #set($r5 = 2) #end
      #if($denys && $denys.indexOf("admin") > -1) #set($r6 = 2) #end
      #if($denys && $denys.indexOf("programming") > -1) #set($r7 = 2) #end
      
      #if($denys && $denys == "") #set($r1 = 0) #set($r2 = 0) #set($r3 = 0) #set($r4 = 0) #set($r5 = 0) #set($r6 = 0) #set($r7 = 0) #end
      #if($allows && $allows == "") #set($r1 = 0) #set($r2 = 0) #set($r3 = 0) #set($r4 = 0) #set($r5 = 0) #set($r6 = 0) #set($r7 = 0) #end
  #end
#end

<div id="ajax-loader">Loading...<br />
  <img src="$xwiki.getSkinFile('icons/ajax-loader.gif')" alt="Loading..." title="Loading..." />
</div>

<table id="usersandgroupstable">
<tr>
<td style="width:100%">
<table id="specialusersandgroups">
<tr class="theader">
    <td class="usersorgroupsnames">$msg.get("rightsmanager.specialusers")</td>
    <td class="rights">$msg.get("rightsmanager.view")</td>
    <td class="rights">$msg.get("rightsmanager.comment")</td>
    <td class="rights">$msg.get("rightsmanager.edit")</td>
    <td class="rights">$msg.get("rightsmanager.delete")</td>
    <td class="rights">$msg.get("rightsmanager.register")</td>
    <td class="rights">$msg.get("rightsmanager.admin")</td>
    ## if global rights and main wiki show programming right column
    #set($hasPrgr = ($doc.fullName=='XWiki.XWikiPreferences' && $context.database=='xwiki'))
    #if($hasPrgr)<td class="rights">$msg.get("rightsmanager.program")</td> #end
</tr>
<tr id="XWikiGuestSpecial">
      <td class="suorg">$msg.get("rightsmanager.unregisteredusers")</td>
      <td class="rights" id="tdview"></td>
      <td class="rights" id="tdcomment"></td>
      <td class="rights" id="tdedit"></td>
      <td class="rights" id="tddelete"></td>
      <td class="rights" id="tdregister"></td>
      <td class="rights" id="tdadmin"></td>
      #if($hasPrgr)<td class="rights" id="tdprogr"></td> #end
</tr>
</table>
</td>
</tr>
<tr>
    <td colspan="2" style="padding-top: 10px; padding-bottom: 10px;">
      <select name="uorg" style="width: 130px;">
        <option value="groups" selected="selected">$msg.get("Groups")</option>
        <option value="users">$msg.get("Users")</option>
      </select>&nbsp;<span id="showLimits"></span>
    </td>
</tr>
<tr><td style="width:100%">
      <table class="display">
       <thead class="theader">
          <tr><td class="usersorgroupsnames">$msg.get("rightsmanager.groupsorusers")</td>
              <td class="rights">$msg.get("rightsmanager.view")</td>
              <td class="rights">$msg.get("rightsmanager.comment")</td>
              <td class="rights">$msg.get("rightsmanager.edit")</td>
	      <td class="rights">$msg.get("rightsmanager.delete")</td>
              <td class="rights">$msg.get("rightsmanager.register")</td>
              <td class="rights">$msg.get("rightsmanager.admin")</td>
              ## if global rights and main wiki show programming right column
              #set($hasPrgr = ($doc.fullName=='XWiki.XWikiPreferences' && $context.database=='xwiki'))
              #if($hasPrgr)<td class="rights">$msg.get("rightsmanager.program")</td> #end
          </tr>
          <tr id="table-filters">
              <td>
                <input name="name" type="text" class="filter"/>
                <input name="progr" type="hidden" value="#if($hasPrgr) true #else false #end" />
                <input name="admin" type="hidden" value="true" />
                <input name="reg" type="hidden" value="true" />
                <input name="clsname" type="hidden" value="$clsname" />
              </td>
              <td colspan="4"></td>#if($hasPrgr)<td></td>#end<td></td>
              <td>
              #if($context.database != "xwiki") #set($mainwk = false) #else #set($mainwk = true) #end
                #if(!$mainwk) ## display the combobox only in a local wiki
                <select name="wiki" class="filter">
                  <option value="local" selected="selected">$msg.get("rightsmanager.local")</option>
                  <option value="global">$msg.get("rightsmanager.global")</option>
                  <option value="both">$msg.get("rightsmanager.both")</option>
                </select>
                #else <input type="hidden" value="local" name="wiki" /> #end
                </td>
              </tr>
       </thead>
       <tbody id="display1"><tr><td>&nbsp;</td></tr></tbody>
      </table></td>
    <td valign="top">
      <div id="scrollbar1" class="scrollbar"><div class="inscrollbar">&nbsp;</div></div>
    </td>
    <td id="buff"></td>
</tr>
</table>
<script type="text/javascript">
   var ta = new ASSTable("$url", 15, "display1", "scrollbar1", "usersandgroupstable", displayUsersAndGroups, true); 
   var chbx1 = new MSCheckbox(document.getElementById('tdview'), "view", "${saveUrl}", "${r1}"); 
   var chbx2 = new MSCheckbox(document.getElementById('tdcomment'), "comment", "${saveUrl}", "${r2}"); 
   var chbx3 = new MSCheckbox(document.getElementById('tdedit'), "edit", "$saveUrl", "${r3}"); 
   var chbx4 = new MSCheckbox(document.getElementById('tddelete'), "delete", "${saveUrl}", "${r4}"); 
   var chbx5 = new MSCheckbox(document.getElementById('tdregister'), "register", "${saveUrl}", "${r5}"); 
   var chbx6 = new MSCheckbox(document.getElementById('tdadmin'), "admin", "${saveUrl}", "${r6}"); 
   if(document.getElementById('tdprogr')) var chbx7 = new MSCheckbox(document.getElementById('tdprogr'), "programming", "${saveUrl}", "${r7}"); 
</script>

######## display the stable interface
#else 
#set ($classname = "XWiki.XWikiGlobalRights")
#set( $class = $xwiki.getDocument($classname).xWikiClass)
#set( $redirect = "$xwiki.getRequestURL()&amp;editor=rights")
<form id="update" method="post" action="$doc.getURL("save")" onsubmit="cancelCancelEdit()">
<div style="overflow:auto">
<div>
<div class="hidden">
<input type="hidden" name="xcontinue" value="$doc.getURL($context.action, "editor=globalrights&amp;global=1")"/>
<input type="hidden" name="xredirect" value="$xwiki.getURL("${doc.space}.WebHome")"/>
</div>
#set ($first = 1)
#set($nb = $doc.getObjectNumbers("${class.name}"))
<input type="hidden" name="${class.name}_nb" value="$nb" />
<table id="xwikirightstable">
 <tr>
#*<th>$msg.get("Right")</th>*#<th>$msg.get("Users")</th><th>$msg.get("Groups")</th><th>$msg.get("Level")</th><th>$msg.get("Allow-Deny")</th><th>$msg.get("Remove")</th>
 </tr>
#foreach ($obj in $doc.getObjects($class.name))
#set($class = $obj.xWikiClass)
    <tr>
##      <td align="center">$!{obj.number}</td>
        <td>$!doc.displayEdit($class.users,"${class.name}_${obj.number}_",$obj)</td>
        <td>$!doc.displayEdit($class.groups,"${class.name}_${obj.number}_",$obj)</td>
        <td>$!doc.displayEdit($class.levels,"${class.name}_${obj.number}_",$obj)</td>
        <td>$!doc.displayEdit($class.allow,"${class.name}_${obj.number}_",$obj)</td>
        <td class="xwikibuttonlink"><a href="$doc.getURL("objectremove", "classname=${class.name}&amp;classid=${obj.number}&amp;xredirect=${xwiki.getURLEncoded($redirect)}")" onclick="return confirm('$msg.get("confirmobjectremove")')">$msg.get("Remove")</a></td>
    </tr>
#end
  </table>
</div> ## noname
</div> ## overflow
<div class="bottombuttons">#template("adminactions.vm")</div>
</form>
#end
</div>