#if(!$xwiki.hasAccessLevel("view","XWiki.Registration")||$xwiki.getDocument("XWiki.Registration").isNew())
  <h1>$msg.get("Registration")</h1>
  #if(!$reg||$reg<0 )
    <p>$msg.get("registerwelcome")</p>
  #end
  #if($reg && $reg<=0)
    #if($reg==-2)
      #error("$msg.get('passwordmismatch').")
    #elseif($reg==-3)
      #error("$msg.get('useralreadyexists').")
    #elseif($reg==-4)
      #error("$msg.get('invalidusername').")
    #else
      #error("$msg.get('registerfailed') ($msg.get('registerfailedcode') $reg).")
    #end
  #elseif($reg)
    #set($xwname = "XWiki.${request.xwikiname}")
    #info("$xwiki.getUserName($xwname) ($request.xwikiname): $msg.get('registersuccessful').")
  #end
  #if(!$reg||$reg<0 )
    <form id="register" name="register" action="" action="" method="post">
      <div>
        <input type="hidden" name="template" value="XWiki.XWikiUserTemplate" />
        <input type="hidden" name="register" value="1">
        #set( $class = $xwiki.getClass("XWiki.XWikiUsers"))
        #set( $obj = $class.newObject() )
        #set( $serverobj = $class.newObject() )
        #set( $ok = $doc.use("XWiki.XWikiUsers"))
        #if($request.register_first_name)
          $doc.set("first_name", $request.register_first_name)
        #end
        #if($request.register_last_name)
          $doc.set("last_name", $request.register_last_name)
        #end
        <dl>
          #set($prop = $class.first_name)
          <dt>$msg.get("firstname"):</dt>
          <dd>$doc.displayEdit($prop, "register_",  $obj)</dd>

          #set($prop = $class.last_name)
          <dt>$msg.get("lastname"):</dt>
          <dd>$doc.displayEdit($prop, "register_",  $obj)</dd>
          <dt>$msg.get("loginid"):</dt>
          <dd><input name="xwikiname" type="text" size="20" onfocus=" prepareName(document.forms.register);" /></dd>

          #set($prop = $class.password)
          <dt>$msg.get("password"):</dt>
          <dd>$doc.displayEdit($prop, "register_",  $obj)</dd>
          <dt>$msg.get("passwordrepeat"):</dt>
          <dd>$doc.displayEdit($prop, "register2_",  $obj)</dd>

          #set($prop = $class.email)
          <dt>$msg.get("email"):</dt>
          <dd>$doc.displayEdit($prop, "register_",  $obj)</dd>
        </dl>
        <span class="buttonwrapper"><input type="submit" value="$msg.get("iregister")"></span>
      </div>
    </form>
  #end
#else
  $xwiki.getDocument("XWiki.Registration").getTranslatedDocument().getRenderedContent()
#end