###
### Rename document template
###
#if(!$xwiki.hasAccessLevel("edit"))
#template("accessdenied.vm")
#else
#template("startpage.vm")
## TODO: Improve the interface, splitting the operation into more steps.
#if((!$step) || ($step == ""))
#set($step = $request.getParameter("step"))
#end
#if((!$step) || ($step == ""))
#set($step = "1")
#end
#set($step = $xwiki.parseInt("$step"))
<div class="main layoutsubsection">
#if($step == 1)
#template("renameStep1.vm")
#else
#if((!$request.newPageName) || ($request.newPageName.trim().equals("")) || ($request.newPageName.endsWith(".")))
#error("$msg.get('core.rename.emptyName')")
#template("renameStep1.vm")
#elseif($xwiki.exists($request.newPageName))
#error("$msg.get('core.rename.alreadyExists', [$request.newPageName, $xwiki.getURL($request.newPageName)])")
#template("renameStep1.vm")
#else
#set($renamedBLs = $xwiki.arrayList)
#foreach($param in $request.parameterNames)
#if($param.startsWith("backlink_"))
#set($discard = $renamedBLs.add($param.substring(9)))
#end
#end

## Save the old document name so that we can display it in the notice box. After the rename the
## doc points to the new name!
#set ($oldDocName = $doc.fullName)

$doc.rename($request.newPageName, $renamedBLs)

#xwikimessageboxstart("$msg.get('notice')" "$msg.get('core.rename.success', [$oldDocName, $doc.fullName, $xwiki.getURL($doc.fullName)])")
#xwikimessageboxend()

#end
#end
<div class="clearfloats"></div>
</div>## main
#template("endpage.vm")
#end