#xwikiad {
  float: right;
  margin-right: 30px;
}
#xwikireadonly {
  color: red;
}
#xwikimessage {
  margin: auto;
  padding: 0px;
  margin-top: 5px;
}
#xwikiuseravatar{
  max-width: 150px;
}

/* Recognize velocity comments */
.vcomment {
  background-color: #ccccff;
  font-style: italic;
  margin-left: 5px;
  margin-right: 10px;  
}

.edit_section {
  float: right;
  margin-left: 5px;
  margin-right: 5px;
}

.diffmodifiedline {
  border-left: 8px solid #888888;
  padding-left: 10px;
}

.diffunmodifiedline {
  border-left: 8px solid #dddddd;
  padding-left: 10px;
}

.diffremoveword {
  background-color: red;
  text-decoration: line-through;
}

.diffaddword {
  background-color: lightgreen;
}

#changescontent, #changes-title, #changes-info, #changes-metadata, #changes-content, #changes-attachments, #changes-comments {
    width: 100%;
    margin: 0px;
    padding: 0px;
}

#changes-info {
    width: 100%;
    margin: auto;
}

#changes-info-boxes {
    width: 100%;
    margin: auto;
    text-align: center;
}

#changes-info-boxes-inside {
    width: 520px;
    margin: auto;
    text-align: left;
}

.changes-info-box {
    float: left;
    width: 200px;
    border: 1px solid;
    padding: 5px;
}

#changes-info-box-from {
    margin-left: 20px;
    margin-right: 20px;
}

#changes-info-box-to {
    margin-left: 20px;
    margin-right: 20px;
}

#changes-info-comment {
    text-align: center;
    padding-left: 30px;
    padding-right: 30px;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 20px;
}

.changes-table {
    width: 100%;
    margin: auto;
    margin-top: 30px;
}

#changes-info-table {
   width: 80%;
   border-spacing: 0px;
}

#changes-info-table td {
    border: 1px solid;
    border-spacing: 10px;
}
