## Default renderer for any kind of notification.
## Each application should create its own.
## The variable "$event" contains the event to display.
## See: org.xwiki.eventstream.Event
#set ($app  = "$!event.events.get(0).application")
#set ($icon = 'bell')
#if ($app == 'xwiki')
  #set ($app = $services.localization.render('core.events.appName'))
  #set ($icon = 'file')
#end
#set ($document = $xwiki.getDocument($event.document))
<div class="clearfix">
  <div class="row">
    <div class="col-xs-2 notification-icon">
      $services.icon.renderHTML($icon)
    </div>
    <div class="col-xs-10">
      <p><strong>$escapetool.xml($app)</strong></p>
      <p><strong>[$!escapetool.xml($event.type)]</strong> <a href="$!escapetool.xml($document.getURL())">$!escapetool.xml($document.getRenderedTitle('html/5.0'))</a></p>
      #set ($dates = $event.dates)
      #if ($dates.size() > 1)
        #set ($lastDateIndex = $dates.size())
        #set ($lastDateIndex = $lastDateIndex - 1)
        #set ($lastEventDate = $dates.get($lastDateIndex))
        <p><small>$dates.size() changes between $escapetool.xml($xwiki.formatDate($event.dates.get(0))) and $escapetool.xml($xwiki.formatDate($lastEventDate))</small></p>
      #else
        <p><small>$escapetool.xml($xwiki.formatDate($event.dates.get(0)))</small></p>
      #end
      <p>By:
      #foreach ($user in $event.users)
        #set ($userDoc = $xwiki.getDocument($user))
        #if ($velocityCount > 1 and $velocityCount == $event.users.size())and#elseif($velocityCount > 1), #end
        <a href="$userDoc.getURL()">$userDoc.display('first_name') $userDoc.display('last_name')</a>
      #end</p>
    </div>
  </div>
  ## Details
  #if ($event.events.size() > 1)
    <button class="btn btn-xs toggle-notification-event-details" type="submit">
      <span class="notification-event-arrow">▸</span> <small>$escapetool.xml($services.localization.render('notifications.menu.details'))</small>
    </button>
    <table class="notification-event-details">
      #foreach($event in $event.events)
        #set ($userDoc = $xwiki.getDocument($event.user))
        <tr>
          <td>$escapetool.xml($event.type)</td>
          <td><a href="$userDoc.getURL()">$escapetool.xml("$userDoc.display('first_name') $userDoc.display('last_name')")</a></td>
          <td class="text-right">$escapetool.xml($xwiki.formatDate($event.date))</td>
        </tr>
      #end
    </table>
  #end
</div>
