## Default renderer for any kind of notification.
## Each application should create its own.
## The variable "$event" contains the event to display.
## See: org.xwiki.notifications.CompositeEvent
#template('notification/macros.vm')
#set ($app  = "$!event.events.get(0).application")
#set ($icon = 'bell')
#if ($app == 'xwiki')
  #set ($app = $services.localization.render('core.events.appName'))
  #set ($icon = 'file')
#end
#displayNotificationEvent($icon, $app, $event)
