#template('colorThemeInit.vm')
.wizard-header {
  background-color: $theme.backgroundSecondaryColor;
  border-bottom: 1px solid $theme.borderColor;
  margin: 1em 0;
}

.wizard-header h1 {
  border-bottom: 0 none;
  color: $theme.titleColor;
  float: left;
  font-size: 1.5em;
  margin: 0;
  padding: 0.5em;
}

.wizard-header .steps {
  float: right;
  line-height: 1.5em;
  list-style-position: inside;
  list-style-type: none;
  margin: 0;
  padding: .8em 0;
}

.wizard-header .steps li {
  display: inline-block;
  margin-right: 1em;
  vertical-align: middle;
}

.steps .number, .steps .number:hover, .steps .number:active {
  background-color: $theme.menuBackgroundColor;
  border-radius: 50%;
  color: $theme.menuLinkColor;
  cursor: unset;
  box-shadow: none;
  display: inline-block;
  font-weight: 700;
  line-height: 18px;
  text-align: center;
  min-height: 22px;
  min-width: 22px;
}


.steps .number.step-active {
  background-color: transparent;
  border: 2px solid $theme.notificationSuccessColor;
  color: $theme.notificationSuccessColor;
}

.steps .number.step-done {
  background-color: transparent;
  border: 2px solid $theme.textSecondaryColor;
  color: $theme.textSecondaryColor;
}

/** Flamingo specific adjustment */
.skin-flamingo .steps .number.step-active, .skin-flamingo .steps .number.step-done {
  height: 24px;
  width: 24px;
}

.steps .name {
  color: $theme.titleColor;
}

.steps .name.step-active {
  color: $theme.notificationSuccessColor;
}

.steps .name.step-done {
  color: $theme.textSecondaryColor;
}

.steps.vertical {
  list-style-position: inside;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.steps.vertical li {
  margin-top: .5em;
}

.steps.vertical .description {
  display: block;
  line-height: normal;
  margin-left: 23px;
}

.wizard-footer {
  background-color: $theme.backgroundSecondaryColor;
  border-top: 1px solid $theme.borderColor;
  margin-top: 2em;
  padding: .5em 1em;
  position: relative;
  text-align: right;
}

.wizard-footer .buttonwrapper.left {
  left: 1em;
  position: absolute;
}

.skin-colibri .wizard-footer .buttonwrapper.left{
  top: .1em;
}

.wizard-body .half{
  padding: 0 1%;
  float: left;
}

/* Hide some page elements when the wizard is shown. */
.document-menu,
#contentmenu,
.xdocLastModification,
.document-header + hr,
#xdocFooter {
  display: none;
}
.document-header {
  margin-bottom: 0;
}
