#template('colorThemeInit.vm')
.LV_validation_message{
  font-size: 0.8em;
  line-height: 1.8em;
  margin: 0 0 0 0.5em;
}

.LV_valid {
  color: $theme.notificationSuccessColor;
}

.LV_invalid {
  color: $theme.notificationErrorColor;
}

