#template('colorThemeInit.vm')
#autosaveControl {
  display: inline;
}
#autosaveControl * {
  vertical-align: text-bottom;
}
#autosaveControl input.autosave-frequency {
  text-align: center;
  vertical-align: baseline;
  padding-bottom: 0;
  width: 2em;
}

/** Override Toucan styles */
#body #autosaveControl label {
  display: inline;
  margin: 0;
}
#body #autosaveControl label.frequency, #body #autosaveControl label.frequency span {
  text-transform: none;
  font-weight: normal;
}