#template('colorThemeInit.vm')
/* The following two rules are needed for overriding styles defined in toucan */
#xwikiobjects, #xwikiclassproperties {
  padding: 0 8px;
  overflow: auto;
  border: none !important;
}
#body #xwikiobjects label, #body #xwikiclassproperties label {
  display: inline;
  text-transform: none;
  font-variant: normal;
  color: $theme.textPrimaryColor;
}
#body .xclass-title h2 span {
  border: none;
  color: inherit;
  display: inline;
  margin: 0;
  position: static;
}
div#xwikiobjects input[type="checkbox"], div#xwikiclassproperties input[type="checkbox"],
div#xwikiobjects input[type="radio"], div#xwikiclassproperties input[type="radio"] {
  width: auto;
  border: none;
}
.boolean-property input {
  width: auto !important;
  border: none !important;
}

/* Generic links */
.more-actions {
  padding: 8px 2px;
}
.more-actions .edit-all {
  display: block;
  padding: 2px 18px;
  background: transparent url("$xwiki.getSkinFile('icons/silk/pencil.png')") left top no-repeat;
}

/* Object editor */
/* XClass */
.xclass-title {
  margin: 16px 0 2px;
}
.xclass-title h2 {
  border: none;
  font-weight: bold;
  font-size: 100%;
  margin: 0;
  padding: 0 0 0 0px;
}
.xclass-content {
 padding: 0 0 0 16px;
 margin: 0 0 10px 0;
}

/* XObject */
.xobject-title, .add_xobject-title {
  position: relative;
  border: none;
  cursor: default;
  background: transparent;
}
.xobject:hover .xobject-title,
.xproperty:hover .xproperty-title {
  background-color: $theme.highlightColor;
  color: $theme.textPrimaryColor;
}
.xobject-title h3 {
  border: none;
  font-size: 100%;
  font-weight: 100;
  margin: 0;
  padding: 4px 4px 4px 10px;
  border: none;
  color: $theme.textColor;
}
.xobject-content {
  padding: 4px 14px 8px;
  border: none;
  margin-bottom: 2px;
}
/* XProperty */
.xobject dl, .xproperty dl {
  margin: 0;
}
#body .xobject-title h3, #body .xclass-title, .add_xobject-title {
  padding-left: 14px !important; /* important for toucan */
}
.xobject-title:hover, .xclass-title:hover, .xproperty-title:hover {
  cursor: default;
}
.xobject-action {
  display: block;
  overflow: hidden;
  position: absolute;
  top: 2px;
  width: 16px;
  height: 16px;
  text-indent: 30px;
  line-height: 30px;
  background: transparent left top no-repeat;
}
.xobject-title .delete {
  right: 0;
  background-image: url("$xwiki.getSkinFile('icons/silk/cross.png')");
}
.xobject-title .edit {
  right: 16px;
  background-image: url("$xwiki.getSkinFile('icons/silk/pencil.png')");
}

/* XProperty definition */
.xproperty {
  border: none;
}
.xproperty-content {
  padding: 4px 16px 8px 16px;
  margin-bottom: 2px;
}
.xproperty-content dl {
  margin: 0;
  padding-left: 16px;
}
.xproperty-title {
  cursor: default;
  padding: 0px;
  overflow: hidden;
}
.xproperty-title .xproperty-property {
  float: left;
  margin-right: 8px;
}
.xproperty_number_input input {
  width: 2em;
}
.xproperty-title h2 {
  display: block;
  padding: 2px 20px 2px 32px;
  margin: 0;
  font-size: 1em;
  font-weight: 100;
  background: transparent url("$xwiki.getSkinFile('icons/datamodel/propertyType-Generic.png')") 14px center no-repeat;
  min-height: 16px;
}
.xproperty-title label {
  font-size: 60%;
  line-height: 1em;
}
.xproperty-content {
  clear: both;
}
.xproperty-title .xproperty-prettyName {
  float: none;
  clear: both;
}
.xobject-content dt, .xproperty-content dt {
  font-size: 75%;
  font-weight: bold;
}
.xobject-content dd, .xproperty-content dd {
  margin: 0 0 4px;
}

/* Expand/collapse */
/* We need to increase the priority of the rule in order to override Toucan styles */
#body .collapsable .xobject-title h3,
#body .collapsable .xclass-title,
#body .collapsable .xproperty-title {
  background-image: url("$xwiki.getSkinFile('icons/silk/bullet_toggle_minus.png')");
  background-position: 0px center;
  background-repeat: no-repeat;
}
#body .collapsed .xobject-title h3,
#body .collapsed .xclass-title,
#body .collapsed .xproperty-title {
  background-image: url("$xwiki.getSkinFile('icons/silk/bullet_toggle_plus.png')");
}
.xclass.collapsed .xclass-content, .xobject.collapsed .xobject-content, .xproperty.collapsed .xproperty-content {
  display: none;
}
.collapsable dt .collapser {
  background-image: url("$xwiki.getSkinFile('icons/silk/bullet_toggle_minus.png')");
  background-position: -4px center;
  background-repeat: no-repeat;
  cursor: default;
  display: inline-block;
  width: 10px;
  height: 10px;
  vertical-align: middle;
}
#xwikiobjects .collapsable dd {
  padding-left: 10px;
}
#xwikiclassproperties .collapsable dt {
  margin-left: -10px;
}
.collapsable dt .collapsed {
  background-image: url("$xwiki.getSkinFile('icons/silk/bullet_toggle_plus.png')");
}
/* Disabled/Deprecated */
.disabled {
  opacity: 0.5;
}
.disabled * {
  font-style: italic;
}
.disabled .xproperty-title h2, #body #xwikiclassproperties .disabled dt label, #body #xwikiobjects dt.disabled label {
  color: $theme.textColor;
}
.syncProperties {
  font-weight: 900;
  display: inline-block;
  padding: 2px 0 2px 22px;
  background: transparent url("$xwiki.getSkinFile('icons/silk/cross.png')") left center no-repeat;
  margin-left: -22px;
}
/* XProperty tools */
.disabletool label {
  font-weight: 900;
}
.xproperty-title .tools {
  float: right;
  margin-top: -18px;
}
.xproperty-title .tools .tool {
  width: 16px;
  height: 16px;
  float: left;
  background: transparent none center no-repeat;
  text-indent: -9999px;
}
.xproperty-title .tools .delete {
  background-image: url($xwiki.getSkinFile('icons/silk/cross.png'));
}
.xproperty-title .tools .move {
  background-image: url($xwiki.getSkinFile('icons/datamodel/move.png'));
  cursor: move;
}
.dragged .xproperty-title {
  border: 1px solid $theme.borderColor;
}
/* Property type icons */
.StringClass h2 {
  background-image: url("$xwiki.getSkinFile('icons/datamodel/string.png')");
}
.DateClass h2 {
  background-image: url("$xwiki.getSkinFile('icons/datamodel/calendar.png')");
}
.TextAreaClass h2 {
  background-image: url("$xwiki.getSkinFile('icons/datamodel/textarea.png')");
}
.NumberClass h2 {
  background-image: url("$xwiki.getSkinFile('icons/datamodel/number.png')");
}
.BooleanClass h2 {
  background-image: url("$xwiki.getSkinFile('icons/datamodel/boolean.png')");
}
.StaticListClass h2 {
  background-image: url("$xwiki.getSkinFile('icons/datamodel/staticlist.png')");
}
.GroupsClass h2 {
  background-image: url("$xwiki.getSkinFile('icons/datamodel/groups.png')");
}
.UsersClass h2 {
  background-image: url("$xwiki.getSkinFile('icons/datamodel/users.png')");
}
.LevelsClass h2 {
  background-image: url("$xwiki.getSkinFile('icons/datamodel/rights.png')");
}
.DBListClass h2 {
  background-image: url("$xwiki.getSkinFile('icons/datamodel/database.png')");
}
.DBTreeListClass h2 {
  background-image: url("$xwiki.getSkinFile('icons/datamodel/tree.png')");
}
.PasswordClass h2 {
  background-image: url("$xwiki.getSkinFile('icons/datamodel/password.png')");
}
#add_xproperty {
  background: transparent url("$xwiki.getSkinFile('icons/silk/bullet_add.png')") left center no-repeat;
  padding-left: 14px;
  margin-left: 16px;
}
#body #xwikiclassproperties #add_xproperty label,
#body #xwikiobjects #add_xobject label {
  margin: 0;
  text-transform: none;
  font-style: italic;
  font-size: 100%;
  font-weight: normal;
  display: inline;
  color: $theme.linkColor;
}

#xwikiclassproperties #add_xproperty input, #xwikiclassproperties #add_xproperty select,
#xwikiobjects #add_xobject input, #xwikiobjects #add_xobject select {
  width: auto !important;
}

#add_xobject {
  margin: 1em 0 0;
}

#add_xobject .add_xobject-title {
  background-position: left 0.5em;
  padding-top: 8px;
  margin-top: 8px;
  border-top: none;
}

.add_xobject-title {
  width: auto;
  font-style: italic;
  background: transparent url("$xwiki.getSkinFile('icons/silk/bullet_add.png')") no-repeat left center;
  display: inline;
  color: $theme.linkColor;
  font-size: 80%;
  padding-top: 2px;
  margin-top: 8px;
  border-top: 1px dotted $theme.borderColor;
}
.xclass-content .add_xobject-title {
  display: block;
}
.add_xobject-title a {
  color: $theme.linkColor;
  text-decoration: none;
  display: block;
  padding: 2px 0;
}
.add_xobject-title a:hover{
  text-decoration: underline;
  background-color: $theme.highlightColor;
}

#switch-xclass {
  text-align: right;
  margin: 4px 0 -16px;
}
