## ---------------------------------------------------------------------------
## See the NOTICE file distributed with this work for additional
## information regarding copyright ownership.
##
## This is free software; you can redistribute it and/or modify it
## under the terms of the GNU Lesser General Public License as
## published by the Free Software Foundation; either version 2.1 of
## the License, or (at your option) any later version.
##
## This software is distributed in the hope that it will be useful,
## but WITHOUT ANY WARRANTY; without even the implied warranty of
## MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the GNU
## Lesser General Public License for more details.
##
## You should have received a copy of the GNU Lesser General Public
## License along with this software; if not, write to the Free
## Software Foundation, Inc., 51 Franklin St, Fifth Floor, Boston, MA
## 02110-1301 USA, or see the FSF site: http://www.fsf.org.
## ---------------------------------------------------------------------------
##!source.syntax=xwiki/2.1
{{velocity output='false'}}
#template("display_macros.vm")
#template("hierarchy_macros.vm")
#set ($counter = 0)
#initRequiredSkinExtensions()
#set ($discard = $xwiki.ssx.use('XWiki.Security.RequiredRights.Code.RequiredRightsResultStyle'))
{{/velocity}}{{velocity}}
#if (!$analysis.isEmpty())##
(% id='requiredRightsResults' class='box' %)(((
  {{translation key='security.requiredrights.confirmationChecker.explanations'/}}

  #foreach ($entry in $analysis.entrySet())

{{html wiki='false'}}
  #hierarchy($entry.key)
  #foreach($res in $entry.value)
  <div class="panel-group" id="required-rights-result-list${counter}" role="tablist" aria-multiselectable="true">
    <div class="panel panel-default">
      <div class="panel-heading" role="tab" id="heading${counter}">
        <h4 class="panel-title">
          <a role="button"
             data-toggle="collapse"
             data-parent="#required-rights-result-list${counter}" 
             href="#collapse${counter}"
             aria-expanded="false"
             aria-controls="collapse${counter}">
            <span class="icon-collapsed">$services.icon.renderHTML('caret-right')</span>
            <span class="icon-expanded">$services.icon.renderHTML('caret-down')</span>
            $services.rendering.render($res.summaryMessage, 'html/5.0')
          </a>
        </h4>
      </div>
      <div id="collapse${counter}" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading${counter}">
        <div class="panel-body">
          $services.rendering.render($res.detailedMessage, 'html/5.0')
        </div>
      </div>
    </div>
  </div>
      #set ($counter = $counter + 1)
    #end
  {{/html}}
  #end
  )))
#end
{{/velocity}}{{velocity output='false'}}
#getRequiredSkinExtensions($requiredSkinExtensions)
#set ($discard = $response.setHeader('X-XWIKI-HTML-HEAD', $requiredSkinExtensions))
{{/velocity}}