/* Following are the presentation styles -- edit away!
   Note that the 'body' font size may have to be changed if the resolution is
    different than expected. */

body {background: #FFF url(../logo.gif) top right no-repeat; color: #000; font-size: 2em;}
:link, :visited {text-decoration: none;}
#controls :active {color: #88A !important;}
#controls :focus {outline: 1px dotted #227;}
h1, h2, h3, h4 {font-size: 100%; margin: 0; padding: 0; font-weight: inherit;}
ul, pre {margin: 0; line-height: 1em;}
html, body {margin: 0; padding: 0;}

blockquote, q {font-style: italic;}
blockquote {padding: 0 2em 0.5em; margin: 0.5 1.5em 0.5em; text-align: center; font-size: 0.85em;}
blockquote p {margin: 1em;}
blockquote i {font-style: normal;}
blockquote b {display: block; margin-top: 0.5em; font-weight: normal; font-size: smaller; font-style: normal;}
blockquote b i {font-style: italic;}

li blockquote {text-align: left; margin: 0;}


kbd {font-weight: bold; font-size: 1em;}
sup {font-size: smaller; line-height: 1px;}

code {padding: 2px 0.25em; font-weight: bold; color: #533;}
code.bad, code del {color: red;}
code.old {color: silver;}
pre {padding: 0; margin: 0.25em 0 0.5em 0.5em; color: #533; font-size: 90%;}
pre code {display: block;}
ul {margin-left: 5%; margin-right: 7%; list-style: disc;}
li {margin-top: 0.95em; margin-right: 0; padding: 0 0 0 0.5em;}
ul ul {line-height: 1;}
ul ul li {margin: .2em; font-size: 85%; list-style: square;}
img.leader {display: block; margin: 0 auto;}


div#header, div#footer {background: #BFCFFF; color: #333;
  font-family: Verdana, Helvetica, sans-serif;}
div#header {background: #BFCFFF  url(../logo.gif) top right no-repeat;
  line-height: 1px;}
div#footer {font-size: 0.5em; font-weight: bold; padding: 1em 0;}
#footer h1, #footer h2 {display: block; padding: 0 1em;}
#footer h2 {font-style: italic;}

div.long {font-size: 0.75em;}
.slide h1 {position: absolute; top: 0; left: 20px; z-index: 1;
  margin: 0; padding: 0.3em 0 0 10px; white-space: nowrap;
  font: normal 120%/1em Georgia, serif; text-transform: capitalize;
  color: rgb(153, 51, 51); background: #BFCFFF;}
.slide h3 {font-size: 130%;}
h1 abbr {font-variant: small-caps;}

div#controls {position: absolute; z-index: 1; left: 50%; top: 0;
  width: 50%; height: 100%;
  text-align: right;}
#footer>div#controls {position: fixed; bottom: 0; padding: 1em 0;
  top: auto; height: auto;}
div#controls form {position: absolute; bottom: 0; right: 0; width: 100%;
  margin: 0; padding: 0;}
div#controls a {font-size: 2em; padding: 0; margin: 0 0.5em; 
  background: #BFCFFF; border: none; color: #779; 
  cursor: pointer;}
div#controls select {visibility: hidden; background: #DDD; color: #227;}
div#controls div:hover select {visibility: visible;}

#currentSlide {text-align: center; font-size: 0.5em; color: #449;}

#slide0 {padding-top: 3.5em; font-size: 90%;}
#slide0 h1 {position: static; margin: 1em 0 0; padding: 0;
   font: normal 2em Georgia, serif; white-space: normal;
   color: rgb(153, 51, 51); background: transparent;}
#slide0 h2 {font: bold italic 1em Helvetica, sans-serif; margin: 0.25em;}
#slide0 h3 {margin-top: 1.5em; font-size: 1.5em;}
#slide0 h4 {margin-top: 0; font-size: 1em;}

ul.urls {list-style: none; display: inline; margin: 0;}
.urls li {display: inline; margin: 0;}
.note {display: none;}

.inc, .inc * {color: #999 !important;}
.current {color: rgb(153, 51, 51);}

li.current { list-style-image: url(current_arrow.gif);}
li.current ul li { list-style-image: none;}

p.messages {font-size: 75%; color: #999; background-color: #fff; text-align: right;}

li.current img.handout {
display: inline;
float: right;
border: 1px solid #999;
}


ol#schematic  {
	list-style-type: none;
}

ol#schematic li {
display: inline;
text-indent: -999px;
}

ol#schematic li#phil {
position: absolute;
left: 200px;
top: 150px;
	width: 187px;
	height: 118px;
	background-image: url(../pix/philosophy_gr.gif);
	background-repeat: no-repeat;
}

ol#schematic li#aware {
position: absolute;
left: 400px;
top: 150px;
	width: 187px;
	height: 118px;
	background-image: url(../pix/awareness_gr.gif);
	background-repeat: no-repeat;


}

ol#schematic li#imp {
position: absolute;
left: 600px;
top: 150px;
	width: 187px;
	height: 118px;
	background-image: url(../pix/implementation_gr.gif);
	background-repeat: no-repeat;
}

ol#schematic li#phil.current {left: 200px; 	background-image: url(../pix/philosophy.gif); background-repeat: no-repeat;}
ol#schematic li#aware.current {left: 400px; 	background-image: url(../pix/awareness.gif);background-repeat: no-repeat;}
ol#schematic li#imp.current {left: 600px; 	background-image: url(../pix/implementation.gif);background-repeat: no-repeat;}



/*
li:after {content: " [" attr(class) "]"; color: #F88;}
*/
