.body {
    left: 0px;
    right: 0px;
}

#xwikibanner, #xwikiheader, #xwikifooter {
    position: relative;
    display: block;
    float: left;
    clear: both;
    width: 100%;
    margin: 0px;
}

#xwikinav_header, #xwikinav_footer {
    position: relative;
    display: block;
    float: left;
    clear: both;
    width: 100%;
    border-width: 0.4em 0em 0em;
    border-style: solid;
    border-color: #009255;
    background-image:url(pixel_clair.gif);
    background-repeat: no-repeat;
}

*, td, th, p, a, select {
    font-family: verdana;
    font-size: 10pt;
}

#xwikilogo {
    position: relative;
    float: left;
    clear: left;
    left: 0px;
    repeat:
    background-image:url(horizontal.gif);
    background-repeat: repeat-y;
}

#xwikilogo img {
    text-decoration: none;
    border: none;
}


#xwikititle {
    position: relative;
    display: block;
    float: left;
    top: 5px;
    margin: 0px;
    margin-left: 5px;
    padding: 0px;
}

#xwikititle h1, #xwikititle h2, #xwikititle h3 {
    font-family: verdana;
}

#xwikititle h1 {
    margin: 5px;
    margin-left: 20px;
    padding: 0px;
    font-size:10pt;
}

#xwikititle h2 {
    top: 5px;
    margin: 5px;
    padding: 5px;
    font-size:8pt;
}

#xwikititle h3 {
    font-family: verdana;
    margin: 0px;
    padding: 0px;
    top: 1.5em;
    right: 0px;
    font-size:8pt;
}

#xwikiversion {
    right: 0px;
    top: 5px;
    text-align: right;
    margin: 0px;
    padding: 0px;
}

#xwikimenu {
    right: 0px;
    text-align: right;
    margin: 0px;
    padding: 0px;
}

#xwikiversion a, #xwikimenu a {
   color:#336699;
   text-decoration:none;
   font-family: verdana;
   font-size:7pt;
   padding: 0px;
   margin: 0px;
}

#xwikilinks {
    float: right;
    top: 0px;
    right: 15px;
    margin: 0px;
    padding: 0px;
}

.xwikiactions {
    top: 0px;
    margin: 0px;
    padding: 0px;
    height: 1.4em;
    left: 0px;
}

#xwikiwebmenu {
    position: absolute;
    right: 0px;
    top: 0px;
    margin: 0px;
    padding: 0px;
    height: 1.4em;
}

.xwikiactions a, #xwikiwebmenu a {
    display: block;
    float: left;
    list-style-type: none;
    margin: 0.2em;
    padding: 0.4em;
    background-image: url(button_c.gif);
    background-repeat: repeat-x;
    background-color: #4A946B;
    font-size: 11px;
    font-weight: normal;
    font-style: normal;
    font-family: verdana;
    color: white;
    text-decoration: none;
    text-align: center;
}

.xwikiactions span, #xwikiwebmenu span {
    display: none;
}

.xwikiactions .inputfield {
   position: relative;
   top: 0.1em;
   display: block;
   height: 1.8em;
   padding: 0em;
   background-image: none;
   background-color: transparent;
}

.xwikiactions .inputbutton {
   position: relative;
   top: 0.1em;
   display: block;
   height: 1.8em;
   padding: 0em;
   background-image: none;
   background-color: transparent;
}

.xwikiactions .inputfield input {
    position: relative;
    top: 0.1em;
    padding: 0em;
    height: 1.2em;
    font-family: verdana;
    font-size: 8pt;
}

.xwikiactions .inputbutton input {
    position: relative;
    top: -0.1em;
    padding: 0em;
    height: 1.9em;
    font-family: verdana;
    font-size: 8pt;
}


#xwikicontent {
    position: relative;
    display: block;
    float: left;
    clear: both;
    left: 6px;
    right: 7px;
    width: 100%;
}


#xwikinav, #xwikinav_header, #xwikinav_footer {
    display: block;
    float: left;
    clear: both;
    position: relative;
    height: 2em;
    margin: 0px;
    padding: 0px;
    background-image:url(pixel_clair.gif);
    background-repeat: repeat;
}


