.body {
    left: 0px;
    right: 0px;
}

#xwikibanner, #xwikiheader, #xwikifooter {
    position: relative;
    display: block;
    float: left;
    clear: both;
    width: 100%;
    margin: 0px;
}

#xwikifooter {
   right: 5px;
   font-size: 8pt;
   padding-top: 2px;
}

#xwikifooter img {
   float: right;
   border: 0px;
   margin-left: 5px;
}


#xwikifootertext {
   float: right;
   clear: left;
   margin-right: 10px;
}

#xwikifooterhelp {
   float: right;
   clear: right;
   margin-right: 10px;
}


#xwikinav_header, #xwikinav_footer {
    position: relative;
    display: block;
    float: left;
    clear: both;
    width: 100%;
    border-width: 0.4em 0em 0em;
    border-style: solid;
    border-color: #009255;
    background-image:url(pixel_clair.gif);
    background-repeat: no-repeat;
}

*, td, th, p, a, select {
    font-family: verdana;
    font-size: 10pt;
}

#xwikilogo {
    position: relative;
    float: left;
    clear: left;
    left: 0px;
    repeat: no-repeat;
    background-image:url(horizontal.gif);
    background-repeat: no-repeat;
}

#xwikilogo img {
    text-decoration: none;
    border: none;
}


#xwikititle {
    position: relative;
    display: block;
    float: left;
    top: 5px;
    margin: 0px;
    margin-left: 5px;
    padding: 0px;
}

#xwikititle h1, #xwikititle h2, #xwikititle h3 {
    font-family: verdana;
}

#xwikititle h1 {
    margin: 5px;
    margin-left: 20px;
    padding: 0px;
    font-size:10pt;
}

#xwikititle h2 {
    top: 5px;
    margin: 5px;
    padding: 5px;
    font-size:8pt;
}

#xwikititle h3 {
    font-family: verdana;
    margin: 0px;
    padding: 0px;
    top: 1.5em;
    right: 0px;
    font-size:8pt;
}

#xwikiversion {
    right: 0px;
    top: 5px;
    text-align: right;
    margin: 0px;
    padding: 0px;
}

#xwikimenu {
    right: 0px;
    text-align: right;
    margin: 0px;
    padding: 0px;
}

#xwikiversion a, #xwikimenu a {
   color:#336699;
   text-decoration:none;
   font-family: verdana;
   font-size:7pt;
   padding: 0px;
   margin: 0px;
}

#xwikilinks {
    float: right;
    top: 0px;
    right: 15px;
    margin: 0px;
    padding: 0px;
}

.xwikiactions {
    top: 0px;
    margin: 0px;
    padding: 0px;
    height: 1.4em;
    left: 0px;
}

#xwikiwebmenu {
    position: absolute;
    right: 0px;
    top: 0px;
    margin: 0px;
    padding: 0px;
    height: 1.4em;
}

.xwikiactions a, #xwikiwebmenu a {
    display: block;
    float: left;
    list-style-type: none;
    margin: 0.2em;
    padding: 0.4em;
    background-image: url(button_c.gif);
    background-repeat: repeat-x;
    background-color: #4A946B;
    font-size: 11px;
    font-weight: normal;
    font-style: normal;
    font-family: verdana;
    color: white;
    text-decoration: none;
    text-align: center;
}

.xwikiactions span, #xwikiwebmenu span {
    display: none;
}

.xwikiactions .inputfield {
   position: relative;
   top: 0.1em;
   display: block;
   height: 1.8em;
   padding: 0em;
   background-image: none;
   background-color: transparent;
}

.xwikiactions .inputbutton {
   position: relative;
   top: 0.1em;
   display: block;
   height: 1.8em;
   padding: 0em;
   background-image: none;
   background-color: transparent;
}

.xwikiactions .inputfield input {
    position: relative;
    top: 0.1em;
    padding: 0em;
    height: 1.2em;
    font-family: verdana;
    font-size: 8pt;
}

.xwikiactions .inputbutton input {
    position: relative;
    top: -0.1em;
    padding: 0em;
    height: 1.9em;
    font-family: verdana;
    font-size: 8pt;
}


#xwikicontent {
    position: relative;
    display: block;
    float: left;
    clear: both;
    left: 6px;
    right: 7px;
    width: 100%;
}


#xwikinav, #xwikinav_header, #xwikinav_footer {
    display: block;
    float: left;
    clear: both;
    position: relative;
    height: 2em;
    margin: 0px;
    padding: 0px;
    background-image:url(pixel_clair.gif);
    background-repeat: repeat;
}


.heading-1 {
  color: #000000;
  background-color: inherit;
  font-weight: bold;
  font-size: 16px;
  font-variant: uppercase;
}

.heading-1-1 {
  color: #000000;
  background-color: inherit;
  font-size: 15px;
  font-variant: uppercase;
}


.heading-1-1-1 {
  color: #000000;
  background-color: inherit;
  font-size: 13px;
  font-variant: uppercase;
}

.heading-1-1-1-1 {
  color: #000000;
  background-color: inherit;
  font-size: 12px;
  font-variant: uppercase;
}


.quote {
  font-style: italic;
  color: inherit;
  background-color: inherit;
  font-family: inherit;
  font-size: inherit;
}

.code {
  margin-top: 4px;
  margin-bottom: 4px;
  padding: 5px 5px 5px 5px;
  color: inherit;
  background-color: #eeeeee;
  border: 1px dotted #003366;
  font-family: courier, courier new, monospace;
  font-size: 12px;
  line-height: 100%;
  white-space: pre;
  overflow: -moz-scrollbars-horizontal;
  overflow-x: auto;
  width: 98%;
}


.java-keyword {
  font-weight: bold;
  color: #0000aa;
  background-color: inherit;
}

.java-object {
  color: #000088;
  background-color: inherit;
}

.java-quote {
  color: #00aa00;
  background-color: inherit;
}

.xml-keyword {
  font-weight: bold;
}

.xml-tag {
  color: #0000aa;
  background-color: inherit;
}

/* special formatting of a wiki table */
.wiki-table {
  margin: auto;
  empty-cells: show;
  width: 80%;
  border-left: 1px solid #5b5b5b;
  border-right: 1px solid #5b5b5b;
  border-bottom: 1px solid #5b5b5b;
}

.wiki-table td {
  border-top: 1px solid #5b5b5b;
  padding: 2px;
}

.wiki-table th {
  border-top: 1px solid #5b5b5b;
  text-align: left;
  color: inherit;
  font-weight: bold;
  background-color: #BBEE88;
  background:##FFFF66;
  color: #000000;
  padding: 2px;
}

.wiki-table .table-odd {
}

.wiki-table .table-even {
}

.list {
}

.list-title {
  font-weight: bold;
}

.list ul {
  margin-top: 0px;
  margin-bottom: 0px;
  margin-left: 0px;
  padding-left: 0px;
  list-style-type: none;
}

/* wiki lists */

ul.minus { list-style-type: square; }
ul.star { list-style-type: circle; }
ol.roman { list-style-type: lower-roman; }
ol.ROMAN { list-style-type: upper-roman; }
ol.alpha { list-style-type: lower-alpha; }
ol.ALPHA { list-style-type: upper-alpha; }
ol.greek { list-style-type: lower-greek; }
ol.GREEK { list-style-type: upper-greek; }
ol.hiragana { list-style-type: hiragana; }
ol.HIRAGANA { list-style-type: hiragana-iroha; }
ol.katakana { list-style-type: katakana; }
ol.KATAKANA { list-style-type: katakana-iroha; }
ol.HEBREW { list-style-type: hebrew; }

