
html, body {
    top: 0px;
    margin: 0px;
    left: 0px;
    right: 0px;
    width: 100%;
    height: 100%;
}

*, td, th, p, a, select {
    font-family: verdana;
    font-size: 10pt;
}

#xwikibanner, #xwikiheader, #xwikifooter {
    position: relative;
    display: block;
    float: left;
    clear: both;
    width: 100%;
    margin: 0px;
}

#xwikifooter {
   right: 5px;
   font-size: 8pt;
   padding-top: 2px;
}

#xwikifooter img {
   float: right;
   border: 0px;
   margin-left: 5px;
}


#xwikifootertext {
   float: right;
   clear: left;
   margin-top: 2px;
   margin-right: 10px;
   font-family: verdana;
   font-size: 8pt;
}

#xwikifooterhelp {
   float: right;
   clear: right;
   margin-right: 10px;
}


#xwikilogo {
    position: relative;
    float: left;
    clear: left;
    left: 0px;
}

#xwikilogo img {
    text-decoration: none;
    border: none;
    background-image: url("logovert.jpg");
}


#xwikititle {
    position: relative;
    display: block;
    float: left;
    top: 10px;
    margin: 0px;
    margin-left: 5px;
    padding: 0px;
}

#xwikititle h1, #xwikititle h2, #xwikititle h3 {
    font-family: verdana;
}

#xwikititle h1 {
    margin: 5px;
    margin-left: 20px;
    padding: 0px;
    font-size:10pt;
}

#xwikititle h2 {
    margin-top: 5px;
    margin: 5px;
    padding: 5px;
    font-size:8pt;
}

#xwikititle h3 {
    font-family: verdana;
    margin: 0px;
    padding: 0px;
    margin-top: 1.5em;
    right: 0px;
    font-size:8pt;
}

#xwikiversion {
    margin-top: 0px;
    text-align: right;
    margin-right: 15px;
    padding: 0px;
}

#xwikimenu {
    text-align: right;
    margin: 0px;
    margin-top: 5px;
    margin-right: 15px;
    padding: 0px;
}

#xwikiversion a, #xwikimenu a {
   color:#336699;
   text-decoration:none;
   font-family: verdana;
   font-size:7pt;
   padding: 0px;
   margin: 0px;
}

#xwikilinks {
    float: right;
    top: 0px;
    right: 15px;
    margin: 0px;
    padding: 0px;
}


#xwikicontent {
   margin: 10px;
}

#xwikinav_footer {
    position: relative;
    display: block;
    height: 2em;
    margin: 0px;
    padding: 0px;
    float: left;
    clear: both;
    width: 100%;
    border-width: 0.4em 0em 0em;
    border-style: solid;
    border-color: #009255;
    background-color: #BDDE7B;
    background-repeat: no-repeat;
}

#xwikinav_header {
    position: relative;
    display: block;
    clear: both;
    width: 100%;
    height: 2em;
    right: 0px;
    border-width: 0.4em 0em 0em;
    border-style: solid;
    border-color: #009255;
    background-color: #BDDE7B;
    background-repeat: repeat;
}


.xwikiactions, #xwikiwebusermenu {
    display: block;
    margin: 0px;
    padding: 0px;
    height: 1.4em;
}

.xwikiactions a, #xwikiwebusermenu a {
    display: block;
    float: left;
    list-style-type: none;
    margin: 0.2em;
    padding: 0.4em;
    background-repeat: repeat-x;
    background-color: #70B055;
    font-size: 11px;
    font-weight: normal;
    font-style: normal;
    font-family: verdana;
    color: white;
    text-decoration: none;
    text-align: center;
}

#xwikiwebusermenu span, .xwikiactions span {
    display: none;
}

#xwikinav_sidebar {
   position: relative;
   float: right;
   border: 1px solid #BBBBBB;
   padding-bottom: 10px;
   margin-top: 10px;
   margin-bottom: 10px;
   margin-right: 10px;
   width: 150px;
   z-index: 1;
   background-color: white;
}


#xwikinav_sidebarbutton, #xwikiusermenutitle, #xwikipagemenutitle, #xwikiwebmenutitle {
   display: block;
   float: left;
   clear: left;
   border-bottom: 1px solid;
   margin: 5px;
   padding-bottom: 3px;
   text-align: left;
   font-weight: bold;
   font-size: 10px;
   font-family: verdana;
   width: 140px;
}

#xwikinav_loginbutton {
    display: block;
    position: absolute;
    right: 170px;
    top: 15px;
    text-align: right;
    font-weight: bold;
    font-size: 10px;
    font-family: verdana;
}

#xwikiusermenulinks, #xwikipagemenulinks, #xwikiwebmenulinks {
   display: block;
   float: left;
   clear: left;
   margin-bottom: 15px;
   width: 140px;
}

#xwikiusermenulinks a, #xwikipagemenulinks a, #xwikiwebmenulinks a {
   display: block;
   clear: both;
   margin-left: 10px;
   margin-right: 5px;
   font-size: 10px;
   font-family: verdana;
}

.xwikisep {
   display: none;
}

