###
### Template used by the delete page to display extensions that could be broken by a bad delete or move action.
###
#set ($jobId = "$!request.jobId")
#if ($jobId != '')
  #set ($job = $services.job.getJobStatus($jobId.split('/')))
  #if ("$!request.cancel" == 'true')
    #set ($discard = $job.cancel())
    #set ($discard = $job.answered())
  #elseif ("$!request.selection" != '')
    ## Parse the selection
    #set ($selection = $jsontool.fromString($request.selection))
    #set ($question = $job.question)
    #if ($selection.allExtensions)
      #set ($discard = $question.selectAllExtensions())
    #end
    #if ($selection.allFreePages)
      #set ($discard = $question.selectAllFreePages())
    #end
    #foreach ($extension in $selection.extensions)
      #set ($extensionSelection = $question.getExtension($extension))
      #set ($discard = $extensionSelection.selectAllPages())
    #end
    #foreach ($page in $selection.pages)
      #set ($pageRef = $services.model.resolveDocument($page, 'default'))
      #set ($pageSelection = $question.get($pageRef))
      #set ($discard = $pageSelection.setSelected(true))
    #end
    #set ($discard = $job.answered())
  #else
    #set ($question = $job.question)
    <div class="box warningmessage deleteWarningExtensions">
      <p><strong>$services.icon.renderHTML('warning') $escapetool.xml($services.localization.render('core.delete.warningExtensions.title'))</strong></p>
      <p>$escapetool.xml($services.localization.render('core.delete.warningExtensions.explanation'))</p>
      #set ($url = $xwiki.getURL($services.model.createDocumentReference('', 'XWiki', 'XWikiPreferences'), 'admin', 'editor=globaladmin&section=XWiki.InstalledExtensions'))
      #set ($link = '<a href="' + $url + '">')
      ## We cannot escape the following line because it contains an HTML link
      <p>$services.localization.render('core.delete.warningExtensions.help', [$link, '</a>'])</p>
      <p>$escapetool.xml($services.localization.render('core.delete.warningExtensions.confirm'))</p>
      <div class="panel panel-default">
        <div class="panel-heading">
          <p class="panel-title">$escapetool.xml($services.localization.render('core.delete.warningExtensions.tree.title'))</p>
        </div>
        <div class="panel-body">
          <p><a href="#" class="btSelectAllTree">$escapetool.xml($services.localization.render('core.delete.warningExtensions.tree.selectAll'))</a> / <a href="#" class="btUnselectAllTree">$escapetool.xml($services.localization.render('core.delete.warningExtensions.tree.selectNone'))</a></p>
          <div class="deleteTree" data-url="$escapetool.xml($doc.getURL('get', "xpage=refactoring/delete_question_data&jobId=$jobId"))">
        </div>
      </div>
      <p class="deleteWarningButtons">
        <button class="btn btn-danger btConfirmDelete">$escapetool.xml($services.localization.render('delete'))</button>
        <button class="btn btn-default btCancelDelete">$escapetool.xml($services.localization.render('cancel'))</button>
      </p>
    </div>
  #end
#end
