#template('colorThemeInit.vm')
/* Attachment list style */
.attachment {
  font-size: 85%;
  padding: 10px 0;
}

.attachment .information {
  color: $theme.textPrimaryColor;
  overflow: hidden;
}

.attachment .mime, .attachment .name, .attachment .version {
  float: left;
  padding: 0 8px 0 0;
}

.attachment .name {
  font-size: 1.35em;
}

.attachment .meta {
  clear: left;
}

.attachment .size {
  color: $theme.textSecondaryColor;
}

.attachment .xwikibuttonlinks {
  float: right;
  width: 60px;
}

/* Attachment form style */
.attachmentActionButton {
  background-color: transparent;
  border: none;
  padding: 2px 4px;
  font-size: 80%;
  margin-bottom: 4px;
  background: transparent 2px center no-repeat;
  padding-left: 20px;
  cursor: pointer;
}
.add-file-input {
  color: $theme.linkColor;
  margin-left: 10px;
  background-position: 2px top;
  background-image: url("$xwiki.getSkinFile('icons/silk/textfield_add.gif')");
}
.remove-file-input {
  background-image: url("$xwiki.getSkinFile('icons/silk/cross.gif')");
  width: 16px;
  text-indent: 30px;
}
.uploadFileInput {
  margin: 5px 10px !important; /* !important is needed for Toucan. */
}
/* Attachment "toolbox" style */
.attachment .xwikibuttonlinks a {
  width: 16px;
  height: 16px;
  text-indent: -1000em;
  overflow: hidden;
  background: transparent left top no-repeat;
  display: block;
  float: right;
  margin: 0 0 0 4px;
}
.attachment .xwikibuttonlinks a.deletelink {
  background-image: url("$xwiki.getSkinFile('icons/silk/cross.gif')");
}
.attachment .xwikibuttonlinks a.editlink {
  background-image: url("$xwiki.getSkinFile('icons/silk/pencil.gif')");
}
.attachment .xwikibuttonlinks a.viewlink {
  background-image: url("$xwiki.getSkinFile('icons/silk/eye.gif')");
}
#AddAttachment {
  border-top: 1px solid $theme.borderColor;
}
