#template('colorThemeInit.vm')
.meta-versionSummary label {
  font-weight: 400;
}
.skin-colibri .meta-versionSummary label {
  display: block;
}
.meta-versionSummary span {
  text-transform: none;
  font-weight: 400;
}

#commentinput {
  width: inherit;
  vertical-align: middle;
}
#csrf-warning-modal .main-explanation {
  color: var(--brand-danger);
  font-weight: var(--font-weight-semibold)
}
#csrf-warning-modal .csrf-warning-buttons {
  padding-top: 1em;
  text-align: center;
}