//
// ACTION MENUS
// --------------------------------------------------

#menuview .navbar {
  border-radius: 0;
  border: 0;
}

.globalsearch { 
  .input-group {
    width: 15em;
  }

  .button {
    height: @input-height-base;
  }
}
