//
// General
// --------------------------------------------------

// Classes ====================================================================

.clearfloats:extend(.clearfix all) {}

.centered {
  .text-center;
}

// Containers =================================================================

div.main{
  .panel();
  padding: 10px;
}

// Tables =====================================================================
table:extend(.table all) {}

table{
  .table;
}

// Avatars ====================================================================
.avatar_30 {
  max-width: 30px;
  max-height: 30px;
}

// Panels =====================================================================
.xwikipanelcontents{
  overflow: hidden;
}
