//
// Panels
// --------------------------------------------------

.panel {
  color: @panel-default-text;
  box-shadow: none;
}

h1.xwikipaneltitle {
  .panel-heading;
  .panel-title;
  background-color: @panel-bg;
  color: @xwiki-panel-header-text;
}

.xwikipanelcontents {
  .panel-body;
  overflow: hidden;
}