# This is the new XWiki configuration file. In the future it'll replace the old
# xwiki.cfg file. However right now it's only used by some XWiki components.
# As time progresses more and more component will get their configurations from
# this file.

#-------------------------------------------------------------------------------------
# Core
#-------------------------------------------------------------------------------------

#-# [Since 1.8RC2]
#-# Specifies the default syntax to use when creating new documents.
#-# Default value is xwiki/1.0.
# core.defaultDocumentSyntax = xwiki/1.0

#-------------------------------------------------------------------------------------
# Rendering
#-------------------------------------------------------------------------------------

#-# [Since 1.8RC2]
#-# Specifies how links labels are displayed when the user doesn't specify the label explicitely.
#-# Valid values:
#-#   %w: wiki name
#-#   %s: space name
#-#   %p: page name
#-#   %P: page name with spaces between camel case words, i.e. "My Page" iff the page name is "MyPage"
#-#   %t: page title
#-#
#-# Note that if the page title is empty or not defined then it defaults to %p. This is also the case
#-# if the title cannot be retrieved for the document.
#-#
#-# The default is "%p". Some examples: "%s.%p", "%w:%s.%p".
# rendering.linkLabelFormat = %p

#-------------------------------------------------------------------------------------
# Cache
#-------------------------------------------------------------------------------------

#-# [Since 1.7M1]
#-# The cache component implementation to use as "normal" (can be local or distributed depending on the implementation)
#-# cache component.
# cache.defaultCache=jbosscache

#-# [Since 1.7M1]
#-# The cache component to use as local cache component. 
# cache.defaultLocalCache=jbosscache/local