.xdialog-box-confirmation {
  border-color: #28c !important;
}
.xdialog-box-confirmation .xdialog-close {
  color: #28c !important;
}
.xdialog-box-confirmation .question {
  background: transparent url($xwiki.getSkinFile("icons/silk/help.gif")) left 2px no-repeat;
  padding: 4px 0 6px 22px;
}
