.xnotification-container {
  position : fixed;
  bottom: 0;
  left: 0%;
  width: 100%;
  text-align: center;
  z-index: 1200;
}
.xnotification-wrapper {
  padding-top: 1px;
}
.xnotification {
  cursor: pointer;
  display: inline;
  background: #EEE 2px center no-repeat;
  border: none;
  padding: 0px 6px;
  color: #000;
  font-weight: bold;
  line-height: 20px;
}

#set($notificationCustommization = [])
## each element:                       [notification type, bg color, text color, icon]
#set($discard = $notificationCustommization.add(["info", "#DDF", "#28c", "information"]))
#set($discard = $notificationCustommization.add(["warning", "#FFD", "#000", "error"]))
#set($discard = $notificationCustommization.add(["error", "#EDD", "#900", "exclamation"]))
#set($discard = $notificationCustommization.add(["inprogress", "#EEE", "#268", "icons/spinner.gif"]))
#set($discard = $notificationCustommization.add(["done", "#EFD", "#090", "accept"]))
##
#foreach($item in $notificationCustommization)
  #set($notificationType  = ${item.get(0)})
  #set($bgColor = ${item.get(1)})
  #set($textColor = ${item.get(2)})
  #set($imgName = "$!{item.get(3)}")
  #if ($imgName != "")
    #if($imgName.indexOf("/") >= 0)
      #set($imgUrl = $xwiki.getSkinFile($imgName))
    #else
      #set($imgUrl = $xwiki.getSkinFile("icons/silk/${imgName}.gif"))
    #end
  #end
/** $notificationType */
.xnotification-${notificationType} {
  background-color: $bgColor;
  color:  $textColor;
  border-color:  $textColor;
  background-image: url(${imgUrl});
  padding-left: 22px;
}
#end