#template('colorThemeInit.vm')
#distributionWizard .xdialog-screen {
  opacity: 0.5;
  position: fixed;
}
#distributionWizard .xdialog-box {
  margin: 1em auto;
  width: 800px;
}
#distributionWizard .xdialog-header {
  #if ("$!theme.headerBackgroundImage" != '')
    background-image: $theme.headerBackgroundImage;
  #else
    background-image: url("header.png");
  #end
  border-radius: 4px 4px 0 0;
  margin: -1px;
}
#distributionWizard .errormessage, #distributionWizard .warningmessage, #distributionWizard .infomessage {
  background-color: transparent;
  box-shadow: none;
}
#welcome .steps-hint {
  margin-top: 1.5em;
}
#welcome .steps.vertical {
  margin-bottom: 1.5em;
}
#welcome .steps.vertical .name {
  font-weight: bolder;
}
#welcome .steps.vertical .description {
  font-size: smaller;
}
/* The extension actions available on the Distribution Wizard steps should target a single wiki whenever posible. */
#distributionWizard .extension-actions button[class~="alternative-action"][value$="Globally"] {
  display: none;
}
#previousUi dt label {
  font-size: .75em;
}
#previousUi .versionSelector {
  padding-right: 20px;
}
#previousUi .versionSelector .icon {
  padding: 1px 0 0 4px;
  position: absolute;
}
#extension\.defaultui\.wikis form.extension-item {
  margin-top: .5em;
}
#extension\.defaultui\.wikis > dl > dt {
  display: list-item;
  list-style-position: inside;
  margin-top: 1.5em;
}
