.xdialog-screen {
  opacity: 0.5;
  position: fixed;
}
.xdialog-box {
  margin: 1em auto;
  width: 800px;
}
.xdialog-content > .ui-progress {
  margin-bottom: .5em;
}
#upgradePlanLog {
  display: block;
}