.heading-1, .heading-1-1, .heading-1-1-1, .heading-1-1-1-1 {
  color: #369;
}

#companylogo img {
 background-image: url("xwlogoblue.png");
 background-repeat: no-repeat;
 height: 91px;
 width: 136px;
}

/*
---------------------------------------
Space header, footer
---------------------------------------
*/

#headerspace hr, #footerglobal hr{
  background-color: #000;
}
/*
---------------------------------------
Content
---------------------------------------
*/

#xwikieditor.layoutsection, .layoutsubsection, #xwikidatacontents{
  border-color: #DDD;
}
/*
---------------------------------------
Zone for Comments, attachments, History... 
---------------------------------------
*/
ul.xwikiintra{
  border-bottom-color: #DDD;
  background-color: #EEE;
}

.xwikiintra li{
  background-color: #BBB;
  border-color: #CCC;
  border-right-color: #AAA;
}

.xwikiintra li a, .xwikiintra li.active a{
  color: #000;
}

.xwikiintra li.active{
  background-color: #FFF !important;
  border-bottom-color: #FFF;
  border-top-color: #DDD;
}

table.xwikidatatable, table.xwikidatatable th{
  border-color: #DDD;
}
table.xwikidatatable th{
  color: #CDF;
  background-color: #369;
  border-color: #369;
}

.xwikiintracontent legend, .xwikiintracontent fieldset{
  border-color: #ddd;
}

.xwikiintracontent fieldset.collapsed legend{
  background-color: #EEE;
}

/*
---------------------------------------
Menu
---------------------------------------
*/
.submenu{
  background-color: white;
  border-color: #ddd;
  border-top-color: white;
}

/*
---------------------------------------------
"Message Boxes"
---------------------------------------------
*/
fieldset.xwikimessage{
  border-color: #BBB;
  background-color: #F5F5F5;
}

fieldset.xwikimessage legend{
  background-color: #BBB;
  color: #FFF;
}

input.button, button.button{
  background-color: #EEE;
}
input.button:hover, button.button:hover{
  background-color: #CDF;
  color: #369;
}
.topbuttons button, .bottombuttons button{
  background-color: #369;
  color: #FFF;
  border: 1px solid #EEE;
  padding: 2px 4px;
}
/*
---------------------------------------
Editors
---------------------------------------
*/

.xwikitabbar li{
  background-color: #CDF;
  border-color: #ACF;
  border-bottom-color: #CCC;
  border-left-color: #DDF;
  border-top-color: #DDF;
}

.xwikitabbar li a{
  color: #000 !important;
}
.xwikitabbar li.active a{
  color: #000 !important;
}

.xwikitabbar li.active{
  background-color: #FFF !important;
  border-color: #DDD;
  border-bottom-color: #FFF;
}

/*
--
*/
#xwikicontentedit{
  border-color: #ddd;
}

/*
---------------------------------------
Panels
---------------------------------------
*/
.fakepanel{
  background-color: #EEE;
  border-color: #E5E5E5;
}

.panel{
  border-color: #DDD;
}
.xwikipaneltitle{
  background-color: #CDF;
}


/*
----------------------------------
Rico Acordeon -- Sintax Help Panel
----------------------------------
*/
.accordionTabContentBox table th{
  background-color: #FFF;
  border-bottom-color: #DDD;
}

.accordionTabTitleBar{
  border-color: #FFF;
  border-bottom-color: #DDD;
  border-right-color: #DDD;
  background-color: #EEE;
}

/*
----------------------------------
Misc
----------------------------------
*/

td.label{
  color: #777;
}

#xwikiclassproperties, #xwikiobjects{
  border-color: #DDD !important;
}

#xwikihelpsyntax{
  border-top-color: #DDD;
}

.editactions a{
  background-color: #EEE;
  color: #000;
  border-color: #DCDCDC;
}

.editactions a:hover{
  background-color: #FFD;
}
/*
---------------------------------------------
"Message Boxes"
---------------------------------------------
*/
fieldset.xwikimessage{
  border-color:#658BB2;
}

fieldset.xwikimessage legend{
  background-color: #658BB2;
  color: #FFF;
}



tr.row.odd{
  background-color: #EEE;
}
tr.row.even{
  background-color: #FFF;
}
tr th{
  background-color: #EEE;
}
body#body{
#csscolorproperty("background" "backgroundcolor")
#csscolorproperty("color" "textcolor")
}

a:link{
  color: #369;
}
a:visited{
  color: #777;
}

tr.row.odd{
  background-color: #CDF;
}
tr.row.even{
  background-color: #FFF;
}
th{
  background-color: #CDF;
}

.xwikibuttonlink a{
  background-color: #369;
  color: #fff;
}
.xwikibuttonlink a:hover{
  background-color: #CDF;
  color: #369;
}
.xwikitabbar li.active{
  border-color: #DDD;
  border-bottom-color: #FFF;
}

#xwikirightstable{
  border-color: #DDD;
}
#xwikirightstable th{
  border-top-color: #DDF;
  border-right-color: #ACF;
  border-bottom-color: #CCC;
  border-left-color: #DDF;
}
#xwikirightstable td, #xwikirightstable tr{
  border-color: #DDD;
}

.article_footer {
  color: #777;
  border-color: 777;
}

.xwikiuserblog .rssfeed {
  border-top-color: #DDD;
  border-left-color: #DDD;
  border-bottom-color: #EEE;
  border-right-color: #EEE;
}
.rsschanneltitle{
  background-color: transparent;
}