/* Style properties for HTML elements based on the HTML 4.01 Specification.

   Blank version of this stylesheet:
   <http://www.webproducer.at/lab/elements.css>
*/
/* Section 7.5: The document body */
body {
  margin: 0;
  padding: 0em;
  font-size: 90.01%; /* 12px [1] */
  line-height: 1.25em; /* 18px [2] */
  background: white;
  color: black;
  font-family: "Arial", "Lucida", "Trebuchet MS", "Luxi Sans", "Helvetica", sans-serif;
}
h1 {
  font-size: 1.5em; /* 18px */
  line-height: 1.33em; /* 24px */
  margin: 0.89em 0; /* 16px 0 */
}
h2 {
  font-size: 1.25em; /* 15px */
  line-height: 1.4em; /* 21px  */
  margin: 1.07em 0; /* 16px 0 */
}
h3 {
  font-size: 1em; /* 12px */
  font-style: italic;
  margin: 1.33em 0; /* 16px 0 */
}
h4, h5, h6 {
  font-size: .75em; /* 9px */
  line-height: 2em; /* 18px */
  margin: 1.56em 0; /* 14px 0 */
}
h4 {}
h5 {}
h6 {
  font-style: italic;
}
address {}

/* Section 9: Text */
/* 9.2: Structured text */
em {}
strong {}
dfn {}
code {
  font-family: "Bitstream Vera Sans Mono", "Courier New", Monaco, Courier, monospace;  /* [3] */
}
samp {}
kbd {}
var {}
cite {}
abbr {}
acronym {}
blockquote {}
q {}
sub {}
sup {}
/* End of 9.2 */
p {}
pre {
  font-family: "Bitstream Vera Sans Mono", "Courier New", Monaco, Courier, monospace;  /* [3] */
  overflow: auto;
  background-color: #EEE;
  border: 1px solid #DDD;
  padding: 4px;
}
ins {}
del {}

/* Section 10: Lists */
ul {
  margin: 1em 0;
  padding: 0 0 0 2.5em;
}
ul ul {
  margin: 0;
  padding: 0 0 0 1.25em;
}
ol {
  margin: 1em;
  padding: 0 2em;
}
ol ol, ol ul, ul ol {
  margin: 0;
}
li {
  margin: 0;
  padding: 0;
}
dl {}
dt {}
dd {}

/* Section 11: Tables */
table {
  border-spacing: 0px;
  border-collapse: collapse;
}
caption {
  margin: auto;
}
thead {}
tfoot {}
tbody {}
colgroup {}
col {}
tr {}
th {}
td {}

/* Section 12.2:  The A element */
a:link {
  color: #000;
}
a:visited {
  color: #777;
}
a:link:hover {} /* [4] */
a:visited:hover {}
a:active {}
a:focus {}
a:focus:hover {}

/* Section 13: Objects, Images, and Applets */
img {
  border: none;
}
object {}
applet {}

/* Section 15: Alignment, font styles, and horizontal rules */
/* 15.2: Fonts "[...] their use is discouraged in favor of style sheets." */
tt {}
i {}
b {}
big {}
small {}
/* End of 15.2 */
hr {}

/* Section 16: Frames */
iframe {}

/* Section 17: Forms */
form {}
input {}
input:focus {}
button {}
button:focus {}
select {}
select:focus {}
optgroup {}
option {}
textarea {}
textarea:focus {}
label {}
fieldset {}
legend {}

/*
  [1] All calculations are based on the assumption that 1em is 12px.
  [2] If you specify a font-size, also consider to specify a line-height property.
  [3] If you don't specify something other than monospace, mozilla will calculate
      its own font-size based on the user preferences.
  [4] "... prevents hover styles from being applied to non-hyperlink anchors."
      <http://devedge.netscape.com/viewsource/2003/arbitrary-hover/>
*/
