Package: xwiki-mysql-common
Version: [[version]]
Section: java
Priority: optional
Architecture: all
Depends: xwiki-common (= [[version]]), mysql-server | default-mysql-server | mariadb-server, libmysql-java (>= 5.1.4), dbconfig-common
Provides: xwiki-database
Replaces: xwiki-database, xwiki-enterprise-database
Conflicts: xwiki-database, xwiki-enterprise-database
Suggests: xwiki-tomcat7-mysql | xwiki-tomcat8-mysql
Maintainer: [[debian.maintainer]]
License: [[debian.license]]
Description: [[debian.description]]
Bugs: [[debian.bugs]]
Homepage: [[debian.homepage]]
