Package: xwiki-mysql-common
Version: [[version]]
Section: java
Priority: optional
Architecture: all
Depends: xwiki-common (= [[version]]), mysql-server, libmysql-java (>= 5.1.4)
Provides: xwiki-database
Suggests: xwiki-tomcat7-mysql | xwiki-tomcat8-mysql
Replaces: xwiki-database
Conflicts: xwiki-enterprise-database, xwiki-enterprise-mysql-common
Maintainer: [[debian.maintainer]]
License: [[debian.license]]
Description: [[debian.description]]
Bugs: [[debian.bugs]]
Homepage: [[debian.homepage]]
