Package: xwiki-mysql-common
Version: [[version]]
Section: java
Priority: optional
Architecture: all
Depends: xwiki-common (= [[version]]), mysql-server (>= 5.7), dbconfig-mysql | dbconfig-common
Provides: xwiki-database
Replaces: xwiki-database, xwiki-enterprise-database
Conflicts: xwiki-database, xwiki-enterprise-database
Maintainer: [[debian.maintainer]]
License: [[debian.license]]
Description: [[debian.description]]
Bugs: [[debian.bugs]]
Homepage: [[debian.homepage]]
