#template('editors/xdom_macros.vm')
## The editor will replace the following text area with its own widget.
## If JavaScript is disabled the user will still be able to edit the document using this HTML text area.
#textArea
#set ($syntaxId = $edit.data.metaData.getMetaData('syntax').toIdString())
#if ($services.wysiwyg.isSyntaxSupported($syntaxId))
  #set ($sourceDocument = $edit.parameters.sourceDocument)
  #if (!$sourceDocument)
    #set ($sourceDocumentReference = $edit.data.metaData.getMetaData('source'))
    #if ($sourceDocumentReference)
      #set ($sourceDocument = $xwiki.getDocument($sourceDocumentReference))
    #else
      #set ($sourceDocument = $tdoc)
    #end
  #end
  #set ($full = $edit.parameters.full == true)
  #wysiwyg_editProperty($sourceDocument $edit.parameters.name $full)
#end