#template('editors/xdom_macros.vm')
#if ($edit.parameters.name == 'content')
  ## TODO: Fix the tool bar so that it can be used for TextArea properties.
  #template('simpleedittoolbar.vm')
#end
#textArea