#template('colorThemeInit.vm')
.upload-status-container {
  position: relative;
}
.upload-status {
  position: relative;
  padding: .3em 1em .3em 22px;
  background: $theme.highlightColor none 2px .8em no-repeat;
  margin: .5em 0;
  clear: both;
}
.upload-inprogress {
  background-image: url("$xwiki.getSkinFile('icons/xwiki/spinner.gif')");
}
.upload-done {
  background-image: url("$xwiki.getSkinFile('icons/silk/tick.png')");
}
.upload-canceled {
  background-image: url("$xwiki.getSkinFile('icons/silk/cancel.png')");
}
.upload-error {
  background-image: url("$xwiki.getSkinFile('icons/silk/delete.png')");
}
.progress-info, .file-info {
  font-size: .91em;
}
.file-info {
  margin: .5em 0;
}
.file-info .file-name {
  font-weight: bold;
}
.file-info .file-size {
  font-style: italic;
  font-size: .83em;
}
.file-info .buttonwrapper, .file-info .upload-canceled-label {
  float: right;
  margin: 0;
}
.progress-info {
  clear: right;
}
.upload-inprogress .progress-info {
  opacity: 1;
}
.progress-info .progress-time {
  float: right;
  text-align: right;
}
.progress-info .progress-percentage {
  margin: 0 0.5em 0 0;
}
.progress-info .progress, .progress-info .progress-container {
  height: 6px;
  border-radius: 5px;
}
.progress-info .progress {
  background-color: $theme.notificationSuccessColor;
  box-shadow: inset 0 0 5px rgba(1,1,1,.2);
  width: 0;
}
.progress-info .progress-container {
  border: 1px solid $theme.notificationSuccessColor;
  border-radius: 7px;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  box-shadow: 0 0 5px rgba(0,0,0,.2), inset 0 0 5px rgba(0,0,0,.2);
  height: 8px;
  margin: 0.3em 0;
  width: 100%;
}
.upload-canceled .file-info .file-name, .upload-error .file-info .file-name {
  color: $theme.notificationErrorColor;
}
.upload-canceled .progress-info .progress-container {
  border-color: $theme.notificationWarningColor;
}
.upload-canceled .progress-info .progress {
  background-color: $theme.notificationWarningColor;
}
.upload-error .progress-info .progress {
  background-color: $theme.notificationErrorColor;
}
.upload-error .progress-info .progress-container {
  border-color: $theme.notificationErrorColor;
}
.upload-canceled-label {
  color: $theme.notificationErrorColor !important;
  font-weight: bold;
}
