#template('colorThemeInit.vm')
.upload-status-container {
  position: relative;
}
.upload-status {
  position: relative;
  padding: .3em 1em .3em 22px;
  background-color: var(--nav-link-hover-bg);
  border-radius: 7px; /* Same value as @border-radius-base from Flamingo. */
  margin: .5em 0;
  clear: both;
  display: flex;
}

.upload-status.upload-error {
  background-color: var(--alert-danger-bg);
  color: var(--state-danger-text);
}

/* We expect the first node child of the .result-<something> node to be its icon. */
.result-canceled > *:first-child {
  color: var(--state-danger-text);
}


/* We expect the first node child of the .result-<something> node to be its icon. */
.result-done > *:first-child,
.upload-inprogress .progress-info .progress {
  color: var(--brand-info);
}

.upload-status .upload-result > * {
  display: none;
}

.upload-done .result-done,
.upload-canceled .result-canceled,
.upload-error .result-error {
  display: inherit;
}

.progress-info {
  display: none;
}

.upload-status.upload-inprogress .progress-info {
  display: block;
}

.file-info {
  margin: .5em 0;
}
.file-info .file-name {
  font-weight: bold;
}

.file-info .buttonwrapper, .file-info .upload-canceled-label {
  float: right;
  margin: 0;
}
.upload-inprogress .progress-info {
  opacity: 1;
}
.progress-info .progress-time {
  float: right;
  text-align: right;
}
.progress-info .progress-percentage {
  margin: 0 0.5em 0 0;
}
.progress-info .progress, .progress-info .progress-container {
  height: 6px;
  border-radius: 5px;
}
.progress-info .progress {
  background-color: $theme.notificationSuccessColor;
  box-shadow: inset 0 0 5px rgba(1,1,1,.2);
  width: 0;
}
.progress-info .progress-container {
  border: 1px solid $theme.notificationSuccessColor;
  border-radius: 7px;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  box-shadow: 0 0 5px rgba(0,0,0,.2), inset 0 0 5px rgba(0,0,0,.2);
  height: 8px;
  margin: 0.3em 0;
  width: 100%;
}

.upload-error .file-info .file-name,
.upload-error .status-icon.icon-error {
  color: var(--brand-error);
}

.upload-canceled .progress-info .progress-container {
  border-color: $theme.notificationWarningColor;
}
.upload-canceled .progress-info .progress {
  background-color: $theme.notificationWarningColor;
}
upload-status.upload-error .progress-info .progress {
  background-color: $theme.notificationErrorColor;
}
.upload-error .progress-info .progress-container {
  border-color: $theme.notificationErrorColor;
}
.upload-canceled-label {
  color: $theme.notificationErrorColor !important;
  font-weight: bold;
}
