/*
 * See the LICENSE file distributed with this work for additional
 * information regarding copyright ownership.
 *
 * This is free software; you can redistribute it and/or modify it
 * under the terms of the GNU Lesser General Public License as
 * published by the Free Software Foundation; either version 2.1 of
 * the License, or (at your option) any later version.
 *
 * This software is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the GNU
 * Lesser General Public License for more details.
 *
 * You should have received a copy of the GNU Lesser General Public
 * License along with this software; if not, write to the Free
 * Software Foundation, Inc., 51 Franklin St, Fifth Floor, Boston, MA
 * 02110-1301 USA, or see the FSF site: http://www.fsf.org.
 */


.load-spinner {
  background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 200 200"><circle fill="%23B9B9B9" stroke="%23B9B9B9" stroke-width="6" r="15" cx="40" cy="100"><animate attributeName="opacity" calcMode="spline" dur="2" values="1;0;1;" keySplines=".5 0 .5 1;.5 0 .5 1" repeatCount="indefinite" begin="-.4"></animate></circle><circle fill="%23B9B9B9" stroke="%23B9B9B9" stroke-width="6" r="15" cx="100" cy="100"><animate attributeName="opacity" calcMode="spline" dur="2" values="1;0;1;" keySplines=".5 0 .5 1;.5 0 .5 1" repeatCount="indefinite" begin="-.2"></animate></circle><circle fill="%23B9B9B9" stroke="%23B9B9B9" stroke-width="6" r="15" cx="160" cy="100"><animate attributeName="opacity" calcMode="spline" dur="2" values="1;0;1;" keySplines=".5 0 .5 1;.5 0 .5 1" repeatCount="indefinite" begin="0"></animate></circle></svg>');
  background-size: cover;
  width: 64px;
  height: 64px;
}

:root {
  --cr-sizes-max-page-width: 960px; /*This value controls the width of the main content. It should be 100% for spanning text along the whole width or an arbitraty value*/
  --cr-sizes-main-sidebar-width: 15%; /*The default width of the main sidebar*/
  --cr-sizes-main-sidebar-min-width: 250px; /*The minimum width of the main sidebar*/
  --cr-sizes-collapsed-main-sidebar-width: 32px; /*The width of the bar that gets shown containing the menu button to reopen the standard main main sidebar*/
  --cr-base-font-size: 16px;
  --cr-base-text-color: var(--cr-color-gray-950);
  --cr-base-link-color: var(--cr-color-sky-700);
  --cr-base-visited-link-color: var(--cr-color-blue-700);

  /*
   * Typography
   */

  /* Fonts */
  --cr-font-mono: var(--sl-font-mono);
  --cr-font-sans: var(--sl-font-sans);
  --cr-font-serif: var(--sl-font-serif);

  /* Font sizes */
  --cr-font-size-2x-small: var(--sl-font-size-2x-small);
  --cr-font-size-x-small: var(--sl-font-size-x-small);
  --cr-font-size-small: var(--sl-font-size-small);
  --cr-font-size-medium: var(--sl-font-size-medium);
  --cr-font-size-large: var(--sl-font-size-large);
  --cr-font-size-x-large: var(--sl-font-size-x-large);
  --cr-font-size-2x-large: var(--sl-font-size-2x-large);
  --cr-font-size-3x-large: var(--sl-font-size-3x-large);
  --cr-font-size-4x-large: var(--sl-font-size-4x-large);

  /* Font weights */
  --cr-font-weight-light: var(--sl-font-weight-light);
  --cr-font-weight-normal: var(--sl-font-weight-normal);
  --cr-font-weight-semibold: var(--sl-font-weight-semibold);
  --cr-font-weight-bold: var(--sl-font-weight-bold);

  /* Letter spacings */
  --cr-letter-spacing-denser: var(--sl-letter-spacing-denser);
  --cr-letter-spacing-dense: var(--sl-letter-spacing-dense);
  --cr-letter-spacing-normal: var(--sl-letter-spacing-normal);
  --cr-letter-spacing-loose: var(--sl-letter-spacing-loose);
  --cr-letter-spacing-looser: var(--sl-letter-spacing-looser);

  /* Line heights */
  --cr-line-height-denser: var(--sl-line-height-denser);
  --cr-line-height-dense: var(--sl-line-height-dense);
  --cr-line-height-normal: var(--sl-line-height-normal);
  --cr-line-height-loose: var(--sl-line-height-loose);
  --cr-line-height-looser: var(--sl-line-height-looser);

  /* Focus rings */
  --cr-focus-ring-color: var(--sl-color-primary-600);
  --cr-focus-ring-style: solid;
  --cr-focus-ring-width: 3px;
  --cr-focus-ring: var(--sl-focus-ring-style) var(--sl-focus-ring-width) var(--sl-focus-ring-color);
  --cr-focus-ring-offset: 1px;

  /*
   * Color Primitives
   */

  /* Gray */
  --cr-color-gray-50: var(--sl-color-gray-50);
  --cr-color-gray-100: var(--sl-color-gray-100);
  --cr-color-gray-200: var(--sl-color-gray-200);
  --cr-color-gray-300: var(--sl-color-gray-300);
  --cr-color-gray-400: var(--sl-color-gray-400);
  --cr-color-gray-500: var(--sl-color-gray-500);
  --cr-color-gray-600: var(--sl-color-gray-600);
  --cr-color-gray-700: var(--sl-color-gray-700);
  --cr-color-gray-800: var(--sl-color-gray-800);
  --cr-color-gray-900: var(--sl-color-gray-900);
  --cr-color-gray-950: var(--sl-color-gray-950);

  /* Red */
  --cr-color-red-50: var(--sl-color-red-50);
  --cr-color-red-100: var(--sl-color-red-100);
  --cr-color-red-200: var(--sl-color-red-200);
  --cr-color-red-300: var(--sl-color-red-300);
  --cr-color-red-400: var(--sl-color-red-400);
  --cr-color-red-500: var(--sl-color-red-500);
  --cr-color-red-600: var(--sl-color-red-600);
  --cr-color-red-700: var(--sl-color-red-700);
  --cr-color-red-800: var(--sl-color-red-800);
  --cr-color-red-900: var(--sl-color-red-900);
  --cr-color-red-950: var(--sl-color-red-950);

  /* Orange */
  --cr-color-orange-50: var(--sl-color-orange-5);
  --cr-color-orange-10: var(--sl-color-orange-10);
  --cr-color-orange-20: var(--sl-color-orange-20);
  --cr-color-orange-30: var(--sl-color-orange-30);
  --cr-color-orange-40: var(--sl-color-orange-40);
  --cr-color-orange-50: var(--sl-color-orange-50);
  --cr-color-orange-60: var(--sl-color-orange-60);
  --cr-color-orange-70: var(--sl-color-orange-70);
  --cr-color-orange-80: var(--sl-color-orange-80);
  --cr-color-orange-90: var(--sl-color-orange-90);
  --cr-color-orange-95: var(--sl-color-orange-90);

  /* Amber */
  --cr-color-amber-50: var(--sl-color-amber-50);
  --cr-color-amber-100: var(--sl-color-amber-10);
  --cr-color-amber-200: var(--sl-color-amber-20);
  --cr-color-amber-300: var(--sl-color-amber-30);
  --cr-color-amber-400: var(--sl-color-amber-40);
  --cr-color-amber-500: var(--sl-color-amber-50);
  --cr-color-amber-600: var(--sl-color-amber-60);
  --cr-color-amber-700: var(--sl-color-amber-70);
  --cr-color-amber-800: var(--sl-color-amber-80);
  --cr-color-amber-900: var(--sl-color-amber-90);
  --cr-color-amber-950: var(--sl-color-amber-95);

  /* Yellow */
  --cr-color-yellow-50: var(--sl-color-yellow-5);
  --cr-color-yellow-10: var(--sl-color-yellow-10);
  --cr-color-yellow-20: var(--sl-color-yellow-20);
  --cr-color-yellow-30: var(--sl-color-yellow-30);
  --cr-color-yellow-40: var(--sl-color-yellow-40);
  --cr-color-yellow-50: var(--sl-color-yellow-50);
  --cr-color-yellow-60: var(--sl-color-yellow-60);
  --cr-color-yellow-70: var(--sl-color-yellow-70);
  --cr-color-yellow-80: var(--sl-color-yellow-80);
  --cr-color-yellow-90: var(--sl-color-yellow-90);
  --cr-color-yellow-95: var(--sl-color-yellow-90);

  /* Lime */
  --cr-color-lime-50: var(--sl-color-lime-50);
  --cr-color-lime-100: var(--sl-color-lime-100);
  --cr-color-lime-200: var(--sl-color-lime-200);
  --cr-color-lime-300: var(--sl-color-lime-300);
  --cr-color-lime-400: var(--sl-color-lime-400);
  --cr-color-lime-500: var(--sl-color-lime-500);
  --cr-color-lime-600: var(--sl-color-lime-600);
  --cr-color-lime-700: var(--sl-color-lime-700);
  --cr-color-lime-800: var(--sl-color-lime-800);
  --cr-color-lime-900: var(--sl-color-lime-900);
  --cr-color-lime-950: var(--sl-color-lime-950);

  /* Green */
  --cr-color-green-50: var(--sl-color-green-50);
  --cr-color-green-100: var(--sl-color-green-10);
  --cr-color-green-200: var(--sl-color-green-20);
  --cr-color-green-300: var(--sl-color-green-30);
  --cr-color-green-400: var(--sl-color-green-40);
  --cr-color-green-500: var(--sl-color-green-50);
  --cr-color-green-600: var(--sl-color-green-60);
  --cr-color-green-700: var(--sl-color-green-70);
  --cr-color-green-800: var(--sl-color-green-80);
  --cr-color-green-900: var(--sl-color-green-90);
  --cr-color-green-950: var(--sl-color-green-95);

  /* Emerald */
  --cr-color-emerald-5: var(--sl-color-emerald-0);
  --cr-color-emerald-1: var(--sl-color-emerald-00);
  --cr-color-emerald-2: var(--sl-color-emerald-00);
  --cr-color-emerald-3: var(--sl-color-emerald-00);
  --cr-color-emerald-4: var(--sl-color-emerald-00);
  --cr-color-emerald-5: var(--sl-color-emerald-00);
  --cr-color-emerald-6: var(--sl-color-emerald-00);
  --cr-color-emerald-7: var(--sl-color-emerald-00);
  --cr-color-emerald-8: var(--sl-color-emerald-00);
  --cr-color-emerald-9: var(--sl-color-emerald-00);
  --cr-color-emerald-9: var(--sl-color-emerald-50);

  /* Teal */
  --cr-color-teal-50: var(--sl-color-teal-50);
  --cr-color-teal-100: var(--sl-color-teal-100);
  --cr-color-teal-200: var(--sl-color-teal-200);
  --cr-color-teal-300: var(--sl-color-teal-300);
  --cr-color-teal-400: var(--sl-color-teal-400);
  --cr-color-teal-500: var(--sl-color-teal-500);
  --cr-color-teal-600: var(--sl-color-teal-600);
  --cr-color-teal-700: var(--sl-color-teal-700);
  --cr-color-teal-800: var(--sl-color-teal-800);
  --cr-color-teal-900: var(--sl-color-teal-900);
  --cr-color-teal-950: var(--sl-color-teal-950);

  /* Cyan */
  --cr-color-cyan-50: var(--sl-color-cyan-50);
  --cr-color-cyan-100: var(--sl-color-cyan-100);
  --cr-color-cyan-200: var(--sl-color-cyan-200);
  --cr-color-cyan-300: var(--sl-color-cyan-300);
  --cr-color-cyan-400: var(--sl-color-cyan-400);
  --cr-color-cyan-500: var(--sl-color-cyan-500);
  --cr-color-cyan-600: var(--sl-color-cyan-600);
  --cr-color-cyan-700: var(--sl-color-cyan-700);
  --cr-color-cyan-800: var(--sl-color-cyan-800);
  --cr-color-cyan-900: var(--sl-color-cyan-900);
  --cr-color-cyan-950: var(--sl-color-cyan-950);

  /* Sky */
  --cr-color-sky-50: var(--sl-color-sky-50);
  --cr-color-sky-100: var(--sl-color-sky-100);
  --cr-color-sky-200: var(--sl-color-sky-200);
  --cr-color-sky-300: var(--sl-color-sky-300);
  --cr-color-sky-400: var(--sl-color-sky-400);
  --cr-color-sky-500: var(--sl-color-sky-500);
  --cr-color-sky-600: var(--sl-color-sky-600);
  --cr-color-sky-700: var(--sl-color-sky-700);
  --cr-color-sky-800: var(--sl-color-sky-800);
  --cr-color-sky-900: var(--sl-color-sky-900);
  --cr-color-sky-950: var(--sl-color-sky-950);

  /* Blue */
  --cr-color-blue-50: var(--sl-color-blue-50);
  --cr-color-blue-100: var(--sl-color-blue-100);
  --cr-color-blue-200: var(--sl-color-blue-200);
  --cr-color-blue-300: var(--sl-color-blue-300);
  --cr-color-blue-400: var(--sl-color-blue-400);
  --cr-color-blue-500: var(--sl-color-blue-500);
  --cr-color-blue-600: var(--sl-color-blue-600);
  --cr-color-blue-700: var(--sl-color-blue-700);
  --cr-color-blue-800: var(--sl-color-blue-800);
  --cr-color-blue-900: var(--sl-color-blue-900);
  --cr-color-blue-950: var(--sl-color-blue-950);

  /* Indigo */
  --cr-color-indigo-50: var(--sl-color-indigo-5);
  --cr-color-indigo-10: var(--sl-color-indigo-10);
  --cr-color-indigo-20: var(--sl-color-indigo-20);
  --cr-color-indigo-30: var(--sl-color-indigo-30);
  --cr-color-indigo-40: var(--sl-color-indigo-40);
  --cr-color-indigo-50: var(--sl-color-indigo-50);
  --cr-color-indigo-60: var(--sl-color-indigo-60);
  --cr-color-indigo-70: var(--sl-color-indigo-70);
  --cr-color-indigo-80: var(--sl-color-indigo-80);
  --cr-color-indigo-90: var(--sl-color-indigo-90);
  --cr-color-indigo-95: var(--sl-color-indigo-90);

  /* Violet */
  --cr-color-violet-50: var(--sl-color-violet-5);
  --cr-color-violet-10: var(--sl-color-violet-10);
  --cr-color-violet-20: var(--sl-color-violet-20);
  --cr-color-violet-30: var(--sl-color-violet-30);
  --cr-color-violet-40: var(--sl-color-violet-40);
  --cr-color-violet-50: var(--sl-color-violet-50);
  --cr-color-violet-60: var(--sl-color-violet-60);
  --cr-color-violet-70: var(--sl-color-violet-70);
  --cr-color-violet-80: var(--sl-color-violet-80);
  --cr-color-violet-90: var(--sl-color-violet-90);
  --cr-color-violet-95: var(--sl-color-violet-90);

  /* Purple */
  --cr-color-purple-50: var(--sl-color-purple-5);
  --cr-color-purple-10: var(--sl-color-purple-10);
  --cr-color-purple-20: var(--sl-color-purple-20);
  --cr-color-purple-30: var(--sl-color-purple-30);
  --cr-color-purple-40: var(--sl-color-purple-40);
  --cr-color-purple-50: var(--sl-color-purple-50);
  --cr-color-purple-60: var(--sl-color-purple-60);
  --cr-color-purple-70: var(--sl-color-purple-70);
  --cr-color-purple-80: var(--sl-color-purple-80);
  --cr-color-purple-90: var(--sl-color-purple-90);
  --cr-color-purple-95: var(--sl-color-purple-90);

  /* Fuchsia */
  --cr-color-fuchsia-5: var(--sl-color-fuchsia-0);
  --cr-color-fuchsia-1: var(--sl-color-fuchsia-00);
  --cr-color-fuchsia-2: var(--sl-color-fuchsia-00);
  --cr-color-fuchsia-3: var(--sl-color-fuchsia-00);
  --cr-color-fuchsia-4: var(--sl-color-fuchsia-00);
  --cr-color-fuchsia-5: var(--sl-color-fuchsia-00);
  --cr-color-fuchsia-6: var(--sl-color-fuchsia-00);
  --cr-color-fuchsia-7: var(--sl-color-fuchsia-00);
  --cr-color-fuchsia-8: var(--sl-color-fuchsia-00);
  --cr-color-fuchsia-9: var(--sl-color-fuchsia-00);
  --cr-color-fuchsia-9: var(--sl-color-fuchsia-50);

  /* Pink */
  --cr-color-pink-50: var(--sl-color-pink-50);
  --cr-color-pink-100: var(--sl-color-pink-100);
  --cr-color-pink-200: var(--sl-color-pink-200);
  --cr-color-pink-300: var(--sl-color-pink-300);
  --cr-color-pink-400: var(--sl-color-pink-400);
  --cr-color-pink-500: var(--sl-color-pink-500);
  --cr-color-pink-600: var(--sl-color-pink-600);
  --cr-color-pink-700: var(--sl-color-pink-700);
  --cr-color-pink-800: var(--sl-color-pink-800);
  --cr-color-pink-900: var(--sl-color-pink-900);
  --cr-color-pink-950: var(--sl-color-pink-950);

  /* Rose */
  --cr-color-rose-50: var(--sl-color-rose-50);
  --cr-color-rose-100: var(--sl-color-rose-100);
  --cr-color-rose-200: var(--sl-color-rose-200);
  --cr-color-rose-300: var(--sl-color-rose-300);
  --cr-color-rose-400: var(--sl-color-rose-400);
  --cr-color-rose-500: var(--sl-color-rose-500);
  --cr-color-rose-600: var(--sl-color-rose-600);
  --cr-color-rose-700: var(--sl-color-rose-700);
  --cr-color-rose-800: var(--sl-color-rose-800);
  --cr-color-rose-900: var(--sl-color-rose-900);
  --cr-color-rose-950: var(--sl-color-rose-950);

  /*Colors*/

  /*
     * Theme Tokens
     */

  /* Primary */
  --cr-color-primary-50: var(--sl-color-sky-50);
  --cr-color-primary-100: var(--sl-color-sky-100);
  --cr-color-primary-200: var(--sl-color-sky-200);
  --cr-color-primary-300: var(--sl-color-sky-300);
  --cr-color-primary-400: var(--sl-color-sky-400);
  --cr-color-primary-500: var(--sl-color-sky-500);
  --cr-color-primary-600: var(--sl-color-sky-600);
  --cr-color-primary-700: var(--sl-color-sky-700);
  --cr-color-primary-800: var(--sl-color-sky-800);
  --cr-color-primary-900: var(--sl-color-sky-900);
  --cr-color-primary-950: var(--sl-color-sky-950);

  /* Success */
  --cr-color-success-50: var(--sl-color-green-50);
  --cr-color-success-100: var(--sl-color-green-100);
  --cr-color-success-200: var(--sl-color-green-200);
  --cr-color-success-300: var(--sl-color-green-300);
  --cr-color-success-400: var(--sl-color-green-400);
  --cr-color-success-500: var(--sl-color-green-500);
  --cr-color-success-600: var(--sl-color-green-600);
  --cr-color-success-700: var(--sl-color-green-700);
  --cr-color-success-800: var(--sl-color-green-800);
  --cr-color-success-900: var(--sl-color-green-900);
  --cr-color-success-950: var(--sl-color-green-950);

  /* Warning */
  --cr-color-warning-50: var(--sl-color-amber-50);
  --cr-color-warning-100: var(--sl-color-amber-100);
  --cr-color-warning-200: var(--sl-color-amber-200);
  --cr-color-warning-300: var(--sl-color-amber-300);
  --cr-color-warning-400: var(--sl-color-amber-400);
  --cr-color-warning-500: var(--sl-color-amber-500);
  --cr-color-warning-600: var(--sl-color-amber-600);
  --cr-color-warning-700: var(--sl-color-amber-700);
  --cr-color-warning-800: var(--sl-color-amber-800);
  --cr-color-warning-900: var(--sl-color-amber-900);
  --cr-color-warning-950: var(--sl-color-amber-950);

  /* Danger */
  --cr-color-danger-50: var(--sl-color-red-50);
  --cr-color-danger-100: var(--sl-color-red-100);
  --cr-color-danger-200: var(--sl-color-red-200);
  --cr-color-danger-300: var(--sl-color-red-300);
  --cr-color-danger-400: var(--sl-color-red-400);
  --cr-color-danger-500: var(--sl-color-red-500);
  --cr-color-danger-600: var(--sl-color-red-600);
  --cr-color-danger-700: var(--sl-color-red-700);
  --cr-color-danger-800: var(--sl-color-red-800);
  --cr-color-danger-900: var(--sl-color-red-900);
  --cr-color-danger-950: var(--sl-color-red-950);

  /* Neutral */
  --cr-color-neutral-50: var(--sl-color-gray-50);
  --cr-color-neutral-100: var(--sl-color-gray-100);
  --cr-color-neutral-200: var(--sl-color-gray-200);
  --cr-color-neutral-300: var(--sl-color-gray-300);
  --cr-color-neutral-400: var(--sl-color-gray-400);
  --cr-color-neutral-500: var(--sl-color-gray-500);
  --cr-color-neutral-600: var(--sl-color-gray-600);
  --cr-color-neutral-700: var(--sl-color-gray-700);
  --cr-color-neutral-800: var(--sl-color-gray-800);
  --cr-color-neutral-900: var(--sl-color-gray-900);
  --cr-color-neutral-950: var(--sl-color-gray-950);

  /*
   * Border radii
   */

  --cr-border-radius-small: 0.1875rem; /* 3px */
  --cr-border-radius-medium: 0.25rem; /* 4px */
  --cr-border-radius-large: 0.5rem; /* 8px */
  --cr-border-radius-x-large: 1rem; /* 16px */

  --cr-border-radius-circle: 50%;
  --cr-border-radius-pill: 9999px;

  /*
   * Elevations
   */

  --cr-shadow-x-small: var(--sl-shadow-x-small);
  --cr-shadow-small: var(--sl-shadow-small);
  --cr-shadow-medium: var(--sl-shadow-medium);
  --cr-shadow-large: var(--sl-shadow-large);
  --cr-shadow-x-large: var(--sl-shadow-x-large);

  /*
   * Spacings
   */


  --cr-spacing-3x-small: var(--sl-spacing-3x-small);
  --cr-spacing-2x-small: var(--sl-spacing-2x-small);
  --cr-spacing-x-small: var(--sl-spacing-x-small);
  --cr-spacing-small: var(--sl-spacing-small);
  --cr-spacing-medium: var(--sl-spacing-medium);
  --cr-spacing-large: var(--sl-spacing-large);
  --cr-spacing-x-large: var(--sl-spacing-x-large);
  --cr-spacing-2x-large: var(--sl-spacing-2x-large);
  --cr-spacing-3x-large: var(--sl-spacing-3x-large);
  --cr-spacing-4x-large: var(--sl-spacing-4x-large);

  /*
     * Transitions
     */

  --cr-transition-x-slow: var(--sl-transition-x-slow);
  --cr-transition-slow: var(--sl-transition-slow);
  --cr-transition-medium: var(--sl-transition-medium);
  --cr-transition-fast: var(--sl-transition-fast);
  --cr-transition-x-fast: var(--sl-transition-x-fast);

  /*
   * Forms
   */

  /* Buttons */
  --cr-button-font-size-small: var(--sl-button-font-size-small);
  --cr-button-font-size-medium: var(--sl-button-font-size-medium);
  --cr-button-font-size-large: var(--sl-button-font-size-large);

  /* Inputs */
  --cr-input-height-small: var(--sl-input-height-small);
  --cr-input-height-medium: var(--sl-input-height-medium);
  --cr-input-height-large: var(--sl-input-height-large);

  --cr-input-background-color: var(--sl-input-background-color);
  --cr-input-background-color-hover: var(--sl-input-background-color-hover);
  --cr-input-background-color-focus: var(--sl-input-background-color-focus);
  --cr-input-background-color-disabled: var(--sl-input-background-color-disabled);
  --cr-input-border-color: var(--sl-input-border-color);
  --cr-input-border-color-hover: var(--sl-input-border-color-hover);
  --cr-input-border-color-focus: var(--sl-input-border-color-focus);
  --cr-input-border-color-disabled: var(--sl-input-border-color-disabled);
  --cr-input-border-width: var(--sl-input-border-width);
  --cr-input-required-content: var(--sl-input-required-content);
  --cr-input-required-content-offset: var(--sl-input-required-content-offset);
  --cr-input-required-content-color: var(--sl-input-required-content-color);

  --cr-input-border-radius-small: var(--sl-input-border-radius-small);
  --cr-input-border-radius-medium: var(--sl-input-border-radius-medium);
  --cr-input-border-radius-large: var(--sl-input-border-radius-large);

  --cr-input-font-family: var(--sl-input-font-family);
  --cr-input-font-weight: var(--sl-input-font-weight);
  --cr-input-font-size-small: var(--sl-input-font-size-small);
  --cr-input-font-size-medium: var(--sl-input-font-size-medium);
  --cr-input-font-size-large: var(--sl-input-font-size-large);
  --cr-input-letter-spacing: var(--sl-input-letter-spacing);

  --cr-input-color: var(--sl-input-color);
  --cr-input-color-hover: var(--sl-input-color-hover);
  --cr-input-color-focus: var(--sl-input-color-focus);
  --cr-input-color-disabled: var(--sl-input-color-disabled);
  --cr-input-icon-color: var(--sl-input-icon-color);
  --cr-input-icon-color-hover: var(--sl-input-icon-color-hover);
  --cr-input-icon-color-focus: var(--sl-input-icon-color-focus);
  --cr-input-placeholder-color: var(--sl-input-placeholder-color);
  --cr-input-placeholder-color-disabled: var(--sl-input-placeholder-color-disabled);
  --cr-input-spacing-small: var(--sl-input-spacing-small);
  --cr-input-spacing-medium: var(--sl-input-spacing-medium);
  --cr-input-spacing-large: var(--sl-input-spacing-large);

  --cr-input-focus-ring-color: var(--sl-input-focus-ring-color);
  --cr-input-focus-ring-offset: var(--sl-input-focus-ring-offset);

  --cr-input-filled-background-color: var(--sl-input-filled-background-color);
  --cr-input-filled-background-color-hover: var(--sl-input-filled-background-color-hover);
  --cr-input-filled-background-color-focus: var(--sl-input-filled-background-color-focus);
  --cr-input-filled-background-color-disabled: var(--sl-input-filled-background-color-disabled);
  --cr-input-filled-color: var(--sl-input-filled-color);
  --cr-input-filled-color-hover: var(--sl-input-filled-color-hover);
  --cr-input-filled-color-focus: var(--sl-input-filled-color-focus);
  --cr-input-filled-color-disabled: var(--sl-input-filled-color-disabled);

  /* Labels */
  --cr-input-label-font-size-small: var(--sl-input-label-font-size-small);
  --cr-input-label-font-size-medium: var(--sl-input-label-font-size-medium);
  --cr-input-label-font-size-large: var(--sl-input-label-font-size-large);
  --cr-input-label-color: var(--sl-input-label-color);

  /* Help text */
  --cr-input-help-text-font-size-small: var(--sl-input-help-text-font-size-small);
  --cr-input-help-text-font-size-medium: var(--sl-input-help-text-font-size-medium);
  --cr-input-help-text-font-size-large: var(--sl-input-help-text-font-size-large);
  --cr-input-help-text-color: var(--sl-input-help-text-color);

  /* Toggles (checkboxes, radios, switches) */
  --cr-toggle-size-small: var(--sl-toggle-size-small);
  --cr-toggle-size-medium: var(--sl-toggle-size-medium);
  --cr-toggle-size-large: var(--sl-toggle-size-large);

  /*
   * Overlays
   */

  --cr-overlay-background-color: var(--sl-overlay-background-color);

  /*
   * Panels
   */

  --cr-panel-background-color: var(--sl-panel-background-color);
  --cr-panel-border-color: var(--sl-panel-border-color);
  --cr-panel-border-width: var(--sl-panel-border-width);

  /*
   * Tooltips
   */

  --cr-tooltip-border-radius: var(--sl-tooltip-border-radius);
  --cr-tooltip-background-color: var(--sl-tooltip-background-color);
  --cr-tooltip-color: var(--sl-tooltip-color);
  --cr-tooltip-font-family: var(--sl-tooltip-font-family);
  --cr-tooltip-font-weight: var(--sl-tooltip-font-weight);
  --cr-tooltip-font-size: var(--sl-tooltip-font-size);
  --cr-tooltip-line-height: var(--sl-tooltip-line-height);
  --cr-tooltip-padding: var(--sl-tooltip-padding);
  --cr-tooltip-arrow-size: var(--sl-tooltip-arrow-size);

  /*
   * Z-indexes
   */

  --cr-z-index-drawer: var(--sl-z-index-drawer);
  --cr-z-index-dialog: var(--sl-z-index-dialog);
  --cr-z-index-dropdown: var(--sl-z-index-dropdown);
  --cr-z-index-toast: var(--sl-z-index-toast);
  --cr-z-index-tooltip: var(--sl-z-index-tooltip);

}
