/* -------------------------------------------------------- */
.rounded .top *, .rounded .bottom *, .roundedlight .top *,
.roundedlight .bottom * {
  display: block;
  overflow: hidden;
  border-color: #A9B6C3;
  border-style: solid;
  background: #EEF3F6 none repeat scroll 0% 50%;
  height: 1px;
  border-width: 0 1px;
 }

.roundedlight .b1, .roundedlight .b1b { background: #A9B6C3 none repeat scroll 0% 50%; margin: 0 5px; border-width: 0; }
.roundedlight .b2, .roundedlight .b2b { border-width: 0 2px; margin: 0 3px; }
.roundedlight .b3, .roundedlight .b3b { margin: 0pt 2px; }
.roundedlight .b4, .roundedlight .b4b { height: 2px; margin: 0 1px; }
.rounded .b1, .rounded .b1b { border-width: 0; margin: 0 16px; background: #A9B6C3 none repeat scroll 0% 50%; }
.rounded .b2, .rounded .b2b { border-width: 0 3px; margin: 0 13px; }
.rounded .b3, .rounded .b3b { border-width: 0 2px; margin: 0 11px; }
.rounded .b4, .rounded .b4b { border-width: 0 2px; margin: 0 9px; }
.rounded .b5, .rounded .b5b { margin: 0 8px; }
.rounded .b6, .rounded .b6b { margin: 0 7px; }
.rounded .b7, .rounded .b7b { margin: 0 6px; }
.rounded .b8, .rounded .b8b { margin: 0 5px; }
.rounded .b9, .rounded .b9b { margin: 0 4px; }
.rounded .b10, .rounded .b10b { height: 2px; margin: 0 3px; }
.rounded .b11, .rounded .b11b { height: 2px; margin: 0 2px; }
.rounded .b12, .rounded .b12b { height: 3px; margin: 0 1px; }

#lb-bg {
  background-image: url("$xwiki.getSkinFile("js/xwiki/lightbox/back.png")");
  background-repeat: repeat;
  height: 100%;
  width: 100%;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 100000;
  /* opacity: 0.7; css3 property */
  overflow: auto;
}

#lb input[type=text], #lb textarea {
    cursor: text;
}

#lb button{
    cursor: pointer;
}

#lb-align {
  min-height: 100%;
  position: absolute;
  width: 100%;
  left: 0;
  text-align: center;
  vertical-align: middle;
  z-index: 100002;
}

#lb {
  position: absolute;
  top:  50px;
  z-index: 100005;
}

/* Make sure the suggest input drop down is visible. */
.selectize-dropdown, .selectize-dropdown.form-control {
  z-index: 100006;
}

#lb {
  left: 0;
  margin-left: 0;
  width: 100%;
}

@media (min-width: 768px) { /* Should be: @screen-sm-min */
  #lb {
    left: 50%;
    margin-left: -300px; /* Should be: @modal-md / 2 */
    width: 600px; /* Should be: @modal-md */
  }
}

@media (min-width: 992px) { /* Should be: @screen-md-min */
  #lb {
    left: 50%;
    margin-left: -450px; /* Should be: @modal-lg / 2 */
    width: 900px; /* Should be: @modal-lg */
  }
}

.lb-content {
  background: #eef3f6;
  border: 1px solid #A9B6C3;
  border-width: 0 1px;
  padding: 0px;
  text-align: center;
}


#lb-top {}
#lb-bottom {}
.lb-squarred {
  background: #eef3f6;
  border: 1px solid #A9B6C3;
}

#lb-bottom .lb-squarred {
  border-top-width: 0;
}

#lb-top .lb-squarred {
  border-bottom-width: 0;
}

#lb-content h1, #lb-content h2, #lb-content h3 {
  margin-top: 0;
  padding-top: 0;
}


* html #lb-bottom .roundedlight {
  margin-top: -1em;
}

/* *+html #lb-bottom .rounded, */
* html #lb-bottom .rounded, *+html #lb-top .rounded .top  {
  margin-top: 0em; /* avant -1em*/
}

*+html #lb-bottom .rounded .b12b, * html #lb-bottom .rounded .b12b,
*+html #lb-bottom .roundedlight .b4b, * html #lb-bottom .roundedlight
.b4b {
  margin-bottom: -0.1em;
}


#lb .lb-content {
  padding: 4px 18px;
}

.lb-content{
  overflow: hidden;
  text-align: left;
}


#close-wrap {
  position: relative;
  top: 18px;
  right: 7px;
  text-align: right;
  cursor: default;
}

#lb-close {
  margin-left: auto;
  margin-right: 10px;
  width: 30px;
  cursor: pointer;
  background-image: url("$xwiki.getSkinFile('js/xwiki/lightbox/btnClose.png')");
  background-repeat: no-repeat;
  background-position: 5px;
}
