

@keyframes waiting {
  from { background-position-x: 100%; }
  to { background-position-x: -100%; }
}

.livedata-displayer:empty {
  animation: waiting 2s linear infinite;
  --c1: transparent;
  --c2: #ccc4;
  background: linear-gradient(135deg, var(--c1) 25%, var(--c2) 50%, var(--c1) 75%);
  background-repeat: repeat;
  background-size: 200% 100%;
}

.livedata-displayer {
  min-height: 1em;
}