.xGallery {
  background-color: black;
  padding: 10px;
  /* Position relative is required because some of the inner elements have position absolute and the gallery container
  must be their offset parent. */
  position: relative;
  text-align: center;
  white-space: nowrap;
}

.xGallery:before {
  content: "";
  display: inline-block;
  height: 100%;
  vertical-align: middle;
}

.xGallery.maximized {
  height: 100% !important;
  left: 0;
  position: fixed;
  top: 0;
  z-index: 1001;
  width: 100% !important;
}

.xGallery .currentImage {
  max-height: 100%;
  max-width: 100%;
  padding: 22px;
  vertical-align: middle;
}

.xGallery .previous, .xGallery .next {
  color: #A0A0A0;
  cursor: pointer;
  font-family: courier,monospace;
  font-size: 32px;
  font-weight: 100;
  height: 124px;
  line-height: 124px;
  margin-top: -64px;
  position: absolute;
  text-align: center;
  top: 50%;
  width: 32px;
}

.xGallery .previous:hover, .xGallery .next:hover {
  color: white;
}

.xGallery .previous {
  left: 0;
}

.xGallery .next {
  right: 0;
}

.xGallery .index {
  bottom: 10px;
  color: #C0C0C0;
  font-family: sans-serif;
  font-size: smaller;
  left: 10px;
  line-height: 1;
  position: absolute;
}

.xGallery .loading {
  background-image: url('loading.gif') !important;
}

.xGallery .focusCatcher {
  background-color: black;
  border: 0 none;
  color: black;
  height: 1px;
  left: 0;
  overflow: hidden;
  position: absolute;
  top: 0;
  width: 1px;
  z-index: -1;
}

.xGallery .maximize, .xGallery .minimize {
  cursor: pointer;
  height: 16px;
  opacity: .5;
  position: absolute;
  right: 10px;
  top: 10px;
  width: 16px;
}

.xGallery .maximize:hover, .xGallery .minimize:hover {
  opacity: 1;
}

.xGallery .maximize {
  background: transparent url('maximize.gif') no-repeat scroll center;
}

.xGallery .minimize {
  background: transparent url('minimize.gif') no-repeat scroll center;
}

html.maximized, html.maximized body {
  height: 100% !important;
  margin: 0 !important;
  overflow: hidden !important;
  padding: 0 !important;
  width: 100% !important;
}
