body {
  background-color: white;
  /* margin: 20px 20px 20px 20px; */
}

body, td, th {
  color: black;
  font-family: Arial, sans-serif;
  font-size: smaller;
}

code {
  font-size: small;
}

a {
  color: darkblue;
}

a:visited {
  color: darkblue;
}

.gwt-BorderedPanel {
}

.gwt-Button {
}

.gwt-Canvas {
}

.gwt-CheckBox {
  font-size: smaller;
}

.gwt-DialogBox {
  sborder: 8px solid #C3D9FF;
  border: 2px outset;
  background-color: white;
}

.gwt-DialogBox .Caption {
  background-color: #C3D9FF;
  padding: 3px;
  margin: 2px;
  font-weight: bold;
  cursor: default;
}

.gwt-FileUpload {
}

.gwt-Frame {
}

.gwt-HorizontalSplitter .Bar {
  width: 8px;
  background-color: #C3D9FF;
}

.gwt-VerticalSplitter .Bar {
  height: 8px;
  background-color: #C3D9FF;
}

.gwt-HTML {
  font-size: smaller;
}

.gwt-Hyperlink {
}

.gwt-Image {
}

.gwt-Label {
  font-size: smaller;
}

.gwt-ListBox {
}

.gwt-MenuBar {
  background-color: #C3D9FF;
  border: 1px solid #87B3FF;
  cursor: default;
}

.gwt-MenuBar .gwt-MenuItem {
  padding: 1px 4px 1px 4px;
  font-size: smaller;
  cursor: default;
}

.gwt-MenuBar .gwt-MenuItem-selected {
  background-color: #E8EEF7;
}

.gwt-PasswordTextBox {
}

.gwt-RadioButton {
  font-size: smaller;
}

.gwt-TabPanel {
}

.gwt-TabPanelBottom {
}

.gwt-TabBar {
  font-size: smaller;
}

.gwt-TabBar .gwt-TabBarFirst {
  height: 100%;
  border-bottom: 1px solid #87B3FF;
  padding-left: 3px;
}

.gwt-TabBar .gwt-TabBarRest {
  border-bottom: 1px solid #87B3FF;
  padding-right: 3px;
}

.gwt-TabBar .gwt-TabBarItem {
  border-top: 1px solid #87B3FF;
  border-left: 1px solid #87B3FF;
  border-right: 1px solid #87B3FF;
  border-bottom: 1px solid #87B3FF;
  margin-right: 2px;
  padding: 2px;
  cursor: pointer;
  cursor: hand;
}

.gwt-TabBar .gwt-TabBarItem-selected {
  font-weight: bold;
  background-color: #E8EEF7;
  border-top: 1px solid #87B3FF;
  border-left: 1px solid #87B3FF;
  border-right: 1px solid #87B3FF;
  border-bottom: 1px solid #E8EEF7;
  margin-right: 2px;
  padding: 2px;
  cursor: default;
}

.gwt-TextArea {
}

.gwt-TextBox {
}

.gwt-Tree {
}

.gwt-Tree .gwt-TreeItem {
  font-size: smaller;
}

.gwt-Tree .gwt-TreeItem-selected {
  background-color: #C3D9FF;
}

.gwt-StackPanel {
}

.gwt-StackPanel .gwt-StackPanelItem {
  background-color: #C3D9FF;
  cursor: pointer;
  cursor: hand;
}

.gwt-StackPanel .gwt-StackPanelItem-selected {
}

/* -------------------------------------------------------------------------- */
.ks-Sink {
  border: 8px solid #C3D9FF;
  background-color: #E8EEF7;
  width: 100%;
  height: 24em;
}

.ks-Info {
  background-color: #C3D9FF;
  padding: 10px 10px 2px 10px;
  font-size: smaller;
}

.ks-List {
  margin-top: 8px;
  margin-bottom: 8px;
  font-size: smaller;
}

.ks-List .ks-SinkItem {
  width: 100%;
  padding: 0.3em;
  padding-right: 16px;
  cursor: pointer;
  cursor: hand;
}

.ks-List .ks-SinkItem-selected {
  background-color: #C3D9FF;
}

.ks-images-Image {
  margin: 8px;
}

.ks-images-Button {
  margin: 8px;
  cursor: pointer;
  cursor: hand;
}

.ks-layouts {
  margin: 8px;
}

.ks-layouts-Label {
  background-color: #C3D9FF;
  font-weight: bold;
  margin-top: 1em;
  padding: 2px 0px 2px 0px;
  width: 100%;
}

.ks-layouts-Scroller {
  height: 128px;
  border: 2px solid #C3D9FF;
  padding: 8px;
  margin: 8px;
}

.ks-popups-Popup {
  background-color: white;
  border: 1px solid #87B3FF;
  padding: 4px;
}

.infoProse {
  margin: 8px;
}

.wiki-table {
}

.rssreader {
    font-family: Verdana, sans-serif;    
}

.rssreader,.rssaggr {
   width: 100%;
}

.rssmenu {
    padding: 5px;
    width: 250px;
    background-color: #D7E2E9;
}

.menutab {
    width: 240px;
}

.feedtree, .grouptree, .keywordtree {
    position: relative;
    width: 220px;
}

.searchbox {
    margin-top: 15px;
}

.filter,.filterline {
    padding: 2px;
    color: #3F667E;
    width: 100%;
    background-color: #D7E2E9;
}

.filterlimit {
    padding: 2px;
    background-color: #FFFFFF;
}

.flaggedyes {
    color: red;
}

.flaggedno {

}

.flaginactive, .trashinactive {    
}

.flagactive, .flagactive a, .flagactive a:visited,
.trashactive, .trashactive a, .trashactive a:visited {
    color: red;
    font-weight: bold;
}

.filter,.filterline,.filterlimit {
  width: 100%;
}
.filterline {
}

.filtertitle {
}

.filterimage,.nfilterimage {
    float: left;
    clear: none;
    margin-top: 5px;
    margin-bottom: 5px;
}

.filterimage {
   margin-left: 10px;
}

.filterstatus td {
  margin-left: 2px;
  margin-right: 2px;    
}

.pressreviewlink {
}

.filterclear {

}

.filterlimit {

}

.keywordfilteractive {

}

.keywordfilterinactive {

}

.tagsfilteractive {

}

.tagsfilterinactive {

}

.filtersep {
    margin-left: 2px;
    margin-right: 2px;
}

.articles {
    width: 100%;
    overflow: scroll;
}

.article {
   float: left;
   padding: 10px;
   width: 100%;
   background-color: #f8f9f6;
   border-bottom: 1px solid #cccccc;
}

.articletitle {
    float: left;
    padding: 2px;
    width: 100%;
}

.treeelementtext {
    white-space: normal;
}

.treeelementtextactive {
    white-space: normal;
    font-weight: bold;
    text-decoration: underline;
}

.articleflag,.articletrash {
  float: left;
  clear: none;
}

.articletitletext {
    padding-left: 1px;
    float: left;
    clear: none;
}

.articletitletextunread {
    font-weight: bold;
    padding-left: 1px;
    float: left;
    clear: none;
}

.articleextlink {
    padding-left: 5px;
    float: left;
    clear: none;
    background-image: "agrss_extlink.png";
}

.articleauthor {
    float: left;
    clear: left;
}

.articlesource {
    padding-left: 10px;
    float: left;
    clear: none;
}

.articledate {
    padding-left: 10px;
    float: left;
    clear: none;
}

.articlecommentsnb {
    float: left;
    clear: none;
    padding-left: 10px;
}

.articlecontentzone {
    width: 100%;
    float: left;
    clear: left;
    padding: 5px;
    overflow: scroll;
}

.articlecontent {

}
.dateform,.formfield {
  float: left;
}

.articleextlink2 {

}

.commentsbox, .tagsbox {
    width: 300px;
    margin: 10px;
    padding: 5px;
    border: 1px solid #cccccc;
}

.commentsboxtitle,.commentslink,.commentsboxcontent {
}
.tagsbox,.tagsboxtitle,.tagslink {
}

.tagslink, .commentslink {
    margin-left:  10px;
}

.tagscloudlink {
    float: left;
    margin-right: 5px;
}
.tagscloud10 { font-size: 10px; }
.tagscloud11 { font-size: 12px; }
.tagscloud12 { font-size: 14px; }
.tagscloud13 { font-size: 16px; }
.tagscloud14 { font-size: 18px; }
.tagscloud15 { font-size: 20px; }
.tagscloud16 { font-size: 22px; }
.tagscloud17 { font-size: 24px; }
.tagscloud18 { font-size: 26px; }

.articlesnext {
  float: right;
  margin-top: 5px;
  margin-right: 50px;
}

.rssthumbnail {
 height: 20px;
 margin-right: 2px;
}

.rssthumbnail2 {
 float: left;
 height: 50px;
 margin-right: 5px;
}