.jump-dialog {
  overflow: visible;
}

.xdialog-box .buttons {
  margin-top: 10px;
}

.xdialog-box #jmp_target {
  width: 98%;
  padding: 1px 2px;
}

.jump-dialog-container {
  /* Reduce the z-index a bit in order to not have the page picker drop down behind the modal backdrop. */
  z-index: 999;
}
