#template('colorThemeInit.vm')
.xdialog-modal-container {
  position: fixed;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  width: 100%;
  height: 100%;
  text-align: center;
  z-index: 1005;
}
/* For IE6, which doesn't understand position: fixed. */
* html .xdialog-modal-container {
  position: absolute;
}
/* Semi-transparent overlay screen that covers the entire page. */
.xdialog-screen {
  position: absolute;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  width: 100%;
  height: 100%;
  background-color: #000;
}
.xdialog-box {
  text-align: left;
  padding: 0;
  margin: auto;
  position: relative;
  width: 400px;
  color: $theme.panelTextColor;
  border: 1px solid $theme.borderColor;
  background-color: $theme.panelBackgroundColor;
  border-radius: 4px;
  box-shadow: 0 0 7px $theme.borderColor;
}
.xdialog-box .xdialog-content {
  margin: .8em;
}
.xdialog-close {
  float: right;
  cursor: pointer;
  width: .8em;
  margin-right: .4em;
  height: 1.4em;
  text-align : center; 
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.4em;
  color: $theme.panelTextColor;
}
.xdialog-title .xdialog-close {
  font-size: 1.25em;
  margin-right: -0.56em;
  margin-top: -0.24em;
  color: $theme.panelHeaderTextColor;
}
.xdialog-title {
  font-size: 80%;
  font-weight: bold;
  padding: .3em 1.2em .3em .8em;
  background-color: $theme.panelHeaderBackgroundColor;
  #css3_backgroundLinearGradient({
     'angle': 'top',
     'colors': [
      {'color': $theme.panelHeaderGradientColor, 'position': '0%'},
      {'color': $theme.panelHeaderBackgroundColor, 'position': '100%'}
    ]
  })
  border-radius: 4px 4px 0 0;
  color: $theme.panelHeaderTextColor;
  text-shadow: 0 1px 0 $theme.panelHeaderGradientColor;
}
.xdialog-box .xform { 
  width: 100%;
}