## ---------------------------------------------------------------------------
## See the NOTICE file distributed with this work for additional
## information regarding copyright ownership.
##
## This is free software; you can redistribute it and/or modify it
## under the terms of the GNU Lesser General Public License as
## published by the Free Software Foundation; either version 2.1 of
## the License, or (at your option) any later version.
##
## This software is distributed in the hope that it will be useful,
## but WITHOUT ANY WARRANTY; without even the implied warranty of
## MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the GNU
## Lesser General Public License for more details.
##
## You should have received a copy of the GNU Lesser General Public
## License along with this software; if not, write to the Free
## Software Foundation, Inc., 51 Franklin St, Fifth Floor, Boston, MA
## 02110-1301 USA, or see the FSF site: http://www.fsf.org.
## ---------------------------------------------------------------------------
##!source.syntax=xwiki/2.1
{{velocity}}
  #set($message = $renderingerror.message.throwable.parameterizedMessage)
  {{box cssClass="templateerror"}}
    {{box cssClass="xwikirenderingerror"}}
      #set($translatedMessage = $services.logging.translate($message))
      $services.rendering.escape($translatedMessage.formattedMessage, 'xwiki/2.1')##
    {{/box}}

    #foreach ($cause in $renderingerror.message.throwable.causes)
      {{box cssClass="xwikirenderingerror"}}
        #if ($cause.parameterizedMessage)
          #set($translatedMessage = $services.logging.translate($cause.parameterizedMessage))
          $services.rendering.escape($translatedMessage.formattedMessage, 'xwiki/2.1')##
        #else
          $services.rendering.escape($cause.message, 'xwiki/2.1')##
        #end
        #if ($cause.cause)
          ~ {{translation key="rendering.error.click"/}}
        #end
      {{/box}}
      #if (!$renderingerror.inline)
        ## Make sure the boxes are standalone

      #end
      #if ($cause.cause)
        {{box cssClass="xwikirenderingerrordescription hidden"}}
          $services.rendering.escape($exceptiontool.getStackTrace($cause), 'xwiki/2.1')
        {{/box}}
      #end
    #end
  {{/box}}
{{/velocity}}