.paginationFilter {
  color: #888;
  border-top: 1px solid #CCC;
  padding: 2px 0px 5px 5px;
  overflow: hidden;
  line-height: 22px;
}
.resultsNo {
  float: left;
}
.resultsNo .currentResultsNo, .resultsNo .totalResultsNo {
  color: #4D4D4D;
  font-weight: bold;
} 
.pagination {
  float: right;
  margin-right: 10px;
}
.pagination a {
  color: #888;
}
.pagination a:hover {
  color: #4D4D4D;
}
.pagination .currentPage {
  color: #4D4D4D;
  font-weight: bold;
}
.pagination a:focus {
  outline: dotted 1px #000;
}
.controlPagination {
  position: relative;
  width: 42px;
  height: 22px;
  overflow: hidden;
  margin: 0!important;
  padding: 0!important;
  float: right;
}
.controlPagination a, .controlPagination span {
  position: absolute;
  top: 0;
  left: 0;
  line-height: 25px;
  text-indent: -1000px;
  outline: none;
  overflow: hidden;
  border: none;
  background-image: url($xwiki.getSkinFile('icons/xwiki/pagination-controls.png'));
  width: 21px;
  height: 22px;
}
.controlPagination .prevPagination {
  background-position: left top;
}
.controlPagination .noPrevPagination {
  background-position: left bottom;
}
.controlPagination .nextPagination {
  background-position: right top;
  left: 21px;
}
.controlPagination .noNextPagination {
  background-position: right bottom;
  left: 21px;
}