/**
 * CSS for the create action UI.
 */
#template('colorThemeInit.vm')

#location-edit-toggle {
  float: right;
  padding-top: 0.65em;
  padding-right: 1em;
}

#location-edit {
  padding: 0em 2em;
  margin-bottom: 2.5em;
}