<?xml version="1.0" encoding="UTF-8"?>

<!--
 * See the NOTICE file distributed with this work for additional
 * information regarding copyright ownership.
 *
 * This is free software; you can redistribute it and/or modify it
 * under the terms of the GNU Lesser General Public License as
 * published by the Free Software Foundation; either version 2.1 of
 * the License, or (at your option) any later version.
 *
 * This software is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the GNU
 * Lesser General Public License for more details.
 *
 * You should have received a copy of the GNU Lesser General Public
 * License along with this software; if not, write to the Free
 * Software Foundation, Inc., 51 Franklin St, Fifth Floor, Boston, MA
 * 02110-1301 USA, or see the FSF site: http://www.fsf.org.
-->

<web-app xmlns="https://jakarta.ee/xml/ns/jakartaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd"
         version="5.0" metadata-complete="true">

  <display-name>XWiki Root Redirector</display-name>
  <description>Redirects root context calls to the xwiki context</description>

  <servlet>
    <servlet-name>XWikiDispatcherServlet</servlet-name>
    <servlet-class>com.xpn.xwiki.XWikiRootServlet</servlet-class>
    <!-- Uncomment and edit this if you want to redirect to a different webapp name.
    <init-param>
      <param-name>redirectoTo</param-name>
      <param-value>xwiki</param-value>
      <description>The address to redirect to when the client hits the root of the container.</description>
    </init-param>
    -->
  </servlet>
  <!-- Make sure we don't redirect when the container is asking for the favicon -->
  <servlet-mapping>
    <servlet-name>default</servlet-name>
    <url-pattern>/favicon.ico</url-pattern>
  </servlet-mapping>
  <!-- Make sure we don't redirect when the container is asking for the robots.txt file -->
  <servlet-mapping>
    <servlet-name>default</servlet-name>
    <url-pattern>/robots.txt</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>XWikiDispatcherServlet</servlet-name>
    <url-pattern>/</url-pattern>
  </servlet-mapping>
</web-app>
