## ---------------------------------------------------------------------------
## See the NOTICE file distributed with this work for additional
## information regarding copyright ownership.
##
## This is free software; you can redistribute it and/or modify it
## under the terms of the GNU Lesser General Public License as
## published by the Free Software Foundation; either version 2.1 of
## the License, or (at your option) any later version.
##
## This software is distributed in the hope that it will be useful,
## but WITHOUT ANY WARRANTY; without even the implied warranty of
## MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the GNU
## Lesser General Public License for more details.
##
## You should have received a copy of the GNU Lesser General Public
## License along with this software; if not, write to the Free
## Software Foundation, Inc., 51 Franklin St, Fifth Floor, Boston, MA
## 02110-1301 USA, or see the FSF site: http://www.fsf.org.
## ---------------------------------------------------------------------------
## Fake class to mark where to start ignoring CSS
.not-sent-to-the-browser-from-this-point{
  color: red;
}
#macro(mapping $colorThemeVar $lessVar)
    .colortheme-$colorThemeVar{
        color: $lessVar;
    }
#end
#mapping("pageContentBackgroundColor", "@xwiki-page-content-bg")
#mapping("borderColor", "@xwiki-border-color")
#mapping("panelHeaderBackgroundColor", "@panel-default-heading-bg")
#mapping("textColor", "@text-color")
#mapping("textPrimaryColor", "@text-muted")
#mapping("textSecondaryColor", "@text-muted")
#mapping("linkColor", "@link-color")
#mapping("titleColor", "@headings-color")
#mapping("pageBackgroundColor", "@body-bg")
#mapping("backgroundSecondaryColor", "@well-bg")
#mapping("menuBackgroundColor", "@navbar-default-bg")
#mapping("menuLinkColor", "@navbar-default-link-color")
#mapping("menuSelectedEntryBackgroundColor", "@navbar-default-link-active-bg")
#mapping("menuSelectedEntryLinkColor" "@navbar-default-link-active-color")
#mapping("panelBackgroundColor", "@panel-bg")
#mapping("panelTextColor", "@panel-default-text")
#mapping("panelHeaderTextColor", "@panel-header-text")
#mapping("panelHeaderBackgroundColor", "@panel-header-bg")
#mapping("buttonPrimaryTextColor", "@btn-primary-color")
#mapping("buttonPrimaryBackgroundColor", "@btn-primary-bg")
#mapping("buttonSecondaryTextColor", "@btn-default-color")
#mapping("buttonSecondaryBackgroundColor", "@btn-default-bg")
#mapping("menuAddEntryLinkColor", "@btn-success-color")
#mapping("menuAddEntryBackgroundColor", "@btn-success-bg")
#mapping("highlightColor", "@nav-link-hover-bg")
#mapping("notificationSuccessColor", "@brand-success")
#mapping("notificationInfoColor", "@brand-info")
#mapping("notificationWarningColor", "@brand-warning")
#mapping("notificationErrorColor", "@brand-danger")
