## Fake class to mark where to start ignoring CSS
.not-sent-to-the-browser-from-this-point{
  color: red;
}
#macro(mapping $colorThemeVar $lessVar)
    .colortheme-$colorThemeVar{
        color: $lessVar;
    }
#end
#mapping("pageContentBackgroundColor", "@xwiki-page-content-bg")
#mapping("borderColor", "@xwiki-border-color")
#mapping("panelHeaderBackgroundColor", "@panel-default-heading-bg")
#mapping("textColor", "@text-color")
#mapping("textPrimaryColor", "@text-muted")
#mapping("textSecondaryColor", "@text-muted")
#mapping("linkColor", "@link-color")
#mapping("titleColor", "@headings-color")
#mapping("pageBackgroundColor", "@body-bg")
#mapping("backgroundSecondaryColor", "@well-bg")
#mapping("menuBackgroundColor", "@navbar-default-bg")
#mapping("menuLinkColor", "@navbar-default-link-color")
#mapping("menuSelectedEntryBackgroundColor", "@navbar-default-link-active-bg")
#mapping("menuSelectedEntryLinkColor" "@navbar-default-link-active-color")
#mapping("panelBackgroundColor", "@panel-bg")
#mapping("panelTextColor", "@panel-default-text")
#mapping("panelHeaderTextColor", "@xwiki-panel-header-text")
#mapping("panelHeaderBackgroundColor", "@xwiki-panel-header-bg")
#mapping("buttonPrimaryTextColor", "@btn-primary-color")
#mapping("buttonPrimaryBackgroundColor", "@btn-primary-bg")
#mapping("buttonSecondaryTextColor", "@btn-default-color")
#mapping("buttonSecondaryBackgroundColor", "@btn-default-bg")
#mapping("menuAddEntryLinkColor", "@btn-success-color")
#mapping("menuAddEntryBackgroundColor", "@btn-success-bg")
#mapping("highlightColor", "@nav-link-hover-bg")
#mapping("notificationSuccessColor", "@brand-success")
#mapping("notificationInfoColor", "@brand-info")
#mapping("notificationWarningColor", "@brand-warning")
#mapping("notificationErrorColor", "@brand-danger")