//
// Edit
// --------------------------------------------------

.sticky-buttons {
  background-color: @xwiki-page-content-bg;
  .buttons {
    margin: 0;
    padding: 1em;
  }

  &.sticky-buttons-fixed {
    z-index: 100;
    position: fixed;
    bottom: 0;
    background-color: @breadcrumb-bg;
    @media (max-width: @screen-md-min) {
      #commentinput, #autosaveControl, .metamodifs {
        display: none;
      }
    }
  }

  input {
    vertical-align: middle;
    position: relative;
    margin: 0;
    bottom: 1px;
  }
}

.bottom-editor {
  .sticky-buttons {
    border: 1px solid @input-border;
    border-top: 0;
    background-color: @xwiki-background-secondary-color;
    &.sticky-buttons-fixed {
      border-top: 1px solid @input-border;
    }
  }
}

#editcolumn, #inline {
  :not(.sticky-buttons).bottombuttons {
    .buttons {
      margin: 10px 0;
    }
  }
  .edit-meta-tools {
    .pull-right();
    margin: @breadcrumb-padding-vertical @breadcrumb-padding-horizontal 0 0;
    
    a {
      display: block;
      width: 16px;
      height: 16px;
      overflow: hidden;
      text-indent: -9999px;
      background: none no-repeat scroll left top transparent;
      margin-left: 4px;
    }
    
    a.edit-parent {
      background-image: url(@xwiki-icon-parent-edit);
    }
    
    a.hide-edit-parent {
      background-image: url(@xwiki-silk-icon-chart-organization);
    }
  }
}

#mainEditArea #parentinput, #mainContentArea #parentinput {
  display: none;
}

#mainEditArea #parentinput.active, #mainContentArea #parentinput.active {
  display: block;
}

#editMeta input {
  width: 100%;
}

textarea#content {
  width: 100%;
}
