//
// Layout
// --------------------------------------------------
#xwikimaincontainer {
  .container-fluid();
}

#menuview, #headerglobal, #contentcontainer, #xwikieditor, #footerglobal {
  .make-row();
}

@main-padding: @grid-gutter-width * 2;

#body {
  // Both left and right panels are displayed
  &.content {
    // Left panels are small
    &.panel-left-width-Small {
      .main {
        .make-md-column-push(1);
      }
      // Left panels are small and right panels are small
      &.panel-right-width-Small {
        .main {
          .make-md-column(10, @main-padding);
        }
        #leftPanels {
          .make-md-column-pull(10);
        }
      }
      // Left panels are small and right panels are medium
      &.panel-right-width-Medium {
        .main {
          .make-md-column(9, @main-padding);
        }
        #leftPanels {
          .make-md-column-pull(9);
        }
      }
      // Left panels are small and right panels are large
      &.panel-right-width-Large {
        .main {
          .make-md-column(8, @main-padding);
        }
        #leftPanels {
          .make-md-column-pull(8);
        }
      }
    }
    // Left panels are medium
    &.panel-left-width-Medium {
      .main {
        .make-md-column-push(2);
      }
      // Left panels are medium and right panels are small
      &.panel-right-width-Small {
        .main {
          .make-md-column(9, @main-padding);
        }
        #leftPanels {
          .make-md-column-pull(9);
        }
      }
      // Left panels are medium and right panels are medium
      &.panel-right-width-Medium {
        .main {
          .make-md-column(8, @main-padding);
        }
        #leftPanels {
          .make-md-column-pull(8);
        }
      }
      // Left panels are medium and right panels are large
      &.panel-right-width-Large {
        .main {
          .make-md-column(7, @main-padding);
        }
        #leftPanels {
          .make-md-column-pull(7);
        }
      }
    }
    // Left panels are large
    &.panel-left-width-Large {
      .main {
        .make-md-column-push(3);
      }
      // Left panels are large and right panels are small
      &.panel-right-width-Small {
        .main {
          .make-md-column(8, @main-padding);
        }
        #leftPanels {
          .make-md-column-pull(8);
        }
      }
      // Left panels are large and right panels are medium
      &.panel-right-width-Medium {
        .main {
          .make-md-column(7, @main-padding);
        }
        #leftPanels {
          .make-md-column-pull(7);
        }
      }
      // Left panels are large and right panels are large
      &.panel-right-width-Large {
        .main {
          .make-md-column(6, @main-padding);
        }
        #leftPanels {
          .make-md-column-pull(6);
        }
      }
    }
  }

  // Only right panels
  &.hideleft {
    &.panel-right-width-Small {
      .main {
        .make-md-column(11, @main-padding);
      }
    }
    &.panel-right-width-Medium {
      .main {
        .make-md-column(10, @main-padding);
      }
    }
    &.panel-right-width-Large {
      .main {
        .make-md-column(9, @main-padding);
      }
    }
  }

  // Only left panels
  &.hideright {
    &.panel-left-width-Small {
      .main {
        .make-md-column(11, @main-padding);
        .make-md-column-push(1);
      }
      #leftPanels {
        .make-md-column-pull(11);
      }
    }
    &.panel-left-width-Medium {
      .main {
        .make-md-column(10, @main-padding);
        .make-md-column-push(2);
      }
      #leftPanels {
        .make-md-column-pull(10);
      }
    }
    &.panel-left-width-Large {
      .main {
        .make-md-column(9, @main-padding);
        .make-md-column-push(3);
      }
      #leftPanels {
        .make-md-column-pull(9);
      }
    }
  }

  // No Panels
  &.hidelefthideright {
    .main {
      .make-md-column(12, @main-padding);
    }
  }

  &.panel-left-width-Small {
    #leftPanels {
      .make-md-column(1);
    }
  }
  &.panel-left-width-Medium {
    #leftPanels {
      .make-md-column(2);
    }
  }
  &.panel-left-width-Large {
    #leftPanels {
      .make-md-column(3);
    }
  }
  &.panel-right-width-Small {
    #rightPanels, #editPanels {
      .make-md-column(1);
    }
  }
  &.panel-right-width-Medium {
    #rightPanels, #editPanels {
      .make-md-column(2);
    }
  }
  &.panel-right-width-Large {
    #rightPanels, #editPanels {
      .make-md-column(3);
    }
  }
}

#leftPanels, #rightPanels {
  .make-xs-column(12);
}

.rightmenu {
  display: inline;
}

// Layout Styling =============================================================

#headerglobal {
  background: @xwiki-page-header-bg-color @xwiki-page-header-bg-image @xwiki-page-header-bg-position;
}

.main {
  background-color: @body-bg;
}

#body.main { // Rule for WYSIWYG frame body.main
  background-color: @xwiki-page-content-bg;
}

#contentcolumn .main {
  padding-top: 0;
  padding-bottom: 0;
}

#xwikieditor .main {
  background-color: @xwiki-page-content-bg;
}

#xwikieditcontent .main {
  background-color: @xwiki-page-content-bg;
}

#xwikieditcontent #content {
  vertical-align: bottom;
  border-radius: 0;
  border-color: @input-border;
  resize: vertical;
}

.main,
#leftPanels, #rightPanels, #editPanels,
#docextrapanes {
  padding-top: (@grid-gutter-width / 2);
  padding-bottom: (@grid-gutter-width / 2);
}

#xwikicontent {
  overflow: auto;
}

.document-header {
  margin-top: -@line-height-computed;
  margin-bottom: @line-height-computed;
  #document-title h1 {
    word-wrap: break-word;
  }
  #document-title-input {
    // Override the fixed height as the content is a large heading that would otherwise overflow.
    height: auto;
  }
  .document-menu, .document-info {
    margin-top: @line-height-computed;
  }
}

#xdocAuthors {
  /* Leave some space above and below in the case the footer wraps on multiple lines. */
  padding: 3px 0;
}

#footerglobal {
  background-color: @navbar-default-bg;
  color: @navbar-default-brand-color;
  padding: @padding-large-vertical @padding-large-horizontal;
  .text-smaller;
  text-align: center;
  position: relative;
  z-index: 2;

  a {
    color: @navbar-default-link-color;
    &:hover {
      color: @navbar-default-link-hover-color;
    }
  }
}

#hierarchy_breadcrumb,
#mainContentArea,
#xdocFooter,
#docextrapanes {
  background-color: @xwiki-page-content-bg;
  margin: 0 -@grid-gutter-width;
  padding: @line-height-computed @grid-gutter-width;
}

#hierarchy_breadcrumb {
  padding-bottom: 0;

  .breadcrumb {
    margin-bottom: 0;
  }
}

/* Protect against nesting of the breadcrumb inside #mainContentArea, e.g., in AdminSheet and other containers that
already take care of padding and shadow. */
#mainContentArea #hierarchy_breadcrumb, #xwikieditor #hierarchy_breadcrumb {
  padding-bottom: @line-height-computed;
  /* Padding and shadow is already in the #mainContentArea element */
  padding-top: 0;
  box-shadow: none;
}

#docextrapanes {
  border: 1px solid @xwiki-border-color;
  border-top-left-radius: @border-radius-base;
  border-top-right-radius: @border-radius-base;
  margin-top: -1px;
  /* Makes the bottom border hidden below the footer on pages with a long content (longer than the viewport height). */
  margin-bottom: -1px;
}

#xdocFooter {
  border-bottom-left-radius: @border-radius-base;
  border-bottom-right-radius: @border-radius-base;
  display: flex;
  /* Display the footer items one below the other on small screens. */
  flex-wrap: wrap;
  margin-bottom: floor((@grid-gutter-width / 2));
  padding-top: 0;
}

// Tabbar =====================================================================

.xwikitabbar { // Used by: AllDocs, DocExtra
  .nav;
  .nav-tabs;
  margin: 0;

  > li.active > a:focus {
    border-top-color: @xwiki-border-color;
    border-left-color: @xwiki-border-color;
    border-right-color: @xwiki-border-color;
  }
}

#docExtrasTabsUl {
  margin-left: -(floor((@grid-gutter-width / 2)));
}

.xwikitabbar > li.active > a {
  border-top-color: fade((@xwiki-border-color), 80%);
  border-left-color: fade((@xwiki-border-color), 80%);
  border-right-color: fade((@xwiki-border-color), 80%);
}

.skip-nav {
  a {
    position: absolute;
    top: -20em;
    z-index: 10;
    &:focus, &:active {
      top: 0;
    }
  }
}
