//
// Panels
// --------------------------------------------------

.panel {
  color: @panel-default-text;
  box-shadow: none;
}

h1.xwikipaneltitle, h2.xwikipaneltitle {
  .panel-title;
  margin: @padding-small-vertical @padding-large-horizontal @padding-large-vertical;
  padding: 0 0 @padding-large-vertical;
  color: @panel-header-text;
  border-bottom: @border-width solid @xwiki-page-content-bg;
  box-shadow: 0 @border-width 0 @xwiki-border-color;
  overflow: hidden;
  text-overflow: ellipsis;
}

.xwikipanelcontents {
  padding: 0 @padding-large-horizontal @padding-base-vertical;
  overflow: hidden;
}

// Lists inside panels ====================================================

.panel {
  ul {
    list-style-type: none;
    padding: 0;
    ul {
      padding: 0 1em;
    }
  }
  dl {
    margin-bottom: 0;
  }
}

// Panels inside the page =================================================
.main {
  .panel-body {
    background-color: @xwiki-page-content-bg;
    // Without this radius, the panel background can be displayed over the parent border, when the parent has a rounded
    // corner.
    border-radius: inherit;
  }
}

// Panels with a collapse body (ex: delete page) ==========================
a.panel-collapse-carret {
  color: @text-color;
  padding: @panel-heading-padding;
}

// Radio buttons displayed for a panel
.panel-radio {
  float: left;
  padding: 15px
}

// Navigation panel rules ==========================

// .panels and .Navigation parents to isolate the rules
.panels { 
  .PanelsNavigation {
    .jstree {
      ul.jstree-children {
        width: 100%;
      }

      &.jstree-xwiki {
        // Allows text wrapping in containers and resets native nowrap 
        ul.jstree-children,
        .jstree-node {
          white-space: normal;
        }

        .jstree-node {
          display: flex;
          gap: 4px;
          // Allows sub-lists (ul) to drop down to the next line 
          flex-flow: row wrap; 
          align-items: flex-start;

          i.jstree-ocl {
            padding: 2px;
            // Prevents the expand/collapse button from shrinking
            flex-shrink: 0;
          }

          a {
            // Makes the link flex to align inner icon + text
            display: flex;
            // Aligns the file icon with the 1st line of text
            align-items: flex-start;
            // Takes up all remaining space on the line
            flex: 1;
            width: 100%;
            // Allows the link to grow vertically if text wraps
            height: auto;
            min-height: 24px;
            padding: 2px 4px;
            // Prevents long words from overflowing the layout
            word-break: break-word; 

            &.jstree-clicked {
              text-shadow: 0 0 0.5px currentColor, 0 0 0.5px currentColor;
            }
          }

          // Ensures sub-lists (ul) occupy a full line below the parent node
          > ul.jstree-children {
            flex: 0 0 100%;
          }
        }
      }
    }
  }
}