//
// Typography
// --------------------------------------------------

// Local Mixins ===========================================================

.text-smaller {
  font-size: floor(@font-size-base * 0.9);
}

.text-muted-smaller {
  .text-muted;
  .text-smaller;
}

// Headings ===============================================================

#document-title h1 {
  font-size: @font-size-document-title;
  margin-top: 0;
}

h1.xwikipaneltitle, h2.xwikipaneltitle {
  // Panels headings are the same size as the content's h4 headings.
  font-size: @font-size-h4;
}

// Muted Usage ============================================================

.separator, .itemCount {
  .text-muted;
}

.noitems {
  .text-muted-smaller;
}

#hierarchy, 
#xdocAuthors,
.xdocLastModification,
#xdocFooter,
#historyform td, #changes-info {
  .text-muted-smaller;
}

ul.xlist li.create a {
  .text-muted;
}

// Verbatim ===============================================================

tt.wikimodel-verbatim, span.wikimodel-verbatim {
  font-family: sans-serif;
  white-space: pre-wrap;
}

// Description Lists ======================================================

dl dd dl {
  margin-left: @grid-gutter-width;
  margin-bottom: 0;
}
