## ---------------------------------------------------------------------------
## See the NOTICE file distributed with this work for additional
## information regarding copyright ownership.
##
## This is free software; you can redistribute it and/or modify it
## under the terms of the GNU Lesser General Public License as
## published by the Free Software Foundation; either version 2.1 of
## the License, or (at your option) any later version.
##
## This software is distributed in the hope that it will be useful,
## but WITHOUT ANY WARRANTY; without even the implied warranty of
## MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the GNU
## Lesser General Public License for more details.
##
## You should have received a copy of the GNU Lesser General Public
## License along with this software; if not, write to the Free
## Software Foundation, Inc., 51 Franklin St, Fifth Floor, Boston, MA
## 02110-1301 USA, or see the FSF site: http://www.fsf.org.
## ---------------------------------------------------------------------------
################################################
##
## LESS variables initialized by Velocity
##
################################################

##############################################
##
## 1/ Initialize variables from (color) theme
##
##############################################
#set($doNotLoadColorThemeFromCSS = true)
#template('colorThemeInit.vm')
## Reset $doNotLoadColorThemeFromCSS for future calls (in SSX for examples)
#set($doNotLoadColorThemeFromCSS = false)
#if ("$!themeObj" != '')
  #initFromOldColorTheme()
#else
  #set($themeObj = $themeDoc.getObject('FlamingoThemesCode.ThemeClass'))
  #if ("$!themeObj" != '')
    #initFromFlamingoTheme()
  #else
    #initDefaultXWikiVariables()
  #end
#end

##############################################
##
## Initialize variables from an old color theme
## (ColorTheme.ColorThemeClass)
##
##############################################
#macro(initFromOldColorTheme)
  // Colors from the old color theme class
  ##
  ## Bootstrap: Mapping between XWiki Color Theme and Bootstrap variables
  ##
  @text-color:                          $theme.textColor;
  @link-color:                          $theme.linkColor;
  @headings-color:                      $theme.titleColor;
  @body-bg:                             $theme.pageBackgroundColor;
  @nav-tabs-border-color:               $theme.borderColor;
  @nav-tabs-active-link-hover-border-color: $theme.borderColor;
  @pagination-border:                   $theme.borderColor;
  @pagination-hover-border:             $theme.borderColor;
  @pagination-disabled-border:          $theme.borderColor;
  @list-group-border:                   $theme.borderColor;
  @thumbnail-border:                    $theme.borderColor;
  @input-border:                        $theme.borderColor;

  @navbar-default-toggle-border-color:  $theme.borderColor;
  @navbar-default-bg:                   $theme.menuBackgroundColor;
  @navbar-default-link-color:           $theme.menuLinkColor;
  @navbar-default-link-disabled-color:  $theme.menuContentLinkColor;
  @navbar-default-link-active-bg:       lighten($theme.menuBackgroundColor, 3%);
  @navbar-default-link-active-color:    $theme.menuLinkColor;
  @navbar-default-link-hover-bg:        lighten($theme.menuBackgroundColor, 3%);
  @navbar-default-link-hover-color:     $theme.menuLinkColor;
  @dropdown-bg:                         $theme.pageContentBackgroundColor;
  @dropdown-link-color:                 $theme.textColor;
  @dropdown-link-hover-bg:              $theme.submenuContentBackgroundColor;
  @dropdown-link-hover-color:           $theme.textColor;

  @btn-primary-color:                   $theme.buttonPrimaryTextColor;
  @btn-primary-bg:                      $theme.buttonPrimaryBackgroundColor;
  @btn-default-color:                   $theme.buttonSecondaryTextColor;
  @btn-default-bg:                      $theme.buttonSecondaryBackgroundColor;
  @btn-success-color:                   $theme.menuAddEntryLinkColor;
  @btn-success-bg:                      $theme.menuAddEntryBackgroundColor;

  @nav-tabs-active-link-hover-bg:       $theme.pageContentBackgroundColor;

  @nav-link-hover-bg:                   $theme.highlightColor;
  @brand-primary:                       $theme.buttonPrimaryBackgroundColor;
  @brand-success:                       $theme.notificationSuccessColor;
  @brand-info:                          $theme.notificationInfoColor;
  @brand-warning:                       $theme.notificationWarningColor;
  @brand-danger:                        $theme.notificationErrorColor;

  @panel-bg:                            $theme.panelBackgroundColor;
  @panel-default-text:                  $theme.panelTextColor;
  @panel-header-bg:                     $theme.panelHeaderBackgroundColor;
  @panel-header-text:                   $theme.panelHeaderTextColor;
  ## Kept for backward compatibility
  @xwiki-panel-header-bg:               $theme.panelHeaderBackgroundColor;
  @xwiki-panel-header-text:             $theme.panelHeaderTextColor;

  ##
  ## XWiki variables: LESS variables specific to XWiki
  ##
  @xwiki-border-color:                  $theme.borderColor;
  @xwiki-page-content-bg:               $theme.pageContentBackgroundColor;
  @xwiki-background-secondary-color:    $theme.backgroundSecondaryColor;
  @xwiki-page-header-bg-color:          $theme.pageHeaderBackgroundColor;
  @xwiki-page-header-bg-image:          $stringtool.defaultString($theme.headerBackgroundImage, '""');
  @xwiki-page-header-bg-position:       $stringtool.defaultString($theme.headerBackgroundPosition, '""');
#end

##############################################
##
## Initialize variables from an old color theme
## (FlamingoThemesCode.ThemeClass)
##
## This macro is designed to be called twice (see style.less.vm).
## The first time, it creates a bunch of variables from default values & the flamingo theme object.
## The second time, it is called after the @lessCode variable is injected into the LESS code.
## We do that because it's the way it works on the FlamingoThemeEditor live preview: updating the LESS variables 
## *after* the custom @lessCode is injected, and there is no way to make it different.
## So, by calling the macro the second time, we overwrite the values that could be defined in @lessCode, and
## we are consistent with the live preview (no bad surprise !)
##
##############################################
#macro(initFromFlamingoTheme)
  // Colors from the new flamingo theme class
  ## Init the XWiki variables
  #if (!$xwikiLessVarsInitialized)
    ## These are the variables that can only be overwritten by the @lessCode variable.
    ## For them, we should not overwrite what @lessCode did
    #set ($xwikiLessVarsInitialized = true)
    #initDefaultXWikiVariables()
  #end
  ## Now set the variables with the values of the Flamingo object
  #if ("$!themeObj" != '')
    ## variables of the class
    #set($variables = {
      "text-color": "color",
      "body-bg": "color",
      "xwiki-page-content-bg" : "color",
      "font-family-base": "text",
      "link-color": "color",
      "brand-primary": "color",
      "brand-success": "color",
      "brand-info": "color",
      "brand-warning": "color",
      "brand-danger": "color",
      "headings-color": "color",
      "component-active-color" : "color",
      "component-active-bg" : "color",
      "font-family-base": "text",
      "font-family-sans-serif": "text",
      "font-family-serif": "text",
      "font-family-monospace": "font",
      "font-size-base" : "size",
      "btn-font-weight" : "size",
      "btn-default-color" : "color",
      "btn-default-bg" : "color",
      "btn-primary-color" : "color",
      "btn-primary-bg" : "color",
      "btn-success-color" : "color",
      "btn-success-bg" : "color",
      "btn-info-color" : "color",
      "btn-info-bg" : "color",
      "btn-warning-color" : "color",
      "btn-warning-bg" : "color",
      "btn-danger-color" : "color",
      "btn-danger-bg" : "color",
      "btn-default-border" : "color",
      "navbar-default-color" : "color",
      "navbar-default-bg" : "color",
      "navbar-default-link-color" : "color",
      "navbar-default-link-hover-color" : "color",
      "navbar-default-link-hover-bg" : "color",
      "navbar-default-link-active-color" : "color",
      "navbar-default-link-active-bg": "color",
      "navbar-height" : "size",
      "dropdown-bg" : "color",
      "dropdown-border" : "color",
      "dropdown-link-color" : "color",
      "dropdown-link-hover-color" : "color",
      "dropdown-link-hover-bg" : "color",
      "dropdown-divider-bg" : "color",
      "input-bg" : "color",
      "input-border" : "color",
      "input-color" : "color",
      "input-border-focus" : "color",
      "input-color-placeholder" : "color",
      "legend-color" : "color",
      "legend-border-color": "color",
      "panel-bg" : "color",
      "panel-default-text" : "color",
      "panel-header-text" : "color",
      "breadcrumb-bg": "color",
      "breadcrumb-color": "color",
      "breadcrumb-link-color": "color",
      "breadcrumb-separator": "escapedText",
      "table-bg": "color",
      "table-bg-hover": "color",
      "table-border-color": "color"
      })
    #set($themeClass = $xwiki.getClass('FlamingoThemesCode.ThemeClass'))
    #foreach($property in $variables.keySet())
      #set($value = $themeDoc.getValue($property, $themeObj))
      #if("$!value" != '')
        #set($propertyType = $variables.get($property))
        #if($propertyType == 'escapedText')
          @$property: "$escapetool.javascript($value)";
        #else
          @$property: $value;
        #end
      #end
    #end
  #end
#end

##############################################
##
## Initialize XWiki variables when no color theme is used
##
##############################################
#macro(initDefaultXWikiVariables)
  ## currently, it comes from the old color theme object (see colorThemeInit.vm)
  // Default
  @xwiki-border-color:                  $theme.borderColor;
  @panel-header-bg:                     $theme.panelHeaderBackgroundColor;
  @panel-header-text:                   $theme.panelHeaderTextColor;
  @xwiki-page-content-bg:               $theme.pageContentBackgroundColor;
  @xwiki-background-secondary-color:    $theme.backgroundSecondaryColor;
  @xwiki-page-header-bg-color:          $theme.pageHeaderBackgroundColor;
  @xwiki-page-header-bg-image:          $stringtool.defaultString($theme.headerBackgroundImage, '""');
  @xwiki-page-header-bg-position:       $stringtool.defaultString($theme.headerBackgroundPosition, '""');
  ## Kept for backward compatibility
  @xwiki-panel-header-bg:               $theme.panelHeaderBackgroundColor;
  @xwiki-panel-header-text:             $theme.panelHeaderTextColor;

  ## Some values are changed from the bootstrap default in order to make sure there's no accessibility contrast issue
  ## Make sure the links are dark enough in the tmDrawer
  @navbar-default-link-color:           #727272;
  @navbar-default-color:                #727272;
  ## Make sure the placeholder are not too light (the default from bootstrap is #999, which does not have enough contrast with a white bg)
  @input-color-placeholder:             #727272;
  ## Make sure the breadcrumb links are dark enough
  @breadcrumb-active-color:             #707070;
  @breadcrumb-color:                    #707070;
  ## Make sure that all text-muted based components have sufficient contrast on white
  @text-muted:                          @gray;
  ## Make the links a bit darker than the default from bootstrap. Default #337ab7 has sufficient contrast on white
  ## but this updated value allows light grey background to keep enough contrast.
  @brand-primary:                       #2f70a7;
  ## Make regular text darker so that the contrast with links is high enough to differentiate them easily.
  @text-color:                          #222222;
  ## Make sure button white text has enough contrast on the whole gradient
  @btn-primary-bg:                      #386da7;
  ## Make sure all kinds of buttons have proper contrast
  @btn-danger-bg:                       #ca302c;
  @brand-success:                       #077537;
  ## For the warning buttons, since the saturation is very high, we'd need to make the background way darker, going
  ## from an orangish yellow to complete brown. Instead, we change the text color to black.
  @btn-warning-color:                   #000;
  ## The boxes should have enough contrast by default, we make it lighter than bootstrap.
  ## @alert-warning-bg default value from bootstrap does not pose contrast issues, so we don't override it.
  @alert-danger-bg:                     #f8ecec;
  @alert-success-bg:                    #e5f3df;
  @alert-info-bg:                       #e1f1f9;
  ## We override the @brand-danger value from bootstrap as it does not pass contrast checks on #fff
  @brand-danger:                        #cc3333;
#end

##############################################
##
## 2/ Initialize other variables (image paths, etc...)
##
##############################################

## Fix font path
@icon-font-path:                      "$services.webjars.url('bootstrap', 'fonts')/";

##
## XWiki variables: LESS variables specific to XWiki
##
@xwiki-accordion-title-bar-background:"$xwiki.getSkinFile('icons/xwiki/accordion.png')";

## Some Silk icons
@xwiki-silk-icon-folder:              "$xwiki.getSkinFile('icons/silk/folder.png')";
@xwiki-silk-icon-page-white-text:     "$xwiki.getSkinFile('icons/silk/page_white_text.png')";
@xwiki-silk-icon-comment:             "$xwiki.getSkinFile('icons/silk/comment.png')";
@xwiki-silk-icon-attachment:          "$xwiki.getSkinFile('icons/silk/attach.png')";
@xwiki-silk-icon-bullet-add:          "$xwiki.getSkinFile('icons/silk/bullet_add.png')";
@xwiki-silk-icon-chart-organization:  "$xwiki.getSkinFile('icons/silk/chart_organisation.png')";

## Some XWiki icons
@xwiki-icon-parent-edit:              "$xwiki.getSkinFile('icons/xwiki/parent_edit.gif')";
@xwiki-icon-edit-section:             "\f040";
@xwiki-icon-spinner:                  "$xwiki.getSkinFile('icons/xwiki/spinner.gif')";
@xwiki-icon-spinner-height:           16px;
@xwiki-icon-link-external:            "$xwiki.getSkinFile('icons/xwiki/external-link.png')";
